Repository esphome/esphome, pull requests merged in 2020-10, with the labels that each got.

#1247 Support Daikin horizontal swing in climate_ir
  esphome/components/daikin/daikin.cpp
  esphome/components/daikin/daikin.h
Labels: integration: daikin

#1310 Table row wasn't closed
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server, small-pr

#1311 Typo in the pm2.5 grid
  esphome/components/hm3301/aqi_calculator.cpp
Labels: bugfix, integration: hm3301, small-pr

#1250 Float output: Fix min_power and max_power adjusting when output is inverted
  esphome/components/output/float_output.cpp
Labels: breaking-change, core, integration: output, small-pr

#1255 Add new time.has_time condition
  esphome/components/time/__init__.py
  esphome/components/time/real_time_clock.h
  tests/test3.yaml
Labels: has-tests, integration: time, small-pr

#1321 fix chip_rotation: 180
  esphome/components/max7219digit/max7219digit.cpp
Labels: bugfix, integration: max7219digit, small-pr

#1308 Fix Light Trigger
  esphome/components/light/automation.h
  esphome/components/light/light_state.cpp
  esphome/components/light/light_state.h
Labels: Hacktoberfest, bugfix, core, integration: light, small-pr

#1307 handle windows filenames
  esphome/platformio_api.py
Labels: Hacktoberfest, core, small-pr

#1293 Fix Xiaomi merged packet parsing
  esphome/components/xiaomi_ble/xiaomi_ble.cpp
  esphome/components/xiaomi_ble/xiaomi_ble.h
Labels: integration: xiaomi_ble

#1325 Fix color_interlock behavior
  esphome/components/light/light_state.cpp
Labels: Hacktoberfest, core, integration: light, small-pr

#1309 Fix scheduler with too many cancelled timers
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Labels: Hacktoberfest, bugfix, core, small-pr

#1304 fix config check in OnlyWith configuration helper
  esphome/config_validation.py
Labels: core, integration: mqtt, small-pr

#1322 fix: Incorrect time delay conversion breaks remote_transmitter_esp8266.cpp
  esphome/core/helpers.cpp
Labels: Hacktoberfest, bugfix, core, small-pr

#1331 fix hm3301 AQICalculator is off by 1
  esphome/components/hm3301/aqi_calculator.cpp
Labels: Hacktoberfest, integration: hm3301, small-pr

#1333 1.15.3
  esphome/components/hm3301/aqi_calculator.cpp
  esphome/components/light/automation.h
  esphome/components/light/light_state.cpp
  esphome/components/light/light_state.h
  esphome/components/max7219digit/max7219digit.cpp
  esphome/components/xiaomi_ble/xiaomi_ble.cpp
  esphome/components/xiaomi_ble/xiaomi_ble.h
  esphome/config_validation.py
  esphome/const.py
  esphome/core/helpers.cpp
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Labels: merging-to-master

#1334 Add LYWSD02 battery sensor
  esphome/components/xiaomi_lywsd02/sensor.py
  esphome/components/xiaomi_lywsd02/xiaomi_lywsd02.cpp
  esphome/components/xiaomi_lywsd02/xiaomi_lywsd02.h
  tests/test2.yaml
Labels: Hacktoberfest, has-tests, integration: xiaomi_lywsd02, small-pr

#929 Added tmp102 temperature sensor support
  esphome/components/tmp102/__init__.py
  esphome/components/tmp102/sensor.py
  esphome/components/tmp102/tmp102.cpp
  esphome/components/tmp102/tmp102.h
  tests/test3.yaml
Labels: has-tests, integration: tmp102, new-integration

#1169 Add MCP9808 temperature sensor
  esphome/components/mcp9808/__init__.py
  esphome/components/mcp9808/mcp9808.cpp
  esphome/components/mcp9808/mcp9808.h
  esphome/components/mcp9808/sensor.py
  tests/test1.yaml
Labels: has-tests, integration: mcp9808, new-integration

#1298 Add rc522
  CODEOWNERS
  esphome/components/rc522_spi/__init__.py
  esphome/components/rc522_spi/binary_sensor.py
  esphome/components/rc522_spi/rc522_spi.cpp
  esphome/components/rc522_spi/rc522_spi.h
  script/build_codeowners.py
  tests/test1.yaml
Labels: core, has-tests, integration: rc522_spi, new-integration

#1335 Add new codeowners
  CODEOWNERS
  esphome/components/mcp9808/sensor.py
  esphome/components/tmp102/sensor.py
Labels: Hacktoberfest, integration: mcp9808, integration: tmp102, small-pr

#1302 Pn532 upgrades
  CODEOWNERS
  esphome/components/pn532/__init__.py
  esphome/components/pn532/binary_sensor.py
  esphome/components/pn532/pn532.cpp
  esphome/components/pn532/pn532.h
  esphome/components/pn532_i2c/__init__.py
  esphome/components/pn532_i2c/pn532_i2c.cpp
  esphome/components/pn532_i2c/pn532_i2c.h
  esphome/components/pn532_spi/__init__.py
  esphome/components/pn532_spi/pn532_spi.cpp
  esphome/components/pn532_spi/pn532_spi.h
  tests/test1.yaml
Labels: breaking-change, has-tests, integration: pn532, integration: pn532_i2c, integration: pn532_spi, new-integration

#1340 Fixed CLIMATE_SWING_HORIZONTAL typo
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
Labels: Hacktoberfest, core, integration: api, small-pr
