Repository esphome/esphome, pull requests merged in 2020-12, with the labels that each got.

#1393 Configurable OTA Safe Mode
  esphome/components/ota/__init__.py
  esphome/components/ota/ota_component.h
  tests/test1.yaml
  tests/test2.yaml
  tests/test3.yaml
Labels: core, has-tests, integration: ota, small-pr

#1396 Add option to suppress embedded MCU updates on certain datapoints
  esphome/components/tuya/__init__.py
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
Labels: integration: tuya, small-pr

#1383 fix HTTP Request reusing connections with different hosts
  esphome/components/http_request/http_request.cpp
  esphome/components/http_request/http_request.h
Labels: integration: http_request, small-pr

#1068 MCP23SXX I/O Expander - SPI
  CODEOWNERS
  esphome/components/mcp23s08/__init__.py
  esphome/components/mcp23s08/mcp23s08.cpp
  esphome/components/mcp23s08/mcp23s08.h
  esphome/components/mcp23s17/__init__.py
  esphome/components/mcp23s17/mcp23s17.cpp
  esphome/components/mcp23s17/mcp23s17.h
  esphome/components/spi/spi.h
  tests/test1.yaml
Labels: core, has-tests, integration: mcp23S08, integration: mcp23S17, integration: spi, new-integration

#1408 Fix Tuya initialisation regression
  esphome/components/tuya/tuya.cpp
Labels: integration: tuya, small-pr

#1361 Run task for VS Code
  .gitignore
  .vscode/tasks.json
Labels: small-pr

#1378 Add GIF Animation Support
  CODEOWNERS
  esphome/components/animation/__init__.py
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
Labels: core, integration: animation, integration: display, new-integration

#1389 Fix mDNS webserver port and expose prometheus service
  esphome/components/prometheus/__init__.py
  esphome/components/web_server/__init__.py
  esphome/core/util.cpp
Labels: core, integration: prometheus, integration: web_server, small-pr

#1384 Canbus + MCP2515 including ExtID support
  CODEOWNERS
  esphome/components/canbus/__init__.py
  esphome/components/canbus/canbus.cpp
  esphome/components/canbus/canbus.h
  esphome/components/mcp2515/__init__.py
  esphome/components/mcp2515/canbus.py
  esphome/components/mcp2515/mcp2515.cpp
  esphome/components/mcp2515/mcp2515.h
  esphome/components/mcp2515/mcp2515_defs.h
  tests/test1.yaml
Labels: has-tests, integration: canbus, integration: mcp2515, new-integration

#1425 Add "ESPHOME_NOGITIGNORE" env var to prevent .gitignore creation
  esphome/const.py
  esphome/wizard.py
  esphome/writer.py
Labels: core, small-pr

#1406 Add full SSD1327 display support
  CODEOWNERS
  esphome/components/ssd1327_base/__init__.py
  esphome/components/ssd1327_base/ssd1327_base.cpp
  esphome/components/ssd1327_base/ssd1327_base.h
  esphome/components/ssd1327_i2c/__init__.py
  esphome/components/ssd1327_i2c/display.py
  esphome/components/ssd1327_i2c/ssd1327_i2c.cpp
  esphome/components/ssd1327_i2c/ssd1327_i2c.h
  esphome/components/ssd1327_spi/__init__.py
  esphome/components/ssd1327_spi/display.py
  esphome/components/ssd1327_spi/ssd1327_spi.cpp
  esphome/components/ssd1327_spi/ssd1327_spi.h
  tests/test1.yaml
Labels: has-tests, integration: ssd1327_base, integration: ssd1327_i2c, integration: ssd1327_spi, new-integration

#1405 SSD1322 display support
  CODEOWNERS
  esphome/components/ssd1322_base/__init__.py
  esphome/components/ssd1322_base/ssd1322_base.cpp
  esphome/components/ssd1322_base/ssd1322_base.h
  esphome/components/ssd1322_spi/__init__.py
  esphome/components/ssd1322_spi/display.py
  esphome/components/ssd1322_spi/ssd1322_spi.cpp
  esphome/components/ssd1322_spi/ssd1322_spi.h
  tests/test1.yaml
Labels: has-tests, integration: ssd1322_base, integration: ssd1322_spi, new-integration

#1437 Expose port 6052 to make reverse proxy work
  docker/Dockerfile
Labels: small-pr

#1426 rc_switch: Fix Sync signal sent after the code
  esphome/components/remote_base/rc_switch_protocol.cpp
Labels: integration: remote_base, small-pr
