Repository esphome/esphome, pull requests merged in 2020-08, with the labels that each got.

#1238 Script mode fix
  esphome/components/script/__init__.py
  esphome/components/script/script.cpp
  tests/test2.yaml
Labels: bugfix, core, has-tests, integration: script, small-pr

#1240 make powered on assume public
  esphome/components/whirlpool/whirlpool.cpp
  esphome/components/whirlpool/whirlpool.h
Labels: by-code-owner, integration: whirlpool, small-pr

#1235 Clean up ALLOWED_CHARS
  esphome/config_validation.py
  esphome/wizard.py
Labels: core, small-pr

#1245 Bump docker base image to 2.6.0
  .github/workflows/ci-docker.yml
  .github/workflows/release-dev.yml
  .github/workflows/release.yml
  docker/Dockerfile
  docker/Dockerfile.dev
  docker/Dockerfile.lint
  esphome/const.py
  esphome/core_config.py
  script/bump-docker-base-version.py
Labels: core

#1241 Image bit dephts
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  esphome/components/image/__init__.py
Labels: code-quality, core, integration: display, integration: image

#1248 fixes deg symbol not shown
  esphome/components/tm1637/tm1637.cpp
Labels: by-code-owner, integration: tm1637, small-pr

#1090 Fix SSD1306 post-setup brightness control
  esphome/components/ssd1306_base/__init__.py
  esphome/components/ssd1306_base/ssd1306_base.cpp
  esphome/components/ssd1306_base/ssd1306_base.h
Labels: bugfix, integration: ssd1306_base

#1259 1.15.0b4
  .github/workflows/ci-docker.yml
  .github/workflows/release-dev.yml
  .github/workflows/release.yml
  docker/Dockerfile
  docker/Dockerfile.dev
  docker/Dockerfile.lint
  esphome/components/async_tcp/__init__.py
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  esphome/components/image/__init__.py
  esphome/components/script/__init__.py
  esphome/components/script/script.cpp
  esphome/components/ssd1306_base/__init__.py
  esphome/components/ssd1306_base/ssd1306_base.cpp
  esphome/components/ssd1306_base/ssd1306_base.h
  esphome/components/time/real_time_clock.cpp
  esphome/components/tm1637/tm1637.cpp
  esphome/components/tuya/tuya.cpp
  esphome/components/whirlpool/whirlpool.cpp
  esphome/components/whirlpool/whirlpool.h
  esphome/const.py
  esphome/core_config.py
  platformio.ini
  script/bump-docker-base-version.py
  tests/test2.yaml
Labels: merging-to-beta
