Repository esphome/esphome, pull requests merged in 2020-09, with the labels that each got.

#1266 fix sntp timezone
  esphome/components/sntp/sntp_component.cpp
Labels: integration: sntp, small-pr

#1267 Fix for Ruuvi voltage parsing of RAWv2 format
  esphome/components/ruuvi_ble/ruuvi_ble.cpp
Labels: integration: ruuvi_ble, small-pr

#1276 Adds support for Tuya Climate temperature multiplier
  esphome/components/tuya/climate/__init__.py
  esphome/components/tuya/climate/tuya_climate.cpp
  esphome/components/tuya/climate/tuya_climate.h
  tests/test4.yaml
Labels: has-tests, integration: tuya, small-pr

#1278 1.15.1
  esphome/components/ruuvi_ble/ruuvi_ble.cpp
  esphome/components/sntp/sntp_component.cpp
  esphome/components/tuya/climate/__init__.py
  esphome/components/tuya/climate/tuya_climate.cpp
  esphome/components/tuya/climate/tuya_climate.h
  esphome/const.py
  tests/test4.yaml
Labels: merging-to-master

#1281 Adds new homeassistant.tag_scanned action
  esphome/components/api/__init__.py
  tests/test2.yaml
Labels: core, has-tests, integration: api, small-pr

#1273 Update max31855.cpp
  esphome/components/max31855/max31855.cpp
Labels: integration: max31855, small-pr

#1288 Readds the battery level for xiaomi_hhccjcy01
  esphome/components/xiaomi_hhccjcy01/sensor.py
  esphome/components/xiaomi_hhccjcy01/xiaomi_hhccjcy01.cpp
  esphome/components/xiaomi_hhccjcy01/xiaomi_hhccjcy01.h
  tests/test2.yaml
Labels: has-tests, integration: xiaomi_hhccjcy01, small-pr

#1252 fix(remote_receiver): Add missing pin setup for ESP32
  esphome/components/remote_receiver/remote_receiver_esp32.cpp
Labels: integration: remote_receiver, small-pr

#1292 1.15.2
  esphome/components/api/__init__.py
  esphome/components/remote_receiver/remote_receiver_esp32.cpp
  esphome/components/xiaomi_hhccjcy01/sensor.py
  esphome/components/xiaomi_hhccjcy01/xiaomi_hhccjcy01.cpp
  esphome/components/xiaomi_hhccjcy01/xiaomi_hhccjcy01.h
  esphome/const.py
  tests/test2.yaml
Labels: merging-to-master

#1287 Add Fan and Swing Support to fujitsu-general Component
  esphome/components/fujitsu_general/fujitsu_general.cpp
Labels: integration: fujitsu_general

#1295 Replace CENTER_LEFT with TOP_LEFT to match other printf function
  esphome/components/display/display_buffer.cpp
Labels: breaking-change, core, integration: display, small-pr

#1234 Enable reverse display of the Max7219 digit
  esphome/components/max7219digit/display.py
  esphome/components/max7219digit/max7219digit.cpp
  esphome/components/max7219digit/max7219digit.h
Labels: integration: max7219digit, new-feature, small-pr

#1286 CI - Don't fast fail testing so results are not hidden in matrix builds
  .github/workflows/ci-docker.yml
  .github/workflows/ci.yml
  .github/workflows/release-dev.yml
  .github/workflows/release.yml
Labels: small-pr
