Repository esphome/esphome, pull requests merged in 2020-04, with the labels that each got.

#1008 fix servo bug restoring state and starting servo detached
  esphome/components/servo/servo.h
Labels: breaking-change

#963 Add HM3301 laser dust detection sensor
  esphome/components/hm3301/__init__.py
  esphome/components/hm3301/hm3301.cpp
  esphome/components/hm3301/hm3301.h
  esphome/components/hm3301/sensor.py
  platformio.ini
  tests/test1.yaml
  tests/test3.yaml
Labels: component: sensor.hm3301, new-integration

#971 climate.whirlpool receiver implemented
  esphome/components/whirlpool/climate.py
  esphome/components/whirlpool/whirlpool.cpp
  esphome/components/whirlpool/whirlpool.h
Labels: not-stale

#1029 Climate whirlpool
  esphome/components/whirlpool/__init__.py
  esphome/components/whirlpool/climate.py
  esphome/components/whirlpool/whirlpool.cpp
  esphome/components/whirlpool/whirlpool.h
  tests/test1.yaml
Labels: component: climate, new-integration

#1030 add mac address to wifi info
  esphome/components/wifi_info/text_sensor.py
  esphome/components/wifi_info/wifi_info_text_sensor.cpp
  esphome/components/wifi_info/wifi_info_text_sensor.h
  tests/test1.yaml
Labels: component: text_sensor.wifi_info
