Repository esphome/esphome, pull requests merged in 2020-06, with the labels that each got.

#1006 Extend uart: with rx_buffer_size:
  esphome/components/uart/__init__.py
  esphome/components/uart/uart.h
  esphome/components/uart/uart_esp32.cpp
  esphome/components/uart/uart_esp8266.cpp
  esphome/const.py
  tests/test1.yaml
Labels: component: uart, needs-docs

#1046 Turn off PN532 RF field when not expecting a tag
  esphome/components/pn532/pn532.cpp
  esphome/components/pn532/pn532.h
Labels: component: pn532

#1011 AQI calculator for HM3301
  esphome/components/hm3301/abstract_aqi_calculator.h
  esphome/components/hm3301/aqi_calculator.cpp
  esphome/components/hm3301/aqi_calculator_factory.h
  esphome/components/hm3301/caqi_calculator.cpp
  esphome/components/hm3301/hm3301.cpp
  esphome/components/hm3301/hm3301.h
  esphome/components/hm3301/sensor.py
  tests/test1.yaml
  tests/test3.yaml
Labels: component: sensor.hm3301, sensor

#1043 Fix gamma_correct when using constant_brightness option
  esphome/components/light/light_color_values.h
  esphome/components/light/light_state.cpp
Labels: light

#950 Add E1.31 support
  esphome/components/e131/__init__.py
  esphome/components/e131/e131.cpp
  esphome/components/e131/e131.h
  esphome/components/e131/e131_addressable_light_effect.cpp
  esphome/components/e131/e131_addressable_light_effect.h
  esphome/components/e131/e131_packet.cpp
  tests/test1.yaml
  tests/test3.yaml
Labels: light, needs-docs, new-integration

#956 Add `adalight` light effect
  esphome/components/adalight/__init__.py
  esphome/components/adalight/adalight_light_effect.cpp
  esphome/components/adalight/adalight_light_effect.h
  tests/test1.yaml
  tests/test3.yaml
Labels: light

#1092 Add WLED support
  esphome/components/wled/__init__.py
  esphome/components/wled/wled_light_effect.cpp
  esphome/components/wled/wled_light_effect.h
  tests/test1.yaml
  tests/test3.yaml
Labels: needs-docs

#1017 SenseAir: flush input buffer on read error
  esphome/components/senseair/senseair.cpp
Labels: component: sensor.senseair, sensor

#1078 sgp30 baseline write bug fix (#1157)
  esphome/components/sgp30/sgp30.cpp
Labels: component: sensor.sgp30, sensor

#1061 Climate bang bang enhancements
  esphome/components/bang_bang/bang_bang_climate.cpp
  esphome/components/bang_bang/bang_bang_climate.h
  esphome/components/bang_bang/climate.py
  esphome/const.py
  tests/test3.yaml
Labels: climate, component: climate.bang_bang

#1047 Fix decode and encode for RC5-protocol
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/rc5_protocol.cpp
Labels: remote

#1083 add support for SN74HC595 shift register
  esphome/components/sn74hc595/__init__.py
  esphome/components/sn74hc595/sn74hc595.cpp
  esphome/components/sn74hc595/sn74hc595.h
  tests/test1.yaml
Labels: new-integration

#1053 Max7219 in Dot Matrix configuration
  esphome/components/max7219digit/__init__.py
  esphome/components/max7219digit/display.py
  esphome/components/max7219digit/max7219digit.cpp
  esphome/components/max7219digit/max7219digit.h
  esphome/components/max7219digit/max7219font.h
  tests/test3.yaml
Labels: component: display.max7219

#1050 Add support for ST7789V display module (as on TTGO T-Display)
  esphome/components/color/__init__.py
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  esphome/components/image/__init__.py
  esphome/components/max7219digit/max7219digit.cpp
  esphome/components/max7219digit/max7219digit.h
  esphome/components/pcd8544/pcd_8544.cpp
  esphome/components/pcd8544/pcd_8544.h
  esphome/components/ssd1306_base/ssd1306_base.cpp
  esphome/components/ssd1306_base/ssd1306_base.h
  esphome/components/ssd1325_base/ssd1325_base.cpp
  esphome/components/ssd1325_base/ssd1325_base.h
  esphome/components/st7789v/__init__.py
  esphome/components/st7789v/display.py
  esphome/components/st7789v/st7789v.cpp
  esphome/components/st7789v/st7789v.h
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
  esphome/const.py
  esphome/core/color.h
  tests/test1.yaml
Labels: display

#1055 Vl53 long range
  esphome/components/vl53l0x/sensor.py
  esphome/components/vl53l0x/vl53l0x_sensor.cpp
  esphome/components/vl53l0x/vl53l0x_sensor.h
  tests/test3.yaml
Labels: component: sensor.vl53l0x, sensor

#1101 fix shunt voltage / current / power reading in INA3221
  esphome/components/ina3221/ina3221.cpp
Labels: breaking-change

#1004 Fix: Component script not stopped in certain situations
  esphome/components/api/homeassistant_service.h
  esphome/components/binary_sensor/automation.h
  esphome/components/cover/automation.h
  esphome/components/dfplayer/dfplayer.h
  esphome/components/display/display_buffer.h
  esphome/components/esp8266_pwm/esp8266_pwm.h
  esphome/components/fan/automation.h
  esphome/components/mhz19/mhz19.h
  esphome/components/mqtt/mqtt_client.h
  esphome/components/output/automation.h
  esphome/components/pid/pid_climate.h
  esphome/components/remote_base/jvc_protocol.h
  esphome/components/remote_base/lg_protocol.h
  esphome/components/remote_base/nec_protocol.h
  esphome/components/remote_base/panasonic_protocol.h
  esphome/components/remote_base/pioneer_protocol.h
  esphome/components/remote_base/rc5_protocol.h
  esphome/components/remote_base/remote_base.h
  esphome/components/remote_base/samsung_protocol.h
  esphome/components/remote_base/sony_protocol.h
  esphome/components/rotary_encoder/rotary_encoder.h
  esphome/components/script/script.h
  esphome/components/sensor/automation.h
  esphome/components/servo/servo.h
  esphome/components/switch/automation.h
  esphome/components/text_sensor/automation.h
  esphome/core/automation.h
  esphome/core/base_automation.h
Labels: breaking-change
