Repository esphome/esphome, pull requests merged in 2020-02, with the labels that each got.

#974 BME280: fix typos, use forced mode constant
  esphome/components/bme280/bme280.cpp
Labels: component: sensor.bme280

#913 MQTT climate features
  esphome/components/mqtt/mqtt_climate.cpp
  esphome/components/mqtt/mqtt_climate.h
Labels: stale

#932 Webserver - include css, js in index
  esphome/components/web_server/__init__.py
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/const.py
Labels: component: web_server
