Repository esphome/esphome, pull requests merged in 2020-11, with the labels that each got.

#1299 add illuminance for xiaomi_mjyd02yla
  esphome/components/xiaomi_mjyd02yla/binary_sensor.py
  esphome/components/xiaomi_mjyd02yla/xiaomi_mjyd02yla.cpp
  esphome/components/xiaomi_mjyd02yla/xiaomi_mjyd02yla.h
Labels: integration: xiaomi_mjyd02yla, small-pr

#1332 Add support for WPA2-EAP enterprise WiFi to ESP8266s.
  esphome/components/wifi/__init__.py
  esphome/components/wifi/wifi_component_esp8266.cpp
Labels: Hacktoberfest, core, integration: wifi

#1173 Pulse_counter measure total pulses
  esphome/components/pulse_counter/pulse_counter_sensor.cpp
  esphome/components/pulse_counter/pulse_counter_sensor.h
  esphome/components/pulse_counter/sensor.py
  esphome/const.py
Labels: core, integration: pulse_counter, new-feature

#1330 Add on_clockwise and on_anticlockwise triggers to rotary encoder
  esphome/components/rotary_encoder/rotary_encoder.cpp
  esphome/components/rotary_encoder/rotary_encoder.h
  esphome/components/rotary_encoder/sensor.py
  tests/test1.yaml
Labels: Hacktoberfest, has-tests, integration: rotary_encoder

#1338 FastLED: Add YAML option for data rate
  esphome/components/fastled_base/fastled_light.h
  esphome/components/fastled_spi/light.py
  esphome/const.py
  tests/test1.yaml
Labels: Hacktoberfest, core, has-tests, integration: fastled_base, integration: fastled_spi, small-pr

#1317 [Image] add dither option for image processing
  esphome/components/image/__init__.py
  esphome/const.py
Labels: Hacktoberfest, core, integration: image, small-pr

#1349 Update actions to move away from set-env
  .github/workflows/ci-docker.yml
  .github/workflows/release-dev.yml
  .github/workflows/release.yml
Labels: small-pr

#1352 Move CONF_CONTRAST to const.py
  esphome/components/esp32_camera/__init__.py
  esphome/const.py
Labels: core, integration: esp32_camera, small-pr

#1246 Adds support for RF Bridge advanced codes
  esphome/components/rf_bridge/__init__.py
  esphome/components/rf_bridge/rf_bridge.cpp
  esphome/components/rf_bridge/rf_bridge.h
  esphome/const.py
  tests/test3.yaml
Labels: by-code-owner, core, has-tests, integration: rf_bridge

#1348 Add contrast option to PCD8544
  esphome/components/pcd8544/display.py
  esphome/components/pcd8544/pcd_8544.cpp
  esphome/components/pcd8544/pcd_8544.h
  tests/test1.yaml
Labels: has-tests, integration: pcd8544, small-pr

#1347 Add a datapoint to sync the Tuya MCU minimum brightness
  esphome/components/tuya/light/__init__.py
  esphome/components/tuya/light/tuya_light.cpp
  esphome/components/tuya/light/tuya_light.h
Labels: integration: tuya, small-pr

#996 Support I2C transactions with combined reads and writes
  esphome/components/i2c/i2c.cpp
  esphome/components/i2c/i2c.h
Labels: core, integration: i2c, new-feature, small-pr

#1251 Hbridge christmas light
  esphome/components/hbridge/__init__.py
  esphome/components/hbridge/hbridge_light_output.h
  esphome/components/hbridge/light.py
  tests/test3.yaml
Labels: has-tests, integration: hbridge, new-integration

#1233 add Ili9341 display
  .gitignore
  esphome/components/ili9341/__init__.py
  esphome/components/ili9341/display.py
  esphome/components/ili9341/ili9341_defines.h
  esphome/components/ili9341/ili9341_display.cpp
  esphome/components/ili9341/ili9341_display.h
  esphome/components/ili9341/ili9341_init.h
  esphome/components/spi/spi.h
Labels: core, integration: ili9341, integration: spi, new-integration

#1364 Correcting Hertz symbol
  esphome/const.py
Labels: core, small-pr

#1344 Add support for Tuya MCU 0x1C (obtain local time)
  esphome/components/tuya/__init__.py
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
  tests/test4.yaml
Labels: has-tests, integration: tuya

#1345 Separate Tuya climate temperature_multiplier to current/target multiplier
  esphome/components/tuya/climate/__init__.py
  esphome/components/tuya/climate/tuya_climate.cpp
  esphome/components/tuya/climate/tuya_climate.h
  tests/test4.yaml
Labels: has-tests, integration: tuya

#1371 Add bounds check for X
  esphome/components/max7219digit/max7219digit.cpp
Labels: integration: max7219digit, small-pr

#1365 scd30: Allow setting ambient pressure compensation
  esphome/components/scd30/scd30.cpp
  esphome/components/scd30/scd30.h
  esphome/components/scd30/sensor.py
  esphome/config_validation.py
  tests/test1.yaml
Labels: core, has-tests, integration: scd30, small-pr

#1108 components: teleinfo: electrical counter information.
  CODEOWNERS
  esphome/components/teleinfo/__init__.py
  esphome/components/teleinfo/sensor.py
  esphome/components/teleinfo/teleinfo.cpp
  esphome/components/teleinfo/teleinfo.h
  tests/test1.yaml
Labels: has-tests, integration: teleinfo, new-integration

#1359 Adding ADE7953 irq_pin
  esphome/components/ade7953/ade7953.cpp
  esphome/components/ade7953/ade7953.h
  esphome/components/ade7953/sensor.py
  tests/test3.yaml
Labels: has-tests, integration: ade7953, small-pr

#1239 add support for EZO sensor circuits
  esphome/components/ezo/__init__.py
  esphome/components/ezo/ezo.cpp
  esphome/components/ezo/ezo.h
  esphome/components/ezo/sensor.py
  tests/test1.yaml
  tests/test3.yaml
Labels: has-tests, integration: ezo, new-integration

#1336 Add climate.hitachi_ac344
  esphome/components/hitachi_ac344/__init__.py
  esphome/components/hitachi_ac344/climate.py
  esphome/components/hitachi_ac344/hitachi_ac344.cpp
  esphome/components/hitachi_ac344/hitachi_ac344.h
  tests/test1.yaml
Labels: Hacktoberfest, has-tests, integration: hitachi_ac344, new-integration

#1379 add CODEOWNER for new ezo component
  CODEOWNERS
  esphome/components/ezo/sensor.py
Labels: integration: ezo, small-pr

#1244 SSD1331 display support
  CODEOWNERS
  esphome/components/ssd1331_base/__init__.py
  esphome/components/ssd1331_base/ssd1331_base.cpp
  esphome/components/ssd1331_base/ssd1331_base.h
  esphome/components/ssd1331_spi/__init__.py
  esphome/components/ssd1331_spi/display.py
  esphome/components/ssd1331_spi/ssd1331_spi.cpp
  esphome/components/ssd1331_spi/ssd1331_spi.h
  tests/test1.yaml
Labels: has-tests, integration: ssd1331_base, integration: ssd1331_spi, new-integration

#1380 Add kbx81 to CODEOWNERS
  CODEOWNERS
  esphome/components/ssd1325_base/__init__.py
  esphome/components/ssd1325_spi/display.py
  esphome/components/ssd1351_base/__init__.py
  esphome/components/ssd1351_spi/display.py
  esphome/components/st7789v/display.py
  esphome/components/thermostat/climate.py
Labels: integration: ssd1325_base, integration: ssd1325_spi, integration: ssd1351_base, integration: ssd1351_spi, integration: st7789v, integration: thermostat, small-pr

#1381 Added 332 color conversion and RGB/BGR/GRB formats
  esphome/core/color.h
Labels: core

#1385 Fixed logger broken by colorama
  esphome/__main__.py
  requirements.txt
Labels: core, small-pr

#1382 Formatted test yaml files
  .editorconfig
  tests/test1.yaml
  tests/test2.yaml
  tests/test3.yaml
Labels: has-tests, small-pr

#1066 New display ST7735
  CODEOWNERS
  esphome/components/st7735/__init__.py
  esphome/components/st7735/display.py
  esphome/components/st7735/st7735.cpp
  esphome/components/st7735/st7735.h
  tests/test1.yaml
Labels: has-tests, integration: st7735, new-integration
