Repository esphome/esphome, pull requests merged in 2021-12, with the labels that each got.

#2842 Bump esphome-dashboard to 20211201.0
  requirements.txt
Labels: small-pr

#2825 Allow Git credentials to be loaded from secrets
  esphome/components/external_components/__init__.py
  esphome/components/packages/__init__.py
  esphome/git.py
Labels: integration: packages, core, small-pr, integration: external_components

#2837 Fix compile warning in Tuya automations
  esphome/components/tuya/automation.cpp
Labels: integration: tuya, small-pr

#2833 Add problem matcher for Python formatting errors
  .github/workflows/matchers/lint-python.json
Labels: small-pr

#2831 Fix CI check for Windows line endings
  script/ci-custom.py
Labels: core, small-pr

#2830 Don't enable namespace comment clang-tidy check twice
  .clang-tidy
Labels: small-pr

#2812 ESP32 Deep Sleep: correct level value
  esphome/components/deep_sleep/deep_sleep_component.cpp
Labels: integration: deep_sleep, core, small-pr

#2834 Fix compilation using subprocesses
  esphome/util.py
Labels: core, small-pr

#1727 Expand uart invert feature to ESP8266
  esphome/components/uart/__init__.py
  esphome/components/uart/uart_component_esp8266.cpp
  tests/test3.yaml
Labels: integration: uart, has-tests, core, small-pr

#2839 Support setting manual_ip under networks option
  esphome/components/wifi/__init__.py
  tests/test5.yaml
Labels: integration: wifi, has-tests, core, small-pr

#2846 Set ESP32 watchdog to loop task
  esphome/components/esp32/__init__.py
  esphome/components/esp32/core.cpp
  esphome/components/esp8266/core.cpp
  esphome/core/application.h
  esphome/core/hal.h
  sdkconfig.defaults
Labels: core, small-pr, integration: esp32, integration: esp8266

#2637 Tuya Cover improvements
  esphome/components/tuya/cover/__init__.py
  esphome/components/tuya/cover/tuya_cover.cpp
  esphome/components/tuya/cover/tuya_cover.h
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
Labels: breaking-change, integration: tuya

#2849 Fix wifi not working with manual_ip using esp-idf
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: integration: wifi, core, small-pr

#2845 modbus_controller: bugfix: enable overriding calculated register size
  esphome/components/modbus_controller/__init__.py
  esphome/components/modbus_controller/modbus_controller.h
  esphome/components/modbus_controller/text_sensor/modbus_textsensor.cpp
  esphome/components/modbus_controller/text_sensor/modbus_textsensor.h
Labels: small-pr, bugfix, by-code-owner, integration: modbus_controller

#2850 Add a simple helper to remap values
  esphome/core/helpers.h
Labels: core, small-pr

#2852 Feed watchdog during OTA
  esphome/components/ota/ota_component.cpp
Labels: integration: ota, core, small-pr

#2853 2021.12.0b2
  esphome/components/ota/ota_component.cpp
  esphome/const.py
Labels: merging-to-beta

#2870 Bump esphome-dashboard to 20211206.0
  requirements.txt
Labels: small-pr

#2867 tlc59208f : fix compilation error
  esphome/components/tlc59208f/tlc59208f_output.cpp
Labels: integration: tlc59208f, small-pr

#2863 ADC: Turn verbose the debugging "got voltage"
  esphome/components/adc/adc_sensor.cpp
Labels: integration: adc, core, small-pr

#2866 SPS30 : fix i2c read size
  esphome/components/sps30/sps30.cpp
  esphome/components/sps30/sps30.h
Labels: integration: sps30, small-pr

#2855 Fix MCP23x17 not disabling pullup after config change
  esphome/components/mcp23x17_base/mcp23x17_base.cpp
Labels: small-pr, integration: mcp23x17_base

#2856 Don't disable idle task WDT when it's not enabled
  esphome/components/esp32/core.cpp
Labels: small-pr, integration: esp32

#2862 Ignore already stopped dhcp for ethernet
  esphome/components/ethernet/ethernet_component.cpp
Labels: integration: ethernet, core, small-pr

#2873 Add endpoint to fetch secrets keys
  esphome/dashboard/dashboard.py
  esphome/yaml_util.py
Labels: core, small-pr, dashboard

#2874 Adopt using wifi secrets that should exist at this point
  esphome/components/dashboard_import/__init__.py
Labels: small-pr, integration: dashboard_import

#2875 Allow wizard to specify secrets
  esphome/wizard.py
Labels: core, small-pr

#2857 Feed watchdog when no component loops
  esphome/core/application.cpp
Labels: core, small-pr

#2877 Bump esphome-dashboard to 20211207.0
  requirements.txt
Labels: small-pr

#2876 Feed watchdog while setting up OTA
  esphome/components/ota/ota_component.cpp
Labels: integration: ota, core, small-pr

#2861 Support different run duration for non-timer wakeup
  esphome/components/deep_sleep/__init__.py
  esphome/components/deep_sleep/deep_sleep_component.cpp
  esphome/components/deep_sleep/deep_sleep_component.h
  tests/component_tests/deep_sleep/test_deep_sleep.py
  tests/component_tests/deep_sleep/test_deep_sleep1.yaml
  tests/component_tests/deep_sleep/test_deep_sleep2.yaml
  tests/test2.yaml
Labels: new-feature, integration: deep_sleep, has-tests, core

#2883 Drop len parameter from parse_number()
  esphome/components/ezo/ezo.cpp
  esphome/core/helpers.h
Labels: core, small-pr, integration: ezo

#2887 Bump esphome-dashboard to 20211208.0
  requirements.txt
Labels: small-pr

#2888 Drop unused xSemaphoreWait define
  esphome/core/helpers.h
Labels: core, small-pr

#2894 Fix published state for modbus number
  esphome/components/modbus_controller/number/modbus_number.cpp
Labels: small-pr, integration: modbus_controller

#2896 Modbus number/output use write single
  esphome/components/modbus_controller/const.py
  esphome/components/modbus_controller/number/__init__.py
  esphome/components/modbus_controller/number/modbus_number.cpp
  esphome/components/modbus_controller/number/modbus_number.h
  esphome/components/modbus_controller/output/__init__.py
  esphome/components/modbus_controller/output/modbus_output.cpp
  esphome/components/modbus_controller/output/modbus_output.h
  esphome/components/modbus_controller/switch/__init__.py
Labels: small-pr, integration: modbus_controller

#2890 2021.12.0b4
  esphome/components/ota/ota_component.cpp
  esphome/const.py
  esphome/wizard.py
  requirements.txt
  tests/unit_tests/test_wizard.py
Labels: merging-to-beta

#2899 2021.12.0b5
  esphome/components/modbus_controller/const.py
  esphome/components/modbus_controller/number/__init__.py
  esphome/components/modbus_controller/number/modbus_number.cpp
  esphome/components/modbus_controller/number/modbus_number.h
  esphome/components/modbus_controller/output/__init__.py
  esphome/components/modbus_controller/output/modbus_output.cpp
  esphome/components/modbus_controller/output/modbus_output.h
  esphome/components/modbus_controller/switch/__init__.py
  esphome/const.py
Labels: merging-to-beta

#2903 Fix for two points setting when fan_only_cooling is disabled
  esphome/components/thermostat/climate.py
Labels: integration: thermostat, small-pr, bugfix, by-code-owner

#2904 Bump esphome-dashboard to 20211211.0
  requirements.txt
Labels: small-pr

#2905 2021.12.0b6
  esphome/components/thermostat/climate.py
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#2869 Move i2c scan to setup
  esphome/components/i2c/i2c_bus.h
  esphome/components/i2c/i2c_bus_arduino.cpp
  esphome/components/i2c/i2c_bus_arduino.h
  esphome/components/i2c/i2c_bus_esp_idf.cpp
  esphome/components/i2c/i2c_bus_esp_idf.h
Labels: integration: i2c, core

#2868 Add light.on_state trigger
  esphome/components/light/__init__.py
  esphome/components/light/automation.h
  esphome/components/light/types.py
Labels: new-feature, integration: light, core, small-pr

#2881 Reduce timing noise in duty_cycle
  esphome/components/duty_cycle/duty_cycle_sensor.cpp
Labels: integration: duty_cycle, small-pr

#2906 Turn verbose a debug statement in bme280
  esphome/components/bme280/bme280.cpp
Labels: integration: bme280, small-pr

#1481 Add reset_duration option for waveshare epaper HAT rev 2.1
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.h
  esphome/const.py
  tests/test4.yaml
Labels: integration: waveshare_epaper, has-tests, core, small-pr

#2901 Log the actual value in modbus number
  esphome/components/modbus_controller/number/modbus_number.cpp
Labels: small-pr, integration: modbus_controller

#2902 Add gpio 12 to strapping pin list
  esphome/components/esp32/gpio_esp32.py
Labels: small-pr, integration: esp32

#2854 Added access to ble_scan_result_evt_param as get_scan_result
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: esp32_ble_tracker, small-pr

#2893 Set text sensor state property to filter output
  esphome/components/text_sensor/text_sensor.cpp
Labels: integration: text_sensor, core, small-pr

#2891 fix multi-line comment warning/error
  esphome/__main__.py
Labels: core, small-pr

#2913 Allow button POST on press from web server
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server, small-pr

#2914 Adding Pascal unit to constants
  esphome/const.py
Labels: core, small-pr

#2900 quantile filter support
  esphome/components/sensor/__init__.py
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
  esphome/const.py
  tests/test3.yaml
Labels: integration: sensor, has-tests, core

#2892 ESP32 CAM add Automatic Exposure Control option
  esphome/components/esp32_camera/__init__.py
  esphome/components/esp32_camera/esp32_camera.cpp
  esphome/components/esp32_camera/esp32_camera.h
Labels: integration: esp32_camera, small-pr

#2915 2021.12.1
  esphome/components/text_sensor/text_sensor.cpp
  esphome/components/web_server/web_server.cpp
  esphome/const.py
Labels: merging-to-release

#2916 Modbus: use multiply for publishing number
  esphome/components/modbus_controller/number/modbus_number.cpp
Labels: breaking-change, small-pr, by-code-owner, integration: modbus_controller

#2922 Add growatt modbus sensor
  CODEOWNERS
  esphome/components/growatt_solar/__init__.py
  esphome/components/growatt_solar/growatt_solar.cpp
  esphome/components/growatt_solar/growatt_solar.h
  esphome/components/growatt_solar/sensor.py
Labels: new-integration, needs-tests, integration: growatt_solar

#2765 Add Tuya Number support
  CODEOWNERS
  esphome/components/tuya/number/__init__.py
  esphome/components/tuya/number/tuya_number.cpp
  esphome/components/tuya/number/tuya_number.h
  esphome/const.py
  tests/test4.yaml
Labels: new-integration, integration: tuya, has-tests, core

#2878 Support inverted tm1637 display
  esphome/components/tm1637/display.py
  esphome/components/tm1637/tm1637.cpp
  esphome/components/tm1637/tm1637.h
  tests/test1.yaml
Labels: integration: tm1637, has-tests

#2929 Fix tm1637 bootloop
  esphome/components/tm1637/tm1637.cpp
Labels: integration: tm1637, small-pr

#2917 Fix MQTT button press action
  esphome/components/mqtt/mqtt_button.cpp
Labels: integration: mqtt, core, small-pr

#2918 Add shutdown and safe_mode button
  CODEOWNERS
  esphome/components/safe_mode/__init__.py
  esphome/components/safe_mode/button/__init__.py
  esphome/components/safe_mode/button/safe_mode_button.cpp
  esphome/components/safe_mode/button/safe_mode_button.h
  esphome/components/shutdown/__init__.py
  esphome/components/shutdown/button/__init__.py
  esphome/components/shutdown/button/shutdown_button.cpp
  esphome/components/shutdown/button/shutdown_button.h
  esphome/components/shutdown/switch/__init__.py
  esphome/components/shutdown/switch/shutdown_switch.cpp
  esphome/components/shutdown/switch/shutdown_switch.h
  tests/test4.yaml
Labels: new-integration, integration: shutdown, has-tests, integration: safe_mode

#2932 2021.12.2
  esphome/components/esp32/core.cpp
  esphome/components/mqtt/mqtt_button.cpp
  esphome/const.py
Labels: merging-to-release

#2937 Support inkplate10
  esphome/components/inkplate6/display.py
  esphome/components/inkplate6/inkplate.h
Labels: new-feature, by-code-owner, integration: inkplate6

#2926 bang_bang: respect set cool- and heat-only modes
  esphome/components/bang_bang/bang_bang_climate.cpp
Labels: integration: bang_bang, small-pr, second-opinion-wanted

#2939 Update curl package version in docker
  docker/Dockerfile
Labels: small-pr

#2927 Change HDC1080 init instruction failure from error to warning
  esphome/components/hdc1080/hdc1080.cpp
Labels: integration: hdc1080, small-pr

#2941 Require arduino in webserver for better validation
  esphome/components/web_server/__init__.py
Labels: integration: web_server

#2938 Add option to load docker image when building
  docker/build.py
Labels: small-pr

#2943 Disable nightly dev build
  .github/workflows/release.yml
Labels: small-pr

#2940 Only allow internal pins for dht sensor
  esphome/components/dht/sensor.py
Labels: integration: dht, small-pr

#2936 Workaround installing as editable package not working
  docker/Dockerfile
Labels: small-pr

#2944 Revert "Disable nightly dev build"
  .github/workflows/release.yml
Labels: small-pr

#2860 Remove Content-Length header from camera snapshot response
  esphome/components/esp32_camera_web_server/camera_web_server.cpp
Labels: small-pr, integration: esp32_camera_web_server

#2962 ST7920 ESP32 fix
  esphome/components/st7920/st7920.h
Labels: small-pr, by-code-owner, integration: st7920

#2964 Remove -e for hassio images
  docker/Dockerfile
Labels: small-pr

#2966 2021.12.3
  docker/Dockerfile
  esphome/components/dht/sensor.py
  esphome/components/web_server/__init__.py
  esphome/const.py
Labels: merging-to-release

#2960 Fix switch log state if inverted
  esphome/components/switch/switch.cpp
Labels: integration: switch, core, small-pr

#2970 Add pin aliases for featheresp32-s2
  esphome/components/esp32/boards.py
Labels: integration: esp32

#2788 INA260 Current and Power Sensor support
  CODEOWNERS
  esphome/components/ina260/__init__.py
  esphome/components/ina260/ina260.cpp
  esphome/components/ina260/ina260.h
  esphome/components/ina260/sensor.py
  tests/test2.yaml
Labels: new-integration, has-tests, integration: ina260
