Repository esphome/esphome, pull requests merged in 2021-09, with the labels that each got.

#1627 iBeacon support for ble_presence
  esphome/components/ble_presence/binary_sensor.py
  esphome/components/ble_presence/ble_presence_device.h
  esphome/components/ble_rssi/sensor.py
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/const.py
  tests/test2.yaml
Labels: integration: ble_presence, integration: ble_rssi, integration: esp32_ble_tracker, has-tests, core

#2225 Add is_on and is_off conditions for the fan component
  esphome/components/fan/__init__.py
  esphome/components/fan/automation.h
  tests/test1.yaml
Labels: integration: fan, has-tests, core

#2228 mqtt_sensor: properly send state_class via MQTT
  esphome/components/mqtt/mqtt_sensor.cpp
Labels: integration: mqtt, core, small-pr

#2205 Change uptime's state_class to total_increasing (esphome/issues#2337)
  esphome/components/uptime/sensor.py
Labels: integration: uptime, small-pr, waiting-for-ha-release

#2231 Expose WHITE/CWWW/RGBCT color modes over MQTT
  esphome/components/mqtt/mqtt_light.cpp
Labels: integration: mqtt, core, small-pr

#2230 Reject template select/number/switches that don't handle user input
  esphome/components/template/number/__init__.py
  esphome/components/template/select/__init__.py
  esphome/components/template/switch/__init__.py
  tests/test1.yaml
Labels: breaking-change, integration: template, has-tests, core

#2229 Fix UARTComponent hardware vs software UART0 conflict
  esphome/components/uart/uart.h
  esphome/components/uart/uart_esp8266.cpp
Labels: integration: uart, core

#2192 Move to use zeroconf library instead of inline copy
  esphome/dashboard/dashboard.py
  esphome/helpers.py
  esphome/zeroconf.py
Labels: core, dashboard

#2193 Allow using a git source for a package
  esphome/components/external_components/__init__.py
  esphome/components/packages/__init__.py
  esphome/config.py
  esphome/config_validation.py
  esphome/const.py
  esphome/git.py
Labels: new-feature, integration: packages, core, integration: external_components

#2233 Remove last_reset_type and convert all those sensors to TOTAL_INCREASING
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/atm90e32/sensor.py
  esphome/components/demo/__init__.py
  esphome/components/demo/demo_sensor.h
  esphome/components/dsmr/sensor.py
  esphome/components/havells_solar/sensor.py
  esphome/components/hlw8012/sensor.py
  esphome/components/pulse_counter/sensor.py
  esphome/components/pulse_meter/sensor.py
  esphome/components/pzem004t/sensor.py
  esphome/components/pzemac/sensor.py
  esphome/components/sdm_meter/sensor.py
  esphome/components/selec_meter/sensor.py
  esphome/components/sensor/__init__.py
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
  esphome/components/total_daily_energy/sensor.py
  esphome/const.py
  script/api_protobuf/api_protobuf.py
Labels: breaking-change, integration: api, integration: atm90e32, integration: hlw8012, integration: pulse_counter, integration: pzem004t, integration: pzemac, integration: sensor, integration: total_daily_energy, core, by-code-owner, integration: pulse_meter, integration: sdm_meter, integration: dsmr, integration: havells_solar, integration: selec_meter, integration: demo

#2241 Dont dump legacy fields
  esphome/components/api/api_pb2.cpp
  script/api_protobuf/api_protobuf.py
Labels: integration: api, core, small-pr

#2242 Fix encoding bug
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#2204 Light: include ON_OFF capability to BRIGHTNESS ColorMode
  esphome/components/light/color_mode.h
Labels: integration: light, core, small-pr

#2240 LOG_UPDATE_INTERVAL: correctly report "never"
  esphome/core/component.h
  esphome/core/scheduler.cpp
Labels: core, small-pr

#2243 Fix runtime exception due to dict typing
  esphome/zeroconf.py
Labels: core, small-pr

#2244 template: select: fix initial_value cannot be used with lambda
  esphome/components/template/select/__init__.py
Labels: integration: template, core, small-pr

#2248 Add device classes new in HA 2021.9
  esphome/components/ccs811/sensor.py
  esphome/components/hm3301/sensor.py
  esphome/components/mhz19/sensor.py
  esphome/components/pm1006/sensor.py
  esphome/components/pmsa003i/sensor.py
  esphome/components/pmsx003/sensor.py
  esphome/components/sds011/sensor.py
  esphome/components/senseair/sensor.py
  esphome/components/sensor/__init__.py
  esphome/components/sgp30/sensor.py
  esphome/components/sgp40/sensor.py
  esphome/components/sm300d2/sensor.py
  esphome/components/sps30/sensor.py
  esphome/components/zyaura/sensor.py
  esphome/const.py
Labels: integration: ccs811, integration: hm3301, integration: mhz19, integration: pmsx003, integration: sds011, integration: senseair, integration: sensor, integration: sgp30, integration: sps30, integration: zyaura, core, integration: pmsa003i, integration: sgp40, integration: sm300d2, integration: pm1006

#2251 Logger prevent recursive logging
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
Labels: integration: logger, core, small-pr

#2246 Add new trigger to fan component `on_speed_set`
  esphome/components/fan/__init__.py
  esphome/components/fan/automation.h
  esphome/const.py
  tests/test1.yaml
Labels: integration: fan, has-tests, core, small-pr

#1867 Fix fan speed restore issue on boot
  esphome/components/binary/fan/binary_fan.cpp
  esphome/components/fan/fan_state.cpp
  esphome/components/speed/fan/speed_fan.cpp
  esphome/components/tuya/fan/tuya_fan.cpp
  esphome/components/tuya/fan/tuya_fan.h
Labels: integration: binary, integration: fan, integration: speed, integration: tuya, core, small-pr

#2224 Template sensors always publish on update interval
  esphome/components/template/sensor/template_sensor.cpp
  esphome/components/template/text_sensor/template_text_sensor.cpp
Labels: integration: template, core, small-pr, unexpected-change

#2250 Socket component
  CODEOWNERS
  esphome/components/socket/__init__.py
  esphome/components/socket/bsd_sockets_impl.cpp
  esphome/components/socket/headers.h
  esphome/components/socket/lwip_raw_tcp_impl.cpp
  esphome/components/socket/socket.h
  esphome/core/defines.h
  script/ci-custom.py
Labels: core, integration: socket

#2257 Allow .yml files in dashboard
  esphome/util.py
Labels: core, small-pr

#2258 Bump dashboard to 20210908.0 and fix card names for yml
  esphome/dashboard/dashboard.py
  requirements.txt
Labels: core, small-pr, dashboard

#2260 Fix socket not setting callbacks early enough
  esphome/components/socket/lwip_raw_tcp_impl.cpp
Labels: small-pr, integration: socket

#2253 Convert API to use sockets
  esphome/components/api/__init__.py
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/socket/headers.h
Labels: integration: api, core, by-code-owner, integration: socket

#2188 Midea support v2
  CODEOWNERS
  esphome/components/climate/__init__.py
  esphome/components/climate/climate.cpp
  esphome/components/climate/climate.h
  esphome/components/climate/climate_traits.h
  esphome/components/midea/__init__.py
  esphome/components/midea/adapter.cpp
  esphome/components/midea/adapter.h
  esphome/components/midea/air_conditioner.cpp
  esphome/components/midea/air_conditioner.h
  esphome/components/midea/appliance_base.h
  esphome/components/midea/automations.h
  esphome/components/midea/climate.py
  esphome/components/midea/midea_ir.h
  esphome/components/midea_ac/climate.py
  esphome/components/midea_ac/midea_climate.cpp
  esphome/components/midea_ac/midea_climate.h
  esphome/components/midea_ac/midea_frame.cpp
  esphome/components/midea_ac/midea_frame.h
  esphome/components/midea_dongle/__init__.py
  esphome/components/midea_dongle/midea_dongle.cpp
  esphome/components/midea_dongle/midea_dongle.h
  esphome/components/midea_dongle/midea_frame.cpp
  esphome/components/midea_dongle/midea_frame.h
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/midea_protocol.cpp
  esphome/components/remote_base/midea_protocol.h
  esphome/const.py
  esphome/core/component.cpp
  esphome/core/component.h
  platformio.ini
  tests/test1.yaml
  tests/test3.yaml
Labels: breaking-change, integration: climate, integration: remote_base, core, by-code-owner, integration: midea_ac, integration: midea_dongle, integration: midea

#2006 ccs811: publish firmware version; log bootloader and HW version; fix a bug
  CODEOWNERS
  esphome/components/ccs811/ccs811.cpp
  esphome/components/ccs811/ccs811.h
  esphome/components/ccs811/sensor.py
Labels: integration: ccs811

#2254 API encryption
  esphome/components/api/__init__.py
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
  esphome/components/api/api_noise_context.h
  esphome/components/api/api_server.h
  esphome/core/defines.h
  esphome/core/helpers.cpp
  esphome/core/helpers.h
  platformio.ini
  tests/test3.yaml
Labels: integration: api, has-tests, core, by-code-owner

#2259 Revert "Dont dump legacy fields"
  esphome/components/api/api_pb2.cpp
  script/api_protobuf/api_protobuf.py
Labels: integration: api, core

#2214 pm1006: add support for sending a measurement request
  CODEOWNERS
  esphome/components/pm1006/pm1006.cpp
  esphome/components/pm1006/pm1006.h
  esphome/components/pm1006/sensor.py
Labels: integration: pm1006, so-close

#2178 SGP40 sensor start-up fix
  esphome/components/sgp40/sgp40.cpp
  esphome/components/sgp40/sgp40.h
Labels: small-pr, bugfix, integration: sgp40

#2216 PMSA003i Update state_class and async
  esphome/components/pmsa003i/sensor.py
Labels: code-quality, by-code-owner, integration: pmsa003i

#2265 Fix a few ESP32-C3 compiler issues
  esphome/components/api/api_frame_helper.cpp
  esphome/components/pn532/pn532.cpp
  esphome/components/uart/uart_esp32.cpp
Labels: integration: api, integration: pn532, integration: uart, core, small-pr, by-code-owner

#2263 sm300d2: Accept (undocumented) 0x80 checksum offset.
  esphome/components/sm300d2/sm300d2.cpp
Labels: small-pr, integration: sm300d2

#2267 2021.9.0b2
  esphome/components/api/api_frame_helper.cpp
  esphome/components/pn532/pn532.cpp
  esphome/components/sm300d2/sm300d2.cpp
  esphome/components/uart/uart_esp32.cpp
  esphome/const.py
Labels: merging-to-beta

#2271 Drop obsolete comments from CONTRIBUTING.md
  CONTRIBUTING.md
Labels: small-pr

#2273 Disable automatic usage of SNTP servers from DHCP
  esphome/components/wifi/wifi_component_esp32.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
Labels: integration: wifi, core, small-pr

#2277 Support inverting color temperature on tuya lights
  esphome/components/tuya/light/__init__.py
  esphome/components/tuya/light/tuya_light.cpp
  esphome/components/tuya/light/tuya_light.h
Labels: integration: tuya, small-pr

#2272 Compatibility with clang-tidy v14
  .clang-tidy
  esphome/components/bme280/bme280.cpp
  esphome/components/bmp280/bmp280.cpp
  esphome/components/display/display_buffer.cpp
  esphome/components/i2c/i2c.cpp
  esphome/components/mcp3008/mcp3008.cpp
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/remote_base/rc5_protocol.cpp
  esphome/components/st7735/st7735.cpp
  esphome/components/sun/sun.cpp
  esphome/core/component.cpp
  esphome/core/preferences.cpp
Labels: integration: bme280, integration: bmp280, integration: display, integration: i2c, integration: mcp3008, integration: mqtt, integration: remote_base, integration: sun, core, integration: st7735

#2269 Only try compat parsing after regular parsing fails
  esphome/__main__.py
Labels: core

#2270 Suppress excessive warnings about deprecated Fan interfaces
  esphome/components/api/api_connection.cpp
  esphome/components/fan/fan_helpers.cpp
  esphome/components/fan/fan_helpers.h
  esphome/components/fan/fan_state.cpp
  esphome/components/mqtt/mqtt_fan.cpp
  esphome/components/web_server/web_server.cpp
Labels: integration: api, integration: fan, integration: mqtt, integration: web_server, core, small-pr

#2255 t6615: tolerate sensor dropping commands
  esphome/components/t6615/t6615.cpp
  esphome/components/t6615/t6615.h
Labels: integration: t6615

#2245 Expose select on Frontend `web_server:`
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server

#2239 Fix devcontainer scripts on Windows
  .gitattributes
Labels: small-pr

#2159 Fix SM300D2 sensor component routines so they correctly read the sensor output
  esphome/components/sm300d2/sensor.py
  esphome/components/sm300d2/sm300d2.cpp
Labels: small-pr, integration: sm300d2

#1784 Fix issue #2054. PZEM004T Component doesn't set the module address.
  esphome/components/pzem004t/pzem004t.cpp
  esphome/components/pzem004t/pzem004t.h
Labels: integration: pzem004t, small-pr

#2287 Convert st7735.h to use LF line endings
  esphome/components/st7735/st7735.h
Labels: integration: st7735

#2286 Add esphal.h include to inkplate6 component
  esphome/components/inkplate6/inkplate.h
  tests/test5.yaml
Labels: has-tests, small-pr, integration: inkplate6

#2289 Revert "Bump tzlocal from 2.1 to 3.0 (#2154)"
  requirements.txt
Labels: small-pr

#2288 Fix API socket issues
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
  esphome/components/api/api_server.cpp
  esphome/components/socket/lwip_raw_tcp_impl.cpp
Labels: integration: api, core, by-code-owner, integration: socket

#2146 Run clang-tidy against Arduino 3
  .clang-tidy
  .github/workflows/ci.yml
  .github/workflows/docker-lint-build.yml
  docker/Dockerfile.dev
  docker/build.py
  esphome/components/adc/adc_sensor.cpp
  esphome/components/debug/debug_component.cpp
  esphome/components/deep_sleep/deep_sleep_component.cpp
  esphome/components/http_request/http_request.cpp
  esphome/components/light/light_color_values.h
  esphome/components/neopixelbus/light.py
  esphome/components/nextion/nextion_upload.cpp
  esphome/components/nfc/ndef_message.cpp
  esphome/components/nfc/nfc_tag.h
  esphome/components/pn532/pn532.cpp
  esphome/components/pn532/pn532_mifare_classic.cpp
  esphome/components/pn532/pn532_mifare_ultralight.cpp
  esphome/components/sgp40/sgp40.cpp
  esphome/components/shutdown/shutdown_switch.cpp
  esphome/components/spi/spi.cpp
  esphome/components/time/automation.cpp
  esphome/components/uart/uart_esp8266.cpp
  esphome/components/web_server_base/web_server_base.cpp
  esphome/core/application.cpp
  esphome/core/application_esp8266.cpp
  esphome/core/helpers.h
  esphome/core/util.cpp
  esphome/core/util.h
  platformio.ini
  script/clang-tidy
Labels: integration: adc, integration: debug, integration: deep_sleep, integration: http_request, integration: neopixelbus, integration: nextion, integration: shutdown, integration: spi, integration: time, integration: uart, integration: web_server_base, core, integration: nfc, integration: sgp40

#2275 Clean-up sensor integration
  esphome/components/api/api_connection.cpp
  esphome/components/demo/demo_sensor.h
  esphome/components/mqtt/mqtt_sensor.cpp
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
Labels: integration: api, integration: mqtt, integration: sensor, core, integration: demo

#2291 Bump platformio to 5.2.0
  docker/build.py
  esphome/zeroconf.py
  requirements.txt
Labels: core, small-pr

#2295 2021.9.0b3
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
  esphome/components/api/api_server.cpp
  esphome/components/socket/lwip_raw_tcp_impl.cpp
  esphome/components/wifi/wifi_component_esp32.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/const.py
Labels: merging-to-beta

#2298 API Noise logging
  esphome/__main__.py
  esphome/api/__init__.py
  esphome/api/api_pb2.py
  esphome/api/client.py
  esphome/components/api/client.py
  requirements.txt
Labels: integration: api, core, by-code-owner

#2299 Add stale/lock bots
  .github/workflows/lock.yml
  .github/workflows/stale.yml
Labels: small-pr

#2300 Allow simple hostname for sntp servers
  esphome/components/sntp/time.py
Labels: integration: sntp, small-pr

#2301 Fix binary strobe
  esphome/components/light/base_light_effects.h
Labels: integration: light, core, small-pr

#2302 2021.9.0b4
  docker/build.py
  esphome/__main__.py
  esphome/api/__init__.py
  esphome/api/api_pb2.py
  esphome/api/client.py
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
  esphome/components/api/client.py
  esphome/components/fan/fan_helpers.cpp
  esphome/components/fan/fan_helpers.h
  esphome/components/fan/fan_state.cpp
  esphome/components/light/base_light_effects.h
  esphome/components/mqtt/mqtt_fan.cpp
  esphome/components/sntp/time.py
  esphome/components/t6615/t6615.cpp
  esphome/components/t6615/t6615.h
  esphome/components/web_server/web_server.cpp
  esphome/const.py
  esphome/zeroconf.py
  requirements.txt
Labels: merging-to-beta

#2292 Use standard version of make_unique when available
  .clang-tidy
  esphome/components/nfc/ndef_message.cpp
  esphome/components/nfc/nfc_tag.h
  esphome/components/pn532/pn532.cpp
  esphome/components/pn532/pn532_mifare_classic.cpp
  esphome/components/pn532/pn532_mifare_ultralight.cpp
  esphome/components/socket/bsd_sockets_impl.cpp
  esphome/core/helpers.h
Labels: integration: pn532, core, integration: nfc, integration: socket

#2304 Fix unit of measurement fields for DSMR power consumed/delivered fields
  esphome/components/dsmr/sensor.py
  esphome/const.py
Labels: core, integration: dsmr

#2309 Bug fix of NFC message & records becoming inaccessible in on_tag lambdas
  esphome/components/nfc/ndef_message.h
  esphome/components/nfc/nfc_tag.h
Labels: small-pr, integration: nfc

#2157 Dsmr updates
  esphome/components/dsmr/__init__.py
  esphome/components/dsmr/dsmr.cpp
  esphome/components/dsmr/dsmr.h
  esphome/components/dsmr/sensor.py
  esphome/components/dsmr/text_sensor.py
  platformio.ini
Labels: by-code-owner, integration: dsmr

#2307 Simple time.sleep in place of threading wait due to upgraded zeroconf
  esphome/zeroconf.py
Labels: core, small-pr

#2310 Fix aioesphomeapi API logger with explicit API port config
  esphome/components/api/client.py
Labels: integration: api, core, small-pr

#2315 Start a wifi scan after saving station details
  esphome/components/wifi/wifi_component.cpp
Labels: integration: wifi, core, small-pr

#2319 2021.9.0b5
  esphome/components/api/client.py
  esphome/components/dsmr/sensor.py
  esphome/components/wifi/wifi_component.cpp
  esphome/const.py
  esphome/zeroconf.py
Labels: merging-to-beta

#1668 Support direct relay state feedback for tuya climate component
  esphome/components/tuya/climate/__init__.py
  esphome/components/tuya/climate/tuya_climate.cpp
  esphome/components/tuya/climate/tuya_climate.h
Labels: integration: tuya

#1708 ac_dimmer increase gate time for robotdyn
  esphome/components/ac_dimmer/ac_dimmer.cpp
Labels: integration: ac_dimmer, small-pr, by-code-owner

#2296 Add namespace to all PlatformIO library references
  .gitignore
  esphome/components/async_tcp/__init__.py
  esphome/components/fastled_base/__init__.py
  esphome/components/gps/__init__.py
  esphome/components/hm3301/sensor.py
  esphome/components/json/__init__.py
  esphome/components/mqtt/__init__.py
  esphome/components/neopixelbus/light.py
  esphome/components/tm1651/__init__.py
  platformio.ini
Labels: integration: async_tcp, integration: fastled_base, integration: gps, integration: hm3301, integration: json, integration: mqtt, integration: neopixelbus, integration: tm1651, core, small-pr

#2313 Allow transforms and flashes to not update remote_values
  esphome/components/light/light_call.cpp
  esphome/components/light/light_state.cpp
  esphome/components/light/light_state.h
Labels: integration: light, core, small-pr

#2341 Reduce stale/lock gh actions interval
  .github/stale.yml
  .github/workflows/lock.yml
  .github/workflows/stale.yml
Labels: small-pr

#2331 Fix MQTT discovery for sensor state_class
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
Labels: integration: sensor, core, small-pr

#2320 Light transition fixes
  esphome/components/light/addressable_light.cpp
  esphome/components/light/light_state.cpp
  esphome/components/light/transformers.h
Labels: integration: light, core, small-pr

#2326 Cease using deprecated Cover methods in automations
  esphome/components/cover/automation.h
Labels: integration: cover, core, small-pr

#2236 Add `esp8266_disable_ssl_support:` config option
  esphome/components/http_request/__init__.py
  esphome/components/http_request/http_request.cpp
  esphome/components/http_request/http_request.h
  esphome/const.py
  esphome/core/defines.h
Labels: integration: http_request, core, small-pr

#2321 Apply color brightness to addressable light effects
  esphome/components/light/addressable_light.cpp
  esphome/components/light/addressable_light.h
  esphome/components/light/addressable_light_effect.h
Labels: integration: light, core, small-pr

#1860 Add eco mode to tuya climate component
  esphome/components/tuya/climate/__init__.py
  esphome/components/tuya/climate/tuya_climate.cpp
  esphome/components/tuya/climate/tuya_climate.h
Labels: integration: tuya

#2345 Fix SPIDevice::write_byte16 to actually take a 16 bit argument
  esphome/components/spi/spi.h
Labels: integration: spi, core, small-pr

#2342 Add readv and writev for more efficient API packets
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
  esphome/components/socket/bsd_sockets_impl.cpp
  esphome/components/socket/headers.h
  esphome/components/socket/lwip_raw_tcp_impl.cpp
  esphome/components/socket/socket.h
Labels: integration: api, core, by-code-owner, integration: socket

#2346 2021.9.1
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
  esphome/components/cover/automation.h
  esphome/components/demo/demo_sensor.h
  esphome/components/light/addressable_light.cpp
  esphome/components/light/addressable_light.h
  esphome/components/light/addressable_light_effect.h
  esphome/components/light/light_state.cpp
  esphome/components/light/transformers.h
  esphome/components/mqtt/mqtt_sensor.cpp
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
  esphome/components/socket/bsd_sockets_impl.cpp
  esphome/components/socket/headers.h
  esphome/components/socket/lwip_raw_tcp_impl.cpp
  esphome/components/socket/socket.h
  esphome/const.py
Labels: merging-to-release

#2338 Redo docker build system with buildkit+multi-stage and cache pio packages
  .devcontainer/devcontainer.json
  .github/workflows/ci-docker.yml
  .github/workflows/ci.yml
  .github/workflows/docker-lint-build.yml
  .github/workflows/release.yml
  docker/Dockerfile
  docker/Dockerfile.dev
  docker/Dockerfile.hassio
  docker/Dockerfile.lint
  docker/build.py
  docker/docker_entrypoint.sh
  docker/hassio-rootfs/etc/cont-init.d/10-requirements.sh
  docker/hassio-rootfs/etc/cont-init.d/20-nginx.sh
  docker/hassio-rootfs/etc/cont-init.d/30-dirs.sh
  docker/hassio-rootfs/etc/nginx/includes/mime.types
  docker/hassio-rootfs/etc/nginx/includes/proxy_params.conf
  docker/hassio-rootfs/etc/nginx/includes/server_params.conf
  docker/hassio-rootfs/etc/nginx/includes/ssl_params.conf
  docker/hassio-rootfs/etc/nginx/nginx.conf
  docker/hassio-rootfs/etc/nginx/servers/direct-ssl.disabled
  docker/hassio-rootfs/etc/nginx/servers/direct.disabled
  docker/hassio-rootfs/etc/nginx/servers/ingress.conf
  docker/hassio-rootfs/etc/services.d/esphome/finish
  docker/hassio-rootfs/etc/services.d/esphome/run
  docker/hassio-rootfs/etc/services.d/nginx/finish
  docker/hassio-rootfs/etc/services.d/nginx/run
  esphome/platformio_api.py
  script/ci-custom.py
  script/devcontainer-post-create
Labels: core, small-pr

#1906 Calculating the AC only component of the samples
  esphome/components/ct_clamp/ct_clamp_sensor.cpp
  esphome/components/ct_clamp/ct_clamp_sensor.h
Labels: integration: ct_clamp, small-pr

#2344 Fix error reporting for DHT bit read loop
  esphome/components/dht/dht.cpp
Labels: integration: dht, small-pr

#2347 Also run docker CI when requirements change
  .github/workflows/ci-docker.yml
Labels: small-pr

#2109 Added graphing component
  CODEOWNERS
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  esphome/components/graph/__init__.py
  esphome/components/graph/graph.cpp
  esphome/components/graph/graph.h
  esphome/const.py
  esphome/core/defines.h
Labels: new-integration, needs-tests, integration: display, core, integration: graph

#2335 Properly calculate negative temperatures in sm300d2
  esphome/components/sm300d2/sm300d2.cpp
Labels: small-pr, integration: sm300d2

#2327 Add invert_colors option for st7735
  esphome/components/st7735/display.py
  esphome/components/st7735/st7735.cpp
  esphome/components/st7735/st7735.h
Labels: integration: st7735, small-pr

#2281 Add deep sleep wakeup from touch (#1238)
  esphome/components/deep_sleep/__init__.py
  esphome/components/deep_sleep/deep_sleep_component.cpp
  esphome/components/deep_sleep/deep_sleep_component.h
  esphome/components/esp32_touch/binary_sensor.py
  esphome/components/esp32_touch/esp32_touch.cpp
  esphome/components/esp32_touch/esp32_touch.h
Labels: integration: deep_sleep, integration: esp32_touch, core

#2324 Add ESPHOME_VERSION_CODE define
  esphome/core/version.h
  esphome/writer.py
Labels: core, small-pr

#2349 Install python requirements after apt ones for better caching
  docker/Dockerfile
  docker/build.py
Labels: small-pr

#2325 Introduce call_dump_config() indirection
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_component.h
  esphome/core/application.cpp
  esphome/core/component.cpp
  esphome/core/component.h
Labels: integration: mqtt, core, small-pr

#2350 Bump aioesphomeapi to 9.1.1
  requirements.txt
Labels: small-pr

#2351 CI cache only restore from direct matches
  .github/workflows/ci.yml
Labels: small-pr

#2357 fixes compilation error in rtttl
  esphome/components/rtttl/rtttl.cpp
Labels: integration: rtttl, small-pr

#2359 Fix MDNS not registered
  esphome/components/mdns/__init__.py
Labels: small-pr, integration: mdns

#2353 Fix src_filter in platformio.ini after src_dir change
  platformio.ini
Labels: small-pr

#2352 Fix duplicate defines and restore alphabetical order
  esphome/core/defines.h
Labels: core, small-pr

#2119 Configurable Flash Write Interval
  CODEOWNERS
  esphome/components/esp32/__init__.py
  esphome/components/esp32/preferences.cpp
  esphome/components/esp8266/__init__.py
  esphome/components/esp8266/preferences.cpp
  esphome/components/ota/ota_component.cpp
  esphome/components/preferences/__init__.py
  esphome/components/preferences/syncer.h
  esphome/components/wifi/wifi_component.cpp
  esphome/core/preferences.h
Labels: new-integration, needs-tests, integration: ota, integration: wifi, core, integration: esp32, integration: esp8266, integration: preferences

#2363 Fix OTA password mismatch error.
  esphome/components/ota/ota_component.cpp
Labels: integration: ota, core, small-pr

#2362 Fix ESP8266 preferences not set up
  esphome/components/esp8266/__init__.py
  esphome/components/esp8266/core.cpp
Labels: small-pr, integration: esp8266

#2367 Fix ESP8266 preference loading
  esphome/components/esp8266/preferences.cpp
Labels: small-pr, integration: esp8266

#2256 Allow non-addressable lights in light partitions
  esphome/components/light/addressable_light_wrapper.h
  esphome/components/partition/light.py
  esphome/const.py
  tests/test1.yaml
Labels: integration: light, integration: partition, has-tests, core

#2361 add = to default font glpyh list
  esphome/components/font/__init__.py
Labels: integration: font, core, small-pr

#2370 Fix docker pio settings not applied
  docker/docker_entrypoint.sh
  docker/hassio-rootfs/etc/cont-init.d/30-dirs.sh
  docker/hassio-rootfs/etc/services.d/esphome/run
Labels: small-pr

#2366 Fix OTA crash during reading of new bin file.
  esphome/components/ota/ota_component.cpp
Labels: integration: ota, core, small-pr

#2369 Fix Dallas parent not being set
  esphome/components/dallas/sensor.py
Labels: integration: dallas, small-pr

#2358 Discard SenseAir S8 commands echoes & fix calibration result check
  esphome/components/senseair/senseair.cpp
Labels: integration: senseair, small-pr

#2156 Add support for Daly Smart BMS
  CODEOWNERS
  esphome/components/daly_bms/__init__.py
  esphome/components/daly_bms/binary_sensor.py
  esphome/components/daly_bms/daly_bms.cpp
  esphome/components/daly_bms/daly_bms.h
  esphome/components/daly_bms/sensor.py
  esphome/components/daly_bms/text_sensor.py
  tests/test3.yaml
Labels: new-integration, has-tests, integration: daly_bms, so-close

#2266 Combine code of xiaomi_miscale and xiaomi_miscale2
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
  esphome/components/xiaomi_miscale/sensor.py
  esphome/components/xiaomi_miscale/xiaomi_miscale.cpp
  esphome/components/xiaomi_miscale/xiaomi_miscale.h
  esphome/components/xiaomi_miscale2/sensor.py
  esphome/components/xiaomi_miscale2/xiaomi_miscale2.cpp
  esphome/components/xiaomi_miscale2/xiaomi_miscale2.h
Labels: breaking-change, integration: esp32_ble_tracker, integration: xiaomi_miscale, integration: xiaomi_miscale2

#1844 Add support for Waveshare 7.5 inch (C) bichromatic display (black-and-white only for now)
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper

#1628 ili9341: use larger SPI transfers
  esphome/components/ili9341/ili9341_display.cpp
  esphome/components/ili9341/ili9341_display.h
Labels: integration: ili9341

#2368 Correctly invert the float output state
  esphome/components/output/float_output.cpp
Labels: breaking-change, integration: output, core, small-pr

#1505 Add support for LTR390
  CODEOWNERS
  esphome/components/i2c/i2c.h
  esphome/components/ltr390/__init__.py
  esphome/components/ltr390/ltr390.cpp
  esphome/components/ltr390/ltr390.h
  esphome/components/ltr390/sensor.py
  tests/test2.yaml
Labels: new-integration, integration: i2c, has-tests, core, integration: ltr390

#1982 Allow sloppy Tuya datapoint message length
  esphome/components/tuya/tuya.cpp
Labels: integration: tuya, small-pr

#1859 Mqtt topics to support numeric fan speed
  esphome/components/fan/__init__.py
  esphome/components/mqtt/mqtt_fan.cpp
  esphome/components/mqtt/mqtt_fan.h
  esphome/const.py
  tests/test1.yaml
Labels: integration: fan, integration: mqtt, has-tests, core

#1605 Wifi scan results
  esphome/components/wifi_info/text_sensor.py
  esphome/components/wifi_info/wifi_info_text_sensor.cpp
  esphome/components/wifi_info/wifi_info_text_sensor.h
  esphome/const.py
  tests/test1.yaml
Labels: integration: wifi_info, has-tests, core

#1902 Add SSD1305 support to SSD1306 integration along with few new options
  esphome/components/ssd1306_base/__init__.py
  esphome/components/ssd1306_base/ssd1306_base.cpp
  esphome/components/ssd1306_base/ssd1306_base.h
  esphome/components/ssd1306_i2c/display.py
  esphome/components/ssd1306_i2c/ssd1306_i2c.cpp
  esphome/components/ssd1306_spi/display.py
  esphome/components/ssd1306_spi/ssd1306_spi.cpp
  tests/test1.yaml
Labels: breaking-change, integration: ssd1306_base, integration: ssd1306_i2c, integration: ssd1306_spi, has-tests

#2372 Fix broken compilation due to conflict between #1237 and IDF changes
  esphome/components/ssd1306_base/ssd1306_base.h
Labels: integration: ssd1306_base, small-pr

#2373 Don't generate IDs with the name of loaded integrations
  esphome/core/__init__.py
Labels: core, small-pr

#2364 fix i2c scanning eror for Arduino
  esphome/components/i2c/i2c_bus_arduino.cpp
  esphome/components/i2c/i2c_bus_esp_idf.cpp
Labels: integration: i2c, core, small-pr

#1732 ledc: do not try to write_state to an uninitialized output
  esphome/components/ledc/ledc_output.cpp
  esphome/components/ledc/ledc_output.h
Labels: integration: ledc, small-pr

#2375 Fix two i2c error code return errors
  esphome/components/pn532_i2c/pn532_i2c.cpp
  esphome/components/scd30/scd30.cpp
Labels: integration: scd30, small-pr, by-code-owner, integration: pn532_i2c

#2314 Fix ir_climate on ESP32-C3
  esphome/components/remote_base/remote_base.cpp
  esphome/components/remote_transmitter/remote_transmitter_esp32.cpp
Labels: integration: remote_base, integration: remote_transmitter, small-pr

#2376 Fix ESP8266 ADC
  esphome/components/adc/adc_sensor.cpp
Labels: integration: adc, core, small-pr

#2377 Fix: Pin flags code generation returning FLAG_NONE
  esphome/cpp_generator.py
  esphome/pins.py
Labels: core, small-pr

#2378 Add missing MockObj operators
  esphome/cpp_generator.py
Labels: core

#2380 Fix esp-idf pinmask bit-shift overflow
  esphome/components/esp32/gpio_idf.h
Labels: small-pr, integration: esp32

#2379 Add i2c bus recovery during initialization
  esphome/components/i2c/i2c_bus_arduino.cpp
  esphome/components/i2c/i2c_bus_arduino.h
  esphome/components/i2c/i2c_bus_esp_idf.cpp
  esphome/components/i2c/i2c_bus_esp_idf.h
Labels: integration: i2c, core

#2382 Read unencrypted DSMR telegrams in chunks
  esphome/components/dsmr/dsmr.cpp
  esphome/components/dsmr/dsmr.h
Labels: small-pr, integration: dsmr

#2388 Fix InterruptLock on ESP-IDF
  esphome/components/dallas/__init__.py
  esphome/components/dht/dht.cpp
  esphome/core/helpers.cpp
Labels: integration: dallas, integration: dht, core, by-code-owner

#2387 Fix some issues with wifi driver after IDF refactor
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: integration: wifi, core

#2389 Fix arduino esp32 wifi v2
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
Labels: integration: wifi, core, small-pr

#2386 Misc fixes for esp-idf
  esphome/components/logger/logger.cpp
  esphome/core/config.py
Labels: integration: logger, core, small-pr

#2391 Adds light sensor support for b-parasites
  esphome/components/b_parasite/b_parasite.cpp
  esphome/components/b_parasite/b_parasite.h
  esphome/components/b_parasite/sensor.py
  tests/test2.yaml
Labels: has-tests, by-code-owner, integration: b_parasite

#2394 fix: Setting Tuya string DP value
  esphome/components/tuya/tuya.cpp
Labels: integration: tuya, small-pr

#2278 Tuya rgb support
  esphome/components/rgbct/light.py
  esphome/components/rgbw/light.py
  esphome/components/rgbww/light.py
  esphome/components/tuya/light/__init__.py
  esphome/components/tuya/light/tuya_light.cpp
  esphome/components/tuya/light/tuya_light.h
  esphome/const.py
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: integration: rgbw, integration: rgbww, integration: tuya, core, integration: rgbct

#2329 add fan.cycle_speed action
  esphome/components/fan/__init__.py
  esphome/components/fan/automation.h
Labels: integration: fan, core

#1779 Modbus controller
  CODEOWNERS
  esphome/components/modbus/__init__.py
  esphome/components/modbus/modbus.cpp
  esphome/components/modbus/modbus.h
  esphome/components/modbus_controller/__init__.py
  esphome/components/modbus_controller/binary_sensor/__init__.py
  esphome/components/modbus_controller/binary_sensor/modbus_binarysensor.cpp
  esphome/components/modbus_controller/binary_sensor/modbus_binarysensor.h
  esphome/components/modbus_controller/const.py
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/modbus_controller/modbus_controller.h
  esphome/components/modbus_controller/number/__init__.py
  esphome/components/modbus_controller/number/modbus_number.cpp
  esphome/components/modbus_controller/number/modbus_number.h
  esphome/components/modbus_controller/output/__init__.py
  esphome/components/modbus_controller/output/modbus_output.cpp
  esphome/components/modbus_controller/output/modbus_output.h
  esphome/components/modbus_controller/sensor/__init__.py
  esphome/components/modbus_controller/sensor/modbus_sensor.cpp
  esphome/components/modbus_controller/sensor/modbus_sensor.h
  esphome/components/modbus_controller/switch/__init__.py
  esphome/components/modbus_controller/switch/modbus_switch.cpp
  esphome/components/modbus_controller/switch/modbus_switch.h
  esphome/components/modbus_controller/text_sensor/__init__.py
  esphome/components/modbus_controller/text_sensor/modbus_textsensor.cpp
  esphome/components/modbus_controller/text_sensor/modbus_textsensor.h
  tests/test5.yaml
Labels: new-integration, integration: modbus, has-tests, integration: modbus_controller

#2395 Midea fix
  esphome/components/midea/climate.py
  platformio.ini
Labels: small-pr, by-code-owner, integration: midea

#2191 Extend nfc ndef records with Text
  esphome/components/nfc/ndef_message.cpp
  esphome/components/nfc/ndef_message.h
  esphome/components/nfc/ndef_record.cpp
  esphome/components/nfc/ndef_record.h
  esphome/components/nfc/ndef_record_text.cpp
  esphome/components/nfc/ndef_record_text.h
  esphome/components/nfc/ndef_record_uri.cpp
  esphome/components/nfc/ndef_record_uri.h
Labels: integration: nfc

#2397 Fix NDEF URI casing
  esphome/components/nfc/ndef_record_uri.cpp
  esphome/components/nfc/ndef_record_uri.h
Labels: small-pr, by-code-owner, integration: nfc

#2390 Re-enable TCP nodelay for ESP32
  esphome/components/api/api_frame_helper.cpp
  esphome/components/socket/lwip_raw_tcp_impl.cpp
Labels: integration: api, core, by-code-owner, integration: socket

#2374 Dashboard node import and render in browser
  CODEOWNERS
  esphome/components/dashboard_import/__init__.py
  esphome/components/dashboard_import/dashboard_import.cpp
  esphome/components/dashboard_import/dashboard_import.h
  esphome/components/mdns/mdns_component.cpp
  esphome/core/defines.h
  esphome/dashboard/dashboard.py
  esphome/zeroconf.py
Labels: new-integration, needs-docs, needs-tests, core, dashboard, integration: mdns, integration: dashboard_import

#2404 ccs811: Skip reading data if it is not available/ready
  esphome/components/ccs811/ccs811.cpp
Labels: integration: ccs811, small-pr

#2403 Add missing include for component bme680_bsec
  esphome/components/bme680_bsec/bme680_bsec.h
Labels: small-pr, integration: bme680_bsec

#2401 fix: stop tuya light state getting reset
  esphome/components/tuya/light/tuya_light.cpp
Labels: integration: tuya, small-pr

#1439 Add Current based cover
  CODEOWNERS
  esphome/components/current_based/__init__.py
  esphome/components/current_based/cover.py
  esphome/components/current_based/current_based_cover.cpp
  esphome/components/current_based/current_based_cover.h
  tests/test3.yaml
Labels: new-integration, has-tests, integration: current_based

#1809 Add cover toggle support
  esphome/components/cover/__init__.py
  esphome/components/cover/automation.h
  esphome/components/cover/cover.cpp
  esphome/components/cover/cover.h
  esphome/components/cover/cover_traits.h
  esphome/components/time_based/time_based_cover.cpp
  esphome/components/time_based/time_based_cover.h
  tests/test3.yaml
Labels: integration: cover, integration: time_based, has-tests, core, so-close
