Repository esphome/esphome, pull requests merged in 2021-08, with the labels that each got.

#1873 Fix parity bit calculation for ESP8266SoftwareSerial
  esphome/components/uart/uart_esp8266.cpp
Labels: breaking-change, core, integration: uart, small-pr

#2104 Fix MQTT light include
  esphome/components/mqtt/mqtt_light.cpp
Labels: core, integration: mqtt, small-pr

#2105 Fix missing include in light_traits.h
  esphome/components/light/light_traits.h
Labels: core, integration: light, small-pr

#2067 Add select entities and implement template select
  CODEOWNERS
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/api/list_entities.cpp
  esphome/components/api/list_entities.h
  esphome/components/api/subscribe_state.cpp
  esphome/components/api/subscribe_state.h
  esphome/components/api/util.cpp
  esphome/components/api/util.h
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_select.cpp
  esphome/components/mqtt/mqtt_select.h
  esphome/components/select/__init__.py
  esphome/components/select/automation.h
  esphome/components/select/select.cpp
  esphome/components/select/select.h
  esphome/components/template/select/__init__.py
  esphome/components/template/select/template_select.cpp
  esphome/components/template/select/template_select.h
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/const.py
  esphome/core/application.h
  esphome/core/controller.cpp
  esphome/core/controller.h
  esphome/core/defines.h
  script/ci-custom.py
  tests/test5.yaml
Labels: core, has-tests, integration: api, integration: mqtt, integration: select, integration: template, integration: web_server, new-integration, notable-change

#2088 [duty_cycle] initialize two missing variables
  esphome/components/duty_cycle/duty_cycle_sensor.cpp
  esphome/components/duty_cycle/duty_cycle_sensor.h
Labels: integration: duty_cycle, small-pr

#1694 pmsx003: add standard particle, particle counts
  esphome/components/pmsx003/pmsx003.cpp
  esphome/components/pmsx003/pmsx003.h
  esphome/components/pmsx003/sensor.py
  esphome/const.py
  tests/test3.yaml
Labels: core, has-tests, integration: pmsx003

#2107 Dont force 0 state instead of min_power unless explicit config set
  esphome/components/output/__init__.py
  esphome/components/output/float_output.cpp
  esphome/components/output/float_output.h
Labels: breaking-change, core, integration: output, small-pr

#2108 Fix import
  esphome/components/pmsx003/sensor.py
Labels: integration: pmsx003, small-pr

#2073 Thermostat enhancements and code clean-up
  esphome/components/thermostat/climate.py
  esphome/components/thermostat/thermostat_climate.cpp
  esphome/components/thermostat/thermostat_climate.h
  esphome/const.py
Labels: by-code-owner, core, integration: thermostat

#1665 Add min_save_interval to total_energy/integration for memory wear
  esphome/components/integration/integration_sensor.cpp
  esphome/components/integration/integration_sensor.h
  esphome/components/integration/sensor.py
  esphome/components/total_daily_energy/sensor.py
  esphome/components/total_daily_energy/total_daily_energy.cpp
  esphome/components/total_daily_energy/total_daily_energy.h
  tests/test1.yaml
Labels: has-tests, integration: integration, integration: total_daily_energy

#1610 Add support for Waveshare E-Paper 4.2" B V2
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper

#1751 Add SM16703 to supported FastLED chipsets
  esphome/components/fastled_clockless/light.py
Labels: integration: fastled_clockless, small-pr

#1806 Fix time.on_time triggering if time jumped back
  esphome/components/time/automation.cpp
Labels: integration: time, small-pr

#2093 Migrate COLOR constants to Color class & disallow implicit conversions to Color
  esphome/components/adalight/adalight_light_effect.cpp
  esphome/components/display/display_buffer.cpp
  esphome/components/ili9341/ili9341_display.cpp
  esphome/components/light/addressable_light.h
  esphome/components/light/addressable_light_effect.h
  esphome/components/ssd1306_base/ssd1306_base.cpp
  esphome/components/ssd1322_base/ssd1322_base.cpp
  esphome/components/ssd1325_base/ssd1325_base.cpp
  esphome/components/ssd1327_base/ssd1327_base.cpp
  esphome/components/ssd1331_base/ssd1331_base.cpp
  esphome/components/ssd1351_base/ssd1351_base.cpp
  esphome/components/wled/wled_light_effect.cpp
  esphome/core/color.cpp
  esphome/core/color.h
Labels: core, integration: adalight, integration: display, integration: ili9341, integration: light, integration: ssd1306_base, integration: ssd1322_base, integration: ssd1325_base, integration: ssd1327_base, integration: ssd1331_base, integration: ssd1351_base, integration: wled

#2122 Fix external components not refreshing with default or high refresh time
  esphome/components/external_components/__init__.py
Labels: integration: external_components, small-pr

#2123 1.20.4
  esphome/components/climate/climate.cpp
  esphome/components/climate/climate.h
  esphome/components/display/__init__.py
  esphome/components/duty_cycle/duty_cycle_sensor.cpp
  esphome/components/duty_cycle/duty_cycle_sensor.h
  esphome/components/external_components/__init__.py
  esphome/components/mqtt/mqtt_number.cpp
  esphome/components/pid/pid_climate.cpp
  esphome/components/pid/pid_climate.h
  esphome/components/remote_transmitter/remote_transmitter.h
  esphome/components/remote_transmitter/remote_transmitter_esp32.cpp
  esphome/components/time/automation.cpp
  esphome/const.py
  esphome/pins.py
Labels: merging-to-release

#2118 Various follow-up fixes to color mode changes
  esphome/components/light/light_call.cpp
  esphome/components/light/light_call.h
  esphome/components/light/light_color_values.h
  esphome/components/light/light_effect.h
  esphome/components/light/light_json_schema.h
  esphome/components/light/light_output.h
  esphome/components/light/light_state.h
  esphome/components/light/light_transformer.h
Labels: core, integration: light, small-pr

#2120 Fix crash when using addressable_set with out-of-range indices
  esphome/components/light/automation.h
  esphome/components/light/esp_range_view.h
Labels: core, integration: light, small-pr

#2125 Add state classes to pvvx_mithermometer
  esphome/components/pvvx_mithermometer/sensor.py
Labels: integration: pvvx_mithermometer, small-pr

#2128 Add support for ESP8266 Arduino v3.0.1
  esphome/const.py
Labels: core, small-pr

#2130 Drop legacy esphomeyaml command wrapper code
  esphome/legacy.py
Labels: core, small-pr

#2132 Allow multiple unnamed libraries
  esphome/core/__init__.py
Labels: core, small-pr

#2134 Don't stop effects if brightness goes to zero
  esphome/components/light/light_call.cpp
Labels: integration: light, core, small-pr

#2101 Added support for Hitachi AC424 remote type
  CODEOWNERS
  esphome/components/hitachi_ac424/__init__.py
  esphome/components/hitachi_ac424/climate.py
  esphome/components/hitachi_ac424/hitachi_ac424.cpp
  esphome/components/hitachi_ac424/hitachi_ac424.h
Labels: new-integration, needs-tests, second-opinion-wanted, integration: hitachi_ac424

#2126 Anova fahrenheit support
  esphome/components/anova/anova.cpp
  esphome/components/anova/anova.h
  esphome/components/anova/anova_base.cpp
  esphome/components/anova/anova_base.h
  esphome/components/anova/climate.py
  tests/test1.yaml
Labels: breaking-change, has-tests, by-code-owner, integration: anova

#1937 Tidy HA addon
  docker/rootfs/etc/cont-init.d/30-esphome.sh
  docker/rootfs/etc/cont-init.d/40-migrate.sh
Labels: breaking-change, small-pr

#2137 Removed unused arguments from rgbww code
  esphome/components/light/light_color_values.h
  esphome/components/light/light_state.cpp
  esphome/components/light/light_state.h
  esphome/components/rgbww/rgbww_light_output.h
Labels: integration: light, integration: rgbww, core, small-pr, cleanup

#2139 Only compile protobuf dumping when very verbose logging is enabled
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/proto.cpp
  esphome/components/api/proto.h
  script/api_protobuf/api_protobuf.py
Labels: integration: api, core

#2133 Refactor clang-tidy script to use actual compiler flags and includes
  .clang-tidy
  .github/workflows/ci.yml
  .gitignore
  .vscode/tasks.json
  esphome/components/sgp30/sgp30.cpp
  esphome/components/sgp40/sgp40.cpp
  esphome/components/sntp/sntp_component.cpp
  platformio.ini
  script/build_compile_commands.py
  script/clang-tidy
  script/helpers.py
Labels: integration: sgp30, integration: sntp, core, integration: sgp40

#2019 Add Toshiba AC generic IR remote protocol
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/toshiba_ac_protocol.cpp
  esphome/components/remote_base/toshiba_ac_protocol.h
  tests/test1.yaml
Labels: integration: remote_base, has-tests

#1987 Add new Toshiba AC unit protocol
  CODEOWNERS
  esphome/components/toshiba/climate.py
  esphome/components/toshiba/toshiba.cpp
  esphome/components/toshiba/toshiba.h
Labels: integration: toshiba

#2117 Add Dish Network protocol
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/dish_protocol.cpp
  esphome/components/remote_base/dish_protocol.h
Labels: integration: remote_base

#2127 Fix some issues with deprecated argv syntax detection
  esphome/__main__.py
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#2136 Don't discard cold/warm white brightness in constant brightness mode
  esphome/components/light/light_color_values.h
Labels: integration: light, core, small-pr

#2113 Allow entities to be disabled by default in HA
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/binary_sensor/__init__.py
  esphome/components/climate/__init__.py
  esphome/components/cover/__init__.py
  esphome/components/esp32_camera/__init__.py
  esphome/components/fan/__init__.py
  esphome/components/light/__init__.py
  esphome/components/number/__init__.py
  esphome/components/select/__init__.py
  esphome/components/sensor/__init__.py
  esphome/components/switch/__init__.py
  esphome/components/text_sensor/__init__.py
  esphome/config_validation.py
  esphome/const.py
  esphome/core/component.cpp
  esphome/core/component.h
  tests/test5.yaml
Labels: new-feature, integration: api, integration: binary_sensor, integration: climate, integration: cover, integration: esp32_camera, integration: fan, integration: light, integration: sensor, integration: switch, integration: text_sensor, has-tests, core, integration: number, integration: select

#1675 Adds CGPR1 - Qingping Motion & Ambient light sensor support
  esphome/components/xiaomi_ble/xiaomi_ble.cpp
  esphome/components/xiaomi_ble/xiaomi_ble.h
  esphome/components/xiaomi_cgpr1/__init__.py
  esphome/components/xiaomi_cgpr1/binary_sensor.py
  esphome/components/xiaomi_cgpr1/xiaomi_cgpr1.cpp
  esphome/components/xiaomi_cgpr1/xiaomi_cgpr1.h
  tests/test2.yaml
Labels: new-integration, integration: xiaomi_ble, has-tests, integration: xiaomi_cgpr1

#2141 Don't mark COLOR_* constants as static in header
  esphome/core/color.cpp
  esphome/core/color.h
Labels: core, small-pr

#1974 RFC: status_led: allow to share single light
  esphome/components/status_led/light/__init__.py
  esphome/components/status_led/light/status_led_light.cpp
  esphome/components/status_led/light/status_led_light.h
Labels: integration: status_led, core, new-platform

#1869 waveshare_epaper: add support for ttgo t5 b74 variant display
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper

#2114 Thermostat enhancements 2
  esphome/components/thermostat/climate.py
  esphome/components/thermostat/thermostat_climate.cpp
  esphome/components/thermostat/thermostat_climate.h
  esphome/const.py
  tests/test3.yaml
Labels: breaking-change, integration: thermostat, has-tests, core, by-code-owner

#1881 Dsmr component
  CODEOWNERS
  esphome/components/dsmr/__init__.py
  esphome/components/dsmr/dsmr.cpp
  esphome/components/dsmr/dsmr.h
  esphome/components/dsmr/sensor.py
  esphome/components/dsmr/text_sensor.py
  platformio.ini
  tests/test3.yaml
Labels: new-integration, has-tests, integration: dsmr

#2129 Always abort on allocation when out-of-memory
  esphome/components/display/display_buffer.cpp
  esphome/components/nextion/nextion_upload.cpp
  esphome/core/config.py
Labels: integration: display, integration: nextion, core, small-pr

#2131 Support component tsl2591
  CODEOWNERS
  esphome/components/nextion/base_component.py
  esphome/components/tsl2591/__init__.py
  esphome/components/tsl2591/sensor.py
  esphome/components/tsl2591/tsl2591.cpp
  esphome/components/tsl2591/tsl2591.h
  esphome/const.py
  tests/test1.yaml
Labels: new-integration, integration: nextion, has-tests, core, integration: tsl2591

#1501 Add support for PMSA003i
  CODEOWNERS
  esphome/components/pmsa003i/__init__.py
  esphome/components/pmsa003i/pmsa003i.cpp
  esphome/components/pmsa003i/pmsa003i.h
  esphome/components/pmsa003i/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: pmsa003i

#2096 Increase task wdt timeout for ESP32/ESP32-C3
  esphome/core/application.cpp
  esphome/core/application.h
  esphome/core/application_esp32.cpp
  esphome/core/application_esp8266.cpp
Labels: core

#2142 Format dev temp idedata
  script/helpers.py
Labels: core, small-pr

#2138 Add rgbct and color_temperature light platforms
  CODEOWNERS
  esphome/components/color_temperature/__init__.py
  esphome/components/color_temperature/ct_light_output.h
  esphome/components/color_temperature/light.py
  esphome/components/cwww/light.py
  esphome/components/light/light_color_values.h
  esphome/components/light/light_state.cpp
  esphome/components/light/light_state.h
  esphome/components/rgbct/__init__.py
  esphome/components/rgbct/light.py
  esphome/components/rgbct/rgbct_light_output.h
  esphome/components/rgbww/light.py
  esphome/const.py
  tests/test1.yaml
Labels: new-integration, integration: cwww, integration: light, integration: rgbww, has-tests, core, integration: color_temperature, integration: rgbct

#2079 Warn if underscore character is used in hostname
  esphome/config_validation.py
  esphome/core/config.py
  tests/unit_tests/test_config_validation.py
Labels: has-tests, core, small-pr, second-opinion-wanted

#2059 Break the Tuya set_datapoint_value method into separate methods per datapoint type
  esphome/components/tuya/climate/tuya_climate.cpp
  esphome/components/tuya/fan/tuya_fan.cpp
  esphome/components/tuya/light/tuya_light.cpp
  esphome/components/tuya/switch/tuya_switch.cpp
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
Labels: integration: tuya, second-opinion-wanted

#1664 Feature pipsolar anh
  CODEOWNERS
  esphome/components/pipsolar/__init__.py
  esphome/components/pipsolar/binary_sensor/__init__.py
  esphome/components/pipsolar/output/__init__.py
  esphome/components/pipsolar/output/pipsolar_output.cpp
  esphome/components/pipsolar/output/pipsolar_output.h
  esphome/components/pipsolar/pipsolar.cpp
  esphome/components/pipsolar/pipsolar.h
  esphome/components/pipsolar/sensor/__init__.py
  esphome/components/pipsolar/switch/__init__.py
  esphome/components/pipsolar/switch/pipsolar_switch.cpp
  esphome/components/pipsolar/switch/pipsolar_switch.h
  esphome/components/pipsolar/text_sensor/__init__.py
  esphome/components/pipsolar/text_sensor/pipsolar_textsensor.cpp
  esphome/components/pipsolar/text_sensor/pipsolar_textsensor.h
  tests/test4.yaml
Labels: new-integration, has-tests, integration: pipsolar

#2089 Add deassert_rts_dtr option to force RTS/DTR low when using miniterm
  esphome/__main__.py
  esphome/components/logger/__init__.py
  esphome/const.py
Labels: integration: logger, core, small-pr

#1744 Support for AM43 BLE blind motors
  CODEOWNERS
  esphome/components/am43/__init__.py
  esphome/components/am43/am43.cpp
  esphome/components/am43/am43.h
  esphome/components/am43/am43_base.cpp
  esphome/components/am43/am43_base.h
  esphome/components/am43/cover/__init__.py
  esphome/components/am43/cover/am43_cover.cpp
  esphome/components/am43/cover/am43_cover.h
  esphome/components/am43/sensor.py
  esphome/components/ble_client/ble_client.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: ble_client, by-code-owner, integration: am43

#1954 Fix format warning in Tuya component
  esphome/components/tuya/tuya.cpp
Labels: integration: tuya, small-pr

#2124 Modular light transformers
  esphome/components/light/addressable_light.cpp
  esphome/components/light/addressable_light.h
  esphome/components/light/light_output.cpp
  esphome/components/light/light_output.h
  esphome/components/light/light_state.cpp
  esphome/components/light/light_state.h
  esphome/components/light/light_transformer.h
  esphome/components/light/transformers.h
Labels: integration: light, core

#1969 Support for the DKE screen version of LilyGo-TTGO-T5 V2.3
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper

#1925 Support multiple configuration directories for update-all subcommand
  esphome/__main__.py
  esphome/dashboard/dashboard.py
  esphome/util.py
  esphome/vscode.py
Labels: core, small-pr, dashboard

#2150 Always send all light state values in API
  esphome/components/api/api_connection.cpp
Labels: integration: api, core, small-pr

#2155 Let sensors announce their state_class via mqtt
  esphome/components/mqtt/mqtt_sensor.cpp
Labels: integration: mqtt, core, small-pr

#2158 Thermostat delayed fan mode fix
  esphome/components/thermostat/thermostat_climate.cpp
  esphome/components/thermostat/thermostat_climate.h
Labels: integration: thermostat, small-pr, bugfix, by-code-owner

#2151 Fix native API log level enum values
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
Labels: integration: api, core, small-pr, by-code-owner

#2160 1.21.0b2
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/mqtt/mqtt_sensor.cpp
  esphome/components/thermostat/thermostat_climate.cpp
  esphome/components/thermostat/thermostat_climate.h
  esphome/const.py
Labels: merging-to-beta

#2168 Initialize color temperature to value within range if possible
  esphome/components/light/light_state.cpp
Labels: integration: light, core, small-pr

#2161 Add a dummy color temp
  esphome/components/hbridge/hbridge_light_output.h
Labels: small-pr, integration: hbridge

#2162 Minor code cleanup in light components
  esphome/components/light/addressable_light.cpp
  esphome/components/light/base_light_effects.h
Labels: integration: light, core, small-pr

#2169 Add Gas device class to DSMR component
  esphome/components/dsmr/sensor.py
  esphome/components/sensor/__init__.py
Labels: integration: sensor, core, small-pr, integration: dsmr

#2170 Add device class update to binary sensor
  esphome/components/binary_sensor/__init__.py
  esphome/const.py
Labels: integration: binary_sensor, core, small-pr

#2163 Total daily energy methods
  esphome/components/total_daily_energy/sensor.py
  esphome/components/total_daily_energy/total_daily_energy.cpp
  esphome/components/total_daily_energy/total_daily_energy.h
Labels: integration: total_daily_energy

#2167 Send dirty states when screen wakes up
  esphome/components/nextion/nextion.cpp
Labels: integration: nextion, small-pr

#2174 Remove specified accuracy_decimals from total_daily_energy
  esphome/components/total_daily_energy/sensor.py
Labels: integration: total_daily_energy, small-pr

#2166 Add new total_increasing state-class for Home Assistant 2021.9+
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/sensor/__init__.py
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
  esphome/const.py
Labels: integration: api, integration: sensor, core, small-pr

#2175 1.21.0b3
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/dsmr/sensor.py
  esphome/components/hbridge/hbridge_light_output.h
  esphome/components/light/light_state.cpp
  esphome/components/nextion/nextion.cpp
  esphome/components/sensor/__init__.py
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
  esphome/components/total_daily_energy/sensor.py
  esphome/const.py
Labels: merging-to-beta

#2181 Set SDM voltage state class to measurement
  esphome/components/sdm_meter/sensor.py
Labels: small-pr, by-code-owner, integration: sdm_meter

#2186 Light: include ON_OFF capability to BRIGHTNESS ColorMode
  esphome/components/light/color_mode.h
Labels: integration: light, core, small-pr

#2145 Add macros header with more usable Arduino version defines
  esphome/components/esp8266_pwm/esp8266_pwm.cpp
  esphome/components/neopixelbus/neopixelbus_light.h
  esphome/components/wifi/wifi_component.h
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/core/esphal.cpp
  esphome/core/macros.h
Labels: integration: esp8266_pwm, integration: neopixelbus, integration: wifi, core, cleanup

#2148 Clean-up constant definitions
  esphome/components/api/api_connection.cpp
  esphome/components/bme680_bsec/bme680_bsec.cpp
  esphome/components/bme680_bsec/bme680_bsec.h
  esphome/components/esp32_ble_server/ble_server.cpp
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/wifi/__init__.py
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
  esphome/components/wifi/wifi_component_esp32.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/core/defines.h
  esphome/core/version.h
Labels: integration: api, integration: mqtt, integration: wifi, core, integration: bme680_bsec, integration: esp32_ble_server

#1963 Remove double scheduling from addressable lights
  esphome/components/adalight/adalight_light_effect.cpp
  esphome/components/e131/e131_addressable_light_effect.cpp
  esphome/components/fastled_base/fastled_light.cpp
  esphome/components/fastled_base/fastled_light.h
  esphome/components/light/addressable_light.cpp
  esphome/components/light/addressable_light.h
  esphome/components/light/addressable_light_effect.h
  esphome/components/light/light_output.h
  esphome/components/light/light_state.cpp
  esphome/components/neopixelbus/neopixelbus_light.h
  esphome/components/partition/light_partition.h
  esphome/components/wled/wled_light_effect.cpp
Labels: integration: adalight, integration: e131, integration: fastled_base, integration: light, integration: neopixelbus, integration: partition, integration: wled, core

#2140 Reduce static RAM usage
  esphome/components/light/light_call.cpp
  esphome/components/ota/ota_component.cpp
  esphome/components/sntp/sntp_component.cpp
  esphome/components/time/real_time_clock.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/core/log.h
Labels: integration: light, integration: ota, integration: sntp, integration: time, integration: wifi, core

#2187 Fix addressable light control without transitions & effects with transitions
  esphome/components/light/addressable_light.cpp
Labels: integration: light, core, small-pr

#2194 Fix template select log message mentioning number
  esphome/components/template/select/template_select.cpp
Labels: integration: template, core, small-pr

#2185 Add deprecated attribute to some deprecated types/methods
  esphome/components/api/api_connection.cpp
  esphome/components/cover/cover.h
  esphome/components/fan/fan_helpers.cpp
  esphome/components/fan/fan_state.h
  esphome/components/mqtt/mqtt_fan.cpp
  esphome/components/web_server/web_server.cpp
Labels: integration: api, integration: cover, integration: fan, integration: mqtt, integration: web_server, core, small-pr

#2070 Store source package in Component for debugging
  esphome/core/application.cpp
  esphome/core/component.cpp
  esphome/core/component.h
  esphome/core/scheduler.cpp
  esphome/cpp_helpers.py
  tests/unit_tests/test_core.py
  tests/unit_tests/test_cpp_helpers.py
Labels: has-tests, core

#2183 mqtt_light: remove legacy API config that is not compatible with HA 2021.8
  esphome/components/mqtt/mqtt_light.cpp
Labels: integration: mqtt, core, small-pr

#2182 Tuya fan component uses enum datapoint type for speed instead of integer
  esphome/components/tuya/fan/tuya_fan.cpp
Labels: integration: tuya, small-pr

#2198 Fix template select lambda
  esphome/components/template/select/__init__.py
Labels: integration: template, core, small-pr

#1840 Send Celsius temperature unit in MQTT discovery message
  esphome/components/mqtt/mqtt_climate.cpp
Labels: integration: mqtt, core, small-pr

#2199 2021.8.1
  esphome/components/light/addressable_light.cpp
  esphome/components/light/color_mode.h
  esphome/components/mqtt/mqtt_climate.cpp
  esphome/components/mqtt/mqtt_light.cpp
  esphome/components/template/select/__init__.py
  esphome/components/tuya/fan/tuya_fan.cpp
  esphome/const.py
  setup.py
Labels: merging-to-release

#2180 ST7789V: Make backlight_pin optional
  esphome/components/st7789v/display.py
Labels: integration: st7789v, small-pr

#2202 Revert "Light: include ON_OFF capability to BRIGHTNESS ColorMode"
  esphome/components/light/color_mode.h
Labels: integration: light, core, small-pr

#2203 2021.8.2
  esphome/components/light/color_mode.h
  esphome/const.py
Labels: merging-to-release

#2219 cs_pin made optional for ili9341
  esphome/components/ili9341/display.py
Labels: integration: ili9341, small-pr

#2210 Fix Packages when using MQTT
  esphome/config_validation.py
Labels: core, small-pr

#2190 Update known boards
  esphome/boards.py
Labels: core

#2211 Bump dashboard to 20210826.0
  requirements.txt
Labels: dependencies, small-pr

#2196 Remove footer validation for fujitsu_general
  esphome/components/fujitsu_general/fujitsu_general.cpp
Labels: integration: fujitsu_general, small-pr

#2220 Glmnet schema 202105
  script/build_jsonschema.py
Labels: core

#2212 Add H-Bridge fan component
  CODEOWNERS
  esphome/components/hbridge/__init__.py
  esphome/components/hbridge/fan/__init__.py
  esphome/components/hbridge/fan/hbridge_fan.cpp
  esphome/components/hbridge/fan/hbridge_fan.h
  esphome/components/hbridge/light/__init__.py
  esphome/components/hbridge/light/hbridge_light_output.h
  esphome/const.py
Labels: core, new-platform, integration: hbridge

#1656 Support for the AirThings Wave Plus
  CODEOWNERS
  esphome/components/airthings_ble/__init__.py
  esphome/components/airthings_ble/airthings_listener.cpp
  esphome/components/airthings_ble/airthings_listener.h
  esphome/components/airthings_wave_plus/__init__.py
  esphome/components/airthings_wave_plus/airthings_wave_plus.cpp
  esphome/components/airthings_wave_plus/airthings_wave_plus.h
  esphome/components/airthings_wave_plus/sensor.py
  esphome/const.py
  tests/test2.yaml
Labels: new-integration, has-tests, core, integration: airthings_wave_plus, integration: airthings_ble, so-close

#2226 Fix some lint errors in pylint 2.10.2
  esphome/components/mcp23xxx_base/__init__.py
  esphome/components/web_server/__init__.py
  esphome/config_validation.py
  esphome/dashboard/dashboard.py
  esphome/helpers.py
  esphome/writer.py
Labels: integration: web_server, core, small-pr, by-code-owner, dashboard, integration: mcp23xxx_base

#2201 Add transitions to light flash
  esphome/components/light/__init__.py
  esphome/components/light/light_state.cpp
  esphome/components/light/light_state.h
  esphome/components/light/transformers.h
  esphome/components/power_supply/power_supply.cpp
  esphome/const.py
Labels: integration: light, integration: power_supply, core
