Repository esphome/esphome, pull requests merged in 2021-05, with the labels that each got.

#1177 BLE client support on ESP32
  CODEOWNERS
  esphome/components/ble_client/__init__.py
  esphome/components/ble_client/automation.h
  esphome/components/ble_client/ble_client.cpp
  esphome/components/ble_client/ble_client.h
  esphome/components/ble_client/sensor/__init__.py
  esphome/components/ble_client/sensor/automation.h
  esphome/components/ble_client/sensor/ble_sensor.cpp
  esphome/components/ble_client/sensor/ble_sensor.h
  esphome/components/ble_client/switch/__init__.py
  esphome/components/ble_client/switch/ble_switch.cpp
  esphome/components/ble_client/switch/ble_switch.h
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
  esphome/components/esp32_ble_tracker/queue.h
  esphome/config.py
  esphome/const.py
  tests/test1.yaml
Labels: core, has-tests, integration: ble_client, integration: esp32_ble_tracker, new-integration

#1733 Update email addresses
  CODE_OF_CONDUCT.md
  setup.py
Labels: small-pr

#1739 Ble client fixes
  esphome/components/ble_client/ble_client.cpp
  esphome/components/ble_client/ble_client.h
  esphome/components/ble_client/sensor/ble_sensor.cpp
Labels: by-code-owner, integration: ble_client, small-pr

#1654 Fix #1940: Implement speed_count in TuyaFan
  esphome/components/tuya/fan/__init__.py
  esphome/components/tuya/fan/tuya_fan.cpp
  esphome/components/tuya/fan/tuya_fan.h
Labels: integration: tuya, small-pr

#1339 Add Hyperion Support
  esphome/components/wled/wled_light_effect.cpp
Labels: Hacktoberfest, integration: wled, small-pr

#1392 Do not call component update on failed components
  esphome/core/base_automation.h
Labels: core, small-pr

#1373 Call Stepper::should_step_ every loop iteration
  esphome/components/uln2003/uln2003.cpp
Labels: integration: uln2003, small-pr

#1409 Add support for controlling Tuya fan direction
  esphome/components/tuya/fan/__init__.py
  esphome/components/tuya/fan/tuya_fan.cpp
  esphome/components/tuya/fan/tuya_fan.h
Labels: integration: tuya, small-pr

#1734 Change wifi signal strength unit to dBm
  esphome/components/wifi_signal/sensor.py
Labels: breaking-change, integration: wifi_signal, small-pr

#1746 1.17.1
  esphome/__main__.py
  esphome/api/client.py
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp8266_pwm/esp8266_pwm.cpp
  esphome/components/font/__init__.py
  esphome/components/rc522/rc522.cpp
  esphome/components/rc522/rc522.h
  esphome/components/rc522_i2c/rc522_i2c.cpp
  esphome/components/rc522_spi/rc522_spi.cpp
  esphome/components/sensor/__init__.py
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
  esphome/components/servo/servo.cpp
  esphome/components/xiaomi_ble/xiaomi_ble.cpp
  esphome/components/xiaomi_cgg1/sensor.py
  esphome/components/xiaomi_cgg1/xiaomi_cgg1.cpp
  esphome/components/xiaomi_cgg1/xiaomi_cgg1.h
  esphome/config.py
  esphome/const.py
  esphome/core/base_automation.h
  esphome/core/helpers.h
  esphome/core/log.h
  esphome/helpers.py
  esphome/log.py
  esphome/mqtt.py
  esphome/wizard.py
  requirements.txt
Labels: merging-to-master

#1716 Added an option to disable mDNS
  esphome/components/ethernet/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/network/__init__.py
  esphome/components/wifi/__init__.py
  esphome/components/wifi/wifi_component.cpp
  esphome/const.py
  esphome/core.py
  esphome/core/util.cpp
  esphome/core/util.h
  esphome/core_config.py
  tests/test1.yaml
  tests/test2.yaml
  tests/unit_tests/test_core.py
Labels: core, has-tests, integration: ethernet, integration: network, integration: wifi

#1630 Implement external custom components installing from YAML
  .github/workflows/ci.yml
  .github/workflows/release-dev.yml
  .github/workflows/release.yml
  esphome/components/external_components/__init__.py
  esphome/components/http_request/__init__.py
  esphome/config.py
  esphome/config_validation.py
  esphome/const.py
  esphome/core/__init__.py
  esphome/core/config.py
  esphome/helpers.py
  esphome/loader.py
  esphome/writer.py
  script/build_jsonschema.py
  tests/test4.yaml
Labels: core, has-tests, integration: external_components, integration: http_request, new-integration

#1759 1.17.2
  esphome/components/neopixelbus/neopixelbus_light.h
  esphome/const.py
Labels: merging-to-master

#1760 Update copyright year
  esphome/dashboard/templates/index.html
  esphome/dashboard/templates/login.html
Labels: core, dashboard, small-pr

#1713 Fix error when using %% in printf format.
  esphome/components/logger/__init__.py
Labels: core, integration: logger, small-pr

#1433 Fix build issues for idf 4.2 (Support ESP32-S2)
  esphome/components/logger/logger.cpp
  esphome/components/wifi/wifi_component.h
  esphome/components/wifi/wifi_component_esp32.cpp
Labels: core, integration: logger, integration: wifi

#1764 Use core constants for sample duration on bh1750
  esphome/components/bh1750/bh1750.cpp
  esphome/components/bh1750/bh1750.h
  esphome/components/bh1750/sensor.py
  tests/test1.yaml
Labels: breaking-change, has-tests, integration: bh1750, small-pr

#1498 Adding delay to aht10.cpp (issue #1635)
  esphome/components/aht10/aht10.cpp
Labels: integration: aht10, small-pr

#1414 Mitsubishi Heat Pump - Fixed default transmit_state to be generic instead of for a specific type of heat pump
  CODEOWNERS
  esphome/components/mitsubishi/climate.py
  esphome/components/mitsubishi/mitsubishi.cpp
Labels: integration: mitsubishi, small-pr

#1416 Add function to set SDS011 sensor in sleeping mode
  esphome/components/sds011/sds011.cpp
  esphome/components/sds011/sds011.h
Labels: integration: sds011, small-pr

#1736 Add sm2135 component
  CODEOWNERS
  esphome/components/sm2135/__init__.py
  esphome/components/sm2135/output.py
  esphome/components/sm2135/sm2135.cpp
  esphome/components/sm2135/sm2135.h
  tests/test3.yaml
Labels: has-tests, integration: sm2135, new-integration

#1775 1.18.0b3
  CODEOWNERS
  esphome/components/async_tcp/__init__.py
  esphome/components/bh1750/bh1750.cpp
  esphome/components/bh1750/bh1750.h
  esphome/components/bh1750/sensor.py
  esphome/components/sm2135/__init__.py
  esphome/components/sm2135/output.py
  esphome/components/sm2135/sm2135.cpp
  esphome/components/sm2135/sm2135.h
  esphome/const.py
  platformio.ini
  tests/test1.yaml
  tests/test3.yaml
Labels: merging-to-beta

#1681 Autorepeat filter for the binary sensors
  esphome/components/binary_sensor/__init__.py
  esphome/components/binary_sensor/filter.cpp
  esphome/components/binary_sensor/filter.h
  tests/test4.yaml
Labels: core, has-tests, integration: binary_sensor

#1757 Add action to set total pulses on pulse_meter
  esphome/components/pulse_meter/automation.h
  esphome/components/pulse_meter/pulse_meter_sensor.cpp
  esphome/components/pulse_meter/pulse_meter_sensor.h
  esphome/components/pulse_meter/sensor.py
  tests/test1.yaml
Labels: has-tests, integration: pulse_meter

#1690 Add more json schema generation features
  esphome/components/light/effects.py
  esphome/config_validation.py
  script/build_jsonschema.py
Labels: core, integration: light

#1782 Allow RC522 components to have multiple configurations
  esphome/components/rc522/__init__.py
  esphome/components/rc522_i2c/__init__.py
  esphome/components/rc522_spi/__init__.py
  tests/test1.yaml
Labels: has-tests, integration: rc522, integration: rc522_i2c, integration: rc522_spi, small-pr

#1790 Generate protobuf code closer to formatted files
  esphome/components/api/api_pb2.h
  script/api_protobuf/api_protobuf.py
Labels: core, integration: api

#1770 Add attribute support to Home Assistant sensors
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/api/custom_api_device.h
  esphome/components/homeassistant/binary_sensor/__init__.py
  esphome/components/homeassistant/binary_sensor/homeassistant_binary_sensor.cpp
  esphome/components/homeassistant/binary_sensor/homeassistant_binary_sensor.h
  esphome/components/homeassistant/sensor/__init__.py
  esphome/components/homeassistant/sensor/homeassistant_sensor.cpp
  esphome/components/homeassistant/sensor/homeassistant_sensor.h
  esphome/components/homeassistant/text_sensor/__init__.py
  esphome/components/homeassistant/text_sensor/homeassistant_text_sensor.cpp
  esphome/components/homeassistant/text_sensor/homeassistant_text_sensor.h
  esphome/const.py
  tests/custom.h
  tests/test2.yaml
Labels: core, has-tests, integration: api, integration: homeassistant

#1789 Bump Arduino SDK for ESP32 to 1.0.6
  esphome/components/ethernet/ethernet_component.cpp
  esphome/core/config.py
  esphome/core/util.h
Labels: core, integration: ethernet, small-pr

#1787 Added bottom segment to digit 9
  esphome/components/tm1637/tm1637.cpp
Labels: integration: tm1637, small-pr

#1542 Add support for the XPT2046 touchscreen controller
  CODEOWNERS
  esphome/components/xpt2046/__init__.py
  esphome/components/xpt2046/binary_sensor.py
  esphome/components/xpt2046/xpt2046.cpp
  esphome/components/xpt2046/xpt2046.h
  tests/test4.yaml
Labels: has-tests, integration: xpt2046, new-integration

#1791 Revert "Added bottom segment to digit 9"
  esphome/components/tm1637/tm1637.cpp
Labels: integration: tm1637, small-pr

#1792 1.18.0b4
  esphome/components/rc522/__init__.py
  esphome/components/rc522_i2c/__init__.py
  esphome/components/rc522_spi/__init__.py
  esphome/const.py
  tests/test1.yaml
Labels: merging-to-beta

#1657 Introduce new async-def coroutine syntax
  esphome/__main__.py
  esphome/automation.py
  esphome/components/ota/__init__.py
  esphome/core/__init__.py
  esphome/core/config.py
  esphome/coroutine.py
  esphome/cpp_generator.py
  requirements_test.txt
  tests/unit_tests/test_core.py
  tests/unit_tests/test_cpp_helpers.py
Labels: core, has-tests, integration: ota

#1436 Add on_tag_removed trigger to pn532
  esphome/components/pn532/__init__.py
  esphome/components/pn532/pn532.cpp
  esphome/components/pn532/pn532.h
  esphome/const.py
  tests/test1.yaml
Labels: core, has-tests, integration: pn532

#1798 Do not use Serial2 for ESP32C3, too
  esphome/components/logger/logger.cpp
Labels: core, integration: logger, small-pr

#1701 Use latest version of upstream NeoPixelBus library
  esphome/components/neopixelbus/light.py
  platformio.ini
Labels: integration: neopixelbus, small-pr

#1726 Added fan triggers on_turn_on and on_turn_off
  esphome/components/fan/__init__.py
  esphome/components/fan/automation.h
Labels: core, integration: fan

#1803 tm1637 - support 6 character displays
  esphome/components/tm1637/tm1637.cpp
  esphome/components/tm1637/tm1637.h
Labels: integration: tm1637, small-pr

#1658 Convert core components to async-def coroutine syntax
  esphome/components/api/__init__.py
  esphome/components/as3935/__init__.py
  esphome/components/async_tcp/__init__.py
  esphome/components/binary_sensor/__init__.py
  esphome/components/captive_portal/__init__.py
  esphome/components/climate/__init__.py
  esphome/components/climate_ir/__init__.py
  esphome/components/cover/__init__.py
  esphome/components/display/__init__.py
  esphome/components/fan/__init__.py
  esphome/components/globals/__init__.py
  esphome/components/i2c/__init__.py
  esphome/components/json/__init__.py
  esphome/components/light/__init__.py
  esphome/components/logger/__init__.py
  esphome/components/mqtt/__init__.py
  esphome/components/output/__init__.py
  esphome/components/sensor/__init__.py
  esphome/components/spi/__init__.py
  esphome/components/status_led/__init__.py
  esphome/components/switch/__init__.py
  esphome/components/text_sensor/__init__.py
  esphome/components/time/__init__.py
  esphome/components/uart/__init__.py
  esphome/components/web_server/__init__.py
  esphome/components/web_server_base/__init__.py
  esphome/components/wifi/__init__.py
  esphome/cpp_generator.py
  esphome/cpp_helpers.py
Labels: code-quality

#1810 Lights & GPIO Switch inverted restore mode
  esphome/components/gpio/switch/__init__.py
  esphome/components/gpio/switch/gpio_switch.cpp
  esphome/components/gpio/switch/gpio_switch.h
  esphome/components/light/__init__.py
  esphome/components/light/light_state.cpp
  esphome/components/light/light_state.h
Labels: core, integration: gpio, integration: light

#1700 allow default option for typed_schema
  esphome/config_validation.py
Labels: core, small-pr

#1707 Refactor font creation to save stack space
  esphome/codegen.py
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  esphome/components/font/__init__.py
  esphome/cpp_generator.py
Labels: core, integration: display, integration: font

#1710 BME680 BSEC: Allow sample rate overrides for T/P/H sensors
  esphome/components/bme680_bsec/__init__.py
  esphome/components/bme680_bsec/bme680_bsec.cpp
  esphome/components/bme680_bsec/bme680_bsec.h
  esphome/components/bme680_bsec/sensor.py
  esphome/components/bme680_bsec/text_sensor.py
Labels: by-code-owner, integration: bme680_bsec

#1687 Add the on_page_change display trigger
  esphome/components/display/__init__.py
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  tests/test1.yaml
Labels: core, has-tests, integration: display

#1484 Allow segments in a light partition to be reversed
  esphome/components/partition/light.py
  esphome/components/partition/light_partition.h
  esphome/const.py
Labels: core, integration: partition, small-pr

#1822 Document considerations when changing recommended framework version
  esphome/core/config.py
Labels: core, small-pr

#1825 Update sensor device classes from HA
  esphome/components/sensor/__init__.py
  esphome/const.py
Labels: core, integration: sensor, small-pr

#1815 Update platformio.ini settings and fix test apps
  .gitignore
  platformio.ini
  tests/dummy_main.cpp
  tests/livingroom32.cpp
Labels: has-tests, small-pr

#1833 lambda condition should return
  esphome/automation.py
Labels: core, small-pr

#1692 fix dallas pin validation
  esphome/components/dallas/__init__.py
Labels: integration: dallas, small-pr

#1836 Fix typo in wizard
  esphome/wizard.py
Labels: core, small-pr

#1631 add validate to components
  esphome/components/cse7766/sensor.py
  esphome/components/dfplayer/__init__.py
  esphome/components/ethernet/__init__.py
  esphome/components/fastled_clockless/light.py
  esphome/components/gps/__init__.py
  esphome/components/hm3301/sensor.py
  esphome/components/neopixelbus/light.py
  esphome/components/rc522_spi/__init__.py
  esphome/components/rtttl/__init__.py
  esphome/components/sim800l/__init__.py
  esphome/components/spi/__init__.py
  esphome/components/uart/__init__.py
  esphome/components/wifi/__init__.py
  esphome/config.py
  esphome/loader.py
  tests/test3.yaml
Labels: by-code-owner, core, has-tests, integration: cse7766, integration: dfplayer, integration: ethernet, integration: fastled_clockless, integration: gps, integration: hm3301, integration: neopixelbus, integration: rc522_spi, integration: rtttl, integration: sim800l, integration: spi, integration: uart, integration: wifi

#1847 Added bottom segment to digit 9
  esphome/components/max7219/max7219.cpp
  esphome/components/tm1637/tm1637.cpp
Labels: integration: max7219, integration: tm1637, small-pr

#1260 Add support for SDMXXX energy meters
  CODEOWNERS
  esphome/components/atm90e32/sensor.py
  esphome/components/modbus/__init__.py
  esphome/components/modbus/modbus.cpp
  esphome/components/modbus/modbus.h
  esphome/components/sdm_meter/__init__.py
  esphome/components/sdm_meter/sdm_meter.cpp
  esphome/components/sdm_meter/sdm_meter.h
  esphome/components/sdm_meter/sdm_meter_registers.h
  esphome/components/sdm_meter/sensor.py
  esphome/const.py
  tests/test3.yaml
Labels: core, has-tests, integration: atm90e32, integration: modbus, integration: sdm_meter, new-integration, second-opinion-wanted

#1474 Add CS5460A power-meter component
  CODEOWNERS
  esphome/components/cs5460a/__init__.py
  esphome/components/cs5460a/cs5460a.cpp
  esphome/components/cs5460a/cs5460a.h
  esphome/components/cs5460a/sensor.py
  tests/test1.yaml
Labels: has-tests, integration: cs5460a, new-integration

#1813 Drop 128x160 ESP-32 camera resolution
  esphome/components/esp32_camera/__init__.py
  esphome/components/esp32_camera/esp32_camera.cpp
  esphome/components/esp32_camera/esp32_camera.h
  tests/test4.yaml
Labels: breaking-change, has-tests, integration: esp32_camera, small-pr

#1819 Rf Bridge: add bucket sniffing and beep functionality
  esphome/components/rf_bridge/__init__.py
  esphome/components/rf_bridge/rf_bridge.cpp
  esphome/components/rf_bridge/rf_bridge.h
Labels: integration: rf_bridge

#1831 Use built-in validation for altitude
  esphome/components/scd30/sensor.py
Labels: integration: scd30, small-pr

#1850 Don't check uart settings for modbus
  esphome/components/modbus/modbus.cpp
Labels: integration: modbus, small-pr

#1817 I2c raw cmds with multiplexer
  esphome/components/i2c/i2c.cpp
  esphome/components/i2c/i2c.h
  esphome/components/mcp4725/mcp4725.cpp
  esphome/components/ssd1306_i2c/ssd1306_i2c.cpp
  esphome/components/ssd1327_i2c/ssd1327_i2c.cpp
Labels: core, integration: i2c, integration: mcp4725, integration: ssd1306_i2c, integration: ssd1327_i2c
