Repository esphome/esphome, pull requests merged in 2021-10, with the labels that each got.

#2416 Fix attach_interrupt(...) for esp-idf framework
  esphome/components/esp32/gpio_idf.cpp
  esphome/components/esp32/gpio_idf.h
Labels: integration: esp32

#2412 Fix I2C recovery on Arduino
  esphome/components/i2c/i2c_bus_arduino.cpp
  esphome/components/i2c/i2c_bus_arduino.h
Labels: integration: i2c, core

#2424 Fix ESP32 esp-idf OTA updates
  esphome/components/ota/ota_backend.h
  esphome/components/ota/ota_backend_arduino_esp32.cpp
  esphome/components/ota/ota_backend_arduino_esp32.h
  esphome/components/ota/ota_backend_arduino_esp8266.cpp
  esphome/components/ota/ota_backend_arduino_esp8266.h
  esphome/components/ota/ota_backend_esp_idf.cpp
  esphome/components/ota/ota_backend_esp_idf.h
  esphome/components/ota/ota_component.cpp
Labels: integration: ota, core

#2428 Add local MAC address to WiFi info
  esphome/components/wifi/wifi_component.cpp
Labels: integration: wifi, core, small-pr

#2427 Thermostat publish state fix
  esphome/components/thermostat/thermostat_climate.cpp
  esphome/components/thermostat/thermostat_climate.h
Labels: integration: thermostat, small-pr, bugfix, by-code-owner

#2425 Convert time to use tzdata
  esphome/components/time/__init__.py
  requirements.txt
Labels: integration: time, by-code-owner

#2435 Disable dependency finder on ESP32
  esphome/components/airthings_wave_plus/sensor.py
  esphome/components/captive_portal/__init__.py
  esphome/components/esp32/__init__.py
  esphome/components/ethernet/__init__.py
  esphome/components/http_request/__init__.py
  esphome/components/mcp3008/__init__.py
  esphome/components/mdns/__init__.py
  esphome/components/ota/__init__.py
  esphome/components/spi/__init__.py
  esphome/components/web_server_base/__init__.py
Labels: integration: captive_portal, integration: ethernet, integration: http_request, integration: mcp3008, integration: ota, integration: spi, integration: web_server_base, core, integration: airthings_wave_plus, integration: esp32, integration: mdns

#2436 Use size_t to fix comparision using RISC-V toolchain
  esphome/components/ota/ota_component.cpp
Labels: integration: ota, core, small-pr

#2434 Fix socket abstraction for ESP-IDF v4
  esphome/components/socket/bsd_sockets_impl.cpp
Labels: merging-to-release

#2438 Fix I2C recovery ESP32 esp-idf
  esphome/components/i2c/i2c_bus_arduino.cpp
  esphome/components/i2c/i2c_bus_esp_idf.cpp
  esphome/components/i2c/i2c_bus_esp_idf.h
Labels: integration: i2c, core

#2441 Fix esp32 no longer has Hash internal lib
  esphome/components/ota/__init__.py
  esphome/components/wifi/__init__.py
  platformio.ini
Labels: integration: ota, integration: wifi, core, small-pr

#2442 Fix restoring globals
  esphome/cpp_generator.py
Labels: core, small-pr

#2433 Always upload using esptool
  esphome/__main__.py
  esphome/core/__init__.py
  esphome/platformio_api.py
  esphome/storage_json.py
Labels: core

#2440 Add support for Airthing Wave Mini
  CODEOWNERS
  esphome/components/airthings_wave_mini/__init__.py
  esphome/components/airthings_wave_mini/airthings_wave_mini.cpp
  esphome/components/airthings_wave_mini/airthings_wave_mini.h
  esphome/components/airthings_wave_mini/sensor.py
  tests/test2.yaml
Labels: new-integration, has-tests, integration: airthings_wave_mini

#2439 Improved validation for Addressable Light Partition Segments
  esphome/components/partition/light.py
Labels: integration: partition

#2447 Fix compilation error for shutdown component
  esphome/components/shutdown/shutdown_switch.cpp
Labels: integration: shutdown, small-pr

#2450 Add log line to show if API encryption is being used
  esphome/components/api/api_server.cpp
Labels: integration: api, core, small-pr

#2448 Only ping once every two seconds
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#2451 Bump esphome-dashboard to 20211006.0
  requirements.txt
Labels: small-pr

#2446 I2C re-introduce very verbose logging
  esphome/components/i2c/i2c_bus_arduino.cpp
  esphome/components/i2c/i2c_bus_esp_idf.cpp
Labels: integration: i2c, core

#2308 convert SCD30 into Component, polls dataready register
  esphome/components/scd30/scd30.cpp
  esphome/components/scd30/scd30.h
  esphome/components/scd30/sensor.py
Labels: integration: scd30

#2641 Add option to use MQTT abbreviations
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_binary_sensor.cpp
  esphome/components/mqtt/mqtt_climate.cpp
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_const.h
  esphome/components/mqtt/mqtt_cover.cpp
  esphome/components/mqtt/mqtt_fan.cpp
  esphome/components/mqtt/mqtt_light.cpp
  esphome/components/mqtt/mqtt_number.cpp
  esphome/components/mqtt/mqtt_select.cpp
  esphome/components/mqtt/mqtt_sensor.cpp
  esphome/components/mqtt/mqtt_switch.cpp
  esphome/const.py
  tests/test1.yaml
Labels: breaking-change, integration: mqtt, has-tests, core

#2644 Fix deep sleep invert_wakeup mode
  esphome/components/deep_sleep/deep_sleep_component.cpp
Labels: integration: deep_sleep, core, small-pr

#2640 Expose webserver_port to the native API
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/web_server/__init__.py
  esphome/core/defines.h
Labels: integration: api, integration: web_server, core, small-pr
