Repository esphome/esphome, pull requests merged in 2021-04, with the labels that each got.

#1646 Add the display.is_displaying_page condition
  esphome/components/display/__init__.py
  esphome/components/display/display_buffer.h
  tests/test1.yaml
Labels: core, has-tests, integration: display

#1313 Add BME680 via BSEC integration
  CODEOWNERS
  esphome/components/bme680_bsec/__init__.py
  esphome/components/bme680_bsec/bme680_bsec.cpp
  esphome/components/bme680_bsec/bme680_bsec.h
  esphome/components/bme680_bsec/sensor.py
  esphome/components/bme680_bsec/text_sensor.py
Labels: Hacktoberfest, integration: bme680_bsec, new-integration

#1653 Fixed CustomComponentConstructor::get_component()
  esphome/components/custom_component/custom_component.h
Labels: bugfix, core, integration: custom_component, small-pr

#1667 fixes #858 - esphome crashes with neolightbus and RMT
  esphome/components/neopixelbus/neopixelbus_light.h
Labels: integration: neopixelbus, small-pr

#1661 Rewrite sun component calculations
  esphome/components/sun/__init__.py
  esphome/components/sun/sun.cpp
  esphome/components/sun/sun.h
  script/ci-custom.py
Labels: by-code-owner, core, integration: sun

#1673 Raise minimum python version to 3.7
  esphome/__main__.py
  setup.py
Labels: breaking-change, core, small-pr

#1671 Fix colorlog removing colors and refactor color code
  esphome/__main__.py
  esphome/api/client.py
  esphome/config.py
  esphome/helpers.py
  esphome/log.py
  esphome/mqtt.py
  esphome/wizard.py
  requirements.txt
Labels: core

#1666 Adds support for b-parasite soil moisture sensor
  CODEOWNERS
  esphome/components/b_parasite/__init__.py
  esphome/components/b_parasite/b_parasite.cpp
  esphome/components/b_parasite/b_parasite.h
  esphome/components/b_parasite/sensor.py
  tests/test2.yaml
Labels: has-tests, integration: b_parasite, new-integration

#1672 mqtt_client: Added MQTTClientComponent::unsubscribe()
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
Labels: core, integration: mqtt, small-pr

#1650 Fix servo detach chopped PWM
  esphome/components/esp8266_pwm/esp8266_pwm.cpp
Labels: integration: esp8266_pwm, small-pr

#1632 Disallow _ in node name
  esphome/const.py
  esphome/dashboard/static/js/esphome.js
  esphome/dashboard/templates/index.html
  esphome/wizard.py
  tests/unit_tests/test_config_validation.py
  tests/unit_tests/test_wizard.py
Labels: core, dashboard, has-tests, small-pr

#1590 Receive long MQTT payload
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
Labels: core, integration: mqtt, small-pr

#1659 Fix sensor.sensor_schema interface changed
  esphome/components/sensor/__init__.py
Labels: core, integration: sensor, small-pr

#1677 Daylight Saving Time spelling fix
  esphome/components/time/__init__.py
  esphome/components/time/real_time_clock.h
Labels: integration: time, small-pr

#1678 Support custom build_flags for bme680_bsec
  esphome/components/bme680_bsec/__init__.py
  esphome/components/bme680_bsec/bme680_bsec.cpp
  esphome/components/bme680_bsec/bme680_bsec.h
Labels: integration: bme680_bsec, small-pr

#1679 Add Arduino ESP32 version mapping
  esphome/const.py
Labels: core, small-pr

#1680 Automate building and publishing of esphome-lint docker image
  .github/workflows/docker-lint-build.yml
Labels: small-pr

#1513 Sgp40
  CODEOWNERS
  esphome/components/sgp40/__init__.py
  esphome/components/sgp40/sensirion_voc_algorithm.cpp
  esphome/components/sgp40/sensirion_voc_algorithm.h
  esphome/components/sgp40/sensor.py
  esphome/components/sgp40/sgp40.cpp
  esphome/components/sgp40/sgp40.h
  tests/test1.yaml
  tests/test2.yaml
Labels: has-tests, integration: sgp40, new-integration

#1624 Sensor Average Filter Fix Floating Pointer Error Accumulating
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
Labels: core, integration: sensor, small-pr

#1676 Implementing the remainder of GPS data for the GPS component.
  CODEOWNERS
  esphome/components/gps/__init__.py
  esphome/components/gps/gps.cpp
  esphome/components/gps/gps.h
  esphome/components/sun/__init__.py
  esphome/const.py
Labels: core, integration: gps, integration: sun

#1691 Added / to default glyphs
  esphome/components/font/__init__.py
Labels: core, integration: font, small-pr

#1709 Revert "Bump AsyncTCP-esphome to 1.2.1."
  esphome/components/async_tcp/__init__.py
  platformio.ini
Labels: core, integration: async_tcp, small-pr

#1702 Fix name_add_mac_suffix using _ instead of -
  esphome/core/application.h
Labels: core, small-pr

#1616 Add monochromatic effects: Pulse, Random
  esphome/components/light/base_light_effects.h
  esphome/components/light/effects.py
  esphome/components/light/types.py
Labels: core, integration: light

#1512 Add support for SHT4X
  CODEOWNERS
  esphome/components/sht4x/__init__.py
  esphome/components/sht4x/sensor.py
  esphome/components/sht4x/sht4x.cpp
  esphome/components/sht4x/sht4x.h
  tests/test1.yaml
Labels: has-tests, integration: sht4x, new-integration

#1271 Addition of forward and reverse active energy counters to ATM90E32 sensor component
  esphome/components/atm90e32/atm90e32.cpp
  esphome/components/atm90e32/atm90e32.h
  esphome/components/atm90e32/sensor.py
  esphome/const.py
Labels: core, integration: atm90e32

#1356 Add Grow Fingerprint Reader
  CODEOWNERS
  esphome/components/fingerprint_grow/__init__.py
  esphome/components/fingerprint_grow/binary_sensor.py
  esphome/components/fingerprint_grow/fingerprint_grow.cpp
  esphome/components/fingerprint_grow/fingerprint_grow.h
  esphome/components/fingerprint_grow/sensor.py
  esphome/const.py
  tests/test3.yaml
Labels: core, has-tests, integration: fingerprint_grow, new-integration

#1479 RC522 fixes
  esphome/components/rc522/rc522.cpp
  esphome/components/rc522/rc522.h
  esphome/components/rc522_i2c/rc522_i2c.cpp
  esphome/components/rc522_spi/rc522_spi.cpp
Labels: by-code-owner, integration: rc522, integration: rc522_i2c, integration: rc522_spi

#1375 Support for TOF10120 distance sensor
  CODEOWNERS
  esphome/components/tof10120/__init__.py
  esphome/components/tof10120/sensor.py
  esphome/components/tof10120/tof10120_sensor.cpp
  esphome/components/tof10120/tof10120_sensor.h
  tests/test3.yaml
Labels: has-tests, integration: tof10120, needs-codeowners, new-integration

#1635 Swap fan and swing fields for Fujitu ACs
  esphome/components/fujitsu_general/fujitsu_general.cpp
  esphome/components/fujitsu_general/fujitsu_general.h
Labels: integration: fujitsu_general
