Repository esphome/esphome, pull requests merged in 2021-01, with the labels that each got.

#1413 added slow mode and detach time to servo
  esphome/components/servo/__init__.py
  esphome/components/servo/servo.cpp
  esphome/components/servo/servo.h
Labels: integration: servo

#1454 Fix SN74HC595 with optional OE pin
  esphome/components/sn74hc595/__init__.py
Labels: integration: sn74hc595, small-pr

#1397 Fix stepper half half step mode
  esphome/components/uln2003/uln2003.cpp
Labels: integration: uln2003, small-pr

#1453 Bump version to v1.17.0-dev
  esphome/const.py
Labels: core, small-pr

#1421 fix safe_mode
  esphome/core_config.py
Labels: core, small-pr

#1441 DS1307 real time clock component
  CODEOWNERS
  esphome/components/ds1307/__init__.py
  esphome/components/ds1307/ds1307.cpp
  esphome/components/ds1307/ds1307.h
  esphome/components/ds1307/time.py
  tests/test1.yaml
Labels: has-tests, integration: ds1307, new-integration

#1427 Add encode_uint32 method, similar to encode_uint16
  esphome/components/api/proto.cpp
  esphome/components/max31855/max31855.cpp
  esphome/components/rdm6300/rdm6300.cpp
  esphome/components/tuya/tuya.cpp
  esphome/components/xiaomi_ble/xiaomi_ble.cpp
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: core, integration: api, integration: max31855, integration: rdm6300, integration: tuya, integration: xiaomi_ble, small-pr

#1456 Rotary Encoder: Don't call callbacks in the isr
  esphome/components/rotary_encoder/rotary_encoder.cpp
  esphome/components/rotary_encoder/rotary_encoder.h
Labels: integration: rotary_encoder

#1459 1.16.0b2
  CODEOWNERS
  esphome/components/api/proto.cpp
  esphome/components/ds1307/__init__.py
  esphome/components/ds1307/ds1307.cpp
  esphome/components/ds1307/ds1307.h
  esphome/components/ds1307/time.py
  esphome/components/max31855/max31855.cpp
  esphome/components/rdm6300/rdm6300.cpp
  esphome/components/rotary_encoder/rotary_encoder.cpp
  esphome/components/rotary_encoder/rotary_encoder.h
  esphome/components/tuya/tuya.cpp
  esphome/components/xiaomi_ble/xiaomi_ble.cpp
  esphome/const.py
  esphome/core/helpers.cpp
  esphome/core/helpers.h
  esphome/core_config.py
  tests/test1.yaml
Labels: merging-to-beta

#1455 API: copy the data to send into the tcp internal buffer
  esphome/components/api/api_connection.cpp
Labels: core, integration: api, small-pr

#1460 Revert esptool to 2.8
  requirements.txt
Labels: small-pr

#1463 1.16.0b3
  esphome/components/api/api_connection.cpp
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#1467 Whirlpool ac
  esphome/components/whirlpool/whirlpool.cpp
Labels: integration: whirlpool, small-pr

#1443 make time components polling components
  esphome/components/ds1307/ds1307.cpp
  esphome/components/ds1307/ds1307.h
  esphome/components/gps/time/__init__.py
  esphome/components/gps/time/gps_time.h
  esphome/components/homeassistant/time/homeassistant_time.cpp
  esphome/components/homeassistant/time/homeassistant_time.h
  esphome/components/sntp/sntp_component.cpp
  esphome/components/sntp/sntp_component.h
  esphome/components/time/__init__.py
  esphome/components/time/real_time_clock.cpp
  esphome/components/time/real_time_clock.h
  tests/test1.yaml
Labels: core, has-tests, integration: ds1307, integration: gps, integration: homeassistant, integration: sntp, integration: time, small-pr

#1387 Updated Mcp3008 to support reference_voltage and voltage_sampler::VoltageSampler
  esphome/components/mcp3008/mcp3008.cpp
  esphome/components/mcp3008/mcp3008.h
  esphome/components/mcp3008/sensor.py
  esphome/components/spi/spi.h
  tests/test1.yaml
Labels: breaking-change, core, has-tests, integration: mcp3008, integration: spi

#1351 Add NDEF reading and writing to PN532
  CODEOWNERS
  esphome/components/nfc/__init__.py
  esphome/components/nfc/ndef_message.cpp
  esphome/components/nfc/ndef_message.h
  esphome/components/nfc/ndef_record.cpp
  esphome/components/nfc/ndef_record.h
  esphome/components/nfc/nfc.cpp
  esphome/components/nfc/nfc.h
  esphome/components/nfc/nfc_tag.cpp
  esphome/components/nfc/nfc_tag.h
  esphome/components/pn532/__init__.py
  esphome/components/pn532/pn532.cpp
  esphome/components/pn532/pn532.h
  esphome/components/pn532/pn532_mifare_classic.cpp
  esphome/components/pn532/pn532_mifare_ultralight.cpp
  esphome/components/pn532_i2c/pn532_i2c.cpp
Labels: by-code-owner, integration: nfc, integration: pn532, integration: pn532_i2c, new-integration

#1283 Inkplate 6 support for ESPHome
  CODEOWNERS
  esphome/components/inkplate6/__init__.py
  esphome/components/inkplate6/display.py
  esphome/components/inkplate6/inkplate.cpp
  esphome/components/inkplate6/inkplate.h
Labels: integration: inkplate6, new-integration

#1442 time sync notification
  esphome/components/sntp/sntp_component.cpp
  esphome/components/time/__init__.py
  esphome/components/time/automation.cpp
  esphome/components/time/automation.h
  esphome/components/time/real_time_clock.cpp
  esphome/components/time/real_time_clock.h
  esphome/const.py
  tests/test1.yaml
Labels: core, has-tests, integration: sntp, integration: time

#1468 rename read/write to read/time/write_time
  esphome/components/ds1307/ds1307.cpp
  esphome/components/ds1307/ds1307.h
  esphome/components/ds1307/time.py
  tests/test1.yaml
Labels: by-code-owner, has-tests, integration: ds1307, small-pr

#1428 Improve ccs811 precision
  esphome/components/ccs811/ccs811.cpp
Labels: integration: ccs811, small-pr

#1450 make fade_to*, lighten, and darken const
  esphome/components/light/addressable_light.h
Labels: core, integration: light, small-pr

#1448 add http request tests
  tests/test1.yaml
  tests/test3.yaml
Labels: has-tests, small-pr

#1476 codegen: Lambda improvements
  esphome/config_validation.py
  esphome/core.py
  esphome/cpp_generator.py
  esphome/yaml_util.py
Labels: code-quality, core, improvement

#1493 SPI wasnt being disabled after display update
  esphome/components/st7735/st7735.cpp
Labels: by-code-owner, integration: st7735, small-pr

#1495 1.16.0b5
  esphome/components/ccs811/ccs811.cpp
  esphome/components/ds1307/ds1307.cpp
  esphome/components/ds1307/ds1307.h
  esphome/components/ds1307/time.py
  esphome/components/light/addressable_light.h
  esphome/components/sntp/sntp_component.cpp
  esphome/components/st7735/st7735.cpp
  esphome/components/time/__init__.py
  esphome/components/time/automation.cpp
  esphome/components/time/automation.h
  esphome/components/time/real_time_clock.cpp
  esphome/components/time/real_time_clock.h
  esphome/const.py
  tests/test1.yaml
Labels: merging-to-beta

#1488 Add support for string-type Tuya datapoints
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
Labels: integration: tuya, small-pr

#1470 Added options to control pulse duration on Climate_IR_LG Component
  esphome/components/climate_ir_lg/climate.py
  esphome/components/climate_ir_lg/climate_ir_lg.cpp
  esphome/components/climate_ir_lg/climate_ir_lg.h
Labels: integration: climate_ir_lg

#1492 Add healthcheck
  docker/Dockerfile
Labels: small-pr

#1486 Support for MHO-C401 (fix)
  CODEOWNERS
  esphome/components/xiaomi_ble/xiaomi_ble.cpp
  esphome/components/xiaomi_ble/xiaomi_ble.h
  esphome/components/xiaomi_mhoc401/__init__.py
  esphome/components/xiaomi_mhoc401/sensor.py
  esphome/components/xiaomi_mhoc401/xiaomi_mhoc401.cpp
  esphome/components/xiaomi_mhoc401/xiaomi_mhoc401.h
Labels: integration: xiaomi_ble, integration: xiaomi_mhoc401, new-integration

#1497 1.16.0b6
  CODEOWNERS
  docker/Dockerfile
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
  esphome/components/xiaomi_ble/xiaomi_ble.cpp
  esphome/components/xiaomi_ble/xiaomi_ble.h
  esphome/components/xiaomi_mhoc401/__init__.py
  esphome/components/xiaomi_mhoc401/sensor.py
  esphome/components/xiaomi_mhoc401/xiaomi_mhoc401.cpp
  esphome/components/xiaomi_mhoc401/xiaomi_mhoc401.h
  esphome/const.py
Labels: merging-to-beta

#1502 Allow SCD30 sensors to be optional
  esphome/components/scd30/sensor.py
Labels: integration: scd30, small-pr
