Repository esphome/esphome, pull requests merged in 2021-06, with the labels that each got.

#1811 Update fingerprint count after enroll
  esphome/components/fingerprint_grow/fingerprint_grow.cpp
Labels: integration: fingerprint_grow, small-pr

#1403 teleinfo: use text_sensor and sensor.
  esphome/components/teleinfo/__init__.py
  esphome/components/teleinfo/sensor.py
  esphome/components/teleinfo/sensor/__init__.py
  esphome/components/teleinfo/sensor/teleinfo_sensor.cpp
  esphome/components/teleinfo/sensor/teleinfo_sensor.h
  esphome/components/teleinfo/teleinfo.cpp
  esphome/components/teleinfo/teleinfo.h
  esphome/components/teleinfo/text_sensor/__init__.py
  esphome/components/teleinfo/text_sensor/teleinfo_text_sensor.cpp
  esphome/components/teleinfo/text_sensor/teleinfo_text_sensor.h
  tests/test1.yaml
Labels: breaking-change, by-code-owner, has-tests, integration: teleinfo, new-platform

#1818 Copy missing BLE client characteristic read data
  esphome/components/esp32_ble_tracker/queue.h
Labels: integration: esp32_ble_tracker, small-pr

#1451 Added support for Xiaomi CGDK2
  esphome/components/xiaomi_ble/xiaomi_ble.cpp
  esphome/components/xiaomi_ble/xiaomi_ble.h
  esphome/components/xiaomi_cgdk2/__init__.py
  esphome/components/xiaomi_cgdk2/sensor.py
  esphome/components/xiaomi_cgdk2/xiaomi_cgdk2.cpp
  esphome/components/xiaomi_cgdk2/xiaomi_cgdk2.h
Labels: integration: xiaomi_ble, integration: xiaomi_cgdk2, new-integration

#1852 Fix ble client esp_gatt_if comparison
  esphome/components/ble_client/ble_client.cpp
Labels: integration: ble_client, small-pr

#1851 Add optional lambda to BLESensor for raw data parsing
  esphome/components/ble_client/sensor/__init__.py
  esphome/components/ble_client/sensor/ble_sensor.cpp
  esphome/components/ble_client/sensor/ble_sensor.h
  tests/test1.yaml
Labels: has-tests, integration: ble_client, small-pr

#1412 Support Tuya light color temperature control
  esphome/components/tuya/light/__init__.py
  esphome/components/tuya/light/tuya_light.cpp
  esphome/components/tuya/light/tuya_light.h
  tests/test4.yaml
Labels: has-tests, integration: tuya

#1799 Use size_t for length parameter
  esphome/core/preferences.cpp
Labels: core, small-pr

#1856 Added vol +/- control to dfplayer
  esphome/components/dfplayer/__init__.py
  esphome/components/dfplayer/dfplayer.h
  tests/test3.yaml
Labels: has-tests, integration: dfplayer

#1669 Support raw datapoints for tuya components
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
Labels: integration: tuya, small-pr

#1857 make crc16 function accessible
  esphome/components/modbus/modbus.h
Labels: integration: modbus, small-pr

#1471 Add preset, custom_preset and custom_fan_mode support to climate
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/climate/__init__.py
  esphome/components/climate/automation.h
  esphome/components/climate/climate.cpp
  esphome/components/climate/climate.h
  esphome/components/climate/climate_mode.cpp
  esphome/components/climate/climate_mode.h
  esphome/components/climate/climate_traits.cpp
  esphome/components/climate/climate_traits.h
  esphome/components/climate_ir_lg/climate_ir_lg.cpp
  esphome/components/coolix/coolix.cpp
  esphome/components/daikin/daikin.cpp
  esphome/components/fujitsu_general/fujitsu_general.cpp
  esphome/components/hitachi_ac344/hitachi_ac344.cpp
  esphome/components/midea_ac/climate.py
  esphome/components/midea_ac/midea_climate.cpp
  esphome/components/midea_ac/midea_climate.h
  esphome/components/midea_ac/midea_frame.cpp
  esphome/components/midea_ac/midea_frame.h
  esphome/components/mqtt/mqtt_climate.cpp
  esphome/components/tcl112/tcl112.cpp
  esphome/components/thermostat/thermostat_climate.cpp
  esphome/components/whirlpool/whirlpool.cpp
  esphome/const.py
  tests/test1.yaml
  tests/test3.yaml
  tests/test4.yaml
Labels: core, has-tests, integration: api, integration: climate, integration: climate_ir_lg, integration: coolix, integration: daikin, integration: fujitsu_general, integration: hitachi_ac344, integration: midea_ac, integration: mqtt, integration: tcl112, integration: thermostat, integration: whirlpool, needs-rebase, second-opinion-wanted

#1834 Avoid unnecessary waits to stabilize the VOC algorithm
  esphome/components/sgp40/sgp40.cpp
Labels: integration: sgp40, small-pr

#1830 Fix SCD30 configuration on ESP32
  esphome/components/scd30/scd30.cpp
Labels: integration: scd30, small-pr

#1864 Bump Docker base version to 3.1.0
  .github/workflows/ci-docker.yml
  .github/workflows/release-dev.yml
  .github/workflows/release.yml
  docker/Dockerfile
  docker/Dockerfile.dev
  docker/Dockerfile.lint
Labels: small-pr

#1805 CLI user experience improvements
  .github/workflows/ci.yml
  .github/workflows/release-dev.yml
  .github/workflows/release.yml
  .vscode/tasks.json
  docker/Dockerfile
  docker/rootfs/etc/services.d/esphome/run
  esphome/__main__.py
  esphome/dashboard/dashboard.py
  script/test
Labels: breaking-change, core, dashboard, notable-change

#1807 Improv - BLE WiFi provisioning
  .github/workflows/ci.yml
  .github/workflows/release-dev.yml
  .github/workflows/release.yml
  CODEOWNERS
  esphome/components/captive_portal/captive_portal.cpp
  esphome/components/captive_portal/captive_portal.h
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble.h
  esphome/components/esp32_ble/ble_2901.cpp
  esphome/components/esp32_ble/ble_2901.h
  esphome/components/esp32_ble/ble_2902.cpp
  esphome/components/esp32_ble/ble_2902.h
  esphome/components/esp32_ble/ble_advertising.cpp
  esphome/components/esp32_ble/ble_advertising.h
  esphome/components/esp32_ble/ble_characteristic.cpp
  esphome/components/esp32_ble/ble_characteristic.h
  esphome/components/esp32_ble/ble_descriptor.cpp
  esphome/components/esp32_ble/ble_descriptor.h
  esphome/components/esp32_ble/ble_server.cpp
  esphome/components/esp32_ble/ble_server.h
  esphome/components/esp32_ble/ble_service.cpp
  esphome/components/esp32_ble/ble_service.h
  esphome/components/esp32_ble/ble_uuid.cpp
  esphome/components/esp32_ble/ble_uuid.h
  esphome/components/esp32_ble/queue.h
  esphome/components/esp32_improv/__init__.py
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/esp32_improv/esp32_improv_component.h
  esphome/components/improv/__init__.py
  esphome/components/improv/improv.cpp
  esphome/components/improv/improv.h
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
  esphome/core/component.cpp
  esphome/core/component.h
  esphome/core/helpers.h
  script/test
  tests/README.md
  tests/test5.yaml
Labels: core, integration: captive_portal, integration: esp32_ble, integration: esp32_improv, integration: improv, new-integration, notable-change

#1877 Implement versioning for esphome/esphome-lint docker images
  .github/workflows/ci.yml
  .github/workflows/docker-lint-build.yml
  .github/workflows/release-dev.yml
  .github/workflows/release.yml
Labels: small-pr

#1879 Bump base image to 3.4.0
  .github/workflows/ci-docker.yml
  .github/workflows/ci.yml
  .github/workflows/docker-lint-build.yml
  .github/workflows/release-dev.yml
  .github/workflows/release.yml
  docker/Dockerfile
  docker/Dockerfile.dev
  docker/Dockerfile.hassio
  docker/Dockerfile.lint
  requirements_optional.txt
  requirements_test.txt
  script/setup
Labels: core, small-pr

#1846 Use Clang 11
  .clang-tidy
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt_subscribe/sensor/mqtt_subscribe_sensor.cpp
  esphome/components/mqtt_subscribe/text_sensor/mqtt_subscribe_text_sensor.cpp
  esphome/core/helpers.h
  script/clang-format
  script/clang-tidy
Labels: core, integration: mqtt, integration: mqtt_subscribe

#1876 Remove explain changes section from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: small-pr

#1878 Fixes for BLE/improv
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble.h
  esphome/components/esp32_ble/ble_2901.cpp
  esphome/components/esp32_ble/ble_2901.h
  esphome/components/esp32_ble/ble_characteristic.cpp
  esphome/components/esp32_ble/ble_characteristic.h
  esphome/components/esp32_ble/ble_descriptor.cpp
  esphome/components/esp32_ble/ble_descriptor.h
  esphome/components/esp32_ble/ble_server.cpp
  esphome/components/esp32_ble/ble_server.h
  esphome/components/esp32_ble/ble_service.cpp
  esphome/components/esp32_ble/ble_service.h
  esphome/components/esp32_ble/ble_uuid.cpp
  esphome/components/esp32_ble/ble_uuid.h
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/esp32_improv/esp32_improv_component.h
  esphome/components/improv/improv.cpp
  esphome/components/improv/improv.h
  esphome/core/defines.h
  esphome/core/helpers.h
Labels: by-code-owner, core, integration: esp32_ble, integration: esp32_improv, integration: improv

#1880 Fix Clang 11 finds
  .clang-tidy
  esphome/components/as3935_spi/as3935_spi.cpp
  esphome/components/rf_bridge/rf_bridge.cpp
Labels: integration: as3935_spi, integration: rf_bridge, small-pr

#1872 Allow setting creator project name and version into code
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/const.py
  esphome/core/application.cpp
  esphome/core/config.py
  esphome/core/util.cpp
  tests/test5.yaml
Labels: core, has-tests, integration: api

#1871 Add platform and board to mdns response when API is used
  esphome/core/config.py
  esphome/core/defines.h
  esphome/core/util.cpp
Labels: core, small-pr

#1875 Update total_pulses_ at every detected pulse
  esphome/components/pulse_meter/pulse_meter_sensor.cpp
Labels: integration: pulse_meter, small-pr

#1874 Simplify LightCall validation
  esphome/components/light/light_state.cpp
Labels: core, integration: light, small-pr

#1882 BLE loop use
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble.h
  esphome/components/esp32_ble/ble_characteristic.cpp
  esphome/components/esp32_ble/ble_characteristic.h
  esphome/components/esp32_ble/ble_descriptor.cpp
  esphome/components/esp32_ble/ble_descriptor.h
  esphome/components/esp32_ble/ble_server.cpp
  esphome/components/esp32_ble/ble_server.h
  esphome/components/esp32_ble/ble_service.cpp
  esphome/components/esp32_ble/ble_service.h
  esphome/components/esp32_ble/queue.h
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/esp32_improv/esp32_improv_component.h
  esphome/components/wifi/wifi_component.cpp
Labels: by-code-owner, core, integration: esp32_ble, integration: esp32_improv, integration: wifi

#1843 Add support for waveshare_epaper 1.54v2
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper, small-pr

#1888 1.19.0b2
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble.h
  esphome/components/esp32_ble/ble_characteristic.cpp
  esphome/components/esp32_ble/ble_characteristic.h
  esphome/components/esp32_ble/ble_descriptor.cpp
  esphome/components/esp32_ble/ble_descriptor.h
  esphome/components/esp32_ble/ble_server.cpp
  esphome/components/esp32_ble/ble_server.h
  esphome/components/esp32_ble/ble_service.cpp
  esphome/components/esp32_ble/ble_service.h
  esphome/components/esp32_ble/queue.h
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/esp32_improv/esp32_improv_component.h
  esphome/components/light/light_state.cpp
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
  esphome/components/wifi/wifi_component.cpp
  esphome/const.py
Labels: merging-to-beta

#1889 Update ambiguous command
  .vscode/tasks.json
Labels: small-pr

#1890 Configure clang-format for consistent pointer alignment
  .clang-format
  esphome/components/addressable_light/addressable_light_display.cpp
  esphome/components/b_parasite/b_parasite.cpp
  esphome/components/dfplayer/dfplayer.cpp
  esphome/components/fingerprint_grow/fingerprint_grow.cpp
  esphome/components/fujitsu_general/fujitsu_general.cpp
  esphome/components/fujitsu_general/fujitsu_general.h
  esphome/components/max31855/max31855.cpp
  esphome/components/max31865/max31865.cpp
  esphome/components/max31865/max31865.h
  esphome/components/nfc/ndef_record.cpp
  esphome/components/rtttl/rtttl.cpp
  esphome/components/sgp40/sensirion_voc_algorithm.cpp
  esphome/components/sim800l/sim800l.cpp
  esphome/components/tm1637/tm1637.cpp
Labels: integration: addressable_light, integration: b_parasite, integration: dfplayer, integration: fingerprint_grow, integration: fujitsu_general, integration: max31855, integration: max31865, integration: nfc, integration: rtttl, integration: sgp40, integration: sim800l, integration: tm1637

#1894 Convert st7735.cpp to use Unix line separators
  esphome/components/st7735/st7735.cpp
Labels: integration: st7735

#1899 Ensure wifi is in at least station mode before starting improv
  esphome/components/wifi/wifi_component.cpp
Labels: core, integration: wifi, small-pr

#1898 Move esp32_ble_server to its own component
  CODEOWNERS
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble.h
  esphome/components/esp32_ble/ble_advertising.cpp
  esphome/components/esp32_ble/ble_advertising.h
  esphome/components/esp32_ble_server/__init__.py
  esphome/components/esp32_ble_server/ble_2901.cpp
  esphome/components/esp32_ble_server/ble_2901.h
  esphome/components/esp32_ble_server/ble_2902.cpp
  esphome/components/esp32_ble_server/ble_2902.h
  esphome/components/esp32_ble_server/ble_characteristic.cpp
  esphome/components/esp32_ble_server/ble_characteristic.h
  esphome/components/esp32_ble_server/ble_descriptor.cpp
  esphome/components/esp32_ble_server/ble_descriptor.h
  esphome/components/esp32_ble_server/ble_server.cpp
  esphome/components/esp32_ble_server/ble_server.h
  esphome/components/esp32_ble_server/ble_service.cpp
  esphome/components/esp32_ble_server/ble_service.h
  esphome/components/esp32_improv/__init__.py
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/esp32_improv/esp32_improv_component.h
  esphome/core/defines.h
  tests/test5.yaml
Labels: breaking-change, by-code-owner, core, has-tests, integration: esp32_ble, integration: esp32_ble_server, integration: esp32_improv, new-integration

#1887 Add new wizard + allow installing firmware over webserial
  esphome/dashboard/dashboard.py
  esphome/dashboard/static/css/esphome.css
  esphome/dashboard/static/css/vendor/materialize-stepper/materialize-stepper.min.css
  esphome/dashboard/static/css/vendor/materialize/materialize.min.css
  esphome/dashboard/static/fonts/material-icons/LICENSE
  esphome/dashboard/static/fonts/material-icons/MaterialIcons-Regular.woff
  esphome/dashboard/static/fonts/material-icons/MaterialIcons-Regular.woff2
  esphome/dashboard/static/fonts/material-icons/README.md
  esphome/dashboard/static/fonts/material-icons/material-icons.css
  esphome/dashboard/static/images/favicon.ico
  esphome/dashboard/static/js/esphome.js
  esphome/dashboard/static/js/vendor/ace/ace.js
  esphome/dashboard/static/js/vendor/ace/ext-searchbox.js
  esphome/dashboard/static/js/vendor/ace/mode-yaml.js
  esphome/dashboard/static/js/vendor/ace/theme-dreamweaver.js
  esphome/dashboard/static/js/vendor/jquery-ui/jquery-ui.min.js
  esphome/dashboard/static/js/vendor/jquery-validate/jquery.validate.min.js
  esphome/dashboard/static/js/vendor/jquery/jquery.min.js
  esphome/dashboard/static/js/vendor/materialize-stepper/materialize-stepper.min.js
  esphome/dashboard/static/js/vendor/materialize/materialize.min.js
  esphome/dashboard/templates/index.html
  esphome/dashboard/templates/login.html
  esphome/wizard.py
  requirements.txt
Labels: core, dashboard

#1900 1.19.0b3
  CODEOWNERS
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble.h
  esphome/components/esp32_ble/ble_advertising.cpp
  esphome/components/esp32_ble/ble_advertising.h
  esphome/components/esp32_ble_server/__init__.py
  esphome/components/esp32_ble_server/ble_2901.cpp
  esphome/components/esp32_ble_server/ble_2901.h
  esphome/components/esp32_ble_server/ble_2902.cpp
  esphome/components/esp32_ble_server/ble_2902.h
  esphome/components/esp32_ble_server/ble_characteristic.cpp
  esphome/components/esp32_ble_server/ble_characteristic.h
  esphome/components/esp32_ble_server/ble_descriptor.cpp
  esphome/components/esp32_ble_server/ble_descriptor.h
  esphome/components/esp32_ble_server/ble_server.cpp
  esphome/components/esp32_ble_server/ble_server.h
  esphome/components/esp32_ble_server/ble_service.cpp
  esphome/components/esp32_ble_server/ble_service.h
  esphome/components/esp32_improv/__init__.py
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/esp32_improv/esp32_improv_component.h
  esphome/components/wifi/wifi_component.cpp
  esphome/const.py
  esphome/core/defines.h
  esphome/dashboard/dashboard.py
  esphome/dashboard/static/css/esphome.css
  esphome/dashboard/static/css/vendor/materialize-stepper/materialize-stepper.min.css
  esphome/dashboard/static/css/vendor/materialize/materialize.min.css
  esphome/dashboard/static/fonts/material-icons/LICENSE
  esphome/dashboard/static/fonts/material-icons/MaterialIcons-Regular.woff
  esphome/dashboard/static/fonts/material-icons/MaterialIcons-Regular.woff2
  esphome/dashboard/static/fonts/material-icons/README.md
  esphome/dashboard/static/fonts/material-icons/material-icons.css
  esphome/dashboard/static/images/favicon.ico
  esphome/dashboard/static/js/esphome.js
  esphome/dashboard/static/js/vendor/ace/ace.js
  esphome/dashboard/static/js/vendor/ace/ext-searchbox.js
  esphome/dashboard/static/js/vendor/ace/mode-yaml.js
  esphome/dashboard/static/js/vendor/ace/theme-dreamweaver.js
  esphome/dashboard/static/js/vendor/jquery-ui/jquery-ui.min.js
  esphome/dashboard/static/js/vendor/jquery-validate/jquery.validate.min.js
  esphome/dashboard/static/js/vendor/jquery/jquery.min.js
  esphome/dashboard/static/js/vendor/materialize-stepper/materialize-stepper.min.js
  esphome/dashboard/static/js/vendor/materialize/materialize.min.js
  esphome/dashboard/templates/index.html
  esphome/dashboard/templates/login.html
  esphome/wizard.py
  requirements.txt
  tests/test5.yaml
Labels: merging-to-beta

#1893 Split files in light component
  esphome/components/light/addressable_light.cpp
  esphome/components/light/addressable_light.h
  esphome/components/light/esp_color_correction.cpp
  esphome/components/light/esp_color_correction.h
  esphome/components/light/esp_color_view.h
  esphome/components/light/esp_hsv_color.cpp
  esphome/components/light/esp_hsv_color.h
  esphome/components/light/esp_range_view.cpp
  esphome/components/light/esp_range_view.h
  esphome/components/light/light_call.cpp
  esphome/components/light/light_call.h
  esphome/components/light/light_state.cpp
  esphome/components/light/light_state.h
  esphome/core/optional.h
Labels: core, integration: light

#1907 Fix CI by avoiding non-const global
  esphome/components/light/light_call.cpp
Labels: core, integration: light, small-pr

#1828 Adds support cpp to vscode
  .devcontainer/devcontainer.json
  .editorconfig
  docker/Dockerfile.dev
  script/bump-docker-base-version.py
  script/devcontainer-post-create
Labels: core, small-pr

#1908 Allow no networks or AP to be set.
  esphome/components/wifi/__init__.py
Labels: core, integration: wifi, small-pr

#1910 Validate that either networks, ap, or improv is set up
  esphome/components/wifi/__init__.py
Labels: core, integration: wifi, small-pr

#1897 Support ESP8266 Arduino 3.0.0
  esphome/components/sensor/filter.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/const.py
  esphome/core/helpers.cpp
Labels: core, integration: sensor, integration: wifi, small-pr

#1912 Bump frontend to 20210614.0
  requirements.txt
Labels: small-pr

#1913 Run script/setup in devcontainer instead of pip install
  script/devcontainer-post-create
Labels: core, small-pr

#1911 fixes compatibility with esphome cfg vscode
  esphome/__main__.py
Labels: core, small-pr

#1914 1.19.0b4
  esphome/__main__.py
  esphome/components/wifi/__init__.py
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#1918 Bump dashboard to 20210615.0
  requirements.txt
Labels: small-pr

#1919 1.19.0b5
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#1920 Shorten the ble name to prevent crash with long device names
  esphome/components/esp32_ble/ble.cpp
  esphome/core/application.h
Labels: by-code-owner, core, integration: esp32_ble, small-pr

#1921 1.19.0b6
  esphome/components/esp32_ble/ble.cpp
  esphome/const.py
  esphome/core/application.h
Labels: merging-to-beta

#1924 Fix update-all from dashboard
  esphome/__main__.py
Labels: core, small-pr

#1926 1.19.0b7
  esphome/__main__.py
  esphome/const.py
Labels: merging-to-beta

#1928 Fix typo in test3.yaml
  tests/test3.yaml
Labels: has-tests, small-pr

#1930 Update dashboard to 20210617.0
  esphome/dashboard/dashboard.py
  requirements.txt
Labels: core, dashboard, small-pr

#1922 Fix: midea_ac: fixed query status frame
  esphome/components/midea_ac/midea_frame.cpp
Labels: by-code-owner, integration: midea_ac, small-pr

#1917 Improve config final validation
  esphome/components/cse7766/sensor.py
  esphome/components/dfplayer/__init__.py
  esphome/components/gps/__init__.py
  esphome/components/http_request/__init__.py
  esphome/components/rc522_spi/__init__.py
  esphome/components/rtttl/__init__.py
  esphome/components/sim800l/__init__.py
  esphome/components/spi/__init__.py
  esphome/components/uart/__init__.py
  esphome/components/wifi/__init__.py
  esphome/config.py
  esphome/config_validation.py
  esphome/core/__init__.py
  esphome/cpp_helpers.py
  esphome/final_validate.py
  esphome/loader.py
  esphome/storage_json.py
  esphome/types.py
Labels: core, integration: cse7766, integration: dfplayer, integration: gps, integration: http_request, integration: rc522_spi, integration: rtttl, integration: sim800l, integration: spi, integration: uart, integration: wifi

#1936 1.19.1
  esphome/components/bang_bang/bang_bang_climate.cpp
  esphome/components/climate/climate.h
  esphome/components/climate/climate_traits.cpp
  esphome/components/climate/climate_traits.h
  esphome/components/climate_ir/climate_ir.cpp
  esphome/components/climate_ir_lg/climate_ir_lg.cpp
  esphome/components/coolix/coolix.cpp
  esphome/components/cse7766/sensor.py
  esphome/components/daikin/daikin.cpp
  esphome/components/dfplayer/__init__.py
  esphome/components/fujitsu_general/fujitsu_general.cpp
  esphome/components/gps/__init__.py
  esphome/components/hitachi_ac344/hitachi_ac344.cpp
  esphome/components/http_request/__init__.py
  esphome/components/midea_ac/midea_climate.cpp
  esphome/components/midea_ac/midea_frame.cpp
  esphome/components/mitsubishi/mitsubishi.cpp
  esphome/components/pid/pid_climate.cpp
  esphome/components/rc522_spi/__init__.py
  esphome/components/rtttl/__init__.py
  esphome/components/sim800l/__init__.py
  esphome/components/spi/__init__.py
  esphome/components/tcl112/tcl112.cpp
  esphome/components/thermostat/climate.py
  esphome/components/thermostat/thermostat_climate.cpp
  esphome/components/thermostat/thermostat_climate.h
  esphome/components/toshiba/toshiba.cpp
  esphome/components/tuya/climate/tuya_climate.cpp
  esphome/components/uart/__init__.py
  esphome/components/whirlpool/whirlpool.cpp
  esphome/components/wifi/__init__.py
  esphome/components/yashima/yashima.cpp
  esphome/config.py
  esphome/config_validation.py
  esphome/const.py
  esphome/core/__init__.py
  esphome/cpp_helpers.py
  esphome/dashboard/dashboard.py
  esphome/final_validate.py
  esphome/loader.py
  esphome/storage_json.py
  esphome/types.py
  requirements.txt
Labels: merging-to-master

#1935 Fix error print in script/helpers.py
  script/helpers.py
Labels: core, small-pr

#1927 Add variable bit width for Samsung protocol
  esphome/codegen.py
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/samsung_protocol.cpp
  esphome/components/remote_base/samsung_protocol.h
  esphome/config_validation.py
  esphome/cpp_types.py
Labels: core, integration: remote_base

#1886 Don't send Tuya commands while currently receiving a message
  esphome/components/tuya/tuya.cpp
Labels: integration: tuya, small-pr

#1938 Add data sizes to log message
  esphome/components/tuya/tuya.cpp
Labels: integration: tuya, small-pr

#1940 Fix query frame
  esphome/components/midea_ac/midea_frame.cpp
Labels: by-code-owner, integration: midea_ac, small-pr

#1931 Allow wifi setup to proceed when there is no sta or ap
  esphome/components/wifi/wifi_component.cpp
Labels: core, integration: wifi, small-pr

#1942 Fix bad climate control enum
  esphome/components/climate/__init__.py
Labels: core, integration: climate, small-pr

#1943 1.19.2
  esphome/components/climate/__init__.py
  esphome/components/midea_ac/midea_frame.cpp
  esphome/components/tuya/tuya.cpp
  esphome/components/wifi/wifi_component.cpp
  esphome/const.py
Labels: merging-to-master

#1945 Update generation script to add const
  script/api_protobuf/api_protobuf.py
Labels: core, small-pr

#1941 Rework climate traits
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/bang_bang/bang_bang_climate.cpp
  esphome/components/climate/automation.h
  esphome/components/climate/climate.cpp
  esphome/components/climate/climate.h
  esphome/components/climate/climate_mode.cpp
  esphome/components/climate/climate_mode.h
  esphome/components/climate/climate_traits.cpp
  esphome/components/climate/climate_traits.h
  esphome/components/climate_ir/climate_ir.cpp
  esphome/components/climate_ir/climate_ir.h
  esphome/components/daikin/daikin.h
  esphome/components/hitachi_ac344/hitachi_ac344.h
  esphome/components/midea_ac/midea_climate.cpp
  esphome/components/midea_ac/midea_climate.h
  esphome/components/mqtt/mqtt_climate.cpp
  esphome/components/pid/pid_climate.cpp
  esphome/components/thermostat/thermostat_climate.cpp
  esphome/components/tuya/climate/tuya_climate.cpp
  esphome/components/yashima/yashima.cpp
  script/api_protobuf/api_protobuf.py
Labels: by-code-owner, core, integration: api, integration: bang_bang, integration: climate, integration: climate_ir, integration: daikin, integration: hitachi_ac344, integration: midea_ac, integration: mqtt, integration: pid, integration: thermostat, integration: tuya, integration: yashima

#1947 API raise minor version for climate changes
  esphome/components/api/api_connection.cpp
Labels: by-code-owner, core, integration: api, small-pr

#1946 Bump dashboard to 20210621.0
  requirements.txt
Labels: small-pr

#1901 Improve DHT read timings
  esphome/components/dht/dht.cpp
Labels: integration: dht, small-pr

#1950 Disallow power_save_mode NONE if used together with BLE
  esphome/components/http_request/__init__.py
  esphome/components/wifi/__init__.py
  esphome/final_validate.py
  tests/test1.yaml
Labels: core, has-tests, integration: wifi

#1934 More VSCode devcontainer improvements
  .devcontainer/devcontainer.json
  .dockerignore
  .vscode/tasks.json
Labels: small-pr

#1955 Bump esphome-dashboard to 20210622.0
  requirements.txt
Labels: small-pr

#1956 1.19.3
  esphome/const.py
  requirements.txt
Labels: merging-to-master

#1951 Add climate preset NONE again
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/climate/climate_mode.cpp
  esphome/components/climate/climate_mode.h
Labels: by-code-owner, core, integration: api, integration: climate

#1952 Compat argv parsing improvements
  esphome/__main__.py
Labels: core, small-pr

#1957 Validate color temperature values for RGBWW/CWWW lights
  esphome/components/cwww/light.py
  esphome/components/light/__init__.py
  esphome/components/rgbww/light.py
Labels: core, integration: cwww, integration: light, integration: rgbww

#1958 Bump dashboard to 20210623.0
  requirements.txt
Labels: small-pr

#1959 1.19.4
  esphome/__main__.py
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/bang_bang/bang_bang_climate.cpp
  esphome/components/climate/automation.h
  esphome/components/climate/climate.cpp
  esphome/components/climate/climate.h
  esphome/components/climate/climate_mode.cpp
  esphome/components/climate/climate_mode.h
  esphome/components/climate/climate_traits.cpp
  esphome/components/climate/climate_traits.h
  esphome/components/climate_ir/climate_ir.cpp
  esphome/components/climate_ir/climate_ir.h
  esphome/components/daikin/daikin.h
  esphome/components/hitachi_ac344/hitachi_ac344.h
  esphome/components/http_request/__init__.py
  esphome/components/midea_ac/midea_climate.cpp
  esphome/components/midea_ac/midea_climate.h
  esphome/components/mqtt/mqtt_climate.cpp
  esphome/components/pid/pid_climate.cpp
  esphome/components/thermostat/thermostat_climate.cpp
  esphome/components/tuya/climate/tuya_climate.cpp
  esphome/components/wifi/__init__.py
  esphome/components/yashima/yashima.cpp
  esphome/const.py
  esphome/final_validate.py
  requirements.txt
  script/api_protobuf/api_protobuf.py
  tests/test1.yaml
Labels: merging-to-master

#1960 Fix on_multi_click min_length
  esphome/components/binary_sensor/automation.cpp
Labels: core, integration: binary_sensor, small-pr

#1939 Climate component for Ballu air conditioners with remote model YKR-K/002E
  CODEOWNERS
  esphome/components/ballu/__init__.py
  esphome/components/ballu/ballu.cpp
  esphome/components/ballu/ballu.h
  esphome/components/ballu/climate.py
Labels: integration: ballu, new-integration

#1970 Simplify initializing glyph_data
  esphome/components/font/__init__.py
Labels: core, integration: font, small-pr
