Repository esphome/esphome, pull requests merged in 2021-11, with the labels that each got.

#2646 Fix for noise in pulse_counter and duty_cycle components
  esphome/components/duty_cycle/duty_cycle_sensor.cpp
  esphome/components/duty_cycle/duty_cycle_sensor.h
  esphome/components/pulse_counter/pulse_counter_sensor.cpp
  esphome/components/pulse_counter/pulse_counter_sensor.h
Labels: integration: duty_cycle, integration: pulse_counter, small-pr

#2643 Add restore_mode to rotary_encoder
  esphome/components/rotary_encoder/rotary_encoder.cpp
  esphome/components/rotary_encoder/rotary_encoder.h
  esphome/components/rotary_encoder/sensor.py
Labels: breaking-change, integration: rotary_encoder

#2626 Make per-loop display clearing optional
  esphome/components/display/__init__.py
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  esphome/const.py
  tests/test1.yaml
Labels: new-feature, integration: display, has-tests, core, small-pr

#2664 Allow esp8266 to compile with no wifi
  esphome/core/helpers.cpp
Labels: core, small-pr

#2622 Fix CRC error during DSMR chunked message reading
  esphome/components/dsmr/dsmr.cpp
  esphome/components/dsmr/dsmr.h
Labels: integration: dsmr

#2636 Add Entity categories for Home Assistant
  esphome/codegen.py
  esphome/components/am43/sensor.py
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/atc_mithermometer/sensor.py
  esphome/components/atm90e32/sensor.py
  esphome/components/b_parasite/sensor.py
  esphome/components/binary_sensor/__init__.py
  esphome/components/fingerprint_grow/sensor.py
  esphome/components/inkbird_ibsth1_mini/sensor.py
  esphome/components/number/__init__.py
  esphome/components/pvvx_mithermometer/sensor.py
  esphome/components/restart/switch.py
  esphome/components/ruuvitag/sensor.py
  esphome/components/safe_mode/switch/__init__.py
  esphome/components/select/__init__.py
  esphome/components/sensor/__init__.py
  esphome/components/shutdown/switch.py
  esphome/components/status/binary_sensor.py
  esphome/components/switch/__init__.py
  esphome/components/text_sensor/__init__.py
  esphome/components/uptime/sensor.py
  esphome/components/version/text_sensor.py
  esphome/components/wifi_info/text_sensor.py
  esphome/components/wifi_signal/sensor.py
  esphome/components/xiaomi_cgd1/sensor.py
  esphome/components/xiaomi_cgdk2/sensor.py
  esphome/components/xiaomi_cgg1/sensor.py
  esphome/components/xiaomi_cgpr1/binary_sensor.py
  esphome/components/xiaomi_hhccjcy01/sensor.py
  esphome/components/xiaomi_jqjcy01ym/sensor.py
  esphome/components/xiaomi_lywsd02/sensor.py
  esphome/components/xiaomi_lywsd03mmc/sensor.py
  esphome/components/xiaomi_lywsdcgq/sensor.py
  esphome/components/xiaomi_mhoc401/sensor.py
  esphome/components/xiaomi_mjyd02yla/binary_sensor.py
  esphome/components/xiaomi_wx08zm/binary_sensor.py
  esphome/config_validation.py
  esphome/const.py
  esphome/core/entity_base.cpp
  esphome/core/entity_base.h
  esphome/cpp_helpers.py
  esphome/cpp_types.py
Labels: new-feature

#2677 Add SPI lib for ESP8266 and only add lib for ESP32 when using Arduino
  esphome/components/bme680_bsec/__init__.py
Labels: small-pr, integration: bme680_bsec

#2679 Hotfix for encrypted DSMR regression
  esphome/components/dsmr/dsmr.cpp
Labels: small-pr, integration: dsmr

#2678 Add HA Entity Category support to MQTT
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_const.h
Labels: integration: mqtt, core, small-pr

#2609 Fix gpio validation for esp32 variants
  esphome/components/esp32/gpio.py
  esphome/components/esp32/gpio_esp32.py
  esphome/components/esp32/gpio_esp32_c3.py
  esphome/components/esp32/gpio_esp32_h2.py
  esphome/components/esp32/gpio_esp32_s2.py
  esphome/components/esp32/gpio_esp32_s3.py
Labels: integration: esp32

#2683 Fix when package url has no branch/ref
  esphome/git.py
Labels: core, small-pr

#2682 SSD1306_base -> Add support for 64x32 size and fix typo for flip functions
  esphome/components/ssd1306_base/__init__.py
  esphome/components/ssd1306_base/ssd1306_base.cpp
  esphome/components/ssd1306_base/ssd1306_base.h
Labels: integration: ssd1306_base, small-pr

#2684 Fix dashboard imports for adoption
  esphome/components/dashboard_import/__init__.py
Labels: small-pr, integration: dashboard_import

#2237 Add `esp32_camera_web_server:` to expose mjpg/jpg images
  CODEOWNERS
  esphome/components/api/api_server.cpp
  esphome/components/esp32_camera/__init__.py
  esphome/components/esp32_camera/esp32_camera.cpp
  esphome/components/esp32_camera_web_server/__init__.py
  esphome/components/esp32_camera_web_server/camera_web_server.cpp
  esphome/components/esp32_camera_web_server/camera_web_server.h
  tests/test4.yaml
Labels: new-integration, integration: api, integration: esp32_camera, has-tests, core, so-close, integration: esp32_camera_web_server

#2671 fix esp32 rmt receiver item array length
  esphome/components/remote_receiver/remote_receiver_esp32.cpp
Labels: integration: remote_receiver, small-pr

#2619 Remote base add pronto protocol
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/pronto_protocol.cpp
  esphome/components/remote_base/pronto_protocol.h
Labels: integration: remote_base

#2648 Set up output_switch at priority DATA instead of HARDWARE.
  esphome/components/output/switch/output_switch.h
Labels: integration: output, core, small-pr

#2672 fix rc switch protocol 6
  esphome/components/remote_base/rc_switch_protocol.cpp
Labels: integration: remote_base, small-pr

#2497 Remove "delay_microseconds_accurate()" and improve systemwide delayMicroseconds()
  esphome/components/aht10/aht10.cpp
  esphome/components/esp32/core.cpp
  esphome/components/esp8266/core.cpp
  esphome/components/remote_transmitter/remote_transmitter_esp32.cpp
  esphome/components/remote_transmitter/remote_transmitter_esp8266.cpp
  esphome/components/sdp3x/sdp3x.cpp
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: integration: aht10, integration: remote_transmitter, core, small-pr, second-opinion-wanted, integration: sdp3x, integration: esp32, integration: esp8266

#2654 modbus_controller: remove hard coded register size
  esphome/components/modbus_controller/modbus_controller.h
  esphome/components/modbus_controller/text_sensor/modbus_textsensor.h
Labels: small-pr, by-code-owner, integration: modbus_controller

#2653 CAP1188 Capacitive Touch Sensor Support
  CODEOWNERS
  esphome/components/cap1188/__init__.py
  esphome/components/cap1188/binary_sensor.py
  esphome/components/cap1188/cap1188.cpp
  esphome/components/cap1188/cap1188.h
  tests/test2.yaml
Labels: new-integration, has-tests, integration: cap1188

#2689 Add missing hal.h include in esp32_camera_web_server
  esphome/components/esp32_camera_web_server/camera_web_server.cpp
Labels: small-pr, integration: esp32_camera_web_server

#2663 [ESP32 ADC] Add option for raw uncalibrated output
  esphome/components/adc/adc_sensor.cpp
  esphome/components/adc/adc_sensor.h
  esphome/components/adc/sensor.py
Labels: integration: adc, core, small-pr

#2659 Introduce parse_number() helper function
  esphome/components/anova/anova_base.cpp
  esphome/components/ezo/ezo.cpp
  esphome/components/homeassistant/sensor/homeassistant_sensor.cpp
  esphome/components/hrxl_maxsonar_wr/hrxl_maxsonar_wr.cpp
  esphome/components/mqtt/mqtt_climate.cpp
  esphome/components/mqtt/mqtt_cover.cpp
  esphome/components/mqtt/mqtt_fan.cpp
  esphome/components/mqtt/mqtt_number.cpp
  esphome/components/mqtt_subscribe/sensor/mqtt_subscribe_sensor.cpp
  esphome/components/pipsolar/pipsolar.cpp
  esphome/components/sim800l/sim800l.cpp
  esphome/components/teleinfo/sensor/teleinfo_sensor.cpp
  esphome/components/web_server/web_server.cpp
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: integration: homeassistant, integration: mqtt, integration: mqtt_subscribe, integration: sim800l, integration: web_server, core, integration: teleinfo, integration: ezo, integration: pipsolar, integration: anova, integration: hrxl_maxsonar_wr

#2538 Add repeat action for automations
  esphome/automation.py
  esphome/core/base_automation.h
  tests/test5.yaml
Labels: new-feature, needs-docs, has-tests, core

#2616 Neopixelbus redo method definitions
  esphome/components/neopixelbus/_methods.py
  esphome/components/neopixelbus/const.py
  esphome/components/neopixelbus/light.py
  esphome/config_validation.py
  platformio.ini
  script/clang-tidy
Labels: new-feature, breaking-change, integration: neopixelbus, core

#2661 Introduce byteswap helpers
  esphome/components/i2c/i2c.h
  esphome/core/helpers.h
Labels: integration: i2c, core, small-pr

#1622 Max7219digit multiline
  esphome/components/max7219digit/display.py
  esphome/components/max7219digit/max7219digit.cpp
  esphome/components/max7219digit/max7219digit.h
Labels: stale, needs-docs, integration: max7219digit, second-opinion-wanted

#2660 Clean-up string sanitization helpers
  esphome/components/mqtt/mqtt_component.cpp
  esphome/core/entity_base.cpp
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: integration: mqtt, core

#2662 Introduce encode_value/decode_value() template functions
  esphome/components/ccs811/ccs811.cpp
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: integration: ccs811, core

#2685 Make OTA function switchable in web_server component
  esphome/components/web_server/__init__.py
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  tests/test1.yaml
  tests/test4.yaml
Labels: integration: web_server, has-tests, small-pr

#2423 Implement Improv via Serial component
  CODEOWNERS
  esphome/components/captive_portal/captive_portal.cpp
  esphome/components/esp32/__init__.py
  esphome/components/esp32/const.py
  esphome/components/esp8266/__init__.py
  esphome/components/improv/improv.cpp
  esphome/components/improv/improv.h
  esphome/components/improv_serial/__init__.py
  esphome/components/improv_serial/improv_serial_component.cpp
  esphome/components/improv_serial/improv_serial_component.h
  esphome/components/logger/logger.cpp
  esphome/components/web_server/__init__.py
  esphome/components/wifi/__init__.py
  esphome/components/wifi/wifi_component.cpp
  esphome/core/defines.h
  script/ci-custom.py
  tests/test3.yaml
Labels: new-integration, integration: captive_portal, integration: logger, integration: web_server, integration: wifi, has-tests, core, by-code-owner, integration: improv, integration: esp32, integration: esp8266, integration: improv_serial

#2665 [ms5611]: Re-implement conversion from ADC readings to sensor values
  esphome/components/ms5611/ms5611.cpp
Labels: integration: ms5611

#2692 Fix template number initial value being NaN
  esphome/components/template/number/__init__.py
Labels: integration: template, core, small-pr

#2476 [remote_transmitter] accurate pulse timing for ESP8266
  esphome/components/remote_transmitter/remote_transmitter.h
  esphome/components/remote_transmitter/remote_transmitter_esp8266.cpp
Labels: integration: remote_transmitter

#2478 Uart debugging support
  esphome/components/uart/__init__.py
  esphome/components/uart/uart.h
  esphome/components/uart/uart_component.h
  esphome/components/uart/uart_component_esp32_arduino.cpp
  esphome/components/uart/uart_component_esp8266.cpp
  esphome/components/uart/uart_component_esp_idf.cpp
  esphome/components/uart/uart_debugger.cpp
  esphome/components/uart/uart_debugger.h
  esphome/const.py
  esphome/core/defines.h
  tests/test1.yaml
Labels: integration: uart, has-tests, core

#2690 Enable addressable light power supply based on raw values
  esphome/components/light/addressable_light.h
Labels: integration: light, core, small-pr

#2693 2021.11.0b2
  esphome/components/light/addressable_light.h
  esphome/components/remote_transmitter/remote_transmitter.h
  esphome/components/remote_transmitter/remote_transmitter_esp8266.cpp
  esphome/components/template/number/__init__.py
  esphome/components/uart/__init__.py
  esphome/components/uart/uart.h
  esphome/components/uart/uart_component.h
  esphome/components/uart/uart_component_esp32_arduino.cpp
  esphome/components/uart/uart_component_esp8266.cpp
  esphome/components/uart/uart_component_esp_idf.cpp
  esphome/components/uart/uart_debugger.cpp
  esphome/components/uart/uart_debugger.h
  esphome/const.py
  esphome/core/defines.h
  tests/test1.yaml
Labels: merging-to-beta

#2695 Remove my.ha links from improv
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/improv_serial/improv_serial_component.cpp
Labels: small-pr, by-code-owner, integration: esp32_improv, integration: improv_serial

#2697 Only allow prometheus when using arduino
  esphome/components/prometheus/__init__.py
Labels: small-pr, integration: prometheus

#2696 Defines tidy
  esphome/core/defines.h
Labels: core, small-pr

#2703 Update device classes for binary sensors
  esphome/components/binary_sensor/__init__.py
  esphome/const.py
Labels: breaking-change, integration: binary_sensor, core, small-pr

#2704 2021.11.0b3
  esphome/components/binary_sensor/__init__.py
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/improv_serial/improv_serial_component.cpp
  esphome/components/prometheus/__init__.py
  esphome/const.py
Labels: merging-to-beta

#2686 Bump ESPAsyncWebServer to 2.1.0
  esphome/components/web_server_base/__init__.py
  platformio.ini
Labels: integration: web_server_base, small-pr

#2710 pmsx003: add support for new PMS5003S device
  esphome/components/pmsx003/pmsx003.cpp
  esphome/components/pmsx003/pmsx003.h
  esphome/components/pmsx003/sensor.py
Labels: integration: pmsx003, small-pr

#2707 Add climate on_state trigger
  esphome/components/climate/__init__.py
  esphome/components/climate/automation.h
  tests/test1.yaml
Labels: integration: climate, has-tests, core, small-pr

#2714 Allow setting custom command_topic for Select and Number components
  esphome/components/number/__init__.py
  esphome/components/select/__init__.py
  tests/test1.yaml
Labels: has-tests, small-pr, integration: number, integration: select

#2694 Add greeyac protocol to IR Climate / HeatpumpIR
  esphome/components/heatpumpir/climate.py
  esphome/components/heatpumpir/heatpumpir.cpp
  esphome/components/heatpumpir/heatpumpir.h
  esphome/components/heatpumpir/ir_sender_esphome.h
  platformio.ini
Labels: small-pr, integration: heatpumpir

#2520 Fix rom/rtc.h deprecation compile warning for debug component
  esphome/components/debug/debug_component.cpp
Labels: integration: debug, core, small-pr

#2712 Restore InterruptLock on wifi-less ESP8266
  esphome/core/helpers.cpp
Labels: core, small-pr

#2718 Drop unused constants from const.py
  esphome/const.py
Labels: core, small-pr

#2720 Feed WDT between doing ESP32 touchpad measurements
  esphome/components/esp32_touch/esp32_touch.cpp
Labels: integration: esp32_touch, small-pr

#2719 Install test requirements in lint Docker image
  docker/Dockerfile
Labels: small-pr

#2706 RemoteTransmitter fix. Bug from version 2021.10. Some changes.
  esphome/components/midea/ac_adapter.cpp
  esphome/components/midea/ac_adapter.h
  esphome/components/midea/ac_automations.h
  esphome/components/midea/air_conditioner.cpp
  esphome/components/midea/air_conditioner.h
  esphome/components/midea/appliance_base.h
  esphome/components/midea/climate.py
  esphome/components/midea/ir_transmitter.h
Labels: by-code-owner, integration: midea

#2722 Fix indentation of write_lambda for modbus_controller number
  esphome/components/modbus_controller/number/__init__.py
Labels: small-pr, integration: modbus_controller

#2723 2021.11.0b4
  esphome/components/esp32_touch/esp32_touch.cpp
  esphome/components/midea/ac_adapter.cpp
  esphome/components/midea/ac_adapter.h
  esphome/components/midea/ac_automations.h
  esphome/components/midea/air_conditioner.cpp
  esphome/components/midea/air_conditioner.h
  esphome/components/midea/appliance_base.h
  esphome/components/midea/climate.py
  esphome/components/midea/ir_transmitter.h
  esphome/components/modbus_controller/number/__init__.py
  esphome/components/number/__init__.py
  esphome/components/select/__init__.py
  esphome/components/web_server_base/__init__.py
  esphome/const.py
  esphome/core/helpers.cpp
  platformio.ini
  tests/test1.yaml
Labels: merging-to-beta

#2724 Remove unnecessary duplicate touch_pad_filter_start
  esphome/components/esp32_touch/esp32_touch.cpp
Labels: integration: esp32_touch, small-pr

#2725 2021.11.0b5
  esphome/components/esp32_touch/esp32_touch.cpp
  esphome/const.py
Labels: merging-to-beta

#2713 Clean-up MAC address helpers
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: core, small-pr

#2701 Provide an option to select unique_id generator
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
  esphome/components/mqtt/mqtt_component.cpp
  esphome/const.py
  tests/test1.yaml
Labels: integration: mqtt, has-tests, core, second-opinion-wanted

#2715 Ignore secrets yaml on command line
  esphome/__main__.py
  esphome/const.py
Labels: core, small-pr, second-opinion-wanted

#2729 Add zeroconf as a direct dependency and lock the version
  requirements.txt
Labels: small-pr

#2730 2021.11.0b6
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#2731 Improv serial/checksum changes
  esphome/components/improv/improv.cpp
  esphome/components/improv/improv.h
  esphome/components/improv_serial/improv_serial_component.cpp
Labels: by-code-owner, integration: improv, integration: improv_serial

#2732 2021.11.0b7
  esphome/components/improv/improv.cpp
  esphome/components/improv/improv.h
  esphome/components/improv_serial/improv_serial_component.cpp
  esphome/const.py
Labels: merging-to-beta

#2733 Fix zeroconf time comparisons
  esphome/zeroconf.py
Labels: core, small-pr

#2734 2021.11.0b8
  esphome/const.py
  esphome/zeroconf.py
Labels: merging-to-beta

#2735 Allow for subsecond sampling of hmc5883l
  esphome/components/hmc5883l/sensor.py
Labels: integration: hmc5883l, small-pr

#2736 Change log level from DEBUG to INFO for sniffing services of `rf_bridge`
  esphome/components/rf_bridge/rf_bridge.cpp
Labels: integration: rf_bridge, small-pr

#2737 BLE_Sensor: Use as_reversed_hex_array to properly parse UUIDs after #1627
  esphome/components/ble_client/sensor/__init__.py
Labels: integration: ble_client, small-pr

#2200 Add ble_client binary_output
  esphome/components/ble_client/ble_client.cpp
  esphome/components/ble_client/ble_client.h
  esphome/components/ble_client/output/__init__.py
  esphome/components/ble_client/output/ble_binary_output.cpp
  esphome/components/ble_client/output/ble_binary_output.h
Labels: new-integration, needs-tests, integration: ble_client, needs-codeowners

#2658 Fix senseair component uart read timeout
  esphome/components/senseair/senseair.cpp
Labels: integration: senseair, small-pr

#2738 2021.11.0b9
  esphome/components/ble_client/sensor/__init__.py
  esphome/components/senseair/senseair.cpp
  esphome/const.py
Labels: merging-to-beta

#2740 Remove duplicated const data in esp8266 boards
  esphome/components/esp8266/boards.py
Labels: small-pr, integration: esp8266

#2739 Fix AQI index calculator
  esphome/components/hm3301/aqi_calculator.h
  esphome/components/hm3301/caqi_calculator.h
Labels: integration: hm3301, small-pr

#2743 Re-instate device class update for binary sensors
  esphome/components/binary_sensor/__init__.py
  esphome/const.py
Labels: integration: binary_sensor, core, small-pr

#2744 2021.11.1
  esphome/components/binary_sensor/__init__.py
  esphome/components/hm3301/aqi_calculator.h
  esphome/components/hm3301/caqi_calculator.h
  esphome/const.py
Labels: merging-to-release

#2741 Move to use improv lib from platformio
  CODEOWNERS
  esphome/components/esp32_improv/__init__.py
  esphome/components/esp32_improv/esp32_improv_component.h
  esphome/components/improv/__init__.py
  esphome/components/improv/improv.cpp
  esphome/components/improv/improv.h
  esphome/components/improv_serial/__init__.py
  esphome/components/improv_serial/improv_serial_component.h
  platformio.ini
Labels: small-pr, by-code-owner, integration: esp32_improv, integration: improv, integration: improv_serial

#2674 Add max_telegram_length option to dsmr
  esphome/components/dsmr/__init__.py
  esphome/components/dsmr/dsmr.cpp
  esphome/components/dsmr/dsmr.h
  tests/test3.yaml
Labels: has-tests, integration: dsmr

#2475 Changed LUT for DKE epaper on ttgo t5 2.13inch to improve partial rfresh
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
Labels: integration: waveshare_epaper, small-pr

#2534 Fix NEC protocol implementation
  esphome/components/remote_base/nec_protocol.cpp
Labels: breaking-change, integration: remote_base, small-pr

#2745 Remove arduino dependency from hm3301
  esphome/components/hm3301/abstract_aqi_calculator.h
  esphome/components/hm3301/aqi_calculator.h
  esphome/components/hm3301/aqi_calculator_factory.h
  esphome/components/hm3301/caqi_calculator.h
  esphome/components/hm3301/hm3301.cpp
  esphome/components/hm3301/hm3301.h
  esphome/components/hm3301/sensor.py
  platformio.ini
Labels: integration: hm3301, small-pr

#2721 Add retry handler
  esphome/core/component.cpp
  esphome/core/component.h
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Labels: core

#2753 Allow UART debug configuration with no after: definition
  esphome/components/uart/__init__.py
  tests/test2.yaml
Labels: integration: uart, has-tests, core, small-pr

#2750 Fix gif frame scaling #2717
  esphome/components/animation/__init__.py
Labels: small-pr, integration: animation

#2777 esp32_camera_web_server: Improve support for MotionEye
  esphome/components/esp32_camera_web_server/camera_web_server.cpp
Labels: small-pr, by-code-owner, integration: esp32_camera_web_server

#2751 Remove floating point ops from the ISR
  esphome/components/zyaura/zyaura.cpp
  esphome/components/zyaura/zyaura.h
Labels: integration: zyaura, small-pr

#2780 Introduce str_snprintf helper function
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: core, small-pr

#2778 Prettier date time display after time sync
  esphome/components/sntp/sntp_component.cpp
  esphome/components/time/real_time_clock.cpp
Labels: integration: sntp, integration: time, small-pr

#2774 Fix distorted gif frames when resizing
  esphome/components/animation/__init__.py
Labels: small-pr, integration: animation

#2766 fixed wrong setup-usage tc9548a
  esphome/components/tca9548a/tca9548a.cpp
  esphome/components/tca9548a/tca9548a.h
Labels: small-pr, by-code-owner, integration: tca9548a

#2764 Relax the icon validator to allow non-mdi icons
  esphome/config_validation.py
  tests/unit_tests/test_config_validation.py
Labels: has-tests, core, small-pr

#2675 Update aht10.cpp to address issue #1635
  esphome/components/aht10/aht10.cpp
Labels: integration: aht10, small-pr

#2676 Add support for P1 Data Request pin control
  esphome/components/dsmr/__init__.py
  esphome/components/dsmr/dsmr.cpp
  esphome/components/dsmr/dsmr.h
  tests/test3.yaml
Labels: has-tests, integration: dsmr

#2787 Allow specifying the dashboard bind address
  esphome/__main__.py
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#2791 remove LEDC_HIGH_SPEED_MODE for C3, S2, S3
  esphome/components/ledc/ledc_output.cpp
Labels: integration: ledc, small-pr

#2794 Fix LEDC resolution calculation on ESP32-C3/S2/S3
  esphome/components/ledc/ledc_output.cpp
Labels: integration: ledc, small-pr

#2779 Add support for sdp8xx
  esphome/components/sdp3x/sdp3x.cpp
  esphome/components/sdp3x/sdp3x.h
  esphome/components/sdp3x/sensor.py
Labels: integration: sdp3x

#2771 Allow empty UART debug: option, logging in hex format by default
  esphome/components/uart/__init__.py
  tests/test3.yaml
Labels: integration: uart, has-tests, core, small-pr

#2755 Fix parsing numbers from null-terminated buffers
  esphome/components/anova/anova_base.cpp
  esphome/components/anova/anova_base.h
  esphome/components/ezo/ezo.cpp
  esphome/core/helpers.h
Labels: core, small-pr, integration: ezo, integration: anova

#2799 2021.11.2
  esphome/components/animation/__init__.py
  esphome/components/anova/anova_base.cpp
  esphome/components/anova/anova_base.h
  esphome/components/esp32_camera_web_server/camera_web_server.cpp
  esphome/components/ezo/ezo.cpp
  esphome/components/uart/__init__.py
  esphome/components/zyaura/zyaura.cpp
  esphome/components/zyaura/zyaura.h
  esphome/const.py
  esphome/core/helpers.h
  tests/test2.yaml
Labels: merging-to-release

#2757 Fix CI cache key for test3.yaml compile
  .github/workflows/ci.yml
Labels: small-pr

#2758 Drop obsolete comment from CI workflow file
  .github/workflows/ci.yml
Labels: small-pr

#2759 Cache virtualenv instead of pip cache between CI runs
  .github/workflows/ci.yml
Labels: small-pr

#2761 Add map filter for text sensors
  esphome/components/text_sensor/__init__.py
  esphome/components/text_sensor/filter.cpp
  esphome/components/text_sensor/filter.h
  tests/test2.yaml
Labels: new-feature, integration: text_sensor, has-tests, core

#2756 Only match GCC warnings from ESPHome source files in CI
  .github/workflows/matchers/gcc.json
Labels: small-pr

#2797 Correct constant for dynamic I2S bus in NeoPixelBus
  esphome/components/neopixelbus/_methods.py
Labels: integration: neopixelbus, small-pr

#2762 Consistently format errors in CI scripts
  .github/workflows/matchers/ci-custom.json
  .github/workflows/matchers/lint-python.json
  requirements_test.txt
  script/ci-custom.py
  script/clang-format
  script/clang-tidy
  script/helpers.py
  script/lint-python
Labels: core

#2800 Cancel previous workflows for PRs and branches
  .github/workflows/ci.yml
Labels: small-pr

#2795 total_daily_energy: allow to disable restore mode
  esphome/components/total_daily_energy/sensor.py
  esphome/components/total_daily_energy/total_daily_energy.cpp
  esphome/components/total_daily_energy/total_daily_energy.h
Labels: integration: total_daily_energy, small-pr

#2680 Modbus_controller: Add custom command.
  esphome/components/modbus_controller/__init__.py
  esphome/components/modbus_controller/binary_sensor/__init__.py
  esphome/components/modbus_controller/const.py
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/modbus_controller/modbus_controller.h
  esphome/components/modbus_controller/number/__init__.py
  esphome/components/modbus_controller/output/__init__.py
  esphome/components/modbus_controller/sensor/__init__.py
  esphome/components/modbus_controller/sensor/modbus_sensor.h
  esphome/components/modbus_controller/switch/__init__.py
  esphome/components/modbus_controller/switch/modbus_switch.cpp
  esphome/components/modbus_controller/switch/modbus_switch.h
  esphome/components/modbus_controller/text_sensor/__init__.py
Labels: by-code-owner, integration: modbus_controller

#2801 Fix usage of deprecated climate method in anova
  esphome/components/anova/anova.h
Labels: small-pr, integration: anova

#2805 Fix restoring preferences for ESP32
  esphome/components/esp32/preferences.cpp
Labels: small-pr, integration: esp32

#2808 2021.11.3
  esphome/components/esp32/preferences.cpp
  esphome/const.py
Labels: merging-to-release

#2820 Make clang-tidy suggest stdint.h int types
  .clang-tidy
Labels: small-pr

#2816 Fix parsing numbers in Anova
  esphome/components/anova/anova_base.cpp
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: core, small-pr, integration: anova

#2814 Fix parsing of multiple values in EZO sensor
  esphome/components/ezo/ezo.cpp
Labels: small-pr, integration: ezo

#2815 Fix compilation error for WPA enterprise in ESP-IDF
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: integration: wifi, core, small-pr

#2817 Correct bitmask for third color (blue) scaling.
  esphome/components/display/display_color_utils.h
Labels: integration: display, core, small-pr

#2793 Add delay to improve stability
  esphome/components/scd30/scd30.cpp
Labels: integration: scd30, small-pr

#2818 Fixed data type inside fast_random_8() routine
  esphome/core/helpers.cpp
Labels: core, small-pr

#2821 2021.11.4
  esphome/components/anova/anova_base.cpp
  esphome/components/display/display_color_utils.h
  esphome/components/ezo/ezo.cpp
  esphome/components/scd30/scd30.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/const.py
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: merging-to-release

#2699 Improve DSMR read timeout handling
  esphome/components/dsmr/__init__.py
  esphome/components/dsmr/dsmr.cpp
  esphome/components/dsmr/dsmr.h
  esphome/components/uart/uart_component.h
  esphome/components/uart/uart_debugger.cpp
  tests/test3.yaml
Labels: integration: uart, has-tests, core, integration: dsmr

#2627 Optionally show internal components on the web server
  esphome/components/web_server/__init__.py
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/const.py
  esphome/core/controller.cpp
  esphome/core/controller.h
  tests/test4.yaml
Labels: integration: web_server, has-tests, core

#2827 Fix custom mode_state_topic
  esphome/components/climate/__init__.py
Labels: integration: climate, core, small-pr

#2824 Add support for button entities
  CODEOWNERS
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/list_entities.cpp
  esphome/components/api/list_entities.h
  esphome/components/api/subscribe_state.h
  esphome/components/api/util.cpp
  esphome/components/api/util.h
  esphome/components/button/__init__.py
  esphome/components/button/automation.h
  esphome/components/button/button.cpp
  esphome/components/button/button.h
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_button.cpp
  esphome/components/mqtt/mqtt_button.h
  esphome/components/restart/button/__init__.py
  esphome/components/restart/button/restart_button.cpp
  esphome/components/restart/button/restart_button.h
  esphome/components/restart/switch/__init__.py
  esphome/components/restart/switch/restart_switch.cpp
  esphome/components/restart/switch/restart_switch.h
  esphome/components/template/button/__init__.py
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/core/application.h
  esphome/core/controller.h
  esphome/core/defines.h
  script/ci-custom.py
  tests/test4.yaml
Labels: new-integration, needs-tests, integration: api, integration: mqtt, integration: restart, integration: template, integration: web_server, core, integration: button

#2836 Fix 8266 SPI Clock Polarity Setting
  esphome/components/spi/spi.h
Labels: integration: spi, core, small-pr, bugfix

#2829 Fix too-broad matcher for custom CI script
  .github/workflows/matchers/ci-custom.json
  script/ci-custom.py
Labels: core, small-pr

#2822 cse7766: add energy sensor
  esphome/components/cse7766/cse7766.cpp
  esphome/components/cse7766/cse7766.h
  esphome/components/cse7766/sensor.py
Labels: integration: cse7766

#2809 Burst read for BME280, to reduce spurious spikes
  esphome/components/bme280/bme280.cpp
  esphome/components/bme280/bme280.h
Labels: integration: bme280, small-pr

#2835 Button device class
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/button/__init__.py
  esphome/components/button/button.cpp
  esphome/components/button/button.h
  esphome/components/mqtt/mqtt_button.cpp
  esphome/components/mqtt/mqtt_button.h
  esphome/components/restart/button/__init__.py
  esphome/const.py
Labels: integration: api, integration: mqtt, integration: restart, core, integration: button

#2804 Implement unit_of_measurement for number component
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/mqtt/mqtt_number.cpp
  esphome/components/number/__init__.py
  esphome/components/number/number.cpp
  esphome/components/number/number.h
  tests/test5.yaml
Labels: integration: api, integration: mqtt, has-tests, core, integration: number

#2838 Number mode
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/mqtt/mqtt_const.h
  esphome/components/mqtt/mqtt_number.cpp
  esphome/components/number/__init__.py
  esphome/components/number/number.h
  tests/test5.yaml
Labels: integration: api, integration: mqtt, has-tests, core, integration: number
