Repository esphome/esphome, pull requests merged in 2021-07, with the labels that each got.

#1832 Add device_class support for MQTT integration
  esphome/components/mqtt/mqtt_sensor.cpp
Labels: core, integration: mqtt, small-pr

#1976 Rename master branch to release
  .github/workflows/ci-docker.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  README.md
  esphome/core/config.py
Labels: core, small-pr

#1978 Fix tuya fan speed send
  esphome/components/tuya/fan/tuya_fan.cpp
Labels: integration: tuya, small-pr

#1984 Time Based Cover: Fixed apparent race condition on ESP32 chips
  esphome/components/time_based/time_based_cover.cpp
Labels: integration: time_based, small-pr

#1814 Fix invalid escape sequences in regex (fix pytest warning)
  esphome/components/logger/__init__.py
Labels: core, integration: logger, small-pr

#1753 Bump hypothesis from 5.21.0 to 5.49.0
  requirements_test.txt
  tests/unit_tests/strategies.py
Labels: dependencies, has-tests, small-pr

#1973 hlw8012: fix constants for BL0937
  esphome/components/hlw8012/hlw8012.cpp
  esphome/components/hlw8012/hlw8012.h
  esphome/components/hlw8012/sensor.py
  tests/test1.yaml
Labels: has-tests, integration: hlw8012

#1752 Anova ble component
  CODEOWNERS
  esphome/components/anova/__init__.py
  esphome/components/anova/anova.cpp
  esphome/components/anova/anova.h
  esphome/components/anova/anova_base.cpp
  esphome/components/anova/anova_base.h
  esphome/components/anova/climate.py
  tests/test1.yaml
Labels: has-tests, integration: anova, new-integration

#1977 Add stepper.set_acceleration and stepper.set_deceleration to stepper component
  esphome/components/stepper/__init__.py
  esphome/components/stepper/stepper.h
Labels: integration: stepper

#1980 remote_receiver use config parent receiver for registering dumpers
  esphome/components/remote_base/__init__.py
  esphome/components/remote_receiver/__init__.py
Labels: breaking-change, integration: remote_base, integration: remote_receiver, small-pr

#1966 Don't try compat parsing for "esphome version"
  esphome/__main__.py
Labels: core, small-pr

#1895 Change color model to fix white channel issues
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/light/addressable_light.cpp
  esphome/components/light/automation.h
  esphome/components/light/automation.py
  esphome/components/light/effects.py
  esphome/components/light/esp_color_correction.h
  esphome/components/light/light_call.cpp
  esphome/components/light/light_call.h
  esphome/components/light/light_color_values.h
  esphome/const.py
Labels: breaking-change, core, integration: api, integration: light

#1990 Allow WiFi AP to use device name
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
Labels: core, integration: wifi, new-feature, small-pr

#1989 Support custom fan modes in mqtt_climate
  esphome/components/climate/climate_traits.h
  esphome/components/mqtt/mqtt_climate.cpp
Labels: core, integration: climate, integration: mqtt

#1995 Improve climate mode code docs
  esphome/components/climate/climate_mode.h
Labels: core, integration: climate, small-pr

#1994 Climate modes COOL and HEAT are auto modes
  esphome/components/pid/pid_climate.cpp
Labels: integration: pid, small-pr

#1816 Add state callback to ota component
  esphome/components/ota/__init__.py
  esphome/components/ota/automation.h
  esphome/components/ota/ota_component.cpp
  esphome/components/ota/ota_component.h
  tests/test1.yaml
Labels: core, has-tests, integration: ota

#2003 Fix deprecation message for old climate swing mode methods
  esphome/components/climate/climate_traits.h
Labels: core, integration: climate, small-pr

#1971 Add Number entities (from Home Assistant)
  CODEOWNERS
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/api/list_entities.cpp
  esphome/components/api/list_entities.h
  esphome/components/api/subscribe_state.cpp
  esphome/components/api/subscribe_state.h
  esphome/components/api/util.cpp
  esphome/components/api/util.h
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_number.cpp
  esphome/components/mqtt/mqtt_number.h
  esphome/components/number/__init__.py
  esphome/components/number/automation.cpp
  esphome/components/number/automation.h
  esphome/components/number/number.cpp
  esphome/components/number/number.h
  esphome/components/template/number/__init__.py
  esphome/components/template/number/template_number.cpp
  esphome/components/template/number/template_number.h
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/const.py
  esphome/core/application.h
  esphome/core/controller.cpp
  esphome/core/controller.h
  esphome/core/defines.h
  script/ci-custom.py
  tests/test5.yaml
Labels: core, integration: api, integration: mqtt, integration: number, integration: template, integration: web_server, new-feature, new-integration, notable-change

#2001 Fixed lolin32 lite key
  esphome/pins.py
Labels: core, small-pr

#1983 Add support for IBS-TH1 External Sensor
  esphome/components/inkbird_ibsth1_mini/inkbird_ibsth1_mini.cpp
  esphome/components/inkbird_ibsth1_mini/inkbird_ibsth1_mini.h
  esphome/components/inkbird_ibsth1_mini/sensor.py
Labels: integration: inkbird_ibsth1_mini

#1996 Bang bang climate new mode meanings
  esphome/components/bang_bang/bang_bang_climate.cpp
Labels: by-code-owner, integration: bang_bang, small-pr

#1510 Sgp30 sensor improvements
  esphome/components/ccs811/sensor.py
  esphome/components/sgp30/sensor.py
  esphome/components/sgp30/sgp30.cpp
  esphome/components/sgp30/sgp30.h
  esphome/const.py
Labels: core, integration: ccs811, integration: sgp30

#2008 Color brightness fixes
  esphome/components/light/light_call.cpp
  esphome/components/light/light_color_values.h
  esphome/components/light/light_state.cpp
Labels: core, integration: light, small-pr

#1988 Added support for havells_solar sensor
  CODEOWNERS
  esphome/components/havells_solar/__init__.py
  esphome/components/havells_solar/havells_solar.cpp
  esphome/components/havells_solar/havells_solar.h
  esphome/components/havells_solar/havells_solar_registers.h
  esphome/components/havells_solar/sensor.py
Labels: integration: havells_solar, new-integration

#1981 Remove a whole bunch of deprecated/removed stuff
  esphome/components/binary_sensor/__init__.py
  esphome/components/cover/cover.h
  esphome/components/deep_sleep/__init__.py
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/esp32_ble_tracker/binary_sensor.py
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
  esphome/components/ethernet/__init__.py
  esphome/components/ledc/output.py
  esphome/components/light/light_state.cpp
  esphome/components/light/light_state.h
  esphome/components/pcf8574/__init__.py
  esphome/components/remote_transmitter/switch.py
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
  esphome/components/time/real_time_clock.h
  esphome/components/ultrasonic/sensor.py
  esphome/components/wifi/__init__.py
  esphome/components/xiaomi_miflora/__init__.py
  esphome/components/xiaomi_miflora/sensor.py
  esphome/components/xiaomi_mijia/__init__.py
  esphome/components/xiaomi_mijia/sensor.py
  esphome/const.py
  esphome/core/config.py
Labels: breaking-change, code-quality

#2013 catch 0.0 in float set_level pre-adjustment
  esphome/components/output/float_output.cpp
Labels: breaking-change, core, integration: output, small-pr

#1953 Introduce clamp as a template function
  esphome/components/climate_ir_lg/climate_ir_lg.cpp
  esphome/components/coolix/coolix.cpp
  esphome/components/daikin/daikin.cpp
  esphome/components/fan/fan_helpers.cpp
  esphome/components/fan/fan_state.cpp
  esphome/components/fujitsu_general/fujitsu_general.cpp
  esphome/components/mitsubishi/mitsubishi.cpp
  esphome/components/ssd1306_base/ssd1306_base.cpp
  esphome/components/ssd1322_base/ssd1322_base.cpp
  esphome/components/ssd1327_base/ssd1327_base.cpp
  esphome/components/ssd1331_base/ssd1331_base.cpp
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: cleanup, code-quality, core, integration: climate_ir_lg, integration: coolix, integration: daikin, integration: fan, integration: fujitsu_general, integration: mitsubishi, integration: ssd1306_base, integration: ssd1322_base, integration: ssd1327_base, integration: ssd1331_base, small-pr

#1999 [Teleinfo] do not stop parsing frame if there is only a CRC error on …
  esphome/components/teleinfo/teleinfo.cpp
Labels: integration: teleinfo, small-pr

#1464 Nextion upload and sensors
  CODEOWNERS
  esphome/components/nextion/__init__.py
  esphome/components/nextion/automation.h
  esphome/components/nextion/base_component.py
  esphome/components/nextion/binary_sensor.py
  esphome/components/nextion/binary_sensor/__init__.py
  esphome/components/nextion/binary_sensor/nextion_binarysensor.cpp
  esphome/components/nextion/binary_sensor/nextion_binarysensor.h
  esphome/components/nextion/display.py
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_base.h
  esphome/components/nextion/nextion_commands.cpp
  esphome/components/nextion/nextion_component.cpp
  esphome/components/nextion/nextion_component.h
  esphome/components/nextion/nextion_component_base.h
  esphome/components/nextion/nextion_upload.cpp
  esphome/components/nextion/sensor/__init__.py
  esphome/components/nextion/sensor/nextion_sensor.cpp
  esphome/components/nextion/sensor/nextion_sensor.h
  esphome/components/nextion/switch/__init__.py
  esphome/components/nextion/switch/nextion_switch.cpp
  esphome/components/nextion/switch/nextion_switch.h
  esphome/components/nextion/text_sensor/__init__.py
  esphome/components/nextion/text_sensor/nextion_textsensor.cpp
  esphome/components/nextion/text_sensor/nextion_textsensor.h
  esphome/components/uart/uart.h
  script/ci-custom.py
  tests/test1.yaml
  tests/test3.yaml
Labels: core, has-tests, integration: nextion, integration: uart, new-feature, new-platform, notable-change

#2017 1.20.0b2
  CODEOWNERS
  esphome/components/nextion/__init__.py
  esphome/components/nextion/automation.h
  esphome/components/nextion/base_component.py
  esphome/components/nextion/binary_sensor.py
  esphome/components/nextion/binary_sensor/__init__.py
  esphome/components/nextion/binary_sensor/nextion_binarysensor.cpp
  esphome/components/nextion/binary_sensor/nextion_binarysensor.h
  esphome/components/nextion/display.py
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_base.h
  esphome/components/nextion/nextion_commands.cpp
  esphome/components/nextion/nextion_component.cpp
  esphome/components/nextion/nextion_component.h
  esphome/components/nextion/nextion_component_base.h
  esphome/components/nextion/nextion_upload.cpp
  esphome/components/nextion/sensor/__init__.py
  esphome/components/nextion/sensor/nextion_sensor.cpp
  esphome/components/nextion/sensor/nextion_sensor.h
  esphome/components/nextion/switch/__init__.py
  esphome/components/nextion/switch/nextion_switch.cpp
  esphome/components/nextion/switch/nextion_switch.h
  esphome/components/nextion/text_sensor/__init__.py
  esphome/components/nextion/text_sensor/nextion_textsensor.cpp
  esphome/components/nextion/text_sensor/nextion_textsensor.h
  esphome/components/uart/uart.h
  esphome/const.py
  script/ci-custom.py
  tests/test1.yaml
  tests/test3.yaml
Labels: merging-to-beta

#2010 Fix ethernet component hostname handling
  .gitignore
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
Labels: core, integration: ethernet

#2018 Always tick mdns in ethernet component
  esphome/components/ethernet/ethernet_component.cpp
Labels: core, integration: ethernet, small-pr

#2027 GH Actions CI use GHCR
  .github/workflows/ci.yml
  docker/build.py
Labels: small-pr

#2025 Dashboard disable assets caching
  esphome/dashboard/dashboard.py
Labels: core, dashboard, small-pr

#2026 Improve external components error messages
  esphome/components/external_components/__init__.py
Labels: integration: external_components

#2034 1.20.0b3
  .github/workflows/ci-docker.yml
  .github/workflows/ci.yml
  .github/workflows/docker-lint-build.yml
  .github/workflows/matchers/pytest.json
  .github/workflows/release-dev.yml
  .github/workflows/release.yml
  .gitignore
  docker/Dockerfile
  docker/Dockerfile.hassio
  docker/Dockerfile.lint
  docker/build.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
  esphome/components/external_components/__init__.py
  esphome/const.py
  esphome/dashboard/dashboard.py
  script/bump-docker-base-version.py
  script/bump-version.py
Labels: merging-to-beta

#2036 Number and Template Number updates
  esphome/components/api/api_connection.cpp
  esphome/components/mqtt/mqtt_number.cpp
  esphome/components/number/__init__.py
  esphome/components/number/number.cpp
  esphome/components/number/number.h
  esphome/components/template/number/__init__.py
  esphome/components/template/number/template_number.cpp
  esphome/components/template/number/template_number.h
  esphome/components/web_server/web_server.cpp
Labels: core, integration: api, integration: mqtt, integration: number, integration: template, integration: web_server

#2040 1.20.0b4
  esphome/components/api/api_connection.cpp
  esphome/components/mqtt/mqtt_number.cpp
  esphome/components/number/__init__.py
  esphome/components/number/number.cpp
  esphome/components/number/number.h
  esphome/components/template/number/__init__.py
  esphome/components/template/number/template_number.cpp
  esphome/components/template/number/template_number.h
  esphome/components/web_server/web_server.cpp
  esphome/const.py
Labels: merging-to-beta

#2042 Convert Arduino boolean to bool
  esphome/components/dfplayer/dfplayer.h
  esphome/components/st7735/st7735.cpp
  esphome/components/st7735/st7735.h
Labels: integration: dfplayer, integration: st7735, small-pr

#2041 Add restore_value to template number
  esphome/components/template/number/__init__.py
  esphome/components/template/number/template_number.cpp
  esphome/components/template/number/template_number.h
Labels: core, integration: template

#2029 midea_ac: Fix turbo boost mode. Preset PRESET_BOOST.
  esphome/components/midea_ac/midea_frame.h
Labels: by-code-owner, integration: midea_ac, small-pr

#2043 Bump dashboard to 20210719.0
  requirements.txt
Labels: small-pr

#2016 Correct ADS1115 handling of multiple sensors in continuous mode
  esphome/components/ads1115/ads1115.cpp
Labels: integration: ads1115, small-pr

#2024 ESP32 ADC use esp-idf
  esphome/components/adc/adc_sensor.cpp
  esphome/components/adc/adc_sensor.h
  esphome/components/adc/sensor.py
Labels: core, integration: adc

#2044 1.20.0b5
  esphome/components/adc/adc_sensor.cpp
  esphome/components/adc/adc_sensor.h
  esphome/components/adc/sensor.py
  esphome/components/ads1115/ads1115.cpp
  esphome/components/midea_ac/midea_frame.h
  esphome/components/template/number/__init__.py
  esphome/components/template/number/template_number.cpp
  esphome/components/template/number/template_number.h
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#2035 Esp32 c3 support
  esphome/components/api/api_server.h
  esphome/components/api/user_services.cpp
  esphome/core/esphal.cpp
Labels: core, integration: api, small-pr

#2045 Fix white value transition for addressable lights
  esphome/components/light/addressable_light.cpp
Labels: core, integration: light, small-pr

#2039 Adding last_reset_type to sensors that should support it.
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/atm90e32/sensor.py
  esphome/components/havells_solar/sensor.py
  esphome/components/hlw8012/sensor.py
  esphome/components/pzem004t/sensor.py
  esphome/components/pzemac/sensor.py
  esphome/components/sdm_meter/sensor.py
  esphome/components/sensor/__init__.py
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
  esphome/const.py
Labels: by-code-owner, core, integration: api, integration: atm90e32, integration: havells_solar, integration: hlw8012, integration: pzem004t, integration: pzemac, integration: sdm_meter, integration: sensor, new-feature

#2015 Remove superfluous polling on ADS1115
  esphome/components/ads1115/ads1115.cpp
Labels: integration: ads1115, small-pr

#2048 1.20.0b6
  esphome/components/ads1115/ads1115.cpp
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/atm90e32/sensor.py
  esphome/components/havells_solar/sensor.py
  esphome/components/hlw8012/sensor.py
  esphome/components/light/addressable_light.cpp
  esphome/components/pzem004t/sensor.py
  esphome/components/pzemac/sensor.py
  esphome/components/sdm_meter/sensor.py
  esphome/components/sensor/__init__.py
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
  esphome/const.py
Labels: merging-to-beta

#2032 Thermostat fixes+updates 1
  esphome/components/thermostat/climate.py
  esphome/components/thermostat/thermostat_climate.cpp
  esphome/components/thermostat/thermostat_climate.h
  esphome/const.py
Labels: by-code-owner, core, integration: thermostat

#2052 Add test5 back to CI
  .github/workflows/ci.yml
Labels: small-pr

#1546 Added support for pvvx_mithermometer sensor
  CODEOWNERS
  esphome/components/pvvx_mithermometer/__init__.py
  esphome/components/pvvx_mithermometer/pvvx_mithermometer.cpp
  esphome/components/pvvx_mithermometer/pvvx_mithermometer.h
  esphome/components/pvvx_mithermometer/sensor.py
  tests/test2.yaml
Labels: has-tests, integration: pvvx_mithermometer, new-integration

#1993 Added support for Selec Energy Meter
  CODEOWNERS
  esphome/components/selec_meter/__init__.py
  esphome/components/selec_meter/selec_meter.cpp
  esphome/components/selec_meter/selec_meter.h
  esphome/components/selec_meter/selec_meter_registers.h
  esphome/components/selec_meter/sensor.py
  tests/test5.yaml
Labels: has-tests, integration: selec_meter, new-integration

#2055 Fix git pull for external_components
  esphome/components/external_components/__init__.py
Labels: bugfix, integration: external_components, small-pr

#2054 midea_ac: fix presets implementation
  esphome/components/midea_ac/midea_climate.cpp
  esphome/components/midea_ac/midea_frame.cpp
  esphome/components/midea_ac/midea_frame.h
Labels: by-code-owner, integration: midea_ac, small-pr

#2053 Fixes new auto mode COOL and HEAT after #1994
  esphome/components/pid/pid_climate.cpp
Labels: integration: pid, small-pr

#2060 Add TAG to all compile units
  esphome/components/esp32_ble/ble_advertising.cpp
  esphome/components/esp32_ble/ble_uuid.cpp
Labels: integration: esp32_ble, small-pr

#2057 Fix minor build issues with Arduino ESP32 2.0.0-rc1
  esphome/components/uart/uart.h
  esphome/components/uart/uart_esp32.cpp
Labels: core, integration: uart, small-pr

#2002 Fix clang-format script behaviour without -i + code cleanup
  .github/workflows/ci.yml
  script/clang-format
  script/clang-tidy
  script/helpers.py
Labels: core

#1651 Merge build flags from platformio_options
  esphome/writer.py
Labels: breaking-change, core, small-pr

#2022 Correctly invert esp32 RMT TX
  esphome/components/remote_transmitter/remote_transmitter.h
  esphome/components/remote_transmitter/remote_transmitter_esp32.cpp
Labels: integration: remote_transmitter, small-pr

#2028 Move configure_rmt() into setup()
  esphome/components/remote_transmitter/remote_transmitter_esp32.cpp
Labels: integration: remote_transmitter, small-pr

#2063 Log warning about lack of support for Anova nano
  esphome/components/anova/anova.cpp
Labels: by-code-owner, integration: anova, small-pr

#2061 Print BLE 128-bit UUIDs according to spec
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
Labels: integration: esp32_ble_tracker, small-pr

#2056 Support library override using named library with repository
  esphome/core/__init__.py
  esphome/core/config.py
  esphome/cpp_generator.py
  tests/unit_tests/test_core.py
Labels: core, has-tests

#2062 Initial ESP32-C3-DevKitM-1 board support
  esphome/boards.py
  esphome/components/adc/adc_sensor.cpp
  esphome/core/__init__.py
  esphome/core/config.py
  esphome/pins.py
  esphome/platformio_api.py
  esphome/wizard.py
  esphome/writer.py
  tests/unit_tests/test_pins.py
  tests/unit_tests/test_wizard.py
Labels: core, has-tests, integration: adc

#2065 Couple more updates for the Tuya component
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
Labels: integration: tuya

#2068 Fix climate restore schema changed resulting in invalid restore
  esphome/components/climate/climate.cpp
  esphome/components/climate/climate.h
Labels: core, integration: climate, small-pr

#2071 Fix MQTT climate custom fan modes without regular ones
  esphome/components/mqtt/mqtt_climate.cpp
Labels: core, integration: mqtt, small-pr

#2074 1.20.1
  esphome/components/anova/anova.cpp
  esphome/components/external_components/__init__.py
  esphome/components/midea_ac/midea_climate.cpp
  esphome/components/midea_ac/midea_frame.cpp
  esphome/components/midea_ac/midea_frame.h
  esphome/components/mqtt/mqtt_climate.cpp
  esphome/components/pid/pid_climate.cpp
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
  esphome/const.py
Labels: merging-to-release

#2080 More Tuya MCU robustness
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
Labels: integration: tuya, small-pr

#2081 Bump esphome dashboard to 20210728.0
  requirements.txt
Labels: small-pr

#2038 pm1006: add rx-only support
  esphome/components/pm1006/__init__.py
  esphome/components/pm1006/pm1006.cpp
  esphome/components/pm1006/pm1006.h
  esphome/components/pm1006/sensor.py
  esphome/const.py
Labels: core, integration: pm1006, new-integration

#2083 Add sensor monetary device_class
  esphome/components/sensor/__init__.py
  esphome/const.py
Labels: core, integration: sensor, small-pr

#2009 Make light.addressable_set color parameters behave as documented & consistent with elsewhere
  esphome/components/light/addressable_light.cpp
  esphome/components/light/addressable_light.h
  esphome/components/light/addressable_light_effect.h
  esphome/components/light/automation.cpp
  esphome/components/light/automation.h
  esphome/components/light/automation.py
  esphome/components/light/esp_color_correction.cpp
  esphome/components/light/light_color_values.h
Labels: bugfix, cleanup, core, integration: light

#2086 Fix PID climate breaks when restoring old modes
  esphome/components/pid/pid_climate.cpp
  esphome/components/pid/pid_climate.h
Labels: by-code-owner, integration: pid, small-pr

#2075 Bump ESPAsyncWebServer-esphome to 1.3.0
  esphome/components/web_server_base/__init__.py
  platformio.ini
Labels: integration: web_server_base, small-pr

#2082 HLW8012 - Dump energy sensor config
  esphome/components/hlw8012/hlw8012.cpp
Labels: integration: hlw8012, small-pr

#2090 Use sensor_schema for total_daily_energy
  esphome/components/total_daily_energy/sensor.py
Labels: integration: total_daily_energy, small-pr

#2091 1.20.2
  esphome/components/hlw8012/hlw8012.cpp
  esphome/components/total_daily_energy/sensor.py
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
  esphome/const.py
  requirements.txt
Labels: merging-to-release

#2064 Add SDP3x sensor
  CODEOWNERS
  esphome/components/sdp3x/__init__.py
  esphome/components/sdp3x/sdp3x.cpp
  esphome/components/sdp3x/sdp3x.h
  esphome/components/sdp3x/sensor.py
  esphome/components/tmp117/sensor.py
  tests/test1.yaml
Labels: has-tests, integration: sdp3x, integration: tmp117, new-integration

#2066 Add support for the TLC5947 24-Channel, 12-Bit PWM LED Driver
  CODEOWNERS
  esphome/components/tlc5947/__init__.py
  esphome/components/tlc5947/output.py
  esphome/components/tlc5947/tlc5947.cpp
  esphome/components/tlc5947/tlc5947.h
  tests/test5.yaml
Labels: has-tests, integration: tlc5947, new-integration

#1170 Add T6615
  CODEOWNERS
  esphome/components/t6615/__init__.py
  esphome/components/t6615/sensor.py
  esphome/components/t6615/t6615.cpp
  esphome/components/t6615/t6615.h
  tests/test5.yaml
Labels: has-tests, integration: t6615, new-integration

#2020 Add support for the HRXL MaxSonar WR series sensors
  CODEOWNERS
  esphome/components/hrxl_maxsonar_wr/__init__.py
  esphome/components/hrxl_maxsonar_wr/hrxl_maxsonar_wr.cpp
  esphome/components/hrxl_maxsonar_wr/hrxl_maxsonar_wr.h
  esphome/components/hrxl_maxsonar_wr/sensor.py
  tests/test4.yaml
Labels: has-tests, integration: hrxl_maxsonar_wr, new-integration

#2069 Pull ESP32 Wifi fixes from arduino-esp32
  esphome/components/wifi/wifi_component_esp32.cpp
Labels: core, integration: wifi

#2085 Add demo integration
  esphome/components/demo/__init__.py
  esphome/components/demo/demo_binary_sensor.h
  esphome/components/demo/demo_climate.h
  esphome/components/demo/demo_cover.h
  esphome/components/demo/demo_fan.h
  esphome/components/demo/demo_light.h
  esphome/components/demo/demo_number.h
  esphome/components/demo/demo_sensor.h
  esphome/components/demo/demo_switch.h
  esphome/components/demo/demo_text_sensor.h
  tests/test5.yaml
Labels: has-tests, integration: demo, new-integration

#2092 Add device class support to MQTT cover
  esphome/components/mqtt/mqtt_cover.cpp
Labels: core, integration: mqtt, small-pr

#2012 Color mode implementation
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/binary/light/binary_light_output.h
  esphome/components/cwww/cwww_light_output.h
  esphome/components/cwww/light.py
  esphome/components/demo/demo_light.h
  esphome/components/fastled_base/fastled_light.h
  esphome/components/hbridge/hbridge_light_output.h
  esphome/components/light/__init__.py
  esphome/components/light/automation.h
  esphome/components/light/automation.py
  esphome/components/light/base_light_effects.h
  esphome/components/light/color_mode.h
  esphome/components/light/effects.py
  esphome/components/light/light_call.cpp
  esphome/components/light/light_call.h
  esphome/components/light/light_color_values.h
  esphome/components/light/light_json_schema.cpp
  esphome/components/light/light_json_schema.h
  esphome/components/light/light_state.cpp
  esphome/components/light/light_state.h
  esphome/components/light/light_traits.h
  esphome/components/light/light_transformer.h
  esphome/components/light/types.py
  esphome/components/monochromatic/monochromatic_light_output.h
  esphome/components/mqtt/mqtt_light.cpp
  esphome/components/neopixelbus/neopixelbus_light.h
  esphome/components/rgb/rgb_light_output.h
  esphome/components/rgbw/rgbw_light_output.h
  esphome/components/rgbww/light.py
  esphome/components/rgbww/rgbww_light_output.h
  esphome/components/tuya/light/tuya_light.cpp
  esphome/components/web_server/web_server.cpp
  esphome/config_validation.py
  esphome/const.py
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: breaking-change, core, integration: api, integration: binary, integration: cwww, integration: demo, integration: fastled_base, integration: hbridge, integration: light, integration: monochromatic, integration: mqtt, integration: neopixelbus, integration: rgb, notable-change

#2097 Set pulse meter total to use state class measurement and last reset type auto
  esphome/components/pulse_meter/sensor.py
Labels: integration: pulse_meter, small-pr

#2095 Convert more code to async-def syntax
  esphome/components/anova/climate.py
  esphome/components/pvvx_mithermometer/sensor.py
  esphome/components/teleinfo/__init__.py
  esphome/components/teleinfo/sensor/__init__.py
  esphome/components/teleinfo/text_sensor/__init__.py
Labels: integration: anova, integration: pvvx_mithermometer, integration: teleinfo, small-pr

#2098 1.20.3
  esphome/components/pulse_meter/sensor.py
  esphome/const.py
Labels: merging-to-release

#2099 fix diplay trigger missing base class
  esphome/components/display/__init__.py
Labels: core, integration: display, small-pr

#2102 Fix min/max keys in MQTT Number to match Home Assistant
  esphome/components/mqtt/mqtt_number.cpp
Labels: core, integration: mqtt, small-pr

#2103 Use proper schema for the analog pin shorthand
  esphome/pins.py
Labels: core, small-pr
