Repository esphome/esphome, pull requests merged in 2022-04, with the labels that each got.

#3296 Define touchscreen support when in use.
  esphome/components/touchscreen/__init__.py
  esphome/core/defines.h
Labels: core, small-pr, integration: touchscreen

#3336 New vscode schema gen
  esphome/automation.py
  esphome/components/logger/__init__.py
  esphome/components/modbus_controller/__init__.py
  esphome/components/modbus_controller/select/__init__.py
  esphome/config_validation.py
  esphome/jsonschema.py
  script/build_jsonschema.py
  script/build_language_schema.py
Labels: integration: logger, core, integration: modbus_controller

#3341 protobuf: fix incomplete 64 bits implementation
  esphome/components/api/proto.h
  script/api_protobuf/api_protobuf.py
Labels: integration: api, core

#3320 feat: support ble_client that use security w/o pin codes
  esphome/components/ble_client/ble_client.cpp
  esphome/components/ble_client/ble_client.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: esp32_ble_tracker, integration: ble_client

#2930 Add mqtt for idf
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_backend.h
  esphome/components/mqtt/mqtt_backend_arduino.h
  esphome/components/mqtt/mqtt_backend_idf.cpp
  esphome/components/mqtt/mqtt_backend_idf.h
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
  esphome/core/defines.h
  tests/test5.yaml
Labels: integration: mqtt, has-tests, core

#3279 Added a function to load custom characters in LCD display
  esphome/components/lcd_base/lcd_display.cpp
  esphome/components/lcd_base/lcd_display.h
Labels: integration: lcd_base, small-pr

#3193 CAN bus: support remote transmission request flag for canbus.send
  esphome/components/canbus/__init__.py
  esphome/components/canbus/canbus.cpp
  esphome/components/canbus/canbus.h
  tests/test1.yaml
Labels: has-tests, integration: canbus, small-pr

#2792 Tm1637 binarysensor
  esphome/components/tm1637/binary_sensor.py
  esphome/components/tm1637/tm1637.cpp
  esphome/components/tm1637/tm1637.h
Labels: integration: tm1637, new-platform

#3354 Bump docker dependencies
  docker/Dockerfile
Labels: small-pr

#3359 Allow on_value_range for sensor and number to be templated
  esphome/components/number/__init__.py
  esphome/components/sensor/__init__.py
Labels: integration: sensor, core, small-pr, integration: number

#3353 Add support for Electrolux heatpump and bump arduino-heatpumpir version
  esphome/components/heatpumpir/climate.py
  esphome/components/heatpumpir/heatpumpir.cpp
  esphome/components/heatpumpir/heatpumpir.h
  platformio.ini
Labels: small-pr, integration: heatpumpir

#3315 Implement newer RTU protocol of Growatt inverters
  esphome/components/growatt_solar/growatt_solar.cpp
  esphome/components/growatt_solar/growatt_solar.h
  esphome/components/growatt_solar/sensor.py
Labels: integration: growatt_solar

#3370 Add parameter to control i2c stop signal at endTransmission
  esphome/components/i2c/i2c.h
  esphome/components/i2c/i2c_bus.h
  esphome/components/i2c/i2c_bus_arduino.cpp
  esphome/components/i2c/i2c_bus_arduino.h
  esphome/components/i2c/i2c_bus_esp_idf.cpp
  esphome/components/i2c/i2c_bus_esp_idf.h
  esphome/components/tca9548a/tca9548a.cpp
  esphome/components/tca9548a/tca9548a.h
Labels: integration: i2c, core, small-pr, integration: tca9548a

#3365 Fix SHTC3 sensor detection
  esphome/components/shtcx/shtcx.cpp
  esphome/components/shtcx/shtcx.h
Labels: integration: shtcx, small-pr

#3332 Extend mcp3204 to support 8 channels (mcp3208 variant)
  esphome/components/mcp3204/mcp3204.cpp
  esphome/components/mcp3204/sensor/__init__.py
Labels: small-pr, integration: mcp3204

#3361 Fix HM3301 AQI int8 overflow
  esphome/components/hm3301/abstract_aqi_calculator.h
  esphome/components/hm3301/aqi_calculator.h
  esphome/components/hm3301/caqi_calculator.h
  esphome/components/hm3301/hm3301.cpp
Labels: integration: hm3301, small-pr

#3358 Add cover toggle support to endstop cover
  esphome/components/endstop/endstop_cover.cpp
  esphome/components/endstop/endstop_cover.h
  tests/test3.yaml
Labels: new-feature, integration: endstop, has-tests, small-pr

#3372 Make home_assistant imported sensors internal by default
  esphome/components/homeassistant/__init__.py
  esphome/components/homeassistant/binary_sensor/__init__.py
  esphome/components/homeassistant/sensor/__init__.py
  esphome/components/homeassistant/text_sensor/__init__.py
Labels: breaking-change, integration: homeassistant

#2711 Add integration hydreon_rgxx for rain sensors by Hydreon
  CODEOWNERS
  esphome/components/hydreon_rgxx/__init__.py
  esphome/components/hydreon_rgxx/binary_sensor.py
  esphome/components/hydreon_rgxx/hydreon_rgxx.cpp
  esphome/components/hydreon_rgxx/hydreon_rgxx.h
  esphome/components/hydreon_rgxx/sensor.py
  tests/test3.yaml
Labels: new-integration, has-tests, integration: hydreon_rgxx

#3303 Addition of Deep Sleep RTC pin definition for ESP32-S2
  esphome/components/deep_sleep/__init__.py
Labels: integration: deep_sleep, core, small-pr

#3186 Add Xiaomi RTCGQ02LM - Mi Motion Sensor 2
  CODEOWNERS
  esphome/components/xiaomi_ble/xiaomi_ble.cpp
  esphome/components/xiaomi_ble/xiaomi_ble.h
  esphome/components/xiaomi_rtcgq02lm/__init__.py
  esphome/components/xiaomi_rtcgq02lm/binary_sensor.py
  esphome/components/xiaomi_rtcgq02lm/sensor.py
  esphome/components/xiaomi_rtcgq02lm/xiaomi_rtcgq02lm.cpp
  esphome/components/xiaomi_rtcgq02lm/xiaomi_rtcgq02lm.h
  esphome/core/helpers.h
  tests/test2.yaml
Labels: new-integration, integration: xiaomi_ble, has-tests, core, integration: xiaomi_rtcgq02lm

#2775 Add Sonoff D1 Dimmer support
  CODEOWNERS
  esphome/components/sonoff_d1/__init__.py
  esphome/components/sonoff_d1/light.py
  esphome/components/sonoff_d1/sonoff_d1.cpp
  esphome/components/sonoff_d1/sonoff_d1.h
  tests/test3.yaml
Labels: new-integration, has-tests, integration: sonoff_d1

#2826 Remote base pronto receive
  esphome/components/remote_base/pronto_protocol.cpp
  esphome/components/remote_base/pronto_protocol.h
Labels: new-feature, integration: remote_base

#3378 Use correct http defines
  esphome/components/web_server/web_server.h
Labels: integration: web_server, small-pr

#3374 Refactor Sensirion Sensors
  CODEOWNERS
  esphome/components/i2c/i2c_bus.h
  esphome/components/scd30/scd30.cpp
  esphome/components/scd30/scd30.h
  esphome/components/scd30/sensor.py
  esphome/components/scd4x/scd4x.cpp
  esphome/components/scd4x/scd4x.h
  esphome/components/scd4x/sensor.py
  esphome/components/sdp3x/sdp3x.cpp
  esphome/components/sdp3x/sdp3x.h
  esphome/components/sdp3x/sensor.py
  esphome/components/sensirion_common/__init__.py
  esphome/components/sensirion_common/i2c_sensirion.cpp
  esphome/components/sensirion_common/i2c_sensirion.h
  esphome/components/sgp30/sensor.py
  esphome/components/sgp30/sgp30.cpp
  esphome/components/sgp30/sgp30.h
  esphome/components/sgp40/sensor.py
  esphome/components/sgp40/sgp40.cpp
  esphome/components/sgp40/sgp40.h
  esphome/components/sht3xd/sensor.py
  esphome/components/sht3xd/sht3xd.cpp
  esphome/components/sht3xd/sht3xd.h
  esphome/components/sht4x/sensor.py
  esphome/components/sht4x/sht4x.cpp
  esphome/components/sht4x/sht4x.h
  esphome/components/shtcx/sensor.py
  esphome/components/shtcx/shtcx.cpp
  esphome/components/shtcx/shtcx.h
  esphome/components/sps30/sensor.py
  esphome/components/sps30/sps30.cpp
  esphome/components/sps30/sps30.h
  esphome/components/sts3x/sensor.py
  esphome/components/sts3x/sts3x.cpp
  esphome/components/sts3x/sts3x.h
  esphome/const.py
Labels: new-integration, needs-docs, needs-tests, integration: i2c, integration: scd30, integration: sgp30, integration: sht3xd, integration: shtcx, integration: sps30, core, integration: sgp40, integration: sht4x, integration: scd4x, integration: sdp3x, integration: sensirion_common

#3380 Fix silent config errors
  esphome/config.py
Labels: core, small-pr

#3379 Move PN532OnTagTrigger to nfc::NfcOnTagTrigger
  esphome/components/nfc/__init__.py
  esphome/components/nfc/automation.cpp
  esphome/components/nfc/automation.h
  esphome/components/pn532/__init__.py
  esphome/components/pn532/pn532.cpp
  esphome/components/pn532/pn532.h
Labels: integration: pn532, by-code-owner, integration: nfc

#3312 Allow specifying deep sleep wakup clock time
  esphome/components/deep_sleep/__init__.py
  esphome/components/deep_sleep/deep_sleep_component.cpp
  esphome/components/deep_sleep/deep_sleep_component.h
  esphome/components/time/real_time_clock.cpp
  esphome/components/time/real_time_clock.h
Labels: new-feature, integration: deep_sleep, integration: time, core

#3387 Changes accuracy of single cell voltage
  esphome/components/daly_bms/sensor.py
Labels: small-pr, integration: daly_bms

#3389 Add default object_id_generator for mqtt
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
Labels: integration: mqtt, core, small-pr

#2954 Add support for Shelly Dimmer 2
  CODEOWNERS
  esphome/components/shelly_dimmer/LICENSE.txt
  esphome/components/shelly_dimmer/__init__.py
  esphome/components/shelly_dimmer/dev_table.h
  esphome/components/shelly_dimmer/light.py
  esphome/components/shelly_dimmer/shelly_dimmer.cpp
  esphome/components/shelly_dimmer/shelly_dimmer.h
  esphome/components/shelly_dimmer/stm32flash.cpp
  esphome/components/shelly_dimmer/stm32flash.h
  esphome/core/defines.h
  tests/test1.yaml
Labels: new-integration, has-tests, core, integration: shelly_dimmer, so-close

#3384 Allocate smaller amount of buffer for JSON
  esphome/components/json/json_util.cpp
Labels: integration: json, core, small-pr

#3390 2022.4.0b2
  CODEOWNERS
  esphome/components/daly_bms/sensor.py
  esphome/components/json/json_util.cpp
  esphome/components/shelly_dimmer/LICENSE.txt
  esphome/components/shelly_dimmer/__init__.py
  esphome/components/shelly_dimmer/dev_table.h
  esphome/components/shelly_dimmer/light.py
  esphome/components/shelly_dimmer/shelly_dimmer.cpp
  esphome/components/shelly_dimmer/shelly_dimmer.h
  esphome/components/shelly_dimmer/stm32flash.cpp
  esphome/components/shelly_dimmer/stm32flash.h
  esphome/const.py
  esphome/core/defines.h
  tests/test1.yaml
Labels: merging-to-beta

#3395 Fix power_delivered/produced_phase sensor deviceclass in DSMR
  esphome/components/dsmr/sensor.py
Labels: small-pr, integration: dsmr

#3394 Shelly Dimmer: Delete obsolete LICENSE.txt
  esphome/components/shelly_dimmer/LICENSE.txt
Labels: small-pr, by-code-owner, integration: shelly_dimmer

#3402 2022.4.0b3
  esphome/components/dsmr/sensor.py
  esphome/components/shelly_dimmer/LICENSE.txt
  esphome/const.py
Labels: merging-to-beta

#3404 Dont require {} for wifi ap with defaults
  esphome/components/wifi/__init__.py
Labels: integration: wifi, core, small-pr

#3401 Multi conf for Teleinfo component
  esphome/components/teleinfo/__init__.py
Labels: integration: teleinfo, small-pr

#3393 Add support for Mopeka Pro+ Residential sensor
  esphome/components/mopeka_pro_check/mopeka_pro_check.cpp
  esphome/components/mopeka_pro_check/mopeka_pro_check.h
Labels: small-pr, integration: mopeka_pro_check

#3407 2022.4.0b4
  esphome/components/wifi/__init__.py
  esphome/const.py
Labels: merging-to-beta

#3300 Add support for BL0939 (Sonoff Dual R3 V2 powermeter)
  CODEOWNERS
  esphome/components/bl0939/__init__.py
  esphome/components/bl0939/bl0939.cpp
  esphome/components/bl0939/bl0939.h
  esphome/components/bl0939/sensor.py
  tests/test3.yaml
Labels: new-integration, has-tests, integration: bl0939

#3403 Add "esphome rename" command
  esphome/__main__.py
Labels: core

#3410 SPS30: Add fan action
  CODEOWNERS
  esphome/components/sps30/automation.h
  esphome/components/sps30/sensor.py
  esphome/components/sps30/sps30.cpp
  esphome/components/sps30/sps30.h
Labels: integration: sps30, new-action

#3319 feat: add openssh-client on docker image (#1681)
  docker/Dockerfile
Labels: small-pr

#3421 Add duration device class for sensors
  esphome/components/sensor/__init__.py
  esphome/const.py
Labels: integration: sensor, core, small-pr

#3415 Missing `f` prefix on f-strings fix
  esphome/components/esp32/gpio.py
Labels: small-pr, integration: esp32

#3422 Queue sensor publishes so we don't block for too long
  esphome/components/bme680_bsec/bme680_bsec.cpp
  esphome/components/bme680_bsec/bme680_bsec.h
Labels: by-code-owner, integration: bme680_bsec

#3229 added RGB565 image type
  esphome/components/animation/__init__.py
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  esphome/components/image/__init__.py
Labels: integration: display, integration: image, core, integration: animation
