Repository esphome/esphome, pull requests merged in 2022-10, with the labels that each got.

#3817 Bluetooth Proxy active connections
  CODEOWNERS
  esphome/components/airthings_wave_mini/airthings_wave_mini.cpp
  esphome/components/airthings_wave_plus/airthings_wave_plus.cpp
  esphome/components/am43/am43.cpp
  esphome/components/am43/cover/am43_cover.cpp
  esphome/components/anova/anova.cpp
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/bedjet/bedjet_hub.cpp
  esphome/components/bedjet/bedjet_hub.h
  esphome/components/ble_client/__init__.py
  esphome/components/ble_client/automation.cpp
  esphome/components/ble_client/automation.h
  esphome/components/ble_client/ble_client.cpp
  esphome/components/ble_client/ble_client.h
  esphome/components/ble_client/sensor/automation.h
  esphome/components/ble_client/sensor/ble_sensor.cpp
  esphome/components/ble_client/text_sensor/automation.h
  esphome/components/ble_client/text_sensor/ble_text_sensor.cpp
  esphome/components/bluetooth_proxy/__init__.py
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/esp32_ble_client/__init__.py
  esphome/components/esp32_ble_client/ble_characteristic.cpp
  esphome/components/esp32_ble_client/ble_characteristic.h
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
  esphome/components/esp32_ble_client/ble_descriptor.h
  esphome/components/esp32_ble_client/ble_service.cpp
  esphome/components/esp32_ble_client/ble_service.h
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
  esphome/components/esp32_ble_tracker/queue.h
  esphome/components/pvvx_mithermometer/display/pvvx_display.cpp
  esphome/components/radon_eye_rd200/radon_eye_rd200.cpp
  esphome/const.py
Labels: new-integration, needs-docs, needs-tests, integration: api, core, integration: ble_client, integration: airthings_wave_plus, integration: am43, integration: anova, integration: airthings_wave_mini, integration: bedjet, integration: bluetooth_proxy, integration: esp32_ble_client

#3863 fix dump preset string type
  esphome/components/thermostat/thermostat_climate.cpp
  esphome/components/thermostat/thermostat_climate.h
Labels: integration: thermostat, small-pr

#3869 Bump CI to python 3.9
  .github/workflows/ci.yml
Labels: small-pr

#3577 Add cg.with_local_variable
  esphome/codegen.py
  esphome/components/wifi/__init__.py
  esphome/cpp_generator.py
Labels: integration: wifi, core

#3844 Fix time/automation (cron) wdt crash when time jumps ahead too much
  esphome/components/time/automation.cpp
Labels: integration: time, small-pr

#3871 Bump python min to 3.9
  .pre-commit-config.yaml
  esphome/components/esp8266/gpio.py
  esphome/components/neopixelbus/_methods.py
  esphome/components/select/__init__.py
  esphome/config.py
  esphome/config_helpers.py
  esphome/core/__init__.py
  esphome/coroutine.py
  esphome/cpp_generator.py
  esphome/cpp_helpers.py
  esphome/dashboard/dashboard.py
  esphome/final_validate.py
  esphome/helpers.py
  esphome/loader.py
  esphome/platformio_api.py
  esphome/storage_json.py
  esphome/types.py
  esphome/util.py
  esphome/vscode.py
  esphome/writer.py
  esphome/zeroconf.py
  pyproject.toml
  script/lint-python
  setup.py
  tests/unit_tests/strategies.py
Labels: breaking-change, integration: neopixelbus, has-tests, core, dashboard, integration: select, integration: esp8266

#3876 2022.9.3
  CODEOWNERS
  esphome/components/airthings_wave_mini/airthings_wave_mini.cpp
  esphome/components/airthings_wave_plus/airthings_wave_plus.cpp
  esphome/components/am43/am43.cpp
  esphome/components/am43/cover/am43_cover.cpp
  esphome/components/anova/anova.cpp
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/bedjet/bedjet_hub.cpp
  esphome/components/bedjet/bedjet_hub.h
  esphome/components/ble_client/__init__.py
  esphome/components/ble_client/automation.cpp
  esphome/components/ble_client/automation.h
  esphome/components/ble_client/ble_client.cpp
  esphome/components/ble_client/ble_client.h
  esphome/components/ble_client/sensor/automation.h
  esphome/components/ble_client/sensor/ble_sensor.cpp
  esphome/components/ble_client/text_sensor/automation.h
  esphome/components/ble_client/text_sensor/ble_text_sensor.cpp
  esphome/components/bluetooth_proxy/__init__.py
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/esp32_ble_client/__init__.py
  esphome/components/esp32_ble_client/ble_characteristic.cpp
  esphome/components/esp32_ble_client/ble_characteristic.h
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
  esphome/components/esp32_ble_client/ble_descriptor.h
  esphome/components/esp32_ble_client/ble_service.cpp
  esphome/components/esp32_ble_client/ble_service.h
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
  esphome/components/esp32_ble_tracker/queue.h
  esphome/components/pvvx_mithermometer/display/pvvx_display.cpp
  esphome/components/radon_eye_rd200/radon_eye_rd200.cpp
  esphome/const.py
Labels: merging-to-release

#3881 Bump esphome-dashboard to 20221007.0
  requirements.txt
Labels: small-pr

#3882 Dont add wifi block to yaml if discovered device uses ethernet
  esphome/components/dashboard_import/__init__.py
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard, integration: dashboard_import

#3883 2022.9.4
  esphome/components/dashboard_import/__init__.py
  esphome/components/mdns/mdns_component.cpp
  esphome/const.py
  esphome/dashboard/dashboard.py
  esphome/zeroconf.py
  requirements.txt
Labels: merging-to-release

#3895 Add new sensor device classes
  esphome/components/sensor/__init__.py
  esphome/const.py
Labels: integration: sensor, core, small-pr

#3793 Refactor xpt2046 to be a touchscreen platform
  CODEOWNERS
  esphome/components/animation/__init__.py
  esphome/components/xpt2046/__init__.py
  esphome/components/xpt2046/binary_sensor.py
  esphome/components/xpt2046/touchscreen.py
  esphome/components/xpt2046/xpt2046.cpp
  esphome/components/xpt2046/xpt2046.h
  tests/test4.yaml
Labels: breaking-change, has-tests, integration: animation, integration: xpt2046

#3653 Proxy friendly host url resolution for `use_address` with path.
  esphome/helpers.py
Labels: core, small-pr

#3896 Update webserver index file
  esphome/components/web_server/server_index.h
Labels: integration: web_server

#3885 Correctly set ble_write UUIDs based on their lengths.
  esphome/components/ble_client/__init__.py
  esphome/components/ble_client/automation.h
Labels: integration: ble_client

#3874 Fix default unit for ble_rssi sensor
  esphome/components/ble_rssi/sensor.py
Labels: integration: ble_rssi, small-pr

#3891 Exposing coordinates from touchscreen binary sensor
  esphome/components/touchscreen/binary_sensor/touchscreen_binary_sensor.h
Labels: small-pr, integration: touchscreen

#3623 Fix type annotation on `extract_registry_entry_config`
  esphome/cpp_helpers.py
  esphome/util.py
Labels: stale, core, small-pr

#3860 Add ble RSSI sensor for connected devices
  esphome/components/ble_client/ble_client.cpp
  esphome/components/ble_client/ble_client.h
  esphome/components/ble_client/sensor/__init__.py
  esphome/components/ble_client/sensor/ble_rssi_sensor.cpp
  esphome/components/ble_client/sensor/ble_rssi_sensor.h
  tests/test1.yaml
Labels: breaking-change, has-tests, integration: ble_client, new-platform

#3321 Fix pulse_meter filter logic
  esphome/components/pulse_meter/pulse_meter_sensor.cpp
  esphome/components/pulse_meter/pulse_meter_sensor.h
Labels: by-code-owner, integration: pulse_meter

#3655 Add support for ZHLT01 heatpump IR protocol
  esphome/components/heatpumpir/climate.py
  esphome/components/heatpumpir/heatpumpir.cpp
  esphome/components/heatpumpir/heatpumpir.h
Labels: small-pr, integration: heatpumpir

#3884 Send GATT error events to HA
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/bluetooth_proxy/__init__.py
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/esp32_ble_client/ble_characteristic.cpp
  esphome/components/esp32_ble_client/ble_characteristic.h
  tests/test1.yaml
  tests/test2.yaml
Labels: integration: api, has-tests, core, by-code-owner, integration: bluetooth_proxy, integration: esp32_ble_client

#3888 Do not require CS pin for ST7789V
  esphome/components/st7789v/display.py
Labels: integration: st7789v, small-pr

#3864 fix never calling preset change trigger
  esphome/components/thermostat/thermostat_climate.cpp
  esphome/components/thermostat/thermostat_climate.h
Labels: integration: thermostat

#3856 Modbus QWORD fix
  esphome/components/modbus_controller/modbus_controller.cpp
Labels: small-pr, integration: modbus_controller

#3859 Update the ibeacon code
  esphome/components/esp32_ble_beacon/__init__.py
  esphome/components/esp32_ble_beacon/esp32_ble_beacon.cpp
  esphome/components/esp32_ble_beacon/esp32_ble_beacon.h
Labels: integration: esp32_ble_beacon

#3902 Don't Use Base Network Manual IP for WiFi AP
  esphome/components/wifi/__init__.py
Labels: breaking-change, integration: wifi, core, small-pr, bugfix

#3813 Allow preserving WiFi credentials entered with captive_portal
  esphome/components/captive_portal/__init__.py
  esphome/components/wifi/wifi_component.cpp
Labels: new-feature, integration: captive_portal, integration: wifi, core, small-pr

#3904 Send true and not RSSI in ble_presence
  esphome/components/ble_presence/ble_presence_device.h
Labels: integration: ble_presence, small-pr

#3905 Remove address type map from bluetooth proxy
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
Labels: small-pr, by-code-owner, integration: bluetooth_proxy

#3909 2022.10.0b2
  esphome/components/ble_presence/ble_presence_device.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/thermostat/thermostat_climate.cpp
  esphome/components/thermostat/thermostat_climate.h
  esphome/const.py
Labels: merging-to-beta

#3569 Add support for wl-134
  CODEOWNERS
  esphome/components/wl_134/__init__.py
  esphome/components/wl_134/text_sensor.py
  esphome/components/wl_134/wl_134.cpp
  esphome/components/wl_134/wl_134.h
Labels: new-integration, needs-tests, integration: wl_134

#3811 New platform ethernet_info from component text_sensor
  CODEOWNERS
  esphome/components/ethernet_info/__init__.py
  esphome/components/ethernet_info/ethernet_info_text_sensor.cpp
  esphome/components/ethernet_info/ethernet_info_text_sensor.h
  esphome/components/ethernet_info/text_sensor.py
  esphome/core/component.cpp
  esphome/core/component.h
  tests/test4.yaml
Labels: new-integration, has-tests, core, integration: ethernet_info

#3528 Implementation for Atlas Scientific Peristaltic Pump
  CODEOWNERS
  esphome/components/ezo_pmp/__init__.py
  esphome/components/ezo_pmp/binary_sensor.py
  esphome/components/ezo_pmp/ezo_pmp.cpp
  esphome/components/ezo_pmp/ezo_pmp.h
  esphome/components/ezo_pmp/sensor.py
  esphome/components/ezo_pmp/text_sensor.py
  tests/test5.yaml
Labels: new-integration, has-tests, integration: ezo_pmp

#3822 Add adc128s102 sensor
  CODEOWNERS
  esphome/components/adc128s102/__init__.py
  esphome/components/adc128s102/adc128s102.cpp
  esphome/components/adc128s102/adc128s102.h
  esphome/components/adc128s102/sensor/__init__.py
  esphome/components/adc128s102/sensor/adc128s102_sensor.cpp
  esphome/components/adc128s102/sensor/adc128s102_sensor.h
  tests/test3.yaml
Labels: new-integration, has-tests, integration: adc128s102

#3743 Added component Daikin BRC to support ceiling cassette heatpumps
  CODEOWNERS
  esphome/components/daikin_brc/__init__.py
  esphome/components/daikin_brc/climate.py
  esphome/components/daikin_brc/daikin_brc.cpp
  esphome/components/daikin_brc/daikin_brc.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: daikin_brc

#3911 Add API interface to request a complete device config as JSON.
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#3284 Initial Support for RP2040 platform
  .github/workflows/ci.yml
  CODEOWNERS
  esphome/__main__.py
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
  esphome/components/md5/md5.cpp
  esphome/components/md5/md5.h
  esphome/components/mdns/mdns_component.cpp
  esphome/components/mdns/mdns_rp2040.cpp
  esphome/components/ota/__init__.py
  esphome/components/ota/ota_backend_arduino_rp2040.cpp
  esphome/components/ota/ota_backend_arduino_rp2040.h
  esphome/components/ota/ota_component.cpp
  esphome/components/ota/ota_component.h
  esphome/components/rp2040/__init__.py
  esphome/components/rp2040/boards.py
  esphome/components/rp2040/const.py
  esphome/components/rp2040/core.cpp
  esphome/components/rp2040/core.h
  esphome/components/rp2040/gpio.cpp
  esphome/components/rp2040/gpio.h
  esphome/components/rp2040/gpio.py
  esphome/components/rp2040/preferences.cpp
  esphome/components/rp2040/preferences.h
  esphome/components/rp2040_pwm/__init__.py
  esphome/components/rp2040_pwm/output.py
  esphome/components/rp2040_pwm/rp2040_pwm.cpp
  esphome/components/rp2040_pwm/rp2040_pwm.h
  esphome/components/socket/__init__.py
  esphome/components/socket/headers.h
  esphome/components/spi/__init__.py
  esphome/components/spi/spi.h
  esphome/components/wifi/__init__.py
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
  esphome/components/wifi/wifi_component_pico_w.cpp
  esphome/config_validation.py
  esphome/const.py
  esphome/core/__init__.py
  esphome/core/helpers.cpp
  esphome/dashboard/dashboard.py
  esphome/storage_json.py
  esphome/wizard.py
  platformio.ini
  script/ci-custom.py
  tests/README.md
  tests/dummy_main.cpp
  tests/test6.yaml
Labels: new-integration, needs-docs, needs-tests, integration: logger, integration: ota, core, integration: socket, integration: mdns, integration: md5, integration: rp2040, integration: rp2040_pwm

#3920 Bump esphome-dashboard to 20221020.0
  requirements.txt
Labels: small-pr

#3933 Fix missing dependencies for heatpumpir
  esphome/components/heatpumpir/climate.py
  platformio.ini
Labels: small-pr, integration: heatpumpir

#3934 Update the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: small-pr

#3935 Update bluetooth proxy limit as soon as connection requested
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: esp32_ble_tracker, small-pr, by-code-owner, integration: bluetooth_proxy

#3923 Fix error with require_framework_version and rp2040
  esphome/config_validation.py
Labels: core, small-pr

#3936 Make mDNS on rp2040 work
  esphome/components/mdns/__init__.py
  esphome/components/mdns/mdns_component.h
  esphome/components/mdns/mdns_rp2040.cpp
Labels: small-pr, integration: mdns

#3938 Send manufacturer name via API
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
Labels: integration: api, core, small-pr

#3937 Update base platformio board for rp2040
  platformio.ini
Labels: small-pr

#3939 Implement different random for rp2040
  esphome/core/helpers.cpp
Labels: core, small-pr

#3928 add proper device class to uptime
  esphome/components/uptime/sensor.py
Labels: integration: uptime, small-pr

#3635 Show local mac when scanning wifi
  esphome/components/wifi/wifi_component.cpp
Labels: stale, integration: wifi, core, small-pr

#3940 Add water & precipitation_intensity sensor device classes
  esphome/components/sensor/__init__.py
  esphome/const.py
Labels: integration: sensor, core, small-pr

#3925 Fixed touch release issue using the interrupt pin
  esphome/components/xpt2046/xpt2046.cpp
  esphome/components/xpt2046/xpt2046.h
Labels: by-code-owner, integration: xpt2046

#3942 Prefix devcontainer image with ghcr.io
  .devcontainer/devcontainer.json
Labels: small-pr

#3944 2022.10.1
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
  esphome/components/sensor/__init__.py
  esphome/components/xpt2046/xpt2046.cpp
  esphome/components/xpt2046/xpt2046.h
  esphome/const.py
Labels: merging-to-release

#3945 Implement InterruptLock for RP2040
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: core, small-pr

#3946 Implement RP2040 preferences
  esphome/components/ota/ota_backend_arduino_rp2040.cpp
  esphome/components/rp2040/preferences.cpp
  esphome/components/rp2040/preferences.h
Labels: integration: ota, core, by-code-owner, integration: rp2040

#3947 Fix filesystem size for RP2040 OTA
  esphome/components/rp2040/__init__.py
Labels: small-pr, by-code-owner, integration: rp2040

#3948 Bump esphome/Improv to 1.2.3
  esphome/components/esp32_improv/__init__.py
  esphome/components/improv_serial/__init__.py
  platformio.ini
Labels: small-pr, by-code-owner, integration: esp32_improv, integration: improv_serial

#3952 Add core config option to limit compile process count
  esphome/const.py
  esphome/core/config.py
  esphome/platformio_api.py
Labels: core, small-pr

#3953 Some RP2040 wifi changes for AP mode
  esphome/components/wifi/wifi_component_pico_w.cpp
Labels: integration: wifi, core, small-pr

#3954 Update rp2040 to latest framework release from GitHub
  esphome/components/rp2040/__init__.py
Labels: small-pr, by-code-owner, integration: rp2040

#3955 [SM300D2] Reduce log severity for successful reads
  esphome/components/sm300d2/sm300d2.cpp
Labels: small-pr, integration: sm300d2

#3957 Allow using LED pin on rpi pico-w
  esphome/components/rp2040/boards.py
  esphome/components/rp2040/gpio.py
Labels: small-pr, by-code-owner, integration: rp2040

#3960 Fix RP2040 SPISettings
  esphome/components/spi/spi.h
Labels: integration: spi, core, small-pr

#3959 Make some minor changes to I²C so rp2040 works
  esphome/components/i2c/i2c_bus_arduino.cpp
  esphome/components/rp2040/boards.py
Labels: integration: i2c, core, by-code-owner, integration: rp2040

#3964 Remove gitpod
  .gitpod.yml
Labels: small-pr

#3967 Fix bluetooth_proxy not connecting
  esphome/components/esp32_ble_client/ble_client_base.cpp
Labels: small-pr, by-code-owner, integration: esp32_ble_client
