Repository esphome/esphome, pull requests merged in 2022-05, with the labels that each got.

#3405 Allow wifi output_power down to 8.5dB
  esphome/components/wifi/__init__.py
Labels: integration: wifi, core, small-pr

#3442 Add help text to rename command
  esphome/__main__.py
Labels: core, small-pr

#3443 Add rename command handler
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#3436 Support for Arduino 2 and serial port on ESP32-S2 and ESP32-C3
  esphome/components/improv_serial/improv_serial_component.h
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
Labels: integration: logger, core, small-pr, integration: improv_serial

#3448 Bump dashboard to 20220508.0
  requirements.txt
Labels: small-pr

#3276 Waveshare epaper 7in5 v2alt
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper

#3439 Early pin init
  esphome/components/esp8266/__init__.py
  esphome/components/esp8266/const.py
  esphome/components/esp8266/core.cpp
  tests/test3.yaml
Labels: has-tests, small-pr, integration: esp8266

#2942 Add ENS210 Humidity & Temperature sensor component
  CODEOWNERS
  esphome/components/ens210/__init__.py
  esphome/components/ens210/ens210.cpp
  esphome/components/ens210/ens210.h
  esphome/components/ens210/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: ens210

#3447 Also rename yaml filename with rename command
  esphome/__main__.py
Labels: core

#3450 Fix spi transfer with miso pin defined on espidf
  esphome/components/spi/spi.h
Labels: integration: spi, core, small-pr

#3451 Force using name substitution when adopting a device
  esphome/components/dashboard_import/__init__.py
Labels: small-pr, integration: dashboard_import

#3433 Esp32c3 deepsleep fix
  esphome/components/deep_sleep/deep_sleep_component.cpp
Labels: integration: deep_sleep, core, small-pr

#3105 Add SERIAL_JTAG/CDC logger option for ESP-IDF platform for ESP32-S2/S3/C3
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
Labels: integration: logger, core

#3423 Select enhancement
  esphome/codegen.py
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/copy/select/copy_select.cpp
  esphome/components/mqtt/mqtt_select.cpp
  esphome/components/select/__init__.py
  esphome/components/select/automation.h
  esphome/components/select/select.cpp
  esphome/components/select/select.h
  esphome/components/select/select_call.cpp
  esphome/components/select/select_call.h
  esphome/components/select/select_traits.cpp
  esphome/components/select/select_traits.h
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/const.py
  esphome/core/controller.cpp
  esphome/core/controller.h
  esphome/cpp_types.py
  tests/test5.yaml
Labels: integration: api, integration: mqtt, integration: web_server, has-tests, core, integration: select, new-action, integration: copy

#3429 Number enhancement
  esphome/components/number/__init__.py
  esphome/components/number/automation.h
  esphome/components/number/number.cpp
  esphome/components/number/number.h
  esphome/components/number/number_call.cpp
  esphome/components/number/number_call.h
  esphome/components/number/number_traits.cpp
  esphome/components/number/number_traits.h
  tests/test5.yaml
Labels: has-tests, integration: number

#3445 mask deprecated adc_gpio_init() for esp32-s2
  esphome/components/adc/adc_sensor.cpp
Labels: integration: adc, core, small-pr

#3417 tca9548a fix channel selection
  esphome/components/tca9548a/tca9548a.cpp
Labels: small-pr, integration: tca9548a

#2396 Add SML (Smart Message Language) platform for energy meters
  CODEOWNERS
  esphome/components/sml/__init__.py
  esphome/components/sml/constants.h
  esphome/components/sml/sensor/__init__.py
  esphome/components/sml/sensor/sml_sensor.cpp
  esphome/components/sml/sensor/sml_sensor.h
  esphome/components/sml/sml.cpp
  esphome/components/sml/sml.h
  esphome/components/sml/sml_parser.cpp
  esphome/components/sml/sml_parser.h
  esphome/components/sml/text_sensor/__init__.py
  esphome/components/sml/text_sensor/sml_text_sensor.cpp
  esphome/components/sml/text_sensor/sml_text_sensor.h
Labels: stale, new-integration, needs-tests, integration: sml

#3124 Delonghi Penguino PAC W120HP ir support
  CODEOWNERS
  esphome/components/delonghi/__init__.py
  esphome/components/delonghi/climate.py
  esphome/components/delonghi/delonghi.cpp
  esphome/components/delonghi/delonghi.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: delonghi

#3409 extend scd4x
  CODEOWNERS
  esphome/components/scd4x/automation.h
  esphome/components/scd4x/scd4x.cpp
  esphome/components/scd4x/scd4x.h
  esphome/components/scd4x/sensor.py
  tests/test1.yaml
Labels: has-tests, integration: scd4x

#3053 PMSX003: Add support for specifying the update interval and spinning down
  esphome/components/pmsx003/pmsx003.cpp
  esphome/components/pmsx003/pmsx003.h
  esphome/components/pmsx003/sensor.py
  tests/test3.yaml
Labels: integration: pmsx003, has-tests

#3376 CAN bus: on_frame remote_transmission_request
  esphome/components/canbus/__init__.py
  esphome/components/canbus/canbus.cpp
  esphome/components/canbus/canbus.h
Labels: integration: canbus, small-pr

#3435 Fix cover set position by force pushing position_id datapoint (simila…
  esphome/components/tuya/cover/tuya_cover.cpp
Labels: integration: tuya, small-pr

#3427 added prev_frame for animation
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
Labels: integration: display, core, small-pr

#3455 Fix tests
  tests/test3.yaml
Labels: has-tests, small-pr

#3396 Fix BLE280 setup() when the sensor is marked as failed.
  esphome/components/bme280/bme280.cpp
Labels: integration: bme280, small-pr

#3454 Esp32c3 deepsleep fix
  esphome/components/deep_sleep/deep_sleep_component.cpp
  esphome/components/deep_sleep/deep_sleep_component.h
Labels: integration: deep_sleep, core, small-pr

#3225 Make retry scheduler efficient
  esphome/core/component.h
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Labels: core

#3457 Code cleanup fixes for the select component
  esphome/components/select/select.cpp
  esphome/components/select/select.h
  esphome/components/select/select_call.cpp
  esphome/components/select/select_call.h
  esphome/components/template/select/template_select.cpp
Labels: breaking-change, integration: template, core, integration: select

#3458 Code cleanup fixes for the number component
  esphome/components/number/number.h
  esphome/components/number/number_call.h
Labels: small-pr, integration: number

#3142 Enable api transport encryption for new projects
  esphome/dashboard/dashboard.py
  esphome/wizard.py
Labels: notable-change, core, small-pr, dashboard

#3282 Implement allow_deep_sleep
  esphome/components/deep_sleep/deep_sleep_component.cpp
  esphome/components/deep_sleep/deep_sleep_component.h
Labels: integration: deep_sleep, core, small-pr

#3459 Add deep_sleep.allow YAML action
  esphome/components/deep_sleep/__init__.py
  esphome/components/deep_sleep/deep_sleep_component.h
  tests/test1.yaml
Labels: integration: deep_sleep, has-tests, core

#3462 Restore RealTimeClock's local TZ after epoch sync
  esphome/components/time/real_time_clock.cpp
  esphome/components/time/real_time_clock.h
Labels: integration: time, small-pr

#3400 Shelly dimmer: Use unique_ptr to handle the lifetime of stm32_t
  esphome/components/shelly_dimmer/shelly_dimmer.cpp
  esphome/components/shelly_dimmer/stm32flash.cpp
  esphome/components/shelly_dimmer/stm32flash.h
Labels: by-code-owner, integration: shelly_dimmer

#3437 Use heat mode for heat. Move EXT HT to custom presets.
  esphome/components/bedjet/bedjet.cpp
  esphome/components/bedjet/bedjet.h
Labels: small-pr, integration: bedjet

#3258 Tcs34725 automatic sampling settings for improved dynamics and accuracy
  esphome/components/tcs34725/sensor.py
  esphome/components/tcs34725/tcs34725.cpp
  esphome/components/tcs34725/tcs34725.h
Labels: breaking-change, integration: tcs34725

#3330 Make custom_fan and custom_preset templatable as per documentation
  esphome/components/climate/__init__.py
Labels: integration: climate, core, small-pr

#3360 Update captive portal canHandle function
  esphome/components/captive_portal/captive_portal.h
Labels: integration: captive_portal, core, small-pr

#3465 2022.5.0b2
  esphome/components/bedjet/bedjet.cpp
  esphome/components/bedjet/bedjet.h
  esphome/components/captive_portal/captive_portal.h
  esphome/components/climate/__init__.py
  esphome/components/shelly_dimmer/shelly_dimmer.cpp
  esphome/components/shelly_dimmer/stm32flash.cpp
  esphome/components/shelly_dimmer/stm32flash.h
  esphome/components/time/real_time_clock.cpp
  esphome/components/time/real_time_clock.h
  esphome/const.py
Labels: merging-to-beta

#2469 Remove duplicate convert_to_8bit_color_ function.
  esphome/components/display/display_color_utils.h
  esphome/components/ili9341/ili9341_display.cpp
  esphome/components/ili9341/ili9341_display.h
Labels: not-stale, integration: display, core, integration: ili9341, small-pr

#3475 Increase JSON buffer size on overflow
  esphome/components/json/json_util.cpp
Labels: integration: json, core, small-pr

#3469 Add Tuya select
  CODEOWNERS
  esphome/components/tuya/select/__init__.py
  esphome/components/tuya/select/tuya_select.cpp
  esphome/components/tuya/select/tuya_select.h
  esphome/const.py
  tests/test4.yaml
Labels: new-integration, integration: tuya, has-tests, core

#3477 Mark improv_serial and ESP-IDF usb based serial on c3/s2/s3 unsupported
  esphome/components/improv_serial/__init__.py
Labels: small-pr, integration: improv_serial

#3478 2022.5.0b3
  esphome/components/improv_serial/__init__.py
  esphome/components/json/json_util.cpp
  esphome/const.py
Labels: merging-to-beta

#3473 MQTT cover: send state even if position is available
  esphome/components/mqtt/mqtt_cover.cpp
Labels: integration: mqtt, core, small-pr

#3479 ESP32: Only save to NVS if data was changed
  esphome/components/esp32/preferences.cpp
Labels: small-pr, integration: esp32

#3482 Retry Tuya init commands
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
Labels: integration: tuya, small-pr

#3484 2022.5.0b4
  esphome/components/esp32/preferences.cpp
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
  esphome/const.py
Labels: merging-to-beta

#2490 Ili9341 8bit indexed mode pt1
  esphome/components/display/display_color_utils.h
  esphome/components/ili9341/display.py
  esphome/components/ili9341/ili9341_display.cpp
  esphome/components/ili9341/ili9341_display.h
  esphome/const.py
Labels: not-stale, integration: display, core, integration: ili9341

#3285 feat: esp32-camera add stream event
  esphome/components/esp32_camera/__init__.py
  esphome/components/esp32_camera/esp32_camera.cpp
  esphome/components/esp32_camera/esp32_camera.h
Labels: integration: esp32_camera

#3382 Add support for SGP41
  CODEOWNERS
  esphome/components/sgp40/sensirion_voc_algorithm.cpp
  esphome/components/sgp40/sensirion_voc_algorithm.h
  esphome/components/sgp40/sensor.py
  esphome/components/sgp40/sgp40.cpp
  esphome/components/sgp40/sgp40.h
  esphome/components/sgp4x/__init__.py
  esphome/components/sgp4x/sensor.py
  esphome/components/sgp4x/sgp4x.cpp
  esphome/components/sgp4x/sgp4x.h
  platformio.ini
  tests/test2.yaml
Labels: new-integration, breaking-change, has-tests, integration: sgp40, integration: sgp4x

#3490 Add missing import to bedjet
  esphome/components/bedjet/bedjet.h
Labels: small-pr, integration: bedjet

#3491 Fix compile issues on windows
  esphome/components/sonoff_d1/sonoff_d1.cpp
  esphome/components/tuya/text_sensor/tuya_text_sensor.cpp
Labels: integration: tuya, small-pr, integration: sonoff_d1

#3496 midea: New power_toggle action. Auto-use remote transmitter.
  esphome/components/midea/ac_automations.h
  esphome/components/midea/air_conditioner.h
  esphome/components/midea/climate.py
  tests/test1.yaml
Labels: has-tests, small-pr, by-code-owner, integration: midea

#3497 esp32: fix NVS
  esphome/components/esp32/preferences.cpp
Labels: small-pr, bugfix, integration: esp32

#3494 Output a true RMS voltage %
  esphome/components/ac_dimmer/ac_dimmer.cpp
Labels: breaking-change, integration: ac_dimmer, small-pr

#3495 [scd4x] Fix not passing arguments to templatable value for perform_forced_calibration
  esphome/components/scd4x/automation.h
Labels: small-pr, bugfix, integration: scd4x

#3499 2022.5.1
  esphome/components/bedjet/bedjet.h
  esphome/components/bedjet/bedjet_const.h
  esphome/components/esp32/preferences.cpp
  esphome/const.py
Labels: merging-to-release

#3298 Thermostat preset with modes
  esphome/components/thermostat/climate.py
  esphome/components/thermostat/thermostat_climate.cpp
  esphome/components/thermostat/thermostat_climate.h
Labels: integration: thermostat

#3508 Allow Prometheus component to export internal components
  esphome/components/prometheus/__init__.py
  esphome/components/prometheus/prometheus_handler.cpp
  esphome/components/prometheus/prometheus_handler.h
Labels: small-pr, integration: prometheus

#3519 [BedJet] Add configurable heating strategy
  esphome/components/bedjet/bedjet.cpp
  esphome/components/bedjet/bedjet.h
  esphome/components/bedjet/bedjet_const.h
  esphome/components/bedjet/climate.py
  tests/test1.yaml
Labels: has-tests, by-code-owner, integration: bedjet

#3510 Add variable substitutions for !include
  esphome/components/substitutions/__init__.py
  esphome/yaml_util.py
  tests/unit_tests/fixtures/yaml_util/includes/included.yaml
  tests/unit_tests/fixtures/yaml_util/includes/list.yaml
  tests/unit_tests/fixtures/yaml_util/includes/scalar.yaml
  tests/unit_tests/fixtures/yaml_util/includetest.yaml
  tests/unit_tests/test_yaml_util.py
Labels: notable-change, integration: substitutions, has-tests, core

#3511 Change rain intensity sensor string
  esphome/components/hydreon_rgxx/sensor.py
Labels: small-pr, integration: hydreon_rgxx
