Repository esphome/esphome, pull requests merged in 2022-09, with the labels that each got.

#3757 2022.8.1
  esphome/components/fingerprint_grow/fingerprint_grow.cpp
  esphome/components/fingerprint_grow/fingerprint_grow.h
  esphome/components/spi/spi.cpp
  esphome/const.py
Labels: merging-to-release

#3691 Esp32 pulsecounter optional pcnt
  esphome/components/hlw8012/hlw8012.h
  esphome/components/pulse_counter/pulse_counter_sensor.cpp
  esphome/components/pulse_counter/pulse_counter_sensor.h
  esphome/components/pulse_counter/sensor.py
Labels: integration: hlw8012, integration: pulse_counter

#3756 I found some issue in the ili9341 driver
  esphome/components/ili9341/ili9341_display.cpp
  esphome/components/ili9341/ili9341_display.h
Labels: integration: ili9341

#3767 Ignore NaN states in the integration component
  esphome/components/integration/integration_sensor.cpp
Labels: integration: integration, small-pr

#3752 Add the same docker tags as used in HA
  docker/build.py
Labels: small-pr

#3768 Update modbus_controller.cpp
  esphome/components/modbus_controller/modbus_controller.cpp
Labels: small-pr, integration: modbus_controller

#3778 Remove unneeded line (spi component adds it)
  esphome/components/mcp3008/__init__.py
Labels: integration: mcp3008, small-pr

#3780 Move crc16 to helpers
  esphome/components/am2320/am2320.cpp
  esphome/components/modbus/modbus.cpp
  esphome/components/modbus/modbus.h
  esphome/components/senseair/senseair.cpp
  esphome/components/senseair/senseair.h
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: integration: am2320, integration: modbus, integration: senseair, core, small-pr

#3781 2022.8.2
  CODEOWNERS
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/api/proto.h
  esphome/components/bluetooth_proxy/__init__.py
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/integration/integration_sensor.cpp
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/const.py
  esphome/core/defines.h
  tests/test1.yaml
Labels: merging-to-release

#3779 YAML linting
  .editorconfig
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/dependabot.yml
  .github/workflows/ci-docker.yml
  .github/workflows/ci.yml
  .github/workflows/lock.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .gitpod.yml
  .pre-commit-config.yaml
  .yamllint
  tests/component_tests/binary_sensor/test_binary_sensor.yaml
  tests/component_tests/button/test_button.yaml
  tests/component_tests/deep_sleep/test_deep_sleep1.yaml
  tests/component_tests/deep_sleep/test_deep_sleep2.yaml
  tests/component_tests/sensor/test_sensor.yaml
  tests/test1.yaml
  tests/test2.yaml
  tests/test3.yaml
  tests/test4.yaml
  tests/test5.yaml
  tests/test_packages/test_packages_package1.yaml
  tests/test_packages/test_packages_package_wifi.yaml
  tests/test_packages/test_uptime_sensor.yaml
  tests/unit_tests/fixtures/yaml_util/includes/scalar.yaml
  tests/unit_tests/fixtures/yaml_util/includetest.yaml
Labels: has-tests, small-pr, cleanup

#3758 Fix HA addon auth using HA credentials
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#3783 2022.8.3
  esphome/const.py
  esphome/dashboard/dashboard.py
Labels: merging-to-release

#3737 Add support to tm1621 display
  CODEOWNERS
  esphome/components/tm1621/__init__.py
  esphome/components/tm1621/display.py
  esphome/components/tm1621/tm1621.cpp
  esphome/components/tm1621/tm1621.h
  esphome/const.py
  tests/test1.yaml
Labels: new-integration, has-tests, core, integration: tm1621

#3774 u-fire EC sensor
  CODEOWNERS
  esphome/components/ufire_ec/__init__.py
  esphome/components/ufire_ec/sensor.py
  esphome/components/ufire_ec/ufire_ec.cpp
  esphome/components/ufire_ec/ufire_ec.h
  esphome/const.py
  tests/test2.yaml
  tests/test4.yaml
Labels: new-integration, has-tests, core, integration: ufire_ec

#3371 Add support for MPL3115A2 Pressure/Altitude and Temperature Sensor
  CODEOWNERS
  esphome/components/mpl3115a2/__init__.py
  esphome/components/mpl3115a2/mpl3115a2.cpp
  esphome/components/mpl3115a2/mpl3115a2.h
  esphome/components/mpl3115a2/sensor.py
  tests/test1.yaml
Labels: stale, new-integration, not-stale, has-tests, integration: mpl3115a2

#3777 Add support for BL0942 voltage, current, energy and power Sensor
  CODEOWNERS
  esphome/components/bl0942/__init__.py
  esphome/components/bl0942/bl0942.cpp
  esphome/components/bl0942/bl0942.h
  esphome/components/bl0942/sensor.py
  tests/test3.yaml
Labels: new-integration, has-tests, integration: bl0942

#3724 Add Factory Reset button and switch
  CODEOWNERS
  esphome/components/esp32/preferences.cpp
  esphome/components/esp8266/preferences.cpp
  esphome/components/factory_reset/__init__.py
  esphome/components/factory_reset/button/__init__.py
  esphome/components/factory_reset/button/factory_reset_button.cpp
  esphome/components/factory_reset/button/factory_reset_button.h
  esphome/components/factory_reset/switch/__init__.py
  esphome/components/factory_reset/switch/factory_reset_switch.cpp
  esphome/components/factory_reset/switch/factory_reset_switch.h
  esphome/core/preferences.h
  tests/test1.yaml
  tests/test3.yaml
Labels: new-integration, has-tests, core, integration: esp32, integration: esp8266, integration: factory_reset

#3784 [MPU6050] Support devices with WHOAMI 0x98
  esphome/components/mpu6050/mpu6050.cpp
Labels: integration: mpu6050, small-pr

#3340 Add support for TM1638 Led and Key component
  CODEOWNERS
  esphome/components/tm1638/__init__.py
  esphome/components/tm1638/binary_sensor/__init__.py
  esphome/components/tm1638/binary_sensor/tm1638_key.cpp
  esphome/components/tm1638/binary_sensor/tm1638_key.h
  esphome/components/tm1638/display.py
  esphome/components/tm1638/output/__init__.py
  esphome/components/tm1638/output/tm1638_output_led.cpp
  esphome/components/tm1638/output/tm1638_output_led.h
  esphome/components/tm1638/sevenseg.h
  esphome/components/tm1638/switch/__init__.py
  esphome/components/tm1638/switch/tm1638_switch_led.cpp
  esphome/components/tm1638/switch/tm1638_switch_led.h
  esphome/components/tm1638/tm1638.cpp
  esphome/components/tm1638/tm1638.h
  esphome/const.py
  tests/test5.yaml
Labels: new-integration, has-tests, core, integration: tm1638

#3792 Remove status_set_error from ufire_ec
  esphome/components/ufire_ec/ufire_ec.cpp
Labels: small-pr, by-code-owner, integration: ufire_ec

#3649 esp32_ble_tracker continuous and one shot scanning modes
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/esp32_ble_tracker/automation.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: esp32_ble_tracker

#3799 Add stop action for ble scanning
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/esp32_ble_tracker/automation.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: esp32_ble_tracker

#3788 Add Prometheus Service Discovery for online devices
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#3800 Allow ble tracker to subscribe to ota start and stop the scanning
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/ota/__init__.py
  esphome/components/ota/ota_component.cpp
  esphome/components/ota/ota_component.h
  esphome/core/defines.h
Labels: integration: esp32_ble_tracker, integration: ota, core

#3789 Add uFire ISE sensor
  CODEOWNERS
  esphome/components/ufire_ise/__init__.py
  esphome/components/ufire_ise/sensor.py
  esphome/components/ufire_ise/ufire_ise.cpp
  esphome/components/ufire_ise/ufire_ise.h
  esphome/const.py
  tests/test2.yaml
  tests/test4.yaml
Labels: new-integration, has-tests, core, integration: ufire_ise

#3763 fix spi timing issues
  esphome/components/spi/spi.h
Labels: integration: spi, core, small-pr

#3803 null initialize total sensor for pulse counter
  esphome/components/pulse_counter/pulse_counter_sensor.h
Labels: integration: pulse_counter, small-pr, bugfix

#3805 Unify 'nullptr' initalization of class members;
  esphome/components/ade7953/ade7953.h
  esphome/components/api/api_frame_helper.h
  esphome/components/hydreon_rgxx/hydreon_rgxx.h
  esphome/components/mlx90393/sensor_mlx90393.h
  esphome/components/pid/pid_climate.h
  esphome/components/pulse_meter/pulse_meter_sensor.h
  esphome/components/pvvx_mithermometer/display/pvvx_display.h
  esphome/core/automation.h
  esphome/core/component.h
  esphome/core/gpio.h
Labels: integration: ade7953, integration: api, integration: pid, core, integration: mlx90393, small-pr, integration: pulse_meter, integration: pvvx_mithermometer, integration: hydreon_rgxx

#3770 Remove floating point calculation from ac_dimmer ISR
  esphome/components/ac_dimmer/ac_dimmer.cpp
Labels: integration: ac_dimmer, small-pr

#3809 2022.9.0b2
  esphome/components/ac_dimmer/ac_dimmer.cpp
  esphome/components/ade7953/ade7953.h
  esphome/components/aht10/aht10.h
  esphome/components/am2320/am2320.h
  esphome/components/api/api_frame_helper.h
  esphome/components/as3935/as3935.h
  esphome/components/bl0939/bl0939.h
  esphome/components/bl0940/bl0940.h
  esphome/components/bl0942/bl0942.h
  esphome/components/bme280/bme280.h
  esphome/components/bme680/bme680.h
  esphome/components/bme680_bsec/bme680_bsec.h
  esphome/components/bmp280/bmp280.h
  esphome/components/bmp3xx/bmp3xx.h
  esphome/components/dht12/dht12.h
  esphome/components/dps310/dps310.h
  esphome/components/ens210/ens210.h
  esphome/components/hdc1080/hdc1080.h
  esphome/components/hmc5883l/hmc5883l.h
  esphome/components/honeywellabp/honeywellabp.h
  esphome/components/hydreon_rgxx/hydreon_rgxx.h
  esphome/components/mlx90393/sensor_mlx90393.h
  esphome/components/ms5611/ms5611.h
  esphome/components/pid/pid_climate.h
  esphome/components/pulse_counter/pulse_counter_sensor.h
  esphome/components/pulse_meter/pulse_meter_sensor.h
  esphome/components/pvvx_mithermometer/display/pvvx_display.h
  esphome/components/pzem004t/pzem004t.h
  esphome/components/pzemac/pzemac.h
  esphome/components/pzemdc/pzemdc.h
  esphome/components/qmc5883l/qmc5883l.h
  esphome/components/qmp6988/qmp6988.h
  esphome/components/sht3xd/sht3xd.h
  esphome/components/shtcx/shtcx.h
  esphome/components/sim800l/__init__.py
  esphome/components/sim800l/sim800l.cpp
  esphome/components/sim800l/sim800l.h
  esphome/components/tsl2591/tsl2591.h
  esphome/components/tx20/tx20.h
  esphome/const.py
  esphome/core/automation.h
  esphome/core/component.h
  esphome/core/gpio.h
Labels: merging-to-beta

#3812 split pronto codes if they are too long
  esphome/components/remote_base/pronto_protocol.cpp
Labels: integration: remote_base, small-pr

#3804 [BME280] raise standby time
  esphome/components/bme280/bme280.cpp
Labels: integration: bme280, small-pr

#3819 Allow CORS for web_server
  esphome/components/web_server_base/web_server_base.h
Labels: integration: web_server_base, small-pr

#3824 Make sprinkler reset_resume() method public
  esphome/components/sprinkler/sprinkler.cpp
  esphome/components/sprinkler/sprinkler.h
Labels: small-pr, by-code-owner, integration: sprinkler

#3828 Bump dashboard to 20220919.1
  requirements.txt
Labels: small-pr

#3815 Fix-esphome-validation-line-number
  esphome/config.py
  esphome/core/config.py
  esphome/vscode.py
Labels: core, small-pr

#3829 2022.9.0b3
  esphome/components/bme280/bme280.cpp
  esphome/components/remote_base/pronto_protocol.cpp
  esphome/components/sprinkler/sprinkler.cpp
  esphome/components/sprinkler/sprinkler.h
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#3831 Bump dashboard to 20220920.0
  requirements.txt
Labels: small-pr

#3832 Dont fail fast on CI for docker
  .github/workflows/ci-docker.yml
Labels: small-pr

#3833 2022.9.0b4
  esphome/config.py
  esphome/const.py
  esphome/core/config.py
  esphome/vscode.py
  requirements.txt
Labels: merging-to-beta

#3834 Bump dashboard to 20220920.1
  requirements.txt
Labels: small-pr

#3835 2022.9.0b5
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#3838 Revert "fix spi timing issues"
  esphome/components/spi/spi.h
Labels: integration: spi, core, small-pr

#3839 2022.9.1
  esphome/components/spi/spi.h
  esphome/const.py
Labels: merging-to-release

#3846 Bump dashboard to 20220925.0
  requirements.txt
Labels: small-pr

#3643 Thermostat remove deprecated config
  esphome/components/thermostat/climate.py
  esphome/components/thermostat/thermostat_climate.cpp
  esphome/components/thermostat/thermostat_climate.h
  tests/test3.yaml
Labels: integration: thermostat, has-tests

#3853 2022.9.2
  esphome/const.py
  requirements.txt
Labels: merging-to-release

#3854 Add support for parsing the short local name in the tracker
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
Labels: integration: esp32_ble_tracker, small-pr

#3851 Add display GPIO setup instruction for Aliexpress display
  esphome/components/ssd1327_base/ssd1327_base.cpp
Labels: small-pr, by-code-owner, integration: ssd1327_base
