Repository esphome/esphome, pull requests merged in 2022-02, with the labels that each got.

#3149 Bump pre-commit flake8 from 3.8.4 to 4.0.1
  .pre-commit-config.yaml
Labels: small-pr

#3151 Fix ESP32C3 toolchain requires stdarg import in helpers
  esphome/core/helpers.cpp
Labels: core, small-pr

#3154 2022.1.3
  esphome/components/dallas/dallas_component.cpp
  esphome/const.py
  esphome/core/helpers.cpp
Labels: merging-to-release

#2958 Add new Lock core component
  CODEOWNERS
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/api/list_entities.cpp
  esphome/components/api/list_entities.h
  esphome/components/api/subscribe_state.cpp
  esphome/components/api/subscribe_state.h
  esphome/components/api/util.cpp
  esphome/components/api/util.h
  esphome/components/cover/__init__.py
  esphome/components/lock/__init__.py
  esphome/components/lock/automation.h
  esphome/components/lock/lock.cpp
  esphome/components/lock/lock.h
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_lock.cpp
  esphome/components/mqtt/mqtt_lock.h
  esphome/components/output/lock/__init__.py
  esphome/components/output/lock/output_lock.cpp
  esphome/components/output/lock/output_lock.h
  esphome/components/prometheus/prometheus_handler.cpp
  esphome/components/prometheus/prometheus_handler.h
  esphome/components/template/lock/__init__.py
  esphome/components/template/lock/template_lock.cpp
  esphome/components/template/lock/template_lock.h
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/const.py
  esphome/core/application.h
  esphome/core/controller.cpp
  esphome/core/controller.h
  esphome/core/defines.h
  script/ci-custom.py
  tests/test1.yaml
Labels: new-integration, needs-tests, integration: api, integration: cover, integration: mqtt, integration: output, integration: template, core, integration: prometheus, integration: lock

#3012 Add device class support to Switch
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/switch/__init__.py
  esphome/components/switch/switch.cpp
  esphome/components/switch/switch.h
  esphome/const.py
  tests/test1.yaml
Labels: integration: api, integration: switch, has-tests, core

#3159 Handle Tuya multi-datapoint messages
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
Labels: notable-change, integration: tuya

#3160 Bump improv library to 1.2.1
  esphome/components/esp32_improv/__init__.py
  esphome/components/improv_serial/__init__.py
  platformio.ini
Labels: small-pr, by-code-owner, integration: esp32_improv, integration: improv_serial

#3161 Fix copy_file_if_changed src permissions copied too
  esphome/helpers.py
Labels: core, small-pr

#3162 [debug] Refactor debug sensors to use the normal sensor model.
  esphome/components/debug/__init__.py
  esphome/components/debug/debug_component.cpp
  esphome/components/debug/debug_component.h
  esphome/components/debug/sensor.py
  esphome/components/debug/text_sensor.py
Labels: breaking-change, integration: debug, core, new-platform

#3119 Added RadonEye RD200 Component
  CODEOWNERS
  esphome/components/radon_eye_ble/__init__.py
  esphome/components/radon_eye_ble/radon_eye_listener.cpp
  esphome/components/radon_eye_ble/radon_eye_listener.h
  esphome/components/radon_eye_rd200/__init__.py
  esphome/components/radon_eye_rd200/radon_eye_rd200.cpp
  esphome/components/radon_eye_rd200/radon_eye_rd200.h
  esphome/components/radon_eye_rd200/sensor.py
  tests/test2.yaml
Labels: new-integration, has-tests, integration: radon_eye_ble, integration: radon_eye_rd200

#3165 wifi_info, reduce polling interval
  esphome/components/wifi_info/text_sensor.py
  esphome/components/wifi_info/wifi_info_text_sensor.h
Labels: integration: wifi_info, small-pr

#2770 MLX90393 three-axis magnetometer
  CODEOWNERS
  esphome/components/mlx90393/__init__.py
  esphome/components/mlx90393/sensor.py
  esphome/components/mlx90393/sensor_mlx90393.cpp
  esphome/components/mlx90393/sensor_mlx90393.h
  platformio.ini
  tests/test3.yaml
Labels: new-integration, has-tests, integration: mlx90393

#3146 Enable mDNS during OTA safe mode
  esphome/components/mdns/__init__.py
Labels: small-pr, integration: mdns

#3123 Dont warn on nonnull comparisons
  esphome/components/esp8266/__init__.py
  platformio.ini
Labels: small-pr, integration: esp8266

#3091 Add require response option for BLE binary output
  esphome/components/ble_client/ble_client.cpp
  esphome/components/ble_client/ble_client.h
  esphome/components/ble_client/output/__init__.py
  esphome/components/ble_client/output/ble_binary_output.cpp
  esphome/components/ble_client/output/ble_binary_output.h
Labels: integration: ble_client, small-pr

#3084 Add Lilygo t5 4.7 Touchscreen
  CODEOWNERS
  esphome/codegen.py
  esphome/components/lilygo_t5_47/__init__.py
  esphome/components/lilygo_t5_47/touchscreen/__init__.py
  esphome/components/lilygo_t5_47/touchscreen/lilygo_t5_47_touchscreen.cpp
  esphome/components/lilygo_t5_47/touchscreen/lilygo_t5_47_touchscreen.h
  esphome/components/touchscreen/binary_sensor/__init__.py
  esphome/components/touchscreen/binary_sensor/touchscreen_binary_sensor.h
  esphome/cpp_types.py
  tests/test4.yaml
Labels: new-integration, has-tests, core, by-code-owner, integration: touchscreen, integration: lilygo_t5_47

#3032 Add Select for modbus
  CODEOWNERS
  esphome/codegen.py
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/modbus_controller/modbus_controller.h
  esphome/components/modbus_controller/select/__init__.py
  esphome/components/modbus_controller/select/modbus_select.cpp
  esphome/components/modbus_controller/select/modbus_select.h
  esphome/cpp_generator.py
  esphome/cpp_types.py
Labels: new-integration, needs-tests, core, integration: modbus_controller

#2705 Add max9611 High Side Current Shunt ADC
  CODEOWNERS
  esphome/components/max9611/__init__.py
  esphome/components/max9611/max9611.cpp
  esphome/components/max9611/max9611.h
  esphome/components/max9611/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: max9611

#3013 Inkplate 6 PLUS
  esphome/components/inkplate6/display.py
  esphome/components/inkplate6/inkplate.cpp
  esphome/components/inkplate6/inkplate.h
Labels: new-feature, by-code-owner, integration: inkplate6

#3114 Implement MQTT discovery object_id generator
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_const.h
  esphome/const.py
Labels: integration: mqtt, core

#3175 Fix files CI after merging
  esphome/components/max9611/max9611.cpp
  esphome/components/modbus_controller/select/__init__.py
Labels: small-pr, integration: modbus_controller, integration: max9611

#3173 Try fix canbus config validation
  esphome/components/canbus/__init__.py
Labels: integration: canbus, small-pr

#3177 2022.1.4
  esphome/components/canbus/__init__.py
  esphome/components/mdns/__init__.py
  esphome/const.py
Labels: merging-to-release

#3179 Allow to set manufacturer data for BLEAdvertising
  esphome/components/esp32_ble/ble_advertising.cpp
  esphome/components/esp32_ble/ble_advertising.h
Labels: small-pr, integration: esp32_ble

#3178 Change most references from hassio to ha-addon
  .github/workflows/release.yml
  docker/Dockerfile
  docker/ha-addon-rootfs/etc/cont-init.d/10-requirements.sh
  docker/ha-addon-rootfs/etc/cont-init.d/20-nginx.sh
  docker/ha-addon-rootfs/etc/cont-init.d/30-dirs.sh
  docker/ha-addon-rootfs/etc/nginx/includes/mime.types
  docker/ha-addon-rootfs/etc/nginx/includes/proxy_params.conf
  docker/ha-addon-rootfs/etc/nginx/includes/server_params.conf
  docker/ha-addon-rootfs/etc/nginx/includes/ssl_params.conf
  docker/ha-addon-rootfs/etc/nginx/nginx.conf
  docker/ha-addon-rootfs/etc/nginx/servers/direct-ssl.disabled
  docker/ha-addon-rootfs/etc/nginx/servers/direct.disabled
  docker/ha-addon-rootfs/etc/nginx/servers/ingress.conf
  docker/ha-addon-rootfs/etc/services.d/esphome/finish
  docker/ha-addon-rootfs/etc/services.d/esphome/run
  docker/ha-addon-rootfs/etc/services.d/nginx/finish
  docker/ha-addon-rootfs/etc/services.d/nginx/run
  esphome/__main__.py
  esphome/core/__init__.py
  esphome/dashboard/dashboard.py
  esphome/helpers.py
  requirements.txt
  script/ci-custom.py
  tests/unit_tests/test_helpers.py
Labels: has-tests, core, small-pr, dashboard

#3145 Remove unused obj attribute from AssignmentExpression
  esphome/cpp_generator.py
  tests/unit_tests/test_cpp_generator.py
Labels: has-tests, core, small-pr

#3143 Remove spurious Zeroconf instance from api client
  esphome/components/api/client.py
Labels: integration: api, core, small-pr, by-code-owner

#3184 Clamp rotary_encoder restored value to min and max
  esphome/components/rotary_encoder/rotary_encoder.cpp
Labels: integration: rotary_encoder, small-pr

#3176 Raise minimum python version to 3.8
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  esphome/__main__.py
  esphome/components/lcd_gpio/display.py
  esphome/components/remote_base/__init__.py
  esphome/components/tuya/climate/__init__.py
  esphome/components/web_server/__init__.py
  esphome/components/wifi/__init__.py
  esphome/dashboard/dashboard.py
  requirements_test.txt
  script/build_jsonschema.py
  script/ci-custom.py
  script/clang-format
  script/clang-tidy
  script/helpers.py
  script/lint-python
  setup.py
Labels: breaking-change, integration: lcd_gpio, integration: remote_base, integration: tuya, integration: web_server, integration: wifi, core, dashboard

#3127 Make generating combined binary output verbose
  esphome/components/esp32/post_build.py.script
Labels: small-pr, integration: esp32

#3197 Allow framework version validator to be maximum version
  esphome/components/fastled_clockless/light.py
  esphome/components/fastled_spi/light.py
  esphome/config_validation.py
Labels: breaking-change, integration: fastled_clockless, integration: fastled_spi, core

#3198 2022.2.0b2
  esphome/components/esp32/post_build.py.script
  esphome/components/fastled_clockless/light.py
  esphome/components/fastled_spi/light.py
  esphome/components/rotary_encoder/rotary_encoder.cpp
  esphome/config_validation.py
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#3136 add sim800l diagnostics
  esphome/components/sim800l/__init__.py
  esphome/components/sim800l/binary_sensor.py
  esphome/components/sim800l/sensor.py
  esphome/components/sim800l/sim800l.cpp
  esphome/components/sim800l/sim800l.h
Labels: integration: sim800l, by-code-owner, new-platform

#3199 Fix strlcpy() uses to make long SSIDs and passwords work
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
Labels: integration: wifi, core, small-pr

#3200 Update HA addon token
  .github/workflows/release.yml
Labels: small-pr

#3201 2022.2.0b3
  .github/workflows/release.yml
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/const.py
Labels: merging-to-beta

#3206 Fix missed ARDUINO_VERSION_CODE to USE_ARDUINO_VERSION_CODE changes
  esphome/components/debug/debug_component.cpp
  esphome/components/debug/debug_component.h
  esphome/components/ota/ota_backend_arduino_esp8266.h
Labels: integration: debug, integration: ota, core, small-pr

#3208 2022.2.1
  esphome/components/debug/debug_component.cpp
  esphome/components/debug/debug_component.h
  esphome/components/ota/ota_backend_arduino_esp8266.h
  esphome/const.py
Labels: merging-to-release

#3207 Docker move deps install into base
  docker/Dockerfile
Labels: small-pr

#3209 Set entity-category to diagnostic for debug component
  esphome/components/debug/sensor.py
  esphome/components/debug/text_sensor.py
Labels: integration: debug, core, small-pr

#3213 Remove redundant name from binary_sensor constructor
  esphome/components/binary_sensor/__init__.py
  esphome/components/binary_sensor/binary_sensor.cpp
  esphome/components/binary_sensor/binary_sensor.h
Labels: integration: binary_sensor, core, small-pr

#3144 ESP8266 early init for pins
  esphome/components/esp8266/__init__.py
  esphome/components/esp8266/const.py
  esphome/components/esp8266/core.cpp
  esphome/components/esp8266/core.h
  esphome/components/esp8266/gpio.py
Labels: integration: esp8266

#3194 CAN bus: read all queued messages
  esphome/components/canbus/canbus.cpp
Labels: integration: canbus, small-pr

#3196 CAN bus: support bit mask for on_frame can_id
  esphome/components/canbus/__init__.py
  esphome/components/canbus/canbus.cpp
  esphome/components/canbus/canbus.h
  tests/test1.yaml
Labels: has-tests, integration: canbus, small-pr

#2872 Simplify captive portal to compressed single page
  esphome/components/captive_portal/captive_index.h
  esphome/components/captive_portal/captive_portal.cpp
  esphome/components/captive_portal/captive_portal.h
  esphome/components/captive_portal/index.html
  esphome/components/captive_portal/lock.svg
  esphome/components/captive_portal/stylesheet.css
  esphome/components/captive_portal/wifi-strength-1.svg
  esphome/components/captive_portal/wifi-strength-2.svg
  esphome/components/captive_portal/wifi-strength-3.svg
  esphome/components/captive_portal/wifi-strength-4.svg
Labels: integration: captive_portal, core

#2988 HttpRequestComponent::get_string - avoid copy
  esphome/components/http_request/http_request.cpp
Labels: integration: http_request, small-pr

#3215 Fix platformio docker version mismstch
  docker/Dockerfile
Labels: small-pr

#3218 Docker ha-addon switch to nginx-light
  docker/Dockerfile
Labels: small-pr

#3190 Analog threshold
  CODEOWNERS
  esphome/components/analog_threshold/__init__.py
  esphome/components/analog_threshold/analog_threshold_binary_sensor.cpp
  esphome/components/analog_threshold/analog_threshold_binary_sensor.h
  esphome/components/analog_threshold/binary_sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: analog_threshold

#3212 Add LONG LONG flag for arduinojson
  esphome/components/json/json_util.h
Labels: integration: json, core, small-pr

#3219 2022.2.2
  docker/Dockerfile
  esphome/components/debug/sensor.py
  esphome/components/debug/text_sensor.py
  esphome/components/json/json_util.h
  esphome/const.py
Labels: merging-to-release

#3220 2022.2.3
  esphome/const.py
  requirements.txt
Labels: merging-to-release

#2963 Remote magiquest protocol
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/magiquest_protocol.cpp
  esphome/components/remote_base/magiquest_protocol.h
  esphome/const.py
  tests/test1.yaml
Labels: integration: remote_base, has-tests, core

#3079 Implement text_sensor based on ble_client
  esphome/components/ble_client/text_sensor/__init__.py
  esphome/components/ble_client/text_sensor/automation.h
  esphome/components/ble_client/text_sensor/ble_text_sensor.cpp
  esphome/components/ble_client/text_sensor/ble_text_sensor.h
  tests/test1.yaml
Labels: has-tests, integration: ble_client, new-platform

#3125 Add sensor support: MAX44009
  CODEOWNERS
  esphome/components/max44009/__init__.py
  esphome/components/max44009/max44009.cpp
  esphome/components/max44009/max44009.h
  esphome/components/max44009/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: max44009

#2909 Fix for api disconnect detection.
  esphome/components/api/api_connection.cpp
Labels: integration: api, core, small-pr

#3132 [miscale] Add flag to clear last impedance reading if the newly received reading only contains weight
  esphome/components/xiaomi_miscale/sensor.py
  esphome/components/xiaomi_miscale/xiaomi_miscale.cpp
  esphome/components/xiaomi_miscale/xiaomi_miscale.h
  esphome/const.py
Labels: core, integration: xiaomi_miscale, small-pr

#3088 Add ESP32 variant config validator function
  esphome/components/esp32/__init__.py
Labels: small-pr, integration: esp32

#3227 Publish NAN when dallas conversion failed
  esphome/components/dallas/dallas_component.cpp
Labels: integration: dallas, small-pr

#3226 Fix ESP8266 climate memaccess warning
  esphome/components/climate/climate.cpp
Labels: integration: climate, core, small-pr

#3228 Fix warning in test1.yaml
  tests/test1.yaml
Labels: has-tests, small-pr

#3230 Lint trailing whitespace
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  esphome/components/fujitsu_general/fujitsu_general.h
  esphome/components/ili9341/ili9341_init.h
  script/ci-custom.py
  tests/component_tests/button/test_button.yaml
Labels: integration: fujitsu_general, has-tests, core, integration: ili9341, small-pr

#3223 Improve ESP8266 iram usage
  esphome/core/scheduler.cpp
Labels: core, small-pr

#3066 ESP32-C3 deep sleep fix
  esphome/components/deep_sleep/__init__.py
  esphome/components/deep_sleep/deep_sleep_component.cpp
  esphome/components/deep_sleep/deep_sleep_component.h
  tests/test1.yaml
  tests/test2.yaml
Labels: integration: deep_sleep, has-tests, core

#3152 Add ESP32C3 and ESP32S2 support to dashboard
  esphome/components/esp32/__init__.py
  esphome/storage_json.py
  esphome/wizard.py
  tests/unit_tests/test_wizard.py
Labels: has-tests, core, integration: esp32

#3214 BH1750 dynamically calculate options
  CODEOWNERS
  esphome/components/bh1750/bh1750.cpp
  esphome/components/bh1750/bh1750.h
  esphome/components/bh1750/sensor.py
  tests/test1.yaml
Labels: breaking-change, integration: bh1750, has-tests

#3231 Bump esphome-dashboard from 20220209.0 to 20220219.0
  requirements.txt
Labels: small-pr

#3241 Add copy integration
  CODEOWNERS
  esphome/components/copy/__init__.py
  esphome/components/copy/binary_sensor/__init__.py
  esphome/components/copy/binary_sensor/copy_binary_sensor.cpp
  esphome/components/copy/binary_sensor/copy_binary_sensor.h
  esphome/components/copy/button/__init__.py
  esphome/components/copy/button/copy_button.cpp
  esphome/components/copy/button/copy_button.h
  esphome/components/copy/cover/__init__.py
  esphome/components/copy/cover/copy_cover.cpp
  esphome/components/copy/cover/copy_cover.h
  esphome/components/copy/fan/__init__.py
  esphome/components/copy/fan/copy_fan.cpp
  esphome/components/copy/fan/copy_fan.h
  esphome/components/copy/lock/__init__.py
  esphome/components/copy/lock/copy_lock.cpp
  esphome/components/copy/lock/copy_lock.h
  esphome/components/copy/number/__init__.py
  esphome/components/copy/number/copy_number.cpp
  esphome/components/copy/number/copy_number.h
  esphome/components/copy/select/__init__.py
  esphome/components/copy/select/copy_select.cpp
  esphome/components/copy/select/copy_select.h
  esphome/components/copy/sensor/__init__.py
  esphome/components/copy/sensor/copy_sensor.cpp
  esphome/components/copy/sensor/copy_sensor.h
  esphome/components/copy/switch/__init__.py
  esphome/components/copy/switch/copy_switch.cpp
  esphome/components/copy/switch/copy_switch.h
  esphome/components/copy/text_sensor/__init__.py
  esphome/components/copy/text_sensor/copy_text_sensor.cpp
  esphome/components/copy/text_sensor/copy_text_sensor.h
  esphome/const.py
  tests/test1.yaml
  tests/test4.yaml
Labels: new-integration, integration: copy

#3242 Button code cleanup
  esphome/components/button/button.cpp
  esphome/components/button/button.h
Labels: small-pr, integration: button

#3082 Pulse meter internal filter mode
  CODEOWNERS
  esphome/components/pulse_meter/pulse_meter_sensor.cpp
  esphome/components/pulse_meter/pulse_meter_sensor.h
  esphome/components/pulse_meter/sensor.py
  esphome/const.py
  esphome/cpp_generator.py
Labels: core, integration: pulse_meter

#3221 Fix lilygo touchscreen rotation
  esphome/components/lilygo_t5_47/touchscreen/lilygo_t5_47_touchscreen.cpp
Labels: integration: lilygo_t5_47

#3244 Fix fatal erroring in addon startup script
  docker/ha-addon-rootfs/etc/cont-init.d/10-requirements.sh
Labels: small-pr

#3245 2022.2.4
  docker/ha-addon-rootfs/etc/cont-init.d/10-requirements.sh
  esphome/components/climate/climate.cpp
  esphome/components/dallas/dallas_component.cpp
  esphome/components/deep_sleep/__init__.py
  esphome/components/deep_sleep/deep_sleep_component.cpp
  esphome/components/deep_sleep/deep_sleep_component.h
  esphome/components/lilygo_t5_47/touchscreen/lilygo_t5_47_touchscreen.cpp
  esphome/const.py
  esphome/core/scheduler.cpp
  tests/test1.yaml
  tests/test2.yaml
Labels: merging-to-release

#3183 Add support for MPU-6886
  CODEOWNERS
  esphome/components/mpu6886/__init__.py
  esphome/components/mpu6886/mpu6886.cpp
  esphome/components/mpu6886/mpu6886.h
  esphome/components/mpu6886/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: mpu6886

#3238 light: add RESTORE_AND_OFF/RESTORE_AND_ON LightRestoreMode
  esphome/components/light/__init__.py
  esphome/components/light/light_state.cpp
  esphome/components/light/light_state.h
Labels: integration: light, core, small-pr

#3240 Implement send_first_at for exponential_moving_average
  esphome/components/sensor/__init__.py
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
  tests/test1.yaml
Labels: integration: sensor, has-tests, core, small-pr

#3246 Respect ESPHOME_USE_SUBPROCESS in esp32 post_build script
  esphome/components/esp32/post_build.py.script
Labels: small-pr, integration: esp32

#3174 Add device support: MCP4728
  CODEOWNERS
  esphome/components/mcp4728/__init__.py
  esphome/components/mcp4728/mcp4728_output.cpp
  esphome/components/mcp4728/mcp4728_output.h
  esphome/components/mcp4728/output.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: mcp4728

#3239 support for waveshare 7.50in-hd-b
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: new-feature, integration: waveshare_epaper

#3250 Fix template button after abstract press_action
  esphome/components/template/button/__init__.py
  esphome/components/template/button/template_button.h
Labels: integration: template, core, small-pr

#3249 Fix regression caused by TSL2591 auto gain
  esphome/components/tsl2591/tsl2591.cpp
Labels: small-pr, integration: tsl2591

#3251 Store platform as uppercase
  esphome/storage_json.py
Labels: core, small-pr

#3247 Add optional display page for touchscreen binary sensors
  esphome/components/touchscreen/__init__.py
  esphome/components/touchscreen/binary_sensor/__init__.py
  esphome/components/touchscreen/binary_sensor/touchscreen_binary_sensor.cpp
  esphome/components/touchscreen/binary_sensor/touchscreen_binary_sensor.h
  esphome/components/touchscreen/touchscreen.h
Labels: new-feature, small-pr, by-code-owner, integration: touchscreen

#2618 Add Mopeka BLE and Mopeka Pro Check BLE Sensor
  CODEOWNERS
  esphome/components/mopeka_ble/__init__.py
  esphome/components/mopeka_ble/mopeka_ble.cpp
  esphome/components/mopeka_ble/mopeka_ble.h
  esphome/components/mopeka_pro_check/__init__.py
  esphome/components/mopeka_pro_check/mopeka_pro_check.cpp
  esphome/components/mopeka_pro_check/mopeka_pro_check.h
  esphome/components/mopeka_pro_check/sensor.py
  tests/test2.yaml
Labels: new-integration, has-tests, integration: mopeka_ble, integration: mopeka_pro_check
