Repository esphome/esphome, pull requests merged in 2022-12, with the labels that each got.

#4103 Dashboard, after login use relative url.
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#4077 Fix queuing scripts not compiling
  esphome/components/script/script.h
Labels: integration: script, core, small-pr

#4130 2022.11.4
  esphome/components/current_based/current_based_cover.cpp
  esphome/components/script/script.h
  esphome/const.py
  esphome/dashboard/dashboard.py
Labels: merging-to-release

#4144 Bump arduino pico and update wifi methods
  esphome/components/rp2040/__init__.py
  esphome/components/wifi/wifi_component_pico_w.cpp
Labels: integration: wifi, core, small-pr, by-code-owner, integration: rp2040

#4147 Fix board pin alias lookup
  esphome/components/esp32/gpio.py
Labels: small-pr, integration: esp32

#4145 Fix mismatched flake8 version in pre-commit
  .pre-commit-config.yaml
Labels: small-pr

#4128 Detect BLE stack unrecoverable state
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: esp32_ble_tracker, small-pr

#4140 Fix crash with bluetooth tracker and esp-idf
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
Labels: integration: esp32_ble_tracker, small-pr

#4152 2022.11.5
  esphome/components/esp32/gpio.py
  esphome/const.py
Labels: merging-to-release

#4141 Use ENTITY_CATEGORY_CONFIG for sprinkler config switches.
  esphome/components/sprinkler/__init__.py
Labels: small-pr, integration: sprinkler

#4108 Change 4 chip limit on sn74hc595 to 256
  esphome/components/sn74hc595/__init__.py
  esphome/components/sn74hc595/sn74hc595.cpp
  esphome/components/sn74hc595/sn74hc595.h
Labels: integration: sn74hc595

#3982 Allow dashboard import to pull complete file from github
  esphome/components/dashboard_import/__init__.py
  esphome/components/packages/__init__.py
  esphome/dashboard/dashboard.py
  esphome/git.py
Labels: integration: packages, core, dashboard, integration: dashboard_import

#4066 Invalid config for waveshare models with no full_update_every
  esphome/components/waveshare_epaper/display.py
Labels: integration: waveshare_epaper, small-pr

#4151 Add sn74hc165 input shift register
  CODEOWNERS
  esphome/components/sn74hc165/__init__.py
  esphome/components/sn74hc165/sn74hc165.cpp
  esphome/components/sn74hc165/sn74hc165.h
  tests/test5.yaml
Labels: new-integration, has-tests, integration: sn74hc165

#4154 Add API for dashboard to get boards list
  esphome/components/esp32/__init__.py
  esphome/components/esp32/boards.py
  esphome/components/esp8266/__init__.py
  esphome/components/esp8266/boards.py
  esphome/components/esp8266/const.py
  esphome/components/rp2040/boards.py
  esphome/const.py
  esphome/dashboard/dashboard.py
  script/build_language_schema.py
Labels: core, by-code-owner, dashboard, integration: esp32, integration: esp8266, integration: rp2040

#4156 Bump esphome-dashboard to 20221207.0
  requirements.txt
Labels: small-pr

#4158 Expose lambda action to reset a cycle in `slow_pwm`
  esphome/components/slow_pwm/slow_pwm_output.cpp
  esphome/components/slow_pwm/slow_pwm_output.h
Labels: integration: slow_pwm, small-pr

#4162 Fix ble parsing with zero padded advertisements
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
Labels: integration: esp32_ble_tracker, small-pr

#4163 2022.12.0b2
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/const.py
Labels: merging-to-beta

#3912 climate: Add features to generic Toshiba model
  esphome/components/toshiba/toshiba.cpp
  esphome/components/toshiba/toshiba.h
Labels: integration: toshiba

#4172 Increase watchdog timeout when starting OTA
  esphome/components/ota/ota_backend_esp_idf.cpp
Labels: integration: ota, core, small-pr

#4174 2022.12.0b3
  esphome/components/ota/ota_backend_esp_idf.cpp
  esphome/const.py
Labels: merging-to-beta

#4176 Bump esphome-dashboard to 20221213.0
  requirements.txt
Labels: small-pr

#4178 2022.12.0b4
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#4179 Remove internal pin restriction from cd74hc4067
  esphome/components/cd74hc4067/__init__.py
  esphome/components/cd74hc4067/cd74hc4067.h
Labels: small-pr, integration: cd74hc4067

#4171 Speed up bluetooth proxy connections when using esp-idf
  esphome/components/bluetooth_proxy/__init__.py
  esphome/components/esp32/__init__.py
  esphome/components/esp32_ble_client/ble_client_base.cpp
Labels: notable-change, small-pr, integration: esp32, integration: bluetooth_proxy, integration: esp32_ble_client

#4180 2022.12.0b5
  esphome/components/bluetooth_proxy/__init__.py
  esphome/components/cd74hc4067/__init__.py
  esphome/components/cd74hc4067/cd74hc4067.h
  esphome/components/esp32/__init__.py
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/const.py
Labels: merging-to-beta

#4181 Remove warnings when falling through switch cases on purpose
  esphome/components/esp32_ble_client/ble_client_base.cpp
Labels: small-pr, by-code-owner, integration: esp32_ble_client

#4182 Revert camera config change for esp-idf
  esphome/components/esp32_camera/esp32_camera.cpp
Labels: integration: esp32_camera, small-pr

#4185 2022.12.0b6
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_camera/esp32_camera.cpp
  esphome/const.py
Labels: merging-to-beta

#4191 Support non-multiarch toolchains on 32-bit ARM
  docker/Dockerfile
Labels: small-pr

#4194 Mark ESP32-S2 as not having Bluetooth
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble_beacon/__init__.py
  esphome/components/esp32_ble_tracker/__init__.py
Labels: integration: esp32_ble_beacon, integration: esp32_ble_tracker, small-pr, by-code-owner, integration: esp32_ble

#4195 Fix i2s_audio media_player compiling for esp32-s2
  esphome/components/i2s_audio/i2s_audio_media_player.cpp
  esphome/components/i2s_audio/i2s_audio_media_player.h
  esphome/components/i2s_audio/media_player.py
Labels: small-pr, by-code-owner, integration: i2s_audio

#4196 2022.12.1
  docker/Dockerfile
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble_beacon/__init__.py
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/i2s_audio/i2s_audio_media_player.cpp
  esphome/components/i2s_audio/i2s_audio_media_player.h
  esphome/components/i2s_audio/media_player.py
  esphome/const.py
Labels: merging-to-release

#4197 Fix import_full_config for adoption configs
  esphome/components/dashboard_import/__init__.py
  esphome/git.py
Labels: core, small-pr, integration: dashboard_import

#4208 Handle zero padding anywhere in the combined adv data
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
Labels: integration: esp32_ble_tracker, small-pr

#4212 2022.12.2
  esphome/components/dashboard_import/__init__.py
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/const.py
  esphome/git.py
Labels: merging-to-release

#4187 Fix UUID displaying incorrectly in BLE Tracker logs
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
Labels: integration: esp32_ble_tracker, small-pr

#4213 Fix ESP32 GPIO when using INPUT PULLUP mode
  esphome/components/esp32/gpio.cpp
Labels: small-pr, integration: esp32

#4214 2022.12.3
  esphome/components/esp32/gpio.cpp
  esphome/const.py
Labels: merging-to-release

#4216 Fix gpio pin mode for ISR pins
  esphome/components/esp32/gpio.cpp
Labels: small-pr, integration: esp32

#4192 Add Pca9554 component
  CODEOWNERS
  esphome/components/pca9554/__init__.py
  esphome/components/pca9554/pca9554.cpp
  esphome/components/pca9554/pca9554.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: pca9554

#4218 Bump nano version in lint docker image
  docker/Dockerfile
Labels: small-pr

#4204 Handle deprecated sdkconfig option
  esphome/components/esp32/__init__.py
Labels: small-pr, integration: esp32

#3872 feat: set a wider range for jpeg quality
  esphome/components/esp32_camera/__init__.py
Labels: integration: esp32_camera, small-pr

#3931 Use NAN values for TSL2591 saturation
  esphome/components/tsl2591/tsl2591.cpp
Labels: breaking-change, small-pr, integration: tsl2591

#2502 Ili9341 8bit indexed mode pt2
  esphome/components/ili9341/display.py
  esphome/components/ili9341/ili9341_display.cpp
Labels: not-stale, integration: ili9341

#3930 Allow ignoring of failed Modbus response CRC
  esphome/components/modbus/__init__.py
  esphome/components/modbus/modbus.cpp
  esphome/components/modbus/modbus.h
  esphome/const.py
Labels: integration: modbus, core, small-pr

#3820 calc LEDC PWM Resolution with LEDC_TIMER_BIT_MAX
  esphome/components/ledc/ledc_output.cpp
Labels: integration: ledc, small-pr

#3305 Component::set_retry updates
  esphome/core/component.h
  esphome/core/scheduler.cpp
Labels: core, small-pr

#3951 Fix race condition in web_server scheduler on ESP32
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
Labels: integration: web_server

#4131 Fix saving light state for restore modes LIGHT_RESTORE_AND_OFF/ON
  esphome/components/light/light_state.cpp
Labels: integration: light, core, small-pr

#4219 Add precipitation device class
  esphome/components/number/__init__.py
  esphome/components/sensor/__init__.py
  esphome/const.py
Labels: integration: sensor, core, small-pr, integration: number

#4021 Add support for BP5758D LED driver
  CODEOWNERS
  esphome/components/bp5758d/__init__.py
  esphome/components/bp5758d/bp5758d.cpp
  esphome/components/bp5758d/bp5758d.h
  esphome/components/bp5758d/output.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: bp5758d

#4020 Add support for BP1658CJ LED driver
  CODEOWNERS
  esphome/components/bp1658cj/__init__.py
  esphome/components/bp1658cj/bp1658cj.cpp
  esphome/components/bp1658cj/bp1658cj.h
  esphome/components/bp1658cj/output.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: bp1658cj

#3924 Add support for SM2235 and SM2335 LED drivers
  CODEOWNERS
  esphome/components/sm10bit_base/__init__.py
  esphome/components/sm10bit_base/sm10bit_base.cpp
  esphome/components/sm10bit_base/sm10bit_base.h
  esphome/components/sm2235/__init__.py
  esphome/components/sm2235/output.py
  esphome/components/sm2235/sm2235.cpp
  esphome/components/sm2235/sm2235.h
  esphome/components/sm2335/__init__.py
  esphome/components/sm2335/output.py
  esphome/components/sm2335/sm2335.cpp
  esphome/components/sm2335/sm2335.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: sm2335, integration: sm2235, integration: sm10bit_base

#4199 Fix broken PULSE_METER
  esphome/components/pulse_meter/pulse_meter_sensor.cpp
  esphome/components/pulse_meter/pulse_meter_sensor.h
Labels: by-code-owner, integration: pulse_meter

#3873 PCF85063 RTC chip
  CODEOWNERS
  esphome/components/pcf85063/__init__.py
  esphome/components/pcf85063/pcf85063.cpp
  esphome/components/pcf85063/pcf85063.h
  esphome/components/pcf85063/time.py
  tests/test5.yaml
Labels: new-integration, has-tests, integration: pcf85063

#4168 Add API for dashboard to get boards list by platform
  esphome/const.py
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#4248 Bump dashboard to 20221231.0
  requirements.txt
Labels: small-pr
