Repository esphome/esphome, pull requests merged in 2022-07, with the labels that each got.

#3619 Update dfplayer condition function name
  esphome/components/dfplayer/__init__.py
Labels: integration: dfplayer, small-pr

#3624 Added more sensor device classes
  esphome/components/sensor/__init__.py
  esphome/const.py
Labels: integration: sensor, core, small-pr

#3316 Improvement pipsolar crc
  esphome/components/pipsolar/pipsolar.cpp
  esphome/components/pipsolar/pipsolar.h
Labels: by-code-owner, integration: pipsolar

#3650 FIX: Modbus queue deduplicator deleting custom commands
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/modbus_controller/modbus_controller.h
Labels: small-pr, integration: modbus_controller

#3652 Fix configuration constants in core.
  esphome/const.py
  esphome/core/__init__.py
Labels: core, small-pr

#3647 FIX: NVS preferences being written even if unchanged
  esphome/components/esp32/preferences.cpp
Labels: small-pr, bugfix, integration: esp32

#3640 Add 'set_total_pulses' action to 'pulse_counter' sensor.
  esphome/components/pulse_counter/automation.h
  esphome/components/pulse_counter/pulse_counter_sensor.cpp
  esphome/components/pulse_counter/pulse_counter_sensor.h
  esphome/components/pulse_counter/sensor.py
Labels: integration: pulse_counter

#3636 add option to publish initial state of binary sensors
  esphome/components/binary_sensor/__init__.py
  esphome/components/binary_sensor/binary_sensor.cpp
  esphome/components/binary_sensor/binary_sensor.h
  esphome/const.py
Labels: integration: binary_sensor, core, small-pr

#3631 update packages: nginx-light-1.18.0-6.1+deb11u2 nano-5.4-2+deb11u1
  docker/Dockerfile
Labels: small-pr

#3654 Add support for SMT100 Soil Moisture Sensor
  CODEOWNERS
  esphome/components/smt100/__init__.py
  esphome/components/smt100/sensor.py
  esphome/components/smt100/smt100.cpp
  esphome/components/smt100/smt100.h
  esphome/const.py
  tests/test3.yaml
Labels: new-integration, has-tests, core, integration: smt100

#3610 Rework NaN handling in sensor filters
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
Labels: breaking-change, integration: sensor, core

#3667 Remove deprecated adc init call.
  esphome/components/adc/adc_sensor.cpp
Labels: integration: adc, core, small-pr
