Repository esphome/esphome, pull requests merged in 2022-06, with the labels that each got.

#3487 Implement Media Player and I2S Media player
  CODEOWNERS
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/api/list_entities.cpp
  esphome/components/api/list_entities.h
  esphome/components/api/subscribe_state.cpp
  esphome/components/api/subscribe_state.h
  esphome/components/i2s_audio/__init__.py
  esphome/components/i2s_audio/i2s_audio_media_player.cpp
  esphome/components/i2s_audio/i2s_audio_media_player.h
  esphome/components/i2s_audio/media_player.py
  esphome/components/media_player/__init__.py
  esphome/components/media_player/media_player.cpp
  esphome/components/media_player/media_player.h
  esphome/core/application.h
  esphome/core/component_iterator.cpp
  esphome/core/component_iterator.h
  esphome/core/controller.cpp
  esphome/core/controller.h
  esphome/core/defines.h
  platformio.ini
  tests/test4.yaml
Labels: new-integration, integration: api, has-tests, core, integration: i2s_audio, integration: media_player

#3514 Added RC6 protocol support
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/rc6_protocol.cpp
  esphome/components/remote_base/rc6_protocol.h
Labels: integration: remote_base

#3430 Add display_type property to DisplayBuffer
  esphome/components/addressable_light/addressable_light_display.h
  esphome/components/display/display_buffer.h
  esphome/components/ili9341/ili9341_display.h
  esphome/components/inkplate6/inkplate.h
  esphome/components/max7219digit/max7219digit.h
  esphome/components/pcd8544/pcd_8544.h
  esphome/components/ssd1306_base/ssd1306_base.h
  esphome/components/ssd1322_base/ssd1322_base.h
  esphome/components/ssd1325_base/ssd1325_base.h
  esphome/components/ssd1327_base/ssd1327_base.h
  esphome/components/ssd1331_base/ssd1331_base.h
  esphome/components/ssd1351_base/ssd1351_base.h
  esphome/components/st7735/st7735.h
  esphome/components/st7789v/st7789v.h
  esphome/components/st7920/st7920.h
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: breaking-change

#3158 Correct ADC auto-range for ESP32-S2 variant (13 bit adc)
  esphome/components/adc/adc_sensor.cpp
Labels: integration: adc, core, small-pr

#3532 Suppress first rotary encoder event
  esphome/components/rotary_encoder/rotary_encoder.cpp
  esphome/components/rotary_encoder/rotary_encoder.h
Labels: integration: rotary_encoder, small-pr

#3530 Fix endless 'WiFi Unknown connection status 0' loop
  esphome/components/wifi/wifi_component.cpp
Labels: integration: wifi, core, small-pr

#3526 support rotated ILI9341 (ILI9342)
  esphome/components/ili9341/display.py
  esphome/components/ili9341/ili9341_display.cpp
  esphome/components/ili9341/ili9341_display.h
Labels: integration: ili9341, small-pr

#3531 Fix sdp3x error checking
  esphome/components/sdp3x/sdp3x.cpp
Labels: small-pr, bugfix, by-code-owner, integration: sdp3x

#3524 Fix percentage validation for wrong data type input
  esphome/config_validation.py
Labels: core, small-pr

#3505 Fix bogus reading on no communication with MAX31865
  CODEOWNERS
  esphome/components/max31865/max31865.cpp
  esphome/components/max31865/sensor.py
Labels: integration: max31865, small-pr

#3534 Implement the media player actions
  esphome/components/i2s_audio/i2s_audio_media_player.cpp
  esphome/components/media_player/__init__.py
  esphome/components/media_player/automation.h
  esphome/components/media_player/media_player.cpp
  esphome/components/media_player/media_player.h
Labels: by-code-owner, integration: i2s_audio, integration: media_player

#3512 RG15 data is float/double, not int
  esphome/components/hydreon_rgxx/hydreon_rgxx.cpp
Labels: small-pr, integration: hydreon_rgxx

#3537 publish fan speed count for discovery
  esphome/components/mqtt/mqtt_fan.cpp
Labels: integration: mqtt, core, small-pr

#3533 Nextion brightness setting requires an assignment
  esphome/components/nextion/nextion_commands.cpp
Labels: integration: nextion, small-pr

#3536 Refactor vl53l0x to remove code from header.
  esphome/components/vl53l0x/vl53l0x_sensor.cpp
  esphome/components/vl53l0x/vl53l0x_sensor.h
Labels: integration: vl53l0x

#3540 2022.6.0b2
  esphome/components/mqtt/mqtt_fan.cpp
  esphome/components/nextion/nextion_commands.cpp
  esphome/const.py
Labels: merging-to-beta

#3551 Implement media player volume actions
  esphome/components/i2s_audio/i2s_audio_media_player.cpp
  esphome/components/media_player/__init__.py
  esphome/components/media_player/automation.h
  esphome/components/media_player/media_player.h
  tests/test4.yaml
Labels: has-tests, by-code-owner, new-action, integration: i2s_audio, integration: media_player

#3554 2022.6.0b3
  esphome/components/i2s_audio/i2s_audio_media_player.cpp
  esphome/components/media_player/__init__.py
  esphome/components/media_player/automation.h
  esphome/components/media_player/media_player.h
  esphome/const.py
  tests/test4.yaml
Labels: merging-to-beta

#3543 Fix compilation with ESP32-S3
  esphome/components/logger/logger.cpp
Labels: integration: logger, core, small-pr

#3559 Bm3xx: Fix typo
  esphome/components/bmp3xx/sensor.py
Labels: small-pr, by-code-owner, integration: bmp3xx

#3560 2022.6.0b4
  esphome/components/bmp3xx/sensor.py
  esphome/components/logger/logger.cpp
  esphome/const.py
Labels: merging-to-beta

#3568 Setup the mute pin if configured
  esphome/components/i2s_audio/i2s_audio_media_player.cpp
Labels: small-pr, by-code-owner, integration: i2s_audio

#3571 Bugfix for ExternalRAMAllocator copy constructor
  esphome/core/helpers.h
Labels: core, small-pr

#3527 Fix modbus user-defined function handling
  esphome/components/modbus/modbus.cpp
Labels: integration: modbus, small-pr

#3492 Language schema 202204
  esphome/automation.py
  esphome/components/light/effects.py
  esphome/components/remote_base/__init__.py
  esphome/config_validation.py
  esphome/schema_extractors.py
  esphome/voluptuous_schema.py
  script/build_jsonschema.py
  script/build_language_schema.py
Labels: integration: light, integration: remote_base, core

#3576 Media Player: added triggers
  esphome/components/media_player/__init__.py
  esphome/components/media_player/automation.h
  tests/test4.yaml
Labels: has-tests, integration: media_player

#3578 2022.6.1
  esphome/components/i2s_audio/i2s_audio_media_player.cpp
  esphome/components/media_player/__init__.py
  esphome/components/media_player/automation.h
  esphome/const.py
  esphome/core/helpers.h
  tests/test4.yaml
Labels: merging-to-release

#3575 Move gas mbus config option being a define to being a build flag
  esphome/components/dsmr/__init__.py
Labels: small-pr, integration: dsmr

#3580 Fix: Make MQTT over TLS actually work
  esphome/components/mqtt/mqtt_client.cpp
Labels: integration: mqtt, core, small-pr

#3581 Fix wrong type for voc_state*_ in sgp4x component
  esphome/components/sgp4x/sensor.py
  esphome/components/sgp4x/sgp4x.cpp
  esphome/components/sgp4x/sgp4x.h
  platformio.ini
Labels: small-pr, integration: sgp4x

#3579 Media Player: added play_media action
  esphome/components/media_player/__init__.py
  esphome/components/media_player/automation.h
  tests/test4.yaml
Labels: has-tests, integration: media_player

#3585 Fix / Reverse order shutdown
  esphome/core/application.cpp
  esphome/core/application.h
Labels: core, small-pr

#3586 RestoringGlobalsComponent: Store value on shutdown
  esphome/components/globals/globals_component.h
Labels: integration: globals, core, small-pr

#3544 Fix 2 small issues in BLEClient
  esphome/components/ble_client/ble_client.cpp
Labels: integration: ble_client, small-pr, bugfix

#3587 Map LOLIN C3 mini board pins
  esphome/components/esp32/boards.py
Labels: small-pr, integration: esp32

#3566 Bump platformio to 6.0.2
  docker/Dockerfile
  esphome/platformio_api.py
  requirements.txt
Labels: core, small-pr

#3441 DAC7678 support
  CODEOWNERS
  esphome/components/dac7678/__init__.py
  esphome/components/dac7678/dac7678_output.cpp
  esphome/components/dac7678/dac7678_output.h
  esphome/components/dac7678/output.py
  tests/test4.yaml
Labels: new-integration, has-tests, integration: dac7678

#3416 Correcting ESP32 flash save/load key calculation algorithm
  esphome/components/esp32/preferences.cpp
  esphome/components/number/automation.cpp
Labels: small-pr, integration: number, integration: esp32

#3592 Update actions
  .github/workflows/ci-docker.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
Labels: small-pr

#3595 Add github-actions to dependabot
  .github/dependabot.yml
Labels: small-pr

#3545 #3358 Correct temperature validity detection issue in some conditions of pu…
  esphome/components/dallas/dallas_component.cpp
Labels: integration: dallas, small-pr

#3498 Remove min_save_interval from intergration and total_daily_energy
  esphome/components/integration/integration_sensor.cpp
  esphome/components/integration/integration_sensor.h
  esphome/components/integration/sensor.py
  esphome/components/total_daily_energy/sensor.py
  esphome/components/total_daily_energy/total_daily_energy.cpp
  esphome/components/total_daily_energy/total_daily_energy.h
  tests/test1.yaml
Labels: breaking-change, integration: integration, integration: total_daily_energy, has-tests, small-pr

#3599 fix EDict to dict mapping in helpers.py
  esphome/helpers.py
Labels: core, small-pr
