Repository esphome/esphome, pull requests merged in 2022-01, with the labels that each got.

#2844 Upgrade ArduinoJson to 6.18.5 and migrate code
  esphome/codegen.py
  esphome/components/http_request/__init__.py
  esphome/components/http_request/http_request.h
  esphome/components/json/__init__.py
  esphome/components/json/json_util.cpp
  esphome/components/json/json_util.h
  esphome/components/light/light_json_schema.cpp
  esphome/components/light/light_json_schema.h
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/custom_mqtt_device.h
  esphome/components/mqtt/mqtt_binary_sensor.cpp
  esphome/components/mqtt/mqtt_binary_sensor.h
  esphome/components/mqtt/mqtt_button.cpp
  esphome/components/mqtt/mqtt_button.h
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
  esphome/components/mqtt/mqtt_climate.cpp
  esphome/components/mqtt/mqtt_climate.h
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_component.h
  esphome/components/mqtt/mqtt_cover.cpp
  esphome/components/mqtt/mqtt_cover.h
  esphome/components/mqtt/mqtt_fan.cpp
  esphome/components/mqtt/mqtt_fan.h
  esphome/components/mqtt/mqtt_light.cpp
  esphome/components/mqtt/mqtt_light.h
  esphome/components/mqtt/mqtt_number.cpp
  esphome/components/mqtt/mqtt_number.h
  esphome/components/mqtt/mqtt_select.cpp
  esphome/components/mqtt/mqtt_select.h
  esphome/components/mqtt/mqtt_sensor.cpp
  esphome/components/mqtt/mqtt_sensor.h
  esphome/components/mqtt/mqtt_switch.cpp
  esphome/components/mqtt/mqtt_switch.h
  esphome/components/mqtt/mqtt_text_sensor.cpp
  esphome/components/mqtt/mqtt_text_sensor.h
  esphome/components/web_server/web_server.cpp
  esphome/cpp_types.py
  platformio.ini
  tests/unit_tests/test_codegen.py
Labels: breaking-change, integration: http_request, integration: json, integration: light, integration: mqtt, core

#2980 Don't use pyproject.toml for esphome build
  script/setup
Labels: core, small-pr

#2978 Explicitly use overloaded begin() for I2C master initialization
  esphome/components/i2c/i2c_bus_arduino.cpp
Labels: integration: i2c, core, small-pr, bugfix

#2961 Use template path
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#2979 Fix compile error for idf projects with ArduinoJson 6
  esphome/components/json/json_util.cpp
Labels: integration: json, core, small-pr, bugfix

#2986 Modbus: fix response parsing error for coil write
  esphome/components/modbus/modbus.cpp
Labels: integration: modbus, small-pr, bugfix

#2982 Change unset ESPHOME_LOG_LEVEL fallback to NONE
  esphome/core/log.h
Labels: core, small-pr

#2967 Add SH1107_128x64 to the ssd1306 component
  esphome/components/ssd1306_base/__init__.py
  esphome/components/ssd1306_base/ssd1306_base.cpp
  esphome/components/ssd1306_base/ssd1306_base.h
Labels: integration: ssd1306_base, small-pr

#2957 Add logging for some Nextion errors that didn't have any
  esphome/components/nextion/nextion.cpp
Labels: integration: nextion, small-pr

#2987 Fix HTTPRequestComponent::get_string return value
  esphome/components/http_request/http_request.cpp
Labels: integration: http_request, small-pr, bugfix

#2884 Improve PSRAM support
  CODEOWNERS
  esphome/components/display/display_buffer.cpp
  esphome/components/esp32_camera/__init__.py
  esphome/components/esp32_camera/esp32_camera.cpp
  esphome/components/inkplate6/display.py
  esphome/components/inkplate6/inkplate.cpp
  esphome/components/nextion/nextion_upload.cpp
  esphome/components/psram/__init__.py
  esphome/components/psram/psram.cpp
  esphome/components/psram/psram.h
  esphome/core/helpers.h
Labels: new-integration, needs-docs, needs-tests, integration: display, integration: esp32_camera, integration: nextion, core, integration: inkplate6, integration: psram

#2983 Support ISR based pulse counter on ESP32-C3
  esphome/components/pulse_counter/pulse_counter_sensor.cpp
  esphome/components/pulse_counter/pulse_counter_sensor.h
Labels: integration: pulse_counter, small-pr

#2992 Use to_string() from STL when available
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: core, small-pr

#2993 Set UTF-8 encoding and version for prometheus /metrics
  esphome/components/prometheus/prometheus_handler.cpp
Labels: small-pr, integration: prometheus

#2991 Introduce bit_cast() backport
  esphome/core/helpers.h
  esphome/core/preferences.h
Labels: core

#2985 Apply --no-use-pep517 for docker images
  docker/Dockerfile
Labels: small-pr

#2945 Dont validate baud_rate for sim800l platform
  esphome/components/sim800l/__init__.py
Labels: integration: sim800l, small-pr

#2931 Modbus: add binary output
  esphome/components/modbus_controller/__init__.py
  esphome/components/modbus_controller/output/__init__.py
  esphome/components/modbus_controller/output/modbus_output.cpp
  esphome/components/modbus_controller/output/modbus_output.h
Labels: by-code-owner, integration: modbus_controller

#1904 Add bl0940 component used by e.g. tuya devices
  CODEOWNERS
  esphome/components/bl0940/__init__.py
  esphome/components/bl0940/bl0940.cpp
  esphome/components/bl0940/bl0940.h
  esphome/components/bl0940/sensor.py
  tests/test3.yaml
Labels: new-integration, has-tests, integration: bl0940

#2976 Honor user set values for col/row start for INITR_MINI_160X80.
  esphome/components/st7735/st7735.cpp
Labels: integration: st7735, small-pr

#2998 Fix clang-tidy with multiple ESP32 toolchains installed
  script/clang-tidy
Labels: core, small-pr

#2999 Set correct include_dir in platformio.ini
  platformio.ini
  script/clang-tidy
Labels: core, small-pr

#2996 SGP40 - Reduce delay in measurement
  esphome/components/sgp40/sgp40.cpp
Labels: small-pr, integration: sgp40

#3000 atc mithermometer: Add possibility to report signal strength
  esphome/components/atc_mithermometer/atc_mithermometer.cpp
  esphome/components/atc_mithermometer/atc_mithermometer.h
  esphome/components/atc_mithermometer/sensor.py
  esphome/const.py
Labels: core, small-pr, integration: atc_mithermometer

#3001 Support clang-tidy for ESP32 variants
  .github/workflows/ci.yml
  platformio.ini
  script/clang-tidy
Labels: core, small-pr

#2984 Fix SlowPWM output switch at the end of period
  esphome/components/slow_pwm/slow_pwm_output.cpp
Labels: integration: slow_pwm, small-pr

#2716 Add support for BMP388 / BMP 390 pressure and temperature sensor
  CODEOWNERS
  esphome/components/bmp3xx/__init__.py
  esphome/components/bmp3xx/bmp3xx.cpp
  esphome/components/bmp3xx/bmp3xx.h
  esphome/components/bmp3xx/sensor.py
  tests/test5.yaml
Labels: new-integration, has-tests, integration: bmp3xx

#3011 Clean-up reverse_bits helpers
  esphome/components/remote_base/midea_protocol.cpp
  esphome/components/ttp229_lsf/ttp229_lsf.cpp
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: integration: remote_base, integration: ttp229_lsf, core, small-pr

#3010 Convert clamp() helper to backport of std::clamp()
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: core, small-pr

#3008 Introduce str_lower_case() and str_upper_case() helpers
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: core, small-pr

#3009 Drop uint{32,64}_to_string() helper functions
  esphome/components/dallas/dallas_component.cpp
  esphome/components/debug/debug_component.cpp
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: integration: dallas, integration: debug, core, small-pr

#3007 Bump PlatformIO to 5.2.4 and zeroconf to 0.37.0
  docker/Dockerfile
  requirements.txt
Labels: dependencies, small-pr

#3006 Offset bugfix in Modbus Text Sensor
  esphome/components/modbus_controller/text_sensor/modbus_textsensor.cpp
Labels: small-pr, bugfix, integration: modbus_controller

#3014 Add MCP47A1 DAC output
  CODEOWNERS
  esphome/components/mcp47a1/__init__.py
  esphome/components/mcp47a1/mcp47a1.cpp
  esphome/components/mcp47a1/mcp47a1.h
  esphome/components/mcp47a1/output.py
  tests/test5.yaml
Labels: new-integration, has-tests, integration: mcp47a1

#3019 Bump docker dependencies
  docker/Dockerfile
Labels: small-pr

#2981 Fix register ranges in modbus controller
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/modbus_controller/modbus_controller.h
Labels: integration: modbus_controller

#3016 Add `restore_mode` to output switch
  esphome/components/output/switch/__init__.py
  esphome/components/output/switch/output_switch.cpp
  esphome/components/output/switch/output_switch.h
Labels: integration: output, core

#2921 Add turn_on/off trigger to slow_pwm
  esphome/components/slow_pwm/output.py
  esphome/components/slow_pwm/slow_pwm_output.cpp
  esphome/components/slow_pwm/slow_pwm_output.h
Labels: integration: slow_pwm

#3023 Convert is_callable to a backport of std::is_invocable
  esphome/components/api/homeassistant_service.h
  esphome/core/automation.h
  esphome/core/helpers.h
Labels: integration: api, core, small-pr

#2965 Create new kalman_combinator component
  CODEOWNERS
  esphome/components/kalman_combinator/__init__.py
  esphome/components/kalman_combinator/kalman_combinator.cpp
  esphome/components/kalman_combinator/kalman_combinator.h
  esphome/components/kalman_combinator/sensor.py
  esphome/core/entity_helpers.py
  tests/test1.yaml
Labels: new-integration, has-tests, core, integration: kalman_combinator

#2847 New Midea IR component, improvements and fixes
  CODEOWNERS
  esphome/components/climate_ir/climate_ir.cpp
  esphome/components/climate_ir/climate_ir.h
  esphome/components/coolix/coolix.cpp
  esphome/components/coolix/coolix.h
  esphome/components/midea/ir_transmitter.h
  esphome/components/midea_ir/__init__.py
  esphome/components/midea_ir/climate.py
  esphome/components/midea_ir/midea_data.h
  esphome/components/midea_ir/midea_ir.cpp
  esphome/components/midea_ir/midea_ir.h
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/coolix_protocol.cpp
  esphome/components/remote_base/coolix_protocol.h
  esphome/components/remote_base/midea_protocol.cpp
  esphome/components/remote_base/midea_protocol.h
  esphome/core/helpers.cpp
  esphome/core/helpers.h
  tests/test1.yaml
Labels: new-integration, integration: climate_ir, integration: coolix, integration: remote_base, has-tests, core, by-code-owner, integration: midea, integration: midea_ir

#2813 Extend esp32_camera with requester to improve performance
  esphome/components/api/api_connection.cpp
  esphome/components/esp32_camera/esp32_camera.cpp
  esphome/components/esp32_camera/esp32_camera.h
  esphome/components/esp32_camera_web_server/camera_web_server.cpp
Labels: integration: api, integration: esp32_camera, core, by-code-owner, integration: esp32_camera_web_server

#2895 MCP3204 4-channel 12-bit ADC component
  CODEOWNERS
  esphome/components/mcp3204/__init__.py
  esphome/components/mcp3204/mcp3204.cpp
  esphome/components/mcp3204/mcp3204.h
  esphome/components/mcp3204/sensor/__init__.py
  esphome/components/mcp3204/sensor/mcp3204_sensor.cpp
  esphome/components/mcp3204/sensor/mcp3204_sensor.h
  tests/test4.yaml
Labels: new-integration, has-tests, integration: mcp3204

#2959 Adding sdm_meter ability to report total power
  esphome/components/sdm_meter/sdm_meter.cpp
  esphome/components/sdm_meter/sdm_meter.h
  esphome/components/sdm_meter/sensor.py
  esphome/const.py
Labels: core, small-pr, integration: sdm_meter

#3020 [Modbus_controller] Fix binary sensor lambda
  esphome/components/modbus_controller/binary_sensor/__init__.py
  esphome/components/modbus_controller/binary_sensor/modbus_binarysensor.h
Labels: small-pr, bugfix, by-code-owner, integration: modbus_controller

#3022 Clean-up random helper functions
  esphome/components/api/api_frame_helper.cpp
  esphome/components/light/addressable_light_effect.h
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: integration: api, integration: light, core

#3018 Fix display picture for nextion display
  esphome/components/nextion/nextion_commands.cpp
Labels: integration: nextion, small-pr

#3025 Fix heatpumpir codegen min/max temperatures
  esphome/components/heatpumpir/climate.py
Labels: small-pr, integration: heatpumpir

#2480 Add an action for pzemac to reset the total energy
  esphome/components/pzemac/pzemac.cpp
  esphome/components/pzemac/pzemac.h
  esphome/components/pzemac/sensor.py
  tests/test3.yaml
Labels: integration: pzemac, has-tests, new-action

#2037 Nexa 433MHz RF protocol
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/nexa_protocol.cpp
  esphome/components/remote_base/nexa_protocol.h
  esphome/components/remote_base/remote_base.h
Labels: integration: remote_base

#3021 Deprecate virtual methods to set entity properties
  esphome/components/binary_sensor/binary_sensor.cpp
  esphome/components/binary_sensor/binary_sensor.h
  esphome/components/cover/cover.cpp
  esphome/components/cover/cover.h
  esphome/components/integration/integration_sensor.cpp
  esphome/components/integration/integration_sensor.h
  esphome/components/integration/sensor.py
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
  esphome/components/total_daily_energy/sensor.py
  esphome/components/total_daily_energy/total_daily_energy.h
  esphome/core/entity_helpers.py
Labels: integration: binary_sensor, integration: cover, integration: integration, integration: sensor, integration: total_daily_energy, core

#3003 Run post scripts for factory binaries for flashing
  esphome/components/esp32/__init__.py
  esphome/components/esp32/post_build.py
  esphome/components/esp8266/__init__.py
  esphome/components/esp8266/post_build.py
  esphome/dashboard/dashboard.py
  esphome/writer.py
  platformio.ini
Labels: core, dashboard, integration: esp32, integration: esp8266

#2431 Add cd74hc4067 multiplexer
  CODEOWNERS
  esphome/components/cd74hc4067/__init__.py
  esphome/components/cd74hc4067/cd74hc4067.cpp
  esphome/components/cd74hc4067/cd74hc4067.h
  esphome/components/cd74hc4067/sensor.py
  tests/test3.yaml
Labels: new-integration, has-tests, integration: cd74hc4067

#1629 Native ESP32 CAN support
  CODEOWNERS
  esphome/components/esp32_can/__init__.py
  esphome/components/esp32_can/canbus.py
  esphome/components/esp32_can/esp32_can.cpp
  esphome/components/esp32_can/esp32_can.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: esp32_can

#3031 [Modbus_controller] Fix duplicate cmd check
  esphome/components/modbus_controller/modbus_controller.cpp
Labels: small-pr, bugfix, by-code-owner, integration: modbus_controller

#2997 Introduce big- and little-endian integer types
  esphome/core/datatypes.h
  esphome/core/helpers.h
Labels: core

#3036 Generate basic config for esphome-web devices
  esphome/components/dashboard_import/__init__.py
Labels: small-pr, integration: dashboard_import

#3038 Bump esphome-dashboard to 20220113.1
  requirements.txt
Labels: small-pr

#3040 Add factory to download name
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#3041 Bump dashboard to 20220113.2
  requirements.txt
Labels: small-pr

#3042 2022.1.0b2
  esphome/const.py
  esphome/dashboard/dashboard.py
  requirements.txt
Labels: merging-to-beta

#3054 Disable caching for binary download
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#3057 Rename post_build scripts to fix codeowners script
  esphome/components/esp32/__init__.py
  esphome/components/esp32/post_build.py.script
  esphome/components/esp8266/__init__.py
  esphome/components/esp8266/post_build.py.script
Labels: small-pr, integration: esp32, integration: esp8266

#3056 Remove deprecated attribute from virtual entity methods
  esphome/components/binary_sensor/binary_sensor.h
  esphome/components/cover/cover.h
  esphome/components/sensor/sensor.h
Labels: integration: binary_sensor, integration: cover, integration: sensor, core, small-pr

#3055 Add number setting to web_server/rest_api
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server

#3060 2022.1.0b3
  esphome/components/binary_sensor/binary_sensor.h
  esphome/components/cover/cover.h
  esphome/components/esp32/__init__.py
  esphome/components/esp32/post_build.py.script
  esphome/components/esp8266/__init__.py
  esphome/components/esp8266/post_build.py.script
  esphome/components/sensor/sensor.h
  esphome/components/web_server/web_server.cpp
  esphome/const.py
  esphome/dashboard/dashboard.py
Labels: merging-to-beta

#3061 bump dashboard to 20220116.0
  requirements.txt
Labels: small-pr

#3063 [modbus_controller] add missing skip_updates
  esphome/components/modbus_controller/switch/__init__.py
  esphome/components/modbus_controller/switch/modbus_switch.h
Labels: small-pr, by-code-owner, integration: modbus_controller

#3067 Fail hard if no random bytes available for encryption
  esphome/components/api/api_frame_helper.cpp
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: integration: api, core, small-pr

#3068 2022.1.0b4
  esphome/components/api/api_frame_helper.cpp
  esphome/components/modbus_controller/switch/__init__.py
  esphome/components/modbus_controller/switch/modbus_switch.h
  esphome/const.py
  esphome/core/helpers.cpp
  esphome/core/helpers.h
  requirements.txt
Labels: merging-to-beta

#3074 Add *.py.script files to distributions
  MANIFEST.in
Labels: small-pr

#3075 2022.1.1
  MANIFEST.in
  esphome/const.py
Labels: merging-to-release

#3073 [modbus_controller] fix incorrect start address for number write
  esphome/components/modbus_controller/number/modbus_number.cpp
Labels: small-pr, bugfix, by-code-owner, integration: modbus_controller

#3069 Fix calibration parameter for bme680 humidity calculation
  esphome/components/bme680/bme680.cpp
Labels: integration: bme680, small-pr

#3072 Bump improv library version
  esphome/components/esp32_improv/__init__.py
  esphome/components/improv_serial/__init__.py
  esphome/components/improv_serial/improv_serial_component.cpp
  platformio.ini
Labels: small-pr, by-code-owner, integration: esp32_improv, integration: improv_serial

#2533 API: Expect a name for connections
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
Labels: stale, integration: api, core, small-pr, by-code-owner

#3077 AM43: autoload "sensor" to avoid compile errors
  esphome/components/am43/cover/__init__.py
Labels: small-pr, by-code-owner, integration: am43

#3059 Add initial_run to regular lambda light effect
  esphome/components/light/base_light_effects.h
  esphome/components/light/effects.py
Labels: integration: light, core, small-pr

#3035 Support simple transparent pngs for display
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  esphome/components/image/__init__.py
Labels: integration: display, integration: image, core, small-pr

#3027 Add ektf2232 touchscreen support
  CODEOWNERS
  esphome/components/ektf2232/__init__.py
  esphome/components/ektf2232/binary_sensor/__init__.py
  esphome/components/ektf2232/binary_sensor/ektf2232_binary_sensor.cpp
  esphome/components/ektf2232/binary_sensor/ektf2232_binary_sensor.h
  esphome/components/ektf2232/ektf2232.cpp
  esphome/components/ektf2232/ektf2232.h
  tests/test5.yaml
Labels: new-integration, has-tests, integration: ektf2232

#3015 Implement IPv6 sockets for lwIP
  esphome/components/socket/lwip_raw_tcp_impl.cpp
Labels: integration: socket

#3085 Allow multiple configs for cd74hc4067
  esphome/components/cd74hc4067/__init__.py
Labels: small-pr, integration: cd74hc4067

#3030 Wake-on-LAN button
  CODEOWNERS
  esphome/components/wake_on_lan/__init__.py
  esphome/components/wake_on_lan/button.py
  esphome/components/wake_on_lan/wake_on_lan.cpp
  esphome/components/wake_on_lan/wake_on_lan.h
  tests/component_tests/button/test_button.py
  tests/component_tests/button/test_button.yaml
  tests/test3.yaml
Labels: new-integration, has-tests, integration: wake_on_lan

#3051 Add restore_mode to fan component
  esphome/components/fan/__init__.py
  esphome/components/fan/fan_state.cpp
  esphome/components/fan/fan_state.h
Labels: integration: fan, core

#3092 Set the wrapped single light in light partition to internal
  esphome/components/partition/light.py
Labels: integration: partition, small-pr

#3004 slow_pwm: allow to restart a cycle on state change
  esphome/components/slow_pwm/output.py
  esphome/components/slow_pwm/slow_pwm_output.cpp
  esphome/components/slow_pwm/slow_pwm_output.h
  tests/test3.yaml
Labels: integration: slow_pwm, has-tests, small-pr

#3099 Enable readability-const-return-type check
  .clang-tidy
  esphome/components/climate/climate_traits.h
  esphome/components/graph/graph.h
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_component.h
  esphome/components/select/select.h
Labels: integration: climate, integration: mqtt, core, small-pr, integration: select, integration: graph

#3097 Enable readability-redundant-member-init check
  .clang-tidy
  esphome/components/esp32_touch/esp32_touch.cpp
  esphome/components/modbus_controller/binary_sensor/modbus_binarysensor.h
  esphome/components/modbus_controller/modbus_controller.h
  esphome/components/modbus_controller/number/modbus_number.h
  esphome/components/modbus_controller/output/modbus_output.h
  esphome/components/modbus_controller/sensor/modbus_sensor.h
  esphome/components/modbus_controller/switch/modbus_switch.h
  esphome/components/modbus_controller/text_sensor/modbus_textsensor.h
  esphome/components/mqtt/mqtt_binary_sensor.cpp
  esphome/components/mqtt/mqtt_button.cpp
  esphome/components/mqtt/mqtt_fan.cpp
  esphome/components/mqtt/mqtt_light.cpp
  esphome/components/mqtt/mqtt_number.cpp
  esphome/components/mqtt/mqtt_select.cpp
  esphome/components/mqtt/mqtt_sensor.cpp
  esphome/components/mqtt/mqtt_switch.cpp
  esphome/components/mqtt/mqtt_text_sensor.cpp
  esphome/components/remote_base/remote_base.h
  esphome/components/sensor/filter.cpp
  esphome/components/socket/bsd_sockets_impl.cpp
  esphome/core/component.cpp
Labels: integration: esp32_touch, integration: mqtt, integration: remote_base, integration: sensor, core, small-pr, integration: modbus_controller, integration: socket

#3098 Enable readability-named-parameter check
  .clang-tidy
  esphome/components/anova/anova.h
  esphome/components/api/user_services.h
  esphome/components/hm3301/hm3301.h
  esphome/components/kalman_combinator/kalman_combinator.cpp
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/modbus_controller/number/modbus_number.h
  esphome/components/sim800l/sim800l.h
  esphome/components/tm1651/tm1651.h
  esphome/components/wifi/wifi_component.h
Labels: integration: api, integration: hm3301, integration: sim800l, integration: tm1651, integration: wifi, core, small-pr, integration: anova, integration: modbus_controller, integration: kalman_combinator

#3096 Enable readability-redundant-access-specifiers check
  .clang-tidy
  esphome/components/adalight/adalight_light_effect.h
  esphome/components/e131/e131.h
  esphome/components/e131/e131_addressable_light_effect.h
  esphome/components/esp32_camera_web_server/camera_web_server.h
  esphome/components/modbus_controller/text_sensor/modbus_textsensor.h
  esphome/components/mqtt/mqtt_component.h
  esphome/components/wled/wled_light_effect.h
Labels: integration: adalight, integration: e131, integration: mqtt, integration: wled, core, small-pr, integration: modbus_controller, integration: esp32_camera_web_server

#3078 Command retain option for MQTT component
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_component.h
  esphome/components/mqtt/mqtt_const.h
  esphome/config_validation.py
  esphome/const.py
  tests/test1.yaml
Labels: integration: mqtt, has-tests, core, small-pr

#2848 Refactor fan platform to resemble climate/cover platforms
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/api/list_entities.cpp
  esphome/components/api/list_entities.h
  esphome/components/api/subscribe_state.cpp
  esphome/components/api/subscribe_state.h
  esphome/components/api/util.h
  esphome/components/binary/fan/__init__.py
  esphome/components/binary/fan/binary_fan.cpp
  esphome/components/binary/fan/binary_fan.h
  esphome/components/demo/__init__.py
  esphome/components/demo/demo_fan.h
  esphome/components/fan/__init__.py
  esphome/components/fan/automation.cpp
  esphome/components/fan/automation.h
  esphome/components/fan/fan.cpp
  esphome/components/fan/fan.h
  esphome/components/fan/fan_helpers.h
  esphome/components/fan/fan_state.cpp
  esphome/components/fan/fan_state.h
  esphome/components/hbridge/fan/__init__.py
  esphome/components/hbridge/fan/hbridge_fan.cpp
  esphome/components/hbridge/fan/hbridge_fan.h
  esphome/components/mqtt/mqtt_fan.cpp
  esphome/components/mqtt/mqtt_fan.h
  esphome/components/output/binary_output.h
  esphome/components/prometheus/prometheus_handler.cpp
  esphome/components/prometheus/prometheus_handler.h
  esphome/components/speed/fan/__init__.py
  esphome/components/speed/fan/speed_fan.cpp
  esphome/components/speed/fan/speed_fan.h
  esphome/components/tuya/fan/__init__.py
  esphome/components/tuya/fan/tuya_fan.cpp
  esphome/components/tuya/fan/tuya_fan.h
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/core/application.h
  esphome/core/controller.h
  script/ci-custom.py
Labels: integration: api, integration: binary, integration: fan, integration: mqtt, integration: output, core, integration: prometheus, integration: hbridge, integration: demo

#3093 Fix path to extra_scripts in platformio.ini
  platformio.ini
Labels: small-pr

#3103 Add cv.require_esphome_version helper
  esphome/config_validation.py
  esphome/util.py
Labels: core, small-pr

#3108 Remove unused polling_component_schema from modbus number
  esphome/components/modbus_controller/number/__init__.py
  tests/test5.yaml
Labels: has-tests, small-pr, bugfix, by-code-owner, integration: modbus_controller

#3089 Make CallbackManager invocable
  esphome/core/helpers.h
Labels: core, small-pr

#3109 Implement output button
  esphome/components/output/button/__init__.py
  esphome/components/output/button/output_button.cpp
  esphome/components/output/button/output_button.h
  tests/test3.yaml
Labels: new-integration, integration: output, has-tests, core

#3111 2022.1.2
  esphome/components/modbus_controller/number/modbus_number.cpp
  esphome/components/partition/light.py
  esphome/const.py
Labels: merging-to-release

#2955 Add increment_day function to ESPTime
  esphome/components/time/real_time_clock.cpp
  esphome/components/time/real_time_clock.h
Labels: integration: time, small-pr

#3037 [TCS34725] remove duplicated endian conversion
  esphome/components/tcs34725/tcs34725.cpp
  esphome/components/tcs34725/tcs34725.h
Labels: breaking-change, integration: tcs34725, bugfix

#3062 Perform merges when substituting dict keys
  esphome/components/packages/__init__.py
  esphome/components/substitutions/__init__.py
  esphome/config_helpers.py
Labels: integration: packages, integration: substitutions, core, small-pr

#3090 Esp32cam full control
  esphome/components/esp32_camera/__init__.py
  esphome/components/esp32_camera/esp32_camera.cpp
  esphome/components/esp32_camera/esp32_camera.h
Labels: integration: esp32_camera

#3113 Fix config merging with null
  esphome/config_helpers.py
Labels: core, small-pr

#3100 Http follow requests
  esphome/components/http_request/__init__.py
  esphome/components/http_request/http_request.cpp
  esphome/components/http_request/http_request.h
Labels: integration: http_request, small-pr

#2953 Add IPv6 for esp-idf framework
  esphome/components/api/api_server.cpp
  esphome/components/network/__init__.py
  esphome/components/ota/ota_component.cpp
  esphome/components/socket/socket.cpp
  esphome/components/socket/socket.h
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/const.py
Labels: integration: api, integration: network, integration: ota, integration: wifi, core, integration: socket

#3087 Add support for additional colors on GROW R503
  esphome/components/fingerprint_grow/__init__.py
  esphome/components/fingerprint_grow/fingerprint_grow.h
Labels: small-pr, integration: fingerprint_grow

#1578 Add Heap Sensors - free/max block/fragmentation
  esphome/components/debug/__init__.py
  esphome/components/debug/debug_component.cpp
  esphome/components/debug/debug_component.h
  esphome/const.py
Labels: integration: debug, core

#3083 Create base touchscreen component and refactor ektf2232
  CODEOWNERS
  esphome/components/display/display_buffer.h
  esphome/components/ektf2232/__init__.py
  esphome/components/ektf2232/ektf2232.cpp
  esphome/components/ektf2232/ektf2232.h
  esphome/components/ektf2232/touchscreen.py
  esphome/components/touchscreen/__init__.py
  esphome/components/touchscreen/binary_sensor/__init__.py
  esphome/components/touchscreen/binary_sensor/touchscreen_binary_sensor.cpp
  esphome/components/touchscreen/binary_sensor/touchscreen_binary_sensor.h
  esphome/components/touchscreen/touchscreen.cpp
  esphome/components/touchscreen/touchscreen.h
  esphome/const.py
  script/ci-custom.py
  tests/test4.yaml
  tests/test5.yaml
Labels: new-integration, integration: display, has-tests, core, by-code-owner, integration: ektf2232, integration: touchscreen

#2952 Add qr code support for displays
  CODEOWNERS
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  esphome/components/qr_code/__init__.py
  esphome/components/qr_code/qr_code.cpp
  esphome/components/qr_code/qr_code.h
  esphome/core/defines.h
  platformio.ini
  tests/test1.yaml
  tests/test3.yaml
Labels: new-integration, integration: display, has-tests, core, integration: qr_code

#2606 ESP8266 Set recommended framework to 3.0.2
  esphome/components/esp8266/__init__.py
Labels: not-stale, small-pr, integration: esp8266

#3071 TSL2591 automatic gain control
  esphome/components/tsl2591/sensor.py
  esphome/components/tsl2591/tsl2591.cpp
  esphome/components/tsl2591/tsl2591.h
Labels: breaking-change, integration: tsl2591

#3117 set adc width to 13 bits for esp32-s2
  esphome/components/adc/adc_sensor.cpp
Labels: integration: adc, core, small-pr

#3118 Fix lint for TSL2591
  esphome/components/tsl2591/tsl2591.cpp
Labels: small-pr, integration: tsl2591

#3115 Add Xiaomi MHOC303 sensor e-ink clock
  CODEOWNERS
  esphome/components/xiaomi_ble/xiaomi_ble.cpp
  esphome/components/xiaomi_ble/xiaomi_ble.h
  esphome/components/xiaomi_mhoc303/__init__.py
  esphome/components/xiaomi_mhoc303/sensor.py
  esphome/components/xiaomi_mhoc303/xiaomi_mhoc303.cpp
  esphome/components/xiaomi_mhoc303/xiaomi_mhoc303.h
  tests/test2.yaml
Labels: new-integration, integration: xiaomi_ble, has-tests, integration: xiaomi_mhoc303

#3112 Logically group and document helper functions
  esphome/core/automation.h
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: core

#3121 Add support for Waveshare 7.5in-bv2
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper

#3131 Bump docker dependencies
  docker/Dockerfile
Labels: small-pr

#3126 Fix backwards string case helpers
  esphome/components/dallas/dallas_component.cpp
  esphome/core/helpers.cpp
Labels: breaking-change, integration: dallas, core, small-pr

#3116 Improv_serial scan and send wifi networks list
  esphome/components/esp32_improv/__init__.py
  esphome/components/improv_serial/__init__.py
  esphome/components/improv_serial/improv_serial_component.cpp
  esphome/components/improv_serial/improv_serial_component.h
  platformio.ini
Labels: new-feature, small-pr, by-code-owner, integration: esp32_improv, integration: improv_serial

#3130 Disable platformio ldf for build
  platformio.ini
Labels: small-pr

#3120 Bump esp-idf framework version from 4.3.0 to 4.3.2
  esphome/components/esp32/__init__.py
  esphome/components/md5/md5.cpp
  esphome/components/md5/md5.h
  platformio.ini
Labels: small-pr, integration: esp32, integration: md5
