Repository esphome/esphome, pull requests merged in 2022-03, with the labels that each got.

#3259 Only get free memory size from internal
  esphome/components/json/json_util.cpp
Labels: integration: json, core, small-pr

#3261 2022.2.6
  esphome/components/json/json_util.cpp
  esphome/const.py
Labels: merging-to-release

#2688 Webserver v2
  esphome/components/climate/climate_traits.h
  esphome/components/web_server/__init__.py
  esphome/components/web_server/server_index.h
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  tests/test1.yaml
Labels: notable-change, integration: climate, integration: web_server, has-tests, core

#3272 Add entity_category_diagnostics to SGP30 baseline sensors
  esphome/components/sgp30/sensor.py
Labels: integration: sgp30, small-pr

#3277 Bump esphome-dashboard to 20220309.0
  requirements.txt
Labels: small-pr

#3275 Add visual step/min/max for webserver climate
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server, small-pr

#3281 Bump docker dependencies
  docker/Dockerfile
Labels: small-pr

#3267 Add optimistic config flag to modbus select.
  esphome/components/modbus_controller/select/__init__.py
  esphome/components/modbus_controller/select/modbus_select.cpp
  esphome/components/modbus_controller/select/modbus_select.h
Labels: small-pr, integration: modbus_controller

#3286 Fixed wrong comment
  esphome/components/climate/climate_mode.h
Labels: integration: climate, core, small-pr

#3290 Adds support for b-parasite's v2 BLE protocol
  esphome/components/b_parasite/b_parasite.cpp
Labels: small-pr, by-code-owner, integration: b_parasite

#3297 Add helper overloads for hex print 16-bit
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: core, small-pr

#3202 Allow custom register type for modbus number
  esphome/components/modbus_controller/number/__init__.py
  esphome/components/modbus_controller/number/modbus_number.h
Labels: small-pr, integration: modbus_controller

#3302 2022.3.0b2
  esphome/components/modbus_controller/number/__init__.py
  esphome/components/modbus_controller/number/modbus_number.h
  esphome/components/modbus_controller/select/__init__.py
  esphome/components/modbus_controller/select/modbus_select.cpp
  esphome/components/modbus_controller/select/modbus_select.h
  esphome/const.py
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: merging-to-beta

#3293 Fix WDT reset during dallas search algorithm
  esphome/components/dallas/esp_one_wire.cpp
  esphome/components/dallas/esp_one_wire.h
Labels: integration: dallas, small-pr

#3289 Reserve less memory for json
  esphome/components/json/json_util.cpp
Labels: integration: json, core

#3323 Add small delay before setting up app in safe mode
  esphome/components/ota/ota_component.cpp
Labels: integration: ota, core, small-pr

#3322 Allow to set user defined characters on LCD
  esphome/components/lcd_base/__init__.py
  esphome/components/lcd_base/lcd_display.cpp
  esphome/components/lcd_base/lcd_display.h
  tests/test1.yaml
Labels: new-feature, integration: lcd_base, has-tests

#3243 Font allow using google fonts directly
  esphome/components/font/__init__.py
Labels: new-feature, notable-change, integration: font, core

#3331 Actually increase request memory for json parsing
  esphome/components/json/json_util.cpp
Labels: integration: json, core, small-pr

#3314 Change beginning of file comments to avoid creating doxygen tag for `esphome` namespace
  esphome/components/rc522_spi/rc522_spi.h
  esphome/components/sx1509/sx1509_registers.h
Labels: integration: sx1509, small-pr, integration: rc522_spi

#3295 Publish custom data when modbus number lambda fills vector
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/modbus_controller/modbus_controller.h
  esphome/components/modbus_controller/number/modbus_number.cpp
Labels: integration: modbus_controller

#3346 2022.3.2
  esphome/components/json/json_util.cpp
  esphome/const.py
Labels: merging-to-release
