Repository esphome/esphome, pull requests merged in 2022-11, with the labels that each got.

#3975 2022.10.2
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/const.py
Labels: merging-to-release

#3971 Allow multiple bluetooth proxy connections
  esphome/components/api/api_server.h
  esphome/components/ble_client/ble_client.cpp
  esphome/components/ble_client/ble_client.h
  esphome/components/bluetooth_proxy/__init__.py
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/bluetooth_proxy/bluetooth_connection.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/esp32_ble_client/ble_characteristic.cpp
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
  esphome/components/esp32_ble_client/ble_service.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: api, integration: esp32_ble_tracker, core, integration: ble_client, by-code-owner, integration: bluetooth_proxy, integration: esp32_ble_client

#3988 Always use gh releases in base platformio file
  platformio.ini
Labels: small-pr

#3989 Allow the use of multiple RDM6300 devices
  esphome/components/rdm6300/__init__.py
Labels: integration: rdm6300, small-pr

#3991 rp2040: Set watchdog to reboot properly
  esphome/components/rp2040/core.cpp
Labels: small-pr, by-code-owner, integration: rp2040

#3990 RP2040 uart support
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
  esphome/components/uart/__init__.py
  esphome/components/uart/uart_component_rp2040.cpp
  esphome/components/uart/uart_component_rp2040.h
Labels: integration: logger, integration: uart, core

#3996 add uart number to LOGCONFIG
  esphome/components/uart/uart_component_esp32_arduino.cpp
  esphome/components/uart/uart_component_esp32_arduino.h
Labels: integration: uart, core, small-pr

#3406 Implement a simple LCD menu
  CODEOWNERS
  esphome/components/display_menu_base/__init__.py
  esphome/components/display_menu_base/automation.h
  esphome/components/display_menu_base/display_menu_base.cpp
  esphome/components/display_menu_base/display_menu_base.h
  esphome/components/display_menu_base/menu_item.cpp
  esphome/components/display_menu_base/menu_item.h
  esphome/components/lcd_menu/__init__.py
  esphome/components/lcd_menu/lcd_menu.cpp
  esphome/components/lcd_menu/lcd_menu.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: lcd_menu, integration: display_menu_base

#3992 Lint updates
  .pre-commit-config.yaml
  requirements_test.txt
Labels: small-pr

#3999 Skip validation of defined pins
  esphome/components/esp32/gpio.py
Labels: small-pr, integration: esp32

#3910 Enable calibration, callbacks and custom commands for EZO sensors
  esphome/components/ezo/automation.h
  esphome/components/ezo/ezo.cpp
  esphome/components/ezo/ezo.h
  esphome/components/ezo/sensor.py
Labels: integration: ezo

#4006 Bump esphome-dashboard to 20221109.0
  requirements.txt
Labels: small-pr

#3538 Add support for parameters in scripts
  esphome/components/script/__init__.py
  esphome/components/script/script.cpp
  esphome/components/script/script.h
  esphome/const.py
  tests/test2.yaml
Labels: integration: script, has-tests, core

#4008 Update set-output to use new GITHUB_OUTPUT
  .github/workflows/release.yml
Labels: small-pr

#3950 Add cover toggle support to current based cover
  esphome/components/current_based/current_based_cover.cpp
  esphome/components/current_based/current_based_cover.h
  tests/test3.yaml
Labels: has-tests, small-pr, integration: current_based

#3981 Add option for dashboard command to only generate the project and supporting files
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#3963 add two new icons
  esphome/const.py
Labels: core, small-pr

#3958 Fix local webserver based on esphome/esphome-webserver#17
  esphome/components/web_server/server_index.h
Labels: integration: web_server

#4012 2022.11.0b2
  .github/workflows/release.yml
  esphome/components/current_based/current_based_cover.cpp
  esphome/components/current_based/current_based_cover.h
  esphome/components/web_server/server_index.h
  esphome/const.py
  esphome/dashboard/dashboard.py
  tests/test3.yaml
Labels: merging-to-beta

#4014 Move CONF_INTERRUPT_PIN to const.py
  esphome/components/ektf2232/touchscreen.py
  esphome/components/lilygo_t5_47/touchscreen/__init__.py
  esphome/components/xpt2046/touchscreen.py
  esphome/const.py
Labels: core, small-pr, by-code-owner, integration: xpt2046, integration: ektf2232, integration: lilygo_t5_47

#4015 fix to_lower filter
  esphome/components/text_sensor/filter.cpp
Labels: integration: text_sensor, core, small-pr

#4018 2022.11.0b3
  esphome/components/text_sensor/filter.cpp
  esphome/const.py
Labels: merging-to-beta

#4023 Mark webserver and captive portal as not available on rp2040
  esphome/components/async_tcp/__init__.py
  esphome/components/captive_portal/__init__.py
  esphome/components/web_server/__init__.py
Labels: integration: async_tcp, integration: captive_portal, integration: web_server, core, small-pr

#4024 Fix time components on rp2040
  esphome/components/sntp/sntp_component.cpp
  esphome/components/time/real_time_clock.cpp
Labels: integration: sntp, integration: time, small-pr

#4025 Mark mqtt as unavailable on rp2040
  esphome/components/mqtt/__init__.py
Labels: integration: mqtt, core, small-pr

#4026 2022.11.0b4
  esphome/components/async_tcp/__init__.py
  esphome/components/captive_portal/__init__.py
  esphome/components/mqtt/__init__.py
  esphome/components/sntp/sntp_component.cpp
  esphome/components/time/real_time_clock.cpp
  esphome/components/web_server/__init__.py
  esphome/const.py
Labels: merging-to-beta

#4031 Update_interval less that 1 second in QMC5883L integration
  esphome/components/qmc5883l/sensor.py
Labels: integration: qmc5883l, small-pr

#4035 2022.11.0b5
  esphome/components/qmc5883l/sensor.py
  esphome/const.py
Labels: merging-to-beta

#4037 2022.11.0b6
  esphome/components/captive_portal/__init__.py
  esphome/components/wifi/wifi_component.cpp
  esphome/const.py
Labels: merging-to-beta

#4034 bump nginx-light 1.18.0-6.1+deb11u2 to 1.18.0-6.1+deb11u3
  docker/Dockerfile
Labels: small-pr

#4040 Support ADC on RP2040
  esphome/components/adc/adc_sensor.cpp
  esphome/components/adc/adc_sensor.h
  esphome/components/adc/sensor.py
  esphome/config_validation.py
Labels: integration: adc, core

#4041 2022.11.1
  esphome/components/adc/adc_sensor.cpp
  esphome/components/adc/adc_sensor.h
  esphome/components/adc/sensor.py
  esphome/config_validation.py
  esphome/const.py
Labels: merging-to-release

#4016 Bump base image versions to latest
  docker/Dockerfile
  docker/ha-addon-rootfs/etc/cont-init.d/30-dirs.sh
  docker/ha-addon-rootfs/etc/services.d/esphome/finish
  docker/ha-addon-rootfs/etc/services.d/nginx/finish
Labels: small-pr

#4042 Add number device class support
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/mqtt/mqtt_number.cpp
  esphome/components/number/__init__.py
  esphome/components/number/number.h
  esphome/components/number/number_traits.cpp
  esphome/components/number/number_traits.h
  tests/test5.yaml
Labels: integration: api, integration: mqtt, has-tests, core, integration: number

#3564 Update esp32 arduino and platform versions
  esphome/components/dallas/esp_one_wire.cpp
  esphome/components/esp32/__init__.py
  esphome/components/esp32/boards.py
  esphome/components/esp32/gpio.cpp
  esphome/components/esp32/gpio.h
  esphome/components/esp32/gpio.py
  esphome/components/esp32/gpio_arduino.cpp
  esphome/components/esp32/gpio_arduino.h
  esphome/components/esp32_camera/esp32_camera.cpp
  esphome/components/ethernet/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
  esphome/components/ethernet_info/ethernet_info_text_sensor.h
  esphome/components/shelly_dimmer/dev_table.h
  esphome/components/shelly_dimmer/light.py
  esphome/components/shelly_dimmer/shelly_dimmer.cpp
  esphome/components/shelly_dimmer/shelly_dimmer.h
  esphome/components/shelly_dimmer/stm32flash.cpp
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/core/defines.h
  platformio.ini
  script/clang-tidy
  tests/test1.yaml
  tests/test3.yaml
Labels: notable-change, breaking-change, integration: dallas, integration: esp32_camera, integration: ethernet, integration: wifi, has-tests, core, integration: shelly_dimmer, integration: esp32, integration: ethernet_info

#4056 Update esp32 boards list
  esphome/components/esp32/boards.py
Labels: small-pr, integration: esp32

#3264 Add Lolin S2 Mini board
  esphome/components/esp32/boards.py
Labels: small-pr, integration: esp32

#3794 Add pin aliases for upesy boards
  esphome/components/esp32/boards.py
Labels: small-pr, integration: esp32

#4059 Fix rp2040 pwm to use pico-sdk, not mbed
  esphome/components/rp2040_pwm/rp2040_pwm.cpp
  esphome/components/rp2040_pwm/rp2040_pwm.h
Labels: small-pr, by-code-owner, integration: rp2040_pwm

#4060 Update web_server index
  esphome/components/web_server/server_index.h
Labels: integration: web_server

#4045 fix display_menu recursive schema gen
  script/build_language_schema.py
Labels: core, small-pr

#4061 rp2040_pwm frequency is per pair of pins
  esphome/components/rp2040_pwm/rp2040_pwm.cpp
  esphome/components/rp2040_pwm/rp2040_pwm.h
Labels: small-pr, by-code-owner, integration: rp2040_pwm

#4062 Remove manual handling of ethernet power pin
  esphome/components/ethernet/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
Labels: integration: ethernet, core, small-pr

#4068 Avoid 128bit uuid loop for 16/32 bit uuids
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
Labels: integration: esp32_ble_tracker, small-pr

#4069 Avoid creating a new espbt::ESPBTUUID each loop when registering for notify
  esphome/components/esp32_ble_client/ble_client_base.cpp
Labels: small-pr, integration: esp32_ble_client

#3565 Update ESP-IDF and platform version
  esphome/components/esp32/__init__.py
  esphome/components/ethernet/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
  esphome/core/defines.h
  esphome/core/helpers.cpp
  esphome/core/helpers.h
  platformio.ini
Labels: notable-change, integration: ethernet, core, small-pr, integration: esp32

#4053 Midea ir templatable code
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/midea_protocol.h
Labels: integration: remote_base, small-pr

#4064 Boards: Adafruit QT Py ESP32 Pico/C3/S2
  esphome/components/esp32/boards.py
Labels: integration: esp32

#4074 2022.11.2
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/rp2040_pwm/rp2040_pwm.cpp
  esphome/components/rp2040_pwm/rp2040_pwm.h
  esphome/components/web_server/server_index.h
  esphome/const.py
Labels: merging-to-release

#4075 Dont set esp32 pin drive strength unless pin is set for output
  esphome/components/esp32/gpio.cpp
Labels: small-pr, integration: esp32

#4076 Don't allow debug component if you don't have at least debug logging level
  esphome/components/debug/__init__.py
  esphome/components/debug/debug_component.cpp
Labels: integration: debug, core, small-pr

#4079 Remove a bunch of unnecessary pylint disabling
  esphome/components/modbus_controller/__init__.py
  esphome/components/stepper/__init__.py
  esphome/components/text_sensor/__init__.py
  esphome/config.py
  esphome/config_helpers.py
  esphome/config_validation.py
  esphome/core/__init__.py
  esphome/cpp_generator.py
  esphome/cpp_helpers.py
  esphome/dashboard/dashboard.py
  esphome/platformio_api.py
  esphome/storage_json.py
  esphome/voluptuous_schema.py
  esphome/vscode.py
  esphome/wizard.py
  esphome/yaml_util.py
Labels: integration: stepper, integration: text_sensor, core, small-pr, cleanup, code-quality, dashboard, integration: modbus_controller

#4073 Update ESP32-audioI2S library
  esphome/components/i2s_audio/media_player.py
  platformio.ini
Labels: small-pr, by-code-owner, integration: i2s_audio

#4051 fix missing library
  esphome/components/nextion/display.py
Labels: integration: nextion, small-pr

#4048 Fix units for refresh: never
  esphome/config_validation.py
Labels: core, small-pr

#4082 Don't convert climate temperature step
  esphome/components/climate/__init__.py
Labels: integration: climate, core, small-pr

#4083 2022.11.3
  esphome/components/climate/__init__.py
  esphome/components/nextion/display.py
  esphome/config_validation.py
  esphome/const.py
Labels: merging-to-release

#4054 Allow manually specifying binary file to OTA
  esphome/__main__.py
Labels: core, small-pr

#4094 Fix regressed 'esphome run'
  esphome/__main__.py
Labels: core, small-pr

#4063 Make parse_characteristics and parse_descriptors lazy to reduce memory pressure
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/esp32_ble_client/ble_characteristic.cpp
  esphome/components/esp32_ble_client/ble_characteristic.h
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_service.cpp
  esphome/components/esp32_ble_client/ble_service.h
Labels: integration: bluetooth_proxy, integration: esp32_ble_client

#4093 Speed up BLE connections
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/bluetooth_proxy/bluetooth_connection.h
  esphome/components/esp32_ble_client/ble_client_base.cpp
Labels: small-pr, integration: bluetooth_proxy, integration: esp32_ble_client

#4095 Align BLE service logging
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_service.cpp
Labels: small-pr, integration: esp32_ble_client

#4096 Suppress logging unhandled ESP_BLE_AD_TYPE_INT_RANGE
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
Labels: integration: esp32_ble_tracker, small-pr

#4097 Make sure all BLE address strings are uppercase
  esphome/components/esp32_ble_client/ble_client_base.h
Labels: small-pr, integration: esp32_ble_client

#4098 Add logging for BLE connection slots
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
Labels: small-pr, integration: bluetooth_proxy

#4092 Fix registering for gatt notify when characteristic only support indicate
  esphome/components/esp32_ble_client/ble_client_base.cpp
Labels: small-pr, integration: esp32_ble_client

#4104 Fix descriptors not being deleted
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/esp32_ble_client/ble_characteristic.cpp
  esphome/components/esp32_ble_client/ble_characteristic.h
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
  esphome/components/esp32_ble_client/ble_service.cpp
  esphome/components/esp32_ble_client/ble_service.h
Labels: small-pr, integration: bluetooth_proxy, integration: esp32_ble_client

#4049 Improve reliability of bluetooth active connections
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: esp32_ble_tracker, integration: bluetooth_proxy, integration: esp32_ble_client

#4116 Always use generated api options from aioesphomeapi
  script/api_protobuf/api_options_pb2.py
  script/api_protobuf/api_protobuf.py
Labels: core, small-pr

#4112 Fix bluetooth_gatt_write_descriptor never getting a response
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/bluetooth_proxy/bluetooth_connection.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
Labels: small-pr, integration: bluetooth_proxy

#4111 Combine the scanner failure check so we only stop the scanner once
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
Labels: integration: esp32_ble_tracker, small-pr

#4110 Reduce memory needed to send the services list
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
Labels: integration: bluetooth_proxy

#4109 Avoid parsing characteristics and descriptors to reduce memory pressure
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/esp32_ble_client/ble_client_base.cpp
Labels: small-pr, integration: bluetooth_proxy, integration: esp32_ble_client

#4115 Send device address type alongside ble advertisements
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
Labels: integration: api, core, by-code-owner, integration: bluetooth_proxy, integration: esp32_ble_client

#4102 Remove uuid lookups from BLE read/write/notify characteristics
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
Labels: small-pr, integration: bluetooth_proxy

#4113 Active BLE connection v3
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: api, integration: esp32_ble_tracker, core, integration: bluetooth_proxy, integration: esp32_ble_client

#4117 Avoid parsing services with v3 connections without cache
  esphome/components/bluetooth_proxy/bluetooth_connection.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
Labels: integration: bluetooth_proxy, integration: esp32_ble_client

#3648 FIX: Unnecessary flash writes by ModbusSwitch component
  esphome/components/gpio/switch/__init__.py
  esphome/components/gpio/switch/gpio_switch.cpp
  esphome/components/gpio/switch/gpio_switch.h
  esphome/components/modbus_controller/switch/__init__.py
  esphome/components/modbus_controller/switch/modbus_switch.cpp
  esphome/components/output/switch/__init__.py
  esphome/components/output/switch/output_switch.cpp
  esphome/components/output/switch/output_switch.h
  esphome/components/switch/__init__.py
  esphome/components/switch/switch.cpp
  esphome/components/switch/switch.h
Labels: integration: gpio, integration: output, integration: switch, core, integration: modbus_controller

#4121 Speed up uuid parsing when fetching the service list
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
Labels: small-pr, integration: bluetooth_proxy

#4122 modbus_switch: honor switch:restore_mode
  esphome/components/modbus_controller/switch/modbus_switch.cpp
Labels: small-pr, integration: modbus_controller

#3254 PID Climate - deadband and output sampling
  esphome/components/pid/climate.py
  esphome/components/pid/pid_climate.cpp
  esphome/components/pid/pid_climate.h
  esphome/components/pid/pid_controller.cpp
  esphome/components/pid/pid_controller.h
  tests/test3.yaml
Labels: new-feature, integration: pid, has-tests

#4125 Allow auto setting of ble client id if there is only 1 in config
  esphome/components/ble_client/__init__.py
Labels: integration: ble_client, small-pr

#4124 current-based cover fix copy paste mistake
  esphome/components/current_based/current_based_cover.cpp
Labels: small-pr, bugfix, integration: current_based

#4129 fix RESTORE_INVERTED switch:restore_mode
  esphome/components/switch/switch.cpp
Labels: integration: switch, core, small-pr

#4081 Allow global setting of compile process limit
  docker/ha-addon-rootfs/etc/services.d/esphome/run
  esphome/core/config.py
Labels: core, small-pr
