Repository esphome/esphome, pull requests merged in 2023-06, with the labels that each got.

#4895 prometheus: fix compilation with EntityBase
  esphome/components/prometheus/prometheus_handler.h
Labels: small-pr, integration: prometheus

#4912 Support for Adafruit ESP32-S2 TFT Feather
  esphome/components/esp32/boards.py
  esphome/components/st7789v/display.py
  esphome/components/st7789v/st7789v.cpp
  esphome/components/st7789v/st7789v.h
Labels: integration: st7789v, integration: esp32

#4917 Increase SNTP setup priority
  esphome/components/sntp/sntp_component.h
Labels: integration: sntp, small-pr

#4924 Bluetooth Proxy: Raw bundled advertisements
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: api, integration: esp32_ble_tracker, core, by-code-owner, integration: esp32_ble, integration: bluetooth_proxy

#4926 Move ESPTime into core esphome namespace
  esphome/components/bedjet/bedjet_hub.cpp
  esphome/components/bedjet/bedjet_hub.h
  esphome/components/deep_sleep/deep_sleep_component.h
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  esphome/components/ds1307/ds1307.cpp
  esphome/components/gps/time/gps_time.cpp
  esphome/components/lcd_base/lcd_display.cpp
  esphome/components/lcd_base/lcd_display.h
  esphome/components/max7219/max7219.cpp
  esphome/components/max7219/max7219.h
  esphome/components/max7219digit/max7219digit.cpp
  esphome/components/max7219digit/max7219digit.h
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_commands.cpp
  esphome/components/pcf85063/pcf85063.cpp
  esphome/components/sun/sun.cpp
  esphome/components/sun/sun.h
  esphome/components/sun/text_sensor/sun_text_sensor.h
  esphome/components/time/automation.cpp
  esphome/components/time/automation.h
  esphome/components/time/real_time_clock.cpp
  esphome/components/time/real_time_clock.h
  esphome/components/tm1637/tm1637.cpp
  esphome/components/tm1637/tm1637.h
  esphome/components/tm1638/tm1638.cpp
  esphome/components/tm1638/tm1638.h
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
  esphome/core/time.cpp
  esphome/core/time.h
Labels: breaking-change

#4773 Allow multiple MAC addresses for 'on_ble_advertise' filter
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/esp32_ble_tracker/automation.h
  tests/test2.yaml
Labels: integration: esp32_ble_tracker, has-tests, small-pr

#4922 Add SVG image support
  esphome/components/image/__init__.py
Labels: integration: image, core

#4749 Add !extend to devcontainer's customTags
  .devcontainer/devcontainer.json
Labels: small-pr

#4930 [max7219digit] fix 270° rotation
  esphome/components/max7219digit/max7219digit.cpp
Labels: integration: max7219digit, small-pr

#4653 proto generation updates
  .vscode/tasks.json
  requirements_test.txt
  script/api_protobuf/api_protobuf.py
Labels: core, small-pr

#4918 I2S media player allow setting communication format for external DACs
  esphome/components/i2s_audio/media_player/__init__.py
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.cpp
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.h
Labels: small-pr, integration: i2s_audio

#4931 display: Improve Image rendering by removing usage of virtual functions
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
Labels: integration: display, core

#4932 display: add `BaseImage` and provide only `Image::get_pixel` method
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
Labels: breaking-change, integration: display, core

#4770 Add Alarm Control Panel
  CODEOWNERS
  esphome/components/alarm_control_panel/__init__.py
  esphome/components/alarm_control_panel/alarm_control_panel.cpp
  esphome/components/alarm_control_panel/alarm_control_panel.h
  esphome/components/alarm_control_panel/alarm_control_panel_call.cpp
  esphome/components/alarm_control_panel/alarm_control_panel_call.h
  esphome/components/alarm_control_panel/alarm_control_panel_state.cpp
  esphome/components/alarm_control_panel/alarm_control_panel_state.h
  esphome/components/alarm_control_panel/automation.h
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/api/list_entities.cpp
  esphome/components/api/list_entities.h
  esphome/components/api/subscribe_state.cpp
  esphome/components/api/subscribe_state.h
  esphome/components/template/alarm_control_panel/__init__.py
  esphome/components/template/alarm_control_panel/template_alarm_control_panel.cpp
  esphome/components/template/alarm_control_panel/template_alarm_control_panel.h
  esphome/components/web_server/list_entities.cpp
  esphome/components/web_server/list_entities.h
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/core/application.h
  esphome/core/component_iterator.cpp
  esphome/core/component_iterator.h
  esphome/core/controller.cpp
  esphome/core/controller.h
  esphome/core/defines.h
  tests/test1.yaml
  tests/test3.yaml
Labels: new-integration, needs-tests, integration: api, integration: template, integration: web_server, core, integration: alarm_control_panel

#4943 Add support in vbus component for Deltasol BS 2009
  esphome/components/vbus/__init__.py
  esphome/components/vbus/binary_sensor/__init__.py
  esphome/components/vbus/binary_sensor/vbus_binary_sensor.cpp
  esphome/components/vbus/binary_sensor/vbus_binary_sensor.h
  esphome/components/vbus/sensor/__init__.py
  esphome/components/vbus/sensor/vbus_sensor.cpp
  esphome/components/vbus/sensor/vbus_sensor.h
Labels: integration: vbus

#4952 fix vbus sensor offsets
  esphome/components/vbus/sensor/vbus_sensor.cpp
Labels: small-pr, by-code-owner, integration: vbus

#4941 Add support for ESP32-S3-BOX-Lite displays
  esphome/components/ili9xxx/display.py
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
  esphome/components/ili9xxx/ili9xxx_init.h
Labels: integration: ili9xxx

#4950 Split display_buffer sub-components into own files
  esphome/components/display/animation.cpp
  esphome/components/display/animation.h
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  esphome/components/display/font.cpp
  esphome/components/display/font.h
  esphome/components/display/image.cpp
  esphome/components/display/image.h
  tests/test2.yaml
Labels: integration: display, has-tests, core

#4942 Add support for S3 box display
  esphome/components/ili9xxx/display.py
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
  esphome/components/ili9xxx/ili9xxx_init.h
Labels: integration: ili9xxx

#4933 display: allow to align image with `ImageAlign`
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
Labels: integration: display, core

#4955 Use HW SPI for rp2040
  esphome/components/spi/spi.cpp
Labels: integration: spi, core, small-pr

#4964 2023.6.0b2
  esphome/components/display/animation.cpp
  esphome/components/display/animation.h
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  esphome/components/display/font.cpp
  esphome/components/display/font.h
  esphome/components/display/image.cpp
  esphome/components/display/image.h
  esphome/components/ili9xxx/display.py
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
  esphome/components/ili9xxx/ili9xxx_init.h
  esphome/components/spi/spi.cpp
  esphome/components/vbus/__init__.py
  esphome/components/vbus/binary_sensor/__init__.py
  esphome/components/vbus/binary_sensor/vbus_binary_sensor.cpp
  esphome/components/vbus/binary_sensor/vbus_binary_sensor.h
  esphome/components/vbus/sensor/__init__.py
  esphome/components/vbus/sensor/vbus_sensor.cpp
  esphome/components/vbus/sensor/vbus_sensor.h
  esphome/const.py
  tests/test2.yaml
Labels: merging-to-beta

#4521 Upgraded Haier climate component implementation
  CODEOWNERS
  esphome/components/haier/__init__.py
  esphome/components/haier/automation.h
  esphome/components/haier/climate.py
  esphome/components/haier/haier.cpp
  esphome/components/haier/haier.h
  esphome/components/haier/haier_base.cpp
  esphome/components/haier/haier_base.h
  esphome/components/haier/hon_climate.cpp
  esphome/components/haier/hon_climate.h
  esphome/components/haier/hon_packet.h
  esphome/components/haier/logger_handler.cpp
  esphome/components/haier/logger_handler.h
  esphome/components/haier/smartair2_climate.cpp
  esphome/components/haier/smartair2_climate.h
  esphome/components/haier/smartair2_packet.h
  platformio.ini
  tests/test3.yaml
Labels: has-tests, integration: haier

#4963 display: add `BaseFont` and introduce `Font::draw` methods
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  esphome/components/display/font.cpp
  esphome/components/display/font.h
  esphome/components/display/image.cpp
  esphome/components/display/image.h
  esphome/components/graph/graph.cpp
Labels: integration: display, core, integration: graph

#4962 Fix for Fujitsu AC not having Quiet Fan Mode
  esphome/components/fujitsu_general/fujitsu_general.cpp
  esphome/components/fujitsu_general/fujitsu_general.h
Labels: integration: fujitsu_general, small-pr

#4956 display/font: optimise font rendering by about 25%
  esphome/components/display/font.cpp
  esphome/components/display/font.h
Labels: integration: display, core, small-pr

#4957 display: move `Rect` into `rect.cpp/.h`
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  esphome/components/display/rect.cpp
  esphome/components/display/rect.h
Labels: integration: display, core

#4945 Store app comment and compilation_time in flash
  esphome/core/application.cpp
  esphome/core/application.h
Labels: core, small-pr

#4944 Construct web_server assets at build time instead of run time
  esphome/components/web_server/__init__.py
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/components/web_server_base/web_server_base.h
Labels: integration: web_server, integration: web_server_base

#4929 Update pca9685_output.cpp
  esphome/components/pca9685/pca9685_output.cpp
Labels: integration: pca9685, small-pr

#4844 Add read/write for 16bit registers
  esphome/components/i2c/i2c.cpp
  esphome/components/i2c/i2c.h
Labels: integration: i2c, core

#4899 XL9535 I/O Expander
  CODEOWNERS
  esphome/components/xl9535/__init__.py
  esphome/components/xl9535/xl9535.cpp
  esphome/components/xl9535/xl9535.h
  tests/test4.yaml
Labels: new-integration, has-tests, integration: xl9535

#4965 Fix python venv restoring
  .github/actions/restore-python/action.yml
  .github/workflows/ci.yml
Labels: small-pr

#4973 Preprocess away unused code when IPv6 is disabled
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: integration: wifi, core, small-pr

#4959 Add actions to animation
  esphome/components/animation/__init__.py
  esphome/components/display/animation.h
Labels: integration: display, core, integration: animation

#4974 2023.6.0b3
  esphome/components/fujitsu_general/fujitsu_general.cpp
  esphome/components/fujitsu_general/fujitsu_general.h
  esphome/components/pca9685/pca9685_output.cpp
  esphome/components/web_server/__init__.py
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/components/web_server_base/web_server_base.h
  esphome/const.py
  esphome/core/application.cpp
  esphome/core/application.h
Labels: merging-to-beta

#4975 Apply configured IIR filter setting in generated BMP280 code
  esphome/components/bmp280/sensor.py
Labels: integration: bmp280, small-pr

#4854 mqtt: add ESP-IDF >= 5.0 support
  esphome/components/mqtt/mqtt_backend_idf.cpp
  esphome/components/mqtt/mqtt_backend_idf.h
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_sensor.cpp
Labels: integration: mqtt, core

#4910 airthings_wave: refactor to eliminate code duplication
  CODEOWNERS
  esphome/components/airthings_wave_base/__init__.py
  esphome/components/airthings_wave_base/airthings_wave_base.cpp
  esphome/components/airthings_wave_base/airthings_wave_base.h
  esphome/components/airthings_wave_mini/airthings_wave_mini.cpp
  esphome/components/airthings_wave_mini/airthings_wave_mini.h
  esphome/components/airthings_wave_mini/sensor.py
  esphome/components/airthings_wave_plus/airthings_wave_plus.cpp
  esphome/components/airthings_wave_plus/airthings_wave_plus.h
  esphome/components/airthings_wave_plus/sensor.py
  tests/test2.yaml
Labels: new-integration, needs-docs, has-tests, integration: airthings_wave_plus, integration: airthings_wave_mini, integration: airthings_wave_base

#4947 Make growatt play nicer with other modbus components.
  esphome/components/growatt_solar/growatt_solar.cpp
  esphome/components/growatt_solar/growatt_solar.h
Labels: integration: growatt_solar

#4980 Bump esphome-dashboard to 20230621.0
  requirements.txt
Labels: small-pr

#4981 2023.6.0b4
  esphome/components/bmp280/sensor.py
  esphome/components/growatt_solar/growatt_solar.cpp
  esphome/components/growatt_solar/growatt_solar.h
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#4983 Fix pypi release
  .github/workflows/release.yml
  script/setup
Labels: core, small-pr

#4984 2023.6.0b5
  .github/workflows/release.yml
  esphome/const.py
  script/setup
Labels: merging-to-beta

#4419 Add configuration option to disable the log UI.
  esphome/components/web_server/__init__.py
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/const.py
Labels: not-stale, integration: web_server, core, small-pr

#4986 Update webserver and captive portal pages to 67c48ee9
  esphome/components/captive_portal/captive_index.h
  esphome/components/web_server/server_index.h
Labels: integration: captive_portal, integration: web_server, core

#4987 2023.6.0b6
  esphome/components/captive_portal/captive_index.h
  esphome/components/web_server/__init__.py
  esphome/components/web_server/server_index.h
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/const.py
Labels: merging-to-beta

#4982 Migrate VOC sensors that use ppb to use volatile_organic_compounds_parts device class
  esphome/components/airthings_wave_base/__init__.py
  esphome/components/ccs811/sensor.py
  esphome/components/sgp30/sensor.py
Labels: breaking-change, integration: ccs811, integration: sgp30, small-pr, integration: airthings_wave_base

#4966 dashboard: Adds "compressed=1" to /download.bin endpoint. (...)
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#4989 2023.6.0b7
  CODEOWNERS
  esphome/components/airthings_wave_base/__init__.py
  esphome/components/airthings_wave_base/airthings_wave_base.cpp
  esphome/components/airthings_wave_base/airthings_wave_base.h
  esphome/components/airthings_wave_mini/airthings_wave_mini.cpp
  esphome/components/airthings_wave_mini/airthings_wave_mini.h
  esphome/components/airthings_wave_mini/sensor.py
  esphome/components/airthings_wave_plus/airthings_wave_plus.cpp
  esphome/components/airthings_wave_plus/airthings_wave_plus.h
  esphome/components/airthings_wave_plus/sensor.py
  esphome/components/ccs811/sensor.py
  esphome/components/sgp30/sensor.py
  esphome/const.py
  esphome/dashboard/dashboard.py
  tests/test2.yaml
Labels: merging-to-beta

#4976 Make ethernet_info work with esp-idf framework
  esphome/components/ethernet_info/ethernet_info_text_sensor.cpp
  esphome/components/ethernet_info/ethernet_info_text_sensor.h
Labels: small-pr, integration: ethernet_info

#4991 display: fix white screen on binary displays
  esphome/components/display/display_buffer.cpp
Labels: integration: display, core, small-pr

#4992 2023.6.1
  esphome/components/display/display_buffer.cpp
  esphome/components/ethernet_info/ethernet_info_text_sensor.cpp
  esphome/components/ethernet_info/ethernet_info_text_sensor.h
  esphome/const.py
Labels: merging-to-release

#4993 remove unused static declarations
  esphome/core/time.cpp
  esphome/core/time.h
Labels: core, small-pr

#4994 Fix rp2040 pio tool download
  esphome/components/rp2040/__init__.py
  esphome/components/rp2040/build_pio.py.script
  esphome/components/rp2040_pio/__init__.py
  esphome/components/rp2040_pio_led_strip/light.py
Labels: new-integration, needs-docs, needs-tests, by-code-owner, needs-codeowners, integration: rp2040, integration: rp2040_pio_led_strip, integration: rp2040_pio

#4997 2023.6.2
  esphome/components/rp2040/__init__.py
  esphome/components/rp2040/build_pio.py.script
  esphome/components/rp2040_pio/__init__.py
  esphome/components/rp2040_pio_led_strip/light.py
  esphome/const.py
  esphome/core/time.cpp
  esphome/core/time.h
Labels: merging-to-release

#4967 display: move `Image`, `Font` and `Animation` code into components
  esphome/components/animation/__init__.py
  esphome/components/animation/animation.cpp
  esphome/components/animation/animation.h
  esphome/components/font/__init__.py
  esphome/components/font/font.cpp
  esphome/components/font/font.h
  esphome/components/graph/graph.cpp
  esphome/components/graph/graph.h
  esphome/components/image/__init__.py
  esphome/components/image/image.cpp
  esphome/components/image/image.h
Labels: integration: font, integration: image, core, integration: animation, integration: graph

#4999 support empty schemas and one platform components
  script/build_language_schema.py
Labels: core, small-pr

#5007 Update webserver to 56d73b5
  esphome/components/web_server/server_index.h
Labels: integration: web_server

#5011 update dsmr to 0.7
  esphome/components/dsmr/__init__.py
  platformio.ini
Labels: small-pr, integration: dsmr

#4237 add water delivered to dsmr component
  esphome/components/dsmr/__init__.py
  esphome/components/dsmr/sensor.py
Labels: small-pr, integration: dsmr

#5017 Update sync workflow
  .github/workflows/sync-device-classes.yml
Labels: small-pr

#5014 Fixes compressed downloads
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#4627 Attempt to fix script parameters
  esphome/components/script/__init__.py
Labels: stale, integration: script, core, small-pr

#5008 Add CONFIG_BT_BLE_42_FEATURES_SUPPORTED for ble
  esphome/components/esp32_ble/__init__.py
Labels: small-pr, by-code-owner, integration: esp32_ble

#5019 Remove yaml test cache
  .github/workflows/ci.yml
Labels: small-pr

#5020 2023.6.3
  esphome/components/button/__init__.py
  esphome/components/esp32_ble/__init__.py
  esphome/components/web_server/server_index.h
  esphome/const.py
  esphome/dashboard/dashboard.py
Labels: merging-to-release

#4850 [SCD30] Disable negative temperature offset
  esphome/components/scd30/scd30.cpp
  esphome/components/scd30/sensor.py
Labels: integration: scd30, small-pr
