Repository esphome/esphome, pull requests merged in 2023-04, with the labels that each got.

#4649 Number step not optional
  esphome/components/number/__init__.py
Labels: small-pr, integration: number

#4647 VSCode / devcontainer updates
  .devcontainer/devcontainer.json
  .vscode/tasks.json
  script/setup
Labels: core, small-pr

#4651 Retry PN532_COMMAND_VERSION_DATA on setup() (fixes esphome/issues#3823)
  esphome/components/pn532/pn532.cpp
Labels: integration: pn532, small-pr

#4175 Added in mmc5603 code
  CODEOWNERS
  esphome/components/mmc5603/__init__.py
  esphome/components/mmc5603/mmc5603.cpp
  esphome/components/mmc5603/mmc5603.h
  esphome/components/mmc5603/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: mmc5603

#4671 fix compilation with latest esp-idf
  esphome/components/api/api_connection.cpp
  esphome/components/api/proto.cpp
  esphome/components/esp32/gpio.cpp
  esphome/components/esp32/preferences.cpp
  esphome/components/i2c/i2c_bus_esp_idf.cpp
  esphome/components/logger/logger.cpp
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/core/scheduler.cpp
Labels: integration: api, integration: i2c, integration: logger, integration: wifi, core, small-pr, integration: esp32

#4648 Add push to talk voice assistant
  CODEOWNERS
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_frame_helper.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/i2s_audio/__init__.py
  esphome/components/i2s_audio/i2s_audio.cpp
  esphome/components/i2s_audio/i2s_audio.h
  esphome/components/i2s_audio/media_player/__init__.py
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.cpp
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.h
  esphome/components/i2s_audio/microphone/__init__.py
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.h
  esphome/components/improv_base/improv_base.cpp
  esphome/components/microphone/__init__.py
  esphome/components/microphone/automation.h
  esphome/components/microphone/microphone.h
  esphome/components/socket/bsd_sockets_impl.cpp
  esphome/components/socket/lwip_raw_tcp_impl.cpp
  esphome/components/socket/socket.cpp
  esphome/components/socket/socket.h
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/const.py
  esphome/core/defines.h
  esphome/core/helpers.h
  tests/test4.yaml
Labels: new-integration, integration: api, core, by-code-owner, integration: socket, integration: i2s_audio, integration: improv_base, integration: microphone, integration: voice_assistant

#4659 Add support for SSD1306 72x40 displays
  esphome/components/ssd1306_base/__init__.py
  esphome/components/ssd1306_base/ssd1306_base.cpp
  esphome/components/ssd1306_base/ssd1306_base.h
  esphome/components/ssd1306_i2c/ssd1306_i2c.cpp
Labels: integration: ssd1306_base, integration: ssd1306_i2c, small-pr

#4680 Fix pin schema for i2s microphone
  esphome/components/i2s_audio/microphone/__init__.py
Labels: small-pr, by-code-owner, integration: i2s_audio

#4249 Add always trigger stop
  esphome/components/time_based/cover.py
  esphome/components/time_based/time_based_cover.cpp
  esphome/components/time_based/time_based_cover.h
Labels: integration: time_based, small-pr

#4253 Fix graph limits for negative values and other corner cases
  esphome/components/graph/graph.cpp
Labels: small-pr, integration: graph

#4255 Fix cut-off on 2.13" waveshare/ttgo epaper displays
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper, small-pr

#4668 [Ethernet] Add PHY KSZ8081 support
  esphome/components/ethernet/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
Labels: integration: ethernet, core, small-pr

#4655 Fix restore
  esphome/components/fan/__init__.py
  esphome/components/light/__init__.py
  esphome/components/switch/__init__.py
Labels: breaking-change, integration: fan, integration: light, integration: switch, core, small-pr

#4682 Only allow 5 jobs from each CI run to be in parallel
  .github/workflows/ci.yml
Labels: small-pr

#4640 Add Bayesian type for binary_sensor_map component
  esphome/components/binary_sensor_map/binary_sensor_map.cpp
  esphome/components/binary_sensor_map/binary_sensor_map.h
  esphome/components/binary_sensor_map/sensor.py
  tests/test3.yaml
Labels: integration: binary_sensor_map, has-tests

#4685 debug component, allow without debug logging
  esphome/components/debug/__init__.py
  esphome/components/debug/debug_component.cpp
Labels: integration: debug, core, small-pr

#4698 Fixed dns2 for ethernet
  esphome/components/ethernet/ethernet_component.cpp
Labels: integration: ethernet, core, small-pr

#4697 Add timeout to i2c write error logs
  esphome/components/i2c/i2c_bus_arduino.cpp
Labels: integration: i2c, core, small-pr

#4699 Add event triggers to voice_assistant
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  tests/test4.yaml
Labels: has-tests, by-code-owner, integration: voice_assistant

#4700 2023.4.0b2
  esphome/components/debug/__init__.py
  esphome/components/debug/debug_component.cpp
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/i2c/i2c_bus_arduino.cpp
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/const.py
  tests/test4.yaml
Labels: merging-to-beta

#4706 Add ethernet powerdown (fixes esphome/issues#4420)
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
Labels: integration: ethernet, core, small-pr

#4711 2023.4.0b3
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/const.py
Labels: merging-to-beta

#4714 2023.4.0b4
  esphome/components/esp32/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
  esphome/const.py
  platformio.ini
Labels: merging-to-beta

#4639 Keep Device Class in Flash.
  esphome/components/binary_sensor/binary_sensor.cpp
  esphome/components/binary_sensor/binary_sensor.h
  esphome/components/button/button.cpp
  esphome/components/button/button.h
  esphome/components/cover/cover.cpp
  esphome/components/cover/cover.h
  esphome/components/number/number_traits.cpp
  esphome/components/number/number_traits.h
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
  esphome/components/switch/switch.cpp
  esphome/components/switch/switch.h
  esphome/core/entity_base.cpp
  esphome/core/entity_base.h
Labels: integration: binary_sensor, integration: cover, integration: sensor, integration: switch, core, integration: number, integration: button, merge-after-release

#4666 Add support for passive WiFi scanning
  esphome/components/wifi/__init__.py
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/components/wifi/wifi_component_pico_w.cpp
Labels: integration: wifi, core, merge-after-release

#4364 Initial attempt at supporting ESP-IDF 5.0.0
  docker/Dockerfile
  esphome/components/esp32/core.cpp
  esphome/components/mdns/__init__.py
  esphome/components/ota/ota_backend_esp_idf.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/core/helpers.cpp
  requirements.txt
Labels: integration: ota, integration: wifi, core, integration: esp32, integration: mdns, merge-after-release

#4727 fix flip_x
  esphome/components/max7219digit/display.py
Labels: integration: max7219digit, small-pr

#4723 Use proper schema for delta filter
  esphome/components/sensor/__init__.py
Labels: integration: sensor, core, small-pr

#4712 Get Sunrise & Sunset for a Specific Date
  esphome/components/sun/sun.cpp
  esphome/components/sun/sun.h
Labels: integration: sun, small-pr

#3897 Add `supports_stop` trait to Cover
  esphome/components/am43/cover/am43_cover.cpp
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/copy/cover/copy_cover.cpp
  esphome/components/cover/cover_traits.h
  esphome/components/current_based/current_based_cover.cpp
  esphome/components/demo/demo_cover.h
  esphome/components/endstop/endstop_cover.cpp
  esphome/components/feedback/feedback_cover.cpp
  esphome/components/template/cover/__init__.py
  esphome/components/template/cover/template_cover.cpp
  esphome/components/template/cover/template_cover.h
  esphome/components/time_based/time_based_cover.cpp
  esphome/components/tuya/cover/tuya_cover.cpp
Labels: stale, integration: api, integration: cover, integration: endstop, integration: template, integration: time_based, integration: tuya, core, small-pr, integration: current_based, integration: am43, integration: demo, integration: copy, integration: feedback, merge-after-release

#4732 2023.4.1
  esphome/components/max7219digit/display.py
  esphome/components/sensor/__init__.py
  esphome/const.py
Labels: merging-to-release

#4728 Debug component doesn't work on RP2040
  esphome/components/debug/__init__.py
Labels: integration: debug, core, small-pr

#4742 Add on_tag_removed trigger for RC522
  esphome/components/rc522/__init__.py
  esphome/components/rc522/rc522.cpp
  esphome/components/rc522/rc522.h
Labels: small-pr, integration: rc522

#4738 Fix 'blutooth' typo in esp32_ble component
  esphome/components/esp32_ble/__init__.py
Labels: small-pr, integration: esp32_ble

#4716 Expand the platformio dep installer to also install platforms and tools
  .github/workflows/ci-docker.yml
  docker/Dockerfile
  docker/platformio_install_deps.py
  esphome/components/esp32/__init__.py
  esphome/components/esp8266/__init__.py
  esphome/components/rp2040/__init__.py
  platformio.ini
  script/platformio_install_deps.py
  script/setup
Labels: core, by-code-owner, integration: esp32, integration: esp8266, integration: rp2040

#4744 Remove climate legacy away flags
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/climate/__init__.py
  esphome/components/climate/climate.cpp
  esphome/components/climate/climate.h
  esphome/components/climate/climate_traits.h
  esphome/components/mqtt/mqtt_climate.cpp
Labels: breaking-change, integration: api, integration: climate, integration: mqtt, core, small-pr

#3749 Add mlx90614 sensors
  CODEOWNERS
  esphome/components/mlx90614/__init__.py
  esphome/components/mlx90614/mlx90614.cpp
  esphome/components/mlx90614/mlx90614.h
  esphome/components/mlx90614/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: mlx90614

#4631 Move am43 sensor code and remove auto load on cover
  CODEOWNERS
  esphome/components/am43/__init__.py
  esphome/components/am43/cover/__init__.py
  esphome/components/am43/sensor/__init__.py
  esphome/components/am43/sensor/am43_sensor.cpp
  esphome/components/am43/sensor/am43_sensor.h
Labels: small-pr, integration: am43

#4747 Only request VA port from first client that is subscribed
  esphome/components/api/api_server.cpp
Labels: integration: api, core, small-pr

#4745 Don't allow fingerprint_grow enroll cancellation when no enrollment started
  esphome/components/fingerprint_grow/fingerprint_grow.cpp
  esphome/components/fingerprint_grow/fingerprint_grow.h
Labels: small-pr, integration: fingerprint_grow

#4748 2023.4.2
  esphome/components/api/api_server.cpp
  esphome/components/debug/__init__.py
  esphome/components/fingerprint_grow/fingerprint_grow.cpp
  esphome/components/fingerprint_grow/fingerprint_grow.h
  esphome/components/i2c/i2c_bus_arduino.cpp
  esphome/components/i2c/i2c_bus_esp_idf.cpp
  esphome/const.py
Labels: merging-to-release

#4259 Fix assumed_state switch webserver
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server, small-pr

#4756 Fix sprinkler switch restore_mode
  esphome/components/sprinkler/__init__.py
  esphome/components/sprinkler/sprinkler.cpp
  esphome/components/sprinkler/sprinkler.h
Labels: by-code-owner, integration: sprinkler

#4763 Bump git version in Dockerfile
  docker/Dockerfile
Labels: dependencies, small-pr

#4707 Power down PN532 before deep sleep
  esphome/components/pn532/pn532.cpp
  esphome/components/pn532/pn532.h
Labels: integration: pn532, small-pr
