Repository esphome/esphome, pull requests merged in 2023-01, with the labels that each got.

#4268 Bump zeroconf to 0.47.1
  requirements.txt
Labels: small-pr

#4265 Don't match words containing "id"
  esphome/config_validation.py
Labels: core, small-pr

#4241 Add support for matrix keypads
  CODEOWNERS
  esphome/components/key_provider/__init__.py
  esphome/components/key_provider/key_provider.cpp
  esphome/components/key_provider/key_provider.h
  esphome/components/matrix_keypad/__init__.py
  esphome/components/matrix_keypad/binary_sensor/__init__.py
  esphome/components/matrix_keypad/binary_sensor/matrix_keypad_binary_sensor.h
  esphome/components/matrix_keypad/matrix_keypad.cpp
  esphome/components/matrix_keypad/matrix_keypad.h
Labels: new-integration, needs-tests, integration: key_provider, integration: matrix_keypad

#4280 Fix Template Switch restore_mode support
  esphome/components/template/switch/template_switch.cpp
Labels: integration: template, core, small-pr

#4277 Correct decimals in Growatt energy reporting
  esphome/components/growatt_solar/sensor.py
Labels: small-pr, integration: growatt_solar

#4276 Fix frequency limit for MCP9600
  esphome/components/mcp9600/sensor.py
Labels: small-pr, integration: mcp9600

#4273 fix: json compilation error on rp2040
  esphome/components/json/json_util.cpp
Labels: integration: json, core, small-pr

#4272 http_request: add request duration logging
  esphome/components/http_request/__init__.py
  esphome/components/http_request/http_request.cpp
  esphome/components/http_request/http_request.h
Labels: integration: http_request, small-pr

#4270 Fix HttpRequestResponseTrigger
  esphome/components/http_request/http_request.h
Labels: integration: http_request, small-pr

#4285 Fix HttpRequestResponseTrigger again
  .github/workflows/ci.yml
  esphome/components/http_request/http_request.h
  tests/README.md
  tests/test7.yaml
Labels: integration: http_request, has-tests, small-pr

#4183 Add X9C Potentiometer component
  CODEOWNERS
  esphome/components/x9c/__init__.py
  esphome/components/x9c/output.py
  esphome/components/x9c/x9c.cpp
  esphome/components/x9c/x9c.h
  esphome/const.py
  tests/test1.yaml
Labels: new-integration, has-tests, core, integration: x9c

#4044 small DisplayBuffer images and font update
  esphome/components/animation/__init__.py
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  esphome/components/image/__init__.py
Labels: integration: display, integration: image, core, small-pr, integration: animation

#4239 Fix use of dangling pointers in esp-idf MQTT backend
  esphome/components/mqtt/mqtt_backend_idf.cpp
  esphome/components/mqtt/mqtt_backend_idf.h
Labels: integration: mqtt, core

#4284 Ensure we never write zero bytes
  esphome/components/api/api_frame_helper.cpp
Labels: integration: api, core, small-pr

#4292 Fix off-by-one bedjet fan speed (#3873)
  esphome/components/bedjet/fan/bedjet_fan.cpp
Labels: small-pr, by-code-owner, integration: bedjet

#4170 Clean up dashboard ping result post-rename/delete
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#4294 Calculate PWM wrap dynamically whenever the frequency is changed
  esphome/components/rp2040_pwm/rp2040_pwm.cpp
  esphome/components/rp2040_pwm/rp2040_pwm.h
Labels: small-pr, integration: rp2040_pwm

#4298 Remove baud check in tuya dump_config
  esphome/components/tuya/tuya.cpp
Labels: integration: tuya, small-pr

#4296 Add friendly_name to device
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/dashboard_import/__init__.py
  esphome/components/mdns/mdns_component.cpp
  esphome/components/web_server/web_server.cpp
  esphome/const.py
  esphome/core/__init__.py
  esphome/core/application.h
  esphome/core/config.py
  esphome/dashboard/dashboard.py
  esphome/dashboard/util.py
  esphome/storage_json.py
  esphome/wizard.py
  esphome/zeroconf.py
  requirements.txt
  tests/dummy_main.cpp
Labels: integration: api, integration: web_server, has-tests, core, dashboard, integration: mdns, integration: dashboard_import

#4299 allow multiple dsmr
  esphome/components/dsmr/__init__.py
Labels: small-pr, integration: dsmr

#4246 Display the configured esphome:comment on the WebServer
  esphome/components/web_server/web_server.cpp
  esphome/core/application.h
  esphome/core/config.py
  tests/dummy_main.cpp
Labels: integration: web_server, has-tests, core, small-pr

#4287 Allow 0xA8 ID for APDS9960
  esphome/components/apds9960/apds9960.cpp
Labels: integration: apds9960, small-pr

#4305 Dont default CORE.friendly_name
  esphome/core/config.py
Labels: core, small-pr

#4242 add key collector component
  CODEOWNERS
  esphome/components/key_collector/__init__.py
  esphome/components/key_collector/key_collector.cpp
  esphome/components/key_collector/key_collector.h
  esphome/const.py
  tests/test5.yaml
Labels: new-integration, has-tests, core, integration: key_collector

#4291 Tsl2591 gain publish
  esphome/components/tsl2591/sensor.py
  esphome/components/tsl2591/tsl2591.cpp
  esphome/components/tsl2591/tsl2591.h
  esphome/const.py
Labels: core, integration: tsl2591

#3771 Add support for EE895
  CODEOWNERS
  esphome/components/ee895/__init__.py
  esphome/components/ee895/ee895.cpp
  esphome/components/ee895/ee895.h
  esphome/components/ee895/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: ee895, awaiting-docs-approval

#3772 Add support for HTE501
  CODEOWNERS
  esphome/components/hte501/__init__.py
  esphome/components/hte501/hte501.cpp
  esphome/components/hte501/hte501.h
  esphome/components/hte501/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: hte501

#3773 Add support for TEE501
  CODEOWNERS
  esphome/components/tee501/__init__.py
  esphome/components/tee501/sensor.py
  esphome/components/tee501/tee501.cpp
  esphome/components/tee501/tee501.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: tee501

#3845 PCA9685, fix reset device and add option EXTCLK
  esphome/components/pca9685/__init__.py
  esphome/components/pca9685/pca9685_output.cpp
  esphome/components/pca9685/pca9685_output.h
  esphome/const.py
Labels: integration: pca9685, core

#4132 Implement a slow sigma-delta modulation based output
  CODEOWNERS
  esphome/components/sigma_delta_output/__init__.py
  esphome/components/sigma_delta_output/output.py
  esphome/components/sigma_delta_output/sigma_delta_output.h
  tests/test3.yaml
Labels: new-integration, has-tests, integration: sigma_delta_output

#4251 set_retry: add retries remaining parameter to the provided function
  esphome/core/component.cpp
  esphome/core/component.h
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
  tests/test2.yaml
Labels: has-tests, core, small-pr

#4288 add Wiegand reader component
  CODEOWNERS
  esphome/components/wiegand/__init__.py
  esphome/components/wiegand/wiegand.cpp
  esphome/components/wiegand/wiegand.h
Labels: new-integration, needs-tests, integration: wiegand

#4310 Upgrades add-on base image to 6.2.0
  docker/Dockerfile
Labels: small-pr

#4311 Migrate old-style S6 scripts to s6-rc.d
  docker/ha-addon-rootfs/etc/cont-init.d/10-requirements.sh
  docker/ha-addon-rootfs/etc/cont-init.d/20-nginx.sh
  docker/ha-addon-rootfs/etc/cont-init.d/30-dirs.sh
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/esphome/dependencies.d/base
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/esphome/finish
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/esphome/run
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/esphome/type
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/init-nginx/dependencies.d/base
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/init-nginx/run
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/init-nginx/type
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/init-nginx/up
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/nginx/dependencies.d/esphome
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/nginx/dependencies.d/init-nginx
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/nginx/finish
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/nginx/run
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/nginx/type
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/esphome
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/init-nginx
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/nginx
  docker/ha-addon-rootfs/etc/services.d/esphome/finish
  docker/ha-addon-rootfs/etc/services.d/nginx/finish
Labels: small-pr

#4312 Refactor NGINX configuration of Home Assistant Add-on
  docker/ha-addon-rootfs/etc/nginx/includes/proxy_params.conf
  docker/ha-addon-rootfs/etc/nginx/includes/server_params.conf
  docker/ha-addon-rootfs/etc/nginx/includes/ssl_params.conf
  docker/ha-addon-rootfs/etc/nginx/includes/upstream.conf
  docker/ha-addon-rootfs/etc/nginx/nginx.conf
  docker/ha-addon-rootfs/etc/nginx/servers/.gitkeep
  docker/ha-addon-rootfs/etc/nginx/servers/direct.disabled
  docker/ha-addon-rootfs/etc/nginx/templates/direct.gtpl
  docker/ha-addon-rootfs/etc/nginx/templates/ingress.gtpl
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/init-nginx/run
Labels: small-pr

#4313 Format docker/build.py
  docker/build.py
Labels: small-pr

#4315 Add macro for sub sensor defining
  esphome/components/sensor/sensor.h
Labels: integration: sensor, core, small-pr

#4317 Add friendly name in MDNS records if it is not empty
  esphome/components/mdns/mdns_component.cpp
Labels: small-pr, integration: mdns

#4318 Add upload dashboard api
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#4319 Bump esphome-dashboard to 20230120.0
  requirements.txt
Labels: small-pr

#3993 Hydreon: Use new device classes water and precipitation_intensity
  esphome/components/hydreon_rgxx/sensor.py
Labels: small-pr, by-code-owner, integration: hydreon_rgxx

#4320 Move from docker manifest command to buildx with platforms
  .github/workflows/release.yml
  docker/generate_tags.py
Labels: small-pr

#4322 Always send the MTU request for BLE v3 cached connections
  esphome/components/esp32_ble_client/ble_client_base.cpp
Labels: small-pr, integration: esp32_ble_client

#4323 2022.12.4
  esphome/components/esp32/gpio.cpp
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/const.py
Labels: merging-to-release

#4335 2022.12.5
  docker/Dockerfile
  esphome/const.py
Labels: merging-to-release

#4342 2022.12.6
  .github/workflows/release.yml
  docker/generate_tags.py
  esphome/const.py
Labels: merging-to-release

#4336 Dont fail workflows if lint building fails
  .github/workflows/release.yml
Labels: small-pr

#4316 Add MICS-4514 gas sensor
  CODEOWNERS
  esphome/components/mics_4514/__init__.py
  esphome/components/mics_4514/mics_4514.cpp
  esphome/components/mics_4514/mics_4514.h
  esphome/components/mics_4514/sensor.py
  tests/test2.yaml
Labels: new-integration, has-tests, integration: mics_4514

#4173 Refactor esp32_ble_tracker to use esp32_ble core ble setup code
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble.h
  esphome/components/esp32_ble/ble_event.h
  esphome/components/esp32_ble/ble_uuid.cpp
  esphome/components/esp32_ble/ble_uuid.h
  esphome/components/esp32_ble/queue.h
  esphome/components/esp32_ble_server/__init__.py
  esphome/components/esp32_ble_server/ble_server.cpp
  esphome/components/esp32_ble_server/ble_server.h
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
  esphome/components/esp32_improv/__init__.py
Labels: integration: esp32_ble_tracker, by-code-owner, integration: esp32_ble_server, integration: esp32_improv, integration: esp32_ble

#4343 Add next_url to improv serial component config
  CODEOWNERS
  esphome/components/improv_base/__init__.py
  esphome/components/improv_base/improv_base.cpp
  esphome/components/improv_base/improv_base.h
  esphome/components/improv_serial/__init__.py
  esphome/components/improv_serial/improv_serial_component.cpp
  esphome/components/improv_serial/improv_serial_component.h
  tests/test3.yaml
Labels: new-integration, has-tests, integration: improv_serial, integration: improv_base

#4345 Remove state class from uptime sensor
  esphome/components/uptime/sensor.py
Labels: integration: uptime, small-pr

#4346 Fix esp32_ble_tracker setup priority
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
Labels: integration: esp32_ble_tracker, small-pr

#4349 Add "content" to deploy-ha-addon-repo dispatch
  .github/workflows/release.yml
Labels: small-pr

#4347 Fix in ble client base address parsing
  esphome/components/esp32_ble_client/ble_client_base.cpp
Labels: small-pr, by-code-owner, integration: esp32_ble_client

#4339 fix stepper jump back with small steps
  esphome/components/a4988/a4988.cpp
Labels: integration: a4988, small-pr

#4334 rename esp32 CAN to TWAI, so it compiles again
  esphome/components/esp32_can/esp32_can.cpp
Labels: integration: esp32_can, small-pr

#4190 Fix BME280 initialization before wifi setup
  esphome/components/bme280/bme280.cpp
Labels: integration: bme280, small-pr

#4329 Add a soft reset in setup() for bmp280
  esphome/components/bmp280/bmp280.cpp
Labels: integration: bmp280, small-pr

#4350 2022.12.7
  .github/workflows/release.yml
  esphome/components/a4988/a4988.cpp
  esphome/components/bme280/bme280.cpp
  esphome/components/bmp280/bmp280.cpp
  esphome/components/esp32_can/esp32_can.cpp
  esphome/const.py
Labels: merging-to-release

#4281 Added support for ADS1015
  esphome/components/ads1115/ads1115.cpp
  esphome/components/ads1115/ads1115.h
  esphome/components/ads1115/sensor.py
Labels: integration: ads1115

#4328 Add Home Assistant integration discovery
  docker/ha-addon-rootfs/etc/nginx/templates/ingress.gtpl
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/discovery/dependencies.d/esphome
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/discovery/dependencies.d/nginx
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/discovery/run
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/discovery/type
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/discovery/up
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/discovery
Labels: small-pr

#4353 Fix "BLE server / advertising always on"
  esphome/components/esp32_ble/ble.cpp
Labels: small-pr, integration: esp32_ble

#4355 2022.12.8
  docker/Dockerfile
  docker/ha-addon-rootfs/etc/cont-init.d/10-requirements.sh
  docker/ha-addon-rootfs/etc/cont-init.d/20-nginx.sh
  docker/ha-addon-rootfs/etc/cont-init.d/30-dirs.sh
  docker/ha-addon-rootfs/etc/nginx/includes/proxy_params.conf
  docker/ha-addon-rootfs/etc/nginx/includes/server_params.conf
  docker/ha-addon-rootfs/etc/nginx/includes/ssl_params.conf
  docker/ha-addon-rootfs/etc/nginx/includes/upstream.conf
  docker/ha-addon-rootfs/etc/nginx/nginx.conf
  docker/ha-addon-rootfs/etc/nginx/servers/.gitkeep
  docker/ha-addon-rootfs/etc/nginx/servers/direct.disabled
  docker/ha-addon-rootfs/etc/nginx/templates/direct.gtpl
  docker/ha-addon-rootfs/etc/nginx/templates/ingress.gtpl
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/discovery/dependencies.d/esphome
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/discovery/dependencies.d/nginx
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/discovery/run
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/discovery/type
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/discovery/up
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/esphome/dependencies.d/base
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/esphome/finish
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/esphome/run
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/esphome/type
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/init-nginx/dependencies.d/base
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/init-nginx/run
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/init-nginx/type
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/init-nginx/up
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/nginx/dependencies.d/esphome
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/nginx/dependencies.d/init-nginx
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/nginx/finish
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/nginx/run
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/nginx/type
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/discovery
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/esphome
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/init-nginx
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/nginx
  docker/ha-addon-rootfs/etc/services.d/esphome/finish
  docker/ha-addon-rootfs/etc/services.d/nginx/finish
  esphome/const.py
Labels: merging-to-release
