Repository esphome/esphome, pull requests merged in 2023-07, with the labels that each got.

#5039 binary_sensor removed unused filter
  esphome/components/binary_sensor/filter.cpp
  esphome/components/binary_sensor/filter.h
Labels: integration: binary_sensor, core, small-pr

#5033 fix template binary_sensor publish_initial_state option
  esphome/components/template/binary_sensor/template_binary_sensor.cpp
  esphome/components/template/binary_sensor/template_binary_sensor.h
Labels: integration: template, core, small-pr

#5029 binary_sensor filters templatable delays
  esphome/components/binary_sensor/__init__.py
  esphome/components/binary_sensor/filter.cpp
  esphome/components/binary_sensor/filter.h
  tests/test1.yaml
Labels: integration: binary_sensor, has-tests, core

#5042 Add alarm to reserved ids
  esphome/config_validation.py
Labels: core, small-pr

#5046 Improve the gamma settings for the S3-Box-lite display
  esphome/components/ili9xxx/ili9xxx_init.h
Labels: small-pr, integration: ili9xxx

#5037 Prepare ethernet to work with esp idf 5.0
  esphome/components/ethernet/esp_eth_phy_jl1101.c
  esphome/components/ethernet/ethernet_component.cpp
Labels: integration: ethernet, core

#5036 Prepare debug and logger component to work with idf 5.0
  esphome/components/debug/debug_component.cpp
  esphome/core/scheduler.cpp
Labels: integration: debug, core, small-pr

#5034 Advertise noise is enabled
  esphome/components/mdns/mdns_component.cpp
Labels: small-pr, integration: mdns

#5041 Mopeka std fixes
  esphome/components/mopeka_std_check/mopeka_std_check.cpp
  tests/test2.yaml
Labels: has-tests, small-pr, by-code-owner, integration: mopeka_std_check

#5023 Update webserver to ea86d81
  esphome/components/web_server/server_index.h
Labels: integration: web_server

#5047 2023.6.4
  esphome/components/mdns/mdns_component.cpp
  esphome/components/scd30/scd30.cpp
  esphome/components/scd30/sensor.py
  esphome/components/template/binary_sensor/template_binary_sensor.cpp
  esphome/components/template/binary_sensor/template_binary_sensor.h
  esphome/components/web_server/server_index.h
  esphome/config_validation.py
  esphome/const.py
Labels: merging-to-release

#5048 Log component long time message at warning level
  esphome/core/component.cpp
Labels: core, small-pr

#5049 Log start of i2c setup
  esphome/components/i2c/i2c_bus_esp_idf.cpp
Labels: integration: i2c, core, small-pr

#5056 Initial debug component support for rp2040
  esphome/components/debug/__init__.py
  esphome/components/debug/debug_component.cpp
Labels: integration: debug, core, small-pr

#5058 Fix when idf component has broken symlinks
  esphome/components/esp32/__init__.py
Labels: small-pr, integration: esp32

#5050 Some tests wasn't running (locally)
  script/test
Labels: core, small-pr

#5027 [ILI9xxx] Add ili9488_a (alternative gamma configuration for ILI9488)
  esphome/components/ili9xxx/display.py
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
  esphome/components/ili9xxx/ili9xxx_init.h
Labels: integration: ili9xxx

#4701 [ili9xxx] Allow config of spi data rate.
  esphome/components/ili9xxx/display.py
  esphome/components/ili9xxx/ili9xxx_display.h
  esphome/components/spi/__init__.py
  esphome/components/spi/spi.h
Labels: integration: spi, core, small-pr, integration: ili9xxx

#5052 Make scheduler debuging work with idf >= 5
  esphome/core/scheduler.cpp
Labels: core, small-pr

#4939 Adds 1.54" e-ink display (gdew0154m09) support to waveshare_epaper component
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
  tests/test4.yaml
Labels: integration: waveshare_epaper, has-tests

#5001 display: split `DisplayBuffer` and `Display`
  esphome/components/display/display.cpp
  esphome/components/display/display.h
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  esphome/components/font/font.cpp
  esphome/components/font/font.h
  esphome/components/graph/graph.cpp
  esphome/components/graph/graph.h
  esphome/components/image/image.cpp
  esphome/components/image/image.h
  esphome/components/qr_code/qr_code.cpp
  esphome/components/qr_code/qr_code.h
  esphome/components/touchscreen/touchscreen.cpp
  esphome/components/touchscreen/touchscreen.h
  script/ci-custom.py
Labels: integration: display, integration: font, integration: image, core, integration: graph, integration: qr_code, integration: touchscreen

#5013 Fixed ili9xxx_display update() method
  esphome/components/ili9xxx/ili9xxx_display.cpp
Labels: small-pr, by-code-owner, integration: ili9xxx

#5073 Fix bulk and single Bluetooth parser coexistence
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/bluetooth_proxy/bluetooth_connection.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: esp32_ble_tracker, integration: bluetooth_proxy

#5068 binary_sensor: Validate max_length for on_click/on_double_click
  esphome/components/binary_sensor/__init__.py
Labels: integration: binary_sensor, core

#4739 [Ethernet] ksz8081rna support
  esphome/components/ethernet/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
Labels: integration: ethernet, core

#4859 Improve BME680 BSEC sensor device classes
  esphome/components/bme680_bsec/sensor.py
Labels: small-pr, by-code-owner, integration: bme680_bsec

#5025 Update RP2040 Aruino framwork and platform to latest
  esphome/components/rp2040/__init__.py
  platformio.ini
Labels: small-pr, integration: rp2040

#5071 Allow pillow versions over 10
  esphome/components/font/__init__.py
Labels: integration: font, core, small-pr

#5077 2023.6.5
  esphome/components/binary_sensor/__init__.py
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/bluetooth_proxy/bluetooth_connection.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
  esphome/const.py
Labels: merging-to-release

#5059 Add Zio Ultrasonic Distance Sensor Component
  CODEOWNERS
  esphome/components/zio_ultrasonic/__init__.py
  esphome/components/zio_ultrasonic/sensor.py
  esphome/components/zio_ultrasonic/zio_ultrasonic.cpp
  esphome/components/zio_ultrasonic/zio_ultrasonic.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: zio_ultrasonic

#3787 Add Alpha3 pump component
  CODEOWNERS
  esphome/components/alpha3/__init__.py
  esphome/components/alpha3/alpha3.cpp
  esphome/components/alpha3/alpha3.h
  esphome/components/alpha3/sensor.py
  esphome/const.py
  tests/test1.yaml
Labels: new-integration, has-tests, core, integration: alpha3

#4998 RTC implementation of pcf8563
  CODEOWNERS
  esphome/components/pcf8563/__init__.py
  esphome/components/pcf8563/pcf8563.cpp
  esphome/components/pcf8563/pcf8563.h
  esphome/components/pcf8563/time.py
  tests/test5.yaml
Labels: new-integration, has-tests, integration: pcf8563

#3500 web server esp idf suppport
  CODEOWNERS
  esphome/components/captive_portal/__init__.py
  esphome/components/captive_portal/captive_portal.cpp
  esphome/components/captive_portal/captive_portal.h
  esphome/components/web_server/__init__.py
  esphome/components/web_server/list_entities.cpp
  esphome/components/web_server/list_entities.h
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/components/web_server_base/__init__.py
  esphome/components/web_server_base/web_server_base.cpp
  esphome/components/web_server_base/web_server_base.h
  esphome/components/web_server_idf/__init__.py
  esphome/components/web_server_idf/web_server_idf.cpp
  esphome/components/web_server_idf/web_server_idf.h
  script/build_codeowners.py
Labels: new-integration, needs-docs, needs-tests, integration: captive_portal, integration: web_server, integration: web_server_base, core, integration: web_server_idf

#5067 tuya_light: fix float->int conversion while setting color temperature
  esphome/components/tuya/light/tuya_light.cpp
Labels: integration: tuya, small-pr

#5086 Fix typo in mpu6050.cpp
  esphome/components/mpu6050/mpu6050.cpp
Labels: integration: mpu6050, small-pr

#4979 airthings_wave: Battery level reporting
  CODEOWNERS
  esphome/components/airthings_wave_base/__init__.py
  esphome/components/airthings_wave_base/airthings_wave_base.cpp
  esphome/components/airthings_wave_base/airthings_wave_base.h
  esphome/components/airthings_wave_mini/airthings_wave_mini.cpp
  esphome/components/airthings_wave_mini/airthings_wave_mini.h
  esphome/components/airthings_wave_plus/airthings_wave_plus.cpp
  esphome/components/airthings_wave_plus/airthings_wave_plus.h
  esphome/components/airthings_wave_plus/sensor.py
  tests/test2.yaml
Labels: has-tests, integration: airthings_wave_plus, integration: airthings_wave_mini, integration: airthings_wave_base

#4797 Add support for Grove tb6612 fng
  CODEOWNERS
  esphome/components/grove_i2c_motor/__init__.py
  esphome/components/grove_i2c_motor/grove_i2c_motor.cpp
  esphome/components/grove_i2c_motor/grove_i2c_motor.h
  tests/test3.1.yaml
Labels: new-integration, has-tests, integration: grove_i2c_motor

#5089 Add MCP2515 12MHz xtal support
  esphome/components/mcp2515/canbus.py
  esphome/components/mcp2515/mcp2515.cpp
  esphome/components/mcp2515/mcp2515.h
  esphome/components/mcp2515/mcp2515_defs.h
Labels: integration: mcp2515

#5088 Correct message for standard transmission.
  esphome/components/canbus/canbus.cpp
Labels: integration: canbus, small-pr

#5090 Restrict pillow to versions before 10.0.0
  requirements_optional.txt
Labels: small-pr

#5085 Bump esphome-dashboard to 20230711.0
  requirements.txt
Labels: dependencies, small-pr

#5079 added uart final validate data bits
  esphome/components/uart/__init__.py
Labels: integration: uart, core, small-pr

#4366 Add support for ATM90E26
  CODEOWNERS
  esphome/components/atm90e26/__init__.py
  esphome/components/atm90e26/atm90e26.cpp
  esphome/components/atm90e26/atm90e26.h
  esphome/components/atm90e26/atm90e26_reg.h
  esphome/components/atm90e26/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: atm90e26

#5093 Grove amend name
  CODEOWNERS
  esphome/components/grove_tb6612fng/__init__.py
  esphome/components/grove_tb6612fng/grove_tb6612fng.cpp
  esphome/components/grove_tb6612fng/grove_tb6612fng.h
  tests/test3.1.yaml
Labels: has-tests, small-pr, integration: grove_tb6612fng

#5072 Fixing colon for tm1637 display if inverted set true
  esphome/components/tm1637/tm1637.cpp
Labels: integration: tm1637, small-pr

#5091 Fix use of optional<T>
  esphome/components/template/binary_sensor/template_binary_sensor.cpp
Labels: integration: template, core, small-pr

#5069 New 'Duty Time' sensor component
  CODEOWNERS
  esphome/components/duty_time/__init__.py
  esphome/components/duty_time/duty_time_sensor.cpp
  esphome/components/duty_time/duty_time_sensor.h
  esphome/components/duty_time/sensor.py
  tests/test2.yaml
Labels: new-integration, has-tests, integration: duty_time

#5078 Fix PIDController::in_deadband() to give correct result when error is zero
  esphome/components/pid/pid_controller.cpp
Labels: integration: pid, small-pr

#5094 Edit error message for pillow install to add version restrictions
  esphome/components/font/__init__.py
Labels: integration: font, core, small-pr

#5096 Dont do mqtt ip lookup if `use_address` has ip address
  esphome/__main__.py
Labels: core, small-pr

#5070 Mk2 to prepare color.h for idf >= 5
  esphome/core/color.h
Labels: core, small-pr

#5003 display: Add helper methods to `Display::clip` and `Display::clamp_x/y_`
  esphome/components/display/display.cpp
  esphome/components/display/display.h
  esphome/components/display/rect.cpp
  esphome/components/display/rect.h
Labels: integration: display, core

#4381 ESP32 enable ADC2 when wifi is disabled
  esphome/components/adc/__init__.py
  esphome/components/adc/adc_sensor.cpp
  esphome/components/adc/adc_sensor.h
  esphome/components/adc/sensor.py
Labels: needs-docs, integration: adc, core

#5100 [Sprinkler] Resume fixes
  esphome/components/sprinkler/sprinkler.cpp
Labels: small-pr, integration: sprinkler

#5106 Remove template switch restore_state
  esphome/components/template/switch/__init__.py
  esphome/components/template/switch/template_switch.cpp
  esphome/components/template/switch/template_switch.h
  tests/test1.yaml
Labels: breaking-change, integration: template, has-tests, core, small-pr

#5104 Add timeout filter
  esphome/components/sensor/__init__.py
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
  tests/test3.1.yaml
Labels: integration: sensor, has-tests, core

#5102 Mark repo as safe directory to git config
  script/setup
Labels: core, small-pr

#5107 2023.7.0b2
  esphome/__main__.py
  esphome/components/adc/__init__.py
  esphome/components/adc/adc_sensor.cpp
  esphome/components/adc/adc_sensor.h
  esphome/components/adc/sensor.py
  esphome/components/sensor/__init__.py
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
  esphome/components/sprinkler/sprinkler.cpp
  esphome/components/template/switch/__init__.py
  esphome/components/template/switch/template_switch.cpp
  esphome/components/template/switch/template_switch.h
  esphome/const.py
  tests/test1.yaml
  tests/test3.1.yaml
Labels: merging-to-beta

#5081 P1 values for capacity tariff in Belgium
  esphome/components/dsmr/__init__.py
  esphome/components/dsmr/sensor.py
Labels: small-pr, integration: dsmr

#5098 airthings_wave: Silence compiler warnings
  esphome/components/airthings_wave_base/airthings_wave_base.cpp
  esphome/components/airthings_wave_plus/airthings_wave_plus.cpp
Labels: small-pr, by-code-owner, integration: airthings_wave_plus, integration: airthings_wave_base

#4911 Sigma delta fix
  esphome/components/sigma_delta_output/sigma_delta_output.cpp
  esphome/components/sigma_delta_output/sigma_delta_output.h
Labels: integration: sigma_delta_output

#5112 [LD2410] Remove baud_rate check
  esphome/components/ld2410/__init__.py
Labels: small-pr, integration: ld2410

#5120 Fix silence detection flag on voice assistant
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
Labels: integration: api, core, small-pr, by-code-owner, integration: voice_assistant

#5121 2023.7.0b3
  esphome/components/airthings_wave_base/airthings_wave_base.cpp
  esphome/components/airthings_wave_plus/airthings_wave_plus.cpp
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/dsmr/__init__.py
  esphome/components/dsmr/sensor.py
  esphome/components/ld2410/__init__.py
  esphome/components/sigma_delta_output/sigma_delta_output.cpp
  esphome/components/sigma_delta_output/sigma_delta_output.h
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/const.py
Labels: merging-to-beta

#5110 Dashboard: use Popen() on Windows
  esphome/dashboard/dashboard.py
Labels: core, dashboard

#5130 ignore components folder in root
  .gitignore
Labels: small-pr

#5129 Add size getter to CallbackManager
  esphome/core/helpers.h
Labels: core, small-pr

#5074 Make docker use pip installed pillow
  docker/Dockerfile
Labels: small-pr, merge-after-release

#5127 Change datatype in e131 addressable light
  esphome/components/e131/e131_addressable_light_effect.cpp
Labels: integration: e131, small-pr

#5119 Streamer mode
  esphome/__main__.py
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#5035 Version bump for ESP32 IDF and Arduino
  esphome/components/esp32/__init__.py
  platformio.ini
Labels: small-pr, integration: esp32

#5134 Update known boards to 5.4.0
  esphome/components/esp32/boards.py
Labels: small-pr, integration: esp32

#5111 Init colorama in ESPHome main
  esphome/log.py
Labels: core, small-pr

#5105 Coolix IR protocol improvements
  esphome/components/coolix/coolix.cpp
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/coolix_protocol.cpp
  esphome/components/remote_base/coolix_protocol.h
  tests/test1.yaml
Labels: breaking-change, integration: coolix, integration: remote_base, has-tests

#5128 Allow esp32 idf components to specify submodules and specific components
  esphome/components/esp32/__init__.py
  esphome/components/esp32/const.py
  esphome/components/mdns/__init__.py
  esphome/git.py
Labels: core, integration: esp32, integration: mdns

#5061 Prepare some components for IDF >= 5
  esphome/components/airthings_ble/airthings_listener.cpp
  esphome/components/bedjet/bedjet_hub.cpp
  esphome/components/esp32_ble/ble_uuid.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/ina226/ina226.cpp
  esphome/components/max31865/max31865.cpp
  esphome/components/sen5x/sen5x.cpp
  esphome/components/uart/uart.cpp
  esphome/components/uart/uart_component_esp_idf.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
Labels: integration: esp32_ble_tracker, integration: ina226, integration: max31865, integration: uart, integration: waveshare_epaper, core, integration: airthings_ble, integration: esp32_ble, integration: bedjet, integration: sen5x

#5160 Bump clang-tidy from 11 to 14
  .clang-tidy
  .github/workflows/ci.yml
  esphome/components/logger/logger.cpp
  esphome/components/matrix_keypad/matrix_keypad.cpp
  esphome/components/remote_base/midea_protocol.h
  esphome/components/ssd1322_spi/ssd1322_spi.cpp
  esphome/components/ssd1325_spi/ssd1325_spi.cpp
  esphome/components/ssd1327_spi/ssd1327_spi.cpp
  esphome/components/ssd1331_spi/ssd1331_spi.cpp
  esphome/components/ssd1351_spi/ssd1351_spi.cpp
  esphome/components/tlc5947/tlc5947.cpp
  esphome/components/vbus/binary_sensor/vbus_binary_sensor.cpp
  esphome/components/vbus/sensor/vbus_sensor.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
  script/clang-tidy
Labels: integration: logger, integration: remote_base, integration: ssd1325_spi, integration: ssd1351_spi, integration: wifi, core, small-pr, integration: ssd1331_spi, integration: ssd1322_spi, integration: ssd1327_spi, integration: tlc5947, integration: vbus, integration: matrix_keypad, integration: voice_assistant

#5028 climate triggers Climate and ClimateCall references
  esphome/components/climate/__init__.py
  esphome/components/climate/automation.h
  esphome/components/climate/climate.cpp
  esphome/components/climate/climate.h
  esphome/components/mqtt/mqtt_climate.cpp
  esphome/core/controller.cpp
  tests/test1.yaml
Labels: integration: climate, integration: mqtt, has-tests, core, small-pr

#5124 remote_base changes
  esphome/components/remote_base/pronto_protocol.cpp
  esphome/components/remote_base/pronto_protocol.h
  esphome/components/remote_base/raw_protocol.h
  esphome/components/remote_base/remote_base.cpp
  esphome/components/remote_base/remote_base.h
  esphome/components/remote_transmitter/remote_transmitter.h
Labels: integration: remote_base, integration: remote_transmitter

#5040 Add 'map_linear' and 'clamp' sensor filters
  esphome/components/sensor/__init__.py
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
  tests/test1.yaml
  tests/test3.1.yaml
Labels: integration: sensor, has-tests, core

#5165 Adding Inkplate 6 v2 model variant
  esphome/components/inkplate6/display.py
  esphome/components/inkplate6/inkplate.cpp
  esphome/components/inkplate6/inkplate.h
Labels: integration: inkplate6

#5151 Swap ADC back to use 'int' because C3
  esphome/components/adc/adc_sensor.cpp
  esphome/components/adc/adc_sensor.h
  tests/test7.yaml
Labels: integration: adc, has-tests, core, small-pr

#5153 wifi: handle WIFI_REASON_ROAMING reason in event
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: integration: wifi, core, small-pr

#5156 duty_time: fix build without binary_sensor. Parented in automations.
  esphome/components/duty_time/duty_time_sensor.cpp
  esphome/components/duty_time/duty_time_sensor.h
  esphome/components/duty_time/sensor.py
Labels: by-code-owner, integration: duty_time

#5163 Slightly lower template switch setup priority
  esphome/components/template/switch/template_switch.cpp
Labels: integration: template, core, small-pr

#5162 update "Can't convert" warning to match others in homeassistant_sensor
  esphome/components/homeassistant/sensor/homeassistant_sensor.cpp
Labels: integration: homeassistant, core, small-pr

#4798 Add standardized CRC helper functions
  esphome/components/pipsolar/pipsolar.cpp
  esphome/components/sml/constants.h
  esphome/components/sml/sml.cpp
  esphome/components/sml/sml.h
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: core, integration: pipsolar, integration: sml

#4865 Enable IPv6 for ESP32 Arduino, wifi and ethernet
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
  esphome/components/network/__init__.py
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
Labels: integration: ethernet, integration: network, integration: wifi, core

#5155 Increase maximum number of BLE notifications
  esphome/components/esp32_ble_tracker/__init__.py
Labels: integration: esp32_ble_tracker, small-pr

#5150 invert min_rssi check
  esphome/components/ble_presence/binary_sensor.py
  esphome/components/ble_presence/ble_presence_device.h
Labels: integration: ble_presence, small-pr
