Repository esphome/esphome, pull requests merged in 2023-10, with the labels that each got.

#5464 Ensure esphome directory exists on addon startup
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/esphome/run
Labels: small-pr

#5423 Feat/component poller suspend
  esphome/automation.py
  esphome/core/base_automation.h
  esphome/core/component.cpp
  esphome/core/component.h
  tests/test1.yaml
Labels: has-tests, core

#5471 add pin config for denky_d4
  esphome/components/esp32/boards.py
Labels: small-pr, integration: esp32

#5466 Support RP2040 hardware SPI
  esphome/components/spi/__init__.py
  tests/test6.yaml
Labels: integration: spi, has-tests, core, by-code-owner

#5461 Sleep mode fix for BP5758D driver
  esphome/components/bp5758d/bp5758d.cpp
Labels: small-pr, integration: bp5758d

#5458 Tuya Number: split "multiply" to a separate option
  esphome/components/tuya/number/__init__.py
  esphome/components/tuya/number/tuya_number.cpp
  esphome/components/tuya/number/tuya_number.h
Labels: integration: tuya, small-pr, awaiting-docs-approval

#5474 2023.9.3
  esphome/components/bp5758d/bp5758d.cpp
  esphome/components/esp32/boards.py
  esphome/components/spi/__init__.py
  esphome/components/tuya/number/__init__.py
  esphome/components/tuya/number/tuya_number.cpp
  esphome/components/tuya/number/tuya_number.h
  esphome/const.py
  requirements.txt
  tests/test6.yaml
Labels: merging-to-release

#5453 Add xor automation condition
  esphome/automation.py
  esphome/core/base_automation.h
  tests/test1.yaml
Labels: notable-change, has-tests, core, small-pr

#5452 Fix units for SPS30 number concentration sensors
  esphome/components/sps30/sensor.py
  esphome/const.py
Labels: breaking-change, integration: sps30, core, small-pr

#5476 ST7789v - Allow predefined backlight pin to be disabled.
  esphome/components/st7789v/display.py
  tests/test1.yaml
Labels: integration: st7789v, has-tests, small-pr

#5477 MAX7219 - Update intensity
  esphome/components/max7219/max7219.cpp
  esphome/components/max7219/max7219.h
Labels: integration: max7219, small-pr

#5472 St7789v and SPI data rate
  esphome/components/ili9xxx/display.py
  esphome/components/max6675/max6675.h
  esphome/components/spi/__init__.py
  esphome/components/spi_device/__init__.py
  esphome/components/spi_led_strip/light.py
  esphome/components/st7789v/st7789v.cpp
  tests/test2.yaml
Labels: integration: max6675, integration: spi, integration: st7789v, has-tests, core, by-code-owner, integration: ili9xxx, integration: spi_device, integration: spi_led_strip

#5488 Move CONF_IRQ_PIN into const.py
  esphome/components/ade7953/sensor.py
  esphome/components/as3935/__init__.py
  esphome/components/xpt2046/touchscreen.py
  esphome/const.py
Labels: integration: ade7953, integration: as3935, core, small-pr, integration: xpt2046

#5498 Initial ESP32-H2 Support
  esphome/components/deep_sleep/__init__.py
  esphome/components/esp32/gpio_esp32_h2.py
  esphome/components/esp32_rmt_led_strip/light.py
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
  esphome/components/wifi/__init__.py
Labels: integration: deep_sleep, integration: logger, integration: wifi, core, integration: esp32, integration: esp32_rmt_led_strip

#5496 Increased debug message precision
  esphome/components/ultrasonic/ultrasonic_sensor.cpp
Labels: integration: ultrasonic, small-pr

#5403 Support for Haier IR protocol added
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/haier_protocol.cpp
  esphome/components/remote_base/haier_protocol.h
  tests/test1.yaml
Labels: integration: remote_base, has-tests, awaiting-docs-approval

#5500 add USE_SPI define
  esphome/components/spi/__init__.py
Labels: integration: spi, core, small-pr

#5361 Implement sensor component for MMC5983
  CODEOWNERS
  esphome/components/hmc5883l/sensor.py
  esphome/components/mmc5603/sensor.py
  esphome/components/mmc5983/__init__.py
  esphome/components/mmc5983/mmc5983.cpp
  esphome/components/mmc5983/mmc5983.h
  esphome/components/mmc5983/sensor.py
  esphome/components/qmc5883l/sensor.py
  esphome/const.py
  tests/test1.yaml
Labels: new-integration, integration: hmc5883l, integration: qmc5883l, has-tests, core, integration: mmc5603, integration: mmc5983

#5501 Bump docker dependencies
  docker/Dockerfile
Labels: small-pr

#5489 Move to Pillow 10.x
  esphome/components/animation/__init__.py
  esphome/components/font/__init__.py
  esphome/components/ili9xxx/display.py
  esphome/components/image/__init__.py
  requirements_optional.txt
  tests/test2.yaml
Labels: integration: font, integration: image, has-tests, core, small-pr, integration: animation, integration: ili9xxx

#5499 [Sprinkler] Initialize timers early to avoid crash
  esphome/components/sprinkler/__init__.py
  esphome/components/sprinkler/sprinkler.cpp
  esphome/components/sprinkler/sprinkler.h
Labels: small-pr, integration: sprinkler

#5507 Deep sleep is only available on esp32 and esp8266
  esphome/components/deep_sleep/__init__.py
Labels: integration: deep_sleep, core

#5508 Use platform consts
  esphome/components/async_tcp/__init__.py
  esphome/components/captive_portal/__init__.py
  esphome/components/esp32/__init__.py
  esphome/components/esp8266/__init__.py
  esphome/components/host/__init__.py
  esphome/components/i2c/__init__.py
  esphome/components/internal_temperature/sensor.py
  esphome/components/mqtt/__init__.py
  esphome/components/rp2040/__init__.py
  esphome/components/spi/__init__.py
  esphome/components/web_server/__init__.py
  esphome/config_validation.py
  esphome/core/__init__.py
  esphome/dashboard/dashboard.py
Labels: integration: async_tcp, integration: captive_portal, integration: i2c, integration: mqtt, integration: spi, integration: web_server, core, cleanup, by-code-owner, dashboard, integration: host, integration: esp32, integration: esp8266, integration: rp2040, integration: internal_temperature

#5497 Fixed precision for Nextion sensor with float values
  esphome/components/nextion/sensor/nextion_sensor.cpp
Labels: integration: nextion, small-pr

#5229 Remote wake word support for voice assistant
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  tests/test4.yaml
Labels: integration: api, has-tests, core, by-code-owner, integration: i2s_audio, integration: voice_assistant

#5505 Don't allow entity category "CONFIG" for sensors
  esphome/components/sensor/__init__.py
  esphome/config_validation.py
Labels: integration: sensor, core, small-pr

#5510 Prepare protobuf for ESP-IDF >= 5
  esphome/components/api/api_pb2.cpp
  script/api_protobuf/api_protobuf.py
Labels: integration: api, core

#5509 fix build lang schema for spi and i2c
  script/build_language_schema.py
Labels: core, small-pr

#5493 Added Nextion display error handling during setup
  esphome/components/nextion/nextion.cpp
Labels: integration: nextion, small-pr

#5502 Fix e131 and voice_assistant sockets
  esphome/components/e131/e131.cpp
Labels: integration: e131, small-pr

#5494 Allow manual set "Invert_display"
  esphome/components/ili9xxx/display.py
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
Labels: small-pr, by-code-owner, integration: ili9xxx

#5366 As3935 calibration
  esphome/components/as3935/__init__.py
  esphome/components/as3935/as3935.cpp
  esphome/components/as3935/as3935.h
  esphome/const.py
Labels: integration: as3935, core

#5513 Small fixes for voice assistant
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/voice_assistant/voice_assistant.cpp
Labels: integration: i2s_audio, integration: voice_assistant

#5503 Add detail param to allow listing of select options in WebServer REST API
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server, small-pr

#5517 Bump curl to 7.74.0-1.3+deb11u10
  docker/Dockerfile
Labels: small-pr

#5520 Update htu21d.cpp, fix publishing of heater level
  esphome/components/htu21d/htu21d.cpp
Labels: integration: htu21d, small-pr

#5522 Splits FastLed test scripts out of test1.yaml
  tests/test1.1.yaml
  tests/test1.yaml
Labels: has-tests, small-pr

#5524 BD5758D - Add delays and ACKs
  esphome/components/bp5758d/bp5758d.cpp
Labels: small-pr, by-code-owner, integration: bp5758d

#5518 Update Improv BLE component
  esphome/components/esp32_ble_server/ble_service.cpp
  esphome/components/esp32_ble_server/ble_service.h
  esphome/components/esp32_improv/__init__.py
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/esp32_improv/esp32_improv_component.h
  esphome/components/output/__init__.py
  esphome/core/defines.h
Labels: integration: output, core, by-code-owner, integration: esp32_ble_server, integration: esp32_improv

#5526 SM10BIT_BASE - Add delays and ACKs, clear all channels before sleeping.
  esphome/components/sm10bit_base/sm10bit_base.cpp
Labels: small-pr, by-code-owner, integration: sm10bit_base

#5525 BP1658CJ - Clear all channels before sleeping.
  esphome/components/bp1658cj/bp1658cj.cpp
Labels: small-pr, by-code-owner, integration: bp1658cj

#5528 2023.10.0b2
  esphome/components/bp1658cj/bp1658cj.cpp
  esphome/components/bp5758d/bp5758d.cpp
  esphome/components/esp32_ble_server/ble_service.cpp
  esphome/components/esp32_ble_server/ble_service.h
  esphome/components/esp32_improv/__init__.py
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/esp32_improv/esp32_improv_component.h
  esphome/components/htu21d/htu21d.cpp
  esphome/components/output/__init__.py
  esphome/components/sm10bit_base/sm10bit_base.cpp
  esphome/const.py
  esphome/core/defines.h
Labels: merging-to-beta

#5532 Add round sensor filter
  esphome/components/sensor/__init__.py
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
Labels: integration: sensor, core

#5519 Add Support for Sensirion SFA30 sensor
  CODEOWNERS
  esphome/components/sfa30/__init__.py
  esphome/components/sfa30/sensor.py
  esphome/components/sfa30/sfa30.cpp
  esphome/components/sfa30/sfa30.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: sfa30

#5533 Change UART source clock to `UART_SCLK_DEFAULT` when IDF >=v5
  esphome/components/uart/uart_component_esp_idf.cpp
Labels: integration: uart, core, small-pr

#5536 Prometheus fix for esp-idf and fix newlines
  esphome/components/prometheus/prometheus_handler.cpp
  esphome/components/prometheus/prometheus_handler.h
Labels: small-pr, integration: prometheus

#5537 Make IPAddress's operator!= compare values, not memory addresses.
  esphome/components/network/ip_address.h
Labels: integration: network, core, small-pr

#5492 Add change i2c address and allow multi conf for TB6612FNG
  esphome/components/grove_tb6612fng/__init__.py
  esphome/components/grove_tb6612fng/grove_tb6612fng.h
Labels: by-code-owner, integration: grove_tb6612fng

#5545 Add stream start and end events
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
Labels: integration: api, core, by-code-owner, integration: i2s_audio, integration: voice_assistant

#5546 Fix esp32_improv authorizer with no binary sensors in config
  esphome/components/esp32_improv/esp32_improv_component.cpp
Labels: small-pr, by-code-owner, integration: esp32_improv

#5547 More voice assistant fixes
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/voice_assistant/voice_assistant.cpp
Labels: small-pr, by-code-owner, integration: i2s_audio, integration: voice_assistant

#5548 2023.10.0b3
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/grove_tb6612fng/__init__.py
  esphome/components/grove_tb6612fng/grove_tb6612fng.h
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/network/ip_address.h
  esphome/components/prometheus/prometheus_handler.cpp
  esphome/components/prometheus/prometheus_handler.h
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/const.py
Labels: merging-to-beta

#5549 Fix default libretiny manufacturer reported to HA
  esphome/components/libretiny/__init__.py
Labels: small-pr, integration: libretiny

#5540 add uart button
  CODEOWNERS
  esphome/components/uart/button/__init__.py
  esphome/components/uart/button/uart_button.cpp
  esphome/components/uart/button/uart_button.h
  tests/test1.yaml
Labels: new-integration, integration: uart, has-tests, core

#5544 SML: fix incomplete sign extension for abbreviated transmissions
  esphome/components/sml/sml_parser.cpp
Labels: small-pr, integration: sml

#5539 add on/off options for uart switch
  esphome/components/uart/switch/__init__.py
  esphome/components/uart/switch/uart_switch.cpp
  esphome/components/uart/switch/uart_switch.h
  tests/test1.yaml
Labels: integration: uart, has-tests, core

#5553 esp32_improv advertise capabilities and state in ble service data
  esphome/components/esp32_ble/ble_advertising.cpp
  esphome/components/esp32_ble/ble_advertising.h
  esphome/components/esp32_improv/esp32_improv_component.cpp
Labels: by-code-owner, integration: esp32_improv, integration: esp32_ble

#5554 2023.10.0b4
  esphome/components/esp32_ble/ble_advertising.cpp
  esphome/components/esp32_ble/ble_advertising.h
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/libretiny/__init__.py
  esphome/components/sml/sml_parser.cpp
  esphome/const.py
Labels: merging-to-beta

#5473 Update docker base and packages + docker python 3.11
  docker/Dockerfile
  requirements_optional.txt
Labels: small-pr, merge-after-release

#5558 Fix voice_assistant without a speaker
  esphome/components/voice_assistant/voice_assistant.cpp
Labels: small-pr, by-code-owner, integration: voice_assistant

#5556 esp32_improv add timeout
  esphome/components/esp32_improv/__init__.py
  esphome/components/esp32_improv/esp32_improv_component.h
  esphome/components/wifi/wifi_component.cpp
Labels: integration: wifi, core, small-pr, by-code-owner, integration: esp32_improv

#5565 Create IPv4 sockets if ipv6 is not enabled
  esphome/components/socket/socket.cpp
Labels: small-pr, integration: socket

#5563 Incorrect ESP32 Strapping PIN Defined
  esphome/components/esp32/gpio_esp32.py
Labels: small-pr, integration: esp32

#5287 Add config to allow suppression of warnings about use of strapping pins
  esphome/components/esp32/gpio.py
  esphome/components/esp32/gpio_esp32.py
  esphome/components/esp32/gpio_esp32_c2.py
  esphome/components/esp32/gpio_esp32_c3.py
  esphome/components/esp32/gpio_esp32_c6.py
  esphome/components/esp32/gpio_esp32_s2.py
  esphome/components/esp32/gpio_esp32_s3.py
  esphome/const.py
  esphome/pins.py
  tests/test8.yaml
Labels: has-tests, core, integration: esp32

#5424 Hydreon updates
  esphome/components/hydreon_rgxx/hydreon_rgxx.cpp
  esphome/components/hydreon_rgxx/hydreon_rgxx.h
  esphome/components/hydreon_rgxx/sensor.py
  tests/test3.yaml
Labels: breaking-change, has-tests, integration: hydreon_rgxx

#5566 2023.10.1
  esphome/components/esp32/gpio_esp32.py
  esphome/components/esp32_improv/__init__.py
  esphome/components/esp32_improv/esp32_improv_component.h
  esphome/components/socket/socket.cpp
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/wifi/wifi_component.cpp
  esphome/const.py
Labels: merging-to-release

#5567 Fix XOR condition
  esphome/core/base_automation.h
Labels: core, small-pr

#5559 Improv Serial support via USB CDC and JTAG
  esphome/components/improv_serial/__init__.py
  esphome/components/improv_serial/improv_serial_component.cpp
  esphome/components/improv_serial/improv_serial_component.h
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
Labels: integration: logger, core, integration: improv_serial

#5564 Fan no off cycle action
  esphome/components/fan/__init__.py
  esphome/components/fan/automation.h
  esphome/const.py
  tests/test1.yaml
Labels: integration: fan, has-tests, core, small-pr

#5475 Publish the `pulse_meter` total when setting the total
  CODEOWNERS
  esphome/components/pulse_meter/pulse_meter_sensor.cpp
  esphome/components/pulse_meter/pulse_meter_sensor.h
  esphome/components/pulse_meter/sensor.py
Labels: small-pr, integration: pulse_meter

#5574 Remove explicit cast for IPAddress
  esphome/components/mqtt/mqtt_backend_libretiny.h
  tests/test9.yaml
Labels: integration: mqtt, has-tests, core, small-pr

#5578 Remove unnecessary checks in Nextion component
  esphome/components/nextion/nextion_commands.cpp
Labels: integration: nextion, small-pr

#5583 Set addr type when copy from ip4_addr_t
  esphome/components/network/ip_address.h
Labels: integration: network, core, small-pr

#5585 fix canbus send config
  esphome/components/canbus/__init__.py
  tests/test1.1.yaml
  tests/test1.yaml
Labels: has-tests, integration: canbus, small-pr

#5588 Allow set climate preset to NONE
  esphome/components/climate/climate.cpp
Labels: integration: climate, core, small-pr

#5584 update storage version from mdns
  esphome/zeroconf.py
Labels: core, small-pr

#5484 set Nextion protocol reparse mode
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_commands.cpp
Labels: integration: nextion, small-pr

#5576 Add address text sensor to WireGuard
  esphome/components/wireguard/text_sensor.py
  esphome/components/wireguard/wireguard.cpp
  esphome/components/wireguard/wireguard.h
  tests/test10.yaml
Labels: has-tests, by-code-owner, new-platform, integration: wireguard

#5575 Add LibreTiny hardwares to PR Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: small-pr

#5590 2023.10.2
  CODEOWNERS
  esphome/components/canbus/__init__.py
  esphome/components/climate/climate.cpp
  esphome/components/improv_serial/__init__.py
  esphome/components/improv_serial/improv_serial_component.cpp
  esphome/components/improv_serial/improv_serial_component.h
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
  esphome/components/mqtt/mqtt_backend_libretiny.h
  esphome/components/network/ip_address.h
  esphome/components/pulse_meter/pulse_meter_sensor.cpp
  esphome/components/pulse_meter/pulse_meter_sensor.h
  esphome/components/pulse_meter/sensor.py
  esphome/const.py
  esphome/core/base_automation.h
  tests/test1.yaml
  tests/test9.yaml
Labels: merging-to-release

#4333 Add ZH/LT-01 climate component with IR receiver option
  CODEOWNERS
  esphome/components/zhlt01/__init__.py
  esphome/components/zhlt01/climate.py
  esphome/components/zhlt01/zhlt01.cpp
  esphome/components/zhlt01/zhlt01.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: zhlt01

#4464 Feat: Add GREE climateir component
  CODEOWNERS
  esphome/components/gree/__init__.py
  esphome/components/gree/climate.py
  esphome/components/gree/gree.cpp
  esphome/components/gree/gree.h
  tests/test1.yaml
Labels: new-integration, not-stale, has-tests, integration: gree

#5192 AMS iAQ Core CO2 sensor component
  CODEOWNERS
  esphome/components/iaqcore/__init__.py
  esphome/components/iaqcore/iaqcore.cpp
  esphome/components/iaqcore/iaqcore.h
  esphome/components/iaqcore/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: iaqcore

#5595 Set IP address `type` only when IPv4 and IPv6 are both enabled
  esphome/components/network/ip_address.h
Labels: integration: network, core, small-pr

#5596 2023.10.3
  esphome/components/network/ip_address.h
  esphome/const.py
Labels: merging-to-release

#4913 Add IR Noblex climate component
  CODEOWNERS
  esphome/components/noblex/__init__.py
  esphome/components/noblex/climate.py
  esphome/components/noblex/noblex.cpp
  esphome/components/noblex/noblex.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: noblex

#5569 Fix exception handling when loading packages
  esphome/components/packages/__init__.py
Labels: integration: packages, core, small-pr

#5422 Add support for honeywellabp2 pressure sensor
  CODEOWNERS
  esphome/components/honeywellabp2_i2c/__init__.py
  esphome/components/honeywellabp2_i2c/honeywellabp2.cpp
  esphome/components/honeywellabp2_i2c/honeywellabp2.h
  esphome/components/honeywellabp2_i2c/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: honeywellabp2_i2c

#4491 Add Emc2101
  CODEOWNERS
  esphome/components/emc2101/__init__.py
  esphome/components/emc2101/emc2101.cpp
  esphome/components/emc2101/emc2101.h
  esphome/components/emc2101/output/__init__.py
  esphome/components/emc2101/output/emc2101_output.cpp
  esphome/components/emc2101/output/emc2101_output.h
  esphome/components/emc2101/sensor/__init__.py
  esphome/components/emc2101/sensor/emc2101_sensor.cpp
  esphome/components/emc2101/sensor/emc2101_sensor.h
Labels: new-integration, not-stale, needs-tests, integration: emc2101

#5587 Update current_based_cover bugfix
  esphome/components/current_based/current_based_cover.cpp
Labels: small-pr, integration: current_based

#5479 Fix: Incorporate unique serial number in preference's hash for multiple Sensirion sensors
  esphome/components/sen5x/sen5x.cpp
  esphome/components/sgp30/sgp30.cpp
  esphome/components/sgp4x/sgp4x.cpp
Labels: integration: sgp30, small-pr, integration: sen5x, integration: sgp4x

#5455 Add ignore out of range option for clamp filter
  esphome/components/sensor/__init__.py
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
  esphome/const.py
Labels: integration: sensor, core, small-pr

#5601 Print text mqtt command topic
  esphome/components/mqtt/mqtt_text.cpp
Labels: integration: mqtt, core, small-pr

#5213 Correctly allow mqtt topics to be none so ESPHome does not sub/pub to them
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_component.h
  esphome/config_validation.py
  tests/test5.yaml
Labels: integration: mqtt, has-tests, core, small-pr

#4672 SX1509 output debounce fix (resolves esphome/issues#4402)
  esphome/components/sx1509/sx1509.cpp
  esphome/components/sx1509/sx1509.h
Labels: stale, integration: sx1509, small-pr

#5603 Add details when error loading package
  esphome/components/packages/__init__.py
Labels: integration: packages, core, small-pr

#5604 Fallback to main secrets.yaml for packages
  esphome/yaml_util.py
Labels: core, small-pr

#5602 Add area (zone) to esphome core config to be suggested through API and MQTT.
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/mqtt/mqtt_component.cpp
  esphome/const.py
  esphome/core/__init__.py
  esphome/core/application.h
  esphome/core/config.py
  tests/dummy_main.cpp
Labels: integration: api, integration: mqtt, has-tests, core

#5608 Devcontainer: allow pip install and dont warn about root user
  .devcontainer/devcontainer.json
Labels: small-pr

#5611 Validate test files before compiling
  .github/workflows/ci.yml
Labels: small-pr

#5610 Minor defines.h updates
  esphome/core/defines.h
Labels: core, small-pr

#5612 timeout filter: return value
  esphome/components/sensor/filter.cpp
Labels: integration: sensor, core, small-pr

#4203 Add dfrobot_sen0395 mmwave radar component
  CODEOWNERS
  esphome/components/dfrobot_sen0395/__init__.py
  esphome/components/dfrobot_sen0395/automation.h
  esphome/components/dfrobot_sen0395/binary_sensor.py
  esphome/components/dfrobot_sen0395/commands.cpp
  esphome/components/dfrobot_sen0395/commands.h
  esphome/components/dfrobot_sen0395/dfrobot_sen0395.cpp
  esphome/components/dfrobot_sen0395/dfrobot_sen0395.h
  esphome/components/dfrobot_sen0395/switch/__init__.py
  esphome/components/dfrobot_sen0395/switch/dfrobot_sen0395_switch.cpp
  esphome/components/dfrobot_sen0395/switch/dfrobot_sen0395_switch.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: dfrobot_sen0395

#5609 refactor mcp4728 component
  esphome/components/mcp4728/__init__.py
  esphome/components/mcp4728/mcp4728.cpp
  esphome/components/mcp4728/mcp4728.h
  esphome/components/mcp4728/output/__init__.py
  esphome/components/mcp4728/output/mcp4728_output.cpp
  esphome/components/mcp4728/output/mcp4728_output.h
Labels: integration: mcp4728

#5605 Fix HA error related to incorrect state class
  esphome/components/vbus/sensor/__init__.py
Labels: small-pr, integration: vbus

#5614 Fix xpt2046 for IDF 5
  esphome/components/xpt2046/xpt2046.cpp
Labels: small-pr, integration: xpt2046

#5622 IDF 5 fixes for various components from test4.yaml
  esphome/components/esp32_camera_web_server/camera_web_server.cpp
  esphome/components/esp32_camera_web_server/camera_web_server.h
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
Labels: integration: tuya, small-pr, integration: esp32_camera_web_server

#5621 IDF 5 fixes for various components from test2.yaml
  esphome/components/duty_time/duty_time_sensor.cpp
  esphome/components/duty_time/duty_time_sensor.h
  esphome/components/mopeka_pro_check/mopeka_pro_check.cpp
  esphome/components/mopeka_pro_check/mopeka_pro_check.h
  esphome/components/mopeka_std_check/mopeka_std_check.cpp
  esphome/components/mopeka_std_check/mopeka_std_check.h
  esphome/components/sgp4x/sgp4x.cpp
  esphome/components/sgp4x/sgp4x.h
Labels: small-pr, integration: mopeka_pro_check, integration: sgp4x, integration: mopeka_std_check, integration: duty_time

#5620 Fixes ip include on arduino 2.7.4
  esphome/components/network/ip_address.h
Labels: integration: network, core, small-pr

#5623 Fix bug when requesting italic gfonts
  esphome/components/font/__init__.py
Labels: integration: font, core, small-pr

#5626 Handle enum type in tuya text_sensor
  esphome/components/tuya/text_sensor/tuya_text_sensor.cpp
Labels: integration: tuya, small-pr

#5628 Add connection triggers to api
  esphome/components/api/__init__.py
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
Labels: integration: api, core

#5627 2023.10.4
  esphome/components/current_based/current_based_cover.cpp
  esphome/components/font/__init__.py
  esphome/components/network/ip_address.h
  esphome/components/tuya/text_sensor/tuya_text_sensor.cpp
  esphome/const.py
Labels: merging-to-release

#5630 Fix armv7 docker builds
  docker/Dockerfile
Labels: small-pr

#5629 Add on_client_connected and disconnected to voice assistant
  esphome/components/api/__init__.py
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/const.py
Labels: integration: api, core, by-code-owner, integration: voice_assistant

#5636 Ensure that all uses of strncpy in wifi component are safe.
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: integration: wifi, core, small-pr

#5639 Remove some explicit IPAddress casts
  esphome/components/captive_portal/captive_portal.cpp
  esphome/components/mqtt/mqtt_backend_esp8266.h
Labels: integration: captive_portal, integration: mqtt, core, small-pr

#5643 Add needs-docs workflow to fail CI
  .github/workflows/needs-docs.yml
Labels: small-pr

#5634 Add support for PCA9535 16 bit I/O expander
  CODEOWNERS
  esphome/components/pca9554/__init__.py
  esphome/components/pca9554/pca9554.cpp
  esphome/components/pca9554/pca9554.h
  tests/test1.yaml
Labels: has-tests, integration: pca9554
