Repository esphome/esphome, pull requests merged in 2023-09, with the labels that each got.

#5275 fix to PR # 3887 MQTT connection not using discovery: false
  esphome/components/mqtt/mqtt_client.cpp
Labels: integration: mqtt, core, small-pr

#5321 Bump Arduino Pico to 3.4.0
  esphome/components/rp2040/__init__.py
  platformio.ini
Labels: small-pr, integration: rp2040

#5291 Use gzip compression for the web server component's static resources
  esphome/components/web_server/__init__.py
  esphome/components/web_server/web_server.cpp
  tests/test3.1.yaml
Labels: integration: web_server, has-tests, small-pr

#5325 Adding heating coil and fan icons, enum device_class
  esphome/const.py
Labels: core, small-pr

#4675 Add dashboard API to get firmware binaries
  esphome/components/esp32/__init__.py
  esphome/components/esp8266/__init__.py
  esphome/components/rp2040/__init__.py
  esphome/dashboard/dashboard.py
Labels: core, dashboard, integration: esp32, integration: esp8266, integration: rp2040

#5326 Attempt to fix secret blurring
  esphome/__main__.py
Labels: core, small-pr

#5317 Bugfix: disable channels after IO if multiple tca9548a I2C multiplexers are configured
  esphome/components/tca9548a/tca9548a.cpp
  esphome/components/tca9548a/tca9548a.h
Labels: small-pr, integration: tca9548a

#5329 Make uart error message go away
  esphome/components/logger/logger.cpp
Labels: integration: logger, core, small-pr

#4828 add heating functionality to SI7021
  esphome/components/htu21d/htu21d.cpp
  esphome/components/htu21d/htu21d.h
  esphome/components/htu21d/sensor.py
  tests/test1.yaml
Labels: integration: htu21d, has-tests

#5299 Fix checksum calculation for pipsolar
  esphome/components/pipsolar/pipsolar.cpp
  esphome/components/pipsolar/pipsolar.h
Labels: small-pr, bugfix, integration: pipsolar

#5339 Bump esphome-dashboard to 20230904.0
  requirements.txt
Labels: dependencies, small-pr

#5338 Added Handling for Nack "file not found"
  esphome/components/dfplayer/dfplayer.cpp
Labels: integration: dfplayer, small-pr

#5332 Prepare api and time for ESP-IDF >= 5
  esphome/components/api/api_pb2.cpp
  esphome/components/time/real_time_clock.cpp
Labels: integration: api, integration: time, core

#5331 Tweak Improv serial to build in IDF 5
  esphome/components/improv_serial/improv_serial_component.cpp
Labels: small-pr, integration: improv_serial

#5280 Extend ESP32 CAN bit rates /bus speed support
  esphome/components/canbus/__init__.py
  esphome/components/canbus/canbus.h
  esphome/components/esp32_can/canbus.py
  esphome/components/esp32_can/esp32_can.cpp
Labels: integration: esp32_can, integration: canbus

#5334 Debug component: add free PSRAM sensor
  esphome/components/debug/debug_component.cpp
  esphome/components/debug/debug_component.h
  esphome/components/debug/sensor.py
  tests/test1.yaml
  tests/test5.yaml
  tests/test8.yaml
Labels: integration: debug, has-tests, core

#5343 libretiny: fix uart_port framework config
  esphome/components/libretiny/__init__.py
Labels: small-pr, integration: libretiny

#5337 Add Lilygo T-Embed to st7789v display config.
  esphome/components/st7789v/display.py
  esphome/components/st7789v/st7789v.cpp
  esphome/components/st7789v/st7789v.h
  tests/test2.yaml
Labels: integration: st7789v, has-tests

#5344 Add defines.h to ethernet_component.h for ENABLE_IPV6
  esphome/components/ethernet/ethernet_component.h
Labels: integration: ethernet, core, small-pr

#5330 Fixed default temperature step values for haier climate
  esphome/components/haier/climate.py
Labels: small-pr, by-code-owner, integration: haier

#5333 Add debug component to all tests
  tests/test2.yaml
  tests/test3.1.yaml
  tests/test3.yaml
  tests/test4.yaml
  tests/test6.yaml
  tests/test7.yaml
Labels: has-tests, small-pr

#4510 Support MaxBotix XL in addition to HRXL
  esphome/components/hrxl_maxsonar_wr/hrxl_maxsonar_wr.cpp
Labels: stale, small-pr, integration: hrxl_maxsonar_wr

#4782 Adding DFRobot Ozone Sensor Support (sen0321)
  CODEOWNERS
  esphome/components/sen0321/__init__.py
  esphome/components/sen0321/sen0321.cpp
  esphome/components/sen0321/sen0321.h
  esphome/components/sen0321/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: sen0321

#5217 mdns: bump IDF mdns component to 1.2.0
  esphome/components/mdns/__init__.py
Labels: small-pr, integration: mdns

#4812 Integration LightwaveRF switches
  CODEOWNERS
  esphome/components/lightwaverf/LwRx.cpp
  esphome/components/lightwaverf/LwRx.h
  esphome/components/lightwaverf/LwTx.cpp
  esphome/components/lightwaverf/LwTx.h
  esphome/components/lightwaverf/__init__.py
  esphome/components/lightwaverf/lightwaverf.cpp
  esphome/components/lightwaverf/lightwaverf.h
  tests/test3.yaml
Labels: new-integration, has-tests, integration: lightwaverf

#5345 2023.8.3
  esphome/__main__.py
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/pipsolar/pipsolar.cpp
  esphome/components/pipsolar/pipsolar.h
  esphome/components/tca9548a/tca9548a.cpp
  esphome/components/tca9548a/tca9548a.h
  esphome/components/thermostat/climate.py
  esphome/config_validation.py
  esphome/const.py
Labels: merging-to-release

#5347 Only run ci-docker when ci-docker workflow changes
  .github/workflows/ci-docker.yml
Labels: small-pr

#5322 esp32: Extra build customization
  esphome/components/esp32/__init__.py
  esphome/components/esp32/const.py
Labels: integration: esp32

#5274 Allow upload command to flash file via serial
  esphome/__main__.py
Labels: core, small-pr

#5351 Allow "--device SERIAL" on cli to flash only via serial
  esphome/__main__.py
Labels: core, small-pr

#5352 Fix PN532 for IDF 5 and ultralight enhancements
  esphome/components/nfc/nfc.cpp
  esphome/components/pn532/pn532.h
  esphome/components/pn532/pn532_mifare_ultralight.cpp
Labels: integration: pn532, integration: nfc

#5353 Fix cpu_ll_get_cycle_count() deprecated warning
  esphome/components/esp32/core.cpp
Labels: small-pr, integration: esp32

#5311 Refactor SPI code; Add ESP-IDF hardware support
  CODEOWNERS
  esphome/components/spi/__init__.py
  esphome/components/spi/spi.cpp
  esphome/components/spi/spi.h
  esphome/components/spi/spi_arduino.cpp
  esphome/components/spi/spi_esp_idf.cpp
  esphome/components/spi_device/__init__.py
  esphome/components/spi_device/spi_device.cpp
  esphome/components/spi_device/spi_device.h
  tests/test4.yaml
  tests/test8.yaml
Labels: new-integration, integration: spi, has-tests, core, integration: spi_device

#5364 Fix repeat.count = 0 case
  esphome/core/base_automation.h
  tests/test5.yaml
Labels: has-tests, core, small-pr

#5355 Fix dashboard download for ESP32 variants
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#5335 [ADC] Support measuring VCC on Raspberry Pico (W)
  esphome/components/adc/__init__.py
  esphome/components/adc/adc_sensor.cpp
  tests/test6.yaml
Labels: integration: adc, has-tests, core

#5304 Move CONF_PHASE_A/B/C constants to const.py.
  esphome/components/atm90e32/sensor.py
  esphome/components/growatt_solar/sensor.py
  esphome/components/havells_solar/sensor.py
  esphome/const.py
Labels: integration: atm90e32, core, small-pr, integration: havells_solar, integration: growatt_solar

#5143 Add BMI160 support
  CODEOWNERS
  esphome/components/bmi160/__init__.py
  esphome/components/bmi160/bmi160.cpp
  esphome/components/bmi160/bmi160.h
  esphome/components/bmi160/sensor.py
  esphome/const.py
  tests/test1.yaml
Labels: new-integration, has-tests, core, integration: bmi160

#5372 Use black-pre-commit-mirror to speed up pre-commit runs.
  .pre-commit-config.yaml
Labels: small-pr

#5288 Native SPI RGB LED component
  CODEOWNERS
  esphome/components/spi_led_strip/__init__.py
  esphome/components/spi_led_strip/light.py
  esphome/components/spi_led_strip/spi_led_strip.h
  tests/test8.yaml
Labels: new-integration, has-tests, integration: spi_led_strip

#4256 Wireguard component
  .github/workflows/ci.yml
  .gitignore
  CODEOWNERS
  esphome/components/wireguard/__init__.py
  esphome/components/wireguard/binary_sensor.py
  esphome/components/wireguard/sensor.py
  esphome/components/wireguard/wireguard.cpp
  esphome/components/wireguard/wireguard.h
  platformio.ini
  tests/README.md
  tests/test10.yaml
Labels: new-integration, has-tests, integration: wireguard

#5375 Bump LibreTiny version to 1.4.0
  esphome/components/libretiny/__init__.py
Labels: small-pr, by-code-owner, integration: libretiny

#5348 time: Make std::string version of strftime() avoid runaway memory allocations
  esphome/core/time.cpp
  esphome/core/time.h
Labels: core, small-pr

#5370 Fix disabled wifi crash on boot
  esphome/components/wifi/wifi_component.cpp
Labels: integration: wifi, core, small-pr

#5354 debug: add ESP32-C6 support
  esphome/components/debug/debug_component.cpp
Labels: integration: debug, core, small-pr

#5296 Make string globals persist-able using fixed size allocations
  esphome/components/globals/__init__.py
  esphome/components/globals/globals_component.h
  esphome/cpp_generator.py
  tests/test2.yaml
Labels: integration: globals, has-tests, core

#5374 Use /data directory for .esphome folder when running as HA add-on
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/esphome/run
  esphome/components/font/__init__.py
  esphome/components/image/__init__.py
  esphome/components/shelly_dimmer/light.py
  esphome/core/__init__.py
  esphome/core/config.py
  esphome/dashboard/dashboard.py
  esphome/git.py
  esphome/storage_json.py
  esphome/wizard.py
  tests/unit_tests/test_wizard.py
Labels: breaking-change, integration: font, integration: image, has-tests, core, dashboard, integration: shelly_dimmer

#5378 Attempt to fix rp2040 adc with vcc
  esphome/components/adc/__init__.py
  esphome/components/adc/adc_sensor.cpp
Labels: integration: adc, core

#4759 Enable IPv6 for ESP8266 and Raspberry pi pico w (RP2040)
  esphome/components/async_tcp/__init__.py
  esphome/components/mdns/mdns_esp8266.cpp
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/network/__init__.py
  esphome/components/socket/socket.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_pico_w.cpp
  platformio.ini
Labels: integration: async_tcp, integration: mqtt, integration: network, integration: wifi, core, integration: socket, integration: mdns

#5384 Workflow updates
  .github/actions/restore-python/action.yml
  .github/workflows/ci-docker.yml
  .github/workflows/ci.yml
  .github/workflows/lock.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/sync-device-classes.yml
  .github/workflows/yaml-lint.yml
Labels: small-pr

#5318 Modbus Controller added some features
  esphome/components/modbus_controller/__init__.py
  esphome/components/modbus_controller/const.py
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/modbus_controller/modbus_controller.h
Labels: integration: modbus_controller

#5161 Force heater off on setup
  esphome/components/sht3xd/sensor.py
  esphome/components/sht3xd/sht3xd.cpp
  esphome/components/sht3xd/sht3xd.h
Labels: integration: sht3xd, small-pr

#5385 SX1509 component
  esphome/components/sx1509/binary_sensor/__init__.py
Labels: integration: sx1509, small-pr

#5389 Add patch to apt install
  docker/Dockerfile
Labels: small-pr

#5283 Fix Waveshare 7.5v2 epaper screens are always powered on
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper

#5401 Update radon_eye_listener.cpp
  esphome/components/radon_eye_ble/radon_eye_listener.cpp
Labels: small-pr, integration: radon_eye_ble

#5400 Add shelly-dimmer-stm32 51.7 to known versions
  esphome/components/shelly_dimmer/light.py
Labels: small-pr, integration: shelly_dimmer

#5399 Ci find YAML tests dynamically
  .github/workflows/ci.yml
Labels: small-pr

#5397 Add E-Trailer Gaslevel support to Mopeka Std Check
  esphome/components/mopeka_std_check/mopeka_std_check.cpp
  esphome/components/mopeka_std_check/mopeka_std_check.h
Labels: small-pr, integration: mopeka_std_check

#5409 fix disabled wifi power on 8266
  esphome/components/wifi/wifi_component_esp8266.cpp
Labels: integration: wifi, core, small-pr

#5405 fix handling of web server version
  esphome/components/web_server/__init__.py
Labels: integration: web_server, small-pr

#5407 Climate preset fix
  esphome/components/thermostat/thermostat_climate.cpp
Labels: integration: thermostat, small-pr

#5394 Remove Wi-Fi dependency from Midea component
  esphome/components/midea/climate.py
Labels: small-pr, integration: midea

#5360 http_request: Cleanups and safety improvements
  esphome/components/http_request/http_request.h
Labels: integration: http_request, small-pr

#5388 Make the pulse meter timeout on startup when no pulses are received
  esphome/components/pulse_meter/pulse_meter_sensor.cpp
  esphome/components/pulse_meter/pulse_meter_sensor.h
Labels: small-pr, integration: pulse_meter

#5313 Wizard: fix colored text in input prompts
  esphome/util.py
  esphome/wizard.py
  tests/unit_tests/test_wizard.py
Labels: has-tests, core, small-pr

#5404 support keypads with pulldowns
  esphome/components/matrix_keypad/__init__.py
  esphome/components/matrix_keypad/matrix_keypad.cpp
  esphome/components/matrix_keypad/matrix_keypad.h
  tests/test5.yaml
Labels: has-tests, small-pr, by-code-owner, integration: matrix_keypad

#5412 2023.9.0b2
  docker/Dockerfile
  esphome/components/http_request/http_request.h
  esphome/components/matrix_keypad/__init__.py
  esphome/components/matrix_keypad/matrix_keypad.cpp
  esphome/components/matrix_keypad/matrix_keypad.h
  esphome/components/midea/climate.py
  esphome/components/mopeka_std_check/mopeka_std_check.cpp
  esphome/components/mopeka_std_check/mopeka_std_check.h
  esphome/components/pulse_meter/pulse_meter_sensor.cpp
  esphome/components/pulse_meter/pulse_meter_sensor.h
  esphome/components/radon_eye_ble/radon_eye_listener.cpp
  esphome/components/shelly_dimmer/light.py
  esphome/components/thermostat/thermostat_climate.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
  esphome/components/web_server/__init__.py
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/const.py
  esphome/util.py
  esphome/wizard.py
  tests/test5.yaml
  tests/unit_tests/test_wizard.py
Labels: merging-to-beta

#5416 Fix SPI inverted clock on ESP8266
  esphome/components/spi/spi.h
  esphome/components/spi/spi_arduino.cpp
Labels: integration: spi, core, small-pr

#5417 Make ESPHome data dir configurable
  esphome/core/__init__.py
Labels: core, small-pr

#5414 [RP2040W] Fix WiFi bootloop upon LibreTiny support
  esphome/components/rp2040/__init__.py
Labels: small-pr, integration: rp2040

#5413 dallas: limit addresses to 64 bits
  esphome/components/dallas/sensor.py
Labels: integration: dallas, small-pr

#5425 Fix typo in documentation
  esphome/components/pmsa003i/pmsa003i.h
Labels: small-pr, integration: pmsa003i

#5426 2023.9.0b3
  esphome/components/dallas/sensor.py
  esphome/components/rp2040/__init__.py
  esphome/components/spi/spi.h
  esphome/components/spi/spi_arduino.cpp
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#5419 LibreTiny: enable MQTT, bump to v1.4.1
  esphome/components/libretiny/__init__.py
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_backend_libretiny.h
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
Labels: integration: mqtt, core, by-code-owner, integration: libretiny

#5430 Wireguard keepalive remove uint16 type
  esphome/components/wireguard/__init__.py
Labels: small-pr, integration: wireguard

#5433 Fix #4896 and #4903
  CODEOWNERS
  esphome/components/ili9xxx/display.py
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
  esphome/components/ili9xxx/ili9xxx_init.h
  tests/test1.yaml
Labels: has-tests, integration: ili9xxx

#5434 2023.9.0b4
  CODEOWNERS
  esphome/components/ili9xxx/display.py
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
  esphome/components/ili9xxx/ili9xxx_init.h
  esphome/components/libretiny/__init__.py
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_backend_libretiny.h
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
  esphome/components/wireguard/__init__.py
  esphome/const.py
  tests/test1.yaml
Labels: merging-to-beta

#5108 Tuya Number Scaling
  esphome/components/tuya/number/tuya_number.cpp
Labels: integration: tuya, small-pr

#5252 Refactor ip address representation
  esphome/components/captive_portal/captive_portal.cpp
  esphome/components/e131/e131_packet.cpp
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/mdns/mdns_rp2040.cpp
  esphome/components/mqtt/mqtt_backend_esp8266.h
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/network/ip_address.h
  esphome/components/wake_on_lan/wake_on_lan.cpp
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/components/wifi/wifi_component_libretiny.cpp
  esphome/components/wifi/wifi_component_pico_w.cpp
  tests/test1.yaml
  tests/test10.yaml
  tests/test11.5.yaml
  tests/test2.yaml
  tests/test3.1.yaml
  tests/test3.yaml
  tests/test4.yaml
  tests/test5.yaml
  tests/test6.yaml
  tests/test7.yaml
  tests/test8.yaml
Labels: integration: captive_portal, integration: e131, integration: ethernet, integration: mqtt, integration: network, integration: wifi, has-tests, core, integration: mdns, integration: wake_on_lan, merge-after-release

#5440 Fix .esphome path when not using envvar
  esphome/core/__init__.py
Labels: core, small-pr

#5441 Migrate dashboard json files to /data folder instead of wiping out
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/esphome/run
Labels: small-pr

#5442 2023.9.1
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/esphome/run
  esphome/components/tuya/number/tuya_number.cpp
  esphome/const.py
Labels: merging-to-release

#5446 SPI fixes for buggy components
  CODEOWNERS
  esphome/components/max7219/max7219.cpp
  esphome/components/spi/__init__.py
  esphome/components/spi/spi.h
Labels: integration: max7219, integration: spi, core, small-pr

#5447 Fix an Issue with IR Remote Climate and Whirlpool protocol toggle
  esphome/components/whirlpool/whirlpool.cpp
  esphome/components/whirlpool/whirlpool.h
Labels: integration: whirlpool, small-pr

#5448 [BP1658CJ] Missing clock line delays and ack bit
  esphome/components/bp1658cj/bp1658cj.cpp
Labels: small-pr, integration: bp1658cj

#5454 [ssd1351] fix: wait for the component to be at least in setup phase b…
  esphome/components/ssd1351_base/ssd1351_base.cpp
Labels: integration: ssd1351_base, small-pr

#5445 Do not enable SHT3x heater by default. Fixes #4886.
  esphome/components/sht3xd/sensor.py
Labels: breaking-change, integration: sht3xd, small-pr

#5456 Fix SPI support for second bus on 2023.9.1
  esphome/components/spi/__init__.py
Labels: integration: spi, core, small-pr

#5457 Add testcases for multiple SPI buses on ESP32 Arduino
  tests/test4.yaml
Labels: has-tests, small-pr
