Repository esphome/esphome, pull requests merged in 2023-08, with the labels that each got.

#5168 Fix graininess & streaks for 7.50inV2alt Waveshare e-paper
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
Labels: integration: waveshare_epaper, small-pr

#5173 2023.7.1
  esphome/components/adc/adc_sensor.cpp
  esphome/components/adc/adc_sensor.h
  esphome/components/ble_presence/binary_sensor.py
  esphome/components/ble_presence/ble_presence_device.h
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/homeassistant/sensor/homeassistant_sensor.cpp
  esphome/components/template/switch/template_switch.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/const.py
  esphome/dashboard/dashboard.py
  tests/test7.yaml
Labels: merging-to-release

#5164 Vertical and horizontal airflow actions fix for Haier climate
  esphome/components/haier/climate.py
  esphome/components/haier/hon_climate.cpp
Labels: small-pr, by-code-owner, integration: haier

#5183 Microphone add is_stopped
  esphome/components/microphone/microphone.h
Labels: small-pr, by-code-owner, integration: microphone

#5184 Add get_board function to esp32 module
  esphome/components/esp32/__init__.py
Labels: small-pr, integration: esp32

#5182 Speaker return bytes written and do not wait for queue
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  esphome/components/speaker/speaker.h
Labels: breaking-change, small-pr, by-code-owner, integration: i2s_audio, integration: speaker

#5181 Update components "if x in config"
  esphome/components/a4988/stepper.py
  esphome/components/adc/sensor.py
  esphome/components/addressable_light/display.py
  esphome/components/ade7953/sensor.py
  esphome/components/aht10/sensor.py
  esphome/components/alarm_control_panel/__init__.py
  esphome/components/alpha3/sensor.py
  esphome/components/am2320/sensor.py
  esphome/components/am43/sensor/__init__.py
  esphome/components/animation/__init__.py
  esphome/components/api/__init__.py
  esphome/components/as3935/sensor.py
  esphome/components/as7341/sensor.py
  esphome/components/atc_mithermometer/sensor.py
  esphome/components/atm90e26/sensor.py
  esphome/components/atm90e32/sensor.py
  esphome/components/b_parasite/sensor.py
  esphome/components/bang_bang/climate.py
  esphome/components/bedjet/__init__.py
  esphome/components/binary/fan/__init__.py
  esphome/components/binary_sensor/__init__.py
  esphome/components/bl0939/sensor.py
  esphome/components/bl0940/sensor.py
  esphome/components/bl0942/sensor.py
  esphome/components/ble_client/sensor/__init__.py
  esphome/components/ble_client/text_sensor/__init__.py
  esphome/components/ble_presence/binary_sensor.py
  esphome/components/ble_rssi/sensor.py
  esphome/components/bme280/sensor.py
  esphome/components/bme680/sensor.py
  esphome/components/bme680_bsec/sensor.py
  esphome/components/bme680_bsec/text_sensor.py
  esphome/components/bmp085/sensor.py
  esphome/components/bmp280/sensor.py
  esphome/components/bmp3xx/sensor.py
  esphome/components/button/__init__.py
  esphome/components/canbus/__init__.py
  esphome/components/cap1188/__init__.py
  esphome/components/ccs811/sensor.py
  esphome/components/climate_ir/__init__.py
  esphome/components/cs5460a/sensor.py
  esphome/components/cse7766/sensor.py
  esphome/components/current_based/cover.py
  esphome/components/cwww/light.py
Labels: code-quality

#5204 PWM Output on RP2040 for high frequencies
  esphome/components/rp2040_pwm/rp2040_pwm.cpp
Labels: small-pr, integration: rp2040_pwm

#5209 Fix some configs after #5181
  esphome/components/adc/sensor.py
  esphome/components/animation/__init__.py
  esphome/components/bedjet/__init__.py
  esphome/components/binary_sensor/__init__.py
  esphome/components/ble_presence/binary_sensor.py
  esphome/components/ble_rssi/sensor.py
  esphome/components/canbus/__init__.py
  esphome/components/ccs811/sensor.py
  esphome/components/current_based/cover.py
Labels: integration: adc, integration: binary_sensor, integration: ble_presence, integration: ble_rssi, integration: ccs811, core, integration: canbus, small-pr, integration: animation, integration: current_based, integration: bedjet

#5208 Improved compensation sgp30
  esphome/components/sgp30/sgp30.cpp
Labels: integration: sgp30, small-pr

#4863 Add support for a01nyub
  CODEOWNERS
  esphome/components/a01nyub/__init__.py
  esphome/components/a01nyub/a01nyub.cpp
  esphome/components/a01nyub/a01nyub.h
  esphome/components/a01nyub/sensor.py
  tests/test4.yaml
Labels: new-integration, has-tests, integration: a01nyub

#5205 Change device name in MQTT discovery messages to friendly names
  esphome/components/mqtt/mqtt_component.cpp
Labels: breaking-change, integration: mqtt, core, small-pr

#5116 Add ESP32-S2/S3 capacitive touch support
  esphome/components/esp32_touch/__init__.py
  esphome/components/esp32_touch/binary_sensor.py
  esphome/components/esp32_touch/esp32_touch.cpp
  esphome/components/esp32_touch/esp32_touch.h
Labels: integration: esp32_touch

#4231 Refactor `pulse_meter` to better handle higher frequencies
  esphome/components/pulse_meter/pulse_meter_sensor.cpp
  esphome/components/pulse_meter/pulse_meter_sensor.h
Labels: integration: pulse_meter

#5157 Change MQTT client for ESP32 Arduino
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_backend_esp32.cpp
  esphome/components/mqtt/mqtt_backend_esp32.h
  esphome/components/mqtt/mqtt_backend_esp8266.h
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
  platformio.ini
Labels: integration: mqtt, core, small-pr

#5131 Add read interface to microphone
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.h
  esphome/components/microphone/microphone.h
Labels: small-pr, by-code-owner, integration: i2s_audio, integration: microphone

#5200 i2c: fix build on ESP-IDF >= 5.1
  esphome/components/i2c/i2c_bus_esp_idf.cpp
Labels: integration: i2c, core, small-pr

#4968 Add socket define for rp2040 dev
  esphome/core/defines.h
Labels: core, small-pr

#5176 core: read ESP32 MAC address from eFuse if IEEE802.15.4 is supported
  esphome/core/helpers.cpp
Labels: core, small-pr

#5211 esp32_ble_beacon: enable CONFIG_BT_BLE_42_FEATURES_SUPPORTED
  esphome/components/esp32_ble_beacon/__init__.py
Labels: integration: esp32_ble_beacon, small-pr

#5212 ledc: check SOC_LEDC_SUPPORT_APB_CLOCK
  esphome/components/ledc/ledc_output.cpp
Labels: integration: ledc, small-pr

#5186 Add arm night to alarm control panel
  esphome/components/alarm_control_panel/__init__.py
  esphome/components/alarm_control_panel/alarm_control_panel_call.cpp
  esphome/components/alarm_control_panel/alarm_control_panel_state.cpp
  esphome/components/alarm_control_panel/automation.h
  esphome/components/template/alarm_control_panel/__init__.py
  esphome/components/template/alarm_control_panel/template_alarm_control_panel.cpp
  esphome/components/template/alarm_control_panel/template_alarm_control_panel.h
  tests/test3.yaml
Labels: integration: template, has-tests, core, integration: alarm_control_panel

#5170 Add KMeterISO component.
  esphome/components/kmeteriso/__init__.py
  esphome/components/kmeteriso/kmeteriso.cpp
  esphome/components/kmeteriso/kmeteriso.h
  esphome/components/kmeteriso/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: kmeteriso

#4657 New component: Add support for bmp581 pressure and temperature sensors
  CODEOWNERS
  esphome/components/bmp581/__init__.py
  esphome/components/bmp581/bmp581.cpp
  esphome/components/bmp581/bmp581.h
  esphome/components/bmp581/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: bmp581

#4988 New PM sensor Panasonic SN-GCJA5
  CODEOWNERS
  esphome/components/gcja5/__init__.py
  esphome/components/gcja5/gcja5.cpp
  esphome/components/gcja5/gcja5.h
  esphome/components/gcja5/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: gcja5

#3388 Daly BMS improvements
  esphome/components/daly_bms/__init__.py
  esphome/components/daly_bms/binary_sensor.py
  esphome/components/daly_bms/daly_bms.cpp
  esphome/components/daly_bms/daly_bms.h
  esphome/components/daly_bms/sensor.py
  esphome/components/daly_bms/text_sensor.py
Labels: integration: daly_bms

#5219 Add missing `on_(arming|pending|armed_home|armed_night|armed_away|disarmed)` triggers to alarm_control_panel
  esphome/components/alarm_control_panel/__init__.py
  esphome/components/alarm_control_panel/alarm_control_panel.cpp
  esphome/components/alarm_control_panel/alarm_control_panel.h
  esphome/components/alarm_control_panel/automation.h
  tests/test3.yaml
Labels: has-tests, integration: alarm_control_panel

#5222 add value option to timeout filter
  esphome/components/sensor/__init__.py
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
  tests/test3.1.yaml
Labels: integration: sensor, has-tests, core, small-pr

#5221 Tweak Color init because IDF 5+
  esphome/components/color/__init__.py
Labels: integration: color, small-pr

#5232 Read string of bool env and match against well known values
  esphome/helpers.py
  tests/unit_tests/test_helpers.py
Labels: has-tests, core, small-pr

#5231 fix aeha data template
  esphome/components/remote_base/__init__.py
Labels: integration: remote_base, small-pr

#5228 Expose start to speaker interface
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  esphome/components/speaker/speaker.h
Labels: small-pr, by-code-owner, integration: i2s_audio, integration: speaker

#5196 New features added for Haier integration
  esphome/components/haier/climate.py
  esphome/components/haier/haier_base.cpp
  esphome/components/haier/haier_base.h
  esphome/components/haier/hon_climate.cpp
  esphome/components/haier/hon_climate.h
  esphome/components/haier/hon_packet.h
  esphome/components/haier/smartair2_climate.cpp
  esphome/components/haier/smartair2_climate.h
  esphome/components/haier/smartair2_packet.h
  platformio.ini
Labels: by-code-owner, integration: haier

#5137 pca9554 cache reads
  esphome/components/pca9554/pca9554.cpp
  esphome/components/pca9554/pca9554.h
Labels: small-pr, by-code-owner, integration: pca9554

#5233 fix midea: undo approved PR#4053
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/midea_protocol.h
  tests/test1.yaml
Labels: integration: remote_base, has-tests, small-pr

#5238 Fixing smartair2 protocol implementation if no Wi-Fi
  esphome/components/haier/smartair2_climate.cpp
Labels: small-pr, by-code-owner, integration: haier

#5234 tuya: add time sync callback only once to prevent memleak
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
Labels: integration: tuya, small-pr

#5243 Fix duplicate tuya time warning
  esphome/components/tuya/tuya.cpp
Labels: integration: tuya, small-pr

#5244 2023.8.0b2
  esphome/components/haier/climate.py
  esphome/components/haier/haier_base.cpp
  esphome/components/haier/haier_base.h
  esphome/components/haier/hon_climate.cpp
  esphome/components/haier/hon_climate.h
  esphome/components/haier/hon_packet.h
  esphome/components/haier/smartair2_climate.cpp
  esphome/components/haier/smartair2_climate.h
  esphome/components/haier/smartair2_packet.h
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  esphome/components/pca9554/pca9554.cpp
  esphome/components/pca9554/pca9554.h
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/midea_protocol.h
  esphome/components/speaker/speaker.h
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
  esphome/const.py
  esphome/helpers.py
  platformio.ini
  tests/test1.yaml
  tests/unit_tests/test_helpers.py
Labels: merging-to-beta

#5247 Updated my username in Code Owners
  CODEOWNERS
  esphome/components/cap1188/__init__.py
  esphome/components/ina260/sensor.py
  esphome/components/mcp9600/sensor.py
Labels: small-pr, by-code-owner, integration: cap1188, integration: ina260, integration: mcp9600

#5246 Change XL9535 `setup_priority` to IO
  esphome/components/xl9535/xl9535.h
Labels: small-pr, by-code-owner, integration: xl9535

#5245 rmt_base additional minor changes
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/midea_protocol.h
Labels: integration: remote_base, small-pr

#4434 Add configuration flow abilites to the ld2410 component
  CODEOWNERS
  esphome/components/ld2410/__init__.py
  esphome/components/ld2410/automation.h
  esphome/components/ld2410/binary_sensor.py
  esphome/components/ld2410/button/__init__.py
  esphome/components/ld2410/button/query_button.cpp
  esphome/components/ld2410/button/query_button.h
  esphome/components/ld2410/button/reset_button.cpp
  esphome/components/ld2410/button/reset_button.h
  esphome/components/ld2410/button/restart_button.cpp
  esphome/components/ld2410/button/restart_button.h
  esphome/components/ld2410/ld2410.cpp
  esphome/components/ld2410/ld2410.h
  esphome/components/ld2410/number/__init__.py
  esphome/components/ld2410/number/gate_threshold_number.cpp
  esphome/components/ld2410/number/gate_threshold_number.h
  esphome/components/ld2410/number/light_threshold_number.cpp
  esphome/components/ld2410/number/light_threshold_number.h
  esphome/components/ld2410/number/max_distance_timeout_number.cpp
  esphome/components/ld2410/number/max_distance_timeout_number.h
  esphome/components/ld2410/select/__init__.py
  esphome/components/ld2410/select/baud_rate_select.cpp
  esphome/components/ld2410/select/baud_rate_select.h
  esphome/components/ld2410/select/distance_resolution_select.cpp
  esphome/components/ld2410/select/distance_resolution_select.h
  esphome/components/ld2410/select/light_out_control_select.cpp
  esphome/components/ld2410/select/light_out_control_select.h
  esphome/components/ld2410/sensor.py
  esphome/components/ld2410/switch/__init__.py
  esphome/components/ld2410/switch/bluetooth_switch.cpp
  esphome/components/ld2410/switch/bluetooth_switch.h
  esphome/components/ld2410/switch/engineering_mode_switch.cpp
  esphome/components/ld2410/switch/engineering_mode_switch.h
  esphome/components/ld2410/text_sensor.py
  tests/test1.yaml
Labels: new-integration, needs-tests, integration: ld2410

#5258 2023.8.0b3
  CODEOWNERS
  esphome/components/i2c/i2c_bus_esp_idf.cpp
  esphome/components/ld2410/__init__.py
  esphome/components/ld2410/automation.h
  esphome/components/ld2410/binary_sensor.py
  esphome/components/ld2410/button/__init__.py
  esphome/components/ld2410/button/query_button.cpp
  esphome/components/ld2410/button/query_button.h
  esphome/components/ld2410/button/reset_button.cpp
  esphome/components/ld2410/button/reset_button.h
  esphome/components/ld2410/button/restart_button.cpp
  esphome/components/ld2410/button/restart_button.h
  esphome/components/ld2410/ld2410.cpp
  esphome/components/ld2410/ld2410.h
  esphome/components/ld2410/number/__init__.py
  esphome/components/ld2410/number/gate_threshold_number.cpp
  esphome/components/ld2410/number/gate_threshold_number.h
  esphome/components/ld2410/number/light_threshold_number.cpp
  esphome/components/ld2410/number/light_threshold_number.h
  esphome/components/ld2410/number/max_distance_timeout_number.cpp
  esphome/components/ld2410/number/max_distance_timeout_number.h
  esphome/components/ld2410/select/__init__.py
  esphome/components/ld2410/select/baud_rate_select.cpp
  esphome/components/ld2410/select/baud_rate_select.h
  esphome/components/ld2410/select/distance_resolution_select.cpp
  esphome/components/ld2410/select/distance_resolution_select.h
  esphome/components/ld2410/select/light_out_control_select.cpp
  esphome/components/ld2410/select/light_out_control_select.h
  esphome/components/ld2410/sensor.py
  esphome/components/ld2410/switch/__init__.py
  esphome/components/ld2410/switch/bluetooth_switch.cpp
  esphome/components/ld2410/switch/bluetooth_switch.h
  esphome/components/ld2410/switch/engineering_mode_switch.cpp
  esphome/components/ld2410/switch/engineering_mode_switch.h
  esphome/components/ld2410/text_sensor.py
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/midea_protocol.h
  esphome/components/sml/sml_parser.cpp
  esphome/components/xl9535/xl9535.h
  esphome/const.py
  tests/test1.yaml
Labels: merging-to-beta

#5262 Add `libfreetype-dev` Debian package for armv7 Docker builds
  docker/Dockerfile
Labels: small-pr

#5256 Add delay before enabling ipv6
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
Labels: integration: wifi, core, small-pr

#5263 2023.8.0b4
  docker/Dockerfile
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#5271 Fix checksum calculation for sml
  esphome/components/sml/sml.cpp
Labels: small-pr, bugfix, integration: sml

#5261 Remove support for ESP-IDF version < 4
  esphome/components/debug/debug_component.cpp
  esphome/components/esp32/core.cpp
  esphome/components/esp32_touch/esp32_touch.h
  esphome/components/socket/bsd_sockets_impl.cpp
  esphome/components/wifi/wifi_component.h
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: integration: debug, integration: esp32_touch, integration: wifi, core, small-pr, integration: socket, integration: esp32, merge-after-release

#4624 Add pmwcs3 capacitive soil moisture & temperature sensor component
  CODEOWNERS
  esphome/components/pmwcs3/__init__.py
  esphome/components/pmwcs3/pmwcs3.cpp
  esphome/components/pmwcs3/pmwcs3.h
  esphome/components/pmwcs3/sensor.py
  tests/test1.yaml
Labels: new-integration, not-stale, has-tests, merge-after-release, integration: pmwcs3

#5251 Add manufacturer data config to BLE server
  CODEOWNERS
  esphome/components/esp32_ble/ble_advertising.cpp
  esphome/components/esp32_ble/ble_advertising.h
  esphome/components/esp32_ble_server/__init__.py
  esphome/components/esp32_ble_server/ble_server.cpp
  esphome/components/esp32_ble_server/ble_server.h
  tests/test2.yaml
Labels: has-tests, integration: esp32_ble_server, integration: esp32_ble, merge-after-release

#5267 Change haier from AUTO to HEAT_COOL
  esphome/components/haier/climate.py
  esphome/components/haier/haier_base.cpp
  esphome/components/haier/hon_climate.cpp
  esphome/components/haier/smartair2_climate.cpp
  tests/test3.yaml
Labels: breaking-change, has-tests, small-pr, bugfix, integration: haier

#5273 2023.8.1
  esphome/components/haier/climate.py
  esphome/components/haier/haier_base.cpp
  esphome/components/haier/hon_climate.cpp
  esphome/components/haier/smartair2_climate.cpp
  esphome/components/sml/sml.cpp
  esphome/const.py
  tests/test3.yaml
Labels: merging-to-release

#5276 Move libcairo to all architectures in docker
  docker/Dockerfile
Labels: small-pr

#5281 Resolve offline ESPs in dashboard when using ESPHOME_DASHBOARD_USE_PING=true
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#5284 Align SPI data rates in C++ code with Python
  esphome/components/spi/__init__.py
  esphome/components/spi/spi.h
Labels: integration: spi, core, small-pr

#4731 Add support for ESP32-{S2,S3,C3} to debug component
  esphome/components/debug/debug_component.cpp
Labels: integration: debug, core

#4377 Support for ESP32-C2 & ESP32-C6
  esphome/components/adc/__init__.py
  esphome/components/deep_sleep/__init__.py
  esphome/components/esp32/__init__.py
  esphome/components/esp32/const.py
  esphome/components/esp32/gpio.py
  esphome/components/esp32/gpio_esp32_c2.py
  esphome/components/esp32/gpio_esp32_c6.py
  esphome/components/esp32_rmt_led_strip/light.py
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
  esphome/components/spi/spi.cpp
Labels: integration: adc, integration: deep_sleep, integration: logger, integration: spi, core, integration: esp32, integration: esp32_rmt_led_strip

#5285 Change htu21d sensors from required to optional
  esphome/components/htu21d/sensor.py
Labels: integration: htu21d, small-pr

#5279 Reserve keyword "clock"
  esphome/config_validation.py
Labels: core, small-pr

#5269 Bump arduino-heatpumpir to v1.0.23
  esphome/components/heatpumpir/climate.py
  esphome/components/heatpumpir/heatpumpir.cpp
  esphome/components/heatpumpir/heatpumpir.h
  platformio.ini
  tests/test1.yaml
Labels: has-tests, small-pr, by-code-owner, integration: heatpumpir

#5167 Fix equality check when setting current-based cover position
  esphome/components/current_based/current_based_cover.cpp
Labels: small-pr, integration: current_based

#5286 2023.8.2
  docker/Dockerfile
  esphome/components/htu21d/sensor.py
  esphome/components/spi/__init__.py
  esphome/components/spi/spi.h
  esphome/config_validation.py
  esphome/const.py
  esphome/dashboard/dashboard.py
Labels: merging-to-release

#5292 Add Invert method for SSD1306
  esphome/components/ssd1306_base/ssd1306_base.cpp
  esphome/components/ssd1306_base/ssd1306_base.h
Labels: integration: ssd1306_base, small-pr

#5297 Introduce cv.temperature_delta and fix problematic thermostat configuration behavior
  esphome/components/thermostat/climate.py
  esphome/config_validation.py
Labels: integration: thermostat, core, small-pr

#5298 Update PSRAM config params for IDF4+
  esphome/components/psram/__init__.py
Labels: small-pr, integration: psram

#5294 Fix legacy zeroconf record update method
  esphome/zeroconf.py
Labels: core, small-pr

#5319 Add extra SLPOUT for waking up some ST7789 chips
  esphome/components/st7789v/st7789v.cpp
Labels: integration: st7789v, small-pr

#5320 7789 controller fixes take 2
  esphome/components/st7789v/st7789v.cpp
  esphome/components/st7789v/st7789v.h
Labels: integration: st7789v, small-pr
