Repository esphome/esphome, pull requests merged in 2023-05, with the labels that each got.

#4766 Only pre-install libraries in docker images
  docker/Dockerfile
  script/platformio_install_deps.py
  script/setup
Labels: core, small-pr

#4681 Add PCA6416A Support
  CODEOWNERS
  esphome/components/pca6416a/__init__.py
  esphome/components/pca6416a/pca6416a.cpp
  esphome/components/pca6416a/pca6416a.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: pca6416a

#4758 play_folder bugfix and addition of play_mp3
  esphome/components/dfplayer/__init__.py
  esphome/components/dfplayer/dfplayer.cpp
  esphome/components/dfplayer/dfplayer.h
Labels: integration: dfplayer

#4494 RF Codec for Drayton Digistat heating controller
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/drayton_protocol.cpp
  esphome/components/remote_base/drayton_protocol.h
Labels: integration: remote_base

#4282 Add support for hyt271
  CODEOWNERS
  esphome/components/hyt271/__init__.py
  esphome/components/hyt271/hyt271.cpp
  esphome/components/hyt271/hyt271.h
  esphome/components/hyt271/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: hyt271

#4258 Add support for BLE passkey authentication
  esphome/components/ble_client/__init__.py
  esphome/components/ble_client/automation.h
  esphome/components/ble_client/ble_client.h
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble.h
  tests/test1.yaml
Labels: has-tests, integration: ble_client, integration: esp32_ble

#3660 Add support for V2 of the waveshare 5.83in e-paper display.
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper

#3764 Max6956 support added
  CODEOWNERS
  esphome/components/max6956/__init__.py
  esphome/components/max6956/automation.h
  esphome/components/max6956/max6956.cpp
  esphome/components/max6956/max6956.h
  esphome/components/max6956/output/__init__.py
  esphome/components/max6956/output/max6956_led_output.cpp
  esphome/components/max6956/output/max6956_led_output.h
  tests/test4.yaml
Labels: new-integration, has-tests, integration: max6956

#4768 Fix i2s media player on devices with no internal DAC
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.cpp
Labels: small-pr, by-code-owner, integration: i2s_audio

#4769 2023.4.3
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.cpp
  esphome/components/sprinkler/__init__.py
  esphome/components/sprinkler/sprinkler.cpp
  esphome/components/sprinkler/sprinkler.h
  esphome/const.py
Labels: merging-to-release

#4777 Fixes for Arduino 2.7.4 (for FastLED)
  esphome/components/socket/socket.cpp
  esphome/components/socket/socket.h
  esphome/core/string_ref.h
Labels: core, small-pr, integration: socket

#4774 Revert "Template sensors always publish on update interval (#2224)"
  esphome/components/template/sensor/template_sensor.cpp
  esphome/components/template/text_sensor/template_text_sensor.cpp
Labels: breaking-change, integration: template, core, small-pr

#4772 update schema gen to 2023.4.0
  script/build_language_schema.py
Labels: core

#4778 2023.4.4
  esphome/components/socket/socket.cpp
  esphome/components/socket/socket.h
  esphome/const.py
  esphome/core/string_ref.h
Labels: merging-to-release

#4495 Add gp8403 output component
  CODEOWNERS
  esphome/components/gp8403/__init__.py
  esphome/components/gp8403/gp8403.cpp
  esphome/components/gp8403/gp8403.h
  esphome/components/gp8403/output/__init__.py
  esphome/components/gp8403/output/gp8403_output.cpp
  esphome/components/gp8403/output/gp8403_output.h
  tests/test5.yaml
Labels: new-integration, has-tests, integration: gp8403

#4708 Create esp32 rmt addressable light driver
  CODEOWNERS
  esphome/components/esp32_rmt_led_strip/__init__.py
  esphome/components/esp32_rmt_led_strip/led_strip.cpp
  esphome/components/esp32_rmt_led_strip/led_strip.h
  esphome/components/esp32_rmt_led_strip/light.py
  tests/test5.yaml
Labels: new-integration, has-tests, integration: esp32_rmt_led_strip

#4796 Bump ESP32-audioI2s to 2.0.7
  esphome/components/i2s_audio/media_player/__init__.py
  platformio.ini
Labels: small-pr, by-code-owner, integration: i2s_audio

#3850 SM2135 Add optional current configuration, avoid communication failures.
  CODEOWNERS
  esphome/components/sm2135/__init__.py
  esphome/components/sm2135/sm2135.cpp
  esphome/components/sm2135/sm2135.h
  tests/test3.1.yaml
Labels: has-tests, by-code-owner, integration: sm2135

#4792 Fix ezo parsing
  esphome/components/ezo/ezo.cpp
Labels: small-pr, integration: ezo

#4702 [ili9xxx] Improve fill operation performance
  esphome/components/ili9xxx/ili9xxx_display.cpp
Labels: small-pr, integration: ili9xxx

#4783 Add host target platform
  CODEOWNERS
  esphome/components/api/api_connection.cpp
  esphome/components/host/__init__.py
  esphome/components/host/const.py
  esphome/components/host/core.cpp
  esphome/components/host/gpio.cpp
  esphome/components/host/gpio.h
  esphome/components/host/gpio.py
  esphome/components/host/preferences.cpp
  esphome/components/host/preferences.h
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
  esphome/components/mdns/mdns_host.cpp
  esphome/components/network/util.cpp
  esphome/components/socket/__init__.py
  esphome/components/socket/headers.h
  esphome/config_validation.py
  esphome/const.py
  esphome/core/__init__.py
  esphome/core/defines.h
  esphome/core/helpers.cpp
  platformio.ini
  script/ci-custom.py
Labels: new-integration, needs-docs, needs-tests, integration: api, integration: logger, integration: network, core, integration: socket, integration: host, integration: mdns

#4799 Add more envs to root platformio
  platformio.ini
Labels: small-pr

#4719 Keep Unit of Measurement in Flash.
  esphome/components/number/number_traits.cpp
  esphome/components/number/number_traits.h
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
  esphome/core/entity_base.cpp
  esphome/core/entity_base.h
Labels: integration: sensor, core, small-pr, integration: number

#4788 [display] Small display print performance improvement
  esphome/components/display/display_buffer.cpp
Labels: integration: display, core, small-pr

#4785 Fixed calculation of start and end dhcp range
  esphome/components/wifi/wifi_component_esp8266.cpp
Labels: integration: wifi, core, small-pr

#4775 Add more configuration for microphones - i2s/pdm/adc
  esphome/components/adc/__init__.py
  esphome/components/adc/sensor.py
  esphome/components/i2s_audio/microphone/__init__.py
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.h
  tests/test4.yaml
Labels: integration: adc, has-tests, core, by-code-owner, integration: i2s_audio

#4800 Wrap VA code
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
Labels: small-pr, by-code-owner, integration: voice_assistant

#4801 Make i2s_audio bclk_pin optional
  esphome/components/i2s_audio/__init__.py
  esphome/components/i2s_audio/i2s_audio.h
Labels: small-pr, by-code-owner, integration: i2s_audio

#4802 Validate project details are set for dashboard_import
  esphome/components/dashboard_import/__init__.py
Labels: small-pr, integration: dashboard_import

#4784 Fixed access point for ESP32 IDF platform
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: integration: wifi, core, small-pr

#4746 Remove AUTO_LOAD from apds9960
  esphome/components/apds9960/__init__.py
  esphome/components/apds9960/apds9960.cpp
  esphome/components/apds9960/apds9960.h
  esphome/components/apds9960/binary_sensor.py
  esphome/components/apds9960/sensor.py
Labels: integration: apds9960

#4646 Add minimum RSSI check to ble presence
  esphome/components/ble_presence/binary_sensor.py
  esphome/components/ble_presence/ble_presence_device.h
  esphome/components/ble_rssi/ble_rssi_sensor.h
  esphome/const.py
Labels: integration: ble_presence, integration: ble_rssi, core, small-pr

#4808 2023.5.0b2
  esphome/components/apds9960/__init__.py
  esphome/components/apds9960/apds9960.cpp
  esphome/components/apds9960/apds9960.h
  esphome/components/apds9960/binary_sensor.py
  esphome/components/apds9960/sensor.py
  esphome/components/sprinkler/__init__.py
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/const.py
Labels: merging-to-beta

#4805 Wording
  esphome/components/sen5x/sen5x.cpp
Labels: small-pr, integration: sen5x

#4809 Tuya: Prevent loop when setting colors on case-sensitive dps
  esphome/components/tuya/light/tuya_light.cpp
Labels: integration: tuya, small-pr

#4813 Fix i2s media player volume control
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.cpp
Labels: small-pr, by-code-owner, integration: i2s_audio

#4814 Dontr try stop if not actually started
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
Labels: small-pr, by-code-owner, integration: i2s_audio

#4822 2023.5.0b3
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/sen5x/sen5x.cpp
  esphome/components/tuya/light/tuya_light.cpp
  esphome/const.py
Labels: merging-to-beta

#4824 Run black over tests folder
  tests/component_tests/button/test_button.py
  tests/component_tests/deep_sleep/test_deep_sleep.py
  tests/unit_tests/test_config_validation.py
Labels: has-tests, small-pr

#4826 Fix missing stop trait in send_cover_info
  esphome/components/api/api_connection.cpp
Labels: integration: api, core, small-pr

#4820 Update PulseLightEffect with range brightness
  esphome/components/light/base_light_effects.h
  esphome/components/light/effects.py
  esphome/components/shelly_dimmer/light.py
  esphome/const.py
Labels: integration: light, core, small-pr, integration: shelly_dimmer

#4831 Bump esphome-dashboard to 20230516.0
  requirements.txt
Labels: dependencies, small-pr

#4811 Fix time period validation for the auto cleaning interval
  esphome/components/sen5x/sensor.py
  tests/test5.yaml
Labels: has-tests, small-pr, integration: sen5x

#4834 Use token so PR checks are run
  .github/workflows/sync-device-classes.yml
Labels: small-pr

#4836 Fix stale bot ignoring not-stale
  .github/workflows/stale.yml
Labels: small-pr

#4838 support sending keys to the collector
  esphome/components/key_collector/__init__.py
  esphome/components/key_collector/key_collector.cpp
  esphome/components/key_collector/key_collector.h
Labels: small-pr, by-code-owner, integration: key_collector

#4837 handle Wiegand 8-bit keys
  esphome/components/wiegand/wiegand.cpp
Labels: small-pr, by-code-owner, integration: wiegand

#4845 2023.5.0b5
  esphome/components/key_collector/__init__.py
  esphome/components/key_collector/key_collector.cpp
  esphome/components/key_collector/key_collector.h
  esphome/components/wiegand/wiegand.cpp
  esphome/const.py
Labels: merging-to-beta

#4823 Rework CI into multiple dependent jobs
  .github/workflows/ci.yml
Labels: small-pr, merge-after-release

#4821 Add DNS to Text info
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
  esphome/components/wifi_info/text_sensor.py
  esphome/components/wifi_info/wifi_info_text_sensor.cpp
  esphome/components/wifi_info/wifi_info_text_sensor.h
  esphome/const.py
  tests/test1.yaml
Labels: integration: wifi, integration: wifi_info, has-tests, core, merge-after-release

#3887 allow to use MQTT for discovery of IPs if mDNS is no option
  esphome/__main__.py
  esphome/components/mdns/__init__.py
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
  esphome/const.py
  esphome/dashboard/dashboard.py
  esphome/helpers.py
  esphome/mqtt.py
  esphome/storage_json.py
Labels: integration: mqtt, core, dashboard, integration: mdns, merge-after-release

#4839 Move some I2C logic out of header file
  esphome/components/i2c/i2c.cpp
  esphome/components/i2c/i2c.h
Labels: integration: i2c, core, small-pr

#4726 Allow substitutions to be valid names
  esphome/components/substitutions/__init__.py
  esphome/config_validation.py
  esphome/const.py
  tests/unit_tests/test_config_validation.py
Labels: integration: substitutions, has-tests, core, small-pr

#4757 Insert Europe Tank Types from mopeka_std_check
  esphome/components/mopeka_pro_check/sensor.py
Labels: small-pr, integration: mopeka_pro_check

#4832 Migrate e131 to use socket instead of WiFiUDP arduino library
  esphome/components/e131/__init__.py
  esphome/components/e131/e131.cpp
  esphome/components/e131/e131.h
  esphome/components/e131/e131_addressable_light_effect.cpp
  esphome/components/e131/e131_addressable_light_effect.h
  esphome/components/e131/e131_packet.cpp
Labels: integration: e131

#4851 Remove i2c dependency from ttp229_bsf
  esphome/components/ttp229_bsf/__init__.py
Labels: integration: ttp229_bsf, small-pr

#4816 Sprinkler fixes
  esphome/components/sprinkler/__init__.py
  esphome/components/sprinkler/sprinkler.cpp
  esphome/components/sprinkler/sprinkler.h
Labels: by-code-owner, integration: sprinkler

#4852 2023.5.1
  esphome/components/sprinkler/__init__.py
  esphome/components/sprinkler/sprinkler.cpp
  esphome/components/sprinkler/sprinkler.h
  esphome/components/ttp229_bsf/__init__.py
  esphome/const.py
Labels: merging-to-release

#4600 Add transparency support to all image types
  .gitattributes
  esphome/components/animation/__init__.py
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  esphome/components/image/__init__.py
  script/ci-custom.py
  tests/pnglogo.png
  tests/test2.yaml
Labels: integration: display, integration: image, has-tests, core, integration: animation

#4862 Run YAML test 8 during CI and fix board used
  .github/workflows/ci.yml
  tests/test8.yaml
Labels: has-tests, small-pr

#4867 Fix i2s_audio media_player mutex acquisition
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.cpp
Labels: small-pr, integration: i2s_audio

#4818 Rp2040 pio ledstrip
  CODEOWNERS
  esphome/components/rp2040/__init__.py
  esphome/components/rp2040/const.py
  esphome/components/rp2040_pio_led_strip/__init__.py
  esphome/components/rp2040_pio_led_strip/led_strip.cpp
  esphome/components/rp2040_pio_led_strip/led_strip.h
  esphome/components/rp2040_pio_led_strip/light.py
  esphome/writer.py
  tests/test6.yaml
Labels: new-integration, has-tests, core, integration: rp2040, integration: rp2040_pio_led_strip

#4870 2023.5.2
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.cpp
  esphome/const.py
Labels: merging-to-release

#4849 [ILI9xxx] Update ili9xxx_init.h code for the ILI9488 display for correct white balance
  esphome/components/ili9xxx/ili9xxx_init.h
Labels: small-pr, integration: ili9xxx

#4872 [PSRam] Change log unit to KB to minimize rounding error.
  esphome/components/psram/psram.cpp
Labels: small-pr, integration: psram

#4877 2023.5.3
  esphome/components/i2s_audio/microphone/__init__.py
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.h
  esphome/components/psram/psram.cpp
  esphome/const.py
Labels: merging-to-release

#4873 [internal_temperature] ESP32-S3 needs ESP IDF V4.4.3 or higher
  esphome/components/internal_temperature/internal_temperature.cpp
  esphome/components/internal_temperature/sensor.py
Labels: integration: internal_temperature

#4879 Update cover.h for compile errors with stop()
  esphome/components/cover/cover.h
Labels: integration: cover, core, small-pr

#4883 Print ESPHome version when running commands
  esphome/__main__.py
Labels: core, small-pr

#4887 Fix rp2040_pio_led_strip color modes
  esphome/components/rp2040_pio_led_strip/led_strip.h
Labels: small-pr, integration: rp2040_pio_led_strip

#4886 Fix esp32_rmt_led_strip color modes
  esphome/components/esp32_rmt_led_strip/led_strip.h
Labels: small-pr, by-code-owner, integration: esp32_rmt_led_strip

#4885 Add i2s mclk
  esphome/components/i2s_audio/__init__.py
  esphome/components/i2s_audio/i2s_audio.h
  tests/test4.yaml
Labels: has-tests, small-pr, integration: i2s_audio

#4889 2023.5.4
  esphome/__main__.py
  esphome/components/cover/cover.h
  esphome/components/esp32_rmt_led_strip/led_strip.h
  esphome/components/internal_temperature/internal_temperature.cpp
  esphome/components/internal_temperature/sensor.py
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/const.py
Labels: merging-to-release

#4693 Allow partially looping animations
  esphome/components/animation/__init__.py
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
Labels: integration: display, core, integration: animation

#4884 Allow i2s microphone bits per sample to be configured
  esphome/components/i2s_audio/microphone/__init__.py
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.h
  esphome/components/microphone/__init__.py
  esphome/components/microphone/automation.h
  esphome/components/microphone/microphone.h
  esphome/components/voice_assistant/voice_assistant.cpp
Labels: breaking-change, by-code-owner, integration: i2s_audio, integration: microphone, integration: voice_assistant

#4776 Add support for TMP1075 temperature sensor
  CODEOWNERS
  esphome/components/tmp1075/__init__.py
  esphome/components/tmp1075/sensor.py
  esphome/components/tmp1075/tmp1075.cpp
  esphome/components/tmp1075/tmp1075.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: tmp1075

#4903 move pio tools to LED component
  esphome/components/rp2040/__init__.py
  esphome/components/rp2040_pio_led_strip/light.py
  tests/test6.yaml
Labels: has-tests, small-pr, integration: rp2040, integration: rp2040_pio_led_strip

#4904 Fix version printing not breaking yaml parsing
  esphome/__main__.py
Labels: core, small-pr

#4897 add SUB_SELECT macro
  esphome/components/select/select.h
Labels: needs-docs, small-pr, integration: select

#4898 add SUB_SWITCH macro
  esphome/components/switch/switch.h
Labels: integration: switch, core, small-pr

#4905 2023.5.5
  esphome/__main__.py
  esphome/const.py
Labels: merging-to-release

#4856 esp32_rmt_led_strip: fix compile with ESP-IDF >= 5
  esphome/components/esp32_rmt_led_strip/led_strip.cpp
Labels: small-pr, integration: esp32_rmt_led_strip

#4857 ota: fix compile with ESP-IDF >= 5
  esphome/components/ota/ota_component.cpp
Labels: integration: ota, core, small-pr

#4858 ota: fix TWDT with ESP-IDF >= 5
  esphome/components/ota/ota_backend_esp_idf.cpp
Labels: integration: ota, core, small-pr

#4855 light: fix compile with ESP-IDF >= 5
  esphome/components/light/light_call.cpp
Labels: integration: light, core, small-pr

#4892 Continuous voice_assistant and silence detection
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/i2s_audio/microphone/__init__.py
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/const.py
Labels: integration: api, core, by-code-owner, integration: i2s_audio, integration: voice_assistant

#4810 Allow WIFI to be disabled and enabled
  esphome/components/wifi/__init__.py
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
Labels: integration: wifi, core
