Repository esphome/esphome, pull requests merged in 2023-11, with the labels that each got.

#4408 Fix nextion waveform sending for multiple waveforms
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_component_base.h
Labels: integration: nextion

#5647 Allow validation of pins based on hub config
  esphome/components/pca6416a/__init__.py
  esphome/components/pca9554/__init__.py
  esphome/components/pcf8574/__init__.py
  esphome/components/sn74hc165/__init__.py
  esphome/config.py
  esphome/cpp_helpers.py
  esphome/pins.py
  esphome/util.py
Labels: integration: pcf8574, core, by-code-owner, integration: sn74hc165, integration: pca9554, integration: pca6416a

#5655 Validate sn74hc595 pin number are within range
  esphome/components/sn74hc595/__init__.py
Labels: integration: sn74hc595, small-pr

#5656 Update PCA9554 pin checks to new facility
  esphome/components/pca9554/__init__.py
Labels: small-pr, by-code-owner, integration: pca9554

#5654 Update mDNS component to 1.2.2
  esphome/components/mdns/__init__.py
Labels: small-pr, integration: mdns

#5657 Fix return value of run_external_command
  esphome/util.py
Labels: core, small-pr

#5177 Update RTTTL component to allow I2S
  esphome/components/rtttl/__init__.py
  esphome/components/rtttl/rtttl.cpp
  esphome/components/rtttl/rtttl.h
Labels: integration: rtttl

#5658 Bump flake8 version in pre-commit to match requirements file
  .pre-commit-config.yaml
Labels: small-pr

#5651 Add Healthcheck to Dockerfile
  docker/Dockerfile
Labels: small-pr

#5662 Revert "Ensure that all uses of strncpy in wifi component are safe."
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: integration: wifi, core, small-pr

#5664 2023.10.6
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/const.py
Labels: merging-to-release

#4847 Add HLK-LD2420 mmWave Radar module component.
  CODEOWNERS
  esphome/components/ld2420/__init__.py
  esphome/components/ld2420/binary_sensor/__init__.py
  esphome/components/ld2420/binary_sensor/ld2420_binary_sensor.cpp
  esphome/components/ld2420/binary_sensor/ld2420_binary_sensor.h
  esphome/components/ld2420/button/__init__.py
  esphome/components/ld2420/button/reconfig_buttons.cpp
  esphome/components/ld2420/button/reconfig_buttons.h
  esphome/components/ld2420/ld2420.cpp
  esphome/components/ld2420/ld2420.h
  esphome/components/ld2420/number/__init__.py
  esphome/components/ld2420/number/gate_config_number.cpp
  esphome/components/ld2420/number/gate_config_number.h
  esphome/components/ld2420/select/__init__.py
  esphome/components/ld2420/select/operating_mode_select.cpp
  esphome/components/ld2420/select/operating_mode_select.h
  esphome/components/ld2420/sensor/__init__.py
  esphome/components/ld2420/sensor/ld2420_sensor.cpp
  esphome/components/ld2420/sensor/ld2420_sensor.h
  esphome/components/ld2420/text_sensor/__init__.py
  esphome/components/ld2420/text_sensor/text_sensor.cpp
  esphome/components/ld2420/text_sensor/text_sensor.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: ld2420

#4760 Add Micronova component
  CODEOWNERS
  esphome/components/micronova/__init__.py
  esphome/components/micronova/button/__init__.py
  esphome/components/micronova/button/micronova_button.cpp
  esphome/components/micronova/button/micronova_button.h
  esphome/components/micronova/micronova.cpp
  esphome/components/micronova/micronova.h
  esphome/components/micronova/number/__init__.py
  esphome/components/micronova/number/micronova_number.cpp
  esphome/components/micronova/number/micronova_number.h
  esphome/components/micronova/sensor/__init__.py
  esphome/components/micronova/sensor/micronova_sensor.cpp
  esphome/components/micronova/sensor/micronova_sensor.h
  esphome/components/micronova/switch/__init__.py
  esphome/components/micronova/switch/micronova_switch.cpp
  esphome/components/micronova/switch/micronova_switch.h
  esphome/components/micronova/text_sensor/__init__.py
  esphome/components/micronova/text_sensor/micronova_text_sensor.cpp
  esphome/components/micronova/text_sensor/micronova_text_sensor.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: micronova

#5618 Add basic shell autocompletion using argcomplete
  esphome/__main__.py
  requirements.txt
Labels: core, small-pr

#5675 Fixed int variables for user defined service in case of ESP32-C3
  esphome/components/api/user_services.cpp
Labels: integration: api, core, small-pr

#5668 Add callback for raw sml messages
  esphome/components/sml/__init__.py
  esphome/components/sml/automation.h
  esphome/components/sml/constants.h
  esphome/components/sml/sml.cpp
  esphome/components/sml/sml.h
Labels: integration: sml

#5644 Null topic_prefix disables MQTT publishing/subscription unless topic is explicitly configured
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_component.cpp
  tests/test4.yaml
Labels: integration: mqtt, has-tests, core

#5616 feat: Add ESP32 BLE enable/disable automations
  CODEOWNERS
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble.h
  esphome/components/esp32_ble_server/__init__.py
  esphome/components/esp32_ble_server/ble_characteristic.cpp
  esphome/components/esp32_ble_server/ble_characteristic.h
  esphome/components/esp32_ble_server/ble_server.cpp
  esphome/components/esp32_ble_server/ble_server.h
  esphome/components/esp32_ble_server/ble_service.cpp
  esphome/components/esp32_ble_server/ble_service.h
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/esp32_improv/esp32_improv_component.h
  tests/test11.5.yaml
Labels: integration: esp32_ble_tracker, has-tests, integration: esp32_ble_server, integration: esp32_improv, integration: esp32_ble

#5632 ble_client rssi sensor fix when not connected
  esphome/components/ble_client/sensor/ble_rssi_sensor.cpp
  esphome/components/ble_client/sensor/ble_rssi_sensor.h
Labels: integration: ble_client, small-pr

#4718 Add Byron Doorbell RF protocol
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/byronsx_protocol.cpp
  esphome/components/remote_base/byronsx_protocol.h
Labels: integration: remote_base

#5681 Refactor dashboard zeroconf support
  esphome/dashboard/dashboard.py
  esphome/zeroconf.py
Labels: core, dashboard

#5684 Allow static assets to be cached if not in debug mode
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#5685 Remove extra code in old sgp40
  esphome/components/sgp40/sensor.py
Labels: small-pr, integration: sgp40

#5659 Allow pulse light effect to have separate on and off transition lengths
  esphome/components/light/base_light_effects.h
  esphome/components/light/effects.py
  tests/test1.yaml
Labels: integration: light, has-tests, core

#5562 Add differential pressure sensor support for CFSensor XGZP68xxD devices
  CODEOWNERS
  esphome/components/xgzp68xx/__init__.py
  esphome/components/xgzp68xx/sensor.py
  esphome/components/xgzp68xx/xgzp68xx.cpp
  esphome/components/xgzp68xx/xgzp68xx.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: xgzp68xx

#5673 Remove page jump on Nextion startup
  esphome/components/nextion/base_component.py
  esphome/components/nextion/display.py
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_commands.cpp
Labels: integration: nextion

#5669 [web_server] Adds the ability to handle Private Network Access preflight requests
  esphome/components/web_server/__init__.py
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/components/web_server_idf/web_server_idf.cpp
  esphome/components/web_server_idf/web_server_idf.h
  esphome/const.py
Labels: integration: web_server, core, integration: web_server_idf

#5686 Update esphome-dashboard to version 20231107.0
  requirements.txt
Labels: dependencies, small-pr

#3639 add wifi.on_connect and wifi.on_disconnect triggers
  esphome/components/wifi/__init__.py
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
  tests/test1.yaml
Labels: not-stale, integration: wifi, has-tests, core

#5687 Implement a memory cache for dashboard entries to avoid frequent disk reads
  esphome/dashboard/dashboard.py
Labels: core, dashboard

#5491 support spi for sn74hc595
  esphome/components/sn74hc595/__init__.py
  esphome/components/sn74hc595/sn74hc595.cpp
  esphome/components/sn74hc595/sn74hc595.h
  tests/test1.yaml
Labels: integration: sn74hc595, has-tests

#5691 Handle on_disconnect when Wi-Fi is disabled
  esphome/components/wifi/wifi_component.cpp
Labels: integration: wifi, core, small-pr

#5667 Nextion support to `esp-idf`
  esphome/components/nextion/display.py
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_commands.cpp
  esphome/components/nextion/nextion_upload_arduino.cpp
  esphome/components/nextion/nextion_upload_idf.cpp
Labels: integration: nextion

#5695 Handle nanoseconds in config
  esphome/config_validation.py
  esphome/core/__init__.py
  esphome/cpp_generator.py
  tests/unit_tests/test_core.py
Labels: has-tests, core

#5696 Fix esp32_rmt_led_strip custom timing units
  esphome/components/esp32_rmt_led_strip/light.py
Labels: breaking-change, small-pr, by-code-owner, integration: esp32_rmt_led_strip

#5700 Fix static assets cache logic
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#5703 Use piwheels for armv7 docker image builds
  docker/Dockerfile
  docker/build.py
Labels: small-pr

#5704 fix: Fix broken bluetooth_proxy and ble_clients after BLE enable/disable
  esphome/components/esp32_ble_client/ble_client_base.cpp
Labels: small-pr, integration: esp32_ble_client

#5707 2023.11.0b2
  docker/Dockerfile
  docker/build.py
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_rmt_led_strip/light.py
  esphome/config_validation.py
  esphome/const.py
  esphome/core/__init__.py
  esphome/cpp_generator.py
  esphome/dashboard/dashboard.py
  tests/unit_tests/test_core.py
Labels: merging-to-beta

#5706 Bump aioesphomeapi to 18.2.7
  requirements.txt
Labels: small-pr

#5709 Update Dockerfile to use piwheels for armv7
  docker/Dockerfile
  docker/build.py
Labels: small-pr

#5714 2023.11.0b3
  docker/Dockerfile
  docker/build.py
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#5718 Add resistance_sampler interface for config validation
  CODEOWNERS
  esphome/components/ntc/sensor.py
  esphome/components/resistance/resistance_sensor.h
  esphome/components/resistance/sensor.py
  esphome/components/resistance_sampler/__init__.py
  esphome/components/resistance_sampler/resistance_sampler.h
Labels: new-integration, needs-docs, integration: ntc, integration: resistance, integration: resistance_sampler

#5722 fix pin range for xl9535
  esphome/components/xl9535/__init__.py
  tests/test4.yaml
Labels: has-tests, small-pr, integration: xl9535

#5721 Speed up YAML by using YAML C loader when available
  esphome/yaml_util.py
Labels: core, small-pr

#5725 Fix zeroconf name resolution refactoring error
  esphome/zeroconf.py
Labels: core, small-pr

#5727 Missed ifdefs
  esphome/components/ld2420/ld2420.cpp
Labels: small-pr, by-code-owner, integration: ld2420

#5733 Migrate to using aioesphomeapi for the log runner to fix multiple issues
  esphome/components/api/client.py
Labels: integration: api, core

#5736 Bump zeroconf to 0.123.0
  requirements.txt
Labels: small-pr

#5731 Bump Arduino Pico Framework to 3.6.0 and Platform to 1.10.0
  esphome/components/rp2040/__init__.py
  platformio.ini
Labels: small-pr, integration: rp2040

#5737 2023.11.0b4
  CODEOWNERS
  esphome/components/api/client.py
  esphome/components/ld2420/ld2420.cpp
  esphome/components/ntc/sensor.py
  esphome/components/resistance/resistance_sensor.h
  esphome/components/resistance/sensor.py
  esphome/components/resistance_sampler/__init__.py
  esphome/components/resistance_sampler/resistance_sampler.h
  esphome/const.py
  esphome/zeroconf.py
  requirements.txt
Labels: merging-to-beta

#5738 Handle wake word not set up internally
  esphome/components/voice_assistant/voice_assistant.cpp
Labels: small-pr, by-code-owner, integration: voice_assistant

#5742 2023.11.0b5
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/const.py
Labels: merging-to-beta

#5744 Correct url for Arduino platform
  platformio.ini
Labels: small-pr

#5169 remote_base: added helper class and schemas
  esphome/components/climate_ir/__init__.py
  esphome/components/climate_ir/climate_ir.h
  esphome/components/coolix/coolix.cpp
  esphome/components/heatpumpir/ir_sender_esphome.h
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/midea_protocol.h
  esphome/components/remote_base/rc_switch_protocol.h
  esphome/components/remote_base/remote_base.h
  tests/test1.yaml
Labels: integration: climate_ir, integration: coolix, integration: remote_base, has-tests, integration: heatpumpir

#5741 dashboard: remove usage of codecs module
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#5740 dashboard: Run get_serial_ports in the executor
  esphome/dashboard/dashboard.py
Labels: core, small-pr, dashboard

#5697 Generate partitions.csv based on flash size
  esphome/components/esp32/__init__.py
Labels: integration: esp32

#5750 2023.11.0b6
  esphome/components/esp32/__init__.py
  esphome/const.py
  esphome/dashboard/dashboard.py
Labels: merging-to-beta

#5754 Allow setup to continue past mqtt if network/wifi is disabled
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/network/util.cpp
  esphome/components/network/util.h
Labels: integration: mqtt, integration: network, core, small-pr

#5755 Dont dump wifi info when disabled
  esphome/components/wifi/wifi_component.cpp
Labels: integration: wifi, core, small-pr

#5751 Make precommit checks happy
  script/bump-version.py
  tests/unit_tests/test_cpp_generator.py
  tests/unit_tests/test_cpp_helpers.py
Labels: has-tests, core, small-pr

#5756 2023.11.0b7
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/network/util.cpp
  esphome/components/network/util.h
  esphome/components/wifi/wifi_component.cpp
  esphome/const.py
Labels: merging-to-beta

#5724 dashboard: Use mdns cache when available if device connection is OTA
  esphome/dashboard/async_adapter.py
  esphome/dashboard/dashboard.py
  esphome/zeroconf.py
Labels: core, dashboard

#5720 Speed up OTAs
  esphome/espota2.py
Labels: core, small-pr

#5749 dashboard: convert ping thread to use asyncio
  esphome/dashboard/async_adapter.py
  esphome/dashboard/dashboard.py
  esphome/dashboard/util.py
Labels: core, dashboard

#5764 dashboard: Break apart dashboard into separate modules
  esphome/dashboard/async_adapter.py
  esphome/dashboard/core.py
  esphome/dashboard/dashboard.py
  esphome/dashboard/entries.py
  esphome/dashboard/settings.py
  esphome/dashboard/status/__init__.py
  esphome/dashboard/status/mdns.py
  esphome/dashboard/status/mqtt.py
  esphome/dashboard/status/ping.py
Labels: core, dashboard

#5770 dashboard: split dashboard web server code into its own module
  esphome/__main__.py
  esphome/dashboard/dashboard.py
  esphome/dashboard/settings.py
  esphome/dashboard/web_server.py
Labels: core, dashboard

#5772 dashboard: fix subprocesses blocking the event loop
  esphome/dashboard/settings.py
  esphome/dashboard/status/ping.py
  esphome/dashboard/util.py
  esphome/dashboard/util/__init__.py
  esphome/dashboard/util/itertools.py
  esphome/dashboard/util/password.py
  esphome/dashboard/util/subprocess.py
  esphome/dashboard/util/text.py
  esphome/dashboard/web_server.py
Labels: core, dashboard

#5771 dashboard: use fastest available yaml loader in the dashboard
  esphome/dashboard/web_server.py
Labels: core, small-pr, dashboard

#5774 dashboard: Centralize dashboard entries into DashboardEntries class
  esphome/dashboard/core.py
  esphome/dashboard/entries.py
  esphome/dashboard/settings.py
  esphome/dashboard/status/mdns.py
  esphome/dashboard/status/mqtt.py
  esphome/dashboard/status/ping.py
  esphome/dashboard/web_server.py
Labels: core, dashboard

#5762 Add more VA triggers
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
Labels: integration: voice_assistant

#5759 Pass the name to the log runner when available
  esphome/components/api/client.py
Labels: integration: api, core, small-pr

#5765 Fix MY9231 flicker
  esphome/components/my9231/my9231.cpp
  esphome/components/my9231/my9231.h
Labels: integration: my9231, small-pr, bugfix

#5166 Add proper support for SH1107 to SSD1306 component
  esphome/components/ssd1306_base/__init__.py
  esphome/components/ssd1306_base/ssd1306_base.cpp
  esphome/components/ssd1306_base/ssd1306_base.h
  esphome/components/ssd1306_i2c/ssd1306_i2c.cpp
  esphome/components/ssd1306_spi/ssd1306_spi.cpp
Labels: breaking-change, integration: ssd1306_base, integration: ssd1306_i2c, integration: ssd1306_spi, merge-after-release

#5723 Split release workflow jobs per system arch
  .github/actions/build-image/action.yaml
  .github/workflows/release.yml
  docker/generate_tags.py
Labels: small-pr, merge-after-release

#5776 2023.11.1
  esphome/components/my9231/my9231.cpp
  esphome/components/my9231/my9231.h
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/const.py
Labels: merging-to-release

#5781 fix 32-bit arm
  docker/Dockerfile
Labels: small-pr

#5785 Bump aioesphomeapi to 18.5.3
  requirements.txt
Labels: small-pr

#5783 Refactor log api client to let aioesphomeapi manage zeroconf
  esphome/components/api/client.py
Labels: integration: api, core, small-pr

#5775 dashboard: Add support for firing events
  esphome/dashboard/const.py
  esphome/dashboard/core.py
  esphome/dashboard/entries.py
  esphome/dashboard/enum.py
  esphome/dashboard/status/mdns.py
  esphome/dashboard/status/mqtt.py
  esphome/dashboard/status/ping.py
  esphome/dashboard/web_server.py
Labels: core, dashboard

#5779 Add 2MB option for partitions.csv generation and restore use of user-defined partitions
  esphome/components/esp32/__init__.py
Labels: integration: esp32

#5787 2023.11.2
  docker/Dockerfile
  esphome/components/esp32/__init__.py
  esphome/const.py
  requirements.txt
Labels: merging-to-release

#5789 dashboard: Ensure disk I/O happens in the executor
  esphome/dashboard/settings.py
  esphome/dashboard/util/file.py
  esphome/dashboard/web_server.py
  tests/dashboard/__init__.py
  tests/dashboard/util/__init__.py
  tests/dashboard/util/test_file.py
Labels: has-tests, core, dashboard

#5790 dashboard: Add lookup by name to entries
  esphome/dashboard/entries.py
  esphome/dashboard/status/mdns.py
  esphome/dashboard/web_server.py
Labels: core, dashboard

#5793 Refactor StorageJSON to keep loaded_integrations a set until its converted to JSON
  esphome/dashboard/entries.py
  esphome/storage_json.py
Labels: core, dashboard

#5649 wifi: Don't build SoftAP/DHCPS support unless 'ap' is in config.
  esphome/components/wifi/__init__.py
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/components/wifi/wifi_component_libretiny.cpp
  esphome/components/wifi/wifi_component_pico_w.cpp
  esphome/core/defines.h
Labels: integration: wifi, core

#5796 ssd1306: handle V_COM differently for SH1106
  esphome/components/ssd1306_base/ssd1306_base.cpp
Labels: integration: ssd1306_base, small-pr

#5809 include payload_open when a lock supports OPEN
  esphome/components/mqtt/mqtt_lock.cpp
Labels: integration: mqtt, core, small-pr

#5791 dashboard: Fix online status when api is disabled
  esphome/dashboard/dashboard.py
  esphome/zeroconf.py
Labels: dashboard, merging-to-release

#5792 dashboard: Fix online status when api is disabled
  esphome/dashboard/status/mdns.py
  esphome/zeroconf.py
Labels: core, small-pr, dashboard

#5808 fix: compile errors with fonts
  docker/Dockerfile
Labels: small-pr

#5713 Haier component updated to support new protocol variations
  esphome/components/haier/climate.py
  esphome/components/haier/haier_base.cpp
  esphome/components/haier/haier_base.h
  esphome/components/haier/hon_climate.cpp
  esphome/components/haier/hon_climate.h
  esphome/components/haier/hon_packet.h
  esphome/components/haier/smartair2_climate.cpp
  esphome/components/haier/smartair2_climate.h
  esphome/components/haier/smartair2_packet.h
  platformio.ini
Labels: by-code-owner, integration: haier

#5797 Early return when there are no wifi scan results
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: integration: wifi, core, small-pr

#5816 2023.11.3
  docker/Dockerfile
  esphome/components/mqtt/mqtt_lock.cpp
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/const.py
Labels: merging-to-release

#4901 sen5x fix temperature compensation and gas tuning
  esphome/components/sen5x/sen5x.cpp
  esphome/components/sen5x/sen5x.h
  esphome/components/sen5x/sensor.py
Labels: breaking-change, bugfix, integration: sen5x

#5327 Add startup_delay to interval.
  esphome/components/interval/__init__.py
  esphome/components/interval/interval.h
  tests/test2.yaml
Labels: integration: interval, has-tests, core, small-pr

#5214 Allow images to be downloaded from URLs
  docker/Dockerfile
  esphome/components/image/__init__.py
  esphome/external_files.py
  requirements.txt
  tests/test2.yaml
Labels: integration: image, has-tests, core

#5815 Pillow: bump to 10.1.0
  esphome/components/font/__init__.py
  requirements_optional.txt
Labels: integration: font, core, small-pr

#5823 2023.11.4
  docker/Dockerfile
  esphome/components/image/__init__.py
  esphome/const.py
  esphome/external_files.py
  requirements.txt
  tests/test2.yaml
Labels: merging-to-release

#5802 dashboard: set nodelay on the websocket to avoid a delay seeing log messages
  esphome/dashboard/web_server.py
Labels: core, small-pr, dashboard

#5810 Ensure names containing characters other than `a-z` `A-Z` `0-9` or `_` are unique
  esphome/core/helpers.cpp
  esphome/helpers.py
  tests/unit_tests/test_helpers.py
Labels: breaking-change, has-tests, core, small-pr

#4243 Add ENS160 Sensor
  CODEOWNERS
  esphome/components/ens160/__init__.py
  esphome/components/ens160/ens160.cpp
  esphome/components/ens160/ens160.h
  esphome/components/ens160/sensor.py
  tests/test3.1.yaml
  tests/test3.yaml
Labels: new-integration, has-tests, integration: ens160

#5717 Run all tests when local testing.
  script/test
Labels: core, small-pr

#5831 Allow split uart pin inversion for ESP-IDF
  esphome/components/uart/__init__.py
  tests/test5.yaml
Labels: integration: uart, has-tests, core, small-pr

#5825 Add `is_detected()` for Nextion displays
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion_base.h
Labels: integration: nextion, small-pr

#5826 Add 'enable_at_startup' feature to power_supply
  esphome/components/power_supply/__init__.py
  esphome/components/power_supply/power_supply.cpp
  esphome/components/power_supply/power_supply.h
  tests/test1.1.yaml
Labels: integration: power_supply, has-tests, core, small-pr

#5827 Voice Assistant improvements
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  esphome/components/speaker/speaker.h
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
Labels: by-code-owner, integration: i2s_audio, integration: voice_assistant, integration: speaker

#5842 mcp3008: Tidy up and fix auto load bug
  esphome/components/mcp3008/mcp3008.cpp
  esphome/components/mcp3008/mcp3008.h
  esphome/components/mcp3008/sensor.py
  esphome/components/mcp3008/sensor/__init__.py
  esphome/components/mcp3008/sensor/mcp3008_sensor.cpp
  esphome/components/mcp3008/sensor/mcp3008_sensor.h
Labels: breaking-change, integration: mcp3008, bugfix, new-platform

#4027 Create GT911 Touchscreen component
  CODEOWNERS
  esphome/components/gt911/__init__.py
  esphome/components/gt911/binary_sensor/__init__.py
  esphome/components/gt911/binary_sensor/gt911_button.cpp
  esphome/components/gt911/binary_sensor/gt911_button.h
  esphome/components/gt911/touchscreen/__init__.py
  esphome/components/gt911/touchscreen/gt911_touchscreen.cpp
  esphome/components/gt911/touchscreen/gt911_touchscreen.h
  esphome/components/touchscreen/touchscreen.cpp
  esphome/components/touchscreen/touchscreen.h
  tests/test4.yaml
Labels: new-integration, not-stale, has-tests, by-code-owner, integration: touchscreen, integration: gt911

#5845 Add 'voice_assistant.connected' condition
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.h
Labels: small-pr, by-code-owner, integration: voice_assistant

#5837 Nextion - Standardizing log messages
  esphome/components/nextion/nextion.cpp
Labels: integration: nextion, small-pr

#5841 dashboard: Small cleanups to dashboard
  esphome/dashboard/entries.py
  esphome/dashboard/settings.py
  esphome/dashboard/web_server.py
Labels: core, dashboard

#4688 Pylontech integration (solar battery bank)
  CODEOWNERS
  esphome/components/pylontech/__init__.py
  esphome/components/pylontech/pylontech.cpp
  esphome/components/pylontech/pylontech.h
  esphome/components/pylontech/sensor/__init__.py
  esphome/components/pylontech/sensor/pylontech_sensor.cpp
  esphome/components/pylontech/sensor/pylontech_sensor.h
  esphome/components/pylontech/text_sensor/__init__.py
  esphome/components/pylontech/text_sensor/pylontech_text_sensor.cpp
  esphome/components/pylontech/text_sensor/pylontech_text_sensor.h
  tests/test4.yaml
Labels: new-integration, has-tests, integration: pylontech

#5846 2023.11.5
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  esphome/components/remote_base/remote_base.cpp
  esphome/components/speaker/speaker.h
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/const.py
Labels: merging-to-release

#5847 Fix write_speaker without speaker in config
  esphome/components/voice_assistant/voice_assistant.cpp
Labels: small-pr, by-code-owner, integration: voice_assistant

#5848 2023.11.6
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/const.py
Labels: merging-to-release

#5239 Implement deep sleep and clear screen on Waveshare 7.5in B V3
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper, small-pr

#5838 Fix ESP-IDF uart initialisation sequence to match Espressif docs.
  esphome/components/uart/uart_component_esp_idf.cpp
Labels: integration: uart, core, small-pr

#5824 Nextion - Align strings on `dump_config`
  esphome/components/nextion/nextion.cpp
Labels: integration: nextion, small-pr

#5406 Speed up (and fix) ili9xxx display component.
  esphome/components/ili9xxx/display.py
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
  esphome/components/ili9xxx/ili9xxx_init.h
  tests/test1.yaml
Labels: has-tests, integration: ili9xxx

#5851 Fix regex for 'byte' custom CI check
  script/ci-custom.py
Labels: core, small-pr

#5849 Pass through additional arguments to create number
  esphome/components/number/__init__.py
Labels: small-pr, integration: number

#5833 Nextion `on_touch` trigger
  esphome/components/nextion/automation.h
  esphome/components/nextion/display.py
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
Labels: integration: nextion

#5699 Nextion colors parameters
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_base.h
  esphome/components/nextion/nextion_commands.cpp
  esphome/components/nextion/nextion_component.cpp
Labels: breaking-change, integration: nextion

#5807 dashboard: fix supervisor auth doing I/O in the event loop
  esphome/dashboard/web_server.py
Labels: core, dashboard

#5683 Improve reliability of Nextion TFT uploads (Arduino)
  esphome/components/nextion/nextion_upload_arduino.cpp
Labels: integration: nextion

#5798 Add Pro Check Universal sensor support.
  esphome/components/mopeka_pro_check/mopeka_pro_check.cpp
  esphome/components/mopeka_pro_check/mopeka_pro_check.h
Labels: small-pr, by-code-owner, integration: mopeka_pro_check

#5191 Pn532 non blocking scan
  esphome/components/pn532/pn532.cpp
  esphome/components/pn532/pn532.h
  esphome/components/pn532_i2c/pn532_i2c.cpp
  esphome/components/pn532_i2c/pn532_i2c.h
  esphome/components/pn532_spi/pn532_spi.cpp
  esphome/components/pn532_spi/pn532_spi.h
Labels: integration: pn532, integration: pn532_i2c, integration: pn532_spi

#5834 Add Chamberlain/HomEntry HE60R garage door opener
  CODEOWNERS
  esphome/components/he60r/__init__.py
  esphome/components/he60r/cover.py
  esphome/components/he60r/he60r.cpp
  esphome/components/he60r/he60r.h
  tests/test4.yaml
Labels: new-integration, has-tests, integration: he60r
