Repository esphome/esphome, pull requests merged in 2023-03, with the labels that each got.

#4507 Add int16 to codegen
  esphome/codegen.py
  esphome/cpp_types.py
Labels: core, small-pr

#4514 Update __init__.py
  esphome/components/remote_base/__init__.py
Labels: integration: remote_base, small-pr

#4506 Remove idf components before checking if any in config
  esphome/components/esp32/__init__.py
  esphome/git.py
Labels: core, small-pr, integration: esp32

#4161 substitutions: Don't warn when passwords look like a substitution
  esphome/components/substitutions/__init__.py
Labels: integration: substitutions, small-pr

#4515 Fix typo
  esphome/core/macros.h
Labels: core, small-pr

#4475 implement pairing for bluetooth proxy
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/bluetooth_proxy/bluetooth_connection.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
Labels: integration: api, core, integration: bluetooth_proxy, integration: esp32_ble_client

#4526 Bump docker dependencies
  docker/Dockerfile
Labels: small-pr

#4523 Ensure component is ready before update.
  esphome/core/base_automation.h
  esphome/core/component.cpp
  esphome/core/component.h
Labels: core, small-pr

#4511 climate: add on_control callbacks
  esphome/components/climate/__init__.py
  esphome/components/climate/automation.h
  esphome/components/climate/climate.cpp
  esphome/components/climate/climate.h
  esphome/const.py
  tests/test1.yaml
Labels: integration: climate, has-tests, core, small-pr

#4502 FS3000 sensor
  CODEOWNERS
  esphome/components/fs3000/__init__.py
  esphome/components/fs3000/fs3000.cpp
  esphome/components/fs3000/fs3000.h
  esphome/components/fs3000/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: fs3000

#3550 Add support for multiple devices in bme680_bsec
  esphome/components/bme680_bsec/__init__.py
  esphome/components/bme680_bsec/bme680_bsec.cpp
  esphome/components/bme680_bsec/bme680_bsec.h
Labels: integration: bme680_bsec

#4519 Add absolute humidity component
  CODEOWNERS
  esphome/components/absolute_humidity/__init__.py
  esphome/components/absolute_humidity/absolute_humidity.cpp
  esphome/components/absolute_humidity/absolute_humidity.h
  esphome/components/absolute_humidity/sensor.py
  esphome/const.py
  tests/test1.yaml
Labels: new-integration, has-tests, core, integration: absolute_humidity

#4529 Add ability to await safe mode in codegen
  esphome/codegen.py
  esphome/components/ota/__init__.py
  esphome/const.py
  esphome/cpp_helpers.py
Labels: integration: ota, core, small-pr

#4457 sn74hc165 fixes
  esphome/components/sn74hc165/sn74hc165.cpp
Labels: small-pr, by-code-owner, integration: sn74hc165

#4331 Add AS7341 spectral color sensor
  CODEOWNERS
  esphome/components/as7341/__init__.py
  esphome/components/as7341/as7341.cpp
  esphome/components/as7341/as7341.h
  esphome/components/as7341/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: as7341

#4486 Use PSRam for BLE scan results.
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: esp32_ble_tracker, small-pr

#4528 Bump esp-idf to 4.4.4
  esphome/components/esp32/__init__.py
  platformio.ini
Labels: small-pr, integration: esp32

#4481 Added pzemdc reset energy action
  esphome/components/pzemdc/pzemdc.cpp
  esphome/components/pzemdc/pzemdc.h
  esphome/components/pzemdc/sensor.py
  tests/test3.yaml
Labels: integration: pzemdc, has-tests

#4307 Fix ethernet clk_mode for GPIO0_OUT
  esphome/components/ethernet/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
Labels: integration: ethernet, core, small-pr

#4114 Add ESP32-S3 support in NeoPixelBus component
  esphome/components/neopixelbus/_methods.py
  esphome/components/neopixelbus/light.py
  platformio.ini
Labels: stale, integration: neopixelbus, small-pr

#4534 Drop unused, broken logging macros
  esphome/core/log.h
Labels: core, small-pr

#4538 Mark unique_id() virtual method as deprecated
  esphome/components/sensor/sensor.h
  esphome/components/text_sensor/text_sensor.h
Labels: integration: sensor, integration: text_sensor, core, small-pr

#4539 Drop deprecated entity property base methods
  esphome/components/binary_sensor/binary_sensor.cpp
  esphome/components/binary_sensor/binary_sensor.h
  esphome/components/cover/cover.cpp
  esphome/components/cover/cover.h
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
Labels: integration: binary_sensor, integration: cover, integration: sensor, core, small-pr

#4516 Revert storing Font glyphs in manually-allocated memory
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
Labels: integration: display, core, small-pr

#4498 Correct BME680 gas calculation and heater_off
  esphome/components/bme680/bme680.cpp
  esphome/components/bme680/bme680.h
Labels: integration: bme680

#4541 Format test files
  tests/test1.yaml
  tests/test2.yaml
  tests/test3.yaml
  tests/test4.yaml
  tests/test5.yaml
  tests/test6.yaml
  tests/test8.yaml
Labels: has-tests, small-pr

#4546 Add support for new mpu6050 clones responding with 0x70 address
  esphome/components/mpu6050/mpu6050.cpp
Labels: integration: mpu6050, small-pr

#4547 Add carbon dioxide device class to scd30 sensor schema.
  esphome/components/scd30/sensor.py
Labels: integration: scd30, small-pr

#4493 Feat: add support for hex color in color component
  esphome/components/color/__init__.py
  tests/test1.yaml
Labels: integration: color, has-tests

#4550 Allow AUTO_LOAD to be a function
  esphome/loader.py
Labels: core, small-pr

#4551 On the ILI9xxx display's enable the psram on esp32 and allow big screen
  esphome/components/ili9xxx/display.py
Labels: small-pr, by-code-owner, integration: ili9xxx

#4552 Map gpio pins for touch on esp32-s2/s3
  esphome/components/esp32_touch/binary_sensor.py
Labels: integration: esp32_touch

#4553 2023.3.0b3
  esphome/components/color/__init__.py
  esphome/components/esp32_touch/binary_sensor.py
  esphome/components/ili9xxx/display.py
  esphome/components/mpu6050/mpu6050.cpp
  esphome/components/scd30/sensor.py
  esphome/const.py
  esphome/loader.py
  tests/test1.yaml
Labels: merging-to-beta

#4165 pipsolar component. Correct the sscanf format for QPIG command parsin…
  esphome/components/pipsolar/pipsolar.cpp
  esphome/components/pipsolar/pipsolar.h
Labels: small-pr, integration: pipsolar

#4557 Add state class back to uptime sensor
  esphome/components/uptime/sensor.py
Labels: integration: uptime, small-pr

#4549 Added response for Tuya RSSI command
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
Labels: integration: tuya, small-pr

#4559 2023.3.0b4
  esphome/components/pipsolar/pipsolar.cpp
  esphome/components/pipsolar/pipsolar.h
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
  esphome/components/uptime/sensor.py
  esphome/const.py
Labels: merging-to-beta

#4563 Remove switch actions during config; bump setup priority
  esphome/components/sprinkler/sprinkler.cpp
  esphome/components/sprinkler/sprinkler.h
Labels: small-pr, by-code-owner, integration: sprinkler

#4562 Mark esp32_touch supported only on standard esp32 variant
  esphome/components/esp32_touch/__init__.py
Labels: integration: esp32_touch

#4564 2023.3.0b5
  esphome/components/esp32_touch/__init__.py
  esphome/components/sprinkler/sprinkler.cpp
  esphome/components/sprinkler/sprinkler.h
  esphome/const.py
Labels: merging-to-beta

#4565 fixing `shrink` and `extend` functions of the displaybuffer's Rect class
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
Labels: integration: display, core, small-pr

#4567 2023.3.0b6
  esphome/components/display/display_buffer.cpp
  esphome/components/display/display_buffer.h
  esphome/const.py
Labels: merging-to-beta

#4566 EntityBase: Icon string can stay in flash.
  esphome/core/entity_base.cpp
  esphome/core/entity_base.h
Labels: core, small-pr

#4391 Update the delta filter to be able to take a percentage change
  esphome/components/sensor/__init__.py
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
  esphome/config_validation.py
  tests/test1.yaml
Labels: integration: sensor, has-tests, core, small-pr

#4560 Added missing PM_1_0 and PM_10_0 for PMS5003T and PMS5003ST
  esphome/components/pmsx003/pmsx003.cpp
  esphome/components/pmsx003/sensor.py
  tests/test3.yaml
Labels: integration: pmsx003, has-tests

#4556 Add an option to force SPI into software mode
  esphome/components/spi/__init__.py
  esphome/components/spi/spi.cpp
  esphome/components/spi/spi.h
Labels: integration: spi, core, small-pr

#4532 allow using a binary output for the status led
  esphome/components/status_led/light/__init__.py
  esphome/components/status_led/light/status_led_light.cpp
  esphome/components/status_led/light/status_led_light.h
Labels: integration: status_led, core

#4555 Add option flip_x
  esphome/components/max7219digit/display.py
  esphome/components/max7219digit/max7219digit.cpp
  esphome/components/max7219digit/max7219digit.h
Labels: integration: max7219digit, small-pr

#4583 Fix compile error on pzemdc.h
  esphome/components/pzemdc/pzemdc.h
Labels: integration: pzemdc, small-pr

#4573 climate: brown paper bag fix for on_configure
  esphome/components/climate/__init__.py
Labels: integration: climate, core, small-pr

#4576 Verbose output of define.
  esphome/core/__init__.py
Labels: core, small-pr

#4580 Add support for ESP32 CAM 3MP and 5MP resolutions and arbitrary camera clock.
  esphome/components/esp32_camera/__init__.py
  esphome/components/esp32_camera/esp32_camera.cpp
  esphome/components/esp32_camera/esp32_camera.h
Labels: integration: esp32_camera

#4582 Add a simple 'skip_initial' filter
  esphome/components/sensor/__init__.py
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
Labels: integration: sensor, core

#4587 Fix outdated filter string in platformio_api
  esphome/platformio_api.py
Labels: core, small-pr

#4591 Split test3.yaml
  .github/workflows/ci.yml
  tests/test3.1.yaml
  tests/test3.yaml
Labels: has-tests, small-pr

#4446 Disallow uart0/1/2 as ids in config
  esphome/config_validation.py
  tests/test1.yaml
  tests/test3.yaml
  tests/test5.yaml
Labels: breaking-change, has-tests, core, small-pr

#4222 B/W support for GooDisplay GDEY029T94 (as used on Adafruit MagTag)
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper

#4236 Fix negative sqrt root in ct_clamp_sensor.cpp
  esphome/components/ct_clamp/ct_clamp_sensor.cpp
Labels: integration: ct_clamp, small-pr

#4574 Wrap ipv6 code a bit more
  esphome/components/api/api_server.cpp
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/network/__init__.py
  esphome/components/ota/ota_component.cpp
  esphome/components/socket/bsd_sockets_impl.cpp
  esphome/components/socket/headers.h
  esphome/components/socket/socket.cpp
  esphome/components/socket/socket.h
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: integration: api, integration: ethernet, integration: mqtt, integration: network, integration: ota, integration: wifi, core, integration: socket

#4602 rp2040: Use fake Mutex lock
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: core, small-pr

#4609 2023.3.1
  esphome/components/climate/__init__.py
  esphome/const.py
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: merging-to-release

#4606 Remove EntityBase from sprinkler
  esphome/components/sprinkler/__init__.py
  esphome/components/sprinkler/sprinkler.cpp
  esphome/components/sprinkler/sprinkler.h
Labels: small-pr, integration: sprinkler

#4610 Swap curly brackets for round on LockGuard
  esphome/core/helpers.h
Labels: core, small-pr

#4608 Fix animation resizing
  esphome/components/animation/__init__.py
Labels: small-pr, integration: animation

#4592 Fix wrong port multiplexer name in dump GPIO function of sx1509
  esphome/components/sx1509/sx1509_gpio_pin.cpp
Labels: integration: sx1509, small-pr

#4604 Limit range on filter time period for remote_receiver
  esphome/components/remote_receiver/__init__.py
Labels: integration: remote_receiver, small-pr

#4545 add select_schema to select component
  esphome/components/copy/select/__init__.py
  esphome/components/modbus_controller/select/__init__.py
  esphome/components/select/__init__.py
  esphome/components/template/select/__init__.py
  esphome/components/tuya/select/__init__.py
Labels: integration: template, integration: tuya, core, integration: modbus_controller, integration: select, integration: copy

#4621 Add ability to clear the gatt cache
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
Labels: integration: api, core, integration: bluetooth_proxy

#4613 SX1509 minimum loop period (fixes esphome/issues#4325)
  esphome/components/sx1509/sx1509.cpp
  esphome/components/sx1509/sx1509.h
Labels: integration: sx1509, small-pr

#4622 Require step to be set when calling register_number
  esphome/components/number/__init__.py
Labels: breaking-change, small-pr, integration: number

#4619 Lower range of CONF_FREQUENCY
  esphome/components/esp32_camera/__init__.py
Labels: integration: esp32_camera, small-pr

#4607 Allow entity names to be set to None
  esphome/components/api/api_connection.cpp
  esphome/components/esp32_improv/__init__.py
  esphome/config_validation.py
  esphome/core/entity_base.cpp
  esphome/core/entity_base.h
Labels: integration: api, core, by-code-owner, integration: esp32_improv

#4616 Fix platform restriction for bme680_bsec
  esphome/components/bme680_bsec/__init__.py
Labels: small-pr, integration: bme680_bsec

#4623 2023.3.2
  esphome/components/animation/__init__.py
  esphome/components/pzemdc/pzemdc.h
  esphome/components/sx1509/sx1509.cpp
  esphome/components/sx1509/sx1509.h
  esphome/const.py
  esphome/core/helpers.h
Labels: merging-to-release

#4593 Fix EzoCommandType enum
  esphome/components/ezo/ezo.h
Labels: small-pr, integration: ezo

#4594 `EntityBase` Name can stay in flash.
  esphome/components/button/button.cpp
  esphome/components/button/button.h
  esphome/components/climate/climate.cpp
  esphome/components/climate/climate.h
  esphome/components/cover/cover.cpp
  esphome/components/cover/cover.h
  esphome/components/esp32_camera/esp32_camera.cpp
  esphome/components/esp32_camera/esp32_camera.h
  esphome/components/fan/fan.cpp
  esphome/components/fan/fan.h
  esphome/components/fan/fan_state.h
  esphome/components/light/light_state.cpp
  esphome/components/light/light_state.h
  esphome/components/lock/lock.cpp
  esphome/components/lock/lock.h
  esphome/components/partition/light.py
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
  esphome/components/switch/switch.cpp
  esphome/components/switch/switch.h
  esphome/components/text_sensor/text_sensor.cpp
  esphome/components/text_sensor/text_sensor.h
  esphome/core/entity_base.cpp
  esphome/core/entity_base.h
  esphome/core/string_ref.cpp
  esphome/core/string_ref.h
Labels: integration: climate, integration: cover, integration: esp32_camera, integration: fan, integration: light, integration: partition, integration: sensor, integration: switch, integration: text_sensor, core, integration: button, integration: lock

#4620 feat: Add support to unsubscribe from BLE advertisements
  esphome/components/api/api.proto
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
Labels: integration: api, core

#4569 EntityBase: Move ObjectId to Flash
  esphome/core/entity_base.cpp
  esphome/core/entity_base.h
  esphome/cpp_helpers.py
  esphome/helpers.py
  tests/unit_tests/test_helpers.py
Labels: has-tests, core

#4629 Add workflow to sync device classes with HA dev
  .github/workflows/sync-device-classes.yml
Labels: small-pr

#4630 Remove AUTO_LOAD from as3935
  esphome/components/as3935/__init__.py
  esphome/components/as3935/as3935.cpp
  esphome/components/as3935/as3935.h
Labels: integration: as3935, small-pr

#4634 Add ifdef to new bt proxy unsubscribe
  esphome/components/api/api.proto
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
Labels: integration: api, core

#4628 add bluetooth mac address in dump_config()
  esphome/components/esp32_ble/ble.cpp
Labels: small-pr, integration: esp32_ble

#4636 Binary map bugfixes
  esphome/components/binary_sensor_map/binary_sensor_map.cpp
  esphome/components/binary_sensor_map/sensor.py
Labels: integration: binary_sensor_map, small-pr

#4637 entity_base avoid padding bytes.
  esphome/core/entity_base.h
Labels: core, small-pr

#4638 Avoid sensor padding.
  esphome/components/sensor/sensor.h
Labels: integration: sensor, core, small-pr

#4465 Support advanced UART customization
  esphome/components/uart/uart_component_esp32_arduino.cpp
  esphome/components/uart/uart_component_esp32_arduino.h
  esphome/components/uart/uart_component_esp_idf.cpp
  esphome/components/uart/uart_component_esp_idf.h
  esphome/components/uart/uart_component_rp2040.h
Labels: integration: uart, core, small-pr

#4240 Log calibration results at level INFO
  esphome/components/senseair/senseair.cpp
Labels: stale, integration: senseair, small-pr
