Repository esphome/esphome, pull requests merged in 2023-12, with the labels that each got.

#5865 Fix un-initialized version string
  esphome/components/ld2420/ld2420.h
Labels: small-pr, by-code-owner, integration: ld2420

#5882 fix a01nyub data reading
  esphome/components/a01nyub/a01nyub.cpp
Labels: small-pr, integration: a01nyub

#5887 Security improvement: Support wifi ap_timeout=0s (disable)
  esphome/components/wifi/wifi_component.cpp
Labels: integration: wifi, core, small-pr

#5852 Suppress full config output of "esphome config" when -q option is used.
  esphome/__main__.py
  esphome/core/__init__.py
  esphome/log.py
Labels: core, small-pr

#5666 Checks for pins used in multiple places
  esphome/components/adc/__init__.py
  esphome/components/esp32/gpio.py
  esphome/components/esp8266/gpio.py
  esphome/components/host/gpio.py
  esphome/components/i2c/__init__.py
  esphome/components/libretiny/gpio.py
  esphome/components/max6956/__init__.py
  esphome/components/mcp23016/__init__.py
  esphome/components/mcp23xxx_base/__init__.py
  esphome/components/pca9554/__init__.py
  esphome/components/pcf8574/__init__.py
  esphome/components/rp2040/gpio.py
  esphome/components/sn74hc595/__init__.py
  esphome/config.py
  esphome/const.py
  esphome/core/__init__.py
  esphome/pins.py
  esphome/util.py
  tests/test1.1.yaml
  tests/test1.yaml
  tests/test11.5.yaml
  tests/test2.yaml
  tests/test3.1.yaml
  tests/test3.yaml
  tests/test4.yaml
  tests/test5.yaml
  tests/test8.yaml
Labels: breaking-change, integration: adc, integration: i2c, integration: mcp23016, integration: pcf8574, integration: sn74hc595, has-tests, core, by-code-owner, integration: mcp23xxx_base, integration: host, integration: esp32, integration: esp8266, integration: rp2040, integration: max6956, integration: pca9554, integration: libretiny

#5876 Nextion support to idf with `cinttypes`
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion_commands.cpp
  esphome/components/nextion/nextion_upload_idf.cpp
Labels: integration: nextion, small-pr

#5890 Fix test4.yaml after #5666
  tests/test4.yaml
Labels: has-tests, small-pr

#5881 Fix template text component length check
  esphome/components/template/text/__init__.py
Labels: integration: template, core, small-pr

#5873 RC522 - Fix error counter error
  esphome/components/rc522/rc522.cpp
Labels: small-pr, integration: rc522

#5821 feat(packages): support removing components
  .devcontainer/devcontainer.json
  esphome/config.py
  esphome/config_helpers.py
  esphome/config_validation.py
  esphome/yaml_util.py
  tests/component_tests/packages/test_packages.py
Labels: has-tests, core

#5870 dashboard: Add some basic tests for the dashboard
  tests/dashboard/common.py
  tests/dashboard/fixtures/conf/pico.yaml
  tests/dashboard/test_web_server.py
Labels: has-tests, small-pr

#5868 Nextion exit reparse mode on startup
  esphome/components/nextion/base_component.py
  esphome/components/nextion/display.py
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_commands.cpp
Labels: integration: nextion

#5864 Add framework info to Nextion log tags
  esphome/components/nextion/nextion_upload_arduino.cpp
  esphome/components/nextion/nextion_upload_idf.cpp
Labels: integration: nextion, small-pr

#5897 Handle case where using enetity level name: None with MQTT
  esphome/components/mqtt/mqtt_component.cpp
Labels: integration: mqtt, core, small-pr

#5908 Fix 18 bit displays.
  esphome/components/ili9xxx/ili9xxx_display.h
Labels: small-pr, by-code-owner, integration: ili9xxx

#5907 fix RGBW Mode on RP2040
  esphome/components/rp2040_pio_led_strip/led_strip.cpp
Labels: small-pr, integration: rp2040_pio_led_strip

#4105 Add graphical display menu
  CODEOWNERS
  esphome/components/display/display.cpp
  esphome/components/display/display.h
  esphome/components/display_menu_base/display_menu_base.cpp
  esphome/components/display_menu_base/display_menu_base.h
  esphome/components/display_menu_base/menu_item.cpp
  esphome/components/display_menu_base/menu_item.h
  esphome/components/graphical_display_menu/__init__.py
  esphome/components/graphical_display_menu/graphical_display_menu.cpp
  esphome/components/graphical_display_menu/graphical_display_menu.h
  esphome/core/defines.h
  tests/test1.yaml
Labels: new-integration, integration: display, has-tests, core, integration: display_menu_base, integration: graphical_display_menu

#4860 Added on_image callback to ESP32 Cam
  esphome/components/esp32_camera/__init__.py
  esphome/components/esp32_camera/esp32_camera.cpp
  esphome/components/esp32_camera/esp32_camera.h
  tests/test4.yaml
Labels: stale, integration: esp32_camera, has-tests

#5694 Add support for fan preset modes
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/copy/fan/copy_fan.cpp
  esphome/components/fan/__init__.py
  esphome/components/fan/automation.h
  esphome/components/fan/fan.cpp
  esphome/components/fan/fan.h
  esphome/components/fan/fan_traits.h
  esphome/components/hbridge/fan/__init__.py
  esphome/components/hbridge/fan/hbridge_fan.cpp
  esphome/components/hbridge/fan/hbridge_fan.h
  esphome/components/speed/fan/__init__.py
  esphome/components/speed/fan/speed_fan.cpp
  esphome/components/speed/fan/speed_fan.h
  esphome/const.py
  tests/test1.yaml
Labels: integration: api, integration: fan, integration: speed, has-tests, core, integration: hbridge, integration: copy

#5795 Fix uninitialized climate target temperature
  esphome/components/climate/climate.h
Labels: integration: climate, core, small-pr

#4596 Updating the touchscreen interface structure
  CODEOWNERS
  esphome/components/ektf2232/touchscreen/__init__.py
  esphome/components/ektf2232/touchscreen/ektf2232.cpp
  esphome/components/ektf2232/touchscreen/ektf2232.h
  esphome/components/ft5x06/__init__.py
  esphome/components/ft5x06/touchscreen/__init__.py
  esphome/components/ft5x06/touchscreen/ft5x06_touchscreen.h
  esphome/components/ft63x6/__init__.py
  esphome/components/ft63x6/ft63x6.cpp
  esphome/components/ft63x6/ft63x6.h
  esphome/components/ft63x6/touchscreen.py
  esphome/components/gt911/touchscreen/__init__.py
  esphome/components/gt911/touchscreen/gt911_touchscreen.cpp
  esphome/components/gt911/touchscreen/gt911_touchscreen.h
  esphome/components/ili9xxx/display.py
  esphome/components/inkplate6/display.py
  esphome/components/lilygo_t5_47/touchscreen/__init__.py
  esphome/components/lilygo_t5_47/touchscreen/lilygo_t5_47_touchscreen.cpp
  esphome/components/lilygo_t5_47/touchscreen/lilygo_t5_47_touchscreen.h
  esphome/components/touchscreen/__init__.py
  esphome/components/touchscreen/binary_sensor/touchscreen_binary_sensor.cpp
  esphome/components/touchscreen/touchscreen.cpp
  esphome/components/touchscreen/touchscreen.h
  esphome/components/tt21100/touchscreen/__init__.py
  esphome/components/tt21100/touchscreen/tt21100.cpp
  esphome/components/tt21100/touchscreen/tt21100.h
  esphome/components/xpt2046/binary_sensor.py
  esphome/components/xpt2046/touchscreen.py
  esphome/components/xpt2046/touchscreen/__init__.py
  esphome/components/xpt2046/touchscreen/xpt2046.cpp
  esphome/components/xpt2046/touchscreen/xpt2046.h
  esphome/components/xpt2046/xpt2046.cpp
  esphome/components/xpt2046/xpt2046.h
  tests/test4.yaml
  tests/test8.yaml
Labels: new-integration, needs-tests, by-code-owner, integration: inkplate6, integration: xpt2046, integration: ektf2232, integration: touchscreen, integration: lilygo_t5_47, integration: ili9xxx, integration: ft63x6, integration: gt911, integration: tt21100, integration: ft5x06

#5729 A02yyuw
  CODEOWNERS
  esphome/components/a02yyuw/__init__.py
  esphome/components/a02yyuw/a02yyuw.cpp
  esphome/components/a02yyuw/a02yyuw.h
  esphome/components/a02yyuw/sensor.py
  tests/test4.yaml
Labels: new-integration, has-tests, integration: a02yyuw

#5198 Fix AHT10 / AHT20 communication
  esphome/components/aht10/aht10.cpp
  esphome/components/aht10/aht10.h
  esphome/components/aht10/sensor.py
Labels: integration: aht10

#5915 Fix crash when handling pin_check error
  esphome/config.py
Labels: core, small-pr

#5914 Bump aioesphomeapi to 20.1.0
  requirements.txt
Labels: small-pr

#4737 Remove setpoint-change from error when calculating derivative in pid controller
  esphome/components/pid/pid_controller.cpp
  esphome/components/pid/pid_controller.h
Labels: integration: pid, small-pr

#4995 ir_transmitter: add support for repeated commands in NEC protocol
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/nec_protocol.cpp
  esphome/components/remote_base/nec_protocol.h
  esphome/const.py
Labels: integration: remote_base, core

#5799 BP1658CJ - Fix timing for all platforms, now consistent with other drivers
  esphome/components/bp1658cj/bp1658cj.cpp
Labels: small-pr, by-code-owner, integration: bp1658cj

#5732 Add humidity support to climate
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/bang_bang/bang_bang_climate.cpp
  esphome/components/bang_bang/bang_bang_climate.h
  esphome/components/bang_bang/climate.py
  esphome/components/climate/__init__.py
  esphome/components/climate/automation.h
  esphome/components/climate/climate.cpp
  esphome/components/climate/climate.h
  esphome/components/climate/climate_traits.h
  esphome/components/mqtt/mqtt_climate.cpp
  esphome/components/mqtt/mqtt_climate.h
  esphome/components/mqtt/mqtt_const.h
  esphome/components/pid/climate.py
  esphome/components/pid/pid_climate.cpp
  esphome/components/pid/pid_climate.h
  esphome/components/thermostat/climate.py
  esphome/components/thermostat/thermostat_climate.cpp
  esphome/components/thermostat/thermostat_climate.h
  esphome/const.py
  tests/test3.yaml
Labels: integration: api, integration: bang_bang, integration: climate, integration: mqtt, integration: pid, integration: thermostat, has-tests, core

#5916 Remove lingering note
  CONTRIBUTING.md
Labels: small-pr

#5918 Fix typo added in esp32 post_build filename
  esphome/components/esp32/__init__.py
Labels: small-pr, integration: esp32

#5919 Copy esp32 custom partition files to build folder
  esphome/components/esp32/__init__.py
Labels: small-pr, integration: esp32

#5909 UART change at runtime
  esphome/components/uart/uart_component_esp32_arduino.cpp
  esphome/components/uart/uart_component_esp32_arduino.h
  esphome/components/uart/uart_component_esp_idf.cpp
  esphome/components/uart/uart_component_esp_idf.h
Labels: integration: uart, core

#5920 Exposes `load_settings` to `UARTComponent` class
  esphome/components/uart/uart_component.h
  esphome/components/uart/uart_component_esp32_arduino.h
  esphome/components/uart/uart_component_esp_idf.h
Labels: integration: uart, core, small-pr

#5486 Add support for PN7160
  CODEOWNERS
  esphome/components/nfc/nci_core.h
  esphome/components/nfc/nci_message.cpp
  esphome/components/nfc/nci_message.h
  esphome/components/nfc/nfc.cpp
  esphome/components/nfc/nfc_helpers.cpp
  esphome/components/nfc/nfc_helpers.h
  esphome/components/pn7160/__init__.py
  esphome/components/pn7160/automation.h
  esphome/components/pn7160/pn7160.cpp
  esphome/components/pn7160/pn7160.h
  esphome/components/pn7160/pn7160_mifare_classic.cpp
  esphome/components/pn7160/pn7160_mifare_ultralight.cpp
  esphome/components/pn7160_i2c/__init__.py
  esphome/components/pn7160_i2c/pn7160_i2c.cpp
  esphome/components/pn7160_i2c/pn7160_i2c.h
  esphome/components/pn7160_spi/__init__.py
  esphome/components/pn7160_spi/pn7160_spi.cpp
  esphome/components/pn7160_spi/pn7160_spi.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: nfc, integration: pn7160, integration: pn7160_i2c, integration: pn7160_spi

#5487 Add support for PN7150
  CODEOWNERS
  esphome/components/pn7150/__init__.py
  esphome/components/pn7150/automation.h
  esphome/components/pn7150/pn7150.cpp
  esphome/components/pn7150/pn7150.h
  esphome/components/pn7150/pn7150_mifare_classic.cpp
  esphome/components/pn7150/pn7150_mifare_ultralight.cpp
  esphome/components/pn7150_i2c/__init__.py
  esphome/components/pn7150_i2c/pn7150_i2c.cpp
  esphome/components/pn7150_i2c/pn7150_i2c.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: pn7150, integration: pn7150_i2c

#4658 Allow use of CDC/JTAG loggers on esp32 variants with Arduino
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
Labels: not-stale, integration: logger, core, small-pr

#4853 [Logger] ESP32 S3 serial logger
  esphome/components/logger/__init__.py
  esphome/config_validation.py
Labels: integration: logger, core

#5917 Support toggle action for template cover
  esphome/components/template/cover/__init__.py
  esphome/components/template/cover/template_cover.cpp
  esphome/components/template/cover/template_cover.h
Labels: integration: template, core, small-pr

#5928 Fix SplitDefault with variants
  esphome/config_validation.py
Labels: core, small-pr

#5929 ESP32-S3 and ESP-IDF don't play well with USB_CDC and need USB_SERIAL_JTAG
  esphome/components/logger/__init__.py
  esphome/config_validation.py
  tests/test8.1.yaml
  tests/test8.2.yaml
Labels: integration: logger, has-tests, core, small-pr

#5939 Update ENS160 TVOC device_class and AQI units to match required by HA
  esphome/components/ens160/sensor.py
Labels: small-pr, integration: ens160

#5940 2023.12.0b2
  esphome/components/ens160/sensor.py
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
  esphome/components/template/cover/__init__.py
  esphome/components/template/cover/template_cover.cpp
  esphome/components/template/cover/template_cover.h
  esphome/config_validation.py
  esphome/const.py
Labels: merging-to-beta

#5930 UARTComponent inline doc
  esphome/components/uart/uart_component.h
Labels: integration: uart, core

#5948 Fix - Tuya Fan - Allow integer speed datapoint
  esphome/components/tuya/fan/tuya_fan.cpp
  esphome/components/tuya/fan/tuya_fan.h
Labels: integration: tuya, small-pr

#5945 i2s_audio: Set player_task's prio to 1
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
Labels: small-pr, integration: i2s_audio

#5943 esp32_camera: Set framebuffer task prio to 1
  esphome/components/esp32_camera/esp32_camera.cpp
Labels: integration: esp32_camera, small-pr

#5942 web_server_idf: fix call with hardcoded http code
  esphome/components/web_server_idf/web_server_idf.h
Labels: small-pr, by-code-owner, integration: web_server_idf

#5932 Revert pure virtual functions in UART component from #5920
  esphome/components/uart/uart_component.h
Labels: integration: uart, core, small-pr

#5954 Bump build-image action versions
  .github/actions/build-image/action.yaml
Labels: dependencies, small-pr, github_actions

#5955 Revert "Bump build-image action versions"
  .github/actions/build-image/action.yaml
Labels: small-pr

#5956 Revert "Bump actions/download-artifact from 3.0.2 to 4.0.0"
  .github/workflows/release.yml
Labels: small-pr

#5957 Use the correct UART/`Serial` when CDC is enabled
  esphome/components/logger/logger.cpp
Labels: integration: logger, core, small-pr

#5958 2023.12.0b3
  esphome/components/esp32_camera/esp32_camera.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/logger/logger.cpp
  esphome/components/tuya/fan/tuya_fan.cpp
  esphome/components/tuya/fan/tuya_fan.h
  esphome/components/uart/uart_component.h
  esphome/components/web_server_idf/web_server_idf.h
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#5962 rename set_raw_touch_position_ to add_raw_touch_position_
  esphome/components/ektf2232/touchscreen/ektf2232.cpp
  esphome/components/ft5x06/touchscreen/ft5x06_touchscreen.h
  esphome/components/ft63x6/ft63x6.cpp
  esphome/components/gt911/touchscreen/gt911_touchscreen.cpp
  esphome/components/lilygo_t5_47/touchscreen/lilygo_t5_47_touchscreen.cpp
  esphome/components/touchscreen/touchscreen.cpp
  esphome/components/touchscreen/touchscreen.h
  esphome/components/tt21100/touchscreen/tt21100.cpp
  esphome/components/xpt2046/touchscreen/xpt2046.cpp
Labels: small-pr, by-code-owner, integration: xpt2046, integration: ektf2232, integration: touchscreen, integration: lilygo_t5_47, integration: ft63x6, integration: gt911, integration: tt21100, integration: ft5x06

#5947 Fix I2CBus::write() bug and add i2c documentation
  esphome/components/i2c/i2c.h
  esphome/components/i2c/i2c_bus.h
Labels: integration: i2c, core

#5961 Add deep sleep between updates for waveshare epaper 1.54in and 1.54inv2
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper

#5828 Speed up writing protobuf strings/bytes
  esphome/components/api/proto.h
Labels: integration: api, core, small-pr

#5969 Bump aioesphomeapi to 21.0.1
  requirements.txt
Labels: small-pr

#5971 2023.12.0b4
  esphome/components/api/proto.h
  esphome/components/i2c/i2c.h
  esphome/components/i2c/i2c_bus.h
  esphome/components/uart/uart_component_esp32_arduino.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#5972 2023.12.0b5
  esphome/components/ektf2232/touchscreen/ektf2232.cpp
  esphome/components/ft5x06/touchscreen/ft5x06_touchscreen.h
  esphome/components/ft63x6/ft63x6.cpp
  esphome/components/gt911/touchscreen/gt911_touchscreen.cpp
  esphome/components/lilygo_t5_47/touchscreen/lilygo_t5_47_touchscreen.cpp
  esphome/components/touchscreen/touchscreen.cpp
  esphome/components/touchscreen/touchscreen.h
  esphome/components/tt21100/touchscreen/tt21100.cpp
  esphome/components/xpt2046/touchscreen/xpt2046.cpp
  esphome/const.py
Labels: merging-to-beta

#5139 image: allow the image to by auto-loaded by animation
  esphome/__main__.py
  esphome/components/image/__init__.py
  esphome/config.py
  esphome/loader.py
  esphome/writer.py
  tests/test8.yaml
Labels: integration: image, has-tests, core, small-pr

#5924 Add ability to lock to set mode
  esphome/components/hlw8012/hlw8012.cpp
  esphome/components/hlw8012/sensor.py
  tests/test1.yaml
Labels: integration: hlw8012, has-tests, small-pr

#5975 2023.12.0b6
  esphome/__main__.py
  esphome/components/image/__init__.py
  esphome/config.py
  esphome/const.py
  esphome/loader.py
  esphome/pins.py
  esphome/writer.py
  tests/test1.yaml
  tests/test3.1.yaml
  tests/test8.yaml
Labels: merging-to-beta

#5174 feat: add AS5600 component/sensor
  CODEOWNERS
  esphome/components/as5600/__init__.py
  esphome/components/as5600/as5600.cpp
  esphome/components/as5600/as5600.h
  esphome/components/as5600/sensor/__init__.py
  esphome/components/as5600/sensor/as5600_sensor.cpp
  esphome/components/as5600/sensor/as5600_sensor.h
  tests/test1.yaml
Labels: new-integration, has-tests, merge-after-release, integration: as5600

#5752 Add default substitutions for package includes
  esphome/const.py
  esphome/yaml_util.py
Labels: core, small-pr, merge-after-release

#5689 Add gradient option to addressable color wipe effect
  esphome/components/light/addressable_light_effect.h
  esphome/components/light/effects.py
Labels: integration: light, core, small-pr, merge-after-release

#5965 Added alarm processing for Haier component (hOn protocol)
  esphome/components/haier/climate.py
  esphome/components/haier/haier_base.cpp
  esphome/components/haier/haier_base.h
  esphome/components/haier/hon_climate.cpp
  esphome/components/haier/hon_climate.h
  esphome/components/haier/hon_packet.h
  esphome/components/haier/smartair2_climate.cpp
  tests/test3.yaml
Labels: has-tests, by-code-owner, integration: haier, merge-after-release

#5898 Allow haier remote protocol to use lambdas
  esphome/components/remote_base/haier_protocol.h
Labels: integration: remote_base, small-pr, merge-after-release

#5633 PMSx003 add relevant device and state classes to default config
  esphome/components/pmsx003/sensor.py
Labels: breaking-change, integration: pmsx003, small-pr

#5903 Add waveshare 2.7in V2 model
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper

#5902 Add support for waveshare 2.9in B V3 version
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper

#5978 Fix pin reuse in test1
  tests/test1.yaml
Labels: has-tests, small-pr

#5884 Add Waveshare 1.47in 172x320 to ST7789v component
  esphome/components/st7789v/display.py
Labels: integration: st7789v, small-pr

#5885 (fingerprint_grow) Added on_finger_scan_invalid automation.
  esphome/components/fingerprint_grow/__init__.py
  esphome/components/fingerprint_grow/fingerprint_grow.cpp
  esphome/components/fingerprint_grow/fingerprint_grow.h
  esphome/const.py
  tests/test3.yaml
Labels: has-tests, core, integration: fingerprint_grow

#5671 Alarm panel: Add changes to support enhanced features
  CODEOWNERS
  esphome/components/alarm_control_panel/__init__.py
  esphome/components/alarm_control_panel/alarm_control_panel.cpp
  esphome/components/alarm_control_panel/alarm_control_panel.h
  esphome/components/alarm_control_panel/automation.h
  esphome/components/template/alarm_control_panel/__init__.py
  esphome/components/template/alarm_control_panel/template_alarm_control_panel.cpp
  esphome/components/template/alarm_control_panel/template_alarm_control_panel.h
Labels: integration: template, core, integration: alarm_control_panel

#5482 support default pins for adafruit esp32 feather v2
  esphome/components/esp32/boards.py
Labels: small-pr, integration: esp32

#5483 Bug: Unwanted change resistance in x9c component
  esphome/components/x9c/x9c.cpp
Labels: small-pr, integration: x9c

#5504 Improvements to RF receiver for Drayton Digistat heating controller
  esphome/components/remote_base/drayton_protocol.cpp
Labels: integration: remote_base

#5719 Reduce memory usage with StringRef in MQTT Components
  esphome/components/mqtt/mqtt_binary_sensor.cpp
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_component.h
Labels: integration: mqtt, core, small-pr

#5979 Nextion allow underscore on names
  esphome/components/nextion/base_component.py
Labels: integration: nextion, small-pr

#5983 Fix replaced - in allowed characters during object_id sanitizing
  esphome/helpers.py
  tests/unit_tests/test_helpers.py
Labels: has-tests, core, small-pr

#5984 2023.12.1
  esphome/const.py
  esphome/helpers.py
  tests/unit_tests/test_helpers.py
Labels: merging-to-release

#5985 Update libtiff6
  docker/Dockerfile
Labels: small-pr

#5982 Override GPIOs 12 and 13 on the airm2m (LuatOS) board
  esphome/components/esp32/boards.py
Labels: small-pr, integration: esp32

#5511 Add Keeloq RF protocol
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/keeloq_protocol.cpp
  esphome/components/remote_base/keeloq_protocol.h
Labels: integration: remote_base

#5987 Add workaround for crash in Arduino 2.0.9 when CDC is configured
  esphome/components/logger/logger.cpp
Labels: integration: logger, core, small-pr

#5980 web_server.py: return empty content when file doesn't exist
  esphome/dashboard/web_server.py
Labels: core, small-pr, dashboard

#5900 Add a Binary Sensor Filter for state settling
  esphome/components/binary_sensor/__init__.py
  esphome/components/binary_sensor/filter.cpp
  esphome/components/binary_sensor/filter.h
  tests/test1.yaml
Labels: integration: binary_sensor, has-tests, core

#5989 2023.12.2
  docker/Dockerfile
  esphome/components/esp32/boards.py
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
  esphome/config_validation.py
  esphome/const.py
  esphome/dashboard/web_server.py
  tests/test8.1.yaml
  tests/test8.2.yaml
Labels: merging-to-release

#5988 Fix unexpected disconnects when outgoing buffer is full during keepalive
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
Labels: integration: api, core, small-pr

#5990 Regenerate api_pb2 after manual changes were added incorrectly in #5732
  esphome/components/api/api_pb2.cpp
Labels: integration: api, core, small-pr

#5839 Improved sensor readings in htu21d component.
  esphome/components/htu21d/htu21d.cpp
Labels: integration: htu21d

#5991 Lint the script folder files
  script/api_protobuf/api_protobuf.py
  script/build_language_schema.py
  script/bump-version.py
  script/ci-custom.py
  script/helpers.py
  script/sync-device_class.py
Labels: core, cleanup, code-quality

#5992 Fix dashboard logs when api is disabled and using MQTT
  esphome/dashboard/web_server.py
Labels: core, small-pr, dashboard

#5993 Fix broken configs with non-existent components
  esphome/config.py
Labels: core, small-pr

#5994 2023.12.3
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/htu21d/htu21d.cpp
  esphome/config.py
  esphome/const.py
  esphome/dashboard/web_server.py
Labels: merging-to-release

#6001 dashboard: Only ping when polling is active
  esphome/dashboard/status/ping.py
Labels: core, small-pr, dashboard

#5854 web_server support for home assistant like styling
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server, small-pr

#6008 tt21100: restore init read
  esphome/components/tt21100/touchscreen/tt21100.cpp
Labels: small-pr, integration: tt21100

#6013 dashboard: Fix file writes on Windows
  esphome/dashboard/util/file.py
  tests/dashboard/util/test_file.py
Labels: has-tests, core, small-pr, dashboard

#6012 Fix docker builds
  docker/Dockerfile
Labels: small-pr

#6009 Display: fix class inherence in Python script
  esphome/components/display/__init__.py
Labels: integration: display, core, small-pr

#5986 [Touchscreen] Add expire of touch record.
  esphome/components/lilygo_t5_47/touchscreen/__init__.py
  esphome/components/touchscreen/__init__.py
  esphome/components/touchscreen/touchscreen.cpp
  esphome/components/touchscreen/touchscreen.h
Labels: integration: touchscreen, integration: lilygo_t5_47

#6016 2023.12.4
  esphome/components/display/__init__.py
  esphome/components/tt21100/touchscreen/tt21100.cpp
  esphome/const.py
  esphome/dashboard/status/ping.py
  esphome/dashboard/util/file.py
  tests/dashboard/util/test_file.py
Labels: merging-to-release

#6017 2023.12.5
  docker/Dockerfile
  esphome/const.py
Labels: merging-to-release

#5952 Support for ST7567 display 128x64 (I2C, SPI)
  CODEOWNERS
  esphome/components/st7567_base/__init__.py
  esphome/components/st7567_base/st7567_base.cpp
  esphome/components/st7567_base/st7567_base.h
  esphome/components/st7567_i2c/__init__.py
  esphome/components/st7567_i2c/display.py
  esphome/components/st7567_i2c/st7567_i2c.cpp
  esphome/components/st7567_i2c/st7567_i2c.h
  esphome/components/st7567_spi/__init__.py
  esphome/components/st7567_spi/display.py
  esphome/components/st7567_spi/st7567_spi.cpp
  esphome/components/st7567_spi/st7567_spi.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: st7567_base, integration: st7567_i2c, integration: st7567_spi

#6022 Fix device not requesting Home Assistant time at the update interval
  esphome/components/api/api_server.cpp
Labels: integration: api, core, small-pr

#6033 Add constants used by multiple display drivers to global const.py
  esphome/components/ili9xxx/display.py
  esphome/components/st7567_base/__init__.py
  esphome/components/st7735/display.py
  esphome/components/st7789v/display.py
  esphome/components/touchscreen/__init__.py
  esphome/const.py
Labels: integration: st7789v, core, integration: st7735, by-code-owner, integration: touchscreen, integration: ili9xxx, integration: st7567_base

#6029 Nextion queue size
  esphome/components/nextion/nextion.h
Labels: integration: nextion, small-pr

#5277 Ble client additions and fixes
  CODEOWNERS
  esphome/components/ble_client/__init__.py
  esphome/components/ble_client/automation.cpp
  esphome/components/ble_client/automation.h
  esphome/components/ble_client/ble_client.cpp
  esphome/components/ble_client/output/ble_binary_output.cpp
  esphome/components/ble_client/output/ble_binary_output.h
  esphome/components/ble_client/sensor/automation.h
  esphome/components/ble_client/sensor/ble_rssi_sensor.cpp
  esphome/components/ble_client/sensor/ble_sensor.cpp
  esphome/components/ble_client/switch/ble_switch.cpp
  esphome/components/ble_client/text_sensor/ble_text_sensor.cpp
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
  tests/test1.yaml
Labels: has-tests, integration: ble_client, integration: esp32_ble_client

#6015 HaierProtocol library updated to 0.9.25 to fix the answer_timeout bug
  esphome/components/haier/climate.py
  platformio.ini
  tests/test3.yaml
Labels: has-tests, small-pr, by-code-owner, integration: haier

#6042 GT911 touchscreen: Fix bug causing touch button release to fail
  esphome/components/gt911/touchscreen/gt911_touchscreen.cpp
  esphome/components/gt911/touchscreen/gt911_touchscreen.h
Labels: small-pr, by-code-owner, integration: gt911
