Repository esphome/esphome, pull requests merged in 2024-06, with the labels that each got.

#6840 Replace random non-ascii-print characters with standard substitutes
  esphome/components/api/custom_api_device.h
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/feedback/feedback_cover.cpp
  esphome/components/max6956/max6956.h
  esphome/components/ntc/sensor.py
  esphome/components/wifi/wifi_component.cpp
Labels: integration: api, integration: ethernet, integration: ntc, integration: wifi, core, small-pr, integration: feedback, integration: max6956

#6842 Wireguard support for bk72 microcontrollers
  esphome/components/wireguard/__init__.py
  platformio.ini
  tests/components/wireguard/test.bk72xx.yaml
Labels: has-tests, small-pr, by-code-owner, integration: wireguard

#6850 Add messages when WiFi and Ethernet components set 'warning' flag.
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/wifi/wifi_component.cpp
Labels: integration: ethernet, integration: wifi, core, small-pr

#6769 [sntp] fix for ESP-IDF > 5.0
  esphome/components/sntp/sntp_component.cpp
Labels: integration: sntp, small-pr

#6843 Avoid unsafe git error when container user and file config volume permissions don't match
  docker/Dockerfile
  script/setup
Labels: core, small-pr

#6835 Add Ethernet MAC address to ethernet_info
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
  esphome/components/ethernet_info/ethernet_info_text_sensor.cpp
  esphome/components/ethernet_info/ethernet_info_text_sensor.h
  esphome/components/ethernet_info/text_sensor.py
  tests/components/ethernet_info/common.yaml
Labels: integration: ethernet, has-tests, core, integration: ethernet_info

#6854 Add host time platform; remove host support from sntp.
  CODEOWNERS
  esphome/components/host/__init__.py
  esphome/components/host/time/__init__.py
  esphome/components/host/time/host_time.h
  esphome/components/sntp/sntp_component.cpp
  esphome/components/sntp/time.py
  tests/components/host/common.yaml
  tests/components/sntp/test.bk72xx.yaml
Labels: new-integration, integration: sntp, has-tests, integration: host

#6855 [improv_serial] Fix for IDF 4.4.7
  esphome/components/improv_serial/improv_serial_component.cpp
  esphome/components/improv_serial/improv_serial_component.h
Labels: small-pr, integration: improv_serial

#6851 [ft5x06] Interrupt pin and code quality improvements
  esphome/components/ft5x06/touchscreen/__init__.py
  esphome/components/ft5x06/touchscreen/ft5x06_touchscreen.cpp
  esphome/components/ft5x06/touchscreen/ft5x06_touchscreen.h
Labels: integration: ft5x06

#6863 2024.5.5
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/improv_serial/improv_serial_component.cpp
  esphome/components/improv_serial/improv_serial_component.h
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/const.py
Labels: merging-to-release

#6836 [ethernet] Add config option to set arbitrary PHY register values
  esphome/components/ethernet/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
Labels: integration: ethernet, core

#6792 Add carrier_frequency option to remote_transmitter.transmit_aeha
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/aeha_protocol.cpp
  esphome/components/remote_base/aeha_protocol.h
  tests/components/remote_transmitter/common-buttons.yaml
  tests/test1.yaml
Labels: integration: remote_base, has-tests, small-pr

#6020 Add `invert_position_report` to `tuya.cover`
  esphome/components/tuya/cover/__init__.py
  esphome/components/tuya/cover/tuya_cover.cpp
  esphome/components/tuya/cover/tuya_cover.h
Labels: integration: tuya, small-pr

#6789 [Tuya Climate] Support both datapoint and pins for active state
  esphome/components/tuya/climate/__init__.py
  esphome/components/tuya/climate/tuya_climate.cpp
Labels: integration: tuya

#6844 [config] Allow file: scheme for git external components
  esphome/config_validation.py
Labels: core, small-pr

#6870 [logger] Fix defines for development
  esphome/components/logger/__init__.py
  esphome/core/defines.h
Labels: integration: logger, core, small-pr

#6873 [docker] Avoid unsafe git error when container user and file config volume permissions don't match
  docker/Dockerfile
Labels: small-pr

#6868 [datetime] Add logs on DateCall perform
  esphome/components/datetime/date_entity.cpp
Labels: small-pr, by-code-owner, integration: datetime

#6849 fix: arduino media player sets wrong state for announcements
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.cpp
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.h
Labels: small-pr, integration: i2s_audio

#6867 [datetime] datetime-datetime strptime support value string without seconds
  esphome/core/time.cpp
Labels: core, small-pr

#6875 fix: arduino media player still sets wrong state.
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.cpp
Labels: small-pr, integration: i2s_audio

#3256 [http_request] Add esp-idf and rp2040 support
  esphome/codegen.py
  esphome/components/http_request/__init__.py
  esphome/components/http_request/http_request.cpp
  esphome/components/http_request/http_request.h
  esphome/components/http_request/http_request_arduino.cpp
  esphome/components/http_request/http_request_arduino.h
  esphome/components/http_request/http_request_idf.cpp
  esphome/components/http_request/http_request_idf.h
  esphome/components/http_request/ota/__init__.py
  esphome/components/http_request/ota/ota_http_request.cpp
  esphome/components/http_request/ota/ota_http_request.h
  esphome/components/http_request/ota/ota_http_request_arduino.cpp
  esphome/components/http_request/ota/ota_http_request_arduino.h
  esphome/components/http_request/ota/ota_http_request_idf.cpp
  esphome/components/http_request/ota/ota_http_request_idf.h
  esphome/components/http_request/watchdog.cpp
  esphome/components/http_request/watchdog.h
  esphome/cpp_types.py
  tests/components/http_request/common.yaml
  tests/components/http_request/common_http_request.yaml
  tests/components/http_request/common_ota.yaml
  tests/components/http_request/test-nossl.esp8266.yaml
  tests/components/http_request/test.esp32-c3-idf.yaml
  tests/components/http_request/test.esp32-c3.yaml
  tests/components/http_request/test.esp32-idf.yaml
  tests/components/http_request/test.esp32.yaml
  tests/components/http_request/test.esp8266.yaml
  tests/components/http_request/test.rp2040.yaml
  tests/test1.yaml
  tests/test3.1.yaml
  tests/test7.yaml
Labels: breaking-change, not-stale, integration: http_request, has-tests, core

#6872 [i2s_speaker] A few fixes
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
Labels: by-code-owner, integration: i2s_audio

#6877 [voice_assistant] Write less data to speaker each loop
  esphome/components/voice_assistant/voice_assistant.cpp
Labels: small-pr, by-code-owner, integration: voice_assistant

#6884 Allow parse_json to return a boolean result
  esphome/components/json/json_util.cpp
  esphome/components/json/json_util.h
  esphome/components/mqtt/mqtt_client.cpp
Labels: breaking-change, integration: json, integration: mqtt, core, small-pr

#6885 [core] Update Entities
  CODEOWNERS
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/api/list_entities.cpp
  esphome/components/api/list_entities.h
  esphome/components/api/subscribe_state.cpp
  esphome/components/api/subscribe_state.h
  esphome/components/http_request/ota/ota_http_request.cpp
  esphome/components/http_request/ota/ota_http_request.h
  esphome/components/http_request/update/__init__.py
  esphome/components/http_request/update/http_request_update.cpp
  esphome/components/http_request/update/http_request_update.h
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_const.h
  esphome/components/mqtt/mqtt_update.cpp
  esphome/components/mqtt/mqtt_update.h
  esphome/components/update/__init__.py
  esphome/components/update/update_entity.cpp
  esphome/components/update/update_entity.h
  esphome/components/web_server/list_entities.cpp
  esphome/components/web_server/list_entities.h
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/const.py
  esphome/core/application.h
  esphome/core/component_iterator.cpp
  esphome/core/component_iterator.h
  esphome/core/controller.cpp
  esphome/core/controller.h
  esphome/core/defines.h
  tests/components/http_request/common.yaml
  tests/components/mqtt/common-update.yaml
  tests/components/mqtt/test.esp32-c3-idf.yaml
  tests/components/mqtt/test.esp32-c3.yaml
  tests/components/mqtt/test.esp32-idf.yaml
  tests/components/mqtt/test.esp32.yaml
  tests/components/mqtt/test.esp8266.yaml
  tests/components/update/common.yaml
  tests/components/update/test.esp32-ard.yaml
  tests/components/update/test.esp32-idf.yaml
  tests/components/update/test.esp8266.yaml
  tests/components/update/test.rp2040.yaml
Labels: new-integration, needs-tests, integration: api, integration: http_request, integration: mqtt, integration: web_server, core, integration: update

#6888 [Dockerfile] Sync platformio version with requirements.txt
  docker/Dockerfile
Labels: small-pr

#6879 [Deep sleep] Compilation error with IDF >= 5.*
  esphome/components/deep_sleep/deep_sleep_component.h
Labels: integration: deep_sleep, core, small-pr

#6876 [animation] Allow loading external url at build time
  esphome/components/animation/__init__.py
  esphome/components/image/__init__.py
Labels: integration: image, core, integration: animation

#6443 [waveshare_epaper] Add support for 13.3in-k
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper

#3712 Climate IR LG - Support fan only mode and all "on" commands
  esphome/components/climate_ir_lg/climate_ir_lg.cpp
  esphome/components/climate_ir_lg/climate_ir_lg.h
Labels: integration: climate_ir_lg

#6860 change to new 1-wire platform
  CODEOWNERS
  esphome/components/dallas/__init__.py
  esphome/components/dallas/dallas_component.cpp
  esphome/components/dallas/dallas_component.h
  esphome/components/dallas/esp_one_wire.cpp
  esphome/components/dallas/esp_one_wire.h
  esphome/components/dallas/sensor.py
  esphome/components/dallas_temp/__init__.py
  esphome/components/dallas_temp/dallas_temp.cpp
  esphome/components/dallas_temp/dallas_temp.h
  esphome/components/dallas_temp/sensor.py
  esphome/components/gpio/one_wire/__init__.py
  esphome/components/gpio/one_wire/gpio_one_wire.cpp
  esphome/components/gpio/one_wire/gpio_one_wire.h
  esphome/components/one_wire/__init__.py
  esphome/components/one_wire/one_wire.cpp
  esphome/components/one_wire/one_wire.h
  esphome/components/one_wire/one_wire_bus.cpp
  esphome/components/one_wire/one_wire_bus.h
  script/ci-custom.py
  tests/components/dallas_temp/common.yaml
  tests/components/dallas_temp/test.esp32-c3-idf.yaml
  tests/components/dallas_temp/test.esp32-c3.yaml
  tests/components/dallas_temp/test.esp32-idf.yaml
  tests/components/dallas_temp/test.esp32.yaml
  tests/components/dallas_temp/test.esp8266.yaml
  tests/components/dallas_temp/test.rp2040.yaml
  tests/test1.yaml
Labels: new-integration, breaking-change, integration: dallas, integration: gpio, has-tests, core, integration: dallas_temp, integration: one_wire

#6869 [he60r] Don't publish state unless it has changed. [BUGFIX]
  esphome/components/he60r/he60r.cpp
  esphome/components/he60r/he60r.h
Labels: small-pr, by-code-owner, integration: he60r

#6864 [image] Make PIL import local
  esphome/components/image/__init__.py
Labels: integration: image, core, small-pr

#6785 [config] Retain path information in validated configuration
  esphome/config.py
Labels: core, small-pr

#6845 WebSocket overrides check_origin for reverse proxy configuration
  esphome/dashboard/web_server.py
Labels: core, small-pr, dashboard

#6837 [config] Early termination of validation steps on error
  esphome/config.py
Labels: core, small-pr

#6859 Fix media_player.volume_set when media player is not started
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.cpp
Labels: integration: i2s_audio

#6825 [display] SDL2 display driver for host platform
  .github/workflows/ci.yml
  CODEOWNERS
  esphome/components/sdl/__init__.py
  esphome/components/sdl/display.py
  esphome/components/sdl/sdl_esphome.cpp
  esphome/components/sdl/sdl_esphome.h
  esphome/components/sdl/touchscreen/__init__.py
  esphome/components/sdl/touchscreen/sdl_touchscreen.h
  tests/components/sdl/common.yaml
  tests/components/sdl/test.host.yaml
Labels: new-integration, has-tests, integration: sdl

#6838 [ili9xxx] Implement st7735 support
  esphome/components/ili9xxx/display.py
  esphome/components/ili9xxx/ili9xxx_defines.h
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
  esphome/components/ili9xxx/ili9xxx_init.h
Labels: by-code-owner, integration: ili9xxx

#6892 [CI] Fix for sdl
  .github/workflows/ci.yml
Labels: small-pr

#6890 Add operation_speed option to X9C component
  esphome/components/x9c/output.py
  esphome/components/x9c/x9c.cpp
  esphome/components/x9c/x9c.h
  esphome/const.py
  tests/components/x9c/test.esp32-c3-idf.yaml
  tests/components/x9c/test.esp32-c3.yaml
  tests/components/x9c/test.esp32-idf.yaml
  tests/components/x9c/test.esp32.yaml
  tests/components/x9c/test.esp8266.yaml
  tests/components/x9c/test.rp2040.yaml
Labels: has-tests, core, small-pr, integration: x9c

#6898 X9c operation speed
  esphome/components/x9c/output.py
  tests/components/x9c/test.esp32-c3-idf.yaml
  tests/components/x9c/test.esp32-c3.yaml
  tests/components/x9c/test.esp32-idf.yaml
  tests/components/x9c/test.esp32.yaml
  tests/components/x9c/test.esp8266.yaml
  tests/components/x9c/test.rp2040.yaml
Labels: has-tests, small-pr, integration: x9c

#6901 Bump esphome-dashboard to 20240613.0
  requirements.txt
Labels: small-pr

#6902 2024.6.0b2
  .github/workflows/ci.yml
  esphome/__main__.py
  esphome/components/x9c/output.py
  esphome/components/x9c/x9c.cpp
  esphome/components/x9c/x9c.h
  esphome/const.py
  requirements.txt
  tests/components/x9c/test.esp32-c3-idf.yaml
  tests/components/x9c/test.esp32-c3.yaml
  tests/components/x9c/test.esp32-idf.yaml
  tests/components/x9c/test.esp32.yaml
  tests/components/x9c/test.esp8266.yaml
  tests/components/x9c/test.rp2040.yaml
Labels: merging-to-beta

#6903 [CI] Allow clang-tidy to see IDF components
  .github/workflows/ci.yml
  esphome/idf_component.yml
  script/clang-tidy
Labels: core, small-pr

#6809 [esp32_camera] Use newer library version (for #6802)
  esphome/components/esp32_camera/__init__.py
  esphome/idf_component.yml
  platformio.ini
Labels: integration: esp32_camera, core, small-pr

#6906 [micro_wake_word] Pin to esp-tflite-micro v1.3.1
  esphome/components/micro_wake_word/__init__.py
  esphome/idf_component.yml
Labels: core, small-pr, integration: micro_wake_word

#6881 VEML7700 Fix GCC build warnings
  esphome/components/veml7700/veml7700.cpp
  esphome/components/veml7700/veml7700.h
Labels: small-pr, by-code-owner, integration: veml7700

#6911 IDF 5 fixes for #6802
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/voice_assistant/voice_assistant.cpp
Labels: integration: ethernet, core, small-pr, integration: voice_assistant

#6913 [ili9xxx] Fix init for GC9A01A
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
Labels: small-pr, integration: ili9xxx

#6914 [mqtt] Fix datetime copy pasta
  esphome/components/mqtt/mqtt_datetime.cpp
  esphome/components/mqtt/mqtt_datetime.h
Labels: integration: mqtt, core, small-pr

#6915 2024.6.0b3
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
  esphome/components/mqtt/mqtt_datetime.cpp
  esphome/components/mqtt/mqtt_datetime.h
  esphome/components/update/__init__.py
  esphome/const.py
Labels: merging-to-beta

#6763 fix(dallas): make recovery time for 1-bit equal to that of 0-bit
  esphome/components/gpio/one_wire/gpio_one_wire.cpp
Labels: integration: gpio, core, small-pr

#6916 [CI-ethernet] Add/fix/organize/clean up ethernet component tests
  tests/components/ethernet/common-dp83848.yaml
  tests/components/ethernet/common-ip101.yaml
  tests/components/ethernet/common-jl1101.yaml
  tests/components/ethernet/common-ksz8081.yaml
  tests/components/ethernet/common-ksz8081rna.yaml
  tests/components/ethernet/common-lan8720.yaml
  tests/components/ethernet/common-rtl8201.yaml
  tests/components/ethernet/common-w5500.yaml
  tests/components/ethernet/test-dp83848.esp32-idf.yaml
  tests/components/ethernet/test-dp83848.esp32.yaml
  tests/components/ethernet/test-ip101.esp32-idf.yaml
  tests/components/ethernet/test-ip101.esp32.yaml
  tests/components/ethernet/test-jl1101.esp32-idf.yaml
  tests/components/ethernet/test-jl1101.esp32.yaml
  tests/components/ethernet/test-ksz8081.esp32-idf.yaml
  tests/components/ethernet/test-ksz8081.esp32.yaml
  tests/components/ethernet/test-ksz8081rna.esp32-idf.yaml
  tests/components/ethernet/test-ksz8081rna.esp32.yaml
  tests/components/ethernet/test-lan8720.esp32-idf.yaml
  tests/components/ethernet/test-lan8720.esp32.yaml
  tests/components/ethernet/test-rtl8201.esp32-idf.yaml
  tests/components/ethernet/test-rtl8201.esp32.yaml
  tests/components/ethernet/test-w5500.esp32-idf.yaml
  tests/components/ethernet/test-w5500.esp32.yaml
  tests/components/ethernet/test.esp32-idf.yaml
  tests/components/ethernet/test.esp32.yaml
  tests/components/ethernet/w5500.esp32.yaml
Labels: has-tests, small-pr

#6917 [CI-a01nyub] Consolidate test files
  tests/components/a01nyub/common.yaml
  tests/components/a01nyub/test.esp32-c3-idf.yaml
  tests/components/a01nyub/test.esp32-c3.yaml
  tests/components/a01nyub/test.esp32-idf.yaml
  tests/components/a01nyub/test.esp32.yaml
  tests/components/a01nyub/test.esp8266.yaml
  tests/components/a01nyub/test.rp2040.yaml
Labels: has-tests, small-pr

#6918 [CI-api] Test fix for IDF 5+
  tests/components/api/common.yaml
Labels: has-tests, small-pr

#6919 [CI-http_request] Test fix for IDF 5+
  tests/components/http_request/common.yaml
Labels: has-tests, small-pr

#6920 [CI-wireguard] Test file consolidation
  tests/components/wireguard/common.yaml
  tests/components/wireguard/test.bk72xx.yaml
  tests/components/wireguard/test.esp32-c3-idf.yaml
  tests/components/wireguard/test.esp32-c3.yaml
  tests/components/wireguard/test.esp32-idf.yaml
  tests/components/wireguard/test.esp32.yaml
  tests/components/wireguard/test.esp8266.yaml
Labels: has-tests, small-pr

#6921 [CI-esp32_hall] Remove IDF test
  tests/components/esp32_hall/common.yaml
  tests/components/esp32_hall/test.esp32-idf.yaml
  tests/components/esp32_hall/test.esp32.yaml
Labels: has-tests, small-pr

#6928 [wifi] Fix some access point bugs related to esp-idf 4.4.7
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: integration: wifi, core, small-pr

#6922 Rename legacy/modern to ota/factory
  esphome/components/esp32/__init__.py
  esphome/components/esp32/post_build.py.script
  esphome/components/esp8266/post_build.py.script
  esphome/components/rp2040/__init__.py
  esphome/components/rp2040/post_build.py.script
Labels: by-code-owner, integration: esp32, integration: esp8266, integration: rp2040

#6923 uart: allow setting the UART id in final_validate_device_schema
  esphome/components/uart/__init__.py
Labels: integration: uart, core, small-pr

#6930 2024.6.0b4
  esphome/components/esp32/__init__.py
  esphome/components/esp32/post_build.py.script
  esphome/components/esp8266/post_build.py.script
  esphome/components/gpio/one_wire/gpio_one_wire.cpp
  esphome/components/rp2040/__init__.py
  esphome/components/rp2040/post_build.py.script
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/const.py
Labels: merging-to-beta

#6910 Fix garbled graphics on LILYGO T4-S3 display
  esphome/components/qspi_amoled/display.py
  esphome/components/qspi_amoled/qspi_amoled.cpp
Labels: small-pr, integration: qspi_amoled

#6936 Update cover.h for open() and close() compiler warnings
  esphome/components/cover/cover.h
Labels: integration: cover, core, small-pr

#6937 [network] Default ipv6 to false to always set the flags
  esphome/components/network/__init__.py
  tests/components/network/common.yaml
  tests/components/network/test-ipv6.esp32-ard.yaml
  tests/components/network/test-ipv6.esp32-c3-ard.yaml
  tests/components/network/test-ipv6.esp32-c3-idf.yaml
  tests/components/network/test-ipv6.esp32-idf.yaml
  tests/components/network/test-ipv6.esp8266-ard.yaml
  tests/components/network/test-ipv6.rp2040-ard.yaml
  tests/components/network/test.host.yaml
Labels: integration: network, has-tests, core, small-pr

#6938 2024.6.0b5
  .github/actions/build-image/action.yaml
  .github/workflows/release.yml
  esphome/components/network/__init__.py
  esphome/const.py
  tests/components/network/common.yaml
  tests/components/network/test-ipv6.esp32-ard.yaml
  tests/components/network/test-ipv6.esp32-c3-ard.yaml
  tests/components/network/test-ipv6.esp32-c3-idf.yaml
  tests/components/network/test-ipv6.esp32-idf.yaml
  tests/components/network/test-ipv6.esp8266.yaml
  tests/components/network/test-ipv6.rp2040.yaml
  tests/components/network/test.esp32-ard.yaml
  tests/components/network/test.host.yaml
Labels: merging-to-beta

#6942 debug_libretiny - Fix typo
  esphome/components/debug/debug_libretiny.cpp
Labels: integration: debug, core, small-pr

#6944 Bump esphome-dashboard to 20240620.0
  requirements.txt
Labels: small-pr

#6945 [CI] Add debug component test for LibreTiny
  tests/components/debug/test.bk72xx-ard.yaml
Labels: has-tests, small-pr

#6946 2024.6.1
  esphome/components/debug/debug_libretiny.cpp
  esphome/const.py
  requirements.txt
Labels: merging-to-release

#6947 [dooya] Flip bit timings
  esphome/components/remote_base/dooya_protocol.cpp
Labels: breaking-change, integration: remote_base, small-pr

#6952 [core] Fix package merging with lists of primitives
  esphome/config_helpers.py
Labels: core, small-pr

#6954 [update] Set entity_category to config & Publish state to logs
  esphome/components/update/__init__.py
  esphome/components/update/update_entity.cpp
Labels: by-code-owner, integration: update

#6958 [qspi_amoled] Fix display remaining blank after update() before setup completion
  esphome/components/qspi_amoled/qspi_amoled.cpp
Labels: small-pr, integration: qspi_amoled

#6963 Fix infinite loop in http_request for ESP-IDF.
  esphome/components/http_request/http_request_idf.cpp
Labels: integration: http_request, small-pr

#6964 ESP-IDF 4.x expects seconds for esp_task_wdt_init(), not milliseconds.
  esphome/components/http_request/watchdog.cpp
Labels: integration: http_request, small-pr

#6967 Onewire
  esphome/components/gpio/one_wire/gpio_one_wire.cpp
Labels: integration: gpio, core, small-pr

#6960 [qspi_amoled] Fix clear/fill with rotation
  esphome/components/qspi_amoled/qspi_amoled.h
Labels: small-pr, integration: qspi_amoled

#6972 allow template parameters
  esphome/components/script/__init__.py
Labels: integration: script, core, small-pr

#6973 [http_request] memory leak fix
  esphome/components/http_request/http_request.h
Labels: integration: http_request, small-pr

#6974 Await cg.get_variable in Update component
  esphome/components/update/__init__.py
Labels: small-pr, integration: update

#6949 [haier] climate ID auto generation
  esphome/components/haier/binary_sensor/__init__.py
  esphome/components/haier/button/__init__.py
  esphome/components/haier/climate.py
  esphome/components/haier/sensor/__init__.py
  esphome/components/haier/text_sensor/__init__.py
  tests/components/haier/test.esp32-c3-ard.yaml
  tests/components/haier/test.esp32-c3-idf.yaml
  tests/components/haier/test.esp32-idf.yaml
  tests/components/haier/test.esp8266-ard.yaml
  tests/components/haier/test.rp2040-ard.yaml
Labels: has-tests, small-pr, integration: haier

#6976 [one-wire] fix potential hang
  esphome/components/gpio/one_wire/gpio_one_wire.cpp
Labels: integration: gpio, core, small-pr

#6978 [midea] fix fan speed compatibility with some models
  esphome/components/midea/climate.py
  platformio.ini
Labels: small-pr, by-code-owner, integration: midea

#6981 2024.6.2
  esphome/components/gpio/one_wire/gpio_one_wire.cpp
  esphome/components/http_request/http_request.h
  esphome/components/http_request/http_request_idf.cpp
  esphome/components/http_request/watchdog.cpp
  esphome/components/midea/climate.py
  esphome/components/update/__init__.py
  esphome/components/update/update_entity.cpp
  esphome/config_helpers.py
  esphome/const.py
  platformio.ini
Labels: merging-to-release

#6929 [core] Add script to extract actions, conditions, and pin_providers
  script/extract_automations.py
  script/list-components.py
Labels: core

#6982 [external_files] Move common ``download_content`` function to ``external_files.py``
  esphome/components/font/__init__.py
  esphome/components/image/__init__.py
  esphome/external_files.py
Labels: integration: font, integration: image, core

#6979 Do not build mDNS when mDNS is disabled via yaml
  esphome/components/mdns/__init__.py
  esphome/components/mdns/mdns_component.cpp
  esphome/components/mdns/mdns_component.h
  esphome/components/mdns/mdns_esp32.cpp
  esphome/components/mdns/mdns_esp8266.cpp
  esphome/components/mdns/mdns_host.cpp
  esphome/components/mdns/mdns_libretiny.cpp
  esphome/components/mdns/mdns_rp2040.cpp
Labels: small-pr, integration: mdns

#6983 [safe_mode] Set safe mode core data in disabled cases
  esphome/components/safe_mode/__init__.py
Labels: small-pr, integration: safe_mode

#6948 Bump HeatpumpIR and IRremoteESP8266
  esphome/components/heatpumpir/climate.py
  esphome/components/heatpumpir/heatpumpir.cpp
  esphome/components/heatpumpir/heatpumpir.h
  platformio.ini
Labels: small-pr, integration: heatpumpir

#6984 [ota-esphome] Validate for multiple esphome ota instances
  esphome/components/esphome/ota/__init__.py
Labels: small-pr, integration: esphome

#6968 Improve 'body' handling in http_request on_response triggers
  esphome/codegen.py
  esphome/components/http_request/__init__.py
  esphome/components/http_request/http_request.h
  esphome/cpp_types.py
Labels: integration: http_request, core, small-pr

#6985 [ds1307] Initialize uninitialized struct members
  esphome/components/ds1307/ds1307.cpp
Labels: small-pr, integration: ds1307

#6986 Fix float encoding in modbus server
  esphome/components/modbus_controller/modbus_controller.cpp
Labels: small-pr, integration: modbus_controller

#6988 [dallas_temp] fix ds18s20 temp calc
  esphome/components/dallas_temp/dallas_temp.cpp
Labels: small-pr, by-code-owner, integration: dallas_temp

#6993 [modbus-text-sensor] fix potential buffer overflow
  esphome/components/modbus_controller/text_sensor/modbus_textsensor.cpp
Labels: small-pr, integration: modbus_controller

#6994 2024.6.3
  esphome/codegen.py
  esphome/components/dallas_temp/dallas_temp.cpp
  esphome/components/ds1307/ds1307.cpp
  esphome/components/esphome/ota/__init__.py
  esphome/components/http_request/__init__.py
  esphome/components/http_request/http_request.h
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/modbus_controller/text_sensor/modbus_textsensor.cpp
  esphome/components/safe_mode/__init__.py
  esphome/const.py
  esphome/cpp_types.py
Labels: merging-to-release

#6990 [CI] Add more mdns and safe_mode tests
  tests/components/mdns/common-enabled.yaml
  tests/components/mdns/test-disabled.esp32-idf.yaml
  tests/components/mdns/test-enabled.esp32-ard.yaml
  tests/components/mdns/test-enabled.esp32-c3-ard.yaml
  tests/components/mdns/test-enabled.esp32-c3-idf.yaml
  tests/components/mdns/test-enabled.esp32-idf.yaml
  tests/components/mdns/test-enabled.esp8266-ard.yaml
  tests/components/mdns/test-enabled.rp2040-ard.yaml
  tests/components/mdns/test.esp32-ard.yaml
  tests/components/mdns/test.esp32-c3-ard.yaml
  tests/components/mdns/test.esp32-c3-idf.yaml
  tests/components/mdns/test.esp32-idf.yaml
  tests/components/mdns/test.esp8266-ard.yaml
  tests/components/mdns/test.rp2040-ard.yaml
  tests/components/safe_mode/common-enabled.yaml
  tests/components/safe_mode/test-disabled.esp32-idf.yaml
  tests/components/safe_mode/test-enabled.esp32-ard.yaml
  tests/components/safe_mode/test-enabled.esp32-c3-ard.yaml
  tests/components/safe_mode/test-enabled.esp32-c3-idf.yaml
  tests/components/safe_mode/test-enabled.esp32-idf.yaml
  tests/components/safe_mode/test-enabled.esp8266-ard.yaml
  tests/components/safe_mode/test-enabled.rp2040-ard.yaml
  tests/components/safe_mode/test.esp32-ard.yaml
  tests/components/safe_mode/test.esp32-c3-ard.yaml
  tests/components/safe_mode/test.esp32-c3-idf.yaml
  tests/components/safe_mode/test.esp32-idf.yaml
  tests/components/safe_mode/test.esp8266-ard.yaml
  tests/components/safe_mode/test.rp2040-ard.yaml
Labels: has-tests, small-pr

#6991 [CI] Remove old test yamls
  .github/workflows/ci.yml
Labels: small-pr

#6992 [CI] Update tests to run against IDF 5.1
  tests/test_build_components/build_components_base.esp32-c3-idf-51.yaml
  tests/test_build_components/build_components_base.esp32-idf-51.yaml
  tests/test_build_components/build_components_base.esp32-s2-idf-51.yaml
  tests/test_build_components/build_components_base.esp32-s3-idf-51.yaml
Labels: has-tests, small-pr

#6980 Tuya invalid command 0x22
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
Labels: integration: tuya, small-pr

#7001 [ota-esphome] Merge configurations by port
  esphome/components/esphome/ota/__init__.py
Labels: integration: esphome

#6989 Allow wireguard to bind to PPP interface
  esphome/components/wireguard/__init__.py
  platformio.ini
Labels: small-pr, by-code-owner, integration: wireguard

#6997 Fix LEDC 100% is not 100% duty with ESP32 IDF
  esphome/components/ledc/ledc_output.cpp
Labels: integration: ledc, small-pr

#6975 [modbus_text_sensor] new default ANSI encoding type
  esphome/components/modbus_controller/text_sensor/__init__.py
  esphome/components/modbus_controller/text_sensor/modbus_textsensor.cpp
  esphome/components/modbus_controller/text_sensor/modbus_textsensor.h
Labels: breaking-change, small-pr, integration: modbus_controller

#7002 [CI] Remove old test yaml files
  tests/test1.1.yaml
  tests/test1.yaml
  tests/test11.5.yaml
  tests/test2.yaml
  tests/test3.1.yaml
  tests/test3.yaml
  tests/test4.yaml
  tests/test5.yaml
  tests/test6.yaml
  tests/test7.yaml
  tests/test8.1.yaml
  tests/test8.2.yaml
  tests/test8.yaml
  tests/test9.1.yaml
  tests/test9.yaml
Labels: has-tests, small-pr

#7003 Revert "[CI] Update tests to run against IDF 5.1"
  tests/test_build_components/build_components_base.esp32-c3-idf-50.yaml
  tests/test_build_components/build_components_base.esp32-idf-50.yaml
  tests/test_build_components/build_components_base.esp32-s2-idf-50.yaml
  tests/test_build_components/build_components_base.esp32-s3-idf-50.yaml
Labels: has-tests, small-pr

#7004 2024.6.4
  esphome/components/esphome/ota/__init__.py
  esphome/components/ledc/ledc_output.cpp
  esphome/const.py
Labels: merging-to-release

#7014 [mpr121] await register parented
  esphome/components/mpr121/binary_sensor/__init__.py
Labels: integration: mpr121, small-pr

#7017 Bump dockerfile dependencies
  docker/Dockerfile
Labels: small-pr

#7019 Enable devcontainer linters
  .devcontainer/devcontainer.json
Labels: small-pr

#7022 [docker] Bump versions inside armv7 block
  docker/Dockerfile
Labels: small-pr

#7021 [docker] Fix docker build error fall through
  docker/Dockerfile
Labels: small-pr

#6998 'uart' and 'improv_serial' need to understand non-UART logger configurations
  esphome/components/improv_serial/improv_serial_component.cpp
  esphome/components/uart/uart_component_esp32_arduino.cpp
  esphome/components/uart/uart_component_esp_idf.cpp
  tests/components/logger/common-default_uart.yaml
  tests/components/logger/common-usb_cdc.yaml
  tests/components/logger/common-usb_serial_jtag.yaml
  tests/components/logger/test-usb_cdc.esp32-c3-ard.yaml
  tests/components/logger/test-usb_cdc.esp32-s2-ard.yaml
  tests/components/logger/test-usb_cdc.esp32-s2-idf.yaml
  tests/components/logger/test-usb_cdc.esp32-s3-ard.yaml
  tests/components/logger/test-usb_serial_jtag.esp32-c3-idf.yaml
  tests/components/logger/test-usb_serial_jtag.esp32-s3-idf.yaml
  tests/components/logger/test.esp32-ard.yaml
  tests/components/logger/test.esp32-c3-ard.yaml
  tests/components/logger/test.esp32-c3-idf.yaml
  tests/components/logger/test.esp32-idf.yaml
  tests/components/logger/test.esp8266-ard.yaml
  tests/components/logger/test.rp2040-ard.yaml
  tests/components/uart/test-uart_max_with_usb_cdc.esp32-c3-ard.yaml
  tests/components/uart/test-uart_max_with_usb_cdc.esp32-s2-ard.yaml
  tests/components/uart/test-uart_max_with_usb_cdc.esp32-s2-idf.yaml
  tests/components/uart/test-uart_max_with_usb_cdc.esp32-s3-ard.yaml
  tests/components/uart/test-uart_max_with_usb_serial_jtag.esp32-c3-idf.yaml
  tests/components/uart/test-uart_max_with_usb_serial_jtag.esp32-s3-idf.yaml
Labels: integration: uart, has-tests, core, integration: improv_serial
