Repository esphome/esphome, pull requests merged in 2024-05, with the labels that each got.

#6576 [nextion] Use persistent http connection for TFT upload (ESP-IDF)
  CODEOWNERS
  esphome/components/nextion/display.py
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_upload_idf.cpp
  esphome/core/defines.h
Labels: integration: nextion, core

#6666 Add a function to return the loop_interval
  esphome/core/application.h
Labels: core, small-pr

#4642 Remote receiver improvements
  esphome/components/remote_base/remote_base.cpp
  esphome/components/remote_base/remote_base.h
  esphome/components/remote_receiver/__init__.py
  esphome/components/remote_receiver/remote_receiver.h
  esphome/components/remote_receiver/remote_receiver_esp32.cpp
  esphome/components/remote_receiver/remote_receiver_esp8266.cpp
  esphome/components/remote_receiver/remote_receiver_libretiny.cpp
Labels: not-stale, integration: remote_base, integration: remote_receiver

#6647 Make fast update intervals in qmc5883l work
  esphome/components/qmc5883l/qmc5883l.cpp
  esphome/components/qmc5883l/qmc5883l.h
Labels: integration: qmc5883l, small-pr

#6652 SPI and I2C for BMP390 and BMP380
  CODEOWNERS
  esphome/components/bmp3xx/sensor.py
  esphome/components/bmp3xx_base/__init__.py
  esphome/components/bmp3xx_base/bmp3xx_base.cpp
  esphome/components/bmp3xx_base/bmp3xx_base.h
  esphome/components/bmp3xx_i2c/__init__.py
  esphome/components/bmp3xx_i2c/bmp3xx_i2c.cpp
  esphome/components/bmp3xx_i2c/bmp3xx_i2c.h
  esphome/components/bmp3xx_i2c/sensor.py
  esphome/components/bmp3xx_spi/__init__.py
  esphome/components/bmp3xx_spi/bmp3xx_spi.cpp
  esphome/components/bmp3xx_spi/bmp3xx_spi.h
  esphome/components/bmp3xx_spi/sensor.py
  tests/components/bmp3xx/test.esp32-c3.yaml
  tests/components/bmp3xx/test.esp32-idf.yaml
  tests/components/bmp3xx/test.esp32.yaml
  tests/components/bmp3xx/test.esp8266.yaml
  tests/components/bmp3xx/test.rp2040.yaml
  tests/components/bmp3xx_i2c/common.yaml
  tests/components/bmp3xx_i2c/test.esp32-c3-idf.yaml
  tests/components/bmp3xx_i2c/test.esp32-c3.yaml
  tests/components/bmp3xx_i2c/test.esp32-idf.yaml
  tests/components/bmp3xx_i2c/test.esp32.yaml
  tests/components/bmp3xx_i2c/test.esp8266.yaml
  tests/components/bmp3xx_i2c/test.rp2040.yaml
  tests/components/bmp3xx_spi/common.yaml
  tests/components/bmp3xx_spi/test.esp32-c3-idf.yaml
  tests/components/bmp3xx_spi/test.esp32-c3.yaml
  tests/components/bmp3xx_spi/test.esp32-idf.yaml
  tests/components/bmp3xx_spi/test.esp32.yaml
  tests/components/bmp3xx_spi/test.esp8266.yaml
  tests/components/bmp3xx_spi/test.rp2040.yaml
  tests/test11.5.yaml
  tests/test5.yaml
Labels: new-integration, breaking-change, has-tests, integration: bmp3xx, integration: bmp3xx_base, integration: bmp3xx_i2c, integration: bmp3xx_spi

#6636 [core] Rename ALWAYS_INLINE to ESPHOME_ALWAYS_INLINE
  esphome/components/display/rect.h
  esphome/components/light/esp_color_correction.h
  esphome/components/light/esp_hsv_color.h
  esphome/core/color.h
  esphome/core/helpers.h
Labels: integration: display, integration: light, core

#6630 print task name if logger is called from other than main thread
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
Labels: integration: logger, core, small-pr

#6667 Fix recent definitions into `defines.h`
  esphome/core/defines.h
Labels: core, small-pr

#6669 Add fast update to HMC5883L
  esphome/components/hmc5883l/hmc5883l.cpp
  esphome/components/hmc5883l/hmc5883l.h
Labels: integration: hmc5883l, small-pr

#6672 Minor tidy up of BME280 code
  esphome/components/bme280_base/__init__.py
  esphome/components/bme280_base/sensor.py
  esphome/components/bme280_i2c/sensor.py
  esphome/components/bme280_spi/__init__.py
  esphome/components/bme280_spi/bme280_spi.cpp
  esphome/components/bme280_spi/sensor.py
  tests/components/bme280_i2c/common.yaml
  tests/components/bme280_i2c/test.esp32-c3-idf.yaml
  tests/components/bme280_i2c/test.esp32-c3.yaml
  tests/components/bme280_i2c/test.esp32-idf.yaml
  tests/components/bme280_i2c/test.esp32.yaml
  tests/components/bme280_i2c/test.esp8266.yaml
  tests/components/bme280_i2c/test.rp2040.yaml
  tests/components/bme280_spi/common.yaml
  tests/components/bme280_spi/test.esp32-c3-idf.yaml
  tests/components/bme280_spi/test.esp32-c3.yaml
  tests/components/bme280_spi/test.esp32-idf.yaml
  tests/components/bme280_spi/test.esp32.yaml
  tests/components/bme280_spi/test.esp8266.yaml
  tests/components/bme280_spi/test.rp2040.yaml
  tests/test1.yaml
Labels: has-tests, integration: bme280_base, integration: bme280_spi, integration: bme280_i2c

#6677 External components: optional configurable path for git source
  esphome/components/external_components/__init__.py
  esphome/config_validation.py
Labels: core, small-pr, integration: external_components

#6684 Use clang-apply-replacements when clang-apply-replacements-14 does not exist
  script/clang-tidy
Labels: core, small-pr

#6679 fix conflict with EMPTY macro in zephyr
  esphome/core/automation.h
Labels: core, small-pr

#6686 Fix Datetime-Datetime compiler error
  esphome/components/template/datetime/template_datetime.h
Labels: integration: template, core, small-pr

#6687 Bump esphome/ESPAsyncWebServer-esphome to 3.2.0
  esphome/components/web_server_base/__init__.py
  platformio.ini
Labels: integration: web_server_base, small-pr

#6688 fix date_time validation
  esphome/components/datetime/__init__.py
  esphome/components/template/datetime/__init__.py
  esphome/config_validation.py
  tests/components/template/common.yaml
Labels: integration: template, has-tests, core, by-code-owner, integration: datetime

#6631 proceed if AP mode is set up
  esphome/components/wifi/wifi_component.cpp
Labels: integration: wifi, core, small-pr

#6692 Migrate some constants to core code
  esphome/components/as5600/__init__.py
  esphome/components/as5600/sensor/__init__.py
  esphome/components/display_menu_base/__init__.py
  esphome/components/lcd_menu/__init__.py
  esphome/components/matrix_keypad/binary_sensor/__init__.py
  esphome/components/media_player/__init__.py
  esphome/components/sx1509/binary_sensor/__init__.py
  esphome/components/voice_assistant/__init__.py
  esphome/const.py
Labels: integration: sx1509, core, small-pr, integration: lcd_menu, integration: display_menu_base, integration: media_player, integration: matrix_keypad, integration: voice_assistant, integration: as5600

#6014 Make `pulse_meter` PULSE filter report the pulse as soon as it can
  esphome/components/pulse_meter/pulse_filter.md
  esphome/components/pulse_meter/pulse_meter_sensor.cpp
  esphome/components/pulse_meter/pulse_meter_sensor.h
Labels: by-code-owner, integration: pulse_meter

#6698 [github] Upgrade to actions/{upload,download}-artifact v4
  .github/actions/build-image/action.yaml
  .github/workflows/release.yml
Labels: small-pr

#6700 [nextion] Replace flags to `USE_ARDUINO`
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_upload_arduino.cpp
Labels: integration: nextion, small-pr, by-code-owner

#6701 [remote_receiver, remote_transmitter] Improve error messages on the ESP32
  esphome/components/remote_receiver/remote_receiver.h
  esphome/components/remote_receiver/remote_receiver_esp32.cpp
  esphome/components/remote_transmitter/remote_transmitter.h
  esphome/components/remote_transmitter/remote_transmitter_esp32.cpp
Labels: integration: remote_receiver, integration: remote_transmitter, small-pr

#6705 [ethernet] Use constexpr instead of inline define for KSZ80XX_PC2R_REG_ADDR
  esphome/components/ethernet/ethernet_component.cpp
Labels: integration: ethernet, core, small-pr

#6704 Add PHY register writes to enable external clock on Ethernet with RTL8201
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
Labels: integration: ethernet, core

#6703 Bump recommended ESP-IDF to 4.4.7
  esphome/components/esp32/__init__.py
  platformio.ini
Labels: small-pr, integration: esp32

#6422 Add IRK support to ble_rssi
  esphome/components/ble_presence/ble_presence_device.h
  esphome/components/ble_rssi/ble_rssi_sensor.h
  esphome/components/ble_rssi/sensor.py
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
  tests/components/ble_rssi/common.yaml
Labels: integration: ble_presence, integration: ble_rssi, integration: esp32_ble_tracker, has-tests

#6706 [core] Ensure that a generated ID name is distinct from its type.
  esphome/core/__init__.py
Labels: core, small-pr

#6707 [color] Fix crash when hex color parses as int, improve error reporting.
  esphome/components/color/__init__.py
  tests/components/color/common.yaml
Labels: integration: color, has-tests

#6708 2024.5.0b2
  .github/actions/build-image/action.yaml
  .github/workflows/release.yml
  esphome/components/esp32/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_upload_arduino.cpp
  esphome/components/remote_receiver/remote_receiver.h
  esphome/components/remote_receiver/remote_receiver_esp32.cpp
  esphome/components/remote_transmitter/remote_transmitter.h
  esphome/components/remote_transmitter/remote_transmitter_esp32.cpp
  esphome/const.py
  platformio.ini
Labels: merging-to-beta

#6710 [github] Fix digest artifact name
  .github/workflows/release.yml
Labels: small-pr

#6713 2024.5.0b3
  .github/workflows/release.yml
  esphome/components/color/__init__.py
  esphome/const.py
  esphome/core/__init__.py
  tests/components/color/common.yaml
Labels: merging-to-beta

#6716 Add new Error type to skip prepending path
  esphome/config.py
  esphome/config_validation.py
Labels: core, small-pr

#6711 [github] Only save platformio cache for dev branch
  .github/workflows/ci.yml
Labels: small-pr

#6714 Only cache docker images on dev branch
  .github/actions/build-image/action.yaml
Labels: small-pr

#6726 Add pylint to git pre-commit hooks
  .pre-commit-config.yaml
Labels: small-pr

#6723 fix(ltr390): stuck ALS values when configured for ALS+UV readings
  esphome/components/ltr390/ltr390.cpp
Labels: small-pr, integration: ltr390

#6715 separate debug component for each platform in different file
  esphome/components/debug/debug_component.cpp
  esphome/components/debug/debug_component.h
  esphome/components/debug/debug_esp32.cpp
  esphome/components/debug/debug_esp8266.cpp
  esphome/components/debug/debug_host.cpp
  esphome/components/debug/debug_libretiny.cpp
  esphome/components/debug/debug_rp2040.cpp
Labels: integration: debug, core

#4703 GDK101 support
  CODEOWNERS
  esphome/components/gdk101/__init__.py
  esphome/components/gdk101/binary_sensor.py
  esphome/components/gdk101/gdk101.cpp
  esphome/components/gdk101/gdk101.h
  esphome/components/gdk101/sensor.py
  esphome/const.py
  tests/components/gdk101/common.yaml
  tests/components/gdk101/test.esp32-idf.yaml
  tests/components/gdk101/test.esp32.yaml
  tests/components/gdk101/test.esp8266.yaml
  tests/components/gdk101/test.rp2040.yaml
Labels: new-integration, has-tests, core, integration: gdk101

#6729 Typing hint and doc fixes
  esphome/cpp_generator.py
Labels: core, small-pr

#6719 time_based_cover.cpp with manual control fix
  esphome/components/time_based/time_based_cover.cpp
Labels: integration: time_based, small-pr

#6712 Set FEATURE_API_AUDIO flag also if the speaker component is not used
  esphome/components/voice_assistant/voice_assistant.h
Labels: small-pr, integration: voice_assistant

#6682 [CST816] Add support for Hynitron Microelectronics CST826 capacitive touch
  esphome/components/cst816/touchscreen/cst816_touchscreen.cpp
  esphome/components/cst816/touchscreen/cst816_touchscreen.h
Labels: small-pr, integration: cst816

#6731 Fix ESPHOME_PROJECT_VERSION_30
  esphome/core/config.py
Labels: core, small-pr

#6733 2024.5.0b4
  esphome/components/ltr390/ltr390.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/const.py
  esphome/core/config.py
  requirements.txt
Labels: merging-to-beta

#6391 Voice-Assistant: Start-order change for VAD disabled: start va-pipeline when microphon…
  esphome/components/voice_assistant/voice_assistant.cpp
Labels: small-pr, integration: voice_assistant

#6735 [web_server] Minor python formatting
  esphome/components/web_server/__init__.py
Labels: integration: web_server, small-pr

#6734 [esp32_ble] Fix compilation error on esp32c6
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/const_esp32c6.h
Labels: by-code-owner, integration: esp32_ble

#6738 [core] Fix minor formatting issues
  esphome/__main__.py
  esphome/components/animation/__init__.py
Labels: core, small-pr, integration: animation

#6691 Add ANNOUNCING state to media_player.
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.cpp
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.h
  esphome/components/media_player/__init__.py
  esphome/components/media_player/automation.h
  esphome/components/media_player/media_player.cpp
  esphome/components/media_player/media_player.h
  esphome/components/voice_assistant/voice_assistant.cpp
Labels: integration: api, core, integration: i2s_audio, integration: media_player, integration: voice_assistant

#6741 2024.5.0b5
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.cpp
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.h
  esphome/components/media_player/__init__.py
  esphome/components/media_player/automation.h
  esphome/components/media_player/media_player.cpp
  esphome/components/media_player/media_player.h
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/const.py
Labels: merging-to-beta

#6749 [adc] Fix 11db deprecation warning
  esphome/components/adc/__init__.py
  esphome/components/adc/adc_sensor.cpp
  esphome/components/adc/adc_sensor.h
  esphome/components/adc/sensor.py
Labels: integration: adc, core

#6751 2024.5.0b6
  esphome/components/adc/__init__.py
  esphome/components/adc/adc_sensor.cpp
  esphome/components/adc/adc_sensor.h
  esphome/components/adc/sensor.py
  esphome/const.py
Labels: merging-to-beta

#6750 [tests] ``test2.yaml`` has become too large
  tests/test2.yaml
Labels: has-tests, small-pr

#6633 BedJet: expose the outlet temperature on the climate and as a sensor
  CODEOWNERS
  esphome/components/bedjet/__init__.py
  esphome/components/bedjet/bedjet_codec.cpp
  esphome/components/bedjet/bedjet_codec.h
  esphome/components/bedjet/bedjet_const.h
  esphome/components/bedjet/climate/__init__.py
  esphome/components/bedjet/climate/bedjet_climate.cpp
  esphome/components/bedjet/climate/bedjet_climate.h
  esphome/components/bedjet/sensor/__init__.py
  esphome/components/bedjet/sensor/bedjet_sensor.cpp
  esphome/components/bedjet/sensor/bedjet_sensor.h
  tests/components/bedjet/common.yaml
Labels: has-tests, new-platform, integration: bedjet

#6515 Add beken_spi_led_strip component
  CODEOWNERS
  esphome/components/beken_spi_led_strip/__init__.py
  esphome/components/beken_spi_led_strip/led_strip.cpp
  esphome/components/beken_spi_led_strip/led_strip.h
  esphome/components/beken_spi_led_strip/light.py
  esphome/components/esp32_rmt_led_strip/light.py
  esphome/components/rp2040_pio_led_strip/light.py
  esphome/const.py
  tests/components/beken_spi_led_strip/test.bk72xx.yaml
  tests/test_build_components/build_components_base.bk72xx.yaml
Labels: new-integration, has-tests, core, merge-after-release, integration: esp32_rmt_led_strip, integration: rp2040_pio_led_strip, integration: beken_spi_led_strip

#6746 i2c: fix format string specifiers
  esphome/components/i2c/i2c_bus_esp_idf.cpp
Labels: integration: i2c, core, small-pr

#6744 Allow one timing to cancel others
  esphome/components/binary_sensor/automation.cpp
  esphome/components/binary_sensor/automation.h
Labels: integration: binary_sensor, core, small-pr

#6194 fix rp2040_pio_led flicker and proper multi-strip support
  esphome/components/rp2040_pio_led_strip/led_strip.cpp
  esphome/components/rp2040_pio_led_strip/led_strip.h
  esphome/components/rp2040_pio_led_strip/light.py
Labels: by-code-owner, integration: rp2040_pio_led_strip

#6479 Mirage remote receiver & transmitter
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/mirage_protocol.cpp
  esphome/components/remote_base/mirage_protocol.h
  tests/components/remote_receiver/esp32-common.yaml
  tests/components/remote_receiver/test.esp8266.yaml
  tests/components/remote_transmitter/common-buttons.yaml
Labels: integration: remote_base, has-tests

#6436 WPA2 Enterprise - Explicitly set TTLS Phase 2
  esphome/components/wifi/__init__.py
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/const.py
Labels: integration: wifi, core

#6032 Fix Prometheus Output to Match Spec
  esphome/components/prometheus/prometheus_handler.cpp
Labels: small-pr, integration: prometheus

#5615 Skip gpio validation
  esphome/components/esp32/gpio.py
  esphome/components/esp32_touch/__init__.py
  esphome/const.py
  esphome/pins.py
  tests/test8.yaml
Labels: integration: esp32_touch, has-tests, core, integration: esp32

#6737 [core] Migrate to pyproject.toml
  .flake8
  docker/Dockerfile
  pyproject.toml
  script/setup
  setup.py
Labels: core, small-pr

#6740 [core] Move pytest config into pyproject.toml
  pyproject.toml
  pytest.ini
Labels: small-pr

#6739 [core] Move pylint config into pyproject.toml
  pylintrc
  pyproject.toml
Labels: small-pr

#6754 [core] Fix running pylint via pre-commit from GUI apps
  .pre-commit-config.yaml
  script/run-in-env.sh
Labels: core, small-pr

#6330 Add ADC multisampling
  esphome/components/adc/adc_sensor.cpp
  esphome/components/adc/adc_sensor.h
  esphome/components/adc/sensor.py
Labels: integration: adc, core

#6748 [core] Fix some extends cases
  esphome/components/substitutions/__init__.py
  esphome/config_helpers.py
Labels: integration: substitutions, core, small-pr

#6476 Port wifi_component_esp32_arduino from tcpip_adapter to esp_netif
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: integration: wifi, core

#6756 Fix wifi compile error on IDF 5.1+
  esphome/components/wifi/wifi_component.cpp
Labels: integration: wifi, core, small-pr

#6755 [core] Update some coroutine priorities
  esphome/components/datetime/__init__.py
  esphome/components/number/__init__.py
  esphome/components/ota/__init__.py
  esphome/components/select/__init__.py
  esphome/components/sensor/__init__.py
  esphome/components/template/datetime/__init__.py
  esphome/components/text/__init__.py
Labels: integration: ota, integration: sensor, integration: template, core, small-pr, by-code-owner, integration: number, integration: select, integration: text, integration: datetime

#6138 INA228/INA229, INA238/INA239, INA237 power/energy/charge monitor (I2C, SPI)
  CODEOWNERS
  esphome/components/ina2xx_base/__init__.py
  esphome/components/ina2xx_base/ina2xx_base.cpp
  esphome/components/ina2xx_base/ina2xx_base.h
  esphome/components/ina2xx_i2c/__init__.py
  esphome/components/ina2xx_i2c/ina2xx_i2c.cpp
  esphome/components/ina2xx_i2c/ina2xx_i2c.h
  esphome/components/ina2xx_i2c/sensor.py
  esphome/components/ina2xx_spi/__init__.py
  esphome/components/ina2xx_spi/ina2xx_spi.cpp
  esphome/components/ina2xx_spi/ina2xx_spi.h
  esphome/components/ina2xx_spi/sensor.py
  tests/components/ina2xx_i2c/common.yaml
  tests/components/ina2xx_i2c/test.esp32-c3-idf.yaml
  tests/components/ina2xx_i2c/test.esp32-c3.yaml
  tests/components/ina2xx_i2c/test.esp32-idf.yaml
  tests/components/ina2xx_i2c/test.esp32.yaml
  tests/components/ina2xx_i2c/test.esp8266.yaml
  tests/components/ina2xx_i2c/test.rp2040.yaml
  tests/components/ina2xx_spi/common.yaml
  tests/components/ina2xx_spi/test.esp32-c3-idf.yaml
  tests/components/ina2xx_spi/test.esp32-c3.yaml
  tests/components/ina2xx_spi/test.esp32-idf.yaml
  tests/components/ina2xx_spi/test.esp32.yaml
  tests/components/ina2xx_spi/test.esp8266.yaml
  tests/components/ina2xx_spi/test.rp2040.yaml
Labels: new-integration, has-tests, integration: ina2xx_base, integration: ina2xx_i2c, integration: ina2xx_spi

#6758 [nextion] Fix type on sprintf for IDF v5
  esphome/components/nextion/nextion_upload_idf.cpp
Labels: integration: nextion, small-pr, by-code-owner

#6757 [core] Remove references to deleted setup.py
  .github/workflows/release.yml
  CODEOWNERS
  script/build_codeowners.py
  script/ci-custom.py
Labels: core, small-pr

#6765 Add device_class to valve core config
  esphome/components/valve/__init__.py
Labels: small-pr, integration: valve

#6771 Fix pip3 install
  script/setup
Labels: core, small-pr

#6761 [tests] make test_build_components work with venv without installing esphome
  script/test_build_components
Labels: core, small-pr

#6762 separate deep_sleep component for each platform in different file
  esphome/components/deep_sleep/deep_sleep_component.cpp
  esphome/components/deep_sleep/deep_sleep_component.h
  esphome/components/deep_sleep/deep_sleep_esp32.cpp
  esphome/components/deep_sleep/deep_sleep_esp8266.cpp
Labels: integration: deep_sleep, core

#6774 Fix Upload from Dashboard with MQTT discovery.
  esphome/__main__.py
Labels: core, small-pr

#6775 Fix MQTT dashboard discovery (Exception in MqttStatusThread).
  esphome/dashboard/status/mqtt.py
Labels: core, small-pr, dashboard

#6239 add rp2040 support to the wizard
  esphome/wizard.py
Labels: core

#6781 2024.5.1
  esphome/__main__.py
  esphome/components/valve/__init__.py
  esphome/const.py
  esphome/dashboard/status/mqtt.py
Labels: merging-to-release

#6782 Revert "Fix MQTT dashboard discovery (Exception in MqttStatusThread)."
  esphome/dashboard/status/mqtt.py
Labels: core, small-pr, dashboard

#6783 Fix DashboardEntries.all() call
  esphome/dashboard/entries.py
Labels: core, small-pr, dashboard

#6745 [ili9xxx] Add 18bit mode selection and custom init sequence
  esphome/components/ili9xxx/display.py
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
  tests/components/ili9xxx/test.esp32-idf.yaml
Labels: has-tests, by-code-owner, integration: ili9xxx

#6784 [remote_receiver] Add better error message for tolerance breaking change
  esphome/components/remote_receiver/__init__.py
  tests/components/remote_receiver/esp32-common.yaml
Labels: integration: remote_receiver, has-tests, small-pr

#6760 Tiny fix in automation.h - unused return value removed
  esphome/core/automation.h
Labels: core, small-pr

#6786 2024.5.2
  esphome/components/remote_receiver/__init__.py
  esphome/components/web_server/server_index_v3.h
  esphome/const.py
  esphome/dashboard/entries.py
  esphome/dashboard/status/mqtt.py
  tests/components/remote_receiver/esp32-common.yaml
Labels: merging-to-release

#4874 Add support for acting as Modbus server
  esphome/components/modbus/__init__.py
  esphome/components/modbus/modbus.cpp
  esphome/components/modbus/modbus.h
  esphome/components/modbus_controller/__init__.py
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/modbus_controller/modbus_controller.h
  tests/components/modbus_controller/test.esp32.yaml
Labels: not-stale, integration: modbus, has-tests, integration: modbus_controller

#6790 Add on_safe_mode trigger
  esphome/components/safe_mode/__init__.py
  esphome/components/safe_mode/automation.h
  esphome/components/safe_mode/safe_mode.cpp
  esphome/components/safe_mode/safe_mode.h
  tests/components/safe_mode/common.yaml
Labels: has-tests, by-code-owner, integration: safe_mode

#6788 [sx1509] Output open drain pin mode
  esphome/components/sx1509/__init__.py
  esphome/components/sx1509/sx1509.cpp
  tests/components/sx1509/test.esp32-c3-idf.yaml
  tests/components/sx1509/test.esp32-c3.yaml
  tests/components/sx1509/test.esp32-idf.yaml
  tests/components/sx1509/test.esp32.yaml
  tests/components/sx1509/test.esp8266.yaml
  tests/components/sx1509/test.rp2040.yaml
Labels: integration: sx1509, has-tests

#6796 [ledc] Change some logging lines from debug to verbose
  esphome/components/ledc/ledc_output.cpp
Labels: integration: ledc, small-pr

#6780 [haier] ``text_sensor`` and ``button`` platforms
  CODEOWNERS
  esphome/components/haier/automation.h
  esphome/components/haier/binary_sensor/__init__.py
  esphome/components/haier/button/__init__.py
  esphome/components/haier/button/self_cleaning.cpp
  esphome/components/haier/button/self_cleaning.h
  esphome/components/haier/button/steri_cleaning.cpp
  esphome/components/haier/button/steri_cleaning.h
  esphome/components/haier/climate.py
  esphome/components/haier/haier_base.cpp
  esphome/components/haier/haier_base.h
  esphome/components/haier/hon_climate.cpp
  esphome/components/haier/hon_climate.h
  esphome/components/haier/hon_packet.h
  esphome/components/haier/sensor/__init__.py
  esphome/components/haier/text_sensor/__init__.py
  platformio.ini
  tests/components/haier/test.esp32-c3-idf.yaml
  tests/components/haier/test.esp32-c3.yaml
  tests/components/haier/test.esp32-idf.yaml
  tests/components/haier/test.esp32.yaml
  tests/components/haier/test.esp8266.yaml
  tests/components/haier/test.rp2040.yaml
Labels: new-integration, has-tests, by-code-owner, integration: haier

#6776 mpr121: Add GPIO support
  esphome/components/mpr121/__init__.py
  esphome/components/mpr121/binary_sensor/__init__.py
  esphome/components/mpr121/binary_sensor/mpr121_binary_sensor.cpp
  esphome/components/mpr121/binary_sensor/mpr121_binary_sensor.h
  esphome/components/mpr121/mpr121.cpp
  esphome/components/mpr121/mpr121.h
  tests/components/mpr121/common.yaml
  tests/components/mpr121/test.esp32-c3-idf.yaml
  tests/components/mpr121/test.esp32-c3.yaml
  tests/components/mpr121/test.esp32-idf.yaml
  tests/components/mpr121/test.esp32.yaml
  tests/components/mpr121/test.esp8266.yaml
  tests/components/mpr121/test.rp2040.yaml
  tests/test3.1.yaml
Labels: integration: mpr121, has-tests, new-platform

#6791 [nextion] Add basic functions to Intelligent series
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_commands.cpp
Labels: integration: nextion, by-code-owner

#6800 [voice_assistant] Don't allocate buffers until starting the microphone for the first time
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
Labels: by-code-owner, integration: voice_assistant

#6804 2024.5.3
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/const.py
Labels: merging-to-release

#6797 [web_server_base] Bump ESPAsyncWebServer-esphome to 3.2.2
  esphome/components/web_server_base/__init__.py
  platformio.ini
Labels: integration: web_server_base, small-pr

#6810 Fix incorrect naming of the AdaFruit MagTag display.
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: breaking-change, integration: waveshare_epaper, small-pr

#6808 [tuya] add support for extended services
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
Labels: integration: tuya

#6806 fix libretiny regression from #6715
  esphome/components/debug/debug_libretiny.cpp
Labels: integration: debug, core, small-pr

#6820 2024.5.4
  esphome/components/web_server_base/__init__.py
  esphome/const.py
  esphome/core/helpers.cpp
  esphome/core/helpers.h
  platformio.ini
Labels: merging-to-release

#6534 Make i2s_audio compatible with IDF 5+
  esphome/components/i2s_audio/i2s_audio.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/voice_assistant/voice_assistant.cpp
Labels: small-pr, integration: i2s_audio, integration: voice_assistant

#6822 Fix compile errors on ESP32-C6 with latest ESP-IDF
  esphome/components/ade7880/ade7880.cpp
  esphome/components/ade7953_base/ade7953_base.cpp
  esphome/components/fingerprint_grow/fingerprint_grow.cpp
  esphome/components/he60r/he60r.cpp
  esphome/components/mhz19/mhz19.cpp
  esphome/components/remote_base/abbwelcome_protocol.h
  esphome/components/remote_base/byronsx_protocol.cpp
  esphome/components/remote_base/drayton_protocol.cpp
  esphome/components/remote_base/keeloq_protocol.cpp
  esphome/components/uart/uart_component_esp_idf.cpp
  esphome/components/xgzp68xx/xgzp68xx.cpp
Labels: integration: mhz19, integration: remote_base, integration: uart, core, integration: fingerprint_grow, integration: ade7880, integration: ade7953_base, integration: xgzp68xx, integration: he60r

#6824 Use uint8_t instead of uint32_t for 8-bit values on mitsubishi
  esphome/components/mitsubishi/mitsubishi.cpp
Labels: integration: mitsubishi, small-pr

#6778 Make SPI Ethernet (W5500) compatible with ESP-IDF v5
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
Labels: integration: ethernet, core, small-pr

#6815 [wake_on_lan] Make component platform independent
  CODEOWNERS
  esphome/components/socket/lwip_raw_tcp_impl.cpp
  esphome/components/wake_on_lan/__init__.py
  esphome/components/wake_on_lan/button.py
  esphome/components/wake_on_lan/wake_on_lan.cpp
  esphome/components/wake_on_lan/wake_on_lan.h
  tests/components/wake_on_lan/test.esp32-c3-idf.yaml
  tests/components/wake_on_lan/test.esp32-idf.yaml
Labels: has-tests, integration: socket, integration: wake_on_lan

#6805 Fix a bunch of components for IDF 5 compatibility and #6802
  esphome/components/ade7880/ade7880.cpp
  esphome/components/ade7953_base/ade7953_base.cpp
  esphome/components/ags10/ags10.cpp
  esphome/components/ct_clamp/ct_clamp_sensor.cpp
  esphome/components/fingerprint_grow/fingerprint_grow.cpp
  esphome/components/he60r/he60r.cpp
  esphome/components/htu31d/htu31d.cpp
  esphome/components/ina2xx_base/ina2xx_base.cpp
  esphome/components/jsn_sr04t/jsn_sr04t.cpp
  esphome/components/mhz19/mhz19.cpp
  esphome/components/micro_wake_word/micro_wake_word.cpp
  esphome/components/remote_base/byronsx_protocol.cpp
  esphome/components/remote_base/drayton_protocol.cpp
  esphome/components/sonoff_d1/sonoff_d1.cpp
  esphome/components/weikai/weikai.cpp
  esphome/components/wl_134/wl_134.cpp
  esphome/components/xgzp68xx/xgzp68xx.cpp
  tests/components/remote_receiver/esp32-common.yaml
Labels: integration: remote_base, integration: fingerprint_grow, integration: ade7953_base, integration: htu31d, integration: ina2xx_base, integration: weikai

#6821 [voice_assistant] Timers
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
Labels: new-feature, integration: api, core, by-code-owner, integration: voice_assistant

#6445 [web_server] add entity sorting for v3
  esphome/components/alarm_control_panel/__init__.py
  esphome/components/binary_sensor/__init__.py
  esphome/components/button/__init__.py
  esphome/components/climate/__init__.py
  esphome/components/cover/__init__.py
  esphome/components/datetime/__init__.py
  esphome/components/fan/__init__.py
  esphome/components/light/__init__.py
  esphome/components/lock/__init__.py
  esphome/components/number/__init__.py
  esphome/components/select/__init__.py
  esphome/components/sensor/__init__.py
  esphome/components/switch/__init__.py
  esphome/components/text/__init__.py
  esphome/components/text_sensor/__init__.py
  esphome/components/valve/__init__.py
  esphome/components/web_server/__init__.py
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/const.py
Labels: integration: binary_sensor, integration: climate, integration: cover, integration: web_server, core, by-code-owner, integration: number, integration: button, integration: alarm_control_panel, integration: datetime

#6826 [micro_wake_word] Ensure model string is Path
  esphome/components/micro_wake_word/__init__.py
Labels: small-pr, integration: micro_wake_word

#6604 Fix DHT reading timing for SI7021 on ESP32
  esphome/components/dht/dht.cpp
Labels: integration: dht, small-pr

#6831 [core] Const-ify some Component fields
  esphome/core/component.cpp
  esphome/core/component.h
Labels: core, small-pr

#6829 [i2s_speaker] Add buffer allocation failure checks
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
Labels: small-pr, by-code-owner, integration: i2s_audio

#6076 LTR-303, LTR-329, LTR-553, LTR-556, LTR-559, LTR-659 Series of Lite-On Light (ALS) and Proximity(PS) sensors
  CODEOWNERS
  esphome/components/ltr390/sensor.py
  esphome/components/ltr_als_ps/__init__.py
  esphome/components/ltr_als_ps/ltr_als_ps.cpp
  esphome/components/ltr_als_ps/ltr_als_ps.h
  esphome/components/ltr_als_ps/ltr_definitions.h
  esphome/components/ltr_als_ps/sensor.py
  esphome/components/veml7700/sensor.py
  esphome/const.py
  tests/components/ltr_als_ps/common.yaml
  tests/components/ltr_als_ps/test.esp32-c3-idf.yaml
  tests/components/ltr_als_ps/test.esp32-c3.yaml
  tests/components/ltr_als_ps/test.esp32-idf.yaml
  tests/components/ltr_als_ps/test.esp32.yaml
  tests/components/ltr_als_ps/test.esp8266.yaml
  tests/components/ltr_als_ps/test.rp2040.yaml
Labels: new-integration, has-tests, core, by-code-owner, integration: ltr390, integration: veml7700, integration: ltr_als_ps

#6834 Update const.py added missing millimeter
  esphome/components/a02yyuw/sensor.py
  esphome/components/hydreon_rgxx/sensor.py
  esphome/components/mopeka_pro_check/sensor.py
  esphome/components/mopeka_std_check/sensor.py
  esphome/const.py
Labels: core, small-pr, integration: mopeka_pro_check, integration: hydreon_rgxx, integration: mopeka_std_check, integration: a02yyuw

#6839 Fix log message in VA for IDF 5
  esphome/components/voice_assistant/voice_assistant.cpp
Labels: small-pr, integration: voice_assistant
