Repository esphome/esphome, pull requests merged in 2024-04, with the labels that each got.

#6458 Optimize QMC5883L: Read registers only for enabled sensors
  esphome/components/qmc5883l/qmc5883l.cpp
Labels: integration: qmc5883l

#6446 minor refactor to allow commit hash as ref value.
  esphome/git.py
Labels: core, small-pr

#6452 TMP117 fix polling period config
  esphome/components/tmp117/sensor.py
Labels: integration: tmp117, small-pr

#6386 Bump Arduino Pico Framework to 3.7.2 and Platform to 1.12.0
  esphome/components/rp2040/__init__.py
  platformio.ini
Labels: small-pr, integration: rp2040

#6460 Display menu: Allow "left" key to exit current menu if not editing
  esphome/components/display_menu_base/display_menu_base.cpp
Labels: small-pr, integration: display_menu_base

#6464 Fix NOLINT on inclusive-language check
  esphome/components/pmsx003/pmsx003.h
  script/ci-custom.py
Labels: integration: pmsx003, core, small-pr

#6466 Add yamllint to dev requirements
  requirements_dev.txt
Labels: small-pr

#6456 Add temperature for QMC5883L
  esphome/components/qmc5883l/qmc5883l.cpp
  esphome/components/qmc5883l/qmc5883l.h
  esphome/components/qmc5883l/sensor.py
  tests/components/qmc5883l/test.esp32-c3-idf.yaml
  tests/components/qmc5883l/test.esp32-c3.yaml
  tests/components/qmc5883l/test.esp32-idf.yaml
  tests/components/qmc5883l/test.esp32.yaml
  tests/components/qmc5883l/test.esp8266.yaml
  tests/components/qmc5883l/test.rp2040.yaml
Labels: integration: qmc5883l, has-tests

#6467 web_server: Return early if no clients connected
  esphome/components/web_server/list_entities.cpp
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server_idf/web_server_idf.h
Labels: integration: web_server, integration: web_server_idf

#6470 ESP32 Arduino WiFi: misc bug fixes
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
Labels: integration: wifi, core, small-pr

#6468 Replace std::regex with sscanf calls
  esphome/core/time.cpp
  esphome/core/time.h
Labels: core

#6482 Include "Failed" status in config log.
  esphome/core/component.cpp
Labels: core, small-pr

#6490 Fix Microphone IsCapturingCondition
  esphome/components/microphone/automation.h
Labels: small-pr, integration: microphone

#6472 2024.3.2
  esphome/components/ethernet/__init__.py
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.cpp
  esphome/components/logger/logger_esp32.cpp
  esphome/const.py
Labels: merging-to-release

#6495 Remove misleading tag/line in messages
  esphome/core/component.cpp
Labels: core, small-pr

#6471 Send/Receive Voice Assistant audio via API
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
Labels: integration: api, core, by-code-owner, integration: voice_assistant

#6483 Datetime date initial value fix
  esphome/components/template/datetime/__init__.py
  esphome/components/web_server/web_server.cpp
Labels: integration: template, integration: web_server, core, small-pr

#6496 If the loop() took more than the required time, don't delay further
  esphome/core/application.cpp
Labels: core, small-pr

#6500 Bump LibreTiny version to 1.5.1
  esphome/components/libretiny/__init__.py
  esphome/components/rtl87xx/boards.py
Labels: by-code-owner, integration: libretiny, integration: rtl87xx

#6491 Internal temperature: Support Beken platform
  esphome/components/internal_temperature/internal_temperature.cpp
  esphome/components/internal_temperature/sensor.py
Labels: small-pr, by-code-owner, integration: internal_temperature

#5402 add support for Tuya pink version of miflora
  CODEOWNERS
  esphome/components/xiaomi_hhccjcy10/__init__.py
  esphome/components/xiaomi_hhccjcy10/sensor.py
  esphome/components/xiaomi_hhccjcy10/xiaomi_hhccjcy10.cpp
  esphome/components/xiaomi_hhccjcy10/xiaomi_hhccjcy10.h
  tests/test2.yaml
Labels: new-integration, has-tests, integration: xiaomi_hhccjcy10

#6489 Add MAC address to WiFi config reply
  esphome/components/captive_portal/captive_index.h
  esphome/components/captive_portal/captive_portal.cpp
Labels: integration: captive_portal, core

#4614 Adds i2c timeout config
  esphome/components/i2c/__init__.py
  esphome/components/i2c/i2c_bus_arduino.cpp
  esphome/components/i2c/i2c_bus_arduino.h
  esphome/components/i2c/i2c_bus_esp_idf.cpp
  esphome/components/i2c/i2c_bus_esp_idf.h
Labels: integration: i2c, core

#4689 Add ABB-Welcome / Busch-Welcome Door Intercom Protocol
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/abbwelcome_protocol.cpp
  esphome/components/remote_base/abbwelcome_protocol.h
Labels: not-stale, integration: remote_base

#6499 Fix Match by IRK
  esphome/components/ble_presence/ble_presence_device.h
Labels: integration: ble_presence, small-pr

#6497 Add rmt_channel to remote_transmitter and remote_receiver
  CODEOWNERS
  esphome/components/esp32_rmt/__init__.py
  esphome/components/esp32_rmt_led_strip/light.py
  esphome/components/remote_base/remote_base.cpp
  esphome/components/remote_base/remote_base.h
  esphome/components/remote_receiver/__init__.py
  esphome/components/remote_receiver/remote_receiver.h
  esphome/components/remote_transmitter/__init__.py
  esphome/components/remote_transmitter/remote_transmitter.h
  esphome/const.py
  tests/components/remote_receiver/esp32-common.yaml
  tests/components/remote_receiver/test.esp32-c3-idf.yaml
  tests/components/remote_receiver/test.esp32-c3.yaml
  tests/components/remote_receiver/test.esp32-idf.yaml
  tests/components/remote_receiver/test.esp32-s3-idf.yaml
  tests/components/remote_receiver/test.esp32.yaml
  tests/components/remote_receiver/test.esp8266.yaml
  tests/components/remote_transmitter/common-buttons.yaml
  tests/components/remote_transmitter/esp32-common.yaml
  tests/components/remote_transmitter/test.esp32-c3-idf.yaml
  tests/components/remote_transmitter/test.esp32-c3.yaml
  tests/components/remote_transmitter/test.esp32-idf.yaml
  tests/components/remote_transmitter/test.esp32-s3-idf.yaml
  tests/components/remote_transmitter/test.esp32.yaml
  tests/components/remote_transmitter/test.esp8266.yaml
Labels: new-integration, integration: remote_base, integration: remote_receiver, integration: remote_transmitter, has-tests, core, by-code-owner, integration: esp32_rmt_led_strip, integration: esp32_rmt

#6503 Rework tlc5947 to remove AUTO_LOAD
  esphome/components/tlc5947/__init__.py
  esphome/components/tlc5947/output/__init__.py
  esphome/components/tlc5947/output/tlc5947_output.cpp
  esphome/components/tlc5947/output/tlc5947_output.h
  esphome/components/tlc5947/tlc5947.cpp
  esphome/components/tlc5947/tlc5947.h
  tests/components/tlc5947/common.yaml
  tests/components/tlc5947/test.esp32-c3-idf.yaml
  tests/components/tlc5947/test.esp32-c3.yaml
  tests/components/tlc5947/test.esp32-idf.yaml
  tests/components/tlc5947/test.esp32.yaml
  tests/components/tlc5947/test.esp8266.yaml
  tests/components/tlc5947/test.rp2040.yaml
Labels: has-tests, integration: tlc5947

#6504 UART: ignore require_tx/rx if not a native uart implementation
  esphome/components/uart/__init__.py
Labels: integration: uart, core, small-pr

#6506 esp32_rmt_led_strip bugfixes
  esphome/components/esp32_rmt_led_strip/led_strip.h
  esphome/components/esp32_rmt_led_strip/light.py
Labels: small-pr, integration: esp32_rmt_led_strip

#6494 Implemented support for the TLC5971 as an output component
  CODEOWNERS
  esphome/components/tlc5971/__init__.py
  esphome/components/tlc5971/output/__init__.py
  esphome/components/tlc5971/output/tlc5971_output.cpp
  esphome/components/tlc5971/output/tlc5971_output.h
  esphome/components/tlc5971/tlc5971.cpp
  esphome/components/tlc5971/tlc5971.h
  tests/components/tlc5971/common.yaml
  tests/components/tlc5971/test.esp32-c3-idf.yaml
  tests/components/tlc5971/test.esp32-c3.yaml
  tests/components/tlc5971/test.esp32-idf.yaml
  tests/components/tlc5971/test.esp32-s2.yaml
  tests/components/tlc5971/test.esp32.yaml
  tests/components/tlc5971/test.esp8266.yaml
  tests/components/tlc5971/test.rp2040.yaml
Labels: new-integration, has-tests, integration: tlc5971

#6488 Add Dooya protocol to remote_base
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/dooya_protocol.cpp
  esphome/components/remote_base/dooya_protocol.h
  esphome/components/xiaomi_rtcgq02lm/binary_sensor.py
  esphome/const.py
Labels: integration: remote_base, core, integration: xiaomi_rtcgq02lm

#6474 Only give error for connected sensors at startup
  esphome/components/dallas/dallas_component.cpp
  esphome/components/dallas/dallas_component.h
Labels: integration: dallas, small-pr

#6507 Webserver float to string fix
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server, small-pr

#6508 Add dooya remote transmitter test
  tests/components/remote_transmitter/common-buttons.yaml
Labels: has-tests, small-pr

#5981 ads1115: remove auto-load and split sensor into platform folder
  esphome/components/ads1115/__init__.py
  esphome/components/ads1115/ads1115.cpp
  esphome/components/ads1115/ads1115.h
  esphome/components/ads1115/sensor/__init__.py
  esphome/components/ads1115/sensor/ads1115_sensor.cpp
  esphome/components/ads1115/sensor/ads1115_sensor.h
Labels: integration: ads1115, new-platform

#6517 Bump esphome-dashboard to 20240412.0
  requirements.txt
Labels: small-pr

#6518 2024.4.0b2
  esphome/components/ads1115/__init__.py
  esphome/components/ads1115/ads1115.cpp
  esphome/components/ads1115/ads1115.h
  esphome/components/ads1115/sensor/__init__.py
  esphome/components/ads1115/sensor/ads1115_sensor.cpp
  esphome/components/ads1115/sensor/ads1115_sensor.h
  esphome/const.py
  requirements.txt
  tests/components/remote_transmitter/common-buttons.yaml
Labels: merging-to-beta

#6520 Fix missing ifdefs in voice assistant
  esphome/components/voice_assistant/voice_assistant.cpp
Labels: small-pr, by-code-owner, integration: voice_assistant

#6511 Added Htu21d model option
  esphome/components/htu21d/htu21d.cpp
  esphome/components/htu21d/htu21d.h
  esphome/components/htu21d/sensor.py
  tests/components/htu21d/test.esp32-c3-idf.yaml
  tests/components/htu21d/test.esp32-c3.yaml
  tests/components/htu21d/test.esp32-idf.yaml
  tests/components/htu21d/test.esp32.yaml
  tests/components/htu21d/test.esp8266.yaml
  tests/components/htu21d/test.rp2040.yaml
Labels: integration: htu21d, has-tests

#6522 Add bk72xx base test file
  tests/test_build_components/build_components_base.bk72xx.yaml
Labels: has-tests, small-pr

#6450 Add DNS sensor and simplify format
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
  esphome/components/ethernet_info/ethernet_info_text_sensor.cpp
  esphome/components/ethernet_info/ethernet_info_text_sensor.h
  esphome/components/ethernet_info/text_sensor.py
  esphome/components/wifi_info/wifi_info_text_sensor.h
  tests/components/ethernet_info/test.esp32-idf.yaml
  tests/components/ethernet_info/test.esp32.yaml
Labels: breaking-change, integration: ethernet, integration: wifi_info, has-tests, core, integration: ethernet_info

#6524 Add all missing `remote_receiver` `on_...` tests
  tests/components/remote_receiver/esp32-common.yaml
  tests/components/remote_receiver/test.esp8266.yaml
Labels: has-tests, small-pr

#6529 Add actions to http_request tests
  tests/components/http_request/common.yaml
  tests/components/http_request/test.esp32-c3.yaml
  tests/components/http_request/test.esp32.yaml
  tests/components/http_request/test.esp8266.yaml
Labels: has-tests, small-pr

#6535 Fix project version longer than 30 characters breaking compilation
  esphome/core/base_automation.h
  esphome/core/config.py
  esphome/core/defines.h
Labels: core, small-pr

#6527 Fix no-release bug on ft6x36
  esphome/components/ft63x6/ft63x6.cpp
Labels: small-pr, integration: ft63x6

#6536 2024.4.0b3
  esphome/components/ft63x6/ft63x6.cpp
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/const.py
  esphome/core/base_automation.h
  esphome/core/config.py
  esphome/core/defines.h
Labels: merging-to-beta

#6526 Define `USE_PSRAM`
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
  esphome/components/psram/__init__.py
Labels: integration: esp32_ble_tracker, small-pr, integration: psram

#6541 Bump python version in sync-device-classes workflow to 3.12 for HA
  .github/workflows/sync-device-classes.yml
Labels: small-pr

#6546 Add enum option to typed_schema
  esphome/config_validation.py
Labels: core, small-pr

#6523 Move esphome-fork startup script to main repo.
  docker/ha-addon-rootfs/etc/cont-init.d/30-esphome-fork.sh
Labels: small-pr

#6549 Call workflow for addon with dev version
  .github/workflows/release.yml
Labels: small-pr

#6545 Use trusted publishing token for pypi
  .github/workflows/release.yml
Labels: small-pr

#6487 Fix uart to work with new enum definition in esp-idf-v5.2.1
  esphome/components/logger/logger_esp32.cpp
Labels: integration: logger, core, small-pr

#6552 Housecleaning: Use walrus operator in datetime
  esphome/components/datetime/__init__.py
Labels: small-pr, by-code-owner, integration: datetime

#6560 Housecleaning: Use walrus operator in text
  esphome/components/text/__init__.py
Labels: small-pr, integration: text

#6556 Housecleaning: Use walrus operator in light
  esphome/components/light/__init__.py
Labels: integration: light, core, small-pr

#6557 Housecleaning: Use walrus operator in select
  esphome/components/select/__init__.py
Labels: small-pr, integration: select

#6561 Housecleaning: Use walrus operator in number
  esphome/components/number/__init__.py
Labels: small-pr, integration: number

#6562 Housecleaning: Use walrus operator in cover
  esphome/components/cover/__init__.py
Labels: integration: cover, core, small-pr

#6551 Housecleaning: Use walrus operator in climate
  esphome/components/climate/__init__.py
Labels: integration: climate, core

#6559 Housecleaning: Use walrus operator in text_sensor
  esphome/components/text_sensor/__init__.py
Labels: integration: text_sensor, core, small-pr

#6548 Bump zeroconf to 0.132.2
  requirements.txt
Labels: small-pr

#6568 [Tuya Climate] Fix compilation error caused by codegen
  esphome/components/tuya/climate/__init__.py
Labels: integration: tuya, small-pr

#6558 Housecleaning: Use walrus operator in switch
  esphome/components/switch/__init__.py
Labels: integration: switch, core, small-pr

#6554 Housecleaning: Use walrus operator in lock
  esphome/components/lock/__init__.py
Labels: small-pr, integration: lock

#6553 Housecleaning: Use walrus operator in sensor
  esphome/components/sensor/__init__.py
Labels: integration: sensor, core, small-pr

#6567 Nextion - Review set_protocol_reparse_mode()
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_commands.cpp
Labels: integration: nextion

#6475 Allow component final_validate
  esphome/config.py
Labels: core, small-pr

#6573 SM2135 - Use standard channel ordering.
  esphome/components/sm2135/sm2135.cpp
Labels: breaking-change, small-pr, integration: sm2135

#6566 Nextion - Do not refresh sensors while updating
  esphome/components/nextion/binary_sensor/nextion_binarysensor.cpp
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_base.h
  esphome/components/nextion/sensor/nextion_sensor.cpp
  esphome/components/nextion/switch/nextion_switch.cpp
  esphome/components/nextion/text_sensor/nextion_textsensor.cpp
Labels: integration: nextion

#6564 On failure, dump the output of preceding jobs in CI status
  .github/workflows/ci.yml
Labels: small-pr

#6540 Nextion `send_command` method
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
Labels: integration: nextion, small-pr, merge-after-release

#6542 Fix some printf formats for size_t.
  esphome/components/select/select.cpp
  esphome/components/select/select_call.cpp
  esphome/components/sensor/filter.cpp
Labels: integration: sensor, core, small-pr, integration: select

#6577 remove delay from tmp102
  esphome/components/tmp102/tmp102.cpp
Labels: integration: tmp102, small-pr

#6575 Create ``component_dir`` substitution for local files to be included in…
  script/ci-custom.py
  tests/components/font/Monocraft.ttf
  tests/components/font/common.yaml
  tests/components/font/test.esp32-c3-idf.yaml
  tests/components/font/test.esp32-c3.yaml
  tests/components/font/test.esp32-idf.yaml
  tests/components/font/test.esp32.yaml
  tests/components/font/test.esp8266.yaml
  tests/components/font/test.rp2040.yaml
  tests/test_build_components/build_components_base.bk72xx.yaml
  tests/test_build_components/build_components_base.esp32-ard.yaml
  tests/test_build_components/build_components_base.esp32-c3-ard.yaml
  tests/test_build_components/build_components_base.esp32-c3-idf.yaml
  tests/test_build_components/build_components_base.esp32-idf.yaml
  tests/test_build_components/build_components_base.esp32-s2-ard.yaml
  tests/test_build_components/build_components_base.esp32-s2-idf.yaml
  tests/test_build_components/build_components_base.esp32-s3-ard.yaml
  tests/test_build_components/build_components_base.esp32-s3-idf.yaml
  tests/test_build_components/build_components_base.esp8266.yaml
  tests/test_build_components/build_components_base.host.yaml
  tests/test_build_components/build_components_base.rp2040.yaml
Labels: has-tests, core, small-pr

#6585 Define `USE_ESP32_BLE`
  esphome/components/esp32_ble/__init__.py
Labels: small-pr, integration: esp32_ble

#6598 wifi: fix reconnect issue due to enablement of fast connect
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
Labels: integration: wifi, core, small-pr

#6599 Calibrate Beken internal temperature
  esphome/components/internal_temperature/internal_temperature.cpp
  tests/components/internal_temperature/test.bk72xx.yaml
  tests/components/internal_temperature/test.esp32-c3-idf.yaml
  tests/components/internal_temperature/test.esp32-c3.yaml
  tests/components/internal_temperature/test.esp32-idf.yaml
  tests/components/internal_temperature/test.esp32.yaml
  tests/components/internal_temperature/test.rp2040.yaml
Labels: has-tests, small-pr, by-code-owner, integration: internal_temperature

#6605 fix streaming logs from MQTT for ESP32 devices using TLS
  esphome/mqtt.py
Labels: core, small-pr

#6512 Disallow variant/family override for known boards
  esphome/components/esp32/__init__.py
  esphome/components/libretiny/__init__.py
Labels: integration: esp32, integration: libretiny

#6578 Add yamllint and clang-format to pre-commit hooks
  .pre-commit-config.yaml
Labels: small-pr

#6493 esp32_ble: Consider ESP_BT_STATUS_DONE a successful state
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
Labels: integration: esp32_ble_tracker, small-pr

#6574 Fix or filter
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
Labels: integration: sensor, core, small-pr

#6606 Use clang-format version from requirements_dev file
  .github/workflows/ci.yml
  requirements_dev.txt
Labels: small-pr

#6592 Fix SHT3xd fails sometimes in 2024.4.0
  esphome/components/sht3xd/sht3xd.cpp
  esphome/components/sht3xd/sht3xd.h
Labels: integration: sht3xd, by-code-owner

#6607 2024.4.1
  esphome/components/esp32/__init__.py
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/internal_temperature/internal_temperature.cpp
  esphome/components/libretiny/__init__.py
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
  esphome/components/tuya/climate/__init__.py
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
  esphome/const.py
  esphome/mqtt.py
  tests/components/internal_temperature/test.bk72xx.yaml
  tests/components/internal_temperature/test.esp32-c3-idf.yaml
  tests/components/internal_temperature/test.esp32-c3.yaml
  tests/components/internal_temperature/test.esp32-idf.yaml
  tests/components/internal_temperature/test.esp32.yaml
  tests/components/internal_temperature/test.rp2040.yaml
Labels: merging-to-release

#6211 Add some components to the new testing framework (O)
  tests/components/ota/test.esp32-c3-idf.yaml
  tests/components/ota/test.esp32-c3.yaml
  tests/components/ota/test.esp32-idf.yaml
  tests/components/ota/test.esp32.yaml
  tests/components/ota/test.esp8266.yaml
  tests/components/ota/test.rp2040.yaml
  tests/components/output/test.esp32-c3-idf.yaml
  tests/components/output/test.esp32-c3.yaml
  tests/components/output/test.esp32-idf.yaml
  tests/components/output/test.esp32.yaml
  tests/components/output/test.esp8266.yaml
  tests/components/output/test.rp2040.yaml
Labels: has-tests, small-pr

#6610 [mopeka_std_check] Fix test file indentation
  tests/components/mopeka_std_check/test.esp32-c3-idf.yaml
  tests/components/mopeka_std_check/test.esp32-c3.yaml
  tests/components/mopeka_std_check/test.esp32-idf.yaml
Labels: has-tests, small-pr

#6447 Add valve component
  CODEOWNERS
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/api/list_entities.cpp
  esphome/components/api/list_entities.h
  esphome/components/api/subscribe_state.cpp
  esphome/components/api/subscribe_state.h
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_valve.cpp
  esphome/components/mqtt/mqtt_valve.h
  esphome/components/template/valve/__init__.py
  esphome/components/template/valve/template_valve.cpp
  esphome/components/template/valve/template_valve.h
  esphome/components/valve/__init__.py
  esphome/components/valve/automation.h
  esphome/components/valve/valve.cpp
  esphome/components/valve/valve.h
  esphome/components/valve/valve_traits.h
  esphome/components/web_server/list_entities.cpp
  esphome/components/web_server/list_entities.h
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/core/application.h
  esphome/core/component_iterator.cpp
  esphome/core/component_iterator.h
  esphome/core/controller.cpp
  esphome/core/controller.h
  esphome/core/defines.h
  script/ci-custom.py
  tests/components/template/test.all.yaml
Labels: new-integration, needs-tests, integration: api, integration: mqtt, integration: template, integration: web_server, core, integration: valve

#6609 [sn74hc595] Enforce type field to distinguish gpio vs spi mode
  esphome/components/sn74hc595/__init__.py
  tests/components/sn74hc595/test.esp32-c3-idf.yaml
  tests/components/sn74hc595/test.esp32-c3.yaml
  tests/components/sn74hc595/test.esp32-idf.yaml
  tests/components/sn74hc595/test.esp32.yaml
  tests/components/sn74hc595/test.esp8266.yaml
  tests/components/sn74hc595/test.rp2040.yaml
  tests/test1.yaml
Labels: breaking-change, integration: sn74hc595, has-tests

#6613 allow defaults with no include vars
  esphome/yaml_util.py
Labels: core, small-pr

#6612 [tests] Run yaml tests in groups if over 100 to run
  .github/workflows/ci.yml
Labels: small-pr

#6614 `graphical_display_menu` requires a Display, not DisplayBuffer
  esphome/components/graphical_display_menu/__init__.py
  esphome/components/graphical_display_menu/graphical_display_menu.cpp
  esphome/core/color.h
Labels: core, small-pr, integration: graphical_display_menu

#6611 Add null GPIO pin
  esphome/components/cst226/touchscreen/cst226_touchscreen.cpp
  esphome/components/cst226/touchscreen/cst226_touchscreen.h
  esphome/core/gpio.h
Labels: core, small-pr, by-code-owner, integration: cst226

#6617 Allow UART to be AUTO LOADed
  esphome/components/uart/__init__.py
Labels: integration: uart, core, small-pr

#5218 Add the WeiKai SPI/I2C UART/IO Expander components to esphome
  CODEOWNERS
  esphome/components/weikai/__init__.py
  esphome/components/weikai/weikai.cpp
  esphome/components/weikai/weikai.h
  esphome/components/weikai/wk_reg_def.h
  esphome/components/weikai_i2c/__init__.py
  esphome/components/weikai_i2c/weikai_i2c.cpp
  esphome/components/weikai_i2c/weikai_i2c.h
  esphome/components/weikai_spi/__init__.py
  esphome/components/weikai_spi/weikai_spi.cpp
  esphome/components/weikai_spi/weikai_spi.h
  esphome/components/wk2132_i2c/__init__.py
  esphome/components/wk2132_i2c/wk2132_i2c.cpp
  esphome/components/wk2132_spi/__init__.py
  esphome/components/wk2168_i2c/__init__.py
  esphome/components/wk2168_spi/__init__.py
  esphome/components/wk2204_i2c/__init__.py
  esphome/components/wk2204_spi/__init__.py
  esphome/components/wk2212_i2c/__init__.py
  esphome/components/wk2212_spi/__init__.py
  tests/components/wk2132_i2c/common.yaml
  tests/components/wk2132_i2c/test.esp32-idf.yaml
  tests/components/wk2132_i2c/test.esp32-s3-idf.yaml
  tests/components/wk2132_i2c/test.esp32-s3.yaml
  tests/components/wk2132_i2c/test.esp32.yaml
  tests/components/wk2132_spi/common.yaml
  tests/components/wk2132_spi/test.esp32-idf.yaml
  tests/components/wk2132_spi/test.esp32-s3-idf.yaml
  tests/components/wk2132_spi/test.esp32-s3.yaml
  tests/components/wk2132_spi/test.esp32.yaml
  tests/components/wk2168_i2c/common.yaml
  tests/components/wk2168_i2c/test.esp32-idf.yaml
  tests/components/wk2168_i2c/test.esp32-s3-idf.yaml
  tests/components/wk2168_i2c/test.esp32-s3.yaml
  tests/components/wk2168_i2c/test.esp32.yaml
  tests/components/wk2168_spi/common.yaml
  tests/components/wk2168_spi/test.esp32-idf.yaml
  tests/components/wk2168_spi/test.esp32-s3-idf.yaml
  tests/components/wk2168_spi/test.esp32-s3.yaml
  tests/components/wk2168_spi/test.esp32.yaml
  tests/components/wk2204_i2c/common.yaml
  tests/components/wk2204_i2c/test.esp32-idf.yaml
  tests/components/wk2204_i2c/test.esp32-s3-idf.yaml
  tests/components/wk2204_i2c/test.esp32-s3.yaml
  tests/components/wk2204_i2c/test.esp32.yaml
  tests/components/wk2204_spi/common.yaml
  tests/components/wk2204_spi/test.esp32-idf.yaml
  tests/components/wk2204_spi/test.esp32-s3-idf.yaml
  tests/components/wk2204_spi/test.esp32-s3.yaml
  tests/components/wk2204_spi/test.esp32.yaml
  tests/components/wk2212_i2c/common.yaml
  tests/components/wk2212_i2c/test.esp32-idf.yaml
  tests/components/wk2212_i2c/test.esp32-s3-idf.yaml
  tests/components/wk2212_i2c/test.esp32-s3.yaml
  tests/components/wk2212_i2c/test.esp32.yaml
  tests/components/wk2212_spi/common.yaml
  tests/components/wk2212_spi/test.esp32-idf.yaml
  tests/components/wk2212_spi/test.esp32-s3-idf.yaml
  tests/components/wk2212_spi/test.esp32-s3.yaml
  tests/components/wk2212_spi/test.esp32.yaml
Labels: new-integration, has-tests, integration: wk2132_i2c, integration: wk2132_spi, integration: weikai, integration: wk2168_i2c, integration: wk2168_spi, integration: wk2204_i2c, integration: wk2204_spi, integration: wk2212_i2c, integration: wk2212_spi, integration: weikai_i2c, integration: weikai_spi

#6619 Sort mqtt_const alphabetically
  esphome/components/mqtt/mqtt_const.h
Labels: integration: mqtt, core, cleanup, code-quality

#6594 Limit Rx wait loop time to 3 seconds.
  esphome/components/ld2420/ld2420.cpp
Labels: small-pr, by-code-owner, integration: ld2420

#6451 Event entity support
  CODEOWNERS
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/api/list_entities.cpp
  esphome/components/api/list_entities.h
  esphome/components/api/subscribe_state.h
  esphome/components/event/__init__.py
  esphome/components/event/automation.h
  esphome/components/event/event.cpp
  esphome/components/event/event.h
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_const.h
  esphome/components/mqtt/mqtt_event.cpp
  esphome/components/mqtt/mqtt_event.h
  esphome/components/template/event/__init__.py
  esphome/components/template/event/template_event.h
  esphome/components/web_server/list_entities.cpp
  esphome/components/web_server/list_entities.h
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/const.py
  esphome/core/application.h
  esphome/core/component_iterator.cpp
  esphome/core/component_iterator.h
  esphome/core/controller.cpp
  esphome/core/controller.h
  esphome/core/defines.h
  script/ci-custom.py
  tests/components/event/test.esp32-c3-idf.yaml
  tests/components/event/test.esp32-c3.yaml
  tests/components/event/test.esp32-idf.yaml
  tests/components/event/test.esp32.yaml
  tests/components/event/test.esp8266.yaml
  tests/components/event/test.rp2040.yaml
Labels: new-integration, integration: api, integration: mqtt, integration: template, integration: web_server, core, integration: event

#6620 Only check c/c++ files with clang-format
  .pre-commit-config.yaml
Labels: small-pr

#4866 Added base64 helper
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: stale, core

#4595 Add Roomba IR protocol
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/roomba_protocol.cpp
  esphome/components/remote_base/roomba_protocol.h
Labels: stale, integration: remote_base

#5976 Fix issue when setting cw/ww brightness via temperature
  esphome/components/light/light_call.cpp
Labels: integration: light, core, small-pr

#5006 Add get/set color temperature functions in Kelvin
  esphome/components/light/light_color_values.h
Labels: integration: light, core, small-pr

#6629 Move CONF_PLATFORM_VERSION to global const.py
  esphome/components/esp32/__init__.py
  esphome/components/esp8266/__init__.py
  esphome/components/rp2040/__init__.py
  esphome/const.py
Labels: core, small-pr, integration: esp32, integration: esp8266, integration: rp2040

#6596 Ble client fixes for proxy
  esphome/components/alpha3/alpha3.cpp
  esphome/components/am43/sensor/am43_sensor.cpp
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/pvvx_mithermometer/display/pvvx_display.cpp
Labels: small-pr, integration: pvvx_mithermometer, integration: am43, integration: bluetooth_proxy, integration: alpha3, integration: esp32_ble_client

#6618 Fix for #6614- use background_color, improve anti-aliasing
  esphome/components/font/font.cpp
  esphome/components/graphical_display_menu/graphical_display_menu.cpp
Labels: integration: font, core, small-pr, by-code-owner, integration: graphical_display_menu

#6593 Fix graph hangs when y <= 0
  esphome/components/graph/graph.cpp
Labels: small-pr, integration: graph

#6084 Feature add last_operation to time based cover
  esphome/components/time_based/time_based_cover.h
Labels: integration: time_based, small-pr

#6513 Add datetime entities
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/api/list_entities.cpp
  esphome/components/api/list_entities.h
  esphome/components/api/subscribe_state.cpp
  esphome/components/api/subscribe_state.h
  esphome/components/datetime/__init__.py
  esphome/components/datetime/date_entity.cpp
  esphome/components/datetime/datetime_base.h
  esphome/components/datetime/datetime_entity.cpp
  esphome/components/datetime/datetime_entity.h
  esphome/components/datetime/time_entity.cpp
  esphome/components/datetime/time_entity.h
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_datetime.cpp
  esphome/components/mqtt/mqtt_datetime.h
  esphome/components/template/datetime/__init__.py
  esphome/components/template/datetime/template_datetime.cpp
  esphome/components/template/datetime/template_datetime.h
  esphome/components/time/real_time_clock.cpp
  esphome/components/web_server/list_entities.cpp
  esphome/components/web_server/list_entities.h
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/const.py
  esphome/core/application.h
  esphome/core/component_iterator.cpp
  esphome/core/component_iterator.h
  esphome/core/controller.cpp
  esphome/core/controller.h
  esphome/core/defines.h
  esphome/core/time.cpp
  esphome/core/time.h
  script/ci-custom.py
  tests/components/datetime/test.all.yaml
  tests/components/template/common.yaml
  tests/components/template/test.bk72xx.yaml
  tests/components/template/test.esp32-c3-idf.yaml
  tests/components/template/test.esp32-c3.yaml
  tests/components/template/test.esp32-idf.yaml
  tests/components/template/test.esp32-s3-idf.yaml
  tests/components/template/test.esp32.yaml
  tests/components/template/test.esp8266.yaml
  tests/components/template/test.rp2040.yaml
Labels: breaking-change, integration: api, integration: mqtt, integration: template, integration: time, integration: web_server, core, by-code-owner, integration: datetime

#6615 Multiple Daly-BMS support
  esphome/components/daly_bms/__init__.py
Labels: small-pr, integration: daly_bms

#6637 Remove text_sensor from sync-device-class job
  script/sync-device_class.py
Labels: core, small-pr

#6608 Display: add diagnostic test_card option
  esphome/components/display/__init__.py
  esphome/components/display/display.cpp
  esphome/components/display/display.h
Labels: integration: display, core

#6492 waveshare_epaper: Add 2.90in-dke
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
  tests/components/waveshare_epaper/test.esp32.yaml
Labels: integration: waveshare_epaper, has-tests

#6643 Extract core comments from #6241
  esphome/automation.py
  esphome/config_validation.py
  esphome/core/component.h
Labels: core, small-pr

#6650 Revert #6458
  esphome/components/qmc5883l/qmc5883l.cpp
Labels: integration: qmc5883l, small-pr

#6004 [hm3301] Updated the AQI based on the airnow document
  esphome/components/hm3301/aqi_calculator.h
Labels: integration: hm3301, small-pr

#6644 Fix command line substitutions without any yaml substitutions
  esphome/components/substitutions/__init__.py
  esphome/config.py
  script/test_build_components
  tests/test_build_components/build_components_base.bk72xx.yaml
  tests/test_build_components/build_components_base.esp32-ard.yaml
  tests/test_build_components/build_components_base.esp32-c3-ard.yaml
  tests/test_build_components/build_components_base.esp32-c3-idf.yaml
  tests/test_build_components/build_components_base.esp32-idf.yaml
  tests/test_build_components/build_components_base.esp32-s2-ard.yaml
  tests/test_build_components/build_components_base.esp32-s2-idf.yaml
  tests/test_build_components/build_components_base.esp32-s3-ard.yaml
  tests/test_build_components/build_components_base.esp32-s3-idf.yaml
  tests/test_build_components/build_components_base.esp8266.yaml
  tests/test_build_components/build_components_base.host.yaml
  tests/test_build_components/build_components_base.rp2040.yaml
Labels: integration: substitutions, has-tests, core, small-pr

#6623 Allow platform dependencies
  esphome/config.py
  script/list-components.py
Labels: core

#6595 [light] Add transition_length to strobe effect.
  esphome/components/light/base_light_effects.h
  esphome/components/light/effects.py
Labels: integration: light, core, small-pr

#6651 Fixed the issue that graph draws out of the boundary.
  esphome/components/graph/graph.cpp
Labels: small-pr, integration: graph

#5766 Fix upload command. MQTT user and password is missing from configuration. #5093
  esphome/__main__.py
Labels: stale, core, small-pr

#6371 patch esphome cli to skip mqtt based device discovery if --device option is specified
  esphome/__main__.py
Labels: core, small-pr

#6654 [i2s_audio.microphone] Fixing adc bug
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
Labels: by-code-owner, integration: i2s_audio

#6639 Fix for #4866 - inconsistent arguments
  esphome/components/binary_sensor/automation.cpp
  esphome/core/helpers.cpp
  tests/components/host/test.host.yaml
Labels: integration: binary_sensor, has-tests, core, small-pr

#6655 [template/text] Fix lambda config
  esphome/components/template/text/__init__.py
  tests/component_tests/text/test_text.py
  tests/component_tests/text/test_text.yaml
  tests/components/template/common.yaml
Labels: integration: template, has-tests, core, small-pr

#6563 web_server: Add support for v3 local server_index
  esphome/components/web_server/server_index.h
  esphome/components/web_server/server_index_v2.h
  esphome/components/web_server/server_index_v3.h
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server

#6589 [nextion] Exit reparse before update TFT
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_upload_arduino.cpp
  esphome/components/nextion/nextion_upload_idf.cpp
Labels: integration: nextion, small-pr

#6660 2024.4.2
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/qmc5883l/qmc5883l.cpp
  esphome/components/sht3xd/sht3xd.cpp
  esphome/components/sht3xd/sht3xd.h
  esphome/const.py
  esphome/yaml_util.py
Labels: merging-to-release

#6587 [nextion] Set alternative TFT update baud rate
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_upload_arduino.cpp
  esphome/components/nextion/nextion_upload_idf.cpp
Labels: integration: nextion

#6656 [TM1637] Let turn off the display
  esphome/components/tm1637/tm1637.cpp
  esphome/components/tm1637/tm1637.h
Labels: integration: tm1637, small-pr

#6582 [nextion] Use persistent http connection for TFT upload (Arduino)
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_upload_arduino.cpp
Labels: integration: nextion
