Repository esphome/esphome, pull requests merged in 2024-09, with the labels that each got.

#7382 update logs for bluetooth proxy
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
Labels: small-pr, integration: bluetooth_proxy

#7366 [font] Make display an auto-load, not a dependency
  esphome/components/display/__init__.py
  esphome/components/font/__init__.py
  esphome/components/font/font.cpp
  esphome/components/font/font.h
  esphome/core/defines.h
  tests/components/font/test.host.yaml
Labels: integration: display, integration: font, has-tests, core, by-code-owner

#7386 Bump Dockerfile dependencies
  docker/Dockerfile
Labels: small-pr

#7356 CH422G support
  CODEOWNERS
  esphome/components/ch422g/__init__.py
  esphome/components/ch422g/ch422g.cpp
  esphome/components/ch422g/ch422g.h
  tests/components/ch422g/common.yaml
  tests/components/ch422g/test.esp32-ard.yaml
  tests/components/ch422g/test.esp32-c3-ard.yaml
  tests/components/ch422g/test.esp32-c3-idf.yaml
  tests/components/ch422g/test.esp32-idf.yaml
  tests/components/ch422g/test.esp8266-ard.yaml
  tests/components/ch422g/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: ch422g

#7383 [rpi_dpi_rgb] Add enable_pin and reset_display method to driver
  esphome/components/rpi_dpi_rgb/display.py
  esphome/components/rpi_dpi_rgb/rpi_dpi_rgb.cpp
  esphome/components/rpi_dpi_rgb/rpi_dpi_rgb.h
Labels: small-pr, integration: rpi_dpi_rgb

#7381 Enable IPv6 when manual IPv4 is enabled
  esphome/components/ethernet/ethernet_component.cpp
Labels: integration: ethernet, core, small-pr

#7388 [core] Only clean build files with esp-idf
  esphome/storage_json.py
  esphome/writer.py
Labels: core, small-pr

#7308 Bump mDNS and follow ruff's suggestions
  esphome/components/mdns/__init__.py
  esphome/idf_component.yml
Labels: core, small-pr, integration: mdns

#7134 Bump rp2040 Arduino platform and framework
  esphome/components/rp2040/__init__.py
  platformio.ini
Labels: small-pr, integration: rp2040

#7298 [gree] Add support for YX1FF remote
  esphome/components/gree/climate.py
  esphome/components/gree/gree.cpp
  esphome/components/gree/gree.h
Labels: integration: gree

#7311 [modbus_controller] Allow duplicate command config
  esphome/components/modbus_controller/__init__.py
  esphome/components/modbus_controller/const.py
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/modbus_controller/modbus_controller.h
  tests/components/modbus_controller/test.esp32-ard.yaml
  tests/components/modbus_controller/test.esp32-idf.yaml
Labels: has-tests, small-pr, integration: modbus_controller

#7390 Better support for task blocking ring buffer reads and writes
  esphome/core/ring_buffer.cpp
  esphome/core/ring_buffer.h
Labels: core

#7399 2024.8.2
  esphome/components/datetime/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/const.py
  esphome/storage_json.py
  esphome/writer.py
Labels: merging-to-release

#7400 2024.8.3
  docker/Dockerfile
  esphome/const.py
Labels: merging-to-release

#7406 [api] Remove id from ``MediaPlayerSupportedFormat``
  esphome/components/api/api.proto
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
Labels: integration: api, core, small-pr

#7088 Drop max BLE client connections limitation
  esphome/components/ble_client/__init__.py
Labels: integration: ble_client, small-pr

#7358 [bl0942] loop and overflow cleanup
  esphome/components/bl0942/bl0942.cpp
  esphome/components/bl0942/bl0942.h
Labels: small-pr, integration: bl0942

#7385 Voice assist improvement - configurable conversation_id timeout
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  tests/components/voice_assistant/test.esp32-ard.yaml
Labels: has-tests, small-pr, integration: voice_assistant

#7299 Support BL0942 calibration
  CODEOWNERS
  esphome/components/bl0942/__init__.py
  esphome/components/bl0942/bl0942.cpp
  esphome/components/bl0942/bl0942.h
  esphome/components/bl0942/sensor.py
  tests/components/bl0942/test.bk72xx-ard.yaml
  tests/components/bl0942/test.rp2040-ard.yaml
Labels: has-tests, integration: bl0942

#7401 [micro_wake_word] Remove duplicated download code
  esphome/components/micro_wake_word/__init__.py
  esphome/external_files.py
Labels: core, small-pr, by-code-owner, integration: micro_wake_word

#6642 Add StatsD component
  CODEOWNERS
  esphome/components/statsd/__init__.py
  esphome/components/statsd/statsd.cpp
  esphome/components/statsd/statsd.h
  tests/components/statsD/common.yaml
  tests/components/statsD/test.bk72xx-ard.yaml
  tests/components/statsD/test.esp32-ard.yaml
  tests/components/statsD/test.esp32-c3-ard.yaml
  tests/components/statsD/test.esp32-c3-idf.yaml
  tests/components/statsD/test.esp32-idf.yaml
  tests/components/statsD/test.esp8266-ard.yaml
  tests/components/statsD/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: statsd

#7331 [homeassistant-switch] Support different entity domains
  esphome/components/homeassistant/__init__.py
  esphome/components/homeassistant/switch/__init__.py
  esphome/components/homeassistant/switch/homeassistant_switch.cpp
  tests/components/homeassistant/common.yaml
Labels: integration: homeassistant, has-tests, core

#7053 Add support for using BMP280 with SPI
  CODEOWNERS
  esphome/components/bmp280/sensor.py
  esphome/components/bmp280_base/__init__.py
  esphome/components/bmp280_base/bmp280_base.cpp
  esphome/components/bmp280_base/bmp280_base.h
  esphome/components/bmp280_i2c/__init__.py
  esphome/components/bmp280_i2c/bmp280_i2c.cpp
  esphome/components/bmp280_i2c/bmp280_i2c.h
  esphome/components/bmp280_i2c/sensor.py
  esphome/components/bmp280_spi/__init__.py
  esphome/components/bmp280_spi/bmp280_spi.cpp
  esphome/components/bmp280_spi/bmp280_spi.h
  esphome/components/bmp280_spi/sensor.py
  tests/components/bmp280/test.esp32-ard.yaml
  tests/components/bmp280/test.esp32-c3-idf.yaml
  tests/components/bmp280/test.esp32-idf.yaml
  tests/components/bmp280/test.esp8266-ard.yaml
  tests/components/bmp280/test.rp2040-ard.yaml
  tests/components/bmp280_i2c/common.yaml
  tests/components/bmp280_i2c/test.esp32-ard.yaml
  tests/components/bmp280_i2c/test.esp32-c3-ard.yaml
  tests/components/bmp280_i2c/test.esp32-c3-idf.yaml
  tests/components/bmp280_i2c/test.esp32-idf.yaml
  tests/components/bmp280_i2c/test.esp8266-ard.yaml
  tests/components/bmp280_i2c/test.rp2040-ard.yaml
  tests/components/bmp280_spi/common.yaml
  tests/components/bmp280_spi/test.esp32-ard.yaml
  tests/components/bmp280_spi/test.esp32-c3-ard.yaml
  tests/components/bmp280_spi/test.esp32-c3-idf.yaml
  tests/components/bmp280_spi/test.esp32-idf.yaml
  tests/components/bmp280_spi/test.esp8266-ard.yaml
  tests/components/bmp280_spi/test.rp2040-ard.yaml
Labels: new-integration, breaking-change, integration: bmp280, has-tests, integration: bmp280_base, integration: bmp280_i2c, integration: bmp280_spi

#7377 Add voice assistant announce
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
Labels: integration: api, core, integration: voice_assistant

#7380 [lvgl] Msgbox fixes and enhancements
  esphome/components/lvgl/automation.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/widgets/__init__.py
  esphome/components/lvgl/widgets/msgbox.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#7408 libretiny: Allow specifying version of explicitly imported sources
  esphome/components/libretiny/__init__.py
Labels: small-pr, integration: libretiny

#7415 [libretiny] Report version 1.7.0 for 'dev' and 'latest'
  esphome/components/libretiny/__init__.py
Labels: small-pr, integration: libretiny

#7426 Bump libssl-dev to 3.0.14-1~deb12u2
  docker/Dockerfile
Labels: small-pr

#7430 [gh-actions] Don't produce docker build summaries
  .github/actions/build-image/action.yaml
Labels: small-pr

#7409 Add BK72xx support to require_framework_version()
  esphome/config_validation.py
Labels: core, small-pr

#7410 Switch IPv6 platform check to use require_framework_version()
  esphome/components/network/__init__.py
Labels: integration: network, core, small-pr

#7428 [bl0942] Improve energy reporting
  esphome/components/bl0942/bl0942.cpp
  esphome/components/bl0942/bl0942.h
  esphome/components/bl0942/sensor.py
  tests/components/bl0942/test.bk72xx-ard.yaml
  tests/components/bl0942/test.esp32-ard.yaml
Labels: has-tests, small-pr, by-code-owner, integration: bl0942

#7423 [rpi_dpi_rgb] Add bounce_buffer config for ESP-IDF 5.x
  esphome/components/rpi_dpi_rgb/display.py
  esphome/components/rpi_dpi_rgb/rpi_dpi_rgb.cpp
  esphome/components/rpi_dpi_rgb/rpi_dpi_rgb.h
Labels: by-code-owner, integration: rpi_dpi_rgb

#7427 [LVGL] Add color gradients
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/gradient.py
  esphome/components/lvgl/lv_validation.py
  esphome/components/lvgl/lvcode.py
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/types.py
  esphome/components/lvgl/widgets/meter.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#7431 Pull in new AsyncTCP for IPv6 on BK72xx
  esphome/components/async_tcp/__init__.py
  platformio.ini
Labels: integration: async_tcp, core, small-pr

#7432 Bump LibreTiny recommended version to 1.7.0
  esphome/components/libretiny/__init__.py
Labels: small-pr, integration: libretiny

#7398 Enable IPv6 support for BK72xx
  esphome/components/network/__init__.py
  esphome/components/wifi/wifi_component_libretiny.cpp
  tests/components/network/test-ipv6.bk72xx-ard.yaml
Labels: integration: network, integration: wifi, has-tests, core, small-pr

#7183 Move I2S config settings the the base i2sAudio files. Phase 1
  esphome/components/i2s_audio/__init__.py
  esphome/components/i2s_audio/i2s_audio.h
  esphome/components/i2s_audio/microphone/__init__.py
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.h
  esphome/components/i2s_audio/speaker/__init__.py
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
Labels: integration: i2s_audio

#7218 Implement all supported thermocouple types for MAX31856
  esphome/components/max31856/max31856.cpp
  esphome/components/max31856/max31856.h
  esphome/components/max31856/sensor.py
  esphome/components/mcp9600/sensor.py
  esphome/const.py
  tests/components/max31856/test.esp32-ard.yaml
  tests/components/max31856/test.esp32-c3-ard.yaml
  tests/components/max31856/test.esp32-c3-idf.yaml
  tests/components/max31856/test.esp32-idf.yaml
  tests/components/max31856/test.esp8266-ard.yaml
  tests/components/max31856/test.rp2040-ard.yaml
Labels: integration: max31856, has-tests, core, integration: mcp9600

#7306 [i2s_audio] Add more options to speakers and microphones
  esphome/components/i2s_audio/__init__.py
  esphome/components/i2s_audio/i2s_audio.h
  esphome/components/i2s_audio/media_player/__init__.py
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.h
  esphome/components/i2s_audio/microphone/__init__.py
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.h
  esphome/components/i2s_audio/speaker/__init__.py
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  tests/components/speaker/test.esp32-ard.yaml
  tests/components/speaker/test.esp32-c3-ard.yaml
  tests/components/speaker/test.esp32-c3-idf.yaml
  tests/components/speaker/test.esp32-idf.yaml
  tests/components/voice_assistant/test.esp32-ard.yaml
  tests/components/voice_assistant/test.esp32-c3-ard.yaml
  tests/components/voice_assistant/test.esp32-c3-idf.yaml
  tests/components/voice_assistant/test.esp32-idf.yaml
Labels: breaking-change, has-tests, integration: i2s_audio

#7326 [uponor_smatrix] Modifies sending algorithm
  esphome/components/uponor_smatrix/uponor_smatrix.cpp
  esphome/components/uponor_smatrix/uponor_smatrix.h
Labels: small-pr, integration: uponor_smatrix

#7360 User configurable frame buffer.
  esphome/components/esp32_camera/__init__.py
  esphome/components/esp32_camera/esp32_camera.cpp
  esphome/components/esp32_camera/esp32_camera.h
Labels: integration: esp32_camera, small-pr

#7312 [Modbus Controller] Added preference to change command retries
  esphome/components/modbus_controller/__init__.py
  esphome/components/modbus_controller/const.py
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/modbus_controller/modbus_controller.h
  tests/components/modbus_controller/test.esp32-ard.yaml
  tests/components/modbus_controller/test.esp32-idf.yaml
Labels: has-tests, integration: modbus_controller

#7435 [voice-assistant] Dont error on ``no_wake_word`` timeout error with streaming wake word
  esphome/components/voice_assistant/voice_assistant.cpp
Labels: small-pr, by-code-owner, integration: voice_assistant

#7332 Improve manufacturer data tracing to identify BLE devices a bit easie…
  esphome/components/ble_presence/binary_sensor.py
  esphome/components/esp32_ble/ble_uuid.cpp
  esphome/components/esp32_ble/ble_uuid.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: ble_presence, integration: esp32_ble_tracker, small-pr, integration: esp32_ble

#7349 Bump recommended ESP-IDF to 4.4.8
  esphome/components/esp32/__init__.py
  platformio.ini
Labels: small-pr, integration: esp32

#7443 [tm1638] Fix linting and formatting issues
  esphome/components/tm1638/binary_sensor/__init__.py
  esphome/components/tm1638/display.py
  esphome/components/tm1638/output/__init__.py
  esphome/components/tm1638/switch/__init__.py
Labels: small-pr, integration: tm1638

#7440 [image] Fix linting and formatting issues
  esphome/components/image/__init__.py
Labels: integration: image, core, small-pr

#7439 [animation] Fix linting and formatting issues
  esphome/components/animation/__init__.py
Labels: small-pr, integration: animation

#7442 [thermostat] Fix linting and formatting issues
  esphome/components/thermostat/climate.py
Labels: integration: thermostat, small-pr

#6645 Add OpenTherm component (part 1: communication layer and hub)
  CODEOWNERS
  esphome/components/opentherm/__init__.py
  esphome/components/opentherm/hub.cpp
  esphome/components/opentherm/hub.h
  esphome/components/opentherm/opentherm.cpp
  esphome/components/opentherm/opentherm.h
  tests/components/opentherm/common.yaml
  tests/components/opentherm/test.esp32-ard.yaml
  tests/components/opentherm/test.esp32-c3-ard.yaml
  tests/components/opentherm/test.esp32-c3-idf.yaml
  tests/components/opentherm/test.esp32-idf.yaml
  tests/components/opentherm/test.esp8266-ard.yaml
Labels: new-integration, has-tests, integration: opentherm

#7447 [st7701s] Make use of IDF5.x to speed up display operations
  esphome/components/st7701s/st7701s.cpp
  esphome/components/st7701s/st7701s.h
Labels: small-pr, by-code-owner, integration: st7701s

#7451 Add sample_bytes to media player supported format
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/media_player/media_player.h
Labels: integration: api, core, small-pr, integration: media_player

#7450 2024.9.0b2
  esphome/components/ble_presence/binary_sensor.py
  esphome/components/esp32_ble/ble_uuid.cpp
  esphome/components/esp32_ble/ble_uuid.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/const.py
Labels: merging-to-beta

#7452 [docker] Bump git from 1:2.39.2-1.1 to 1:2.39.5-0+deb12u1
  docker/Dockerfile
Labels: small-pr

#7445 Add voice assistant configuration messages
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
Labels: integration: api, core

#7441 [modbus_controller] Fix linting and formatting issues
  esphome/components/modbus_controller/__init__.py
  esphome/components/modbus_controller/binary_sensor/__init__.py
  esphome/components/modbus_controller/number/__init__.py
  esphome/components/modbus_controller/output/__init__.py
  esphome/components/modbus_controller/select/__init__.py
  esphome/components/modbus_controller/sensor/__init__.py
  esphome/components/modbus_controller/switch/__init__.py
  esphome/components/modbus_controller/text_sensor/__init__.py
Labels: integration: modbus_controller

#7454 2024.9.0b3
  docker/Dockerfile
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/media_player/media_player.h
  esphome/const.py
Labels: merging-to-beta

#7438 Bump pylint from 3.1.0 to 3.2.7
  requirements_test.txt
Labels: small-pr

#7455 Dont replace project name spaces with underlines
  esphome/core/config.py
Labels: core, small-pr

#7459 Add voice assistant methods for configuration
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/voice_assistant/voice_assistant.h
Labels: integration: api, core, integration: voice_assistant

#7465 2024.9.0b4
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/voice_assistant/voice_assistant.h
  esphome/const.py
  esphome/core/config.py
Labels: merging-to-beta

#7020 openeth ethernet / qemu support
  esphome/components/ethernet/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
  tests/components/ethernet/common-openeth.yaml
  tests/components/ethernet/test-openeth.esp32-idf.yaml
Labels: integration: ethernet, has-tests, core, small-pr, merge-after-release

#6905 [nextion] Optionally skip connection handshake
  esphome/components/nextion/base_component.py
  esphome/components/nextion/display.py
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
Labels: integration: nextion, by-code-owner, merge-after-release

#7416 Haier climate integration update
  CODEOWNERS
  esphome/components/haier/climate.py
  esphome/components/haier/haier_base.cpp
  esphome/components/haier/haier_base.h
  esphome/components/haier/hon_climate.cpp
  esphome/components/haier/hon_climate.h
  esphome/components/haier/smartair2_climate.cpp
  esphome/components/haier/switch/__init__.py
  esphome/components/haier/switch/beeper.cpp
  esphome/components/haier/switch/beeper.h
  esphome/components/haier/switch/display.cpp
  esphome/components/haier/switch/display.h
  esphome/components/haier/switch/health_mode.cpp
  esphome/components/haier/switch/health_mode.h
  esphome/components/haier/switch/quiet_mode.cpp
  esphome/components/haier/switch/quiet_mode.h
  tests/components/haier/common.yaml
Labels: breaking-change, has-tests, by-code-owner, new-platform, integration: haier, merge-after-release

#7449 Added i2s_comm_fmt parameter to i2s speaker component
  esphome/components/i2s_audio/speaker/__init__.py
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
Labels: small-pr, integration: i2s_audio

#7453 [lvgl] Enhancements
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/hello_world.py
  esphome/components/lvgl/lv_validation.py
  tests/components/lvgl/lvgl-package.yaml
  tests/components/lvgl/test.host.yaml
Labels: has-tests, by-code-owner, merge-after-release, integration: lvgl

#7146 Add tca9555 GPIO driver
  CODEOWNERS
  esphome/components/gpio_expander/__init__.py
  esphome/components/gpio_expander/cached_gpio.h
  esphome/components/tca9555/__init__.py
  esphome/components/tca9555/tca9555.cpp
  esphome/components/tca9555/tca9555.h
  tests/components/tca9555/test.esp32-ard.yaml
  tests/components/tca9555/test.esp32-c3-ard.yaml
  tests/components/tca9555/test.esp32-c3-idf.yaml
  tests/components/tca9555/test.esp32-idf.yaml
  tests/components/tca9555/test.esp8266-ard.yaml
  tests/components/tca9555/test.rp2040-ard.yaml
Labels: new-integration, has-tests, merge-after-release, integration: tca9555, integration: gpio_expander

#7462 [st7701s] Fix initialisation race
  esphome/components/st7701s/st7701s.cpp
Labels: small-pr, by-code-owner, integration: st7701s

#7481 Copy active wake words to message
  esphome/components/api/api_connection.cpp
Labels: integration: api, core, small-pr

#7476 add "fan_mode" and "swing_mode" to REST API
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server, small-pr

#7482 2024.9.1
  esphome/components/api/api_connection.cpp
  esphome/const.py
Labels: merging-to-release

#7461 [esp32_improv] Add triggers for various states
  esphome/components/esp32_improv/__init__.py
  esphome/components/esp32_improv/automation.h
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/esp32_improv/esp32_improv_component.h
  esphome/core/defines.h
Labels: core, integration: esp32_improv

#7484 [micro_wake_word] Workaround for failing IDF 5+ tests
  esphome/components/micro_wake_word/__init__.py
Labels: small-pr, integration: micro_wake_word

#7301 Add CSE7766 reactive power
  esphome/components/cse7766/cse7766.cpp
  esphome/components/cse7766/cse7766.h
  esphome/components/cse7766/sensor.py
Labels: integration: cse7766, small-pr

#7448 Support inkplate 5 and 5 V2
  esphome/components/inkplate6/display.py
  esphome/components/inkplate6/inkplate.h
Labels: integration: inkplate6

#7488 fix bl0906 reset energy action
  esphome/components/bl0906/sensor.py
  tests/components/bl0906/common.yaml
Labels: has-tests, small-pr, integration: bl0906

#7483 Add remote transmitter triggers
  esphome/components/remote_transmitter/__init__.py
  esphome/components/remote_transmitter/remote_transmitter.h
  esphome/components/remote_transmitter/remote_transmitter_esp32.cpp
  esphome/components/remote_transmitter/remote_transmitter_esp8266.cpp
  esphome/components/remote_transmitter/remote_transmitter_libretiny.cpp
Labels: integration: remote_transmitter

#7493 tcs34725: fix color/clear channel percentage calculations on long exposures
  esphome/components/tcs34725/tcs34725.cpp
Labels: integration: tcs34725, small-pr

#7485 tcs34725: Add check for Division by Zero
  esphome/components/tcs34725/tcs34725.cpp
Labels: integration: tcs34725, small-pr

#7497 [config_validation] Fix bug with extras on schemas
  esphome/voluptuous_schema.py
Labels: core, small-pr

#7500 [core] add ring buffer destructor
  esphome/core/ring_buffer.cpp
  esphome/core/ring_buffer.h
Labels: core, small-pr

#7467 [ch422g] Add support for pins 8-11; make input work.
  CODEOWNERS
  esphome/components/ch422g/__init__.py
  esphome/components/ch422g/ch422g.cpp
  esphome/components/ch422g/ch422g.h
  tests/components/ch422g/common.yaml
Labels: breaking-change, has-tests, integration: ch422g

#7501 Add clean_session as configurable option to the MQTT component
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
  esphome/const.py
  tests/components/mqtt/common.yaml
Labels: integration: mqtt, has-tests, core, small-pr

#7498 [wifi] Use custom MAC address if programmed
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: integration: wifi, core

#6007 Add support for Sharp GP2Y1010AU0F PM2.5 sensor
  CODEOWNERS
  esphome/components/gp2y1010au0f/__init__.py
  esphome/components/gp2y1010au0f/gp2y1010au0f.cpp
  esphome/components/gp2y1010au0f/gp2y1010au0f.h
  esphome/components/gp2y1010au0f/sensor.py
  tests/components/gp2y1010au0f/test.esp32-idf.yaml
Labels: new-integration, has-tests, integration: gp2y1010au0f

#7507 Prevent rp2040 randomly breaking the build
  esphome/wizard.py
  platformio.ini
  tests/test_build_components/build_components_base.rp2040-ard.yaml
Labels: has-tests, core, small-pr

#7425 Make time dependency optional
  esphome/components/datetime/__init__.py
  esphome/components/datetime/datetime_base.h
  esphome/components/datetime/datetime_entity.cpp
  esphome/components/datetime/datetime_entity.h
  esphome/components/datetime/time_entity.cpp
  esphome/components/datetime/time_entity.h
Labels: integration: datetime

#7509 Add OHF logo to README
  README.md
Labels: small-pr

#7494 tcs34725: optimize fetch time with burst read for RGB and clear values
  esphome/components/tcs34725/tcs34725.cpp
Labels: integration: tcs34725, small-pr

#7492 tcs34725: Remove IR compensation and improve illuminance and color temperature handling in extreme conditions
  esphome/components/tcs34725/tcs34725.cpp
Labels: integration: tcs34725
