Repository esphome/esphome, pull requests merged in 2024-08, with the labels that each got.

#7171 [api] ``homeassistant.action`` replaces ``homeassistant.service``
  esphome/components/api/__init__.py
  esphome/config_validation.py
  esphome/const.py
  tests/components/api/common.yaml
  tests/components/homeassistant/common.yaml
Labels: integration: api, has-tests, core

#7172 ade7953_spi wrong size specified in read_array call
  esphome/components/ade7953_spi/ade7953_spi.cpp
Labels: small-pr, integration: ade7953_spi

#7174 Bump improv library to 1.2.4
  esphome/components/improv_base/__init__.py
  platformio.ini
Labels: small-pr, integration: improv_base

#7142 Implement 'round to nearest multiple' filter
  esphome/components/sensor/__init__.py
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
  esphome/config_validation.py
  esphome/const.py
Labels: integration: sensor, core

#7180 git ignore managed_components
  .gitignore
Labels: small-pr

#7185 [core] Eliminate nuisance messages from `build_codeowners`
  esphome/loader.py
Labels: core, small-pr

#7189 [code-quality] More portable shebangs
  docker/docker_entrypoint.sh
  script/devcontainer-post-create
  script/quicklint
  script/setup
Labels: core, small-pr, cleanup, code-quality

#7166 [lvgl] Stage 4
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/animimg.py
  esphome/components/lvgl/arc.py
  esphome/components/lvgl/automation.py
  esphome/components/lvgl/btn.py
  esphome/components/lvgl/checkbox.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/helpers.py
  esphome/components/lvgl/img.py
  esphome/components/lvgl/label.py
  esphome/components/lvgl/led.py
  esphome/components/lvgl/line.py
  esphome/components/lvgl/lv_bar.py
  esphome/components/lvgl/lv_switch.py
  esphome/components/lvgl/lv_validation.py
  esphome/components/lvgl/lvcode.py
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/page.py
  esphome/components/lvgl/rotary_encoders.py
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/slider.py
  esphome/components/lvgl/spinner.py
  esphome/components/lvgl/styles.py
  esphome/components/lvgl/trigger.py
  esphome/components/lvgl/types.py
  esphome/components/lvgl/widget.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#7195 [esp32_improv] Update Improv library to reference new repo/version
  esphome/components/esp32_improv/__init__.py
Labels: small-pr, integration: esp32_improv

#7192 hydreon_rgxx: Fix parsing of data line
  esphome/components/hydreon_rgxx/hydreon_rgxx.cpp
Labels: small-pr, integration: hydreon_rgxx

#7177 Remove outdated version block
  esphome/__main__.py
Labels: core, small-pr

#7191 [lvgl] Stage 5
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/animimg.py
  esphome/components/lvgl/automation.py
  esphome/components/lvgl/button.py
  esphome/components/lvgl/buttonmatrix.py
  esphome/components/lvgl/checkbox.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/dropdown.py
  esphome/components/lvgl/img.py
  esphome/components/lvgl/keyboard.py
  esphome/components/lvgl/led.py
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/meter.py
  esphome/components/lvgl/msgbox.py
  esphome/components/lvgl/roller.py
  esphome/components/lvgl/spinbox.py
  esphome/components/lvgl/styles.py
  esphome/components/lvgl/tabview.py
  esphome/components/lvgl/textarea.py
  esphome/components/lvgl/tileview.py
  esphome/components/lvgl/widget.py
  esphome/core/defines.h
  tests/components/lvgl/.gitattributes
  tests/components/lvgl/common.yaml
  tests/components/lvgl/helvetica.ttf
  tests/components/lvgl/lvgl-package.yaml
  tests/components/lvgl/materialdesignicons-webfont.ttf
  tests/components/lvgl/roboto.ttf
Labels: has-tests, core, by-code-owner, integration: lvgl

#7196 socket: socket::set_sockaddr() for IPv4 addresses in IPv6 builds
  esphome/components/socket/socket.cpp
Labels: small-pr, integration: socket

#7188 Adds MQTT component to Alarm Control panel component
  esphome/components/alarm_control_panel/__init__.py
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_alarm_control_panel.cpp
  esphome/components/mqtt/mqtt_alarm_control_panel.h
  tests/components/mqtt/common.yaml
Labels: integration: mqtt, has-tests, core, integration: alarm_control_panel

#7202 Move ``CONF_BACKGROUND_COLOR`` and ``CONF_FOREGROUND_COLOR`` to const.py
  esphome/components/graphical_display_menu/__init__.py
  esphome/components/nextion/base_component.py
  esphome/const.py
Labels: integration: nextion, core, small-pr, integration: graphical_display_menu

#7201 [helpers] Set default flags of ExternalRAMAllocator to ALLOW_FAILURE
  esphome/core/helpers.h
Labels: core, small-pr

#4710 Add runtime online image support
  CODEOWNERS
  esphome/components/online_image/__init__.py
  esphome/components/online_image/image_decoder.cpp
  esphome/components/online_image/image_decoder.h
  esphome/components/online_image/online_image.cpp
  esphome/components/online_image/online_image.h
  esphome/components/online_image/png_image.cpp
  esphome/components/online_image/png_image.h
  esphome/core/defines.h
  platformio.ini
  tests/components/online_image/common-esp32.yaml
  tests/components/online_image/common-esp8266.yaml
  tests/components/online_image/common.yaml
  tests/components/online_image/test.esp32-ard.yaml
  tests/components/online_image/test.esp32-idf.yaml
Labels: new-integration, has-tests, core, integration: online_image

#7167 Update i2s_audio_speaker.cppi2s_audio/speaker: Fix fallthrough compiler warning
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
Labels: small-pr, integration: i2s_audio

#7204 Move CONF_ITEMS/CONF_FONT/CONF_TEXT to const.py
  esphome/components/display_menu_base/__init__.py
  esphome/components/graphical_display_menu/__init__.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/types.py
  esphome/components/lvgl/widgets/buttonmatrix.py
  esphome/components/lvgl/widgets/checkbox.py
  esphome/components/lvgl/widgets/keyboard.py
  esphome/components/lvgl/widgets/label.py
  esphome/components/lvgl/widgets/msgbox.py
  esphome/components/lvgl/widgets/textarea.py
  esphome/const.py
Labels: core, integration: display_menu_base, integration: graphical_display_menu, integration: lvgl

#7203 [lvgl] Fix compile error when using encoder with buttons only.
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/encoders.py
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/widgets/__init__.py
  tests/components/lvgl/test.esp32-ard.yaml
  tests/components/lvgl/test.esp32-idf.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#6621 Revert "Add null GPIO pin "
  esphome/components/cst226/touchscreen/cst226_touchscreen.cpp
  esphome/components/cst226/touchscreen/cst226_touchscreen.h
  esphome/core/gpio.h
Labels: core, small-pr, integration: cst226

#7176 [remote_transmitter] Change default carrier_frequency to valid value
  esphome/components/remote_transmitter/remote_transmitter.h
Labels: integration: remote_transmitter, small-pr

#7198 [code-quality] Organise script imports
  script/build_codeowners.py
  script/build_language_schema.py
  script/bump-version.py
  script/clang-format
  script/clang-tidy
  script/helpers.py
  script/lint-python
  script/list-components.py
Labels: core, cleanup, code-quality

#7212 [max31856] Use cv.frequency as validator
  esphome/components/max31856/sensor.py
Labels: integration: max31856, small-pr

#7215 [spi] Remove ``SPIDelegateDummy``
  esphome/components/spi/spi.cpp
  esphome/components/spi/spi.h
Labels: integration: spi, core, small-pr, cleanup

#7206 [code-quality] Apply ruff linting suggestions
  esphome/config_validation.py
  esphome/mqtt.py
Labels: core, small-pr

#7205 [code-quality] Organise logger imports
  esphome/components/logger/__init__.py
Labels: integration: logger, core, small-pr

#7207 [code-quality] Apply ruff linting suggestions to core
  esphome/core/__init__.py
Labels: core, small-pr

#7222 [code-quality] fix clang-tidy sprinkler
  esphome/components/sprinkler/sprinkler.cpp
  esphome/components/sprinkler/sprinkler.h
Labels: small-pr, integration: sprinkler

#7221 [code-quality] __attribute__((packed))
  esphome/components/climate/climate.h
Labels: integration: climate, core, small-pr

#7214 hx711: Check for DOUT going high after a reading
  esphome/components/hx711/hx711.cpp
Labels: integration: hx711, small-pr

#7194 [mqtt] Add extended device info
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_const.h
Labels: integration: mqtt, core

#7220 [code-quality] NOLINT readability-identifier-naming
  esphome/core/entity_base.h
Labels: core, small-pr

#7219 [code-quality] Organise time imports
  esphome/components/time/__init__.py
Labels: integration: time, small-pr

#7227 [lvgl] Fix set state on updates
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/widgets/__init__.py
Labels: small-pr, by-code-owner, integration: lvgl

#7231 add missing override
  esphome/components/lvgl/number/lvgl_number.h
  esphome/components/lvgl/switch/lvgl_switch.h
  esphome/components/lvgl/text/lvgl_text.h
  esphome/components/spi_led_strip/spi_led_strip.h
Labels: small-pr, integration: spi_led_strip, integration: lvgl

#7243 Add text_align_to_string
  esphome/components/display/display.cpp
  esphome/components/display/display.h
Labels: integration: display, core

#7235 [sml] Fixed crashing sml parser
  esphome/components/sml/sml_parser.cpp
Labels: integration: sml

#7248 Allow project name and version as improv_serial identity
  esphome/components/improv_serial/__init__.py
  esphome/components/improv_serial/improv_serial_component.cpp
Labels: small-pr, integration: improv_serial

#7242 [lvgl] Implement default group for encoders
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/encoders.py
  esphome/components/lvgl/touchscreens.py
Labels: small-pr, by-code-owner, integration: lvgl

#4585 [bme68x_bsec2_i2c] BME68X Temperature+Pressure+Humidity+Gas Sensor via BSEC2
  CODEOWNERS
  esphome/components/bme68x_bsec2/__init__.py
  esphome/components/bme68x_bsec2/bme68x_bsec2.cpp
  esphome/components/bme68x_bsec2/bme68x_bsec2.h
  esphome/components/bme68x_bsec2/sensor.py
  esphome/components/bme68x_bsec2/text_sensor.py
  esphome/components/bme68x_bsec2_i2c/__init__.py
  esphome/components/bme68x_bsec2_i2c/bme68x_bsec2_i2c.cpp
  esphome/components/bme68x_bsec2_i2c/bme68x_bsec2_i2c.h
  esphome/core/defines.h
  tests/components/bme68x_bsec2_i2c/common.yaml
  tests/components/bme68x_bsec2_i2c/test.esp32-ard.yaml
  tests/components/bme68x_bsec2_i2c/test.esp32-c3-ard.yaml
  tests/components/bme68x_bsec2_i2c/test.esp32-s2-ard.yaml
  tests/components/bme68x_bsec2_i2c/test.esp32-s3-ard.yaml
  tests/components/bme68x_bsec2_i2c/test.esp8266-ard.yaml
Labels: new-integration, has-tests, core, integration: bme68x_bsec2_i2c, integration: bme68x_bsec2

#7238 [code-quality] clang-tidy media_player
  esphome/components/media_player/automation.h
Labels: integration: media_player

#7229 fix build error
  esphome/components/api/api_connection.cpp
Labels: integration: api, core, small-pr

#7178 adjust to new python pre-commit hooks
  script/clang-tidy
  script/helpers.py
Labels: core, small-pr

#7140 add windows script/setup.bat
  script/setup.bat
Labels: core, small-pr

#7236 [code-quality] add NOLINT haier_base
  esphome/components/haier/haier_base.h
Labels: small-pr, integration: haier

#7251 [code-quality] clang-tidy bedjet
  esphome/components/bedjet/bedjet_codec.h
Labels: small-pr, integration: bedjet

#7252 fix name conflict with zephyr macro
  esphome/components/fingerprint_grow/fingerprint_grow.cpp
  esphome/components/fingerprint_grow/fingerprint_grow.h
Labels: small-pr, integration: fingerprint_grow

#7239 [code-quality] Apply ruff linting suggestions
  esphome/components/network/__init__.py
Labels: integration: network, core, small-pr

#7080 Add support for LYWSD02MMC Xiaomi device
  CODEOWNERS
  esphome/components/xiaomi_ble/xiaomi_ble.cpp
  esphome/components/xiaomi_ble/xiaomi_ble.h
  esphome/components/xiaomi_lywsd02mmc/__init__.py
  esphome/components/xiaomi_lywsd02mmc/sensor.py
  esphome/components/xiaomi_lywsd02mmc/xiaomi_lywsd02mmc.cpp
  esphome/components/xiaomi_lywsd02mmc/xiaomi_lywsd02mmc.h
  tests/components/xiaomi_lywsd02mmc/common.yaml
  tests/components/xiaomi_lywsd02mmc/test.esp32-ard.yaml
  tests/components/xiaomi_lywsd02mmc/test.esp32-c3-ard.yaml
  tests/components/xiaomi_lywsd02mmc/test.esp32-c3-idf.yaml
  tests/components/xiaomi_lywsd02mmc/test.esp32-idf.yaml
Labels: new-integration, integration: xiaomi_ble, has-tests, integration: xiaomi_lywsd02mmc

#7230 [code-quality] fix clang-tidy web server
  esphome/components/web_server/web_server.h
  esphome/components/web_server_base/web_server_base.h
Labels: integration: web_server, integration: web_server_base, small-pr

#7110 [test][web_server] Rejig test for v3
  tests/components/web_server/common_v1.yaml
  tests/components/web_server/common_v2.yaml
Labels: has-tests, small-pr

#7247 [api] Error log when NONE Update command is sent
  esphome/components/api/api_connection.cpp
Labels: integration: api, core, small-pr

#7258 [api] Add new flag to request state/attribute once from HA only
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
Labels: integration: api, core

#7259 [homeassistant] Add ``HOME_ASSISTANT_IMPORT_CONTROL_SCHEMA``
  CODEOWNERS
  esphome/components/homeassistant/__init__.py
Labels: integration: homeassistant, core, small-pr

#7260 [const] Add some units for future use and adjust case
  esphome/const.py
Labels: core, small-pr

#7083 [online_image] add option to show placeholder while downloading
  esphome/components/online_image/__init__.py
  esphome/components/online_image/online_image.cpp
  esphome/components/online_image/online_image.h
Labels: small-pr, by-code-owner, integration: online_image

#7256 [lvgl] Add initial_focus for encoders
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/encoders.py
  esphome/components/lvgl/schemas.py
  tests/components/lvgl/test.esp32-ard.yaml
Labels: has-tests, small-pr, by-code-owner, integration: lvgl

#7267 [code-quality] fix order in esphome/const.py
  esphome/const.py
Labels: core, small-pr

#7266 [code-quality] fix clang-tidy network
  esphome/components/network/__init__.py
  esphome/components/network/ip_address.h
  esphome/components/network/util.cpp
  esphome/components/network/util.h
  esphome/core/defines.h
Labels: integration: network, core, small-pr

#7265 [code-quality] fix clang-tidy core optional
  esphome/core/optional.h
Labels: core, small-pr

#7237 [code-quality] Fix variable naming in base_light_effects
  esphome/components/light/base_light_effects.h
Labels: integration: light, core, small-pr

#7253 [code-quality] fix clang-tidy mqtt
  esphome/components/mqtt/mqtt_backend.h
  esphome/components/mqtt/mqtt_backend_esp32.cpp
  esphome/components/mqtt/mqtt_backend_esp32.h
  esphome/components/mqtt/mqtt_backend_esp8266.h
  esphome/components/mqtt/mqtt_backend_libretiny.h
Labels: integration: mqtt, core, small-pr

#7254 [code-quality] fix clang-tidy wifi related
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/components/wifi/wifi_component_libretiny.cpp
  esphome/components/wifi/wifi_component_pico_w.cpp
  esphome/components/wifi_info/wifi_info_text_sensor.cpp
  esphome/components/wifi_info/wifi_info_text_sensor.h
  esphome/components/wifi_signal/wifi_signal_sensor.cpp
  esphome/components/wifi_signal/wifi_signal_sensor.h
Labels: integration: wifi, integration: wifi_info, integration: wifi_signal, core, small-pr

#7270 [CI] Dont run full CI on ``build-image`` action changes
  .github/workflows/ci.yml
Labels: small-pr

#6878 Implement ByteBuffer
  esphome/core/bytebuffer.cpp
  esphome/core/bytebuffer.h
Labels: core

#6971 Add min and max brightness parameters for Light dim_relative Action
  esphome/components/light/automation.h
  esphome/components/light/automation.py
  esphome/components/light/types.py
  esphome/const.py
  tests/components/light/test.esp32-ard.yaml
  tests/components/light/test.esp32-c3-ard.yaml
  tests/components/light/test.esp32-c3-idf.yaml
  tests/components/light/test.esp32-idf.yaml
  tests/components/light/test.esp8266-ard.yaml
  tests/components/light/test.rp2040-ard.yaml
Labels: integration: light, has-tests, core

#7018 [homeassistant] Native switch entity import and control
  CODEOWNERS
  esphome/components/homeassistant/switch/__init__.py
  esphome/components/homeassistant/switch/homeassistant_switch.cpp
  esphome/components/homeassistant/switch/homeassistant_switch.h
  tests/components/homeassistant/common.yaml
Labels: integration: homeassistant, has-tests, core, new-platform

#6455 [homeassistant] Native number entity import and control
  CODEOWNERS
  esphome/components/homeassistant/number/__init__.py
  esphome/components/homeassistant/number/homeassistant_number.cpp
  esphome/components/homeassistant/number/homeassistant_number.h
  tests/components/homeassistant/common.yaml
Labels: new-integration, integration: homeassistant, has-tests, core

#7262 [lvgl] Rework events to avoid feedback loops
  esphome/components/lvgl/automation.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/light/lvgl_light.h
  esphome/components/lvgl/lvcode.py
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/number/__init__.py
  esphome/components/lvgl/select/__init__.py
  esphome/components/lvgl/sensor/__init__.py
  esphome/components/lvgl/switch/__init__.py
  esphome/components/lvgl/text/__init__.py
  esphome/components/lvgl/text_sensor/__init__.py
  esphome/components/lvgl/trigger.py
  tests/components/lvgl/common.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#7276 Add `color_filter_opa` style property
  esphome/components/lvgl/schemas.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, small-pr, by-code-owner, integration: lvgl

#7275 [code-quality] fix clang-tidy wake_on_lan
  esphome/components/wake_on_lan/wake_on_lan.cpp
  esphome/components/wake_on_lan/wake_on_lan.h
Labels: small-pr, integration: wake_on_lan

#7273 [code-quality] fix readability-braces-around-statements
  esphome/components/binary/light/binary_light_output.h
  esphome/components/demo/demo_sensor.h
  esphome/components/light/addressable_light_effect.h
  esphome/components/lvgl/number/lvgl_number.h
  esphome/components/lvgl/switch/lvgl_switch.h
  esphome/components/lvgl/text/lvgl_text.h
  esphome/components/rgbct/rgbct_light_output.h
  esphome/components/rgbw/rgbw_light_output.h
  esphome/components/rgbww/rgbww_light_output.h
  esphome/components/spi_led_strip/spi_led_strip.h
  esphome/core/application.h
  esphome/core/base_automation.h
  esphome/core/color.h
Labels: integration: binary, integration: light, integration: rgbw, integration: rgbww, core, integration: demo, integration: rgbct, integration: spi_led_strip, integration: lvgl

#7271 [mqtt] fix missing initializer in MQTTClientComponent::disable_discovery
  esphome/components/mqtt/mqtt_client.cpp
Labels: integration: mqtt, core, small-pr

#7272 [code-quality] fix readability-named-parameter
  esphome/core/automation.h
  esphome/core/optional.h
Labels: core, small-pr

#5203 support illuminance for airthings wave plus device
  esphome/components/airthings_wave_plus/airthings_wave_plus.cpp
  esphome/components/airthings_wave_plus/airthings_wave_plus.h
  esphome/components/airthings_wave_plus/sensor.py
Labels: not-stale, small-pr, integration: airthings_wave_plus

#7249 [micro_wake_word] Bump ESPMicroSpeechFeatures version to 1.1.0
  esphome/components/micro_wake_word/__init__.py
  platformio.ini
Labels: small-pr, by-code-owner, integration: micro_wake_word

#7255 Implement the finish() method and action. implement the is_stopped condition
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  esphome/components/speaker/__init__.py
  esphome/components/speaker/automation.h
  esphome/components/speaker/speaker.h
  tests/components/speaker/test.esp32-ard.yaml
  tests/components/speaker/test.esp32-c3-ard.yaml
  tests/components/speaker/test.esp32-c3-idf.yaml
  tests/components/speaker/test.esp32-idf.yaml
Labels: has-tests, integration: i2s_audio, integration: speaker

#7228 Correct offset calibration
  CODEOWNERS
  esphome/components/atm90e32/__init__.py
  esphome/components/atm90e32/atm90e32.cpp
  esphome/components/atm90e32/atm90e32.h
  esphome/components/atm90e32/atm90e32_reg.h
  esphome/components/atm90e32/button/__init__.py
  esphome/components/atm90e32/button/atm90e32_button.cpp
  esphome/components/atm90e32/button/atm90e32_button.h
  esphome/components/atm90e32/sensor.py
  tests/components/atm90e32/test.esp32-ard.yaml
  tests/components/atm90e32/test.esp32-c3-ard.yaml
  tests/components/atm90e32/test.esp32-c3-idf.yaml
  tests/components/atm90e32/test.esp32-idf.yaml
  tests/components/atm90e32/test.esp8266-ard.yaml
  tests/components/atm90e32/test.rp2040-ard.yaml
Labels: new-integration, needs-docs, integration: atm90e32, has-tests

#7263 remove extra number from pronto
  esphome/components/remote_base/pronto_protocol.cpp
Labels: integration: remote_base, small-pr

#7274 [code-quality] fix performance-unnecessary-value-param
  esphome/components/lvgl/number/lvgl_number.h
  esphome/components/lvgl/select/lvgl_select.h
  esphome/components/lvgl/switch/lvgl_switch.h
  esphome/components/lvgl/text/lvgl_text.h
Labels: small-pr, integration: lvgl

#7284 [code-quality] fix clang-tidy prometheus
  esphome/components/prometheus/prometheus_handler.cpp
  esphome/components/prometheus/prometheus_handler.h
Labels: small-pr, integration: prometheus

#7282 [code-quality] fix clang-tidy ota
  esphome/components/esphome/ota/ota_esphome.cpp
  esphome/components/esphome/ota/ota_esphome.h
Labels: small-pr, integration: esphome

#7281 [code-quality] fix clang-tidy e131
  esphome/components/e131/e131.cpp
  esphome/components/e131/e131.h
  esphome/components/e131/e131_addressable_light_effect.cpp
  esphome/components/e131/e131_addressable_light_effect.h
  esphome/components/e131/e131_packet.cpp
Labels: integration: e131, small-pr

#7288 [api] Bump noise-c library version
  .github/workflows/ci.yml
  esphome/components/api/__init__.py
  esphome/components/host/__init__.py
  tests/components/api/common.yaml
  tests/components/api/test.esp32-ard.yaml
  tests/components/api/test.esp32-c3-ard.yaml
  tests/components/api/test.esp32-c3-idf.yaml
  tests/components/api/test.esp32-idf.yaml
  tests/components/api/test.esp8266-ard.yaml
  tests/components/api/test.host.yaml
  tests/components/api/test.rp2040-ard.yaml
Labels: integration: api, has-tests, core, small-pr, by-code-owner, integration: host

#7287 [code-quality] fix clang-tidy wireguard
  esphome/components/wireguard/__init__.py
  esphome/components/wireguard/wireguard.cpp
  esphome/components/wireguard/wireguard.h
  esphome/core/defines.h
Labels: core, small-pr, integration: wireguard

#6817 fix some small rtttl issues
  esphome/components/rtttl/rtttl.cpp
  esphome/components/rtttl/rtttl.h
Labels: integration: rtttl

#7283 [code-quality] fix clang-tidy improv_serial
  esphome/components/improv_serial/improv_serial_component.cpp
  esphome/components/improv_serial/improv_serial_component.h
Labels: small-pr, integration: improv_serial

#7280 [code-quality] fix clang-tidy captive_portal
  esphome/components/captive_portal/captive_portal.cpp
  esphome/components/captive_portal/captive_portal.h
Labels: integration: captive_portal, core, small-pr

#7268 Fix overflow in ESPColorCorrection object
  esphome/components/light/esp_color_correction.h
Labels: integration: light, core, small-pr

#7294 [validation] Allow ``maybe_simple_value`` to not have default key in complex value
  esphome/config_validation.py
Labels: core, small-pr

#7200 Add HMAC-MD5 support for authenticating OTA updates
  CODEOWNERS
  esphome/components/hmac_md5/__init__.py
  esphome/components/hmac_md5/hmac_md5.cpp
  esphome/components/hmac_md5/hmac_md5.h
Labels: new-integration, needs-docs, needs-tests, integration: hmac_md5

#7291 [network] Always allow ``enable_ipv6: false``
  esphome/components/network/__init__.py
  esphome/config_validation.py
  tests/components/network/test-ipv6.bk72xx-ard.yaml
Labels: integration: network, has-tests, core, small-pr

#7297 2024.8.0b2
  .github/workflows/ci.yml
  esphome/components/api/__init__.py
  esphome/components/host/__init__.py
  esphome/components/light/esp_color_correction.h
  esphome/components/network/__init__.py
  esphome/components/remote_base/pronto_protocol.cpp
  esphome/components/rtttl/rtttl.cpp
  esphome/components/rtttl/rtttl.h
  esphome/config_validation.py
  esphome/const.py
  tests/components/api/common.yaml
  tests/components/api/test.esp32-ard.yaml
  tests/components/api/test.esp32-c3-ard.yaml
  tests/components/api/test.esp32-c3-idf.yaml
  tests/components/api/test.esp32-idf.yaml
  tests/components/api/test.esp8266-ard.yaml
  tests/components/api/test.host.yaml
  tests/components/api/test.rp2040-ard.yaml
  tests/components/network/test-ipv6.bk72xx-ard.yaml
Labels: merging-to-beta

#7305 Revert "[validation] Allow ``maybe_simple_value`` to not have default key in complex value"
  esphome/config_validation.py
Labels: core, small-pr

#7300 [lvgl] Bug fixes
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/lv_validation.py
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/widgets/__init__.py
  tests/components/lvgl/common.yaml
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#7304 [speaker] Fix header includes
  esphome/components/speaker/speaker.h
Labels: small-pr, integration: speaker

#7310 [microphone] Fix header includes
  esphome/components/microphone/microphone.h
Labels: small-pr, by-code-owner, integration: microphone

#7313 2024.8.0b3
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/lv_validation.py
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/widgets/__init__.py
  esphome/components/microphone/microphone.h
  esphome/components/speaker/speaker.h
  esphome/config_validation.py
  esphome/const.py
  tests/components/lvgl/common.yaml
  tests/components/lvgl/lvgl-package.yaml
Labels: merging-to-beta

#7317 Update const.py - Add missing UNIT_LITRE
  esphome/const.py
Labels: core, small-pr

#7307 Fix RP2040 Neopixel flickering issue
  esphome/components/rp2040_pio_led_strip/led_strip.cpp
  esphome/components/rp2040_pio_led_strip/led_strip.h
Labels: integration: rp2040_pio_led_strip

#7302 add the ability to add more idf components to an existing setup
  esphome/components/esp32/__init__.py
Labels: small-pr, integration: esp32

#7285 [code-quality] fix clang-tidy socket
  esphome/components/socket/socket.cpp
  esphome/components/socket/socket.h
Labels: small-pr, integration: socket

#7324 [code-quality] fix clang-tidy cstddef
  esphome/components/microphone/microphone.h
  esphome/components/speaker/speaker.h
Labels: small-pr, integration: microphone, integration: speaker

#7303 Fix waveshare 2.13" epaper stride calculation error
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
Labels: integration: waveshare_epaper, small-pr

#7323 [rtttl] fix STOPPED state
  esphome/components/rtttl/rtttl.cpp
Labels: integration: rtttl, small-pr

#7328 2024.8.0b4
  esphome/components/esp32/__init__.py
  esphome/components/rp2040_pio_led_strip/led_strip.cpp
  esphome/components/rp2040_pio_led_strip/led_strip.h
  esphome/components/rtttl/rtttl.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/const.py
Labels: merging-to-beta

#7322 Add output source priority "hybrid"
  esphome/components/pipsolar/pipsolar.cpp
  esphome/components/pipsolar/pipsolar.h
  esphome/components/pipsolar/switch/__init__.py
  tests/components/pipsolar/test.esp32-ard.yaml
  tests/components/pipsolar/test.esp32-c3-ard.yaml
  tests/components/pipsolar/test.esp32-c3-idf.yaml
  tests/components/pipsolar/test.esp32-idf.yaml
  tests/components/pipsolar/test.esp8266-ard.yaml
  tests/components/pipsolar/test.rp2040-ard.yaml
Labels: has-tests, small-pr, integration: pipsolar, merge-after-release

#6987 Enable verbose mode from env ESPHOME_VERBOSE or --verbose
  esphome/__main__.py
Labels: core, small-pr, merge-after-release

#7024 Tuya Number: allow to set hidden datapoints
  esphome/components/tuya/__init__.py
  esphome/components/tuya/number/__init__.py
  esphome/components/tuya/number/tuya_number.cpp
  esphome/components/tuya/number/tuya_number.h
Labels: integration: tuya, merge-after-release

#7338 [lvgl] Bug fixes
  esphome/components/lvgl/automation.py
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/widgets/__init__.py
  esphome/components/lvgl/widgets/line.py
  esphome/components/lvgl/widgets/msgbox.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#7316 feat: Expand ByteBuffer
  esphome/core/bytebuffer.cpp
  esphome/core/bytebuffer.h
Labels: core

#7344 [core] Clean build if the loaded integrations changed
  esphome/writer.py
Labels: core, small-pr

#7336 [ledc] Tweak fix in #6997
  esphome/components/ledc/ledc_output.cpp
Labels: integration: ledc, small-pr

#7342 [ledc] Fix maximum brightness on ESP-IDF 5.1
  esphome/components/ledc/ledc_output.cpp
Labels: integration: ledc, small-pr

#7351 [const] Move ``CONF_LINE_FREQUENCY`` to const.py
  esphome/components/atm90e26/sensor.py
  esphome/components/atm90e32/sensor.py
  esphome/const.py
Labels: integration: atm90e32, core, small-pr, integration: atm90e26

#7357 [api] Fix sending the ``once`` flag on ha entity subscription
  esphome/components/api/api_connection.cpp
Labels: integration: api, core, small-pr

#7250 bl0942: Fix init sequence, add address and line_frequency options
  esphome/components/bl0942/bl0942.cpp
  esphome/components/bl0942/bl0942.h
  esphome/components/bl0942/sensor.py
  tests/components/bl0942/test.bk72xx-ard.yaml
Labels: has-tests, integration: bl0942

#7318 Add supported formats to media player
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/media_player/media_player.h
Labels: integration: api, core, integration: media_player

#7354 Add reset to esp32_rmt_led_strip
  esphome/components/esp32_rmt_led_strip/led_strip.cpp
  esphome/components/esp32_rmt_led_strip/led_strip.h
  esphome/components/esp32_rmt_led_strip/light.py
Labels: integration: esp32_rmt_led_strip

#7292 [ili9xxx] Make `invert_colors` required
  esphome/components/ili9xxx/display.py
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
  esphome/components/ili9xxx/ili9xxx_init.h
  tests/components/ili9xxx/test.esp32-ard.yaml
  tests/components/ili9xxx/test.esp32-c3-ard.yaml
  tests/components/ili9xxx/test.esp32-c3-idf.yaml
  tests/components/ili9xxx/test.esp8266-ard.yaml
  tests/components/ili9xxx/test.rp2040-ard.yaml
Labels: breaking-change, has-tests, integration: ili9xxx

#7353 Add WS2811 to esp32_rmt_led_strip
  esphome/components/esp32_rmt_led_strip/light.py
Labels: small-pr, integration: esp32_rmt_led_strip

#7363 2024.8.1
  esphome/components/api/api_connection.cpp
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/automation.py
  esphome/components/lvgl/binary_sensor/__init__.py
  esphome/components/lvgl/light/__init__.py
  esphome/components/lvgl/lvcode.py
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/number/__init__.py
  esphome/components/lvgl/select/__init__.py
  esphome/components/lvgl/sensor/__init__.py
  esphome/components/lvgl/switch/__init__.py
  esphome/components/lvgl/text/__init__.py
  esphome/components/lvgl/text_sensor/__init__.py
  esphome/components/lvgl/widgets/__init__.py
  esphome/components/lvgl/widgets/line.py
  esphome/components/lvgl/widgets/msgbox.py
  esphome/const.py
  esphome/writer.py
  tests/components/lvgl/lvgl-package.yaml
Labels: merging-to-release

#7315 [lvgl] Add lvgl.widget.focus action and related triggers.
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/automation.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/lvcode.py
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/trigger.py
  esphome/components/lvgl/types.py
  esphome/components/lvgl/widgets/__init__.py
  esphome/components/lvgl/widgets/arc.py
  esphome/components/lvgl/widgets/page.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#7368 [datetime] Fix templated args
  esphome/components/datetime/__init__.py
Labels: small-pr, by-code-owner, integration: datetime

#7372 esp32_can: suppress compiler warning
  esphome/components/esp32_can/esp32_can.cpp
Labels: integration: esp32_can, small-pr

#7339 Add support for BL0906 energy meter
  CODEOWNERS
  esphome/components/bl0906/__init__.py
  esphome/components/bl0906/bl0906.cpp
  esphome/components/bl0906/bl0906.h
  esphome/components/bl0906/const.py
  esphome/components/bl0906/constants.h
  esphome/components/bl0906/sensor.py
  tests/components/bl0906/common.yaml
  tests/components/bl0906/test.esp32-ard.yaml
  tests/components/bl0906/test.esp32-c3-ard.yaml
  tests/components/bl0906/test.esp32-c3-idf.yaml
  tests/components/bl0906/test.esp32-idf.yaml
  tests/components/bl0906/test.esp8266-ard.yaml
  tests/components/bl0906/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: bl0906

#7371 [platformio] Add environments for ESP-IDF 5.3 for development
  platformio.ini
Labels: small-pr

#7370 [lvgl] Bug fixes
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/lv_validation.py
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/widgets/buttonmatrix.py
  esphome/components/lvgl/widgets/checkbox.py
  esphome/components/lvgl/widgets/tileview.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, small-pr, by-code-owner, integration: lvgl

#7374 [bytebuffer] Use existing bit_cast operations.
  esphome/core/bytebuffer.cpp
Labels: core, small-pr

#7373 [gt911] Add reset pin config
  esphome/components/gt911/touchscreen/__init__.py
  esphome/components/gt911/touchscreen/gt911_touchscreen.cpp
  esphome/components/gt911/touchscreen/gt911_touchscreen.h
  tests/components/gt911/common.yaml
  tests/components/gt911/test.esp32-ard.yaml
  tests/components/gt911/test.esp32-c3-ard.yaml
  tests/components/gt911/test.esp32-c3-idf.yaml
  tests/components/gt911/test.esp32-idf.yaml
  tests/components/gt911/test.rp2040-ard.yaml
Labels: has-tests, small-pr, by-code-owner, integration: gt911

#7343 [st7701s] Add delay feature in init sequences
  esphome/components/st7701s/display.py
  esphome/components/st7701s/st7701s.cpp
  esphome/components/st7701s/st7701s.h
  tests/components/st7701s/common.yaml
Labels: has-tests, by-code-owner, integration: st7701s

#7367 Add now required `invert_colors` option to test files referencing ili9xxx
  tests/components/animation/test.esp32-ard.yaml
  tests/components/animation/test.esp32-c3-ard.yaml
  tests/components/animation/test.esp32-c3-idf.yaml
  tests/components/animation/test.esp32-idf.yaml
  tests/components/animation/test.esp8266-ard.yaml
  tests/components/animation/test.rp2040-ard.yaml
  tests/components/cst226/common.yaml
  tests/components/cst816/common.yaml
  tests/components/display/common.yaml
  tests/components/ft63x6/test.esp32-ard.yaml
  tests/components/image/test.esp32-ard.yaml
  tests/components/image/test.esp32-c3-ard.yaml
  tests/components/image/test.esp32-c3-idf.yaml
  tests/components/image/test.esp32-idf.yaml
  tests/components/image/test.esp8266-ard.yaml
  tests/components/image/test.rp2040-ard.yaml
  tests/components/online_image/common-esp32.yaml
  tests/components/online_image/common-esp8266.yaml
  tests/components/qr_code/test.esp32-ard.yaml
  tests/components/qr_code/test.esp32-c3-ard.yaml
  tests/components/qr_code/test.esp32-c3-idf.yaml
  tests/components/qr_code/test.esp32-idf.yaml
  tests/components/qr_code/test.esp8266-ard.yaml
  tests/components/qr_code/test.rp2040-ard.yaml
  tests/components/tt21100/test.esp32-s2-ard.yaml
  tests/components/xpt2046/test.esp32-ard.yaml
  tests/components/xpt2046/test.esp32-c3-ard.yaml
  tests/components/xpt2046/test.esp32-c3-idf.yaml
  tests/components/xpt2046/test.esp32-idf.yaml
  tests/components/xpt2046/test.esp32-s2-ard.yaml
  tests/components/xpt2046/test.esp8266-ard.yaml
  tests/components/xpt2046/test.rp2040-ard.yaml
Labels: has-tests, small-pr

#7361 esp32_can: make queue lengths configurable
  esphome/components/esp32_can/canbus.py
  esphome/components/esp32_can/esp32_can.cpp
  esphome/components/esp32_can/esp32_can.h
  esphome/const.py
Labels: core, integration: esp32_can

#7286 [code-quality] fix clang-tidy web_server and web_server_base
  esphome/components/web_server/__init__.py
  esphome/components/web_server/list_entities.cpp
  esphome/components/web_server/list_entities.h
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/components/web_server_base/web_server_base.cpp
  esphome/components/web_server_base/web_server_base.h
Labels: integration: web_server, integration: web_server_base, small-pr

#7346 Tuya Number: allow restoring value of hidden datapoints
  esphome/components/tuya/number/__init__.py
  esphome/components/tuya/number/tuya_number.cpp
  esphome/components/tuya/number/tuya_number.h
Labels: integration: tuya

#6865 [udp] Implement UDP sensor broadcast
  CODEOWNERS
  esphome/components/udp/__init__.py
  esphome/components/udp/binary_sensor.py
  esphome/components/udp/sensor.py
  esphome/components/udp/udp_component.cpp
  esphome/components/udp/udp_component.h
  tests/components/udp/common.yaml
  tests/components/udp/test.bk72xx-ard.yaml
  tests/components/udp/test.esp32-ard.yaml
  tests/components/udp/test.esp32-c3-ard.yaml
  tests/components/udp/test.esp32-c3-idf.yaml
  tests/components/udp/test.esp32-idf.yaml
  tests/components/udp/test.esp8266-ard.yaml
  tests/components/udp/test.host.yaml
  tests/components/udp/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: udp
