Repository esphome/esphome, pull requests merged in 2024-01, with the labels that each got.

#6034 Display: Introduce `draw_pixels_at()` method for fast block display rendering
  esphome/components/display/display.cpp
  esphome/components/display/display.h
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
Labels: integration: display, core, by-code-owner, integration: ili9xxx

#6041 clang-format and clang-tidy scripts: More robust algorithm to find correct executable
  requirements_dev.txt
  requirements_test.txt
  script/clang-format
  script/clang-tidy
  script/helpers.py
  script/setup
Labels: core

#6059 Don't crash with invalid adc pin
  esphome/components/adc/__init__.py
Labels: integration: adc, core, small-pr

#6064 fix compilation error for libretiny
  esphome/components/libretiny/__init__.py
Labels: small-pr, integration: libretiny

#6053 Add questionmark to default glyphs.
  esphome/components/font/__init__.py
Labels: integration: font, core, small-pr

#6061 pylontech: Fix parsing error with US2000
  esphome/components/pylontech/__init__.py
  esphome/components/pylontech/pylontech.cpp
Labels: by-code-owner, integration: pylontech

#6060 pylontech: fix voltage_low and voltage_high wrong unit
  esphome/components/pylontech/sensor/__init__.py
Labels: small-pr, by-code-owner, integration: pylontech

#6051 Nextion enable upload from https when using esp-idf
  esphome/components/nextion/display.py
  esphome/components/nextion/nextion_upload_idf.cpp
Labels: integration: nextion, small-pr

#6040 Support full (>460 char) dumps of Pronto IR commands
  esphome/components/remote_base/pronto_protocol.cpp
Labels: integration: remote_base, small-pr

#6019 Extends UART change at runtime to ESP8266
  esphome/components/uart/uart_component.h
  esphome/components/uart/uart_component_esp8266.cpp
  esphome/components/uart/uart_component_esp8266.h
Labels: integration: uart, core

#6027 Nextion draw QR code at runtime
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_commands.cpp
Labels: integration: nextion

#6056 Extend i2s config options
  esphome/components/i2s_audio/microphone/__init__.py
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.h
Labels: small-pr, integration: i2s_audio

#6036 Add getter for image data_start
  esphome/components/image/image.h
Labels: integration: image, core, small-pr

#6011 Bump hypothesis to 6.92.1
  requirements_test.txt
  tests/unit_tests/test_core.py
  tests/unit_tests/test_helpers.py
Labels: has-tests, small-pr

#6048 Bump recommended ESP32 IDF to 4.4.6
  esphome/components/esp32/__init__.py
  esphome/components/esp32_ble_tracker/__init__.py
  platformio.ini
Labels: integration: esp32_ble_tracker, small-pr, integration: esp32

#6002 dashboard: refactor ping implementation to be more efficient
  esphome/dashboard/const.py
  esphome/dashboard/core.py
  esphome/dashboard/dashboard.py
  esphome/dashboard/dns.py
  esphome/dashboard/settings.py
  esphome/dashboard/status/ping.py
  esphome/dashboard/web_server.py
  requirements.txt
Labels: core, dashboard

#6010 Run python tests on windows and macos
  .github/actions/restore-python/action.yml
  .github/workflows/ci.yml
Labels: small-pr

#5538 BME280 SPI
  CODEOWNERS
  esphome/components/bme280/sensor.py
  esphome/components/bme280_base/__init__.py
  esphome/components/bme280_base/bme280_base.cpp
  esphome/components/bme280_base/bme280_base.h
  esphome/components/bme280_base/sensor.py
  esphome/components/bme280_i2c/__init__.py
  esphome/components/bme280_i2c/bme280_i2c.cpp
  esphome/components/bme280_i2c/bme280_i2c.h
  esphome/components/bme280_i2c/sensor.py
  esphome/components/bme280_spi/__init__.py
  esphome/components/bme280_spi/bme280_spi.cpp
  esphome/components/bme280_spi/bme280_spi.h
  esphome/components/bme280_spi/sensor.py
  tests/test1.yaml
Labels: new-integration, breaking-change, integration: bme280, has-tests, integration: bme280_base, integration: bme280_spi, integration: bme280_i2c

#6069 ESP32-C3 USB_CDC fixes
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
Labels: integration: logger, core, small-pr

#5690 Actions to enable and disable WireGuard connection
  esphome/components/wireguard/__init__.py
  esphome/components/wireguard/binary_sensor.py
  esphome/components/wireguard/wireguard.cpp
  esphome/components/wireguard/wireguard.h
  tests/test10.yaml
Labels: has-tests, by-code-owner, integration: wireguard

#6065 hydreon_rgxx - fix missing cg.add(var.set_model(...))
  esphome/components/hydreon_rgxx/hydreon_rgxx.cpp
  esphome/components/hydreon_rgxx/sensor.py
Labels: small-pr, integration: hydreon_rgxx

#6082 fix sen5x negative temperature
  esphome/components/sen5x/sen5x.cpp
Labels: small-pr, integration: sen5x

#6074 negative values for all DHT22 variants
  esphome/components/dht/dht.cpp
Labels: integration: dht, small-pr

#6083 fix negative temperature for pmsx003
  esphome/components/pmsx003/pmsx003.cpp
Labels: integration: pmsx003, small-pr

#6089 Improv Serial -- don't wait for incoming bytes
  esphome/components/improv_serial/improv_serial_component.cpp
Labels: small-pr, integration: improv_serial

#6092 Let show_*_page actions depend on "Display"
  esphome/components/display/__init__.py
Labels: integration: display, core, small-pr

#6090 add STATE_CLASS_TOTAL_INCREASING to bl0940 and bl0942
  esphome/components/bl0940/sensor.py
  esphome/components/bl0942/sensor.py
Labels: small-pr, integration: bl0940, integration: bl0942

#6081 Fallback to pure-python loader for better error when YAML loading fails
  esphome/yaml_util.py
  tests/unit_tests/fixtures/yaml_util/broken_includetest.yaml
  tests/unit_tests/fixtures/yaml_util/includes/broken_included.yaml.txt
  tests/unit_tests/test_yaml_util.py
Labels: has-tests, core

#6091 Bump pillow to 10.2.0.
  esphome/components/font/__init__.py
  requirements_optional.txt
Labels: integration: font, core, small-pr

#6095 convert cse7766 to non-polling
  esphome/components/cse7766/cse7766.cpp
  esphome/components/cse7766/cse7766.h
  esphome/components/cse7766/sensor.py
Labels: breaking-change, integration: cse7766

#6097 2023.12.6
  esphome/components/api/api_server.cpp
  esphome/components/bl0940/sensor.py
  esphome/components/bl0942/sensor.py
  esphome/components/improv_serial/improv_serial_component.cpp
  esphome/components/libretiny/__init__.py
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
  esphome/components/pylontech/__init__.py
  esphome/components/pylontech/pylontech.cpp
  esphome/components/remote_base/pronto_protocol.cpp
  esphome/const.py
  esphome/yaml_util.py
  tests/unit_tests/fixtures/yaml_util/broken_includetest.yaml
  tests/unit_tests/fixtures/yaml_util/includes/broken_included.yaml.txt
  tests/unit_tests/test_yaml_util.py
Labels: merging-to-release

#6055 Use touch state from ft63x6 driver.
  esphome/components/ft63x6/ft63x6.cpp
Labels: small-pr, integration: ft63x6

#6087 update script/setup so it works fine on windows
  script/setup
Labels: core, small-pr

#6078 add Pico-ResTouch-LCD-3.5
  esphome/components/ili9xxx/display.py
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
  esphome/components/ili9xxx/ili9xxx_init.h
Labels: by-code-owner, integration: ili9xxx

#6098 Revert "add Pico-ResTouch-LCD-3.5"
  esphome/components/ili9xxx/display.py
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
  esphome/components/ili9xxx/ili9xxx_init.h
Labels: small-pr, by-code-owner, integration: ili9xxx

#6100 fix: negative temperatures on PMS5003T sensors
  esphome/components/pmsx003/pmsx003.cpp
Labels: integration: pmsx003, small-pr

#6096 Add triangle shapes to display component
  esphome/components/display/display.cpp
  esphome/components/display/display.h
Labels: integration: display, core

#6003 Fingerprint_grow: Trigger on finger scan start and on finger scan misplaced
  esphome/components/fingerprint_grow/__init__.py
  esphome/components/fingerprint_grow/fingerprint_grow.cpp
  esphome/components/fingerprint_grow/fingerprint_grow.h
  esphome/const.py
  tests/test3.yaml
Labels: has-tests, core, integration: fingerprint_grow

#6093 Add continuous option to the graph
  esphome/components/graph/__init__.py
  esphome/components/graph/graph.cpp
  esphome/components/graph/graph.h
Labels: integration: graph

#6068 Add NFC binary sensor platform
  CODEOWNERS
  esphome/components/nfc/__init__.py
  esphome/components/nfc/binary_sensor/__init__.py
  esphome/components/nfc/binary_sensor/binary_sensor.cpp
  esphome/components/nfc/binary_sensor/binary_sensor.h
  esphome/components/nfc/nfc.h
  esphome/components/pn7150/__init__.py
  esphome/components/pn7150/pn7150.cpp
  esphome/components/pn7150/pn7150.h
  esphome/components/pn7160/__init__.py
  esphome/components/pn7160/pn7160.cpp
  esphome/components/pn7160/pn7160.h
  tests/test1.yaml
Labels: has-tests, by-code-owner, new-platform, integration: nfc, integration: pn7160, integration: pn7150

#6102 Create RingBuffer for VoiceAssistant
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/core/ring_buffer.cpp
  esphome/core/ring_buffer.h
Labels: core, by-code-owner, integration: voice_assistant

#6103 Socket: Add recvfrom method to receive UDP with source address.
  esphome/components/socket/bsd_sockets_impl.cpp
  esphome/components/socket/socket.h
Labels: small-pr, integration: socket

#6038 Inkplate6: Fix crash with initial set of greyscale
  esphome/components/inkplate6/inkplate.cpp
  esphome/components/inkplate6/inkplate.h
Labels: small-pr, integration: inkplate6

#6104 2023.12.7
  esphome/components/esp32_rmt_led_strip/led_strip.cpp
  esphome/components/inkplate6/inkplate.cpp
  esphome/components/inkplate6/inkplate.h
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/const.py
  esphome/core/ring_buffer.cpp
  esphome/core/ring_buffer.h
Labels: merging-to-release

#5959 Add support for VEML3235 lux sensor
  CODEOWNERS
  esphome/components/veml3235/__init__.py
  esphome/components/veml3235/sensor.py
  esphome/components/veml3235/veml3235.cpp
  esphome/components/veml3235/veml3235.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: veml3235

#6105 CV: tidy up Schema wrapper
  esphome/config_validation.py
Labels: core, small-pr, cleanup

#5778 Add support X.509 client certificates for MQTT.
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_backend_esp32.cpp
  esphome/components/mqtt/mqtt_backend_esp32.h
  esphome/components/mqtt/mqtt_client.h
  esphome/const.py
Labels: integration: mqtt, core, small-pr

#6107 Fix color observation for triangle outline in display component
  esphome/components/display/display.cpp
Labels: integration: display, core, small-pr

#5730 Add support of Honeywell HumidIcon (I2C HIH series) Temperature & Humidity sensor
  CODEOWNERS
  esphome/components/honeywell_hih_i2c/__init__.py
  esphome/components/honeywell_hih_i2c/honeywell_hih.cpp
  esphome/components/honeywell_hih_i2c/honeywell_hih.h
  esphome/components/honeywell_hih_i2c/sensor.py
  tests/test1.yaml
Labels: new-integration, has-tests, integration: honeywell_hih_i2c

#5398 Proposal: Test yaml for each component
  .github/workflows/ci.yml
  script/fulltest
  script/list-components.py
  script/test_build_components
  tests/components/adc/test.esp32-c3.yaml
  tests/components/adc/test.esp32-idf.yaml
  tests/components/adc/test.esp32-s2.yaml
  tests/components/adc/test.esp32-s3.yaml
  tests/components/adc/test.esp32.yaml
  tests/components/adc/test.esp8266.yaml
  tests/components/adc/test.rp2040.yaml
  tests/components/mopeka_std_check/test.esp32.yaml
  tests/components/template/test.all.yaml
  tests/test_build_components/build_components_base.esp32-ard.yaml
  tests/test_build_components/build_components_base.esp32-c3-ard.yaml
  tests/test_build_components/build_components_base.esp32-c3-idf.yaml
  tests/test_build_components/build_components_base.esp32-idf.yaml
  tests/test_build_components/build_components_base.esp32-s2-ard.yaml
  tests/test_build_components/build_components_base.esp32-s2-idf.yaml
  tests/test_build_components/build_components_base.esp32-s3-ard.yaml
  tests/test_build_components/build_components_base.esp32-s3-idf.yaml
  tests/test_build_components/build_components_base.esp8266.yaml
  tests/test_build_components/build_components_base.rp2040.yaml
Labels: has-tests, core, by-code-owner

#5931 WiFi fast_connect: save/load BSSID and channel for faster connect from sleep
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
Labels: integration: wifi, core

#6079 Fixes Waveshare 7.5in B V2 and V3
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
Labels: integration: waveshare_epaper, small-pr

#6114 Enable networking and some other components on host platform
  esphome/components/host/__init__.py
  esphome/components/network/ip_address.h
  esphome/components/socket/bsd_sockets_impl.cpp
  esphome/core/component.cpp
  esphome/helpers.py
  platformio.ini
Labels: integration: network, core, small-pr, integration: socket, integration: host

#6118 Fix time component for host platform
  esphome/components/time/real_time_clock.cpp
Labels: integration: time, small-pr

#5925 Add quad spi features
  esphome/components/spi/__init__.py
  esphome/components/spi/spi.cpp
  esphome/components/spi/spi.h
  esphome/components/spi/spi_arduino.cpp
  esphome/components/spi/spi_esp_idf.cpp
  tests/test8.1.yaml
Labels: integration: spi, has-tests, core, by-code-owner

#6115 add AM2120 device type
  esphome/components/dht/dht.cpp
  esphome/components/dht/dht.h
  esphome/components/dht/sensor.py
Labels: integration: dht, small-pr

#5363 Add support for Waveshare EPD 2.13" V3
  CODEOWNERS
  esphome/components/waveshare_epaper/__init__.py
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_213v3.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
  tests/test4.yaml
Labels: integration: waveshare_epaper, has-tests

#6066 OTA 2 which confirm each written chunk
  esphome/components/ota/__init__.py
  esphome/components/ota/ota_component.cpp
  esphome/components/ota/ota_component.h
  esphome/core/defines.h
  esphome/espota2.py
  tests/test3.1.yaml
Labels: integration: ota, has-tests, core

#6120 Remove optional<> for pointer types
  esphome/components/bedjet/bedjet_hub.cpp
  esphome/components/bedjet/bedjet_hub.h
  esphome/components/tuya/tuya.cpp
  esphome/components/tuya/tuya.h
Labels: integration: tuya, small-pr, integration: bedjet

#6121 Fix some Voice Assistant bugs
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/core/ring_buffer.cpp
  esphome/core/ring_buffer.h
Labels: core, small-pr, by-code-owner, integration: voice_assistant

#6122 2023.12.8
  esphome/components/display/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/const.py
  esphome/core/ring_buffer.cpp
  esphome/core/ring_buffer.h
Labels: merging-to-release

#6124 Improve temperature precision in BME280 and BMP280
  esphome/components/bme280_base/bme280_base.cpp
  esphome/components/bmp280/bmp280.cpp
Labels: integration: bmp280, small-pr, integration: bme280_base

#6132 2023.12.9
  esphome/components/dht/dht.cpp
  esphome/components/pmsx003/pmsx003.cpp
  esphome/components/sen5x/sen5x.cpp
  esphome/const.py
Labels: merging-to-release

#6128 Nextion TFT upload IDF memory optimization
  esphome/components/nextion/nextion_upload_idf.cpp
Labels: integration: nextion

#6129 Add support for Pico-ResTouch-LCD-3.5 to ili9xxx driver
  esphome/components/ili9xxx/display.py
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
  esphome/components/ili9xxx/ili9xxx_init.h
Labels: by-code-owner, integration: ili9xxx

#6139 Ensure filename is shown when YAML raises an error
  esphome/yaml_util.py
  tests/unit_tests/fixtures/yaml_util/missing_comp.yaml
  tests/unit_tests/test_yaml_util.py
Labels: has-tests, core, small-pr

#6147 ILI9XXX: Restore offset usage in set_addr_window
  esphome/components/ili9xxx/ili9xxx_display.cpp
Labels: small-pr, by-code-owner, integration: ili9xxx

#6150 Minimum 1 for full_update_every to prevent IntegerDivideByZero.
  esphome/components/waveshare_epaper/display.py
Labels: integration: waveshare_epaper, small-pr

#4238 Support tri-color waveshare eink displays 2.7inch B and B V2
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
  tests/test4.yaml
Labels: integration: waveshare_epaper, has-tests, needs-rebase
