Repository esphome/esphome, pull requests merged in 2024-10, with the labels that each got.

#7514 [rp2040] Always use maxgerhardt platform fork
  esphome/components/rp2040/__init__.py
  esphome/wizard.py
  platformio.ini
  tests/test_build_components/build_components_base.rp2040-ard.yaml
Labels: has-tests, core, small-pr, by-code-owner, integration: rp2040

#7516 2024.9.2
  esphome/components/bl0906/sensor.py
  esphome/components/rp2040/__init__.py
  esphome/const.py
  esphome/voluptuous_schema.py
  esphome/wizard.py
  platformio.ini
  tests/components/bl0906/common.yaml
  tests/test_build_components/build_components_base.rp2040-ard.yaml
Labels: merging-to-release

#7526 [CI] Remove ``sorted`` from library include dirs
  script/clang-tidy
Labels: core, small-pr

#7515 [wifi] Fix error message when no custom MAC is set
  esphome/core/helpers.cpp
Labels: core, small-pr

#7527 [esp32] Add ``ignore_efuse_custom_mac`` config var
  esphome/components/esp32/__init__.py
  esphome/const.py
  esphome/core/helpers.cpp
Labels: core, small-pr, integration: esp32

#7528 [mics_4514] Move consts to consts.py
  esphome/components/mics_4514/sensor.py
  esphome/const.py
Labels: core, small-pr, by-code-owner, integration: mics_4514

#7495 Fix parsing of µs time periods in config
  esphome/config_validation.py
  tests/components/esp32_rmt_led_strip/test.esp32-c3-idf.yaml
  tests/components/esp32_rmt_led_strip/test.esp32-idf.yaml
Labels: has-tests, core, small-pr

#7531 [web_server] Expose detail=all on all components
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server

#7535 [CI] Use a list when reading idedata for includes
  script/clang-tidy
Labels: core, small-pr

#7536 Use "puremagic" instead of "magic" python module
  esphome/components/image/__init__.py
  requirements.txt
Labels: integration: image, core, small-pr

#7546 [lvgl] Remap image to img in "set_style_*"
  esphome/components/lvgl/styles.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, small-pr, integration: lvgl

#7549 CSE7766 needs even parity
  esphome/components/cse7766/sensor.py
  tests/components/cse7766/test.esp32-ard.yaml
  tests/components/cse7766/test.esp32-c3-ard.yaml
  tests/components/cse7766/test.esp32-c3-idf.yaml
  tests/components/cse7766/test.esp32-idf.yaml
  tests/components/cse7766/test.esp8266-ard.yaml
  tests/components/cse7766/test.rp2040-ard.yaml
Labels: breaking-change, integration: cse7766, has-tests, small-pr

#7550 Allow use of all pulse count unit channels if needed.
  esphome/components/pulse_counter/pulse_counter_sensor.cpp
  esphome/components/pulse_counter/pulse_counter_sensor.h
Labels: integration: pulse_counter, small-pr

#7533 [bang-bang] Remove ``assert()``
  esphome/components/bang_bang/bang_bang_climate.cpp
Labels: integration: bang_bang, small-pr

#7544 [thermostat] Remove ``assert()``s
  esphome/components/thermostat/thermostat_climate.cpp
Labels: integration: thermostat, small-pr, by-code-owner

#7543 [bedjet_codec] Remove ``assert()``
  esphome/components/bedjet/bedjet_codec.cpp
Labels: small-pr, integration: bedjet

#7505 [audio_dac] [aic3204] Add new component + platform
  CODEOWNERS
  esphome/components/aic3204/__init__.py
  esphome/components/aic3204/aic3204.cpp
  esphome/components/aic3204/aic3204.h
  esphome/components/aic3204/audio_dac.py
  esphome/components/aic3204/automation.h
  esphome/components/audio_dac/__init__.py
  esphome/components/audio_dac/audio_dac.h
  esphome/components/audio_dac/automation.h
  tests/components/aic3204/common.yaml
  tests/components/aic3204/test.esp32-ard.yaml
  tests/components/aic3204/test.esp32-c3-ard.yaml
  tests/components/aic3204/test.esp32-c3-idf.yaml
  tests/components/aic3204/test.esp32-idf.yaml
  tests/components/aic3204/test.esp8266-ard.yaml
Labels: new-integration, has-tests, integration: aic3204, integration: audio_dac

#7502 [wifi] Replace ``USE_ESP32_IGNORE_EFUSE_MAC_CRC`` with IDF's ``CONFIG_ESP_MAC_IGNORE_MAC_CRC_ERROR``
  esphome/components/esp32/__init__.py
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/core/helpers.cpp
Labels: integration: wifi, core, small-pr, integration: esp32

#7325 [code-quality] fix clang-tidy md5 and hmac_md5
  esphome/components/hmac_md5/hmac_md5.cpp
  esphome/components/hmac_md5/hmac_md5.h
  esphome/components/md5/__init__.py
  esphome/components/md5/md5.cpp
  esphome/components/md5/md5.h
  esphome/core/defines.h
Labels: core, small-pr, integration: md5, integration: hmac_md5

#7279 [code-quality] fix clang-tidy api
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/api/custom_api_device.h
  esphome/components/api/homeassistant_service.h
  esphome/components/api/list_entities.cpp
  esphome/components/api/list_entities.h
  esphome/components/api/subscribe_state.cpp
  esphome/components/api/subscribe_state.h
Labels: integration: api, core

#7472 [lvgl] Bugfixes #3
  esphome/components/image/image.cpp
  esphome/components/image/image.h
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/lv_validation.py
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/widgets/__init__.py
  esphome/components/lvgl/widgets/animimg.py
  esphome/components/lvgl/widgets/meter.py
  tests/components/image/test.esp32-ard.yaml
  tests/components/image/test.esp32-c3-ard.yaml
  tests/components/image/test.esp32-c3-idf.yaml
  tests/components/image/test.esp32-idf.yaml
  tests/components/lvgl/lvgl-package.yaml
  tests/components/lvgl/test.esp32-idf.yaml
Labels: integration: image, has-tests, by-code-owner, integration: lvgl

#4304 Feature/add seeed grove gmxxx multichannel gas support
  CODEOWNERS
  esphome/components/grove_gas_mc_v2/__init__.py
  esphome/components/grove_gas_mc_v2/grove_gas_mc_v2.cpp
  esphome/components/grove_gas_mc_v2/grove_gas_mc_v2.h
  esphome/components/grove_gas_mc_v2/sensor.py
  esphome/const.py
  tests/components/grove_gas_mc_v2/common.yaml
  tests/components/grove_gas_mc_v2/test.esp32-ard.yaml
  tests/components/grove_gas_mc_v2/test.esp32-idf.yaml
  tests/components/grove_gas_mc_v2/test.esp8266-ard.yaml
  tests/components/grove_gas_mc_v2/test.rp2040-ard.yaml
Labels: new-integration, has-tests, core, integration: grove_gas_mc_v2

#7552 [lvgl] Fix: allow full range of styles on dropdown list.
  esphome/components/lvgl/lv_validation.py
  esphome/components/lvgl/widgets/dropdown.py
  esphome/components/lvgl/widgets/meter.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, small-pr, by-code-owner, integration: lvgl

#6833 [web_server] v3 entity grouping
  esphome/components/alarm_control_panel/__init__.py
  esphome/components/binary_sensor/__init__.py
  esphome/components/button/__init__.py
  esphome/components/climate/__init__.py
  esphome/components/cover/__init__.py
  esphome/components/datetime/__init__.py
  esphome/components/fan/__init__.py
  esphome/components/light/__init__.py
  esphome/components/lock/__init__.py
  esphome/components/number/__init__.py
  esphome/components/select/__init__.py
  esphome/components/sensor/__init__.py
  esphome/components/switch/__init__.py
  esphome/components/text/__init__.py
  esphome/components/text_sensor/__init__.py
  esphome/components/update/__init__.py
  esphome/components/valve/__init__.py
  esphome/components/web_server/__init__.py
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/const.py
  tests/components/web_server/common_v3.yaml
  tests/components/web_server/test_v3.esp32-ard.yaml
Labels: breaking-change, integration: web_server, core

#6862 Add Initial TE-M3200 pressure sensor support
  CODEOWNERS
  esphome/components/tem3200/__init__.py
  esphome/components/tem3200/sensor.py
  esphome/components/tem3200/tem3200.cpp
  esphome/components/tem3200/tem3200.h
  tests/components/tem3200/common.yaml
  tests/components/tem3200/test.esp32-ard.yaml
  tests/components/tem3200/test.esp32-idf.yaml
  tests/components/tem3200/test.esp32-s3-ard.yaml
  tests/components/tem3200/test.esp32-s3-idf.yaml
  tests/components/tem3200/test.esp8266-ard.yaml
Labels: new-integration, has-tests, integration: tem3200

#7181 Add Initial NPI-19 pressure sensor support
  CODEOWNERS
  esphome/components/npi19/__init__.py
  esphome/components/npi19/npi19.cpp
  esphome/components/npi19/npi19.h
  esphome/components/npi19/sensor.py
  tests/components/npi19/common.yaml
  tests/components/npi19/test.esp32-ard.yaml
  tests/components/npi19/test.esp32-idf.yaml
  tests/components/npi19/test.esp32-s3-ard.yaml
  tests/components/npi19/test.esp32-s3-idf.yaml
  tests/components/npi19/test.esp8266-ard.yaml
Labels: new-integration, has-tests, integration: npi19

#6291 nau7802: new component
  CODEOWNERS
  esphome/components/nau7802/__init__.py
  esphome/components/nau7802/nau7802.cpp
  esphome/components/nau7802/nau7802.h
  esphome/components/nau7802/sensor.py
  tests/components/nau7802/common.yaml
  tests/components/nau7802/test.esp32-ard.yaml
  tests/components/nau7802/test.esp32-c3-ard.yaml
  tests/components/nau7802/test.esp32-c3-idf.yaml
  tests/components/nau7802/test.esp32-idf.yaml
  tests/components/nau7802/test.esp8266-ard.yaml
  tests/components/nau7802/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: nau7802

#7556 [online_image] Bugfix: Use std::string instead of const char *
  esphome/components/online_image/__init__.py
  esphome/components/online_image/online_image.h
  tests/components/online_image/common-esp32.yaml
  tests/components/online_image/common.yaml
Labels: has-tests, small-pr, integration: online_image

#7555 [ili9xxx] Put display into sleep mode on shutdown.
  esphome/components/ili9xxx/ili9xxx_display.h
Labels: small-pr, by-code-owner, integration: ili9xxx

#7567 Update radon_eye_listener.cpp for more possible variants
  esphome/components/radon_eye_ble/radon_eye_listener.cpp
Labels: small-pr, integration: radon_eye_ble

#7557 [cst816] Allow skipping i2c probe
  esphome/components/cst816/touchscreen/__init__.py
  esphome/components/cst816/touchscreen/cst816_touchscreen.cpp
  esphome/components/cst816/touchscreen/cst816_touchscreen.h
  tests/components/cst816/common.yaml
Labels: has-tests, small-pr, by-code-owner, integration: cst816

#7563 [lvgl] Fix text component
  esphome/components/lvgl/text/__init__.py
  tests/components/lvgl/common.yaml
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, small-pr, by-code-owner, integration: lvgl

#7561 [template/binary_sensor] Implement `condition:` option as alternative to lambda.
  esphome/components/template/binary_sensor/__init__.py
  tests/components/template/common.yaml
Labels: integration: template, has-tests, core, small-pr

#7573 fix uart settings check
  esphome/components/cse7766/cse7766.cpp
Labels: integration: cse7766, small-pr

#7566 Update `pillow` to 10.4.0
  esphome/components/font/__init__.py
  requirements_optional.txt
Labels: integration: font, core, small-pr

#7593 [CI] failures when installing using apt-get.
  .github/workflows/ci.yml
Labels: small-pr

#7478 [core][esp32_rmt_led_strip] Migrate ExternalRAMAllocator to RAMAllocator
  esphome/components/esp32_rmt_led_strip/led_strip.cpp
  esphome/components/esp32_rmt_led_strip/led_strip.h
  esphome/components/esp32_rmt_led_strip/light.py
  esphome/core/helpers.h
Labels: core, integration: esp32_rmt_led_strip

#7586 [web_server] Event component grouping
  esphome/components/event/__init__.py
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server, small-pr, integration: event

#7587 [web_server] expose event compoent to REST
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
Labels: integration: web_server, small-pr

#7591 [touchscreen] Fix coordinates when using rotation
  esphome/components/touchscreen/touchscreen.cpp
Labels: small-pr, integration: touchscreen

#7407 Fix update sequence when update is set to false (#5225)
  esphome/components/shelly_dimmer/shelly_dimmer.cpp
  esphome/components/shelly_dimmer/shelly_dimmer.h
Labels: by-code-owner, integration: shelly_dimmer

#7599 2024.10.0b2
  .github/workflows/ci.yml
  esphome/components/cse7766/cse7766.cpp
  esphome/components/event/__init__.py
  esphome/components/shelly_dimmer/shelly_dimmer.cpp
  esphome/components/shelly_dimmer/shelly_dimmer.h
  esphome/components/touchscreen/touchscreen.cpp
  esphome/components/web_server/web_server.cpp
  esphome/const.py
Labels: merging-to-beta

#7597 Update test_build_components
  script/test_build_components
Labels: core, small-pr

#7579 [fix] ESP32-C6: internal temperature reporting
  esphome/components/internal_temperature/internal_temperature.cpp
Labels: small-pr, integration: internal_temperature

#7603 [code-quality] statsd component
  esphome/components/statsd/statsd.cpp
  esphome/components/statsd/statsd.h
Labels: small-pr, integration: statsd

#7565 [automation] Implement all and any condition shortcuts
  esphome/automation.py
  esphome/const.py
Labels: core, merge-after-release

#7460 Add TC74 temperature sensor
  CODEOWNERS
  esphome/components/tc74/__init__.py
  esphome/components/tc74/sensor.py
  esphome/components/tc74/tc74.cpp
  esphome/components/tc74/tc74.h
  tests/components/tc74/test.esp32-ard.yaml
  tests/components/tc74/test.esp32-c3-ard.yaml
  tests/components/tc74/test.esp32-c3-idf.yaml
  tests/components/tc74/test.esp32-idf.yaml
  tests/components/tc74/test.esp8266-ard.yaml
  tests/components/tc74/test.rp2040-ard.yaml
Labels: new-integration, has-tests, merge-after-release, integration: tc74

#7420 [display] filled_ring and filled_gauge methods added
  esphome/components/display/display.cpp
  esphome/components/display/display.h
  tests/components/display/common.yaml
Labels: integration: display, has-tests, core, merge-after-release

#7600 [fix] deprecated functions warnings for logger component with ESP IDF version 5.3.0+
  esphome/components/logger/logger_esp32.cpp
Labels: integration: logger, core, small-pr, merge-after-release

#7595 [lvgl] Implement better software rotation
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/types.py
  tests/components/lvgl/lvgl-package.yaml
  tests/components/lvgl/test.esp32-ard.yaml
Labels: has-tests, by-code-owner, merge-after-release, integration: lvgl

#7522 Add support for Analog Devices MAX17043 battery fuel gauge
  CODEOWNERS
  esphome/components/max17043/__init__.py
  esphome/components/max17043/automation.h
  esphome/components/max17043/max17043.cpp
  esphome/components/max17043/max17043.h
  esphome/components/max17043/sensor.py
  tests/components/max17043/common.yaml
  tests/components/max17043/test.esp32-ard.yaml
  tests/components/max17043/test.esp32-c3-ard.yaml
  tests/components/max17043/test.esp32-c3-idf.yaml
  tests/components/max17043/test.esp32-idf.yaml
  tests/components/max17043/test.esp8266-ard.yaml
  tests/components/max17043/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: max17043

#7610 chore: bump pyyaml to 6.0.2 to support py3.13 build
  requirements.txt
Labels: small-pr

#7590 chore: bump platformio to 6.1.16 to support py3.13 build
  docker/Dockerfile
  requirements.txt
Labels: small-pr

#7605 [speaker, i2s_audio] I2S Speaker implementation using a ring buffer
  CODEOWNERS
  esphome/components/audio/__init__.py
  esphome/components/audio/audio.h
  esphome/components/i2s_audio/speaker/__init__.py
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  esphome/components/speaker/__init__.py
  esphome/components/speaker/automation.h
  esphome/components/speaker/speaker.h
  tests/components/speaker/test.esp32-ard.yaml
  tests/components/speaker/test.esp32-c3-ard.yaml
  tests/components/speaker/test.esp32-c3-idf.yaml
  tests/components/speaker/test.esp32-idf.yaml
Labels: new-integration, has-tests, integration: i2s_audio, integration: speaker, integration: audio

#7618 Bump arduino-mlx90393 to 1.0.2
  esphome/components/mlx90393/sensor.py
  platformio.ini
Labels: integration: mlx90393, small-pr, by-code-owner

#7580 [fix] ESP32-C6 BLE compile error
  esphome/components/esp32_ble/const_esp32c6.h
Labels: small-pr, integration: esp32_ble

#7612 [config] Fix crash with empty substitutions block
  esphome/config.py
Labels: core, small-pr

#7592 [axs15231] Touchscreen driver
  CODEOWNERS
  esphome/components/axs15231/__init__.py
  esphome/components/axs15231/touchscreen/__init__.py
  esphome/components/axs15231/touchscreen/axs15231_touchscreen.cpp
  esphome/components/axs15231/touchscreen/axs15231_touchscreen.h
  tests/components/axs15231/common.yaml
  tests/components/axs15231/test.esp32-ard.yaml
  tests/components/axs15231/test.esp32-c3-ard.yaml
  tests/components/axs15231/test.esp32-c3-idf.yaml
  tests/components/axs15231/test.esp32-idf.yaml
  tests/components/axs15231/test.esp8266-ard.yaml
  tests/components/axs15231/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: axs15231

#7608 [lvgl] Roller and Dropdown enhancements;
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/select/__init__.py
  esphome/components/lvgl/select/lvgl_select.h
  esphome/components/lvgl/trigger.py
  esphome/components/lvgl/types.py
  esphome/components/lvgl/widgets/__init__.py
  esphome/components/lvgl/widgets/dropdown.py
  esphome/components/lvgl/widgets/obj.py
  esphome/components/lvgl/widgets/roller.py
  esphome/components/lvgl/widgets/tileview.py
  esphome/core/defines.h
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, core, by-code-owner, integration: lvgl

#7602 [code-quality] udp component
  esphome/components/udp/udp_component.cpp
  esphome/components/udp/udp_component.h
Labels: small-pr, integration: udp

#7611 [lvgl] Revise code generation to allow early widget creation
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/automation.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/lvcode.py
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/styles.py
  esphome/components/lvgl/widgets/__init__.py
  esphome/components/lvgl/widgets/msgbox.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#7626 Bump bme68x_bsec2 version to 1.8.2610
  esphome/components/bme68x_bsec2/__init__.py
Labels: small-pr, integration: bme68x_bsec2

#7640 Fix broken ibeacon_uuid config in ble_rssi
  esphome/components/ble_rssi/sensor.py
Labels: integration: ble_rssi, small-pr

#7620 Update Pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: small-pr

#7642 auto-load preferences
  esphome/components/host/__init__.py
  esphome/components/libretiny/__init__.py
  esphome/components/rp2040/__init__.py
Labels: small-pr, integration: host, integration: rp2040, integration: libretiny

#7644 [wifi] Support custom MAC on Arduino, too
  esphome/components/esp32/__init__.py
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
Labels: integration: wifi, core, small-pr, integration: esp32

#7622 [config] Ensure user-supplied build flags don't get silently overwritten
  esphome/core/config.py
Labels: core, small-pr

#7627 [lvgl] Defer display rotation reset until setup(). (Bugfix)
  esphome/components/lvgl/lvgl_esphome.cpp
Labels: small-pr, by-code-owner, integration: lvgl

#7645 [lvgl] Remove states from style definitions (Bugfix)
  esphome/components/lvgl/__init__.py
Labels: small-pr, by-code-owner, integration: lvgl

#7630 Move setting global voice assistant to constructor
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
Labels: small-pr, integration: voice_assistant

#7651 2024.10.1
  esphome/components/ble_rssi/sensor.py
  esphome/components/esp32/__init__.py
  esphome/components/host/__init__.py
  esphome/components/libretiny/__init__.py
  esphome/components/lvgl/__init__.py
  esphome/components/rp2040/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/config.py
  esphome/const.py
  esphome/core/config.py
Labels: merging-to-release

#7649 [lvgl] light schema should require `widget:` not `led:` (Bugfix)
  esphome/components/lvgl/light/__init__.py
  tests/components/lvgl/common.yaml
Labels: breaking-change, has-tests, small-pr, by-code-owner, integration: lvgl

#7654 [image] Fix compile time problem with host image not using lvgl
  esphome/components/image/image.h
  esphome/components/lvgl/lvgl_proxy.h
Labels: integration: image, core, small-pr, by-code-owner, integration: lvgl

#7653 [lvgl] Fix rotation code for 90deg (Bugfix)
  esphome/components/lvgl/lvgl_esphome.cpp
Labels: small-pr, by-code-owner, integration: lvgl

#7652 [lvgl] Allow strings to be interpreted as integers (Bugfix)
  esphome/components/lvgl/lv_validation.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, small-pr, by-code-owner, integration: lvgl

#7647 [rtttl] Add `get_gain()`
  esphome/components/rtttl/rtttl.cpp
  esphome/components/rtttl/rtttl.h
Labels: integration: rtttl, small-pr

#7648 feat(MQTT): Add subscribe QoS to discovery
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_component.h
  esphome/components/mqtt/mqtt_const.h
  esphome/config_validation.py
  esphome/const.py
  tests/components/mqtt/common.yaml
Labels: integration: mqtt, has-tests, core, small-pr

#7634 Humanized the missing MQTT log topic error message
  esphome/mqtt.py
Labels: core, small-pr

#7655 [lvgl] Some properties were not templatable (Bugfix)
  esphome/components/lvgl/lv_validation.py
  esphome/components/lvgl/schemas.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, small-pr, by-code-owner, integration: lvgl

#7641 i2c_device
  CODEOWNERS
  esphome/components/i2c_device/__init__.py
  esphome/components/i2c_device/i2c_device.cpp
  esphome/components/i2c_device/i2c_device.h
  tests/components/i2c_device/test.esp32-ard.yaml
  tests/components/i2c_device/test.esp32-c3-ard.yaml
  tests/components/i2c_device/test.esp32-c3-idf.yaml
  tests/components/i2c_device/test.esp32-idf.yaml
  tests/components/i2c_device/test.esp8266-ard.yaml
  tests/components/i2c_device/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: i2c_device

#7662 [voice_assistant] Bugfix: Fix crash on start
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
Labels: integration: voice_assistant

#7663 2024.10.2
  esphome/components/lvgl/lv_validation.py
  esphome/components/lvgl/schemas.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/const.py
  esphome/mqtt.py
  tests/components/lvgl/lvgl-package.yaml
Labels: merging-to-release

#7664 [speaker, i2s_audio] Support audio_dac component, mute actions, and improved logging
  CODEOWNERS
  esphome/components/i2s_audio/speaker/__init__.py
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  esphome/components/speaker/__init__.py
  esphome/components/speaker/automation.h
  esphome/components/speaker/speaker.h
  tests/components/speaker/test.esp32-ard.yaml
  tests/components/speaker/test.esp32-c3-ard.yaml
  tests/components/speaker/test.esp32-c3-idf.yaml
  tests/components/speaker/test.esp32-idf.yaml
Labels: has-tests, integration: i2s_audio, integration: speaker

#7614 unified way how all platforms handle copy_files
  esphome/components/rp2040/__init__.py
  esphome/writer.py
Labels: core, small-pr, integration: rp2040

#7650 updating ESP32 board definitions
  esphome/components/esp32/boards.py
Labels: integration: esp32

#7665 Support ignoring discovered devices from the dashboard
  esphome/dashboard/core.py
  esphome/dashboard/web_server.py
  esphome/storage_json.py
Labels: new-feature, core, dashboard

#7669 Bump esphome-dashboard to 20241025.0
  requirements.txt
Labels: small-pr

#7617 unified way how all platforms handle get_download_types
  esphome/dashboard/web_server.py
Labels: core, small-pr, dashboard

#7667 [media_player] Add new media player conditions
  esphome/components/media_player/__init__.py
  esphome/components/media_player/automation.h
  esphome/components/media_player/media_player.cpp
  tests/components/media_player/common.yaml
Labels: new-feature, has-tests, small-pr, integration: media_player

#7601 [code-quality] weikai.h
  esphome/components/weikai/weikai.h
Labels: small-pr, integration: weikai

#7631 [image][online_image][animation] Fix transparency in RGB565
  esphome/components/animation/__init__.py
  esphome/components/animation/animation.cpp
  esphome/components/image/__init__.py
  esphome/components/image/image.cpp
  esphome/components/image/image.h
  esphome/components/online_image/online_image.cpp
  esphome/components/online_image/online_image.h
  tests/components/image/common.yaml
  tests/components/image/test.esp32-ard.yaml
  tests/components/image/test.esp32-c3-ard.yaml
  tests/components/image/test.esp32-c3-idf.yaml
  tests/components/image/test.esp32-idf.yaml
  tests/components/image/test.esp8266-ard.yaml
  tests/components/image/test.host.yaml
  tests/components/image/test.rp2040-ard.yaml
Labels: integration: image, has-tests, core, by-code-owner, integration: animation, integration: online_image

#7529 Add OpenTherm component (part 2.1: sensor platform)
  esphome/components/opentherm/__init__.py
  esphome/components/opentherm/const.py
  esphome/components/opentherm/generate.py
  esphome/components/opentherm/hub.cpp
  esphome/components/opentherm/hub.h
  esphome/components/opentherm/opentherm.cpp
  esphome/components/opentherm/opentherm.h
  esphome/components/opentherm/opentherm_macros.h
  esphome/components/opentherm/schema.py
  esphome/components/opentherm/sensor/__init__.py
  esphome/components/opentherm/validate.py
  tests/components/opentherm/common.yaml
Labels: has-tests, by-code-owner, new-platform, integration: opentherm

#7681 gp8403 : Add the possibility to use substitution for channel selection
  esphome/components/gp8403/output/__init__.py
Labels: small-pr, integration: gp8403

#7675 [rpi_dpi_rgb] Fix get_width and height (Bugfix)
  esphome/components/rpi_dpi_rgb/rpi_dpi_rgb.cpp
  esphome/components/rpi_dpi_rgb/rpi_dpi_rgb.h
Labels: small-pr, by-code-owner, integration: rpi_dpi_rgb

#7623 [lvgl] Implement qrcode
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/widgets/qrcode.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#7638 [bytebuffer] Rework ByteBuffer using templates
  CODEOWNERS
  esphome/components/bytebuffer/__init__.py
  esphome/components/bytebuffer/bytebuffer.h
  esphome/core/bytebuffer.cpp
  esphome/core/bytebuffer.h
  tests/components/bytebuffer/common.yaml
  tests/components/bytebuffer/test.esp32-ard.yaml
  tests/components/bytebuffer/test.esp32-c3-ard.yaml
  tests/components/bytebuffer/test.esp32-c3-idf.yaml
  tests/components/bytebuffer/test.esp32-idf.yaml
  tests/components/bytebuffer/test.esp8266-ard.yaml
  tests/components/bytebuffer/test.host.yaml
  tests/components/bytebuffer/test.rp2040-ard.yaml
Labels: has-tests, core, integration: bytebuffer

#7689 [http_request] Always return defined server response status
  esphome/components/http_request/http_request_arduino.cpp
  esphome/components/http_request/http_request_idf.cpp
  esphome/components/http_request/ota/ota_http_request.cpp
  esphome/components/http_request/update/http_request_update.cpp
Labels: breaking-change, integration: http_request, small-pr

#7691 [font] Fix failure with bitmap fonts
  esphome/components/font/__init__.py
Labels: integration: font, core, small-pr, by-code-owner

#7690 [http_request] Add enum for status codes
  esphome/components/http_request/http_request.h
  esphome/components/http_request/http_request_arduino.cpp
  esphome/components/http_request/http_request_idf.cpp
  esphome/components/http_request/ota/ota_http_request.cpp
  esphome/components/http_request/update/http_request_update.cpp
Labels: integration: http_request

#7503 Support W5500 SPI-Ethernet polling mode if framework is supported
  esphome/components/ethernet/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
  esphome/const.py
Labels: integration: ethernet, core

#7686 Add asdf to gitignore (and dockerignore)
  .dockerignore
  .gitignore
Labels: small-pr

#7683 Add more prometheus metrics
  esphome/components/prometheus/prometheus_handler.cpp
  esphome/components/prometheus/prometheus_handler.h
  tests/components/prometheus/common.yaml
Labels: has-tests, integration: prometheus

#7475 Mopeka Pro Check improvement to allow user to configure the sensor reporting for lower quality readings
  esphome/components/mopeka_pro_check/mopeka_pro_check.cpp
  esphome/components/mopeka_pro_check/mopeka_pro_check.h
  esphome/components/mopeka_pro_check/sensor.py
  tests/components/mopeka_pro_check/common.yaml
Labels: has-tests, by-code-owner, integration: mopeka_pro_check

#7674 Fixes modbus timing error
  esphome/components/modbus/modbus.cpp
Labels: integration: modbus, small-pr

#7668 fix(WiFi): Fix strncpy missing NULL terminator [-Werror=stringop-truncation]
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: integration: wifi, core, small-pr

#7615 let make new platform implementation in external components
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: core

#7680 remove use of delay
  esphome/components/sgp4x/sgp4x.cpp
  esphome/components/sgp4x/sgp4x.h
Labels: integration: sgp4x

#7694 fix build error
  esphome/core/helpers.cpp
Labels: core, small-pr

#7679 fix: [climate] Allow substitutions in `visual.temperature_step.{target_temperature,current_temperature}`
  esphome/components/climate/__init__.py
Labels: integration: climate, core, small-pr

#7692 Add in area and device to the prometheus labels
  esphome/components/prometheus/prometheus_handler.cpp
  esphome/components/prometheus/prometheus_handler.h
  tests/components/prometheus/common.yaml
Labels: has-tests, integration: prometheus

#7696 [http_request] Implement `on_error` trigger for requests
  esphome/components/http_request/__init__.py
  esphome/components/http_request/http_request.h
  tests/components/http_request/common.yaml
Labels: integration: http_request, has-tests, small-pr

#7693 [es8311] Add es8311 dac component
  CODEOWNERS
  esphome/components/es8311/__init__.py
  esphome/components/es8311/audio_dac.py
  esphome/components/es8311/es8311.cpp
  esphome/components/es8311/es8311.h
  esphome/components/es8311/es8311_const.h
  esphome/components/i2s_audio/__init__.py
  esphome/const.py
  tests/components/es8311/common.yaml
  tests/components/es8311/test.esp32-ard.yaml
  tests/components/es8311/test.esp32-c3-ard.yaml
  tests/components/es8311/test.esp32-c3-idf.yaml
  tests/components/es8311/test.esp32-idf.yaml
  tests/components/es8311/test.esp8266-ard.yaml
Labels: new-integration, has-tests, core, integration: i2s_audio, integration: es8311

#7698 [sdl] Allow window to be resized.
  esphome/components/sdl/sdl_esphome.cpp
  esphome/components/sdl/sdl_esphome.h
Labels: small-pr, by-code-owner, integration: sdl

#7699 Add config for current temperature precision
  esphome/components/mqtt/mqtt_climate.cpp
  esphome/components/mqtt/mqtt_const.h
  tests/components/mqtt/common.yaml
Labels: integration: mqtt, has-tests, core, small-pr

#7702 [spi] Add mosi pin checks for displays
  esphome/components/ili9xxx/display.py
  esphome/components/pcd8544/display.py
  esphome/components/ssd1306_spi/display.py
  esphome/components/ssd1322_spi/display.py
  esphome/components/ssd1325_spi/display.py
  esphome/components/ssd1327_spi/display.py
  esphome/components/ssd1331_spi/display.py
  esphome/components/ssd1351_spi/display.py
  esphome/components/st7567_spi/display.py
  esphome/components/st7701s/display.py
  esphome/components/st7735/display.py
  esphome/components/st7789v/display.py
  esphome/components/waveshare_epaper/display.py
Labels: integration: pcd8544, integration: ssd1306_spi, integration: ssd1325_spi, integration: ssd1351_spi, integration: st7789v, integration: waveshare_epaper, integration: st7735, by-code-owner, integration: ssd1331_spi, integration: ssd1322_spi, integration: ssd1327_spi, integration: ili9xxx, integration: st7701s, integration: st7567_spi

#7703 [CI] Fix webserver defines to be present based on platform, not just framework
  esphome/core/defines.h
Labels: core, small-pr

#7704 [touchscreen] Calibration fixes
  esphome/components/touchscreen/__init__.py
  esphome/components/touchscreen/touchscreen.h
  esphome/components/xpt2046/touchscreen/__init__.py
  tests/components/xpt2046/test.esp32-ard.yaml
  tests/components/xpt2046/test.esp32-c3-ard.yaml
  tests/components/xpt2046/test.esp32-c3-idf.yaml
  tests/components/xpt2046/test.esp32-idf.yaml
  tests/components/xpt2046/test.esp8266-ard.yaml
  tests/components/xpt2046/test.rp2040-ard.yaml
Labels: breaking-change, has-tests, integration: xpt2046, integration: touchscreen

#7429 [font] Add support for "glyphsets"
  docker/Dockerfile
  esphome/components/font/__init__.py
  requirements.txt
  requirements_optional.txt
  script/ci-custom.py
  tests/components/font/.gitattributes
  tests/components/font/MatrixChunky8X.bdf
  tests/components/font/common.yaml
  tests/components/font/test.host.yaml
  tests/components/font/x11.pcf
Labels: integration: font, has-tests, core

#7708 [lvlg] fix tests
  tests/components/lvgl/common.yaml
Labels: has-tests, small-pr

#7705 [esp32_ble] Add disconnect as a virtual function to ``ESPBTClient``
  esphome/components/esp32_ble_client/ble_client_base.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: esp32_ble_tracker, small-pr, by-code-owner, integration: esp32_ble_client
