Repository esphome/esphome, pull requests merged in 2024-12, with the labels that each got.

#7900 [hx711] clang-tidy fixes for #7822
  esphome/components/hx711/hx711.cpp
  esphome/components/hx711/hx711.h
Labels: integration: hx711, small-pr

#7888 Cast port to int for ota pushing
  esphome/__main__.py
Labels: core, small-pr

#7899 20241201-modbus-clang-tidy-18
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/modbus_controller/modbus_controller.h
  esphome/components/modbus_controller/number/modbus_number.cpp
  esphome/components/modbus_controller/number/modbus_number.h
  esphome/components/modbus_controller/output/modbus_output.cpp
  esphome/components/modbus_controller/output/modbus_output.h
  esphome/components/modbus_controller/select/modbus_select.cpp
  esphome/components/modbus_controller/select/modbus_select.h
  esphome/components/modbus_controller/switch/modbus_switch.cpp
  esphome/components/modbus_controller/switch/modbus_switch.h
Labels: integration: modbus_controller

#7905 [CI] Bump GHA runners to ``ubuntu-24.04``
  .github/workflows/ci.yml
Labels: small-pr

#7891 [font et. al.] Remove explicit check for pillow installed.
  esphome/components/animation/__init__.py
  esphome/components/font/__init__.py
  esphome/components/ili9xxx/display.py
  esphome/components/image/__init__.py
Labels: integration: font, integration: image, core, small-pr, by-code-owner, integration: animation, integration: ili9xxx

#7822 [CI] Update clang-tidy to 18.1.3
  .clang-tidy
  .github/workflows/ci.yml
  docker/Dockerfile
  requirements_dev.txt
  script/clang-tidy
Labels: core, small-pr

#7768 MQTT sensors handling of publishing NaN values
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
  esphome/components/mqtt/mqtt_sensor.cpp
  esphome/const.py
  tests/components/mqtt/common.yaml
Labels: breaking-change, integration: mqtt, has-tests, core, small-pr

#7867 [ble] Allow setting shorter name for ble advertisements
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble.h
  esphome/components/esp32_ble/ble_advertising.cpp
Labels: by-code-owner, integration: esp32_ble

#7896 [lvgl] Bugfixes
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/widgets/line.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, small-pr, by-code-owner, integration: lvgl

#7907 [font] Restore correct default glyphs for bitmap fonts
  esphome/components/font/__init__.py
Labels: integration: font, core, small-pr, by-code-owner

#7912 [lvgl] Fix msgbox content
  esphome/components/lvgl/widgets/msgbox.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, small-pr, by-code-owner, integration: lvgl

#7909 [helpers] clang-tidy fix for #7706
  esphome/core/helpers.cpp
Labels: core, small-pr

#7910 [docker] Fix clang-tidy installation
  docker/Dockerfile
Labels: small-pr

#7913 [sntp] Resolve warnings from ESP-IDF 5.x
  esphome/components/sntp/sntp_component.cpp
  esphome/components/sntp/sntp_component.h
  esphome/components/sntp/time.py
Labels: integration: sntp, small-pr

#7714 Add strftime variant with background color
  esphome/components/display/display.cpp
  esphome/components/display/display.h
Labels: integration: display, core, small-pr

#7916 [i2s_audio] Bugfix: Follow configured bits per sample
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
Labels: integration: i2s_audio

#7902 Haier AC quiet mode switch fix
  esphome/components/haier/hon_climate.cpp
Labels: small-pr, by-code-owner, integration: haier

#7915 [CI] Update clang-tidy to 18.1.8
  requirements_dev.txt
Labels: small-pr

#7919 [i2s_audio] Speaker type fix
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
Labels: small-pr, integration: i2s_audio

#7918 [esp32_rmt_led_strip] Add ``COMPONENT_SCHEMA`` extending
  esphome/components/esp32_rmt_led_strip/light.py
Labels: small-pr, by-code-owner, integration: esp32_rmt_led_strip

#7706 [esp32] Use pioarduino + IDF 5.1.5 as default for IDF builds
  .clang-tidy
  esphome/components/esp32/__init__.py
  platformio.ini
  tests/test_build_components/build_components_base.esp32-c3-idf-51.yaml
  tests/test_build_components/build_components_base.esp32-idf-51.yaml
  tests/test_build_components/build_components_base.esp32-s2-idf-51.yaml
  tests/test_build_components/build_components_base.esp32-s3-idf-51.yaml
Labels: has-tests, integration: esp32

#7920 [esp32] Fix crash with empty `platformio_options:` value
  esphome/components/esp32/__init__.py
Labels: small-pr, integration: esp32

#7924 Add OCI Image Labels
  docker/Dockerfile
Labels: small-pr

#7928 Update project description
  docker/Dockerfile
  pyproject.toml
Labels: small-pr

#7921 [modbus] More clean-up
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/modbus_controller/switch/modbus_switch.cpp
Labels: small-pr, integration: modbus_controller

#7929 2024.11.3
  esphome/__main__.py
  esphome/components/datetime/datetime_entity.cpp
  esphome/components/esp32/__init__.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/widgets/line.py
  esphome/components/lvgl/widgets/msgbox.py
  esphome/components/online_image/png_image.cpp
  esphome/components/opentherm/hub.cpp
  esphome/components/opentherm/opentherm.cpp
  esphome/components/opentherm/opentherm.h
  esphome/components/st7920/st7920.cpp
  esphome/const.py
  esphome/core/helpers.cpp
  esphome/core/helpers.h
  esphome/core/time.cpp
  esphome/core/time.h
  tests/components/lvgl/lvgl-package.yaml
Labels: merging-to-release

#7589 Add: Seeed Studio MR60BHA2 mmWave Sensor
  CODEOWNERS
  esphome/components/seeed_mr60bha2/__init__.py
  esphome/components/seeed_mr60bha2/seeed_mr60bha2.cpp
  esphome/components/seeed_mr60bha2/seeed_mr60bha2.h
  esphome/components/seeed_mr60bha2/sensor.py
  esphome/const.py
  tests/components/seeed_mr60bha2/common.yaml
  tests/components/seeed_mr60bha2/test.esp32-c3-ard.yaml
  tests/components/seeed_mr60bha2/test.esp32-c3-idf.yaml
Labels: new-integration, has-tests, core, integration: seeed_mr60bha2

#7889 Optimize QMC5883L reads
  esphome/components/qmc5883l/qmc5883l.cpp
  esphome/components/qmc5883l/qmc5883l.h
Labels: integration: qmc5883l

#7937 [display] Fix strftime overload ignoring alignment
  esphome/components/display/display.cpp
Labels: integration: display, core, small-pr

#7934 Add font anti-aliasing for grayscale display
  esphome/components/font/font.cpp
Labels: integration: font, core, small-pr

#7940 [adc] Split files by platform
  esphome/components/adc/adc_sensor.h
  esphome/components/adc/adc_sensor_common.cpp
  esphome/components/adc/adc_sensor_esp32.cpp
  esphome/components/adc/adc_sensor_esp8266.cpp
  esphome/components/adc/adc_sensor_rp2040.cpp
Labels: integration: adc, core

#7943 [const] Move ``CONF_TEMPERATURE_COMPENSATION`` to common const.py
  esphome/components/sen5x/sensor.py
  esphome/components/ufire_ec/sensor.py
  esphome/const.py
Labels: core, small-pr, integration: ufire_ec, integration: sen5x

#7938 [lvgl] Fix image `mode` property (Bugfix)
  esphome/components/lvgl/widgets/img.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, small-pr, by-code-owner, integration: lvgl

#7939 [lvgl] Add `on_change` event
  esphome/components/lvgl/defines.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, small-pr, by-code-owner, integration: lvgl

#7947 [i2c] Use correct macro to determine number of i2c peripherals for idf
  esphome/components/i2c/i2c_bus_esp_idf.cpp
Labels: integration: i2c, core, small-pr

#7953 [const] Add RMT CONF variables to const.py
  esphome/components/remote_receiver/__init__.py
  esphome/const.py
Labels: integration: remote_receiver, core, small-pr

#7952 [sgp30] Set default update interval to 60s
  esphome/components/sgp30/sensor.py
  esphome/components/sgp30/sgp30.cpp
Labels: breaking-change, integration: sgp30, small-pr

#7957 [dallas_temp] Move delay_microseconds_safe to iram
  esphome/core/helpers.cpp
Labels: core, small-pr

#7958 [rotary_encoder] Fix volatile increment/decrement deprecation warnings
  esphome/components/rotary_encoder/rotary_encoder.cpp
Labels: integration: rotary_encoder, small-pr

#7954 [pulse_counter] Fix volatile increment/decrement deprecation warnings
  esphome/components/pulse_counter/pulse_counter_sensor.cpp
  esphome/components/pulse_counter/pulse_counter_sensor.h
Labels: integration: pulse_counter, small-pr

#7959 [i2s_audio] Bugfix: Correctly set ring buffer size
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
Labels: small-pr, integration: i2s_audio

#7955 [adc] Restore missing LIBRETINY code in a separated file
  esphome/components/adc/adc_sensor_libretiny.cpp
  tests/components/adc/test.bk72xx-ard.yaml
Labels: integration: adc, has-tests, core

#7961 [nextion] Publishes `is_connected()`
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
  tests/components/nextion/common.yaml
Labels: integration: nextion, has-tests, small-pr, by-code-owner

#7963 2024.12.0b2
  esphome/components/adc/adc_sensor_libretiny.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/remote_receiver/__init__.py
  esphome/components/sgp30/sensor.py
  esphome/components/sgp30/sgp30.cpp
  esphome/const.py
  esphome/core/helpers.cpp
  tests/components/adc/test.bk72xx-ard.yaml
Labels: merging-to-beta

#7964 Fix adc channel for ESP32-H2
  esphome/components/adc/__init__.py
Labels: integration: adc, core, small-pr

#7656 [nextion] Remove `_internal` from non-protected functions
  esphome/components/nextion/display.py
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_commands.cpp
Labels: integration: nextion, by-code-owner

#7903 [opentherm] Message ordering, on-the-fly message editing, code improvements
  esphome/components/opentherm/__init__.py
  esphome/components/opentherm/automation.h
  esphome/components/opentherm/const.py
  esphome/components/opentherm/generate.py
  esphome/components/opentherm/hub.cpp
  esphome/components/opentherm/hub.h
  esphome/components/opentherm/opentherm.cpp
  esphome/components/opentherm/opentherm.h
  esphome/components/opentherm/opentherm_macros.h
  esphome/components/opentherm/schema.py
  esphome/components/opentherm/validate.py
  tests/components/opentherm/common.yaml
Labels: has-tests, by-code-owner, integration: opentherm

#7729 [debug] Detailed reset reason
  esphome/components/debug/debug_esp32.cpp
Labels: integration: debug, core

#7967 [uart] Use ``SOC_UART_NUM`` as number of uarts instead of ``UART_NUM_MAX``
  esphome/components/uart/uart_component_esp32_arduino.cpp
  esphome/components/uart/uart_component_esp_idf.cpp
Labels: integration: uart, core, small-pr

#7966 [ci] Dont run main ci suite on docker files
  .github/workflows/ci.yml
Labels: small-pr

#7970 [font] cleanly handle font file format exception (Bugfix)
  esphome/components/font/__init__.py
Labels: integration: font, core, small-pr, by-code-owner

#7965 [dashboard] Accept basic auth header
  esphome/dashboard/web_server.py
Labels: core, small-pr, dashboard

#7971 Bump esphome-dashboard to 20241217.1
  requirements.txt
Labels: small-pr

#7936 [esp32_ble] Use RAMAllocator to avoid panic abort from ``new``
  esphome/components/esp32_ble/ble.cpp
Labels: small-pr, by-code-owner, integration: esp32_ble

#7974 [core] Add c6 and h2 to split default
  esphome/config_validation.py
Labels: core

#7762 [midea] Add Fahrenheit support to `midea_ac.follow_me` action
  esphome/components/midea/ac_automations.h
  esphome/components/midea/air_conditioner.cpp
  esphome/components/midea/air_conditioner.h
  esphome/components/midea/climate.py
  esphome/components/midea/ir_transmitter.h
Labels: integration: midea

#7973 [core] Bugfix: Implement ring buffer with xRingbuffer
  esphome/core/ring_buffer.cpp
  esphome/core/ring_buffer.h
Labels: core, merge-after-release

#7979 [qspi_dbi] Bugfix and new features
  esphome/components/lvgl/__init__.py
  esphome/components/qspi_dbi/__init__.py
  esphome/components/qspi_dbi/display.py
  esphome/components/qspi_dbi/models.py
  esphome/components/qspi_dbi/qspi_dbi.cpp
  esphome/components/qspi_dbi/qspi_dbi.h
Labels: by-code-owner, integration: lvgl, integration: qspi_dbi

#7982 2024.12.1
  esphome/const.py
  esphome/core/ring_buffer.cpp
  esphome/core/ring_buffer.h
Labels: merging-to-release

#7960 [esp32_ble] do not skip events if queue is blocked
  esphome/components/esp32_ble/queue.h
Labels: small-pr, integration: esp32_ble

#7983 [esp32] Fix flash size warning when using IDF
  esphome/components/esp32/__init__.py
Labels: small-pr, integration: esp32

#7984 [esp32_ble] Fix for Improv
  esphome/components/esp32_ble/ble_advertising.cpp
Labels: small-pr, integration: esp32_ble

#7989 2024.12.2
  esphome/components/esp32/__init__.py
  esphome/components/esp32_ble/ble_advertising.cpp
  esphome/const.py
Labels: merging-to-release

#7901 [ble_client, bluetooth_proxy, esp32_ble_client, esp32_ble_tracker] fix ble proxy stop working
  esphome/components/ble_client/ble_client.cpp
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/bluetooth_proxy/bluetooth_connection.h
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: esp32_ble_tracker, integration: ble_client, integration: bluetooth_proxy, integration: esp32_ble_client

#8002 [esp32_rmt] IDF 5+ update fixes
  esphome/components/remote_receiver/remote_receiver_esp32.cpp
  esphome/components/remote_transmitter/__init__.py
  esphome/components/remote_transmitter/remote_transmitter.h
  esphome/components/remote_transmitter/remote_transmitter_esp32.cpp
Labels: integration: remote_receiver, integration: remote_transmitter
