Repository esphome/esphome, pull requests merged in 2024-11, with the labels that each got.

#7710 datetime fix build_language_schema
  esphome/components/datetime/__init__.py
  tests/components/mqtt/common.yaml
  tests/components/web_server/common_v3.yaml
Labels: has-tests, small-pr, integration: datetime

#7721 [lvgl] Ensure images are configured before using them. (Bugfix)
  esphome/components/lvgl/widgets/animimg.py
  esphome/components/lvgl/widgets/img.py
Labels: small-pr, by-code-owner, integration: lvgl

#7722 [lvgl] Don't just throw key error if someone types a bad layout type
  esphome/components/lvgl/schemas.py
Labels: small-pr, integration: lvgl

#7724 [spi_device] rename mode to spi_mode
  esphome/components/spi/__init__.py
  esphome/components/spi_device/__init__.py
  tests/components/spi_device/test.esp32-ard.yaml
  tests/components/spi_device/test.esp32-c3-ard.yaml
  tests/components/spi_device/test.esp32-c3-idf.yaml
  tests/components/spi_device/test.esp32-idf.yaml
  tests/components/spi_device/test.esp8266-ard.yaml
  tests/components/spi_device/test.rp2040-ard.yaml
Labels: breaking-change, integration: spi, has-tests, core, small-pr, by-code-owner, integration: spi_device

#7716 feat(MQTT): Add `enable`, `disable` and `enable_on_boot`
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
  tests/components/mqtt/common.yaml
Labels: integration: mqtt, has-tests, core

#7712 [lvgl] Allow multiple LVGL instances
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/automation.py
  esphome/components/lvgl/binary_sensor/__init__.py
  esphome/components/lvgl/light/__init__.py
  esphome/components/lvgl/lvcode.py
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/number/__init__.py
  esphome/components/lvgl/select/__init__.py
  esphome/components/lvgl/sensor/__init__.py
  esphome/components/lvgl/switch/__init__.py
  esphome/components/lvgl/text/__init__.py
  esphome/components/lvgl/text_sensor/__init__.py
  esphome/components/lvgl/touchscreens.py
  esphome/components/lvgl/trigger.py
  esphome/components/lvgl/widgets/page.py
  tests/components/lvgl/test.host.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#7658 [fix] deprecated legacy driver tsens
  esphome/components/internal_temperature/internal_temperature.cpp
  esphome/components/internal_temperature/internal_temperature.h
Labels: integration: internal_temperature

#7731 [lvgl] Fix id config for the lvgl component (Bugfix)
  esphome/components/lvgl/automation.py
Labels: small-pr, by-code-owner, integration: lvgl

#7414 OTA: Fix IPv6 and multiple address support
  esphome/__main__.py
  esphome/espota2.py
  esphome/helpers.py
  esphome/mqtt.py
  esphome/zeroconf.py
Labels: core

#7732 2024.10.3
  esphome/components/lvgl/widgets/animimg.py
  esphome/components/lvgl/widgets/img.py
  esphome/components/modbus/modbus.cpp
  esphome/components/rpi_dpi_rgb/rpi_dpi_rgb.cpp
  esphome/components/rpi_dpi_rgb/rpi_dpi_rgb.h
  esphome/const.py
Labels: merging-to-release

#7747 Fix dashboard ip resolving
  esphome/dashboard/status/mdns.py
  esphome/dashboard/web_server.py
  esphome/zeroconf.py
Labels: core, small-pr, dashboard

#7748 [docker] Bump curl, iputils-ping and libssl-dev
  docker/Dockerfile
Labels: small-pr

#7723 Remove the choice for MQTT logging if it is disabled
  esphome/__main__.py
Labels: core, small-pr

#7735 [sensor] Make some values templatable
  esphome/components/sensor/__init__.py
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
  tests/components/template/common.yaml
Labels: integration: sensor, has-tests, core

#7719 [lvgl] Implement keypads
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/encoders.py
  esphome/components/lvgl/keypads.py
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/types.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#7736 [midea] Add temperature validation in do_follow_me method (bugfix)
  esphome/components/midea/air_conditioner.cpp
Labels: small-pr, integration: midea

#7676 Add OpenTherm component (part 3: rest of the sensors)
  esphome/components/opentherm/__init__.py
  esphome/components/opentherm/binary_sensor/__init__.py
  esphome/components/opentherm/const.py
  esphome/components/opentherm/generate.py
  esphome/components/opentherm/hub.cpp
  esphome/components/opentherm/hub.h
  esphome/components/opentherm/input.h
  esphome/components/opentherm/input.py
  esphome/components/opentherm/number/__init__.py
  esphome/components/opentherm/number/number.cpp
  esphome/components/opentherm/number/number.h
  esphome/components/opentherm/opentherm.h
  esphome/components/opentherm/opentherm_macros.h
  esphome/components/opentherm/output/__init__.py
  esphome/components/opentherm/output/output.cpp
  esphome/components/opentherm/output/output.h
  esphome/components/opentherm/schema.py
  esphome/components/opentherm/sensor/__init__.py
  esphome/components/opentherm/switch/__init__.py
  esphome/components/opentherm/switch/switch.cpp
  esphome/components/opentherm/switch/switch.h
  tests/components/opentherm/common.yaml
Labels: new-integration, has-tests, by-code-owner, integration: opentherm

#7749 [i2s_audio] I2S speaker improvements
  esphome/components/i2s_audio/speaker/__init__.py
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
Labels: integration: i2s_audio

#7750 [core] Ring buffer write functions use const pointer parameter
  esphome/core/ring_buffer.cpp
  esphome/core/ring_buffer.h
Labels: core, small-pr

#7417 [Modbus Controller] Added `on_online` and `on_offline` automation
  esphome/components/modbus_controller/__init__.py
  esphome/components/modbus_controller/automation.h
  esphome/components/modbus_controller/const.py
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/modbus_controller/modbus_controller.h
  tests/components/modbus_controller/test.esp32-ard.yaml
  tests/components/modbus_controller/test.esp32-idf.yaml
Labels: has-tests, integration: modbus_controller

#7740 Updated dfplayer logging to be more user-friendly
  esphome/components/dfplayer/dfplayer.cpp
  esphome/components/dfplayer/dfplayer.h
Labels: integration: dfplayer

#7728 Fix temperature and humidity for bme680 with bsec2
  esphome/components/bme68x_bsec2/bme68x_bsec2.cpp
  esphome/components/bme68x_bsec2/bme68x_bsec2.h
Labels: integration: bme68x_bsec2

#7759 [i2s_audio] Bugfix: Adjust I2S speaker setup priority
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
Labels: small-pr, integration: i2s_audio

#7643 Update UNIT_VOLT_AMPS_REACTIVE = "var" (Currently 'VAR')
  esphome/const.py
Labels: breaking-change, core, small-pr

#7757 Fix reactive power unit of measurement from VAR to var
  esphome/components/sdm_meter/sdm_meter.cpp
Labels: small-pr, integration: sdm_meter

#7695 Disable bluetooth proxy during update
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  tests/components/esp32_ble_tracker/common.yaml
Labels: integration: esp32_ble_tracker, has-tests, small-pr

#7758 ld2420: fix typo in log message
  esphome/components/ld2420/ld2420.cpp
Labels: small-pr, integration: ld2420

#7765 2024.11.0b2
  esphome/components/bme68x_bsec2/bme68x_bsec2.cpp
  esphome/components/bme68x_bsec2/bme68x_bsec2.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  esphome/components/ld2420/ld2420.cpp
  esphome/components/sdm_meter/sdm_meter.cpp
  esphome/const.py
  tests/components/esp32_ble_tracker/common.yaml
Labels: merging-to-beta

#7776 TuyaFan control should use oscillation_type
  esphome/components/tuya/fan/tuya_fan.cpp
Labels: integration: tuya, small-pr

#7786 [http_request] Feed watchdog timeout around http request functions
  esphome/components/http_request/http_request_arduino.cpp
  esphome/components/http_request/http_request_idf.cpp
Labels: integration: http_request, small-pr

#7787 Bump esphome-dashboard to 20241120.0
  requirements.txt
Labels: small-pr

#7788 2024.11.0b4
  esphome/components/http_request/http_request_arduino.cpp
  esphome/components/http_request/http_request_idf.cpp
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#7774 [remote_base] Fix extra comma in dump raw
  esphome/components/remote_base/raw_protocol.cpp
Labels: integration: remote_base, small-pr, merge-after-release

#7772 [nextion] New trigger `on_buffer_overflow`
  esphome/components/nextion/automation.h
  esphome/components/nextion/base_component.py
  esphome/components/nextion/display.py
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
  tests/components/nextion/test.esp32-ard.yaml
  tests/components/nextion/test.esp32-c3-ard.yaml
  tests/components/nextion/test.esp32-c3-idf.yaml
  tests/components/nextion/test.esp32-idf.yaml
  tests/components/nextion/test.esp8266-ard.yaml
  tests/components/nextion/test.rp2040-ard.yaml
Labels: integration: nextion, has-tests, by-code-owner, merge-after-release

#7769 enable rp2040 for online_image
  esphome/components/online_image/__init__.py
  tests/components/online_image/common-rp2040.yaml
  tests/components/online_image/test.rp2040-ard.yaml
Labels: has-tests, small-pr, integration: online_image, merge-after-release

#7790 [http_request] Fix within context with parameters. (Bugfix)
  esphome/components/http_request/http_request.h
  tests/components/http_request/common.yaml
Labels: integration: http_request, has-tests, small-pr

#7793 [rtttl] Clamp gain between 0 and 1
  esphome/components/rtttl/rtttl.h
Labels: integration: rtttl, small-pr

#7794 [speaker] Add missing auto-load for ``audio``
  esphome/components/speaker/__init__.py
Labels: small-pr, by-code-owner, integration: speaker

#7795 [qspi_dbi] Fix garbled graphics on RM690B0
  esphome/components/qspi_dbi/models.py
Labels: small-pr, integration: qspi_dbi

#7796 Fix for OTA mode not activating in safe_mode when OTA section has an on_xxxx action
  esphome/components/esphome/ota/__init__.py
  esphome/components/ota/__init__.py
Labels: integration: ota, core, small-pr, integration: esphome

#7792 Ensure storage I/O for ignored devices runs in the executor
  esphome/dashboard/core.py
  esphome/dashboard/web_server.py
Labels: core, small-pr, dashboard

#7798 2024.11.1
  esphome/components/esphome/ota/__init__.py
  esphome/components/http_request/http_request.h
  esphome/components/ota/__init__.py
  esphome/components/qspi_dbi/models.py
  esphome/components/rtttl/rtttl.h
  esphome/components/speaker/__init__.py
  esphome/const.py
  esphome/core/config.py
  esphome/dashboard/core.py
  esphome/dashboard/web_server.py
  tests/components/http_request/common.yaml
Labels: merging-to-release

#7646 [nextion] Add publish actions
  esphome/components/nextion/__init__.py
  esphome/components/nextion/automation.h
  esphome/components/nextion/binary_sensor/__init__.py
  esphome/components/nextion/sensor/__init__.py
  esphome/components/nextion/switch/__init__.py
  esphome/components/nextion/text_sensor/__init__.py
  tests/components/nextion/common.yaml
  tests/components/nextion/test.esp32-ard.yaml
  tests/components/nextion/test.esp32-c3-ard.yaml
  tests/components/nextion/test.esp32-c3-idf.yaml
  tests/components/nextion/test.esp32-idf.yaml
  tests/components/nextion/test.esp8266-ard.yaml
  tests/components/nextion/test.rp2040-ard.yaml
Labels: integration: nextion, has-tests

#7818 [wifi] Make wifi_channel_() public
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/components/wifi/wifi_component_libretiny.cpp
  esphome/components/wifi/wifi_component_pico_w.cpp
Labels: integration: wifi, core, small-pr

#7803 [lvgl] Bugfixes
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/lv_validation.py
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/widgets/line.py
Labels: small-pr, by-code-owner, integration: lvgl

#7804 [docker] Leave run-time required libraries installed.
  docker/Dockerfile
Labels: small-pr

#7805 [qspi_dbi] Fix init sequences (Bugfix)
  esphome/components/qspi_dbi/models.py
  esphome/components/qspi_dbi/qspi_dbi.cpp
Labels: small-pr, by-code-owner, integration: qspi_dbi

#7810 fix modbus crashing when bad data returned
  esphome/components/modbus/modbus.cpp
  esphome/components/modbus_controller/modbus_controller.cpp
Labels: integration: modbus, integration: modbus_controller

#7335 feat(WiFi): Add wifi.configure action
  esphome/components/wifi/__init__.py
  esphome/components/wifi/wifi_component.h
  tests/components/wifi/common.yaml
Labels: integration: wifi, has-tests, core

#7801 [Modbus Controller] Fix issue #6477. Online automation triggering Offline
  esphome/components/modbus_controller/__init__.py
Labels: small-pr, integration: modbus_controller

#7734 [fix] Status sensor does not check if required network component is missing
  esphome/components/status/binary_sensor.py
Labels: integration: status, core, small-pr

#7809 allow multiple graphical menus
  esphome/components/display_menu_base/__init__.py
  esphome/components/graphical_display_menu/__init__.py
Labels: small-pr, integration: display_menu_base, integration: graphical_display_menu

#7808 keypad binary sensors should be initially off
  esphome/components/binary_sensor/binary_sensor.h
  esphome/components/matrix_keypad/binary_sensor/matrix_keypad_binary_sensor.h
Labels: integration: binary_sensor, core, small-pr, by-code-owner, integration: matrix_keypad

#7820 Move ``CONF_NAME_ADD_MAC_SUFFIX`` to ``const.py``
  esphome/const.py
  esphome/core/config.py
Labels: core, small-pr

#7819 binary_sensor for switch state
  CODEOWNERS
  esphome/components/switch/binary_sensor/__init__.py
  esphome/components/switch/binary_sensor/switch_binary_sensor.cpp
  esphome/components/switch/binary_sensor/switch_binary_sensor.h
  tests/components/switch/common.yaml
  tests/components/switch/test.bk72xx-ard.yaml
  tests/components/switch/test.esp32-ard.yaml
  tests/components/switch/test.esp32-c3-ard.yaml
  tests/components/switch/test.esp32-c3-idf.yaml
  tests/components/switch/test.esp32-idf.yaml
  tests/components/switch/test.esp32-s3-idf.yaml
  tests/components/switch/test.esp8266-ard.yaml
  tests/components/switch/test.rp2040-ard.yaml
Labels: integration: switch, has-tests, core, new-platform

#7824 [nextion] Remove assignment within `if`
  esphome/components/nextion/nextion_upload_idf.cpp
Labels: integration: nextion, small-pr

#7825 [ota] `void` functions should return nothing
  esphome/components/ota/automation.h
Labels: integration: ota, core, small-pr

#7826 [safe_mode] Remove unused capture
  esphome/components/safe_mode/automation.h
Labels: small-pr, by-code-owner, integration: safe_mode

#7827 [stepper] Remove unnecessary ``#include``
  esphome/components/stepper/stepper.h
Labels: integration: stepper, small-pr

#7829 [uart] `void` functions should return nothing
  esphome/components/uart/uart.h
Labels: integration: uart, core, small-pr

#7832 [audio] Header modernization
  esphome/components/audio/audio.h
Labels: small-pr, integration: audio

#7833 [opentherm] Follow variable naming convention
  esphome/components/opentherm/opentherm.cpp
  esphome/components/opentherm/opentherm.h
Labels: small-pr, integration: opentherm

#7835 [opentherm] Fix out of memory errors on ESP8266
  esphome/components/opentherm/hub.cpp
  esphome/components/opentherm/opentherm.cpp
  esphome/components/opentherm/opentherm.h
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: core, by-code-owner, integration: opentherm

#7837 [opentherm] Add nolint for 8266 static global
  esphome/components/opentherm/opentherm.h
Labels: small-pr, integration: opentherm

#7838 [helpers] Add NOLINT for Mutex private field ``handle_``
  esphome/core/helpers.h
Labels: core, small-pr

#7052 Add waveshare 1 45 in v2 b support
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper

#7687 added Waveshare BWR Mode for the 7.5in Display
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
  tests/components/waveshare_epaper/test.esp32-ard.yaml
  tests/components/waveshare_epaper/test.esp32-c3-ard.yaml
  tests/components/waveshare_epaper/test.esp32-c3-idf.yaml
  tests/components/waveshare_epaper/test.esp32-idf.yaml
  tests/components/waveshare_epaper/test.esp8266-ard.yaml
  tests/components/waveshare_epaper/test.rp2040-ard.yaml
Labels: integration: waveshare_epaper, has-tests

#7839 [homeassistant.number] Return when value not set
  esphome/components/homeassistant/number/homeassistant_number.cpp
Labels: integration: homeassistant, core, small-pr

#7831 [CI] Add/update some system include paths
  .clang-tidy
  script/clang-tidy
Labels: core, small-pr

#7834 fix 32 char SSIDs
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: integration: wifi, core

#7807 fix local time timestamp calculation
  esphome/components/datetime/datetime_entity.cpp
  esphome/core/time.cpp
  esphome/core/time.h
Labels: core, small-pr, integration: datetime

#7576 Add: Seeed Studio mr60fda2 mmwave sensor
  CODEOWNERS
  esphome/components/seeed_mr60fda2/__init__.py
  esphome/components/seeed_mr60fda2/binary_sensor.py
  esphome/components/seeed_mr60fda2/button/__init__.py
  esphome/components/seeed_mr60fda2/button/get_radar_parameters_button.cpp
  esphome/components/seeed_mr60fda2/button/get_radar_parameters_button.h
  esphome/components/seeed_mr60fda2/button/reset_radar_button.cpp
  esphome/components/seeed_mr60fda2/button/reset_radar_button.h
  esphome/components/seeed_mr60fda2/seeed_mr60fda2.cpp
  esphome/components/seeed_mr60fda2/seeed_mr60fda2.h
  esphome/components/seeed_mr60fda2/select/__init__.py
  esphome/components/seeed_mr60fda2/select/height_threshold_select.cpp
  esphome/components/seeed_mr60fda2/select/height_threshold_select.h
  esphome/components/seeed_mr60fda2/select/install_height_select.cpp
  esphome/components/seeed_mr60fda2/select/install_height_select.h
  esphome/components/seeed_mr60fda2/select/sensitivity_select.cpp
  esphome/components/seeed_mr60fda2/select/sensitivity_select.h
  tests/components/seeed_mr60fda2/common.yaml
  tests/components/seeed_mr60fda2/test.esp32-c3-ard.yaml
  tests/components/seeed_mr60fda2/test.esp32-c3-idf.yaml
Labels: new-integration, has-tests, integration: seeed_mr60fda2

#7843 [lvgl] clang-tidy fixes for #7822
  esphome/components/lvgl/lvgl_esphome.cpp
Labels: small-pr, integration: lvgl

#7859 [wireguard] clang-tidy fixes for #7822
  esphome/components/wireguard/wireguard.cpp
Labels: small-pr, integration: wireguard

#7848 [dsmr] clang-tidy fixes for #7822
  esphome/components/dsmr/dsmr.cpp
Labels: small-pr, integration: dsmr

#7821 Fix entity name validation to allow "Off" and "On"
  esphome/config_validation.py
Labels: breaking-change, core, small-pr

#7823 [camera_web_server] Add ``NOLINT`` due to naming
  esphome/components/esp32_camera_web_server/camera_web_server.h
Labels: small-pr, integration: esp32_camera_web_server

#7847 [display_menu_base] clang-tidy fixes for #7822
  esphome/components/display_menu_base/display_menu_base.cpp
Labels: small-pr, integration: display_menu_base

#7852 [nextion] clang-tidy fixes for #7822
  esphome/components/nextion/nextion.cpp
Labels: integration: nextion, small-pr

#7844 [shelly_dimmer] clang-tidy fixes for #7822
  esphome/components/shelly_dimmer/shelly_dimmer.cpp
Labels: small-pr, integration: shelly_dimmer

#7856 [sim800l] clang-tidy fixes for #7822
  esphome/components/sim800l/sim800l.cpp
Labels: integration: sim800l, small-pr

#7853 [nfc, pn532, pn7150, pn7160] clang-tidy fixes for #7822
  esphome/components/nfc/ndef_record.cpp
  esphome/components/pn532/pn532_mifare_ultralight.cpp
  esphome/components/pn7150/pn7150_mifare_ultralight.cpp
  esphome/components/pn7160/pn7160_mifare_ultralight.cpp
Labels: integration: pn532, small-pr, by-code-owner, integration: nfc, integration: pn7160, integration: pn7150

#7854 [output] clang-tidy fixes for #7822
  esphome/components/output/float_output.cpp
Labels: integration: output, core, small-pr

#7858 [sun_gtil2] clang-tidy fixes for #7822
  esphome/components/sun_gtil2/sun_gtil2.cpp
Labels: small-pr, integration: sun_gtil2

#7855 [pipsolar] clang-tidy fixes for #7822
  esphome/components/pipsolar/pipsolar.cpp
  esphome/components/pipsolar/switch/pipsolar_switch.cpp
Labels: small-pr, integration: pipsolar

#7850 [ltr501] clang-tidy fixes for #7822
  esphome/components/ltr501/ltr501.cpp
Labels: small-pr, integration: ltr501

#7862 [honeywell] use warning instead of failing
  esphome/components/honeywellabp2_i2c/honeywellabp2.cpp
Labels: small-pr, integration: honeywellabp2_i2c

#7857 [sprinkler] clang-tidy fixes for #7822
  esphome/components/sprinkler/sprinkler.cpp
Labels: small-pr, by-code-owner, integration: sprinkler

#7849 [haier] clang-tidy fixes for #7822
  esphome/components/haier/hon_climate.cpp
Labels: integration: haier

#7851 [mqtt] clang-tidy fixes for #7822
  esphome/components/mqtt/mqtt_backend_esp32.cpp
Labels: integration: mqtt, core, small-pr

#7841 [helpers, optional] clang-tidy fixes for #7822
  esphome/core/helpers.cpp
  esphome/core/optional.h
Labels: core, small-pr

#7863 Move ``USE_CAPTIVE_PORTAL`` into all define groups it can be used with
  esphome/core/defines.h
Labels: core, small-pr

#7864 python lint for platform components
  esphome/components/bk72xx/__init__.py
  esphome/components/esp8266/__init__.py
  esphome/components/rp2040/__init__.py
  esphome/components/rtl87xx/__init__.py
  script/build_language_schema.py
Labels: core, small-pr, integration: esp8266, integration: rp2040, integration: bk72xx, integration: rtl87xx

#7869 2024.11.2
  docker/Dockerfile
  esphome/components/binary_sensor/binary_sensor.h
  esphome/components/honeywellabp2_i2c/honeywellabp2.cpp
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/lv_validation.py
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/widgets/line.py
  esphome/components/matrix_keypad/binary_sensor/matrix_keypad_binary_sensor.h
  esphome/components/modbus/modbus.cpp
  esphome/components/modbus_controller/__init__.py
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/qspi_dbi/models.py
  esphome/components/qspi_dbi/qspi_dbi.cpp
  esphome/components/status/binary_sensor.py
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/const.py
Labels: merging-to-release

#7876 [max31865] clang-tidy fixes for #7822
  esphome/components/max31865/max31865.cpp
Labels: integration: max31865, small-pr

#7883 [esp32_ble] clang-tidy fixes for #7822
  esphome/components/esp32_ble/ble_uuid.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
Labels: integration: esp32_ble_tracker, small-pr, integration: esp32_ble

#7877 [mqtt] clang-tidy fixes for #7822
  esphome/components/mqtt/mqtt_alarm_control_panel.cpp
  esphome/components/mqtt/mqtt_climate.cpp
Labels: integration: mqtt, core, small-pr

#7881 [uln2003] clang-tidy fixes for #7822
  esphome/components/uln2003/uln2003.cpp
Labels: integration: uln2003, small-pr

#7880 [rotary_encoder] clang-tidy fixes for #7822
  esphome/components/rotary_encoder/rotary_encoder.cpp
Labels: integration: rotary_encoder, small-pr

#7879 [pca6416a, pca9554] clang-tidy fixes for #7822
  esphome/components/pca6416a/pca6416a.cpp
  esphome/components/pca9554/pca9554.cpp
Labels: small-pr, integration: pca9554, integration: pca6416a

#7878 [nextion] clang-tidy fixes for #7822
  esphome/components/nextion/nextion.cpp
Labels: integration: nextion, small-pr

#7874 [various] clang-tidy fixes for #7822
  esphome/components/hitachi_ac344/hitachi_ac344.cpp
  esphome/components/hitachi_ac424/hitachi_ac424.cpp
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/qspi_dbi/qspi_dbi.cpp
  esphome/components/st7735/st7735.cpp
  esphome/components/st7789v/st7789v.cpp
  esphome/components/udp/udp_component.cpp
  esphome/core/component.cpp
Labels: integration: st7789v, core, integration: st7735, by-code-owner, integration: hitachi_ac344, integration: hitachi_ac424, integration: ili9xxx, integration: udp, integration: qspi_dbi

#7875 [logger] clang-tidy fixes for #7822
  esphome/components/logger/logger.cpp
Labels: integration: logger, core, small-pr

#7873 [ezo] clang-tidy fixes for #7822
  esphome/components/ezo/ezo.cpp
Labels: small-pr, integration: ezo

#7872 [apds9306] clang-tidy fixes for #7822
  esphome/components/apds9306/apds9306.cpp
Labels: small-pr, integration: apds9306

#7871 [dht] clang-tidy fixes for #7822
  esphome/components/dht/dht.cpp
Labels: integration: dht, small-pr

#7870 [network] clang-tidy fixes for #7822
  esphome/components/network/ip_address.h
Labels: integration: network, core, small-pr

#7886 [lvgl] Make image update via lambda work
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/lv_validation.py
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/widgets/animimg.py
  esphome/components/lvgl/widgets/img.py
  tests/components/lvgl/lvgl-package.yaml
  tests/components/lvgl/test.esp32-ard.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#7885 [deep_sleep] fix deep_sleep not keeping awake when sleep_duration is defined
  esphome/components/deep_sleep/deep_sleep_esp32.cpp
Labels: integration: deep_sleep, core, small-pr

#7882 [online_image]Don't access decoder if not initialized
  esphome/components/online_image/png_image.cpp
Labels: small-pr, by-code-owner, integration: online_image

#7840 Add IRAM_ATTR to all functions used during interrupts on esp8266 chips.
  esphome/components/opentherm/opentherm.cpp
Labels: small-pr, integration: opentherm

#7868 [st7920] Remove unnecessary warning when drawing outside display bounds
  esphome/components/st7920/st7920.cpp
Labels: small-pr, integration: st7920
