Repository esphome/esphome, pull requests merged in 2024-07, with the labels that each got.

#7023 Move some consts for #4585
  esphome/components/bme680_bsec/__init__.py
  esphome/components/bme680_bsec/sensor.py
  esphome/components/bme680_bsec/text_sensor.py
  esphome/components/i2s_audio/microphone/__init__.py
  esphome/const.py
Labels: core, small-pr, integration: bme680_bsec, integration: i2s_audio

#7027 Make crc8 const-correct
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: core, small-pr

#7010 [CI] Run all tests when a base test changes
  script/list-components.py
Labels: core, small-pr

#7029 [uptime] Add new timestamp type for uptime sensor
  esphome/components/uptime/sensor.py
  esphome/components/uptime/uptime_seconds_sensor.cpp
  esphome/components/uptime/uptime_seconds_sensor.h
  esphome/components/uptime/uptime_timestamp_sensor.cpp
  esphome/components/uptime/uptime_timestamp_sensor.h
  tests/components/uptime/common.yaml
Labels: integration: uptime, has-tests

#7033 [wifi] Only set default ttls phase 2 on esp-idf
  esphome/components/wifi/__init__.py
  tests/components/wifi/test-eap.esp32-ard.yaml
Labels: integration: wifi, has-tests, core, small-pr

#7030 Fix compile errors on ESP32-C6 with W5500 SPI ethernet
  esphome/components/ethernet/ethernet_component.cpp
Labels: integration: ethernet, core, small-pr

#7034 2024.6.5
  esphome/components/bme680_bsec/__init__.py
  esphome/components/bme680_bsec/sensor.py
  esphome/components/bme680_bsec/text_sensor.py
  esphome/components/i2s_audio/microphone/__init__.py
  esphome/components/mpr121/binary_sensor/__init__.py
  esphome/components/wifi/__init__.py
  esphome/const.py
  tests/components/wifi/test-eap.esp32-ard.yaml
Labels: merging-to-release

#7035 2024.6.6
  docker/Dockerfile
  esphome/const.py
Labels: merging-to-release

#7045 Fix display of update state in webinterfae
  esphome/components/http_request/update/http_request_update.cpp
  esphome/components/http_request/update/http_request_update.h
Labels: integration: http_request, small-pr

#7040 Haier component update to support more protocol variations
  esphome/components/haier/climate.py
  esphome/components/haier/haier_base.cpp
  esphome/components/haier/haier_base.h
  esphome/components/haier/hon_climate.cpp
  esphome/components/haier/hon_climate.h
  esphome/components/haier/hon_packet.h
  esphome/components/haier/smartair2_climate.cpp
  platformio.ini
  tests/components/haier/common.yaml
  tests/components/haier/test.esp32-ard.yaml
  tests/components/haier/test.esp32-c3-ard.yaml
  tests/components/haier/test.esp32-c3-idf.yaml
  tests/components/haier/test.esp32-idf.yaml
  tests/components/haier/test.esp8266-ard.yaml
  tests/components/haier/test.rp2040-ard.yaml
Labels: has-tests, by-code-owner, integration: haier

#7037 Don't test for IPv6 addresses when min_ipv6_addr_count is 0
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: integration: wifi, core, small-pr

#7051 [CI] Allow running specific target test(s) only
  script/test_build_components
Labels: core, small-pr

#5411 Fix RC Switch protocol not transmitting correctly via IR
  esphome/components/remote_base/rc_switch_protocol.cpp
Labels: integration: remote_base, small-pr

#7032 [micro_wake_word] Version 2
  esphome/components/micro_wake_word/__init__.py
  esphome/components/micro_wake_word/audio_preprocessor_int8_model_data.h
  esphome/components/micro_wake_word/micro_wake_word.cpp
  esphome/components/micro_wake_word/micro_wake_word.h
  esphome/components/micro_wake_word/preprocessor_settings.h
  esphome/components/micro_wake_word/streaming_model.cpp
  esphome/components/micro_wake_word/streaming_model.h
  esphome/core/defines.h
  platformio.ini
  tests/components/micro_wake_word/common.yaml
  tests/components/micro_wake_word/test.esp32-idf.yaml
Labels: breaking-change, has-tests, core, by-code-owner, integration: micro_wake_word

#6912 UART component support added for host platform
  esphome/components/uart/__init__.py
  esphome/components/uart/uart_component_host.cpp
  esphome/components/uart/uart_component_host.h
  tests/components/uart/test.host.yaml
Labels: integration: uart, has-tests, core

#7065 Configure ap ip for RP2040
  esphome/components/wifi/wifi_component_pico_w.cpp
Labels: integration: wifi, core, small-pr

#7062 helpers.cpp: Fix GLIBCXX_RELEASE check < 8
  esphome/core/helpers.cpp
Labels: core, small-pr

#7064 Fix pmsa003i cold boot marked as failed on ESP32 et al
  esphome/components/pmsa003i/pmsa003i.cpp
Labels: small-pr, integration: pmsa003i

#7054 [http_request] Fix follow_redirects on arduino
  esphome/components/http_request/http_request_arduino.cpp
Labels: integration: http_request, small-pr

#7048 [ethernet] Fix compile warning for IPv6
  esphome/components/ethernet/ethernet_component.cpp
Labels: integration: ethernet, core, small-pr

#7036 Add braces to if statement to avoid compiler warning.
  esphome/components/aht10/aht10.cpp
Labels: integration: aht10, small-pr

#6909 Update mitsubishi.cpp
  esphome/components/mitsubishi/mitsubishi.cpp
Labels: integration: mitsubishi, small-pr

#7005 [climate] fix dump output of unsupported features
  esphome/components/climate/climate.cpp
Labels: integration: climate, core, small-pr

#7006 [climate-traits] improved performance
  esphome/components/climate/climate_traits.h
Labels: integration: climate, core, small-pr

#7076 Add default icon to restart button
  esphome/components/restart/button/__init__.py
Labels: integration: restart, small-pr

#7056 Add support for the Gree YAC1FB9 in climate_ir
  esphome/components/gree/climate.py
  esphome/components/gree/gree.cpp
  esphome/components/gree/gree.h
Labels: small-pr, integration: gree

#7063 add ESP32-C6 support to esp32_can
  esphome/components/esp32_can/canbus.py
Labels: integration: esp32_can, small-pr

#7044 jsn_sr04t component: AJ_SR04M compatibility mode in checksum calculation
  esphome/components/jsn_sr04t/jsn_sr04t.cpp
  esphome/components/jsn_sr04t/jsn_sr04t.h
  esphome/components/jsn_sr04t/sensor.py
Labels: integration: jsn_sr04t

#7075 Fix voice assistant crash when no speaker configured
  esphome/components/voice_assistant/voice_assistant.cpp
Labels: small-pr, integration: voice_assistant

#6996 Bump HeatpumpIR, add protocols, remove IRremoteESP8266
  esphome/components/heatpumpir/climate.py
  esphome/components/heatpumpir/heatpumpir.cpp
  esphome/components/heatpumpir/heatpumpir.h
  platformio.ini
  tests/components/heatpumpir/test.bk72xx-ard.yaml
Labels: has-tests, small-pr, integration: heatpumpir

#7026 LTR390 separate ALS and UV gain and resolution
  CODEOWNERS
  esphome/components/ltr390/ltr390.cpp
  esphome/components/ltr390/ltr390.h
  esphome/components/ltr390/sensor.py
  tests/components/ltr390/test.esp32-ard.yaml
  tests/components/ltr390/test.esp8266-ard.yaml
Labels: has-tests, integration: ltr390

#7079 2024.7.0b2
  CODEOWNERS
  esphome/components/aht10/aht10.cpp
  esphome/components/climate/climate.cpp
  esphome/components/climate/climate_traits.h
  esphome/components/esp32_can/canbus.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/gree/climate.py
  esphome/components/gree/gree.cpp
  esphome/components/gree/gree.h
  esphome/components/heatpumpir/climate.py
  esphome/components/heatpumpir/heatpumpir.cpp
  esphome/components/heatpumpir/heatpumpir.h
  esphome/components/http_request/http_request_arduino.cpp
  esphome/components/ltr390/ltr390.cpp
  esphome/components/ltr390/ltr390.h
  esphome/components/ltr390/sensor.py
  esphome/components/mitsubishi/mitsubishi.cpp
  esphome/components/pmsa003i/pmsa003i.cpp
  esphome/components/restart/button/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/web_server/server_index_v2.h
  esphome/components/web_server/server_index_v3.h
  esphome/const.py
  esphome/core/helpers.cpp
  platformio.ini
  tests/components/heatpumpir/test.bk72xx-ard.yaml
  tests/components/ltr390/test.esp32-ard.yaml
  tests/components/ltr390/test.esp8266-ard.yaml
Labels: merging-to-beta

#7084 [CI] compile entire web_server during tests
  tests/components/web_server/common.yaml
Labels: has-tests, small-pr

#7082 [improv_serial] Fix linker error created in #6998
  esphome/components/improv_serial/improv_serial_component.cpp
Labels: small-pr, integration: improv_serial

#7081 [CI] Add more ``improv_serial`` tests
  tests/components/improv_serial/common-uart0.yaml
  tests/components/improv_serial/common-usb_cdc.yaml
  tests/components/improv_serial/common-usb_serial_jtag.yaml
  tests/components/improv_serial/test-uart0.esp32-ard.yaml
  tests/components/improv_serial/test-uart0.esp32-c3-ard.yaml
  tests/components/improv_serial/test-uart0.esp32-c3-idf.yaml
  tests/components/improv_serial/test-uart0.esp32-idf.yaml
  tests/components/improv_serial/test-uart0.esp32-s2-ard.yaml
  tests/components/improv_serial/test-uart0.esp32-s2-idf.yaml
  tests/components/improv_serial/test-uart0.esp32-s3-ard.yaml
  tests/components/improv_serial/test-uart0.esp32-s3-idf.yaml
  tests/components/improv_serial/test-uart0.esp8266-ard.yaml
  tests/components/improv_serial/test-uart0.rp2040-ard.yaml
  tests/components/improv_serial/test-usb_cdc.esp32-c3-ard.yaml
  tests/components/improv_serial/test-usb_cdc.esp32-s2-ard.yaml
  tests/components/improv_serial/test-usb_cdc.esp32-s2-idf.yaml
  tests/components/improv_serial/test-usb_cdc.esp32-s3-ard.yaml
  tests/components/improv_serial/test-usb_cdc.rp2040-ard.yaml
  tests/components/improv_serial/test-usb_serial_jtag.esp32-c3-idf.yaml
  tests/components/improv_serial/test-usb_serial_jtag.esp32-s3-idf.yaml
  tests/components/improv_serial/test.esp32-ard.yaml
  tests/components/improv_serial/test.esp32-c3-ard.yaml
  tests/components/improv_serial/test.esp32-c3-idf.yaml
  tests/components/improv_serial/test.esp32-idf.yaml
  tests/components/improv_serial/test.esp8266-ard.yaml
  tests/components/improv_serial/test.rp2040-ard.yaml
Labels: has-tests, small-pr

#7092 [i2s_audio] Allow config for primary/secondary i2s mode
  esphome/components/i2s_audio/__init__.py
  esphome/components/i2s_audio/microphone/__init__.py
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.h
Labels: small-pr, by-code-owner, integration: i2s_audio

#7094 [micro_wake_word] Allow simpler model config
  esphome/components/micro_wake_word/__init__.py
Labels: small-pr, by-code-owner, integration: micro_wake_word

#7090 [CI] add web_server v1 test
  tests/components/web_server/common.yaml
  tests/components/web_server/common_v1.yaml
  tests/components/web_server/common_v2.yaml
  tests/components/web_server/test.esp32-ard.yaml
  tests/components/web_server/test.esp32-c3-ard.yaml
  tests/components/web_server/test.esp32-c3-idf.yaml
  tests/components/web_server/test.esp32-idf.yaml
  tests/components/web_server/test.esp8266-ard.yaml
  tests/components/web_server/test_v1.esp32-ard.yaml
Labels: has-tests, small-pr

#7050 [wifi] Hostname may not be set as expected on Arduino platform
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
Labels: integration: wifi, core, small-pr

#7096 [ota] Print Arduino update errors
  esphome/components/ota/ota_backend_arduino_esp32.cpp
  esphome/components/ota/ota_backend_arduino_esp8266.cpp
  esphome/components/ota/ota_backend_arduino_libretiny.cpp
  esphome/components/ota/ota_backend_arduino_rp2040.cpp
Labels: integration: ota, core

#7097 2024.7.0b3
  esphome/components/i2s_audio/__init__.py
  esphome/components/i2s_audio/microphone/__init__.py
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.h
  esphome/components/improv_serial/improv_serial_component.cpp
  esphome/components/micro_wake_word/__init__.py
  esphome/const.py
Labels: merging-to-beta

#7095 Add host uart support for MacOS
  esphome/components/uart/uart_component_host.cpp
Labels: integration: uart, core, small-pr

#7099 2024.7.0b4
  esphome/components/ota/ota_backend_arduino_esp32.cpp
  esphome/components/ota/ota_backend_arduino_esp8266.cpp
  esphome/components/ota/ota_backend_arduino_libretiny.cpp
  esphome/components/ota/ota_backend_arduino_rp2040.cpp
  esphome/const.py
Labels: merging-to-beta

#7104 Prevent rename from deleting new config
  esphome/__main__.py
Labels: core, small-pr

#7103 [code-quality] Add some ruff configuration
  pyproject.toml
Labels: small-pr

#7091 [web_server] move v1 code to separate file
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server_v1.cpp
Labels: integration: web_server

#7109 [i2s_microphone] Partially revert #7092 so microphone volume doesn't change
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
Labels: small-pr, integration: i2s_audio

#7107 [validation] Add ``host`` to ``require_framework_version``
  esphome/config_validation.py
Labels: core, small-pr

#7106 [code-quality] Tidy up some duplicate CONFIG_SCHEMA assignments
  esphome/components/ade7953/sensor.py
  esphome/components/bmp3xx/sensor.py
  esphome/components/ens160/sensor.py
  esphome/components/kalman_combinator/sensor.py
Labels: integration: ade7953, small-pr, integration: bmp3xx, integration: kalman_combinator, integration: ens160

#6955 [heatpumpir] Fix BK72XX Compile error with IRremoteESP8266
  esphome/components/heatpumpir/climate.py
  tests/components/heatpumpir/test.bk72xx-ard.yaml
Labels: has-tests, small-pr, integration: heatpumpir

#6673 Move MQTT ip discovery to deticated config option.
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
Labels: integration: mqtt, core, small-pr

#6799 Feature/m5angle8: Add support for m5angle8 input device
  CODEOWNERS
  esphome/components/m5stack_8angle/__init__.py
  esphome/components/m5stack_8angle/binary_sensor/__init__.py
  esphome/components/m5stack_8angle/binary_sensor/m5stack_8angle_binary_sensor.cpp
  esphome/components/m5stack_8angle/binary_sensor/m5stack_8angle_binary_sensor.h
  esphome/components/m5stack_8angle/light/__init__.py
  esphome/components/m5stack_8angle/light/m5stack_8angle_light.cpp
  esphome/components/m5stack_8angle/light/m5stack_8angle_light.h
  esphome/components/m5stack_8angle/m5stack_8angle.cpp
  esphome/components/m5stack_8angle/m5stack_8angle.h
  esphome/components/m5stack_8angle/sensor/__init__.py
  esphome/components/m5stack_8angle/sensor/m5stack_8angle_sensor.cpp
  esphome/components/m5stack_8angle/sensor/m5stack_8angle_sensor.h
  tests/components/m5stack_8angle/common.yaml
  tests/components/m5stack_8angle/test.esp32-ard.yaml
  tests/components/m5stack_8angle/test.esp32-c3-ard.yaml
  tests/components/m5stack_8angle/test.esp32-c3-idf.yaml
  tests/components/m5stack_8angle/test.esp32-idf.yaml
  tests/components/m5stack_8angle/test.esp8266-ard.yaml
  tests/components/m5stack_8angle/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: m5stack_8angle

#7086 [http_request] allow basic auth for idf
  esphome/components/http_request/http_request_idf.cpp
Labels: integration: http_request, small-pr

#7059 use cache to build tests for compoenents
  .github/workflows/ci.yml
Labels: small-pr

#6148 Fixes sml parser to process extended length lists with a number of items that is dividable by 16
  esphome/components/sml/sml_parser.cpp
Labels: small-pr, integration: sml

#7078 [modbus_controller] Add on_command_sent trigger
  esphome/components/modbus_controller/__init__.py
  esphome/components/modbus_controller/automation.h
  esphome/components/modbus_controller/const.py
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/modbus_controller/modbus_controller.h
Labels: integration: modbus_controller

#7115 [ili9xxx] Rework delay handling
  esphome/components/ili9xxx/ili9xxx_defines.h
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
  esphome/components/ili9xxx/ili9xxx_init.h
Labels: small-pr, by-code-owner, integration: ili9xxx

#7114 2024.7.1
  esphome/__main__.py
  esphome/components/heatpumpir/climate.py
  esphome/components/http_request/http_request_idf.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/sml/sml_parser.cpp
  esphome/const.py
  tests/components/heatpumpir/test.bk72xx-ard.yaml
Labels: merging-to-release

#6908 Inherit `esp32_ble_beacon` from `esp32_ble`
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble.h
  esphome/components/esp32_ble/ble_advertising.cpp
  esphome/components/esp32_ble/ble_advertising.h
  esphome/components/esp32_ble_beacon/__init__.py
  esphome/components/esp32_ble_beacon/esp32_ble_beacon.cpp
  esphome/components/esp32_ble_beacon/esp32_ble_beacon.h
  esphome/components/esp32_ble_server/__init__.py
  esphome/components/esp32_improv/__init__.py
Labels: integration: esp32_ble_beacon, integration: esp32_ble_server, integration: esp32_improv, integration: esp32_ble

#6709 APDS9306 Ambient Light Sensor
  CODEOWNERS
  esphome/components/apds9306/__init__.py
  esphome/components/apds9306/apds9306.cpp
  esphome/components/apds9306/apds9306.h
  esphome/components/apds9306/sensor.py
  tests/components/apds9306/common.yaml
  tests/components/apds9306/test.esp32-ard.yaml
  tests/components/apds9306/test.esp32-c3-ard.yaml
  tests/components/apds9306/test.esp32-c3-idf.yaml
  tests/components/apds9306/test.esp32-idf.yaml
  tests/components/apds9306/test.esp8266-ard.yaml
  tests/components/apds9306/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: apds9306

#7123 [http_request] Change default timeout to 4.5s
  esphome/components/http_request/__init__.py
  esphome/components/http_request/http_request.h
Labels: integration: http_request, small-pr

#7113 [fan] fix initial FanCall to properly set speed
  esphome/components/fan/fan.cpp
Labels: integration: fan, core, small-pr

#7124 Added ruff to pre-commit hooks
  .pre-commit-config.yaml
Labels: small-pr

#7101 [http_request] Fix ESP-IDF follow redirect
  esphome/components/http_request/__init__.py
  esphome/components/http_request/http_request_idf.cpp
Labels: integration: http_request

#7125 [http_request] Allow configure buffer size on ESP-IDF
  esphome/components/http_request/__init__.py
  esphome/components/http_request/http_request_idf.cpp
  esphome/components/http_request/http_request_idf.h
Labels: integration: http_request

#7128 Give more info on import errors.
  esphome/loader.py
Labels: core, small-pr

#7116 [lvgl] base implementation
  CODEOWNERS
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/font.cpp
  esphome/components/lvgl/helpers.py
  esphome/components/lvgl/label.py
  esphome/components/lvgl/lv_validation.py
  esphome/components/lvgl/lvcode.py
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/lvgl_hal.h
  esphome/components/lvgl/obj.py
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/types.py
  esphome/components/lvgl/widget.py
  esphome/core/defines.h
  platformio.ini
  tests/components/lvgl/common.yaml
  tests/components/lvgl/lvgl-package.yaml
  tests/components/lvgl/test.esp32-ard.yaml
  tests/components/lvgl/test.esp32-idf.yaml
Labels: new-integration, has-tests, core, integration: lvgl

#7131 Bump aioesphomeapi to 24.6.2 and cryptography to 43.0.0
  requirements.txt
Labels: small-pr

#7132 2024.7.2
  esphome/components/http_request/__init__.py
  esphome/components/http_request/http_request.h
  esphome/components/http_request/http_request_idf.cpp
  esphome/const.py
Labels: merging-to-release

#7133 [dependabot] Group docker action bumps into single PR
  .github/dependabot.yml
Labels: small-pr

#7130 Add delay after sending REG_READ_START
  esphome/components/pmwcs3/pmwcs3.cpp
Labels: integration: pmwcs3

#7150 Add ``--version`` handler to cli
  esphome/__main__.py
Labels: core, small-pr

#7152 [code-quality] Organise ethernet related imports
  esphome/components/ethernet/__init__.py
  esphome/components/ethernet_info/text_sensor.py
Labels: integration: ethernet, core, small-pr, code-quality, integration: ethernet_info

#7153 [code-quality] Organise wifi related imports
  esphome/components/wifi/__init__.py
  esphome/components/wifi/wpa2_eap.py
  esphome/components/wifi_info/text_sensor.py
  esphome/components/wifi_signal/sensor.py
Labels: integration: wifi, integration: wifi_info, integration: wifi_signal, core, small-pr, code-quality

#7149 [code-quality] Organise core imports
  esphome/__main__.py
  esphome/automation.py
  esphome/codegen.py
  esphome/config.py
  esphome/config_validation.py
  esphome/core/__init__.py
  esphome/core/config.py
  esphome/core/entity_helpers.py
  esphome/coroutine.py
  esphome/cpp_generator.py
  esphome/cpp_helpers.py
  esphome/dashboard/core.py
  esphome/dashboard/dashboard.py
  esphome/dashboard/entries.py
  esphome/dashboard/util/file.py
  esphome/dashboard/web_server.py
  esphome/external_files.py
  esphome/final_validate.py
  esphome/git.py
  esphome/helpers.py
  esphome/mqtt.py
  esphome/pins.py
  esphome/platformio_api.py
  esphome/storage_json.py
  esphome/types.py
  esphome/util.py
  esphome/voluptuous_schema.py
  esphome/vscode.py
  esphome/wizard.py
  esphome/writer.py
  esphome/yaml_util.py
  esphome/zeroconf.py
Labels: core, code-quality, dashboard

#7151 Remove deprecated argument parser
  esphome/__main__.py
Labels: breaking-change, core, small-pr, cleanup, code-quality

#7156 Move ``CONF_ON_ERROR`` to const.py
  esphome/components/ota/__init__.py
  esphome/components/voice_assistant/__init__.py
  esphome/const.py
Labels: integration: ota, core, small-pr, cleanup, code-quality, by-code-owner, integration: voice_assistant

#7154 [code-quality] Organise esp32 imports
  esphome/components/esp32/__init__.py
  esphome/components/esp32/boards.py
  esphome/components/esp32/gpio.py
  esphome/components/esp32/gpio_esp32.py
  esphome/components/esp32/gpio_esp32_c2.py
  esphome/components/esp32/gpio_esp32_c3.py
  esphome/components/esp32/gpio_esp32_c6.py
  esphome/components/esp32/gpio_esp32_h2.py
  esphome/components/esp32/gpio_esp32_s2.py
  esphome/components/esp32/gpio_esp32_s3.py
Labels: small-pr, code-quality, integration: esp32

#7157 Add microAmp and milliAmp to defined units
  esphome/const.py
Labels: core, small-pr

#7143 Fix for Mitsubishi units that only support cooling
  esphome/components/mitsubishi/mitsubishi.cpp
Labels: integration: mitsubishi, small-pr, by-code-owner

#7129 LVGL stage 2
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/btn.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/helpers.py
  esphome/components/lvgl/label.py
  esphome/components/lvgl/lv_validation.py
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/obj.py
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/touchscreens.py
  esphome/components/lvgl/types.py
  esphome/components/lvgl/widget.py
  esphome/core/defines.h
  tests/components/lvgl/common.yaml
  tests/components/lvgl/logo-text.svg
  tests/components/lvgl/lvgl-package.yaml
  tests/components/lvgl/test.esp32-idf.yaml
Labels: has-tests, core, by-code-owner, integration: lvgl

#7162 [pid] Add get_min_integral() and get_max_integral()
  esphome/components/pid/pid_climate.h
Labels: integration: pid, small-pr

#7155 [code-quality] Organise bluetooth related imports
  esphome/components/ble_client/__init__.py
  esphome/components/ble_client/output/__init__.py
  esphome/components/ble_client/sensor/__init__.py
  esphome/components/ble_client/switch/__init__.py
  esphome/components/ble_client/text_sensor/__init__.py
  esphome/components/ble_presence/binary_sensor.py
  esphome/components/ble_rssi/sensor.py
  esphome/components/ble_scanner/text_sensor.py
  esphome/components/bluetooth_proxy/__init__.py
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble_beacon/__init__.py
  esphome/components/esp32_ble_client/__init__.py
  esphome/components/esp32_ble_server/__init__.py
  esphome/components/esp32_ble_tracker/__init__.py
Labels: integration: ble_presence, integration: ble_rssi, integration: ble_scanner, integration: esp32_ble_beacon, integration: esp32_ble_tracker, integration: ble_client, code-quality, by-code-owner, integration: esp32_ble_server, integration: esp32_ble, integration: bluetooth_proxy, integration: esp32_ble_client

#7161 http_request watchdog as a component
  CODEOWNERS
  esphome/components/http_request/__init__.py
  esphome/components/http_request/http_request_arduino.cpp
  esphome/components/http_request/http_request_idf.cpp
  esphome/components/http_request/ota/ota_http_request.cpp
  esphome/components/watchdog/__init__.py
  esphome/components/watchdog/watchdog.cpp
  esphome/components/watchdog/watchdog.h
Labels: new-integration, needs-docs, needs-tests, integration: http_request, small-pr, integration: watchdog

#7112 [touchscreen] Allow binary sensor to have multiple pages in config
  esphome/components/touchscreen/binary_sensor/__init__.py
  esphome/components/touchscreen/binary_sensor/touchscreen_binary_sensor.cpp
  esphome/components/touchscreen/binary_sensor/touchscreen_binary_sensor.h
Labels: by-code-owner, integration: touchscreen

#7164 [micro_wake_word] Fix VAD detection and modify detection computation
  esphome/components/micro_wake_word/streaming_model.cpp
Labels: small-pr, by-code-owner, integration: micro_wake_word

#7163 [matrix_keypad] Add `pin->setup()` to rows and cols
  esphome/components/matrix_keypad/matrix_keypad.cpp
Labels: small-pr, integration: matrix_keypad

#7165 [update] Implement ``update.perform`` action and ``update.is_available`` condition
  esphome/components/http_request/update/http_request_update.cpp
  esphome/components/http_request/update/http_request_update.h
  esphome/components/update/__init__.py
  esphome/components/update/automation.h
  esphome/components/update/update_entity.h
  tests/components/update/common.yaml
  tests/components/update/test.esp32-ard.yaml
  tests/components/update/test.esp8266-ard.yaml
  tests/components/update/test.rp2040-ard.yaml
Labels: new-feature, integration: http_request, has-tests, by-code-owner, new-action, integration: update

#7160 [lvgl] PR stage 3
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/automation.py
  esphome/components/lvgl/btn.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/lv_validation.py
  esphome/components/lvgl/lvcode.py
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/obj.py
  esphome/components/lvgl/rotary_encoders.py
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/touchscreens.py
  esphome/components/lvgl/trigger.py
  esphome/components/lvgl/types.py
  esphome/components/lvgl/widget.py
  esphome/core/defines.h
  tests/components/lvgl/lvgl-package.yaml
  tests/components/lvgl/test.esp32-idf.yaml
Labels: has-tests, core, by-code-owner, integration: lvgl

#7168 2024.7.3
  esphome/components/micro_wake_word/streaming_model.cpp
  esphome/components/mitsubishi/mitsubishi.cpp
  esphome/components/pmwcs3/pmwcs3.cpp
  esphome/const.py
Labels: merging-to-release
