Repository esphome/esphome, pull requests merged in 2024-03, with the labels that each got.

#4424 Adding W5500 support to ethernet component
  esphome/components/ethernet/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
  esphome/const.py
  tests/components/ethernet/lan8720.esp32-idf.yaml
  tests/components/ethernet/lan8720.esp32.yaml
  tests/components/ethernet/w5500.esp32-idf.yaml
  tests/components/ethernet/w5500.esp32.yaml
Labels: integration: ethernet, has-tests, core

#6305 Fix numbering of sensors
  esphome/components/ethernet_info/ethernet_info_text_sensor.h
  esphome/components/wifi_info/wifi_info_text_sensor.h
Labels: integration: wifi_info, small-pr, integration: ethernet_info

#6108 Add regular polygon shapes to display component
  esphome/components/display/display.cpp
  esphome/components/display/display.h
Labels: integration: display, core

#6314 Fix return value in `core/automation.h`
  esphome/core/automation.h
Labels: core, small-pr

#6303 aht10: Added new CMD and renamed existing CMD to match datasheet
  esphome/components/aht10/aht10.cpp
Labels: integration: aht10, small-pr

#6316 handling with the negative temperature in the sensor tmp102
  esphome/components/tmp102/tmp102.cpp
Labels: integration: tmp102, small-pr

#6320 fix tmp102 negative calculation
  esphome/components/tmp102/tmp102.cpp
Labels: integration: tmp102, small-pr

#6318 x9c: fix off by 1 error
  esphome/components/x9c/x9c.cpp
Labels: small-pr, integration: x9c

#3307 Support for MS8607 PHT (Pressure Humidity Temperature) sensor
  CODEOWNERS
  esphome/components/ms8607/__init__.py
  esphome/components/ms8607/ms8607.cpp
  esphome/components/ms8607/ms8607.h
  esphome/components/ms8607/sensor.py
  esphome/core/component.h
  tests/test5.yaml
Labels: new-integration, has-tests, core, integration: ms8607

#6167 Separate logger implementations for each hardware platform into different files
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
  esphome/components/logger/logger_esp32.cpp
  esphome/components/logger/logger_esp8266.cpp
  esphome/components/logger/logger_host.cpp
  esphome/components/logger/logger_libretiny.cpp
  esphome/components/logger/logger_rp2040.cpp
Labels: integration: logger, core

#6257 Additional sensors and binary sensors support for Haier Climate
  esphome/components/haier/binary_sensor/__init__.py
  esphome/components/haier/climate.py
  esphome/components/haier/hon_climate.cpp
  esphome/components/haier/hon_climate.h
  esphome/components/haier/hon_packet.h
  esphome/components/haier/sensor/__init__.py
  tests/components/haier/test.esp32-c3-idf.yaml
  tests/components/haier/test.esp32-c3.yaml
  tests/components/haier/test.esp32-idf.yaml
  tests/components/haier/test.esp32.yaml
  tests/components/haier/test.esp8266.yaml
  tests/components/haier/test.rp2040.yaml
  tests/test3.yaml
Labels: breaking-change, has-tests, by-code-owner, new-platform, integration: haier

#6319 Add toggle command to cover web_server endpoint
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server, small-pr

#6322 Improv: support connecting to hidden networks
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/improv_serial/improv_serial_component.cpp
  esphome/components/wifi/wifi_component.cpp
Labels: integration: wifi, core, small-pr, by-code-owner, integration: esp32_improv, integration: improv_serial

#6309 auto load output for now
  esphome/components/speed/fan/__init__.py
Labels: integration: speed, core, small-pr

#6290 Add wake word phrase to voice assistant start command
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/micro_wake_word/micro_wake_word.cpp
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
Labels: integration: api, core, by-code-owner, integration: voice_assistant, integration: micro_wake_word

#6326 2024.2.2
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/cse7766/cse7766.cpp
  esphome/components/cse7766/cse7766.h
  esphome/components/micro_wake_word/micro_wake_word.cpp
  esphome/components/speed/fan/__init__.py
  esphome/components/tmp102/tmp102.cpp
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/const.py
  esphome/dashboard/web_server.py
Labels: merging-to-release

#6328 Update mDNS for IDF >= 5.0
  esphome/components/mdns/__init__.py
Labels: small-pr, integration: mdns

#5861 DFPlayer: refix Bug created with PR 4758
  esphome/components/dfplayer/dfplayer.cpp
Labels: stale, integration: dfplayer, small-pr

#6338 Fix build failures on host platform caused by #6167
  .github/workflows/ci.yml
  esphome/components/debug/debug_component.cpp
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
  esphome/components/logger/logger_host.cpp
  tests/components/debug/test.host.yaml
  tests/test_build_components/build_components_base.host.yaml
Labels: integration: debug, integration: logger, has-tests, core, small-pr

#6304 Update bang_bang to log two decimal places in config dump
  esphome/components/bang_bang/bang_bang_climate.cpp
Labels: integration: bang_bang, small-pr

#6191 Add datetime date entities
  CODEOWNERS
  esphome/codegen.py
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/api/list_entities.cpp
  esphome/components/api/list_entities.h
  esphome/components/api/subscribe_state.cpp
  esphome/components/api/subscribe_state.h
  esphome/components/datetime/__init__.py
  esphome/components/datetime/date_entity.cpp
  esphome/components/datetime/date_entity.h
  esphome/components/datetime/datetime_base.h
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_date.cpp
  esphome/components/mqtt/mqtt_date.h
  esphome/components/template/datetime/__init__.py
  esphome/components/template/datetime/template_date.cpp
  esphome/components/template/datetime/template_date.h
  esphome/components/time/__init__.py
  esphome/components/web_server/list_entities.cpp
  esphome/components/web_server/list_entities.h
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/config_validation.py
  esphome/const.py
  esphome/core/application.h
  esphome/core/component_iterator.cpp
  esphome/core/component_iterator.h
  esphome/core/controller.cpp
  esphome/core/controller.h
  esphome/core/defines.h
  esphome/core/time.cpp
  esphome/core/time.h
  esphome/cpp_types.py
  script/ci-custom.py
  tests/components/datetime/date.all.yaml
  tests/components/template/test.all.yaml
Labels: new-integration, needs-tests, integration: api, integration: mqtt, integration: template, integration: time, integration: web_server, core, integration: datetime

#6070 Add AGS10 Sensor
  CODEOWNERS
  esphome/components/ags10/__init__.py
  esphome/components/ags10/ags10.cpp
  esphome/components/ags10/ags10.h
  esphome/components/ags10/sensor.py
  tests/components/ags10/test.esp32-c3-idf.yaml
  tests/components/ags10/test.esp32-c3.yaml
  tests/components/ags10/test.esp32-idf.yaml
  tests/components/ags10/test.esp32.yaml
  tests/components/ags10/test.esp8266.yaml
Labels: new-integration, has-tests, integration: ags10

#6343 Set dependabot to look at composite actions versions
  .github/dependabot.yml
  .github/workflows/ci.yml
Labels: small-pr

#5711 ads1118 component
  CODEOWNERS
  esphome/components/ads1118/__init__.py
  esphome/components/ads1118/ads1118.cpp
  esphome/components/ads1118/ads1118.h
  esphome/components/ads1118/sensor/__init__.py
  esphome/components/ads1118/sensor/ads1118_sensor.cpp
  esphome/components/ads1118/sensor/ads1118_sensor.h
  tests/test1.yaml
Labels: new-integration, has-tests, integration: ads1118

#6310 add template fan
  CODEOWNERS
  esphome/components/fan/__init__.py
  esphome/components/fan/automation.h
  esphome/components/speed/fan/__init__.py
  esphome/components/speed/fan/speed_fan.cpp
  esphome/components/speed/fan/speed_fan.h
  esphome/components/template/fan/__init__.py
  esphome/components/template/fan/template_fan.cpp
  esphome/components/template/fan/template_fan.h
  esphome/const.py
Labels: breaking-change, integration: fan, integration: speed, integration: template, core, new-platform

#6169 dump config after logging CDC port is opened by host
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
Labels: integration: logger, core, small-pr

#6335 Add IRK support to allow tracking of devices with random MAC addresses
  esphome/components/ble_presence/binary_sensor.py
  esphome/components/ble_presence/ble_presence_device.h
  tests/components/ble_presence/test.esp32-c3-idf.yaml
  tests/components/ble_presence/test.esp32-c3.yaml
  tests/components/ble_presence/test.esp32-idf.yaml
  tests/components/ble_presence/test.esp32.yaml
Labels: integration: ble_presence, has-tests

#6116 [Fingerprint_grow] Implements Sleep Mode feature
  CODEOWNERS
  esphome/components/fingerprint_grow/__init__.py
  esphome/components/fingerprint_grow/fingerprint_grow.cpp
  esphome/components/fingerprint_grow/fingerprint_grow.h
  tests/test3.yaml
Labels: has-tests, integration: fingerprint_grow

#6350 cleanup ili9xxx component by removing data rate define
  esphome/components/ili9xxx/ili9xxx_display.h
Labels: small-pr, by-code-owner, integration: ili9xxx

#6037 web_server_idf: support x-www-form-urlencoded POST requests
  esphome/components/web_server_idf/utils.cpp
  esphome/components/web_server_idf/utils.h
  esphome/components/web_server_idf/web_server_idf.cpp
  esphome/components/web_server_idf/web_server_idf.h
Labels: by-code-owner, integration: web_server_idf

#6279 feat(MQTT): Add QoS option for each MQTT component
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_component.h
  esphome/config_validation.py
  tests/test1.yaml
Labels: integration: mqtt, has-tests, core, small-pr

#6255 Check permissions
  esphome/__main__.py
Labels: core, small-pr

#5941 Add CST816 touchscreen driver
  CODEOWNERS
  esphome/components/cst816/__init__.py
  esphome/components/cst816/binary_sensor/__init__.py
  esphome/components/cst816/binary_sensor/cst816_button.h
  esphome/components/cst816/touchscreen/__init__.py
  esphome/components/cst816/touchscreen/cst816_touchscreen.cpp
  esphome/components/cst816/touchscreen/cst816_touchscreen.h
  tests/components/cst816/test.esp32.yaml
Labels: new-integration, has-tests, by-code-owner, integration: cst816

#6266 AM2315C Temperature + Humidity Sensor
  CODEOWNERS
  esphome/components/am2315c/__init__.py
  esphome/components/am2315c/am2315c.cpp
  esphome/components/am2315c/am2315c.h
  esphome/components/am2315c/sensor.py
  tests/components/am2315c/test.esp32-c3-idf.yaml
  tests/components/am2315c/test.esp32-c3.yaml
  tests/components/am2315c/test.esp32-idf.yaml
  tests/components/am2315c/test.esp32.yaml
  tests/components/am2315c/test.esp8266.yaml
  tests/components/am2315c/test.rp2040.yaml
Labels: new-integration, has-tests, integration: am2315c

#6024 Add ble_presence binary sensor timeout config value.
  esphome/components/ble_presence/binary_sensor.py
  esphome/components/ble_presence/ble_presence_device.h
  tests/test2.yaml
Labels: integration: ble_presence, has-tests, small-pr

#6035 Add state listeners to `rotary_encoder`
  esphome/components/rotary_encoder/rotary_encoder.cpp
  esphome/components/rotary_encoder/rotary_encoder.h
Labels: integration: rotary_encoder, small-pr

#6351 ili9xxx: Add support for GC9A01A display
  esphome/components/ili9xxx/display.py
  esphome/components/ili9xxx/ili9xxx_display.h
  esphome/components/ili9xxx/ili9xxx_init.h
  tests/components/ili9xxx/test.esp32.yaml
Labels: has-tests, by-code-owner, integration: ili9xxx

#6151 Touchscreen: add support for CST226 controller chip
  CODEOWNERS
  esphome/components/cst226/__init__.py
  esphome/components/cst226/touchscreen/__init__.py
  esphome/components/cst226/touchscreen/cst226_touchscreen.cpp
  esphome/components/cst226/touchscreen/cst226_touchscreen.h
  tests/components/cst226/test.esp32-c3.yaml
Labels: new-integration, has-tests, integration: cst226

#6198 font: add anti-aliasing and other features
  CODEOWNERS
  esphome/components/display/display.cpp
  esphome/components/display/display.h
  esphome/components/font/__init__.py
  esphome/components/font/font.cpp
  esphome/components/font/font.h
  tests/components/font/test.esp32.yaml
  tests/test8.yaml
Labels: integration: display, integration: font, has-tests, core

#6214 Mhz19 warmup
  esphome/components/mhz19/mhz19.cpp
  esphome/components/mhz19/mhz19.h
  esphome/components/mhz19/sensor.py
Labels: integration: mhz19, small-pr

#6337 Add support for Waveshare 2.13" V2 display
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
  tests/components/waveshare_epaper/test.esp32.yaml
  tests/test4.yaml
Labels: integration: waveshare_epaper, has-tests

#3886 Mitsubishi Climate updates
  esphome/components/mitsubishi/climate.py
  esphome/components/mitsubishi/mitsubishi.cpp
  esphome/components/mitsubishi/mitsubishi.h
  tests/test1.yaml
Labels: integration: mitsubishi, has-tests, by-code-owner

#5872 Drivers for RGB 16 bit parallel displays
  CODEOWNERS
  esphome/components/rpi_dpi_rgb/__init__.py
  esphome/components/rpi_dpi_rgb/display.py
  esphome/components/rpi_dpi_rgb/rpi_dpi_rgb.cpp
  esphome/components/rpi_dpi_rgb/rpi_dpi_rgb.h
  esphome/components/st7701s/__init__.py
  esphome/components/st7701s/display.py
  esphome/components/st7701s/init_sequences.py
  esphome/components/st7701s/st7701s.cpp
  esphome/components/st7701s/st7701s.h
  tests/components/rpi_dpi_rgb/test.esp32-s3-idf.yaml
  tests/components/st7701s/test.esp32-s3-idf.yaml
Labels: new-integration, has-tests, by-code-owner, integration: st7701s, integration: rpi_dpi_rgb

#6077 hydreon_rgxx - add resolution option
  esphome/components/hydreon_rgxx/__init__.py
  esphome/components/hydreon_rgxx/hydreon_rgxx.cpp
  esphome/components/hydreon_rgxx/hydreon_rgxx.h
  esphome/components/hydreon_rgxx/sensor.py
  tests/test3.yaml
Labels: has-tests, integration: hydreon_rgxx

#6353 SPI schema now uses typed_schema with `type` key
  esphome/components/spi/__init__.py
  tests/components/spi/test.esp32-s3-idf.yaml
  tests/test8.1.yaml
Labels: integration: spi, has-tests, core, small-pr, by-code-owner

#6067 VEML7700 and VEML6030 light sensors
  CODEOWNERS
  esphome/components/veml7700/__init__.py
  esphome/components/veml7700/sensor.py
  esphome/components/veml7700/veml7700.cpp
  esphome/components/veml7700/veml7700.h
  tests/components/veml7700/common.yaml
  tests/components/veml7700/test.esp32-c3-idf.yaml
  tests/components/veml7700/test.esp32-c3.yaml
  tests/components/veml7700/test.esp32-idf.yaml
  tests/components/veml7700/test.esp32.yaml
  tests/components/veml7700/test.esp8266.yaml
  tests/components/veml7700/test.rp2040.yaml
Labels: new-integration, has-tests, integration: veml7700

#5761 Add Seeed Studio mmWave Kit MR24HPC1
  CODEOWNERS
  esphome/components/seeed_mr24hpc1/__init__.py
  esphome/components/seeed_mr24hpc1/binary_sensor.py
  esphome/components/seeed_mr24hpc1/button/__init__.py
  esphome/components/seeed_mr24hpc1/button/custom_mode_end_button.cpp
  esphome/components/seeed_mr24hpc1/button/custom_mode_end_button.h
  esphome/components/seeed_mr24hpc1/button/restart_button.cpp
  esphome/components/seeed_mr24hpc1/button/restart_button.h
  esphome/components/seeed_mr24hpc1/number/__init__.py
  esphome/components/seeed_mr24hpc1/number/custom_mode_number.cpp
  esphome/components/seeed_mr24hpc1/number/custom_mode_number.h
  esphome/components/seeed_mr24hpc1/number/custom_unman_time_number.cpp
  esphome/components/seeed_mr24hpc1/number/custom_unman_time_number.h
  esphome/components/seeed_mr24hpc1/number/existence_threshold_number.cpp
  esphome/components/seeed_mr24hpc1/number/existence_threshold_number.h
  esphome/components/seeed_mr24hpc1/number/motion_threshold_number.cpp
  esphome/components/seeed_mr24hpc1/number/motion_threshold_number.h
  esphome/components/seeed_mr24hpc1/number/motion_trigger_time_number.cpp
  esphome/components/seeed_mr24hpc1/number/motion_trigger_time_number.h
  esphome/components/seeed_mr24hpc1/number/motiontorest_time_number.cpp
  esphome/components/seeed_mr24hpc1/number/motiontorest_time_number.h
  esphome/components/seeed_mr24hpc1/number/sensitivity_number.cpp
  esphome/components/seeed_mr24hpc1/number/sensitivity_number.h
  esphome/components/seeed_mr24hpc1/seeed_mr24hpc1.cpp
  esphome/components/seeed_mr24hpc1/seeed_mr24hpc1.h
  esphome/components/seeed_mr24hpc1/seeed_mr24hpc1_constants.h
  esphome/components/seeed_mr24hpc1/select/__init__.py
  esphome/components/seeed_mr24hpc1/select/existence_boundary_select.cpp
  esphome/components/seeed_mr24hpc1/select/existence_boundary_select.h
  esphome/components/seeed_mr24hpc1/select/motion_boundary_select.cpp
  esphome/components/seeed_mr24hpc1/select/motion_boundary_select.h
  esphome/components/seeed_mr24hpc1/select/scene_mode_select.cpp
  esphome/components/seeed_mr24hpc1/select/scene_mode_select.h
  esphome/components/seeed_mr24hpc1/select/unman_time_select.cpp
  esphome/components/seeed_mr24hpc1/select/unman_time_select.h
  esphome/components/seeed_mr24hpc1/sensor.py
  esphome/components/seeed_mr24hpc1/switch/__init__.py
  esphome/components/seeed_mr24hpc1/switch/underlyFuc_switch.cpp
  esphome/components/seeed_mr24hpc1/switch/underlyFuc_switch.h
  esphome/components/seeed_mr24hpc1/text_sensor.py
  tests/components/seeed_mr24hpc1/common.yaml
  tests/components/seeed_mr24hpc1/test.esp32-c3-idf.yaml
  tests/components/seeed_mr24hpc1/test.esp32-c3.yaml
Labels: new-integration, integration: seeed_mr24hpc1

#6355 Add getter for font glyph data
  esphome/components/font/font.h
Labels: integration: font, core, small-pr, by-code-owner

#6357 Require reset_pin for certain waveshare_epaper models in YAML validation
  esphome/components/waveshare_epaper/display.py
  tests/components/waveshare_epaper/test.esp32.yaml
Labels: integration: waveshare_epaper, has-tests, small-pr

#6356 touchscreen driver fixes
  esphome/components/ft5x06/touchscreen/ft5x06_touchscreen.h
  esphome/components/touchscreen/touchscreen.cpp
Labels: small-pr, by-code-owner, integration: touchscreen, integration: ft5x06

#6359 Make USE_HOST compilable on msys2
  esphome/core/helpers.cpp
Labels: core, small-pr

#5254 download font from url on build
  esphome/components/font/__init__.py
  esphome/external_files.py
  tests/components/font/test.esp32.yaml
  tests/test2.yaml
Labels: integration: font, has-tests, core

#6354 Add driver for quad SPI AMOLED displays
  CODEOWNERS
  esphome/components/qspi_amoled/__init__.py
  esphome/components/qspi_amoled/display.py
  esphome/components/qspi_amoled/qspi_amoled.cpp
  esphome/components/qspi_amoled/qspi_amoled.h
  tests/components/qspi_amoled/test.esp32-s3-idf.yaml
Labels: new-integration, has-tests, integration: qspi_amoled

#5805 feat: Add HTU31D Support
  CODEOWNERS
  esphome/components/htu31d/__init__.py
  esphome/components/htu31d/htu31d.cpp
  esphome/components/htu31d/htu31d.h
  esphome/components/htu31d/sensor.py
  tests/components/htu31d/common.yaml
  tests/components/htu31d/test.esp32-idf.yaml
  tests/components/htu31d/test.esp32.yaml
  tests/components/htu31d/test.esp8266.yaml
Labels: new-integration, has-tests, integration: htu31d

#5197 Emmeti infrared climate support
  CODEOWNERS
  esphome/components/emmeti/__init__.py
  esphome/components/emmeti/climate.py
  esphome/components/emmeti/emmeti.cpp
  esphome/components/emmeti/emmeti.h
  tests/components/emmeti/common.yaml
  tests/components/emmeti/test.esp32-idf.yaml
  tests/components/emmeti/test.esp32.yaml
  tests/components/emmeti/test.esp8266.yaml
Labels: new-integration, has-tests, integration: emmeti

#4200 Added Kamstrup Multical 40x component
  CODEOWNERS
  esphome/components/dfplayer/__init__.py
  esphome/components/ezo_pmp/__init__.py
  esphome/components/kamstrup_kmp/__init__.py
  esphome/components/kamstrup_kmp/kamstrup_kmp.cpp
  esphome/components/kamstrup_kmp/kamstrup_kmp.h
  esphome/components/kamstrup_kmp/sensor.py
  esphome/components/media_player/__init__.py
  esphome/const.py
  tests/components/kamstrup_kmp/common.yaml
  tests/components/kamstrup_kmp/test.esp32-idf.yaml
  tests/components/kamstrup_kmp/test.esp32.yaml
  tests/components/kamstrup_kmp/test.esp8266.yaml
Labels: new-integration, integration: dfplayer, has-tests, core, integration: media_player, integration: ezo_pmp, integration: kamstrup_kmp

#6327 add possibility to provide different conversion times for Bus Voltage…
  esphome/components/ina226/ina226.cpp
  esphome/components/ina226/ina226.h
  esphome/components/ina226/sensor.py
Labels: integration: ina226, small-pr

#6368 SPI: Revert clk_pin to standard output pin schema
  esphome/components/spi/__init__.py
  tests/components/spi/test.esp32-s3-idf.yaml
Labels: integration: spi, has-tests, core, small-pr, by-code-owner

#5938 Allow button press action in web_server to be executed via GET method
  esphome/components/web_server/web_server.cpp
Labels: stale, integration: web_server, small-pr

#6370 fix servo restore
  esphome/components/servo/servo.cpp
  esphome/components/servo/servo.h
Labels: integration: servo

#6366 Don't try to get IPv6 addresses when disabled
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
Labels: integration: wifi, core, small-pr

#6374 2024.3.0b2
  esphome/components/servo/servo.cpp
  esphome/components/servo/servo.h
  esphome/components/spi/__init__.py
  esphome/components/web_server/web_server.cpp
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/const.py
  tests/components/spi/test.esp32-s3-idf.yaml
Labels: merging-to-beta

#6377 Fix deep_sleep for ESP32-C6
  esphome/components/deep_sleep/deep_sleep_component.cpp
Labels: integration: deep_sleep, core, small-pr

#6376 Use AQI device class
  esphome/components/sen5x/sensor.py
Labels: small-pr, integration: sen5x

#6375 Fix list-components when PR is not targeting dev
  .github/workflows/ci.yml
  script/helpers.py
  script/list-components.py
Labels: core, small-pr

#6382 Fix keeloq for IDF 5+
  esphome/components/remote_base/keeloq_protocol.cpp
Labels: integration: remote_base, small-pr

#6378 Fix Nextion set_component_picture call
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_commands.cpp
Labels: integration: nextion, small-pr

#6385 allow negative ppm for sensair
  esphome/components/senseair/senseair.cpp
Labels: integration: senseair, small-pr

#6360 microWakeWord - add new ops and small improvements
  esphome/components/micro_wake_word/micro_wake_word.cpp
  esphome/components/micro_wake_word/micro_wake_word.h
Labels: small-pr, by-code-owner, integration: micro_wake_word

#6389 Fix compilation for uponor_smatrix without time component
  esphome/components/uponor_smatrix/uponor_smatrix.cpp
  esphome/components/uponor_smatrix/uponor_smatrix.h
Labels: small-pr, by-code-owner, integration: uponor_smatrix

#6388 Shows component operation time in `ms`
  esphome/core/component.cpp
Labels: core, small-pr

#6387 IPv6 can't be enabled for libretiny
  esphome/components/network/__init__.py
Labels: integration: network, core, small-pr

#6381 Add line_at_angle method to Display component
  esphome/components/display/display.cpp
  esphome/components/display/display.h
  tests/components/display/test.esp32.yaml
Labels: integration: display, has-tests, core, small-pr

#4456 Replace name and friendly name in full adopted configs
  esphome/components/dashboard_import/__init__.py
  esphome/dashboard/web_server.py
  requirements.txt
Labels: not-stale, core, dashboard, integration: dashboard_import

#6390 2024.3.0b3
  .github/workflows/ci.yml
  esphome/components/dashboard_import/__init__.py
  esphome/components/micro_wake_word/micro_wake_word.cpp
  esphome/components/micro_wake_word/micro_wake_word.h
  esphome/components/network/__init__.py
  esphome/components/sen5x/sensor.py
  esphome/components/senseair/senseair.cpp
  esphome/components/uponor_smatrix/uponor_smatrix.cpp
  esphome/components/uponor_smatrix/uponor_smatrix.h
  esphome/const.py
  esphome/core/component.cpp
  esphome/dashboard/web_server.py
  requirements.txt
  script/helpers.py
  script/list-components.py
Labels: merging-to-beta

#6281 Fix bug in `remote_base` conditional
  esphome/components/remote_base/remote_base.cpp
Labels: integration: remote_base, small-pr

#6393 Fix wrong initialization of vectors in ade7953_i2c
  esphome/components/ade7953_i2c/ade7953_i2c.cpp
Labels: small-pr, integration: ade7953_i2c

#6254 Check generated proto files are as expected if any are modified in PRs
  .github/workflows/ci-api-proto.yml
Labels: small-pr

#6168 ld2420: Firmware v1.5.4+ bug workaround
  esphome/components/ld2420/ld2420.cpp
Labels: small-pr, by-code-owner, integration: ld2420

#6225 ld2420: fix energy mode documentation
  esphome/components/ld2420/ld2420.cpp
Labels: small-pr, integration: ld2420

#6256 Add actions for component tests A, B and C
  tests/components/api/test.esp32-c3-idf.yaml
  tests/components/api/test.esp32-c3.yaml
  tests/components/api/test.esp32-idf.yaml
  tests/components/api/test.esp32.yaml
  tests/components/api/test.esp8266.yaml
  tests/components/api/test.rp2040.yaml
Labels: has-tests, small-pr

#6231 Add some components to the new testing framework (V)
  tests/components/vbus/test.esp32-c3-idf.yaml
  tests/components/vbus/test.esp32-c3.yaml
  tests/components/vbus/test.esp32-idf.yaml
  tests/components/vbus/test.esp32.yaml
  tests/components/vbus/test.esp8266.yaml
  tests/components/vbus/test.rp2040.yaml
  tests/components/veml3235/test.esp32-c3-idf.yaml
  tests/components/veml3235/test.esp32-c3.yaml
  tests/components/veml3235/test.esp32-idf.yaml
  tests/components/veml3235/test.esp32.yaml
  tests/components/veml3235/test.esp8266.yaml
  tests/components/veml3235/test.rp2040.yaml
  tests/components/version/test.esp32-c3-idf.yaml
  tests/components/version/test.esp32-c3.yaml
  tests/components/version/test.esp32-idf.yaml
  tests/components/version/test.esp32.yaml
  tests/components/version/test.esp8266.yaml
  tests/components/version/test.rp2040.yaml
  tests/components/vl53l0x/test.esp32-c3-idf.yaml
  tests/components/vl53l0x/test.esp32-c3.yaml
  tests/components/vl53l0x/test.esp32-idf.yaml
  tests/components/vl53l0x/test.esp32.yaml
  tests/components/vl53l0x/test.esp8266.yaml
  tests/components/vl53l0x/test.rp2040.yaml
  tests/components/voice_assistant/test.esp32-c3-idf.yaml
  tests/components/voice_assistant/test.esp32-c3.yaml
  tests/components/voice_assistant/test.esp32-idf.yaml
  tests/components/voice_assistant/test.esp32.yaml
Labels: has-tests, small-pr

#6396 Require xsrf/csrf when using a password
  esphome/dashboard/web_server.py
  requirements.txt
Labels: core, small-pr, dashboard

#6397 2024.3.0b4
  esphome/components/ade7953_i2c/ade7953_i2c.cpp
  esphome/components/ld2420/ld2420.cpp
  esphome/components/remote_base/remote_base.cpp
  esphome/components/uponor_smatrix/uponor_smatrix.cpp
  esphome/const.py
  esphome/dashboard/web_server.py
  requirements.txt
Labels: merging-to-beta

#6383 Make SPI compile with IDF >= 5.0
  esphome/components/spi_device/spi_device.cpp
Labels: small-pr, integration: spi_device

#6398 Fix esp32-camera test yaml
  tests/components/esp32_camera/test.esp32-idf.yaml
  tests/components/esp32_camera/test.esp32.yaml
  tests/components/esp32_camera_web_server/test.esp32-idf.yaml
  tests/components/esp32_camera_web_server/test.esp32.yaml
Labels: has-tests, small-pr

#6401 AHT10: Use state machine to avoid blocking delay
  esphome/components/aht10/aht10.cpp
  esphome/components/aht10/aht10.h
Labels: integration: aht10

#6400 Show component warnings and errors in the log;
  esphome/core/component.cpp
  esphome/core/component.h
Labels: core, small-pr

#6203 web_server support for v3
  esphome/components/web_server/__init__.py
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  tests/test10.yaml
Labels: needs-docs, integration: web_server, has-tests, small-pr

#6407 2024.3.0b5
  esphome/components/aht10/aht10.cpp
  esphome/components/aht10/aht10.h
  esphome/components/web_server/__init__.py
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/const.py
  esphome/core/component.cpp
  esphome/core/component.h
  tests/test10.yaml
Labels: merging-to-beta

#5359 Bump ESP8266 Arduino versions
  esphome/components/esp8266/__init__.py
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/core/defines.h
  platformio.ini
Labels: integration: mqtt, integration: wifi, core, small-pr, integration: esp8266, merge-after-release

#5060 Allow accept/reject delta to be specified.
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/pronto_protocol.cpp
  esphome/components/remote_base/pronto_protocol.h
Labels: not-stale, integration: remote_base, small-pr

#6152 sm2135: add separate_modes option to support different chip variants
  esphome/components/sm2135/__init__.py
  esphome/components/sm2135/sm2135.cpp
  esphome/components/sm2135/sm2135.h
Labels: small-pr, integration: sm2135

#6405 AHT10: fix temperature-only operation; add warning/error messages
  esphome/components/aht10/aht10.cpp
  esphome/components/aht10/aht10.h
Labels: integration: aht10, small-pr

#6323 Fix logger compile error on ESP32-C6
  esphome/components/logger/logger_esp32.cpp
Labels: integration: logger, core, small-pr

#5159 Add support for new modes in Tuya Climate
  esphome/components/tuya/climate/__init__.py
  esphome/components/tuya/climate/tuya_climate.cpp
  esphome/components/tuya/climate/tuya_climate.h
Labels: breaking-change, not-stale, integration: tuya, awaiting-docs-approval

#4958 Add sun_gtil2 component (for SUN-1000G2 / SUN-2000G2 grid tie inverters)
  CODEOWNERS
  esphome/components/sun_gtil2/__init__.py
  esphome/components/sun_gtil2/sensor.py
  esphome/components/sun_gtil2/sun_gtil2.cpp
  esphome/components/sun_gtil2/sun_gtil2.h
  esphome/components/sun_gtil2/text_sensor.py
  tests/components/sun_gtil2/test.esp32-c3-idf.yaml
  tests/components/sun_gtil2/test.esp32-c3.yaml
  tests/components/sun_gtil2/test.esp32-idf.yaml
  tests/components/sun_gtil2/test.esp32.yaml
  tests/components/sun_gtil2/test.esp8266.yaml
  tests/components/sun_gtil2/test.rp2040.yaml
Labels: new-integration, has-tests, integration: sun_gtil2

#6413 SPI: Make some validation failures give more useful messages.
  esphome/components/spi/__init__.py
  tests/components/xpt2046/test.esp32-c3-idf.yaml
  tests/components/xpt2046/test.esp32-c3.yaml
  tests/components/xpt2046/test.esp32-idf.yaml
  tests/components/xpt2046/test.esp32.yaml
  tests/components/xpt2046/test.esp8266.yaml
  tests/components/xpt2046/test.rp2040.yaml
Labels: integration: spi, has-tests, core, small-pr, by-code-owner

#6419 Add check for use of GPIOXX in config
  esphome/pins.py
Labels: core, small-pr

#6365 WireGuard for esp8266
  esphome/components/wireguard/__init__.py
  esphome/components/wireguard/wireguard.cpp
  esphome/components/wireguard/wireguard.h
  platformio.ini
  tests/components/wireguard/test.esp32-idf.yaml
  tests/components/wireguard/test.esp32.yaml
  tests/components/wireguard/test.esp8266.yaml
Labels: has-tests, small-pr, by-code-owner, integration: wireguard

#6421 setup.cfg: drop duplicate, underintended trove classifier
  setup.cfg
Labels: small-pr

#6409 AHT10: Fix bug
  esphome/components/aht10/aht10.cpp
Labels: integration: aht10, small-pr

#6428 Store preferences in disk file on host platform
  esphome/components/host/preferences.cpp
  esphome/components/host/preferences.h
Labels: integration: host

#6426 microWakeWord: Fix model path joining
  esphome/components/micro_wake_word/__init__.py
Labels: small-pr, integration: micro_wake_word

#6424 Don't compile strptime unless its required
  esphome/core/time.cpp
  esphome/core/time.h
Labels: core, small-pr

#6431 Fix editor live validation
  esphome/config.py
  esphome/config_helpers.py
  esphome/vscode.py
  esphome/yaml_util.py
Labels: core

#6297 Add support for AT581x component
  CODEOWNERS
  esphome/components/at581x/__init__.py
  esphome/components/at581x/at581x.cpp
  esphome/components/at581x/at581x.h
  esphome/components/at581x/automation.h
  esphome/components/at581x/switch/__init__.py
  esphome/components/at581x/switch/rf_switch.cpp
  esphome/components/at581x/switch/rf_switch.h
  tests/components/at581x/test.esp32-c3-idf.yaml
  tests/components/at581x/test.esp32-c3.yaml
  tests/components/at581x/test.esp32-idf.yaml
  tests/components/at581x/test.esp32.yaml
  tests/components/at581x/test.esp8266.yaml
  tests/components/at581x/test.rp2040.yaml
Labels: new-integration, has-tests, integration: at581x

#6177 Add some components to the new testing framework (F)
  tests/components/factory_reset/test.esp32-c3-idf.yaml
  tests/components/factory_reset/test.esp32-c3.yaml
  tests/components/factory_reset/test.esp32-idf.yaml
  tests/components/factory_reset/test.esp32.yaml
  tests/components/factory_reset/test.esp8266.yaml
  tests/components/factory_reset/test.rp2040.yaml
  tests/components/fastled_clockless/test.esp32.yaml
  tests/components/fastled_spi/test.esp32.yaml
  tests/components/feedback/test.esp32-c3-idf.yaml
  tests/components/feedback/test.esp32-c3.yaml
  tests/components/feedback/test.esp32-idf.yaml
  tests/components/feedback/test.esp32.yaml
  tests/components/feedback/test.esp8266.yaml
  tests/components/feedback/test.rp2040.yaml
  tests/components/fingerprint_grow/test.esp32-c3-idf.yaml
  tests/components/fingerprint_grow/test.esp32-c3.yaml
  tests/components/fingerprint_grow/test.esp32-idf.yaml
  tests/components/fingerprint_grow/test.esp32.yaml
  tests/components/fingerprint_grow/test.esp8266.yaml
  tests/components/fingerprint_grow/test.rp2040.yaml
  tests/components/font/test.esp32-c3-idf.yaml
  tests/components/font/test.esp32-c3.yaml
  tests/components/font/test.esp32-idf.yaml
  tests/components/font/test.esp8266.yaml
  tests/components/font/test.rp2040.yaml
  tests/components/fs3000/test.esp32-c3-idf.yaml
  tests/components/fs3000/test.esp32-c3.yaml
  tests/components/fs3000/test.esp32-idf.yaml
  tests/components/fs3000/test.esp32.yaml
  tests/components/fs3000/test.esp8266.yaml
  tests/components/fs3000/test.rp2040.yaml
  tests/components/ft5x06/test.esp32-c3-idf.yaml
  tests/components/ft5x06/test.esp32-c3.yaml
  tests/components/ft5x06/test.esp32-idf.yaml
  tests/components/ft5x06/test.esp32.yaml
  tests/components/ft5x06/test.esp8266.yaml
  tests/components/ft5x06/test.rp2040.yaml
  tests/components/ft63x6/test.esp32-c3-idf.yaml
  tests/components/ft63x6/test.esp32-c3.yaml
  tests/components/ft63x6/test.esp32-idf.yaml
  tests/components/ft63x6/test.esp8266.yaml
  tests/components/ft63x6/test.rp2040.yaml
  tests/components/fujitsu_general/test.esp32-c3-idf.yaml
  tests/components/fujitsu_general/test.esp32-c3.yaml
  tests/components/fujitsu_general/test.esp32-idf.yaml
  tests/components/fujitsu_general/test.esp32.yaml
  tests/components/fujitsu_general/test.esp8266.yaml
Labels: has-tests, small-pr

#6435 Add get_contrast() and get_brightness() to SSD1306 class to get protected variables
  esphome/components/ssd1306_base/ssd1306_base.cpp
  esphome/components/ssd1306_base/ssd1306_base.h
Labels: integration: ssd1306_base, small-pr

#6023 Add new Component: Ultrasonic Distance Sensor JSN-SR04T
  CODEOWNERS
  esphome/components/jsn_sr04t/__init__.py
  esphome/components/jsn_sr04t/jsn_sr04t.cpp
  esphome/components/jsn_sr04t/jsn_sr04t.h
  esphome/components/jsn_sr04t/sensor.py
  tests/components/jsn_sr04t/test.esp32-c3-idf.yaml
  tests/components/jsn_sr04t/test.esp32-c3.yaml
  tests/components/jsn_sr04t/test.esp32-idf.yaml
  tests/components/jsn_sr04t/test.esp32.yaml
  tests/components/jsn_sr04t/test.esp8266.yaml
  tests/components/jsn_sr04t/test.rp2040.yaml
Labels: new-integration, has-tests, integration: jsn_sr04t

#6440 2024.3.1
  esphome/components/aht10/aht10.cpp
  esphome/components/micro_wake_word/__init__.py
  esphome/config.py
  esphome/config_helpers.py
  esphome/const.py
  esphome/core/time.cpp
  esphome/core/time.h
  esphome/vscode.py
  esphome/yaml_util.py
Labels: merging-to-release

#6186 Add some components to the new testing framework (K)
  tests/components/key_collector/test.esp32-c3-idf.yaml
  tests/components/key_collector/test.esp32-c3.yaml
  tests/components/key_collector/test.esp32-idf.yaml
  tests/components/key_collector/test.esp32.yaml
  tests/components/key_collector/test.esp8266.yaml
  tests/components/key_collector/test.rp2040.yaml
  tests/components/kmeteriso/test.esp32-c3-idf.yaml
  tests/components/kmeteriso/test.esp32-c3.yaml
  tests/components/kmeteriso/test.esp32-idf.yaml
  tests/components/kmeteriso/test.esp32.yaml
  tests/components/kmeteriso/test.esp8266.yaml
  tests/components/kmeteriso/test.rp2040.yaml
  tests/components/kuntze/test.esp32-c3-idf.yaml
  tests/components/kuntze/test.esp32-c3.yaml
  tests/components/kuntze/test.esp32-idf.yaml
  tests/components/kuntze/test.esp32.yaml
  tests/components/kuntze/test.esp8266.yaml
  tests/components/kuntze/test.rp2040.yaml
Labels: has-tests, small-pr

#6210 Add some components to the new testing framework (N)
  tests/components/neopixelbus/test.esp32-c3.yaml
  tests/components/neopixelbus/test.esp32.yaml
  tests/components/neopixelbus/test.esp8266.yaml
  tests/components/network/test.esp32-c3-idf.yaml
  tests/components/network/test.esp32-c3.yaml
  tests/components/network/test.esp32-idf.yaml
  tests/components/network/test.esp32.yaml
  tests/components/network/test.esp8266.yaml
  tests/components/network/test.rp2040.yaml
  tests/components/nextion/test.esp32-c3-idf.yaml
  tests/components/nextion/test.esp32-c3.yaml
  tests/components/nextion/test.esp32-idf.yaml
  tests/components/nextion/test.esp32.yaml
  tests/components/nextion/test.esp8266.yaml
  tests/components/nextion/test.rp2040.yaml
  tests/components/noblex/test.esp32-c3-idf.yaml
  tests/components/noblex/test.esp32-c3.yaml
  tests/components/noblex/test.esp32-idf.yaml
  tests/components/noblex/test.esp32.yaml
  tests/components/noblex/test.esp8266.yaml
  tests/components/ntc/test.esp32-c3.yaml
  tests/components/ntc/test.esp32-idf.yaml
  tests/components/ntc/test.esp32-s2.yaml
  tests/components/ntc/test.esp32-s3.yaml
  tests/components/ntc/test.esp32.yaml
  tests/components/ntc/test.esp8266.yaml
  tests/components/ntc/test.rp2040.yaml
Labels: has-tests, small-pr

#6218 Add some components to the new testing framework (Q)
  tests/components/qmc5883l/test.esp32-c3-idf.yaml
  tests/components/qmc5883l/test.esp32-c3.yaml
  tests/components/qmc5883l/test.esp32-idf.yaml
  tests/components/qmc5883l/test.esp32.yaml
  tests/components/qmc5883l/test.esp8266.yaml
  tests/components/qmc5883l/test.rp2040.yaml
  tests/components/qmp6988/test.esp32-c3-idf.yaml
  tests/components/qmp6988/test.esp32-c3.yaml
  tests/components/qmp6988/test.esp32-idf.yaml
  tests/components/qmp6988/test.esp32.yaml
  tests/components/qmp6988/test.esp8266.yaml
  tests/components/qmp6988/test.rp2040.yaml
  tests/components/qr_code/test.esp32-c3-idf.yaml
  tests/components/qr_code/test.esp32-c3.yaml
  tests/components/qr_code/test.esp32-idf.yaml
  tests/components/qr_code/test.esp32.yaml
  tests/components/qr_code/test.esp8266.yaml
  tests/components/qr_code/test.rp2040.yaml
  tests/components/qwiic_pir/test.esp32-c3-idf.yaml
  tests/components/qwiic_pir/test.esp32-c3.yaml
  tests/components/qwiic_pir/test.esp32-idf.yaml
  tests/components/qwiic_pir/test.esp32.yaml
  tests/components/qwiic_pir/test.esp8266.yaml
  tests/components/qwiic_pir/test.rp2040.yaml
Labels: has-tests, small-pr

#6230 Add some components to the new testing framework (U)
  tests/components/uart/test.esp32-c3-idf.yaml
  tests/components/uart/test.esp32-c3.yaml
  tests/components/uart/test.esp32-idf.yaml
  tests/components/uart/test.esp32.yaml
  tests/components/uart/test.esp8266.yaml
  tests/components/uart/test.rp2040.yaml
  tests/components/ufire_ec/test.esp32-c3-idf.yaml
  tests/components/ufire_ec/test.esp32-c3.yaml
  tests/components/ufire_ec/test.esp32-idf.yaml
  tests/components/ufire_ec/test.esp32.yaml
  tests/components/ufire_ec/test.esp8266.yaml
  tests/components/ufire_ec/test.rp2040.yaml
  tests/components/ufire_ise/test.esp32-c3-idf.yaml
  tests/components/ufire_ise/test.esp32-c3.yaml
  tests/components/ufire_ise/test.esp32-idf.yaml
  tests/components/ufire_ise/test.esp32.yaml
  tests/components/ufire_ise/test.esp8266.yaml
  tests/components/ufire_ise/test.rp2040.yaml
  tests/components/uln2003/test.esp32-c3-idf.yaml
  tests/components/uln2003/test.esp32-c3.yaml
  tests/components/uln2003/test.esp32-idf.yaml
  tests/components/uln2003/test.esp32.yaml
  tests/components/uln2003/test.esp8266.yaml
  tests/components/uln2003/test.rp2040.yaml
  tests/components/ultrasonic/test.esp32-c3-idf.yaml
  tests/components/ultrasonic/test.esp32-c3.yaml
  tests/components/ultrasonic/test.esp32-idf.yaml
  tests/components/ultrasonic/test.esp32.yaml
  tests/components/ultrasonic/test.esp8266.yaml
  tests/components/ultrasonic/test.rp2040.yaml
  tests/components/uptime/test.esp32-c3-idf.yaml
  tests/components/uptime/test.esp32-c3.yaml
  tests/components/uptime/test.esp32-idf.yaml
  tests/components/uptime/test.esp32.yaml
  tests/components/uptime/test.esp8266.yaml
  tests/components/uptime/test.rp2040.yaml
Labels: has-tests, small-pr

#6441 Fix spacing in new test yaml
  tests/components/growatt_solar/test.esp32-c3-idf.yaml
  tests/components/growatt_solar/test.esp32-c3.yaml
  tests/components/growatt_solar/test.esp32-idf.yaml
  tests/components/growatt_solar/test.esp32.yaml
  tests/components/growatt_solar/test.esp8266.yaml
  tests/components/growatt_solar/test.rp2040.yaml
  tests/components/key_collector/test.esp32-c3-idf.yaml
  tests/components/key_collector/test.esp32-c3.yaml
  tests/components/key_collector/test.esp32-idf.yaml
  tests/components/key_collector/test.esp32.yaml
  tests/components/key_collector/test.esp8266.yaml
  tests/components/key_collector/test.rp2040.yaml
Labels: has-tests, small-pr

#6232 Add some components to the new testing framework (W)
  tests/components/wake_on_lan/test.esp32-c3.yaml
  tests/components/wake_on_lan/test.esp32.yaml
  tests/components/wake_on_lan/test.esp8266.yaml
  tests/components/wake_on_lan/test.rp2040.yaml
  tests/components/waveshare_epaper/test.esp32-c3-idf.yaml
  tests/components/waveshare_epaper/test.esp32-c3.yaml
  tests/components/waveshare_epaper/test.esp32-idf.yaml
  tests/components/waveshare_epaper/test.esp8266.yaml
  tests/components/waveshare_epaper/test.rp2040.yaml
  tests/components/web_server/test.esp32-c3-idf.yaml
  tests/components/web_server/test.esp32-c3.yaml
  tests/components/web_server/test.esp32-idf.yaml
  tests/components/web_server/test.esp32.yaml
  tests/components/web_server/test.esp8266.yaml
  tests/components/whirlpool/test.esp32-c3-idf.yaml
  tests/components/whirlpool/test.esp32-c3.yaml
  tests/components/whirlpool/test.esp32-idf.yaml
  tests/components/whirlpool/test.esp32.yaml
  tests/components/whirlpool/test.esp8266.yaml
  tests/components/whynter/test.esp32-c3-idf.yaml
  tests/components/whynter/test.esp32-c3.yaml
  tests/components/whynter/test.esp32-idf.yaml
  tests/components/whynter/test.esp32.yaml
  tests/components/whynter/test.esp8266.yaml
  tests/components/wiegand/test.esp32-c3-idf.yaml
  tests/components/wiegand/test.esp32-c3.yaml
  tests/components/wiegand/test.esp32-idf.yaml
  tests/components/wiegand/test.esp32.yaml
  tests/components/wiegand/test.esp8266.yaml
  tests/components/wiegand/test.rp2040.yaml
  tests/components/wifi/test.esp32-c3-idf.yaml
  tests/components/wifi/test.esp32-c3.yaml
  tests/components/wifi/test.esp32-idf.yaml
  tests/components/wifi/test.esp32.yaml
  tests/components/wifi/test.esp8266.yaml
  tests/components/wifi/test.rp2040.yaml
  tests/components/wifi_info/test.esp32-c3-idf.yaml
  tests/components/wifi_info/test.esp32-c3.yaml
  tests/components/wifi_info/test.esp32-idf.yaml
  tests/components/wifi_info/test.esp32.yaml
  tests/components/wifi_info/test.esp8266.yaml
  tests/components/wifi_info/test.rp2040.yaml
  tests/components/wifi_signal/test.esp32-c3-idf.yaml
  tests/components/wifi_signal/test.esp32-c3.yaml
  tests/components/wifi_signal/test.esp32-idf.yaml
  tests/components/wifi_signal/test.esp32.yaml
  tests/components/wifi_signal/test.esp8266.yaml
  tests/components/wifi_signal/test.rp2040.yaml
  tests/components/wireguard/test.esp32-c3-idf.yaml
  tests/components/wireguard/test.esp32-c3.yaml
  tests/components/wl_134/test.esp32-c3-idf.yaml
  tests/components/wl_134/test.esp32-c3.yaml
  tests/components/wl_134/test.esp32-idf.yaml
  tests/components/wl_134/test.esp32.yaml
  tests/components/wl_134/test.esp8266.yaml
  tests/components/wl_134/test.rp2040.yaml
  tests/components/wled/test.esp32-c3.yaml
  tests/components/wled/test.esp32.yaml
  tests/components/wled/test.esp8266.yaml
Labels: has-tests, small-pr

#6429 feat: Add Daikin ARC (tested on Daikin ARC472A62)
  CODEOWNERS
  esphome/components/daikin_arc/__init__.py
  esphome/components/daikin_arc/climate.py
  esphome/components/daikin_arc/daikin_arc.cpp
  esphome/components/daikin_arc/daikin_arc.h
  tests/components/daikin_arc/test.esp32.yaml
  tests/components/daikin_arc/test.esp8266.yaml
Labels: new-integration, has-tests, integration: daikin_arc

#6442 Disable truthy yamllint rule
  .github/workflows/ci-api-proto.yml
  .github/workflows/ci-docker.yml
  .github/workflows/ci.yml
  .github/workflows/lock.yml
  .github/workflows/needs-docs.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/sync-device-classes.yml
  .github/workflows/yaml-lint.yml
  .yamllint
  tests/components/lightwaverf/test.esp8266.yaml
Labels: has-tests, small-pr

#6415 Minor change to support sht85 sensor
  CODEOWNERS
  esphome/components/sht3xd/sensor.py
  esphome/components/sht3xd/sht3xd.cpp
  esphome/components/sht3xd/sht3xd.h
Labels: integration: sht3xd, small-pr

#6444 Add missing ethernet types
  esphome/components/ethernet/__init__.py
Labels: integration: ethernet, core, small-pr

#6449 IPv6 string representation follows RFC5952
  esphome/components/network/ip_address.h
Labels: breaking-change, integration: network, core, small-pr

#6454 fix: changing the content source when playing is paused blocks the player
  esphome/components/i2s_audio/media_player/i2s_audio_media_player.cpp
Labels: small-pr, integration: i2s_audio
