Repository esphome/esphome, pull requests merged in 2025-06, with the labels that each got.

#8037 [lc709203f] Add battery monitor
  CODEOWNERS
  esphome/components/lc709203f/__init__.py
  esphome/components/lc709203f/lc709203f.cpp
  esphome/components/lc709203f/lc709203f.h
  esphome/components/lc709203f/sensor.py
  tests/components/lc709203f/common.yaml
  tests/components/lc709203f/test.esp32-ard.yaml
  tests/components/lc709203f/test.esp32-c3-ard.yaml
  tests/components/lc709203f/test.esp32-c3-idf.yaml
  tests/components/lc709203f/test.esp32-idf.yaml
  tests/components/lc709203f/test.esp8266-ard.yaml
  tests/components/lc709203f/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: lc709203f

#9000 [mdns] Set up only after API is set up
  esphome/components/mdns/mdns_component.h
Labels: small-pr, integration: mdns

#8999 [const] Move CONF_X and CONF_Y to const.py
  esphome/components/ld2450/sensor.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/trigger.py
  esphome/components/lvgl/widgets/canvas.py
  esphome/components/lvgl/widgets/line.py
  esphome/const.py
Labels: core, small-pr, integration: ld2450, integration: lvgl

#8974 [core] Update defines.h esp-idf version
  esphome/core/defines.h
Labels: core, small-pr

#8970 [spi] Remove redundant "SPI" from log messages
  esphome/components/spi/spi.cpp
  esphome/components/spi_device/spi_device.cpp
Labels: integration: spi, core, small-pr, integration: spi_device

#8966 [ethernet] Remove redundant "ethernet" from log messages
  esphome/components/ethernet/ethernet_component.cpp
Labels: integration: ethernet, core, small-pr

#8965 [bmp3xx] Remove redundant "bmp3xx" from log messages
  esphome/components/bmp3xx_base/bmp3xx_base.cpp
Labels: small-pr, integration: bmp3xx_base

#8948 [bmp581] Shorten some log messages
  esphome/components/bmp581/bmp581.cpp
Labels: small-pr, integration: bmp581

#8962 [api] Streamline some log strings
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_frame_helper.cpp
Labels: integration: api, core, small-pr

#8968 [mqtt] Remove redundant "mqtt" from log messages
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_component.cpp
Labels: integration: mqtt, core, small-pr

#8992 [ci, nrf52] make zephyr clang mandatory
  .github/workflows/ci.yml
Labels: small-pr

#9002 Move CONF_REQUEST_HEADERS to const.py
  esphome/components/const/__init__.py
  esphome/components/http_request/__init__.py
Labels: integration: http_request, small-pr, integration: const

#9007 [api] Fix build error in IDF 5.5
  esphome/components/api/api_connection.cpp
Labels: integration: api, core, small-pr

#9005 [list-components.py] Only add platforms that are actually platforms.
  script/list-components.py
Labels: core, small-pr

#8951 [qwiic_pir] Clean-up, shorten some log messages
  esphome/components/qwiic_pir/qwiic_pir.cpp
Labels: small-pr, integration: qwiic_pir

#9008 Implement proper API connection teardown before deep sleep/reboot
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/deep_sleep/deep_sleep_component.cpp
  esphome/components/esp32_ble_server/ble_server.h
  esphome/core/application.cpp
  esphome/core/application.h
  esphome/core/component.h
Labels: integration: api, integration: deep_sleep, core, integration: esp32_ble_server

#9028 [config] Clean build on ESP-IDF when component/platform combos change
  esphome/config.py
  esphome/core/__init__.py
  esphome/storage_json.py
  esphome/writer.py
Labels: core, small-pr

#9029 Disable ruff rule UP038
  pyproject.toml
Labels: small-pr

#9032 Force socket ready when high frequency looping
  esphome/core/application.cpp
Labels: core, small-pr

#8545 [psram] Add P4 support
  esphome/components/psram/__init__.py
  platformio.ini
  tests/components/psram/test.esp32-p4-idf.yaml
  tests/test_build_components/build_components_base.esp32-p4-idf.yaml
Labels: has-tests, integration: psram

#9010 [nextion] Use safe restart to properly handle globals and restart logging
  esphome/components/nextion/nextion_upload_arduino.cpp
  esphome/components/nextion/nextion_upload_idf.cpp
Labels: integration: nextion, small-pr, by-code-owner

#9033 [max7219digit, servo, tsl2591] ESP_LOGCONFIG call reduction (Extend #9026)
  esphome/components/max7219digit/max7219digit.cpp
  esphome/components/servo/servo.cpp
  esphome/components/tsl2591/tsl2591.cpp
Labels: integration: max7219digit, integration: servo, small-pr, integration: tsl2591

#9034 [tsl2561, tsl2591] Shorten log messages
  esphome/components/tsl2561/tsl2561.cpp
  esphome/components/tsl2591/tsl2591.cpp
Labels: integration: tsl2561, small-pr, integration: tsl2591

#9020 Change RP2040 PIO SK6812 timings
  esphome/components/rp2040_pio_led_strip/light.py
Labels: small-pr, integration: rp2040_pio_led_strip

#8946 Add LWIP optimization options to reduce flash usage
  esphome/components/esp32/__init__.py
  esphome/config_validation.py
  tests/components/esp32/test.esp32-idf.yaml
Labels: breaking-change, has-tests, core, integration: esp32

#9001 [globals] Prevent redundant oversized string checks in loop
  esphome/components/globals/globals_component.h
Labels: integration: globals, core, small-pr

#9039 [nextion] Optimize log messages to reduce memory usage
  esphome/components/nextion/binary_sensor/nextion_binarysensor.cpp
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion_commands.cpp
  esphome/components/nextion/nextion_upload_arduino.cpp
  esphome/components/nextion/nextion_upload_idf.cpp
  esphome/components/nextion/sensor/nextion_sensor.cpp
  esphome/components/nextion/switch/nextion_switch.cpp
  esphome/components/nextion/text_sensor/nextion_textsensor.cpp
Labels: integration: nextion, by-code-owner

#8972 [nextion] Add configurable limit for commands processed per loop
  esphome/components/nextion/base_component.py
  esphome/components/nextion/display.py
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
  tests/components/nextion/common.yaml
Labels: integration: nextion, has-tests, by-code-owner

#9014 [lvgl] Fix templated argument to `lvgl.is_idle`
  esphome/components/lvgl/automation.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, small-pr, bugfix, by-code-owner, integration: lvgl

#9012 Replace API deferred queue with efficient message batching system
  esphome/components/api/__init__.py
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/api/list_entities.cpp
  esphome/components/api/proto.h
  esphome/components/api/subscribe_state.cpp
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/voice_assistant/voice_assistant.cpp
  script/api_protobuf/api_protobuf.py
  tests/integration/fixtures/host_mode_batch_delay.yaml
  tests/integration/fixtures/host_mode_many_entities.yaml
  tests/integration/fixtures/host_mode_many_entities_multiple_connections.yaml
  tests/integration/fixtures/host_mode_noise_encryption.yaml
  tests/integration/test_host_mode_batch_delay.py
  tests/integration/test_host_mode_many_entities.py
  tests/integration/test_host_mode_many_entities_multiple_connections.py
Labels: breaking-change, integration: api, has-tests, core, integration: bluetooth_proxy, integration: voice_assistant

#9031 [inkplate] Remove arduino dependency
  esphome/components/inkplate6/display.py
  esphome/components/inkplate6/inkplate.cpp
  esphome/components/inkplate6/inkplate.h
  tests/components/inkplate6/test.esp32-idf.yaml
Labels: has-tests, small-pr, by-code-owner, integration: inkplate6

#9040 [core] Include esp_mac.h on Arduino too
  esphome/core/helpers.cpp
Labels: core, small-pr

#8952 Use a `define` for log message constants
  esphome/core/log_const_en.h
Labels: core, small-pr

#8897 [esp32_rmt] Add variant validation for use_dma
  esphome/components/esp32_rmt_led_strip/light.py
  esphome/components/remote_receiver/__init__.py
  esphome/components/remote_transmitter/__init__.py
  tests/components/esp32_rmt_led_strip/test.esp32-ard.yaml
  tests/components/esp32_rmt_led_strip/test.esp32-c3-ard.yaml
  tests/components/esp32_rmt_led_strip/test.esp32-c3-idf.yaml
  tests/components/esp32_rmt_led_strip/test.esp32-idf.yaml
  tests/components/esp32_rmt_led_strip/test.esp32-s3-idf.yaml
  tests/components/remote_receiver/esp32-common-idf.yaml
  tests/components/remote_receiver/test.esp32-c3-idf.yaml
  tests/components/remote_receiver/test.esp32-idf.yaml
  tests/components/remote_receiver/test.esp32-s3-idf.yaml
  tests/components/remote_transmitter/esp32-common-idf.yaml
  tests/components/remote_transmitter/test.esp32-c3-idf.yaml
  tests/components/remote_transmitter/test.esp32-idf.yaml
  tests/components/remote_transmitter/test.esp32-s3-idf.yaml
Labels: integration: remote_receiver, integration: remote_transmitter, has-tests, small-pr, integration: esp32_rmt_led_strip

#9046 [shtcx] Shorten log messages
  esphome/components/shtcx/shtcx.cpp
Labels: integration: shtcx, small-pr

#9045 [application] Fix build error on some IDF versions
  esphome/core/application.cpp
Labels: core, small-pr

#9041 [spi] Restrict octal spi to S3/S2/P4
  esphome/components/spi/__init__.py
  tests/components/spi/test.esp32-p4-idf.yaml
Labels: integration: spi, has-tests, core, small-pr, bugfix, by-code-owner

#9043 Improve shutdown reliability when tx buffer is full
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_server.cpp
Labels: integration: api, core, small-pr

#8985 Add support for custom request headers in online_image component
  esphome/components/online_image/__init__.py
  esphome/components/online_image/online_image.cpp
  esphome/components/online_image/online_image.h
  tests/components/online_image/common.yaml
Labels: has-tests, small-pr, integration: online_image

#9048 [sgp4x] Shorten log messages, various clean-up
  esphome/components/sgp4x/sgp4x.cpp
  esphome/components/sgp4x/sgp4x.h
Labels: integration: sgp4x

#8961 [binary_sensor] Add action to invalidate state and pass to HA
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/binary_sensor/__init__.py
  esphome/components/binary_sensor/automation.h
  esphome/components/binary_sensor/binary_sensor.cpp
  esphome/components/binary_sensor/binary_sensor.h
  esphome/components/binary_sensor/filter.cpp
  esphome/components/binary_sensor/filter.h
  esphome/components/const/__init__.py
  esphome/components/template/binary_sensor/template_binary_sensor.cpp
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/core/controller.cpp
  esphome/core/controller.h
  esphome/core/entity_base.h
  esphome/core/log.h
  esphome/core/optional.h
  tests/components/binary_sensor/common.yaml
  tests/components/binary_sensor/test.bk72xx-ard.yaml
  tests/components/binary_sensor/test.esp32-ard.yaml
  tests/components/binary_sensor/test.esp32-c3-ard.yaml
  tests/components/binary_sensor/test.esp32-c3-idf.yaml
  tests/components/binary_sensor/test.esp32-idf.yaml
  tests/components/binary_sensor/test.esp32-s3-idf.yaml
  tests/components/binary_sensor/test.esp8266-ard.yaml
  tests/components/binary_sensor/test.rp2040-ard.yaml
  tests/components/lvgl/common.yaml
Labels: breaking-change, integration: api, integration: binary_sensor, integration: template, integration: web_server, has-tests, core, integration: const

#9058 Always perform select() when loop duration exceeds interval
  esphome/core/application.cpp
  esphome/core/application.h
Labels: core, small-pr

#9069 Fix misleading comment in API
  esphome/components/api/api_connection.cpp
Labels: integration: api, core, small-pr

#9061 [prometheus] Remove ``cv.only_with_arduino``
  esphome/components/prometheus/__init__.py
Labels: small-pr, integration: prometheus

#9060 [esp32] Dynamically set default framework based on variant
  esphome/components/esp32/__init__.py
  esphome/wizard.py
Labels: core, integration: esp32

#9066 Fix `captive_portal` loading entire `web_server`
  esphome/components/web_server_idf/__init__.py
  esphome/components/web_server_idf/web_server_idf.cpp
  esphome/components/web_server_idf/web_server_idf.h
Labels: small-pr, integration: web_server_idf

#8603 Build with C++17
  esphome/codegen.py
  esphome/components/esp32/__init__.py
  esphome/components/esp8266/__init__.py
  esphome/components/libretiny/__init__.py
  esphome/components/rp2040/__init__.py
  esphome/core/__init__.py
  esphome/cpp_generator.py
  esphome/writer.py
  platformio.ini
Labels: core, small-pr, integration: esp32, integration: esp8266, integration: rp2040, integration: libretiny

#9084 Move some consts to ``const.py``
  esphome/components/ld2410/number/__init__.py
  esphome/components/ld2410/sensor.py
  esphome/components/ld2410/switch/__init__.py
  esphome/components/ld2420/number/__init__.py
  esphome/components/ld2420/sensor/__init__.py
  esphome/components/ld2450/switch/__init__.py
  esphome/const.py
Labels: core, small-pr, integration: ld2410, integration: ld2420, integration: ld2450

#9083 Make ParseOnOffState enum uint8_t
  esphome/core/helpers.h
Labels: core, small-pr

#9082 Optimize Component and Application state storage from uint32_t to uint8_t
  esphome/components/bme280_base/bme280_base.cpp
  esphome/components/kmeteriso/kmeteriso.cpp
  esphome/components/status_led/light/status_led_light.cpp
  esphome/components/status_led/light/status_led_light.h
  esphome/components/weikai/weikai.cpp
  esphome/core/application.cpp
  esphome/core/application.h
  esphome/core/component.cpp
  esphome/core/component.h
Labels: breaking-change

#9071 Small optimizations to api buffer helper
  esphome/components/api/api_connection.h
Labels: integration: api, core, small-pr

#9077 Optimize memory usage by lazy-allocating raw callbacks in sensors
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
  esphome/components/text_sensor/text_sensor.cpp
  esphome/components/text_sensor/text_sensor.h
Labels: integration: sensor, integration: text_sensor, core, small-pr

#9073 Fix API message encoding to return actual size instead of calculated size
  esphome/components/api/api_connection.cpp
  tests/integration/conftest.py
Labels: integration: api, has-tests, core, small-pr

#9052 Fix unbound BLE event queue growth and reduce memory usage
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble.h
  esphome/components/esp32_ble/ble_event.h
  esphome/components/esp32_ble/ble_scan_result.h
  esphome/components/esp32_ble/queue.h
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
Labels: integration: esp32_ble_tracker, integration: logger, core, integration: esp32_ble, integration: bluetooth_proxy

#8277 [fan] fix initial FanCall to properly set speed
  esphome/components/fan/fan.cpp
  tests/integration/fixtures/host_mode_fan_preset.yaml
  tests/integration/test_host_mode_fan_preset.py
Labels: integration: fan, has-tests, core, small-pr

#9087 Implement a lock free ring buffer for BLEScanResult to avoid drops
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: esp32_ble_tracker

#9074 Fix protobuf encoding size mismatch by passing force parameter in encode_string
  esphome/components/api/proto.h
  tests/integration/fixtures/host_mode_empty_string_options.yaml
  tests/integration/test_host_mode_empty_string_options.py
Labels: integration: api, has-tests, core, small-pr

#9062 [i2s_audio] Check for a nullptr before disabling and deleting channel
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
Labels: small-pr, integration: i2s_audio

#9068 Ensure we can send batches where the first message exceeds MAX_PACKET_SIZE
  esphome/components/api/api_connection.cpp
  tests/integration/conftest.py
  tests/integration/fixtures/api_message_size_batching.yaml
  tests/integration/fixtures/large_message_batching.yaml
  tests/integration/test_api_message_size_batching.py
  tests/integration/test_large_message_batching.py
Labels: integration: api, has-tests, core, small-pr

#9090 Add common base classes for entity protobuf messages to reduce duplicate code
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_options.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  script/api_protobuf/api_protobuf.py
Labels: integration: api, core

#9081 Reduce Component blocking threshold memory usage by 2 bytes per component
  esphome/core/component.cpp
  esphome/core/component.h
Labels: core, small-pr

#9095 Remove ``std::`` prefix as not all platforms have access yet.
  esphome/components/sensor/sensor.cpp
  esphome/components/text_sensor/text_sensor.cpp
Labels: integration: sensor, integration: text_sensor, core, small-pr

#8947 [ruff] Apply various ruff suggestions
  esphome/components/canbus/__init__.py
  esphome/components/cm1106/sensor.py
  esphome/components/mcp4461/__init__.py
  esphome/components/mcp4461/output/__init__.py
  esphome/components/scd30/sensor.py
  esphome/components/scd4x/sensor.py
  esphome/components/sdp3x/sensor.py
Labels: integration: scd30, integration: canbus, small-pr, by-code-owner, integration: scd4x, integration: sdp3x, integration: mcp4461, integration: cm1106

#9108 [spi] Cater for non-word-aligned buffers on esp8266
  esphome/components/spi/spi_arduino.cpp
Labels: integration: spi, small-pr, bugfix, by-code-owner

#9103 Add intent progress event to voice assistant enum
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
Labels: integration: api, core, small-pr

#9113 Optimize LightState memory layout
  esphome/components/light/light_state.h
Labels: integration: light, core, small-pr

#9112 Reduce Switch component memory usage by 8 bytes per instance
  esphome/components/switch/switch.h
Labels: integration: switch, core, small-pr

#9121 Bump ruff in pre-commit to 0.12.0
  .pre-commit-config.yaml
  esphome/components/bme680/sensor.py
  pyproject.toml
Labels: integration: bme680, small-pr

#9122 2025.6.0b3
  Doxyfile
  esphome/components/i2s_audio/i2s_audio.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.h
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  esphome/components/light/light_state.h
  esphome/components/spi/spi_arduino.cpp
  esphome/components/switch/switch.h
  esphome/const.py
Labels: merging-to-beta

#9123 [heatpumpir] Bump HeatpumpIR to 1.0.35
  esphome/components/heatpumpir/climate.py
  platformio.ini
Labels: small-pr, integration: heatpumpir

#9089 Reduce CPU overhead by allowing components to disable their loop()
  esphome/components/anova/anova.cpp
  esphome/components/bedjet/bedjet_hub.cpp
  esphome/components/bedjet/climate/bedjet_climate.cpp
  esphome/components/ble_client/sensor/ble_rssi_sensor.cpp
  esphome/components/ble_client/sensor/ble_sensor.cpp
  esphome/components/ble_client/text_sensor/ble_text_sensor.cpp
  esphome/components/captive_portal/captive_portal.cpp
  esphome/components/captive_portal/captive_portal.h
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/online_image/online_image.cpp
  esphome/components/preferences/syncer.h
  esphome/components/rtttl/rtttl.cpp
  esphome/components/safe_mode/safe_mode.cpp
  esphome/components/sntp/sntp_component.cpp
  esphome/components/tlc5971/tlc5971.cpp
  esphome/core/application.cpp
  esphome/core/application.h
  esphome/core/component.cpp
  esphome/core/component.h
  tests/integration/conftest.py
  tests/integration/fixtures/external_components/loop_test_component/__init__.py
  tests/integration/fixtures/external_components/loop_test_component/loop_test_component.cpp
  tests/integration/fixtures/external_components/loop_test_component/loop_test_component.h
  tests/integration/fixtures/loop_disable_enable.yaml
  tests/integration/test_loop_disable_enable.py
  tests/integration/types.py
Labels: integration: captive_portal, integration: sntp, has-tests, core, integration: rtttl, integration: ble_client, integration: anova, integration: esp32_improv, integration: preferences, integration: safe_mode, integration: bedjet, integration: online_image, integration: esp32_ble_client, merge-after-release, integration: tlc5971

#9104 Optimize API server performance by using cached loop time
  esphome/components/api/api_server.cpp
Labels: integration: api, core, small-pr

#9111 Optimize API component memory usage by reordering class members to reduce padding
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_frame_helper.h
  esphome/components/api/api_server.h
Labels: integration: api, core

#9114 Optimize bluetooth_proxy memory usage on ESP32
  esphome/components/bluetooth_proxy/bluetooth_connection.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/esp32_ble_client/ble_client_base.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: esp32_ble_tracker, integration: bluetooth_proxy, integration: esp32_ble_client

#9127 Add enable_loop_soon_any_context() for thread and ISR-safe loop enabling
  esphome/core/application.cpp
  esphome/core/application.h
  esphome/core/component.cpp
  esphome/core/component.h
  tests/integration/fixtures/external_components/loop_test_component/__init__.py
  tests/integration/fixtures/external_components/loop_test_component/loop_test_isr_component.cpp
  tests/integration/fixtures/external_components/loop_test_component/loop_test_isr_component.h
  tests/integration/fixtures/loop_disable_enable.yaml
  tests/integration/test_loop_disable_enable.py
Labels: has-tests, core

#9129 Optimize OTA loop to avoid unnecessary stack allocations
  esphome/components/esphome/ota/ota_esphome.cpp
Labels: small-pr, integration: esphome

#9136 [i2c] Expose internal i2c bus port number
  esphome/components/i2c/__init__.py
  esphome/components/i2c/i2c_bus.h
  esphome/components/i2c/i2c_bus_arduino.cpp
  esphome/components/i2c/i2c_bus_arduino.h
  esphome/components/i2c/i2c_bus_esp_idf.h
  esphome/core/defines.h
Labels: integration: i2c, core, small-pr

#9102 Disable Ethernet loop polling when connected and stable
  esphome/components/ethernet/ethernet_component.cpp
Labels: integration: ethernet, core, small-pr

#9140 Clean up RAMAllocators in audio related code
  esphome/components/audio/audio_transfer_buffer.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/micro_wake_word/streaming_model.cpp
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/core/ring_buffer.cpp
Labels: core, small-pr, by-code-owner, integration: i2s_audio, integration: voice_assistant, integration: micro_wake_word, integration: audio

#9143 Clean up RAMAllocators in http_request code
  esphome/components/http_request/http_request.h
  esphome/components/http_request/update/http_request_update.cpp
Labels: integration: http_request, small-pr

#9141 Clean up RAMAllocators in display related code
  esphome/components/display/display_buffer.cpp
  esphome/components/font/font.h
  esphome/components/inkplate6/inkplate.cpp
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion_upload_arduino.cpp
  esphome/components/nextion/nextion_upload_idf.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
Labels: integration: display, integration: font, integration: nextion, integration: waveshare_epaper, core, small-pr, by-code-owner, integration: inkplate6

#9146 [i2c] Make ``get_port()`` public
  esphome/components/i2c/i2c_bus.h
Labels: integration: i2c, core, small-pr

#9139 [nextion] Add command queuing to prevent command loss when spacing is active
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_component_base.h
Labels: integration: nextion, by-code-owner

#9150 [nextion] Cached timing optimization
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion_upload_arduino.cpp
Labels: integration: nextion, small-pr, by-code-owner

#9151 [wifi, wifi_info] Tidy up/shorten more log messages
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/components/wifi/wifi_component_libretiny.cpp
  esphome/components/wifi/wifi_component_pico_w.cpp
  esphome/components/wifi_info/wifi_info_text_sensor.cpp
Labels: integration: wifi, integration: wifi_info, core

#9154 Add option to enable support for USB Hubs
  esphome/components/usb_host/__init__.py
Labels: small-pr, integration: usb_host

#9128 [spi] Enable >6 devices with ESP-IDF
  esphome/components/mipi_spi/display.py
  esphome/components/spi/__init__.py
  esphome/components/spi/spi.cpp
  esphome/components/spi/spi.h
  esphome/components/spi/spi_arduino.cpp
  esphome/components/spi/spi_esp_idf.cpp
  tests/components/spi_device/common.yaml
  tests/components/spi_device/test.esp32-idf.yaml
Labels: integration: spi, has-tests, core, by-code-owner, integration: mipi_spi

#9155 [nextion] Extract common `upload_end_` function to shared file
  esphome/components/nextion/nextion_upload.cpp
  esphome/components/nextion/nextion_upload_arduino.cpp
  esphome/components/nextion/nextion_upload_idf.cpp
Labels: integration: nextion, by-code-owner

#9170 Improve on C++17
  esphome/components/host/__init__.py
  esphome/cpp_generator.py
  platformio.ini
Labels: core, small-pr, integration: host

#9168 [nextion] Revert to `millis()` on `recv_ret_string_`
  esphome/components/nextion/nextion.cpp
Labels: integration: nextion, small-pr, by-code-owner

#9179 [const] Move ``CONF_DEVICES`` to ``const.py``
  esphome/components/usb_host/__init__.py
  esphome/const.py
Labels: core, small-pr, integration: usb_host

#9161 Reduce Logger memory usage by optimizing variable sizes
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
  esphome/core/log.cpp
Labels: integration: logger, core

#9180 Reduce RAM usage for scheduled tasks
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Labels: core, small-pr

#9056 [lvgl] Add start_value to bar; make values templatable and updateable
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/widgets/lv_bar.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#9116 [lvgl] Use styles instead of object properties for themes
  esphome/components/lvgl/styles.py
  esphome/components/lvgl/widgets/__init__.py
Labels: bugfix, by-code-owner, integration: lvgl

#9157 Fixes for setup of OpenThread either using TLV or entering Credentials directly
  esphome/components/openthread/__init__.py
  esphome/components/openthread/openthread.cpp
  esphome/components/openthread/tlv.py
  tests/components/openthread/test.esp32-c6-idf.yaml
Labels: has-tests, small-pr, integration: openthread

#9148 Restore access to BLEScanResult as get_scan_result
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: esp32_ble_tracker, small-pr

#8978 Feature fontmetrics
  esphome/components/font/__init__.py
  esphome/components/font/font.cpp
  esphome/components/font/font.h
Labels: integration: font, core

#6625 [opt3001] New component
  CODEOWNERS
  esphome/components/opt3001/__init__.py
  esphome/components/opt3001/opt3001.cpp
  esphome/components/opt3001/opt3001.h
  esphome/components/opt3001/sensor.py
  tests/components/opt3001/common.yaml
  tests/components/opt3001/test.esp32-ard.yaml
  tests/components/opt3001/test.esp32-c3-ard.yaml
  tests/components/opt3001/test.esp32-c3-idf.yaml
  tests/components/opt3001/test.esp32-idf.yaml
  tests/components/opt3001/test.esp8266-ard.yaml
  tests/components/opt3001/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: opt3001

#8933 [mqtt] Don't wait for connection unless configured to
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
Labels: breaking-change, integration: mqtt, core, small-pr

#9016 fix(MQTT): Call disconnect callback on DNS error
  esphome/components/mqtt/mqtt_backend.h
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
Labels: integration: mqtt, core, small-pr

#9191 Rename kVARh/VARh to kvarh/varh
  esphome/const.py
Labels: core, small-pr

#9196 [lvgl] Allow linear positioning of grid cells
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/schemas.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#9201 Reduce memory required for sensor entities
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
  tests/integration/fixtures/host_mode_with_sensor.yaml
  tests/integration/test_host_mode_sensor.py
Labels: breaking-change, integration: sensor, has-tests, core, small-pr

#9160 Reduce logger CPU usage by disabling loop when buffer is empty
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
  esphome/core/defines.h
Labels: integration: logger, core

#9184 Optimize API connection loop performance
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  tests/integration/fixtures/api_reboot_timeout.yaml
  tests/integration/test_api_reboot_timeout.py
Labels: integration: api, has-tests, core

#9163 [esp32] Improve and simplify IDF component support
  esphome/components/esp32/__init__.py
Labels: integration: esp32

#9210 [ld2450] More optimizing, fix copypasta
  esphome/components/ld2450/ld2450.cpp
  esphome/components/ld2450/ld2450.h
Labels: small-pr, integration: ld2450

#9214 [ci] Lint lock.yml
  .github/workflows/lock.yml
Labels: small-pr

#9209 [ld2410] More optimizations
  esphome/components/ld2410/ld2410.cpp
  esphome/components/ld2410/ld2410.h
Labels: integration: ld2410

#9215 [ld2450] Move consts to cpp file, optimize memory use
  esphome/components/ld2450/ld2450.cpp
  esphome/components/ld2450/ld2450.h
Labels: integration: ld2450

#9213 [tests] Remove extra newline
  tests/test_build_components/build_components_base.esp32-p4-idf.yaml
Labels: has-tests, small-pr

#9224 [voice_assistant] Support streaming TTS responses and fixes crash for long responses
  CODEOWNERS
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
Labels: integration: voice_assistant

#9149 use c++17 `[[fallthrough]];`
  esphome/components/audio/audio_decoder.cpp
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/pn7150/pn7150.cpp
  esphome/components/pn7160/pn7160.cpp
  esphome/components/shelly_dimmer/stm32flash.cpp
Labels: small-pr, integration: shelly_dimmer, integration: esp32_ble_client, integration: pn7160, integration: pn7150, integration: audio

#9232 [wifi] Reduce memory usage
  esphome/components/wifi/wifi_component.h
Labels: integration: wifi, core, small-pr

#9231 Reduce ethernet component memory usage by 8 bytes
  esphome/components/ethernet/ethernet_component.h
Labels: integration: ethernet, core, small-pr

#9230 [gpio] Reduce ESP32 memory usage by optimizing struct padding
  esphome/components/esp32/gpio.h
Labels: small-pr, integration: esp32

#9188 [esp32] Change ``enable_lwip_mdns_queries`` default to ``True``
  esphome/components/esp32/__init__.py
Labels: small-pr, integration: esp32

#9244 [mcp23xxx_base] fix pin interrupts
  esphome/components/mcp23xxx_base/mcp23xxx_base.cpp
Labels: small-pr, integration: mcp23xxx_base

#9239 Reduce libretiny logconfig messages
  esphome/components/libretiny/lt_component.cpp
Labels: small-pr, integration: libretiny

#9233 Disable dynamic log level control for ESP32 ESP-IDF builds
  esphome/components/esp32/__init__.py
Labels: small-pr, integration: esp32

#9236 Silence protobuf compatibility warnings when importing aioesphomeapi
  esphome/components/api/client.py
Labels: integration: api, core, small-pr

#9243 [esp32] Allow 5.4.2
  esphome/components/esp32/__init__.py
Labels: small-pr, integration: esp32

#9246 Remove backports of `std`
  esphome/core/datatypes.h
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: core, small-pr

#9249 Fix buffer corruption in API message encoding with very verbose logging
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  tests/integration/fixtures/api_vv_logging.yaml
  tests/integration/test_api_vv_logging.py
Labels: integration: api, has-tests, core

#9207 Replace ping retry timer with batch queue fallback
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_server.cpp
Labels: integration: api, core

#9247 [adc] Memory optimizations
  esphome/components/adc/adc_sensor.h
  esphome/components/adc/adc_sensor_common.cpp
  esphome/components/adc/adc_sensor_esp32.cpp
Labels: integration: adc, core, small-pr

#9235 [uart] fix: missing uart_config_t struct initialisation
  esphome/components/uart/uart_component_esp_idf.cpp
Labels: integration: uart, core, small-pr

#9257 Reduce web_server code duplication by extracting detail parameter parsing
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server, small-pr

#9245 Fix api log client crashing when api encryption is dynamic
  esphome/components/api/client.py
Labels: integration: api, core, small-pr

#8325 Fix MQTT blocking main loop for multiple seconds at a time
  esphome/components/mqtt/mqtt_backend_esp32.cpp
  esphome/components/mqtt/mqtt_backend_esp32.h
Labels: integration: mqtt, core

#9266 Fix crash when event last_event_type is null in web_server
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server, small-pr

#9255 Remove single-use send_*_info wrappers in API connection
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/list_entities.cpp
  esphome/components/api/list_entities.h
  esphome/components/api/subscribe_state.cpp
  esphome/components/api/subscribe_state.h
Labels: integration: api, core

#9252 Reduce API memory footprint through bitfield consolidation and type sizing
  esphome/components/api/__init__.py
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
Labels: integration: api, core

#9258 Reduce flash usage by making add_message_object non-template
  esphome/components/api/api_pb2_size.h
Labels: integration: api, core, small-pr

#9115 Add interrupt support to GPIO binary sensors
  esphome/components/gpio/binary_sensor/__init__.py
  esphome/components/gpio/binary_sensor/gpio_binary_sensor.cpp
  esphome/components/gpio/binary_sensor/gpio_binary_sensor.h
Labels: integration: gpio, core

#9267 Reduce loop enable/disable log spam by using very verbose level
  esphome/core/application.cpp
  esphome/core/component.cpp
Labels: core, small-pr

#9268 Fix thread-safe cleanup of event source connections in ESP-IDF web server
  esphome/components/web_server_idf/web_server_idf.cpp
  esphome/components/web_server_idf/web_server_idf.h
Labels: integration: web_server_idf

#9262 Reduce API component memory usage with conditional compilation
  esphome/components/api/__init__.py
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/core/defines.h
  tests/integration/fixtures/api_conditional_memory.yaml
  tests/integration/test_api_conditional_memory.py
Labels: integration: api, has-tests, core

#9251 Optimize scheduler string storage to eliminate heap allocations
  esphome/core/component.cpp
  esphome/core/component.h
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
  tests/integration/fixtures/scheduler_string_test.yaml
  tests/integration/test_scheduler_string_test.py
Labels: has-tests, core

#9263 Optimize web_server UrlMatch to avoid heap allocations
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
Labels: integration: web_server

#6861 Support DM9051 SPI ethernet device
  esphome/components/ethernet/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
  tests/components/ethernet/common-dm9051.yaml
  tests/components/ethernet/test-dm9051.esp32-ard.yaml
  tests/components/ethernet/test-dm9051.esp32-idf.yaml
Labels: integration: ethernet, has-tests, core

#9269 [light] Fix transitions with ``lerp``
  esphome/components/light/light_color_values.h
Labels: integration: light, core, small-pr

#9218 [remote_base] Fix dumper base class and enable schema extension
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/remote_base.cpp
  esphome/components/remote_base/remote_base.h
Labels: integration: remote_base

#9144 [http_request.update] Fix ``size_t`` printing
  esphome/components/http_request/update/http_request_update.cpp
Labels: integration: http_request, small-pr

#9175 [smt100] Rename ``dielectric_constant`` to ``permittivity``
  esphome/components/smt100/sensor.py
  esphome/components/smt100/smt100.cpp
  esphome/components/smt100/smt100.h
  esphome/const.py
  tests/components/smt100/common.yaml
Labels: breaking-change, has-tests, core, small-pr, by-code-owner, integration: smt100

#8457 [ethernet] P4 changes and 5.3.0 deprecated warnings
  esphome/components/ethernet/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
  tests/components/ethernet/common-dp83848.yaml
  tests/components/ethernet/common-ip101.yaml
  tests/components/ethernet/common-jl1101.yaml
  tests/components/ethernet/common-ksz8081.yaml
  tests/components/ethernet/common-ksz8081rna.yaml
  tests/components/ethernet/common-lan8720.yaml
  tests/components/ethernet/common-rtl8201.yaml
  tests/components/ethernet_info/common.yaml
Labels: integration: ethernet, has-tests, core

#9182 Fix - Pass thread TLVs down to openthread if they are defined
  esphome/components/openthread/__init__.py
  esphome/components/openthread/openthread_esp.cpp
  esphome/components/openthread/tlv.py
Labels: by-code-owner, integration: openthread
