Repository esphome/esphome, pull requests merged in 2025-08, with the labels that each got.

#10001 [bluetooth_proxy] Implement dynamic service batching based on MTU constraints
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
Labels: code-quality, component: bluetooth_proxy

#10002 [midea] Use c++17 constexpr and inline static in IrFollowMeData
  esphome/components/midea/ir_transmitter.h
Labels: small-pr, bugfix, component: midea

#9791 [image] Improve schemas
  esphome/components/animation/__init__.py
  esphome/components/image/__init__.py
  tests/component_tests/image/config/image_test.yaml
  tests/component_tests/image/test_init.py
Labels: component: image, has-tests, component: animation

#9321 [nrf52] add adc
  esphome/components/adc/__init__.py
  esphome/components/adc/adc_sensor.h
  esphome/components/adc/adc_sensor_common.cpp
  esphome/components/adc/adc_sensor_esp32.cpp
  esphome/components/adc/adc_sensor_esp8266.cpp
  esphome/components/adc/adc_sensor_libretiny.cpp
  esphome/components/adc/adc_sensor_rp2040.cpp
  esphome/components/adc/adc_sensor_zephyr.cpp
  esphome/components/adc/sensor.py
  esphome/components/nrf52/const.py
  esphome/components/nrf52/gpio.py
  esphome/components/zephyr/__init__.py
  esphome/components/zephyr/const.py
  script/helpers_zephyr.py
  tests/components/adc/test.nrf52-adafruit.yaml
  tests/components/adc/test.nrf52-mcumgr.yaml
Labels: new-feature, component: adc, has-tests, by-code-owner, component: nrf52, component: zephyr, platform: nrf52

#9582 [espnow] Basic communication between ESP32 devices
  CODEOWNERS
  esphome/components/espnow/__init__.py
  esphome/components/espnow/automation.h
  esphome/components/espnow/espnow_component.cpp
  esphome/components/espnow/espnow_component.h
  esphome/components/espnow/espnow_err.h
  esphome/components/espnow/espnow_packet.h
  tests/components/espnow/common.yaml
  tests/components/espnow/test.esp32-idf.yaml
Labels: new-component, new-feature, has-tests, component: espnow, mega-pr

#8315 [nrf52, debug] debug component for nrf52
  esphome/components/debug/__init__.py
  esphome/components/debug/debug_zephyr.cpp
  esphome/components/nrf52/__init__.py
  tests/components/debug/test.nrf52-adafruit.yaml
  tests/components/debug/test.nrf52-mcumgr.yaml
Labels: component: debug, has-tests, component: nrf52, platform: nrf52

#9737 [nrf52, gpio] check different port notation
  tests/components/gpio/test.nrf52-adafruit.yaml
  tests/components/gpio/test.nrf52-mcumgr.yaml
Labels: has-tests, small-pr

#9907 [esp32] Add config option to execute from PSRAM
  esphome/components/debug/sensor.py
  esphome/components/esp32/__init__.py
  esphome/components/lvgl/__init__.py
  esphome/components/mipi_spi/display.py
  esphome/components/psram/__init__.py
  esphome/config.py
  tests/component_tests/conftest.py
  tests/component_tests/esp32/test_esp32.py
  tests/component_tests/types.py
  tests/components/esp32/test.esp32-s3-idf.yaml
Labels: new-feature, component: debug, has-tests, core, by-code-owner, component: esp32, component: psram, component: lvgl, component: mipi_spi, platform: esp32

#9989 [wifi] Fix crash during WiFi reconnection on ESP32 with poor signal quality
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: component: wifi

#10004 [CI] Allow multiple grep options for clang-tidy
  .github/workflows/ci.yml
  script/clang-tidy
  script/helpers.py
Labels: small-pr, code-quality, github-actions

#10010 [bluetooth_proxy] Eliminate heap allocations in connection state reporting
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_options.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/bluetooth_proxy/__init__.py
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/bluetooth_proxy/bluetooth_connection.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/esp32_ble_client/ble_client_base.h
  esphome/core/defines.h
  script/api_protobuf/api_protobuf.py
Labels: component: api, core, code-quality, component: bluetooth_proxy, component: esp32_ble_client

#10018 [core] Convert entity vectors to static allocation for reduced memory usage
  esphome/core/application.h
  esphome/core/component_iterator.cpp
  esphome/core/component_iterator.h
  esphome/core/config.py
  esphome/core/defines.h
  esphome/core/helpers.h
Labels: core, code-quality

#10023 [core] Fix compilation errors when platform sections have no entities
  esphome/components/alarm_control_panel/__init__.py
  esphome/components/binary_sensor/__init__.py
  esphome/components/button/__init__.py
  esphome/components/climate/__init__.py
  esphome/components/cover/__init__.py
  esphome/components/datetime/__init__.py
  esphome/components/event/__init__.py
  esphome/components/fan/__init__.py
  esphome/components/light/__init__.py
  esphome/components/lock/__init__.py
  esphome/components/number/__init__.py
  esphome/components/select/__init__.py
  esphome/components/sensor/__init__.py
  esphome/components/switch/__init__.py
  esphome/components/text/__init__.py
  esphome/components/text_sensor/__init__.py
  esphome/components/update/__init__.py
  esphome/components/valve/__init__.py
  esphome/core/config.py
Labels: core, bugfix, mega-pr

#10043 [config] Fix reversion of excessive yaml output after error
  esphome/log.py
  tests/unit_tests/test_log.py
Labels: has-tests, core, bugfix

#10049 [api] Fix OTA progress updates not being sent when main loop is blocked
  esphome/components/api/api_connection.h
Labels: component: api, small-pr, bugfix

#10016 [color][lvgl] Allow Color to be used for lv_color_t
  esphome/core/color.h
  tests/components/lvgl/lvgl-package.yaml
Labels: new-feature, has-tests, core, small-pr

#10044 [core] Replace std::find and std::max_element with simple loops to reduce binary size
  esphome/core/application.cpp
Labels: core, small-pr, code-quality

#10020 [core] Convert components, devices, and areas vectors to static allocation
  esphome/core/application.h
  esphome/core/config.py
  esphome/core/defines.h
  esphome/core/helpers.h
Labels: core, code-quality

#10039 [core] Optimize Application::pre_setup() to reduce duplicate MAC address operations
  esphome/core/application.h
Labels: core, small-pr, code-quality

#10022 [web_server] Conditionally compile authentication code to save flash memory
  esphome/components/web_server/__init__.py
  esphome/components/web_server_base/web_server_base.cpp
  esphome/components/web_server_base/web_server_base.h
  esphome/components/web_server_idf/web_server_idf.cpp
  esphome/components/web_server_idf/web_server_idf.h
  esphome/core/defines.h
  tests/components/web_server/test.esp32-idf.yaml
Labels: component: web_server, component: web_server_base, has-tests, core, small-pr, code-quality, component: web_server_idf

#10011 [core] Update to esptool 5.0+ command syntax
  esphome/__main__.py
  esphome/components/esp32/post_build.py.script
  esphome/platformio_api.py
Labels: core, small-pr, code-quality, component: esp32, platform: esp32

#10037 [wifi] Replace std::stable_sort with insertion sort to save 2.4KB flash
  esphome/components/wifi/wifi_component.cpp
Labels: component: wifi, code-quality

#10054 [AI] Add note about the defines.h file needing to include all new defines added
  .ai/instructions.md
Labels: small-pr

#10053 [nfc] Rename ``binary_sensor`` source files
  esphome/components/nfc/binary_sensor/nfc_binary_sensor.cpp
  esphome/components/nfc/binary_sensor/nfc_binary_sensor.h
Labels: small-pr, by-code-owner, component: nfc

#10056 [core] Move docs url generator to helpers.py
  esphome/config_validation.py
  esphome/helpers.py
Labels: core

#10058 [font] Catch file load exception
  esphome/components/font/__init__.py
Labels: component: font, small-pr, code-quality, bugfix, by-code-owner

#10055 [esp32_ble_tracker] Remove unnecessary STOPPED scanner state to reduce latency
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: component: esp32_ble_tracker, code-quality, bugfix

#10051 [esp32_ble_client] Connect immediately on READY_TO_CONNECT to reduce latency
  esphome/components/esp32_ble_client/ble_client_base.cpp
Labels: small-pr, code-quality, component: esp32_ble_client

#10024 [gt911] Use timeout instead of delay, shortened log msg
  esphome/components/gt911/touchscreen/gt911_touchscreen.cpp
  esphome/components/gt911/touchscreen/gt911_touchscreen.h
Labels: code-quality, component: gt911

#10005 [i2s_audio] Use high-pass filter for dc offset correction
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.h
Labels: bugfix, component: i2s_audio

#9739 Add CO5300 display support
  esphome/components/mipi/__init__.py
  esphome/components/mipi_spi/models/amoled.py
  esphome/components/mipi_spi/models/waveshare.py
Labels: new-feature, component: mipi_spi, component: mipi

#10076 [api] Add helpful compile-time errors for Custom API Device methods
  esphome/components/api/custom_api_device.h
Labels: component: api, code-quality, bugfix

#10063 [bluetooth_proxy] Warn about BLE connection timeout mismatch on Arduino framework
  esphome/components/bluetooth_proxy/__init__.py
Labels: small-pr, code-quality, component: bluetooth_proxy

#10062 [esp32_ble_client] Start MTU negotiation earlier following ESP-IDF examples
  esphome/components/esp32_ble_client/ble_client_base.cpp
Labels: small-pr, code-quality, component: esp32_ble_client

#10057 [esp32_ble_tracker] Eliminate redundant ring buffer for lower latency
  esphome/components/esp32_ble/ble.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: component: esp32_ble_tracker, component: esp32_ble

#10059 [esp32_ble_client] Fix connection parameter timing by setting preferences before connection
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
Labels: bugfix, component: esp32_ble_client

#10077 [gpio_expander] Fix bank caching
  esphome/components/gpio_expander/cached_gpio.h
  tests/integration/fixtures/external_components/gpio_expander_test_component/__init__.py
  tests/integration/fixtures/external_components/gpio_expander_test_component/gpio_expander_test_component.cpp
  tests/integration/fixtures/external_components/gpio_expander_test_component/gpio_expander_test_component.h
  tests/integration/fixtures/gpio_expander_cache.yaml
  tests/integration/test_gpio_expander_cache.py
Labels: has-tests, bugfix, component: gpio_expander

#10069 [remote_transmitter] Add digital_write automation
  esphome/components/remote_transmitter/__init__.py
  esphome/components/remote_transmitter/automation.h
  esphome/components/remote_transmitter/remote_transmitter.h
  esphome/components/remote_transmitter/remote_transmitter_esp8266.cpp
  esphome/components/remote_transmitter/remote_transmitter_libretiny.cpp
  tests/components/remote_transmitter/common-buttons.yaml
Labels: new-feature, component: remote_transmitter, has-tests

#10003 Support multiple --device arguments for address fallback
  esphome/__main__.py
  esphome/components/api/client.py
  esphome/dashboard/web_server.py
  esphome/util.py
Labels: new-feature, component: api, core, code-quality, bugfix, dashboard

#10083 Add myself to multiple bluetooth codeowners
  CODEOWNERS
  esphome/components/bluetooth_proxy/__init__.py
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble_client/__init__.py
  esphome/components/esp32_ble_tracker/__init__.py
Labels: component: esp32_ble_tracker, small-pr, component: esp32_ble, component: bluetooth_proxy, component: esp32_ble_client

#10088 [speaker] Media player fixes for IDF5.4
  esphome/components/speaker/media_player/__init__.py
  esphome/components/speaker/media_player/audio_pipeline.cpp
Labels: bugfix, by-code-owner, component: speaker

#10014 [espnow] fixes
  esphome/components/espnow/__init__.py
  esphome/components/espnow/automation.h
  esphome/components/espnow/espnow_component.cpp
  esphome/components/espnow/espnow_component.h
Labels: code-quality, bugfix, component: espnow

#10078 [mcp23xxx] Use CachedGpioExpander
  esphome/components/mcp23008/__init__.py
  esphome/components/mcp23017/__init__.py
  esphome/components/mcp23s08/__init__.py
  esphome/components/mcp23s17/__init__.py
  esphome/components/mcp23x08_base/__init__.py
  esphome/components/mcp23x08_base/mcp23x08_base.cpp
  esphome/components/mcp23x08_base/mcp23x08_base.h
  esphome/components/mcp23x17_base/__init__.py
  esphome/components/mcp23x17_base/mcp23x17_base.cpp
  esphome/components/mcp23x17_base/mcp23x17_base.h
  esphome/components/mcp23xxx_base/__init__.py
  esphome/components/mcp23xxx_base/mcp23xxx_base.cpp
  esphome/components/mcp23xxx_base/mcp23xxx_base.h
Labels: component: mcp23008, component: mcp23017, component: mcp23s08, component: mcp23s17, by-code-owner, component: mcp23x08_base, component: mcp23x17_base, component: mcp23xxx_base

#10090 update espressif's esp32-camera library to 2.1.1
  esphome/components/esp32_camera/__init__.py
  esphome/idf_component.yml
Labels: component: esp32_camera, core, small-pr, bugfix

#10085 [esp32_ble_tracker] Add missing USE_ESP32_BLE_DEVICE guard for already_discovered_ member
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: component: esp32_ble_tracker, small-pr, code-quality, bugfix

#9735 [bme680] Eliminate warnings due to unused functions
  esphome/components/bme680/bme680.cpp
Labels: component: bme680, small-pr

#10094 [bluetooth_proxy] Reduce flash usage by consolidating duplicate logging
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/bluetooth_proxy/bluetooth_connection.h
Labels: code-quality, by-code-owner, component: bluetooth_proxy

#10092 [esp32_ble_tracker] Simplify state machine guards with helper functions
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: component: esp32_ble_tracker, code-quality, by-code-owner

#9395 [deep_sleep] enable sleep pull up/down for wakeup pin
  esphome/components/deep_sleep/deep_sleep_esp32.cpp
Labels: component: deep_sleep, small-pr, bugfix

#10098 [esp32_ble] Make BLE notification limit configurable to fix ESP_GATT_NO_RESOURCES errors
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble_tracker/__init__.py
Labels: component: esp32_ble_tracker, small-pr, bugfix, by-code-owner, component: esp32_ble

#10019 [ld2410] Replace ``throttle`` with native filters
  esphome/components/ld2410/__init__.py
  esphome/components/ld2410/binary_sensor.py
  esphome/components/ld2410/ld2410.cpp
  esphome/components/ld2410/ld2410.h
  esphome/components/ld2410/sensor.py
Labels: breaking-change, code-quality, component: ld2410

#10099 [esp32_ble] Conditionally compile BLE advertising to reduce flash usage
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble.h
  esphome/components/esp32_ble/ble_advertising.cpp
  esphome/components/esp32_ble/ble_advertising.h
  esphome/components/esp32_ble_beacon/__init__.py
  esphome/components/esp32_ble_server/__init__.py
  esphome/core/defines.h
Labels: breaking-change, component: esp32_ble_beacon, core, code-quality, by-code-owner, component: esp32_ble_server, component: esp32_ble

#10103 [bluetooth_proxy] Consolidate dump_config() log calls
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
Labels: small-pr, code-quality, by-code-owner, component: bluetooth_proxy

#10097 [bluetooth_proxy][esp32_ble_tracker][esp32_ble_client] Consolidate duplicate logging code to reduce flash usage
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/bluetooth_proxy/bluetooth_connection.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: component: esp32_ble_tracker, code-quality, by-code-owner, component: bluetooth_proxy, component: esp32_ble_client

#10104 [bluetooth_proxy] Remove unnecessary heap allocation for response object
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
Labels: small-pr, code-quality, by-code-owner, component: bluetooth_proxy

#10100 Add device class absolute_humidity to the absolute humidity component
  esphome/components/absolute_humidity/sensor.py
Labels: new-feature, needs-docs, small-pr, component: absolute_humidity

#10112 [esp32_touch] Restore get_value() for ESP32-S2/S3 variants
  esphome/components/esp32_touch/esp32_touch.h
  esphome/components/esp32_touch/esp32_touch_common.cpp
  esphome/components/esp32_touch/esp32_touch_v2.cpp
  tests/components/esp32_touch/common-get-value.yaml
  tests/components/esp32_touch/test.esp32-idf.yaml
  tests/components/esp32_touch/test.esp32-s2-idf.yaml
  tests/components/esp32_touch/test.esp32-s3-idf.yaml
Labels: component: esp32_touch, has-tests, bugfix

#10110 [esp32_ble_client] Avoid iterating empty services vector for bluetooth_proxy connections
  esphome/components/esp32_ble_client/ble_client_base.cpp
Labels: small-pr, code-quality, by-code-owner, component: esp32_ble_client

#10113 [esp32_ble_tracker] Optimize member variable ordering to reduce memory padding
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: component: esp32_ble_tracker, small-pr, code-quality, by-code-owner

#10107 [bluetooth_proxy] Remove V1 connection support
  esphome/components/api/api.proto
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
Labels: breaking-change, component: api, small-pr, by-code-owner, component: bluetooth_proxy

#10129 [mdns] Conditionally compile extra services to reduce flash usage
  esphome/components/mdns/__init__.py
  esphome/components/mdns/mdns_component.cpp
  esphome/components/mdns/mdns_component.h
Labels: small-pr, code-quality, component: mdns

#10119 [esp32_ble_client] Reduce flash usage by optimizing logging strings
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
Labels: code-quality, bugfix, by-code-owner, component: esp32_ble_client

#10127 [wifi] Reduce flash usage by optimizing logging
  esphome/components/wifi/wifi_component.cpp
Labels: component: wifi, small-pr, code-quality

#10130 [cover] Reduce flash usage by optimizing validation messages
  esphome/components/cover/cover.cpp
Labels: component: cover, small-pr, code-quality

#10118 [switch] Add `control()` method to API
  esphome/components/switch/automation.h
  esphome/components/switch/switch.cpp
  esphome/components/switch/switch.h
Labels: new-feature, component: switch, small-pr

#10108 [switch] Add trigger ``on_state``
  esphome/components/switch/__init__.py
  esphome/components/switch/automation.h
  tests/components/switch/common.yaml
Labels: new-feature, component: switch, has-tests

#10144 [esp32_ble_tracker] Fix false reboots when event loop is blocked
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: component: esp32_ble_tracker, bugfix, by-code-owner

#10134 [esp32] Add IDF log_level option
  esphome/components/esp32/__init__.py
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/defines.py
  esphome/const.py
Labels: breaking-change, core, small-pr, component: esp32, component: lvgl, platform: esp32

#10135 [dashboard] Fix port fallback regression when device is offline
  esphome/dashboard/web_server.py
Labels: small-pr, bugfix, dashboard

#10154 [web_server] Reduce flash usage by consolidating parameter parsing
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
Labels: component: web_server, code-quality

#10155 [ade7880] Fix duplicate sensor name validation error
  esphome/components/ade7880/sensor.py
  tests/components/ade7880/common.yaml
Labels: has-tests, code-quality, bugfix, component: ade7880

#10145 Optimize subprocess performance with close_fds=False
  docker/build.py
  esphome/components/sdl/display.py
  esphome/dashboard/web_server.py
  esphome/git.py
  esphome/helpers.py
  esphome/platformio_api.py
  esphome/util.py
  script/clang-format
  script/clang-tidy
  script/platformio_install_deps.py
  script/run-in-env.py
  tests/integration/conftest.py
Labels: has-tests, core, code-quality, dashboard, component: sdl

#10166 [CI] Print more info for when consts are duplicated
  script/ci-custom.py
Labels: small-pr, code-quality

#10123 [neopixelbus] Fix neopixelbus on esp32
  esphome/components/neopixelbus/light.py
Labels: component: neopixelbus, small-pr, bugfix

#10141 [lvgl] Various validation fixes
  esphome/components/lvgl/lv_validation.py
  esphome/components/lvgl/types.py
  esphome/components/lvgl/widgets/__init__.py
  esphome/components/lvgl/widgets/arc.py
  esphome/components/lvgl/widgets/qrcode.py
  esphome/components/lvgl/widgets/spinner.py
  esphome/components/lvgl/widgets/tabview.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, code-quality, bugfix, by-code-owner, component: lvgl

#8319 [nrf52, zephyr_debug] add zephyr debug component
  esphome/components/debug/__init__.py
Labels: new-feature, component: debug, small-pr

#10115 [sensor] Extend timeout filter with option to return last value received
  esphome/components/sensor/__init__.py
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
  tests/components/template/common.yaml
Labels: new-feature, component: sensor, has-tests

#10152 [esphome] Fix OTA watchdog resets during port scanning and network delays
  esphome/components/esphome/ota/ota_esphome.cpp
  esphome/components/esphome/ota/ota_esphome.h
Labels: code-quality, bugfix, component: esphome

#10178 [substitutions] Add some safe built-in functions to jinja parsing
  esphome/components/substitutions/jinja.py
Labels: new-feature, component: substitutions, small-pr

#10184 [core] Improve entity duplicate validation error messages
  esphome/config.py
  esphome/core/__init__.py
  esphome/core/entity_helpers.py
  esphome/types.py
  tests/unit_tests/core/test_entity_helpers.py
  tests/unit_tests/fixtures/core/entity_helpers/entity_conflict_components.yaml
Labels: has-tests, core, code-quality

#10181 [wifi] Remove restriction from using NONE power saving mode with BLE
  esphome/components/wifi/__init__.py
Labels: component: wifi, code-quality

#10199 [core] Reset pin registry after target platform validations
  esphome/config.py
Labels: core, small-pr

#10196 [ld2450] Replace ``throttle`` with native filters
  esphome/components/ld2450/__init__.py
  esphome/components/ld2450/binary_sensor.py
  esphome/components/ld2450/ld2450.cpp
  esphome/components/ld2450/ld2450.h
  esphome/components/ld2450/sensor.py
  tests/components/ld2450/common.yaml
Labels: breaking-change, has-tests, code-quality, component: ld2450

#10213 [bluetooth_proxy] Remove ESPBTUUID dependency to save 296 bytes of flash
  esphome/components/ble_client/__init__.py
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/esp32_ble/ble_uuid.cpp
  esphome/components/esp32_ble/ble_uuid.h
  esphome/components/esp32_ble_beacon/__init__.py
  esphome/components/esp32_ble_server/__init__.py
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
  esphome/core/defines.h
Labels: component: esp32_ble_beacon, component: esp32_ble_tracker, core, component: ble_client, code-quality, by-code-owner, component: esp32_ble_server, component: esp32_ble, component: bluetooth_proxy

#10215 [CI] Fix CI job failures for PRs with >300 changed files
  script/helpers.py
  tests/script/test_helpers.py
Labels: has-tests, code-quality, bugfix

#10217 [entity] Allow ``device_id`` to be blank on entities
  esphome/config_validation.py
  esphome/core/entity_helpers.py
  tests/integration/fixtures/areas_and_devices.yaml
  tests/integration/test_areas_and_devices.py
  tests/unit_tests/core/test_entity_helpers.py
Labels: new-feature, has-tests, core

#10225 [espnow] Set state to enabled before adding initial peers
  esphome/components/espnow/espnow_component.cpp
Labels: small-pr, bugfix, by-code-owner, component: espnow

#10224 [psram] allow disabling
  esphome/components/psram/__init__.py
Labels: small-pr, bugfix, component: psram

#10230 [esp32_ble] Add ``USE_ESP32_BLE_UUID`` when advertising is desired
  esphome/components/esp32_ble/__init__.py
Labels: small-pr, bugfix, by-code-owner, component: esp32_ble

#10226 Improve error reporting for add_library
  esphome/core/__init__.py
Labels: core, small-pr, code-quality

#10242 [wifi] Automatically disable Enterprise WiFi support when EAP is not configured
  esphome/components/wifi/__init__.py
Labels: component: wifi, small-pr, code-quality

#10208 [bluetooth_proxy] Remove redundant connection type check after V1 removal
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
Labels: small-pr, code-quality, by-code-owner, component: bluetooth_proxy

#10231 [api] Optimize message buffer allocation and eliminate redundant methods
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
Labels: component: api, code-quality

#10247 [esp32_ble] Optimize BLE event memory usage by eliminating std::vector overhead
  esphome/components/esp32_ble/ble_event.h
Labels: code-quality, by-code-owner, component: esp32_ble

#10246 [esp32] Optimize preferences is_changed() by replacing temporary vector with unique_ptr
  esphome/components/esp32/preferences.cpp
Labels: small-pr, code-quality, component: esp32, platform: esp32

#10255 [core] Remove unnecessary FD_SETSIZE check on ESP32 and improve logging
  esphome/core/application.cpp
Labels: core, small-pr, code-quality

#10249 [esp32_ble] Store GATTC/GATTS param and small data inline to nearly eliminate heap allocations
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble_event.h
Labels: code-quality, by-code-owner, component: esp32_ble

#10267 [esp32] Write variant to sdkconfig file
  esphome/components/esp32/__init__.py
Labels: small-pr, bugfix, component: esp32, platform: esp32

#10273 [nextion] Don't include terminating NUL in nextion text_sensor states
  esphome/components/nextion/nextion.cpp
Labels: component: nextion, small-pr, bugfix

#10299 [CI] Rename and expand needs-docs workflow
  .github/workflows/needs-docs.yml
  .github/workflows/status-check-labels.yml
Labels: github-actions

#10258 [atm90e32] Only read 1 register per SPI transaction per datasheet.
  esphome/components/atm90e32/atm90e32.cpp
  esphome/components/atm90e32/atm90e32.h
Labels: component: atm90e32, small-pr, bugfix

#10289 [pipsolar] fix faults_present, fix update interval
  esphome/components/pipsolar/pipsolar.cpp
  esphome/components/pipsolar/pipsolar.h
Labels: bugfix, component: pipsolar

#10298 2025.8.0b3
  Doxyfile
  esphome/__main__.py
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/esp32/__init__.py
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble_event.h
  esphome/components/nextion/nextion.cpp
  esphome/components/senseair/senseair.cpp
  esphome/components/senseair/senseair.h
  esphome/components/web_server/web_server.cpp
  esphome/components/wifi/__init__.py
  esphome/const.py
  esphome/core/__init__.py
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
  esphome/writer.py
  tests/integration/fixtures/scheduler_removed_item_race.yaml
  tests/integration/test_scheduler_removed_item_race.py
  tests/unit_tests/test_writer.py
Labels: merging-to-beta

#10303 [bluetooth_proxy] Fix connection slot race by deferring slot release until GATT close
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
Labels: small-pr, bugfix, by-code-owner, component: bluetooth_proxy

#10284 [safe_mode] Reduce flash usage by 184 bytes through code optimization
  esphome/components/safe_mode/safe_mode.cpp
Labels: code-quality, component: safe_mode

#10308 2025.8.0b4
  Doxyfile
  esphome/components/atm90e32/atm90e32.cpp
  esphome/components/atm90e32/atm90e32.h
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/pipsolar/pipsolar.cpp
  esphome/components/pipsolar/pipsolar.h
  esphome/const.py
Labels: merging-to-beta

#10257 [api] Add zero-copy StringRef methods for compilation_time and effect_name
  esphome/components/api/api_connection.cpp
  esphome/components/light/light_state.cpp
  esphome/components/light/light_state.h
  esphome/core/application.h
Labels: component: api, component: light, core, small-pr, code-quality

#10260 [api] Avoid object_id string allocations for all entity info messages
  esphome/components/api/api_connection.h
  esphome/core/entity_base.cpp
  esphome/core/entity_base.h
Labels: component: api, core, code-quality

#10294 [binary_sensor] Convert LOG_BINARY_SENSOR macro to function to reduce flash usage
  esphome/components/binary_sensor/binary_sensor.cpp
  esphome/components/binary_sensor/binary_sensor.h
Labels: component: binary_sensor, small-pr, code-quality

#10290 [sensor] Convert LOG_SENSOR macro to function to reduce flash usage
  esphome/components/ccs811/ccs811.cpp
  esphome/components/grove_gas_mc_v2/grove_gas_mc_v2.cpp
  esphome/components/hlw8012/hlw8012.cpp
  esphome/components/ntc/ntc.cpp
  esphome/components/pulse_width/pulse_width.cpp
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
  esphome/components/ufire_ec/ufire_ec.cpp
  esphome/components/ufire_ise/ufire_ise.cpp
Labels: component: ccs811, component: hlw8012, component: ntc, component: pulse_width, component: sensor, code-quality, component: ufire_ise, component: ufire_ec, component: grove_gas_mc_v2

#10295 [button] Convert LOG_BUTTON macro to function to reduce flash usage
  esphome/components/button/button.cpp
  esphome/components/button/button.h
Labels: small-pr, code-quality, component: button

#10293 [number] Convert LOG_NUMBER macro to function to reduce flash usage
  esphome/components/number/number.cpp
  esphome/components/number/number.h
Labels: code-quality, component: number

#10195 [light] Add support for querying effects by index
  esphome/components/light/addressable_light_effect.h
  esphome/components/light/base_light_effects.h
  esphome/components/light/light_effect.cpp
  esphome/components/light/light_effect.h
  esphome/components/light/light_json_schema.cpp
  esphome/components/light/light_state.h
Labels: new-feature, needs-docs, component: light

#10307 [CI] Base ``too-big`` label on new additions only
  .github/workflows/auto-label-pr.yml
Labels: small-pr, github-actions

#10256 [core] Eliminate heap allocation in teardown_components by using StaticVector
  esphome/core/application.cpp
Labels: core, code-quality

#10272 [libretiny] Optimize preferences is_changed() by replacing temporary vector with unique_ptr
  esphome/components/libretiny/preferences.cpp
Labels: small-pr, code-quality, component: libretiny, platform: libretiny

#10280 [bluetooth_proxy] Mark BluetoothConnection and BluetoothProxy as final for compiler optimizations
  esphome/components/bluetooth_proxy/bluetooth_connection.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
Labels: small-pr, code-quality, by-code-owner, component: bluetooth_proxy

#10319 [homeassistant] Add compilation test for homeassistant.tag_scanned action
  tests/components/homeassistant/test-tag-scanned.esp32-idf.yaml
Labels: has-tests, small-pr, code-quality

#10270 [core] Add idf-tidy env for esp32-c6
  .clang-tidy.hash
  platformio.ini
Labels: small-pr

#10314 [opentherm] Rename c++ files for predictable doxygen generation
  esphome/components/opentherm/hub.h
  esphome/components/opentherm/number/opentherm_number.cpp
  esphome/components/opentherm/number/opentherm_number.h
  esphome/components/opentherm/output/opentherm_output.cpp
  esphome/components/opentherm/output/opentherm_output.h
  esphome/components/opentherm/switch/opentherm_switch.cpp
  esphome/components/opentherm/switch/opentherm_switch.h
Labels: small-pr, code-quality, component: opentherm

#10315 [ld2420] Rename c++ files for predictable doxygen generation
  esphome/components/ld2420/text_sensor/ld2420_text_sensor.cpp
  esphome/components/ld2420/text_sensor/ld2420_text_sensor.h
Labels: small-pr, code-quality, component: ld2420

#9575 fix temperature config validation regex
  esphome/config_validation.py
Labels: core, small-pr, bugfix

#10348 [http_request] Fix for host after ArduinoJson library bump
  esphome/components/http_request/http_request_host.cpp
  esphome/components/http_request/http_request_host.h
  esphome/components/http_request/httplib.h
Labels: component: http_request, small-pr, bugfix

#10329 [core] Improve error reporting for entity name conflicts with non-ASCII characters
  esphome/core/entity_helpers.py
  tests/unit_tests/core/test_entity_helpers.py
Labels: has-tests, core, code-quality

#10376 [esp32_ble] Increase GATT connection retry count to use full timeout window
  esphome/components/esp32_ble/__init__.py
Labels: small-pr, bugfix, by-code-owner, component: esp32_ble

#10339 [esp32_ble_client] Reduce log level for harmless BLE timeout race conditions
  esphome/components/esp32_ble_client/ble_client_base.cpp
Labels: small-pr, bugfix, by-code-owner, component: esp32_ble_client

#10417 [test] Add integration test for light effect memory corruption fix
  tests/integration/fixtures/light_calls.yaml
  tests/integration/test_light_calls.py
Labels: has-tests, code-quality

#10296 [web_server] Use oi.esphome.io for css and js assets
  esphome/components/web_server/__init__.py
  esphome/components/web_server/web_server.h
Labels: component: web_server, small-pr, code-quality, bugfix

#10416 improve AI instructions
  .ai/instructions.md
Labels: small-pr

#10347 [esp32_ble_client] Add missing ESP_GATTC_UNREG_FOR_NOTIFY_EVT logging
  esphome/components/esp32_ble_client/ble_client_base.cpp
Labels: small-pr, code-quality, bugfix, by-code-owner, component: esp32_ble_client

#10333 [core] Fix preference storage to account for device_id
  esphome/components/climate/climate.cpp
  esphome/components/cover/cover.cpp
  esphome/components/duty_time/duty_time_sensor.cpp
  esphome/components/fan/fan.cpp
  esphome/components/haier/haier_base.cpp
  esphome/components/haier/hon_climate.cpp
  esphome/components/integration/integration_sensor.cpp
  esphome/components/ld2450/ld2450.cpp
  esphome/components/light/light_state.cpp
  esphome/components/lvgl/number/lvgl_number.h
  esphome/components/lvgl/select/lvgl_select.h
  esphome/components/number/automation.cpp
  esphome/components/opentherm/number/opentherm_number.cpp
  esphome/components/rotary_encoder/rotary_encoder.cpp
  esphome/components/sensor/automation.h
  esphome/components/speaker/media_player/speaker_media_player.cpp
  esphome/components/sprinkler/sprinkler.cpp
  esphome/components/switch/switch.cpp
  esphome/components/template/alarm_control_panel/template_alarm_control_panel.cpp
  esphome/components/template/datetime/template_date.cpp
  esphome/components/template/datetime/template_datetime.cpp
  esphome/components/template/datetime/template_time.cpp
  esphome/components/template/number/template_number.cpp
  esphome/components/template/select/template_select.cpp
  esphome/components/template/text/template_text.cpp
  esphome/components/total_daily_energy/total_daily_energy.cpp
  esphome/components/tuya/number/tuya_number.cpp
  esphome/components/valve/valve.cpp
  esphome/core/entity_base.h
  tests/integration/fixtures/multi_device_preferences.yaml
  tests/integration/test_multi_device_preferences.py
Labels: breaking-change, has-tests, core, bugfix, mega-pr

#10436 [core] Dont copy platform source files if there are no entities of that type
  esphome/config.py
  esphome/writer.py
Labels: core, small-pr, bugfix

#10427 2025.8.1
  Doxyfile
  esphome/components/api/__init__.py
  esphome/components/api/api_connection.cpp
  esphome/components/deep_sleep/deep_sleep_esp32.cpp
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
  esphome/components/esp32_ble_tracker/automation.h
  esphome/components/http_request/http_request_host.cpp
  esphome/components/http_request/http_request_host.h
  esphome/components/http_request/httplib.h
  esphome/components/light/light_state.cpp
  esphome/components/light/light_state.h
  esphome/components/lvgl/widgets/canvas.py
  esphome/components/lvgl/widgets/meter.py
  esphome/components/pvvx_mithermometer/display/pvvx_display.cpp
  esphome/components/pvvx_mithermometer/display/pvvx_display.h
  esphome/components/web_server/__init__.py
  esphome/components/web_server/web_server.h
  esphome/components/web_server_idf/web_server_idf.cpp
  esphome/const.py
  esphome/core/application.h
  esphome/core/base_automation.h
  esphome/core/entity_helpers.py
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
  tests/components/deep_sleep/test.esp32-c6-idf.yaml
  tests/components/deep_sleep/test.esp32-s2-idf.yaml
  tests/components/deep_sleep/test.esp32-s3-idf.yaml
  tests/components/esp32_ble_tracker/test-on-scan-end.esp32-idf.yaml
  tests/integration/fixtures/light_calls.yaml
  tests/integration/fixtures/parallel_script_delays.yaml
  tests/integration/test_automations.py
  tests/integration/test_light_calls.py
  tests/unit_tests/core/test_entity_helpers.py
Labels: merging-to-release

#10438 improve const imports of `esphome.const`
  esphome/components/esp32_ble/__init__.py
  esphome/components/sdm_meter/sensor.py
Labels: small-pr, code-quality, component: sdm_meter, component: esp32_ble

#10458 [wifi] Fix reconnection failures after adapter restart by not clearing netif pointers
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: component: wifi, small-pr, bugfix

#10389 [i2c] Perform register reads as single transactions
  esphome/components/axs15231/touchscreen/axs15231_touchscreen.cpp
  esphome/components/bmi160/bmi160.cpp
  esphome/components/bmp280_base/bmp280_base.cpp
  esphome/components/bmp280_base/bmp280_base.h
  esphome/components/bmp280_i2c/bmp280_i2c.cpp
  esphome/components/bmp280_i2c/bmp280_i2c.h
  esphome/components/bmp280_spi/bmp280_spi.cpp
  esphome/components/bmp280_spi/bmp280_spi.h
  esphome/components/ch422g/ch422g.cpp
  esphome/components/ee895/ee895.cpp
  esphome/components/hte501/hte501.cpp
  esphome/components/i2c/__init__.py
  esphome/components/i2c/i2c.cpp
  esphome/components/i2c/i2c.h
  esphome/components/i2c/i2c_bus.h
  esphome/components/i2c/i2c_bus_arduino.cpp
  esphome/components/i2c/i2c_bus_arduino.h
  esphome/components/i2c/i2c_bus_esp_idf.cpp
  esphome/components/i2c/i2c_bus_esp_idf.h
  esphome/components/iaqcore/iaqcore.cpp
  esphome/components/ina2xx_i2c/ina2xx_i2c.cpp
  esphome/components/kmeteriso/kmeteriso.cpp
  esphome/components/lc709203f/lc709203f.cpp
  esphome/components/mcp4461/mcp4461.cpp
  esphome/components/mlx90614/mlx90614.cpp
  esphome/components/mpl3115a2/mpl3115a2.cpp
  esphome/components/npi19/npi19.cpp
  esphome/components/opt3001/opt3001.cpp
  esphome/components/pca6416a/pca6416a.cpp
  esphome/components/pca9554/pca9554.cpp
  esphome/components/st7567_i2c/st7567_i2c.cpp
  esphome/components/tca9548a/tca9548a.cpp
  esphome/components/tca9548a/tca9548a.h
  esphome/components/tee501/tee501.cpp
  esphome/components/tlc59208f/tlc59208f_output.cpp
  esphome/components/veml3235/veml3235.cpp
  esphome/components/veml7700/veml7700.cpp
  esphome/components/veml7700/veml7700.h
Labels: code-quality, bugfix, by-code-owner, mega-pr

#10459 Fix AttributeError when uploading OTA to offline OpenThread devices
  esphome/__main__.py
Labels: core, small-pr, bugfix

#10381 [rtttl] Fix RTTTL for speakers
  esphome/components/rtttl/rtttl.cpp
  esphome/components/rtttl/rtttl.h
Labels: component: rtttl, code-quality, bugfix

#10474 [absolute_humidity] Fix typo
  esphome/components/absolute_humidity/absolute_humidity.cpp
Labels: small-pr, bugfix, by-code-owner, component: absolute_humidity

#10401 [esphome] Fix OTA watchdog resets by validating all magic bytes before blocking
  esphome/components/esphome/ota/ota_esphome.cpp
  esphome/components/esphome/ota/ota_esphome.h
Labels: bugfix, component: esphome

#9972 [mapping] Use custom allocator
  esphome/components/mapping/__init__.py
  esphome/components/mapping/mapping.h
  tests/components/mapping/.gitattributes
  tests/components/mapping/common.yaml
  tests/components/mapping/helvetica.ttf
  tests/components/mapping/test.esp32-ard.yaml
  tests/components/mapping/test.esp32-c3-ard.yaml
  tests/components/mapping/test.esp32-c3-idf.yaml
  tests/components/mapping/test.esp32-idf.yaml
  tests/components/mapping/test.esp8266-ard.yaml
  tests/components/mapping/test.host.yaml
  tests/components/mapping/test.rp2040-ard.yaml
Labels: new-feature, has-tests, code-quality, by-code-owner, component: mapping

#10349 [lvgl] Replace spinbox step with selected_digit
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/widgets/__init__.py
  esphome/components/lvgl/widgets/spinbox.py
  tests/components/lvgl/lvgl-package.yaml
Labels: breaking-change, has-tests, bugfix, by-code-owner, component: lvgl

#10469 [lvgl] Update hello world
  esphome/components/lvgl/hello_world.py
Labels: by-code-owner, component: lvgl

#10475 [mipi] Add type to models for better type hinting downstream
  esphome/components/mipi/__init__.py
Labels: small-pr, code-quality, component: mipi

#9459 Add JPEG encoder support via new camera_encoder component
  CODEOWNERS
  esphome/components/camera/buffer.h
  esphome/components/camera/buffer_impl.cpp
  esphome/components/camera/buffer_impl.h
  esphome/components/camera/camera.h
  esphome/components/camera/encoder.h
  esphome/components/camera_encoder/__init__.py
  esphome/components/camera_encoder/encoder_buffer_impl.cpp
  esphome/components/camera_encoder/encoder_buffer_impl.h
  esphome/components/camera_encoder/esp32_camera_jpeg_encoder.cpp
  esphome/components/camera_encoder/esp32_camera_jpeg_encoder.h
  tests/components/camera_encoder/common.yaml
  tests/components/camera_encoder/test.esp32-ard.yaml
  tests/components/camera_encoder/test.esp32-idf.yaml
Labels: new-component, new-feature, has-tests, by-code-owner, component: camera, component: camera_encoder

#9319 [nrf52] add dfu
  esphome/components/nrf52/__init__.py
  esphome/components/nrf52/const.py
  esphome/components/nrf52/dfu.cpp
  esphome/components/nrf52/dfu.h
  esphome/core/defines.h
  tests/components/nrf52/test.nrf52-adafruit.yaml
Labels: new-feature, has-tests, core, by-code-owner, component: nrf52, platform: nrf52
