Repository esphome/esphome, pull requests merged in 2025-02, with the labels that each got.

#8159 [remote_base] Add default value for offset in is_valid
  esphome/components/remote_base/remote_base.h
Labels: integration: remote_base, small-pr

#8104 Bump zeroconf to 0.143.0
  requirements.txt
Labels: small-pr

#8163 [i2s_audio] Media Player Components PR1
  esphome/components/i2s_audio/speaker/__init__.py
  esphome/const.py
Labels: core, small-pr, integration: i2s_audio

#8164 [audio, i2s_audio, speaker] Media Player Components PR2
  esphome/components/audio/__init__.py
  esphome/components/audio/audio.cpp
  esphome/components/audio/audio.h
  esphome/components/i2s_audio/speaker/__init__.py
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  esphome/components/speaker/__init__.py
  esphome/components/speaker/speaker.h
  platformio.ini
Labels: by-code-owner, integration: i2s_audio, integration: speaker, integration: audio

#8165 [audio] Media Player Components PR3
  esphome/components/audio/audio_transfer_buffer.cpp
  esphome/components/audio/audio_transfer_buffer.h
Labels: by-code-owner, integration: audio

#8151 Add virtual get_flags() to GPIOPin and implementation in InternalGPIOPin derivatives
  esphome/components/esp32/gpio.h
  esphome/components/esp8266/gpio.h
  esphome/components/host/gpio.h
  esphome/components/libretiny/gpio_arduino.h
  esphome/components/rp2040/gpio.h
  esphome/core/gpio.h
Labels: core, small-pr, integration: host, integration: esp32, integration: esp8266, integration: rp2040, integration: libretiny

#8166 [audio] Media Player Components PR4
  esphome/components/audio/audio_reader.cpp
  esphome/components/audio/audio_reader.h
Labels: by-code-owner, integration: audio

#8167 [audio] Media Player Components PR5
  esphome/components/audio/audio_decoder.cpp
  esphome/components/audio/audio_decoder.h
Labels: by-code-owner, integration: audio

#8168 [audio] Media Player Components PR6
  esphome/components/audio/audio_resampler.cpp
  esphome/components/audio/audio_resampler.h
Labels: by-code-owner, integration: audio

#8194 Remove arm/v7 container image support
  .github/workflows/ci-docker.yml
  .github/workflows/release.yml
  docker/Dockerfile
  docker/build.py
Labels: breaking-change, small-pr

#8169 [resampler] Media Player Components PR7
  CODEOWNERS
  esphome/components/audio/audio_decoder.cpp
  esphome/components/audio/audio_resampler.h
  esphome/components/resampler/__init__.py
  esphome/components/resampler/speaker/__init__.py
  esphome/components/resampler/speaker/resampler_speaker.cpp
  esphome/components/resampler/speaker/resampler_speaker.h
  esphome/core/defines.h
  tests/components/resampler/common.yaml
  tests/components/resampler/test.esp32-ard.yaml
  tests/components/resampler/test.esp32-c3-ard.yaml
  tests/components/resampler/test.esp32-c3-idf.yaml
  tests/components/resampler/test.esp32-idf.yaml
  tests/components/resampler/test.esp32-s3-ard.yaml
  tests/components/resampler/test.esp32-s3-idf.yaml
Labels: new-integration, has-tests, core, by-code-owner, integration: audio, integration: resampler

#8170 [mixer] Media Player Components PR8
  CODEOWNERS
  esphome/components/mixer/__init__.py
  esphome/components/mixer/speaker/__init__.py
  esphome/components/mixer/speaker/automation.h
  esphome/components/mixer/speaker/mixer_speaker.cpp
  esphome/components/mixer/speaker/mixer_speaker.h
  tests/components/mixer/common.yaml
  tests/components/mixer/test.esp32-ard.yaml
  tests/components/mixer/test.esp32-c3-ard.yaml
  tests/components/mixer/test.esp32-c3-idf.yaml
  tests/components/mixer/test.esp32-idf.yaml
  tests/components/mixer/test.esp32-s3-ard.yaml
  tests/components/mixer/test.esp32-s3-idf.yaml
Labels: new-integration, has-tests, by-code-owner, integration: mixer

#8195 [CI] Consolidate some tests (F)
  tests/components/fingerprint_grow/common.yaml
  tests/components/fingerprint_grow/test.esp32-ard.yaml
  tests/components/fingerprint_grow/test.esp32-c3-ard.yaml
  tests/components/fingerprint_grow/test.esp32-c3-idf.yaml
  tests/components/fingerprint_grow/test.esp32-idf.yaml
  tests/components/fingerprint_grow/test.esp8266-ard.yaml
  tests/components/fingerprint_grow/test.rp2040-ard.yaml
  tests/components/fs3000/common.yaml
  tests/components/fs3000/test.esp32-ard.yaml
  tests/components/fs3000/test.esp32-c3-ard.yaml
  tests/components/fs3000/test.esp32-c3-idf.yaml
  tests/components/fs3000/test.esp32-idf.yaml
  tests/components/fs3000/test.esp8266-ard.yaml
  tests/components/fs3000/test.rp2040-ard.yaml
  tests/components/ft5x06/common.yaml
  tests/components/ft5x06/test.esp32-ard.yaml
  tests/components/ft5x06/test.esp32-c3-ard.yaml
  tests/components/ft5x06/test.esp32-c3-idf.yaml
  tests/components/ft5x06/test.esp32-idf.yaml
  tests/components/ft5x06/test.esp8266-ard.yaml
  tests/components/ft5x06/test.rp2040-ard.yaml
  tests/components/ft63x6/common.yaml
  tests/components/ft63x6/test.esp32-ard.yaml
  tests/components/ft63x6/test.esp32-c3-ard.yaml
  tests/components/ft63x6/test.esp32-c3-idf.yaml
  tests/components/ft63x6/test.esp32-idf.yaml
  tests/components/ft63x6/test.esp8266-ard.yaml
  tests/components/ft63x6/test.rp2040-ard.yaml
  tests/components/fujitsu_general/common.yaml
  tests/components/fujitsu_general/test.esp32-ard.yaml
  tests/components/fujitsu_general/test.esp32-c3-ard.yaml
  tests/components/fujitsu_general/test.esp32-c3-idf.yaml
  tests/components/fujitsu_general/test.esp32-idf.yaml
  tests/components/fujitsu_general/test.esp8266-ard.yaml
Labels: has-tests, small-pr

#8188 [i2c] Workaround for i2c on s2
  esphome/components/i2c/i2c_bus_esp_idf.cpp
Labels: integration: i2c, core, small-pr

#8190 [lvgl] add triggers for swipe gestures
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/trigger.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#8183 [xxtea] Extract encryption functions to separate component
  CODEOWNERS
  esphome/components/udp/__init__.py
  esphome/components/udp/udp_component.cpp
  esphome/components/xxtea/__init__.py
  esphome/components/xxtea/xxtea.cpp
  esphome/components/xxtea/xxtea.h
Labels: new-integration, by-code-owner, integration: udp, integration: xxtea

#8193 [lvgl] Make layouts work properly on base display
  esphome/components/lvgl/__init__.py
Labels: bugfix, by-code-owner, integration: lvgl

#8199 [preferences] Better handling of flash_write_interval
  esphome/components/preferences/__init__.py
  esphome/components/preferences/syncer.h
  tests/components/preferences/test.esp32-idf.yaml
Labels: has-tests, small-pr, integration: preferences

#8173 [prometheus] Add update entity to prometheus metrics
  esphome/components/prometheus/prometheus_handler.cpp
  esphome/components/prometheus/prometheus_handler.h
  tests/components/prometheus/common.yaml
Labels: has-tests, integration: prometheus

#7745 feat: add target temperature as sensor
  esphome/components/uponor_smatrix/sensor/__init__.py
  esphome/components/uponor_smatrix/sensor/uponor_smatrix_sensor.cpp
  esphome/components/uponor_smatrix/sensor/uponor_smatrix_sensor.h
  tests/components/uponor_smatrix/common.yaml
Labels: has-tests, small-pr, integration: uponor_smatrix

#8178 [esp32_rmt] Set pull-up and open-drain modes based on pin schema
  esphome/components/remote_receiver/remote_receiver_esp32.cpp
  esphome/components/remote_transmitter/__init__.py
  esphome/components/remote_transmitter/remote_transmitter.h
  esphome/components/remote_transmitter/remote_transmitter_esp32.cpp
  tests/components/remote_transmitter/esp32-common-idf.yaml
  tests/components/remote_transmitter/test.esp32-c3-idf.yaml
  tests/components/remote_transmitter/test.esp32-idf.yaml
  tests/components/remote_transmitter/test.esp32-s3-idf.yaml
Labels: breaking-change, integration: remote_receiver, integration: remote_transmitter, has-tests, small-pr

#8177 Add Toto protocol to remote receiver and transmitter
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/toto_protocol.cpp
  esphome/components/remote_base/toto_protocol.h
  tests/components/remote_receiver/common-actions.yaml
  tests/components/remote_transmitter/common-buttons.yaml
Labels: integration: remote_base, has-tests

#8211 Markdown tweaks/updates
  CONTRIBUTING.md
  README.md
Labels: small-pr

#8217 [online_image]Pin specific version of JPEG library
  esphome/components/online_image/__init__.py
  platformio.ini
Labels: small-pr, by-code-owner, integration: online_image

#8222 [logger] Add runtime level select
  CODEOWNERS
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
  esphome/components/logger/select/__init__.py
  esphome/components/logger/select/logger_level_select.cpp
  esphome/components/logger/select/logger_level_select.h
  esphome/core/defines.h
  tests/components/logger/common-default_uart.yaml
Labels: new-integration, integration: logger, has-tests, core

#8216 [online_image] Set Accept header
  esphome/components/online_image/online_image.cpp
Labels: small-pr, integration: online_image

#8221 [waveshare_epaper] Rationalise and complete tests
  esphome/components/waveshare_epaper/display.py
  tests/components/waveshare_epaper/common.yaml
  tests/components/waveshare_epaper/test.esp32-ard.yaml
  tests/components/waveshare_epaper/test.esp32-c3-ard.yaml
  tests/components/waveshare_epaper/test.esp32-c3-idf.yaml
  tests/components/waveshare_epaper/test.esp32-idf.yaml
  tests/components/waveshare_epaper/test.esp8266-ard.yaml
  tests/components/waveshare_epaper/test.rp2040-ard.yaml
Labels: integration: waveshare_epaper, has-tests, small-pr, by-code-owner

#8219 Fix pref conflict of WiFi creds and fast_connect
  esphome/components/wifi/wifi_component.cpp
Labels: integration: wifi, core, small-pr

#8128 Don't activate venv in devcontainer
  .pre-commit-config.yaml
  script/run-in-env.py
Labels: core, small-pr

#8131 Add ADC sampling method option
  esphome/components/adc/__init__.py
  esphome/components/adc/adc_sensor.h
  esphome/components/adc/adc_sensor_common.cpp
  esphome/components/adc/adc_sensor_esp32.cpp
  esphome/components/adc/adc_sensor_esp8266.cpp
  esphome/components/adc/adc_sensor_libretiny.cpp
  esphome/components/adc/adc_sensor_rp2040.cpp
  esphome/components/adc/sensor.py
  tests/component_tests/sensor/test_sensor.yaml
Labels: integration: adc, has-tests, core

#8129 [ota] Increase socket timeout earlier in OTA script
  esphome/espota2.py
Labels: core, small-pr

#8171 [speaker] Media Player Components PR9
  CODEOWNERS
  esphome/components/media_player/__init__.py
  esphome/components/media_player/automation.h
  esphome/components/media_player/media_player.cpp
  esphome/components/media_player/media_player.h
  esphome/components/speaker/media_player/__init__.py
  esphome/components/speaker/media_player/audio_pipeline.cpp
  esphome/components/speaker/media_player/audio_pipeline.h
  esphome/components/speaker/media_player/automation.h
  esphome/components/speaker/media_player/speaker_media_player.cpp
  esphome/components/speaker/media_player/speaker_media_player.h
  tests/components/media_player/common.yaml
  tests/components/speaker/common-media_player.yaml
  tests/components/speaker/media_player.esp32-idf.yaml
  tests/components/speaker/media_player.esp32-s3-idf.yaml
Labels: new-integration, has-tests, by-code-owner, integration: media_player, integration: speaker

#8162 Add partial update of GDEW029T5 e-paper display
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
  tests/components/waveshare_epaper/common.yaml
Labels: integration: waveshare_epaper, has-tests

#7906 Add waveshare 2.9inch e-Paper HAT (D)
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
  tests/components/waveshare_epaper/common.yaml
Labels: integration: waveshare_epaper, has-tests

#8225 [http_request]Use std::string for headers
  esphome/components/http_request/http_request.h
  esphome/components/http_request/http_request_arduino.cpp
  esphome/components/http_request/http_request_idf.cpp
  esphome/components/online_image/online_image.cpp
Labels: integration: http_request, small-pr, by-code-owner, integration: online_image

#8212 [online_image] Improve error handling
  esphome/components/online_image/image_decoder.cpp
  esphome/components/online_image/image_decoder.h
  esphome/components/online_image/jpeg_image.cpp
  esphome/components/online_image/jpeg_image.h
  esphome/components/online_image/online_image.cpp
  esphome/components/online_image/png_image.cpp
  esphome/components/online_image/png_image.h
Labels: by-code-owner, integration: online_image

#8231 [speaker] Bugfix: Ensure all audio is played after completely decoding a file
  esphome/components/speaker/media_player/audio_pipeline.cpp
  esphome/components/speaker/media_player/audio_pipeline.h
Labels: small-pr, by-code-owner, integration: speaker

#8232 [voice_assistant] Add announce support
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
Labels: integration: voice_assistant

#7751 Added Waveshare e-paper display model "7.50inv2p" to the waveshare_epaper component.
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
  tests/components/waveshare_epaper/common.yaml
Labels: integration: waveshare_epaper, has-tests

#7995 added Waveshare BWR Mode for the 4.2in Display
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
  tests/components/waveshare_epaper/common.yaml
Labels: integration: waveshare_epaper, has-tests

#7931 Add GDEY029T94 support
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper

#8061 GDEY042T81 e-paper displays support
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
  tests/components/waveshare_epaper/common.yaml
Labels: integration: waveshare_epaper, has-tests

#6380 Add support for Waveshare 7.3" ACeP 7-Color display
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_213v3.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper

#8235 Bump esphome-dashboard to 20250212.0
  requirements.txt
Labels: small-pr

#8240 [core] Ignore dot-prefixed config entries when looking for target platform
  esphome/core/config.py
Labels: core, small-pr

#8238 Bump zeroconf to 0.144.1
  requirements.txt
Labels: small-pr

#8242 [core] Fix ``config_dir`` for dashboard
  esphome/core/__init__.py
Labels: core, small-pr

#7720 [cse7766] Remove stream dependency
  esphome/components/cse7766/cse7766.cpp
Labels: integration: cse7766, small-pr

#8243 [graph] Remove ``stream`` dependency
  esphome/components/graph/graph.cpp
Labels: small-pr, integration: graph

#8244 [modbus_controller] Remove `stream` dependency
  esphome/components/modbus_controller/text_sensor/modbus_textsensor.cpp
Labels: small-pr, integration: modbus_controller

#8245 [modbus_controller] Extend tests
  tests/components/modbus_controller/common.yaml
Labels: has-tests, small-pr

#8246 2025.2.0b2
  esphome/components/cse7766/cse7766.cpp
  esphome/components/graph/graph.cpp
  esphome/components/modbus_controller/text_sensor/modbus_textsensor.cpp
  esphome/const.py
  esphome/core/__init__.py
  esphome/core/config.py
  requirements.txt
Labels: merging-to-beta

#8248 [logger] Fix bug causing global log level to be overwritten
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
Labels: integration: logger, core, small-pr

#8030 Add support for the DAC on the S2
  esphome/components/esp32_dac/esp32_dac.cpp
  esphome/components/esp32_dac/esp32_dac.h
  esphome/components/esp32_dac/output.py
Labels: integration: esp32_dac

#8249 Fix crash when storage file doesnt exist yet
  esphome/dashboard/web_server.py
Labels: core, small-pr, dashboard

#8251 2025.2.0b3
  esphome/components/esp32_dac/esp32_dac.cpp
  esphome/components/esp32_dac/esp32_dac.h
  esphome/components/esp32_dac/output.py
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
  esphome/components/online_image/image_decoder.cpp
  esphome/components/online_image/jpeg_image.cpp
  esphome/components/online_image/online_image.cpp
  esphome/components/online_image/online_image.h
  esphome/const.py
  esphome/dashboard/web_server.py
Labels: merging-to-beta

#8254 don't crash on null pages
  esphome/components/display/display.cpp
Labels: integration: display, core, small-pr

#8256 [scd30] Increase minimal CONF_UPDATE_INTERVAL from 1 to 2 seconds
  esphome/components/scd30/sensor.py
Labels: breaking-change, integration: scd30, small-pr

#8253 Bump zeroconf to 0.144.3
  requirements.txt
Labels: small-pr

#8257 DHT platform now supports modules with inbuilt external resistor
  esphome/components/dht/dht.cpp
  esphome/components/dht/sensor.py
Labels: integration: dht, small-pr, bugfix

#8259 2025.2.0b4
  esphome/components/dht/dht.cpp
  esphome/components/dht/sensor.py
  esphome/components/display/display.cpp
  esphome/components/scd30/sensor.py
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#8261 Replace glyphsets with esphome_glyphsets
  esphome/components/font/__init__.py
  requirements.txt
Labels: integration: font, core, small-pr

#8262 Switch to native arm runners for docker CI
  .github/workflows/ci-docker.yml
Labels: small-pr

#8105 Bump aioesphomeapi to 29.1.0
  esphome/components/api/client.py
  requirements.txt
Labels: integration: api, core, small-pr

#8264 2025.2.0b5
  esphome/components/api/client.py
  esphome/components/font/__init__.py
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#8268 Use the process CPU count to determine how many children to create
  esphome/core/config.py
  script/clang-format
  script/clang-tidy
  script/helpers.py
Labels: core

#8269 Bump openssh-client to 1:9.2p1-2+deb12u4 to fix docker builds
  docker/Dockerfile
Labels: small-pr

#8265 Increase default repeat delay for Toto remote transmitter protocol
  esphome/components/remote_base/toto_protocol.h
Labels: integration: remote_base, small-pr

#8267 Bump zeroconf to 0.145.1
  requirements.txt
Labels: small-pr

#8272 2025.2.0b6
  docker/Dockerfile
  esphome/components/remote_base/toto_protocol.h
  esphome/const.py
  requirements.txt
Labels: merging-to-beta

#8276 Ruff format for CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  esphome/__main__.py
  esphome/components/climate/__init__.py
  esphome/components/esp32_ble_beacon/__init__.py
  esphome/components/esp8266/gpio.py
  esphome/components/haier/climate.py
  esphome/components/mqtt/__init__.py
  esphome/components/nfc/binary_sensor/__init__.py
  esphome/components/opentherm/binary_sensor/__init__.py
  esphome/components/opentherm/generate.py
  esphome/components/opentherm/sensor/__init__.py
  esphome/components/pn532/binary_sensor.py
  esphome/components/rc522/binary_sensor.py
  esphome/components/thermostat/climate.py
  esphome/config_validation.py
  esphome/cpp_generator.py
  esphome/wizard.py
  esphome/writer.py
  requirements_test.txt
  tests/unit_tests/test_cpp_generator.py
Labels: integration: climate, integration: esp32_ble_beacon, integration: mqtt, integration: pn532, integration: thermostat, has-tests, core, integration: rc522, integration: nfc, integration: esp8266, integration: opentherm, integration: haier

#5674 [ld2450] Add new component
  CODEOWNERS
  esphome/components/ld2450/__init__.py
  esphome/components/ld2450/binary_sensor.py
  esphome/components/ld2450/button/__init__.py
  esphome/components/ld2450/button/reset_button.cpp
  esphome/components/ld2450/button/reset_button.h
  esphome/components/ld2450/button/restart_button.cpp
  esphome/components/ld2450/button/restart_button.h
  esphome/components/ld2450/ld2450.cpp
  esphome/components/ld2450/ld2450.h
  esphome/components/ld2450/number/__init__.py
  esphome/components/ld2450/number/presence_timeout_number.cpp
  esphome/components/ld2450/number/presence_timeout_number.h
  esphome/components/ld2450/number/zone_coordinate_number.cpp
  esphome/components/ld2450/number/zone_coordinate_number.h
  esphome/components/ld2450/select/__init__.py
  esphome/components/ld2450/select/baud_rate_select.cpp
  esphome/components/ld2450/select/baud_rate_select.h
  esphome/components/ld2450/select/zone_type_select.cpp
  esphome/components/ld2450/select/zone_type_select.h
  esphome/components/ld2450/sensor.py
  esphome/components/ld2450/switch/__init__.py
  esphome/components/ld2450/switch/bluetooth_switch.cpp
  esphome/components/ld2450/switch/bluetooth_switch.h
  esphome/components/ld2450/switch/multi_target_switch.cpp
  esphome/components/ld2450/switch/multi_target_switch.h
  esphome/components/ld2450/text_sensor.py
  tests/components/ld2450/common.yaml
  tests/components/ld2450/test.esp32-ard.yaml
  tests/components/ld2450/test.esp32-c3-ard.yaml
  tests/components/ld2450/test.esp32-c3-idf.yaml
  tests/components/ld2450/test.esp32-idf.yaml
  tests/components/ld2450/test.esp8266-ard.yaml
  tests/components/ld2450/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: ld2450

#8294 Finish up transition from black-format to ruff
  .devcontainer/devcontainer.json
  .github/workflows/matchers/lint-python.json
  pyproject.toml
  script/lint-python
Labels: core

#8139 [core, dashboard] load external component to get get_download_types
  esphome/dashboard/web_server.py
Labels: core, small-pr, dashboard

#8299 [ota] set USE_OTA_VERSION 2 in defines
  esphome/core/defines.h
Labels: core, small-pr

#8274 Bump aioesphomeapi to 29.1.1
  requirements.txt
Labels: small-pr

#8308 [socket] add connect method
  esphome/components/socket/bsd_sockets_impl.cpp
  esphome/components/socket/lwip_sockets_impl.cpp
  esphome/components/socket/socket.h
Labels: small-pr, integration: socket

#7547 [api] ensure fair network sharing + prevent lost state changes via deferred publish at high event load
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_server.cpp
  esphome/components/api/list_entities.cpp
  esphome/components/api/list_entities.h
  esphome/components/api/subscribe_state.h
Labels: integration: api, core

#8302 ili9xxx: Add support for GC9D01N circle display
  esphome/components/ili9xxx/display.py
  esphome/components/ili9xxx/ili9xxx_display.h
  esphome/components/ili9xxx/ili9xxx_init.h
Labels: integration: ili9xxx

#7538 web_server: ensure fair network sharing + prevent lost state changes via deferred publish at high event load
  esphome/components/web_server/list_entities.cpp
  esphome/components/web_server/list_entities.h
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/components/web_server_base/__init__.py
  esphome/components/web_server_idf/__init__.py
  esphome/components/web_server_idf/web_server_idf.cpp
  esphome/components/web_server_idf/web_server_idf.h
  platformio.ini
Labels: integration: web_server, integration: web_server_base, integration: web_server_idf

#8311 [i2c] python code style
  esphome/components/i2c/__init__.py
Labels: integration: i2c, core, small-pr

#8258 Adding support for chsc6x touch controller
  CODEOWNERS
  esphome/components/chsc6x/__init__.py
  esphome/components/chsc6x/chsc6x_touchscreen.cpp
  esphome/components/chsc6x/chsc6x_touchscreen.h
  esphome/components/chsc6x/touchscreen.py
  tests/components/chsc6x/test.esp32-ard.yaml
  tests/components/chsc6x/test.esp32-c3-ard.yaml
  tests/components/chsc6x/test.esp32-c3-idf.yaml
  tests/components/chsc6x/test.esp32-idf.yaml
  tests/components/chsc6x/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: chsc6x

#8297 Fix bluetooth race when disconnect called while still connecting
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: esp32_ble_tracker, integration: esp32_ble_client

#8321 [core] make upload_program more generic
  esphome/__main__.py
Labels: core, small-pr

#8324 [core] SplitDefault unit test
  tests/unit_tests/test_config_validation.py
Labels: has-tests, small-pr

#7606 Add option to include vars in remote packages
  esphome/components/packages/__init__.py
  esphome/const.py
  esphome/yaml_util.py
  tests/component_tests/packages/test_packages.py
Labels: integration: packages, has-tests, core

#8305 [ld2450] Fix for "unknown" sensor states
  esphome/components/ld2450/ld2450.cpp
Labels: small-pr, integration: ld2450

#8309 Update arduino-heatpumpir and add new protocol for Panasonic AC
  esphome/components/heatpumpir/climate.py
  esphome/components/heatpumpir/heatpumpir.cpp
  esphome/components/heatpumpir/heatpumpir.h
  platformio.ini
Labels: small-pr, integration: heatpumpir

#6795 MSA311 and MSA301 accelerometer support
  CODEOWNERS
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/widgets/img.py
  esphome/components/msa3xx/__init__.py
  esphome/components/msa3xx/binary_sensor.py
  esphome/components/msa3xx/msa3xx.cpp
  esphome/components/msa3xx/msa3xx.h
  esphome/components/msa3xx/sensor.py
  esphome/components/msa3xx/text_sensor.py
  esphome/components/ssd1306_base/__init__.py
  esphome/const.py
  tests/components/msa3xx/common.yaml
  tests/components/msa3xx/test.esp32-ard.yaml
  tests/components/msa3xx/test.esp32-c3-ard.yaml
  tests/components/msa3xx/test.esp32-c3-idf.yaml
  tests/components/msa3xx/test.esp32-idf.yaml
  tests/components/msa3xx/test.esp8266-ard.yaml
  tests/components/msa3xx/test.rp2040-ard.yaml
Labels: new-integration, integration: ssd1306_base, has-tests, core, integration: lvgl, integration: msa3xx

#8203 Include the bluetooth mac address in the device info when proxy is enabled
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
Labels: integration: api, core, small-pr, integration: bluetooth_proxy

#8263 dashboard: Implement automatic ping fallback
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/esphome/run
  esphome/dashboard/core.py
  esphome/dashboard/dns.py
  esphome/dashboard/entries.py
  esphome/dashboard/settings.py
  esphome/dashboard/status/mdns.py
  esphome/dashboard/status/mqtt.py
  esphome/dashboard/status/ping.py
  esphome/dashboard/web_server.py
  esphome/zeroconf.py
Labels: core, dashboard

#8335 [ld2450] Fix misplaced ``ifdef`` and related logic
  esphome/components/ld2450/ld2450.cpp
Labels: integration: ld2450

#7635 [mlx90393] Fix inverted gain and resolution. Expose temperature_compensation and hallconf.
  esphome/components/mlx90393/sensor.py
  esphome/components/mlx90393/sensor_mlx90393.cpp
  esphome/components/mlx90393/sensor_mlx90393.h
  tests/components/mlx90393/common.yaml
  tests/components/mlx90393/test.esp32-s3-ard.yaml
  tests/components/mlx90393/test.esp32-s3-idf.yaml
Labels: breaking-change, has-tests, integration: mlx90393, by-code-owner

#8300 [font] Use freetype instead of Pillow for font rendering
  esphome/components/font/__init__.py
  esphome/components/font/font.cpp
  esphome/components/font/font.h
  esphome/components/lvgl/font.cpp
Labels: integration: font, core, by-code-owner, integration: lvgl

#8338 [zeroconf] Ruff formatting
  esphome/zeroconf.py
Labels: core, small-pr

#7715 [nrf52, core] unified way how all platforms handle SplitDefault
  esphome/config_validation.py
Labels: core, small-pr

#8341 [audio] Determine http timeout based on duration since last successful read
  esphome/components/audio/audio_reader.cpp
  esphome/components/audio/audio_reader.h
Labels: small-pr, by-code-owner, integration: audio

#5933 Cover component for Tormatic and Novoferm garage doors
  CODEOWNERS
  esphome/components/tormatic/__init__.py
  esphome/components/tormatic/cover.py
  esphome/components/tormatic/tormatic_cover.cpp
  esphome/components/tormatic/tormatic_cover.h
  esphome/components/tormatic/tormatic_protocol.h
  tests/components/tormatic/common.yaml
  tests/components/tormatic/test.esp32-ard.yaml
  tests/components/tormatic/test.esp32-c3-ard.yaml
  tests/components/tormatic/test.esp32-c3-idf.yaml
  tests/components/tormatic/test.esp32-idf.yaml
  tests/components/tormatic/test.esp8266-ard.yaml
  tests/components/tormatic/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: tormatic

#8227 [io_bus] Initial implementation
  CODEOWNERS
  esphome/components/io_bus/__init__.py
  esphome/components/io_bus/io_bus.h
  tests/components/io_bus/common.yaml
  tests/components/io_bus/test.esp32-ard.yaml
  tests/components/io_bus/test.esp32-c3-ard.yaml
  tests/components/io_bus/test.esp32-c3-idf.yaml
  tests/components/io_bus/test.esp32-idf.yaml
  tests/components/io_bus/test.esp8266-ard.yaml
  tests/components/io_bus/test.host.yaml
  tests/components/io_bus/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: io_bus
