Repository esphome/esphome, pull requests merged in 2025-01, with the labels that each got.

#8036 Initialize esp32_rmt_led_strip buffer
  esphome/components/esp32_rmt_led_strip/led_strip.cpp
Labels: small-pr, integration: esp32_rmt_led_strip

#7987 [addressable_light] Remove rmt channel from idf tests
  tests/components/addressable_light/test.esp32-c3-idf.yaml
  tests/components/addressable_light/test.esp32-idf.yaml
Labels: has-tests, small-pr

#8054 Remove rmt channel from idf tests
  tests/components/e131/test.esp32-c3-idf.yaml
  tests/components/e131/test.esp32-idf.yaml
  tests/components/partition/test.esp32-c3-idf.yaml
  tests/components/partition/test.esp32-idf.yaml
Labels: has-tests, small-pr

#8050 Fixed comment typo in light_color_values.h
  esphome/components/light/light_color_values.h
Labels: integration: light, core, small-pr

#7799 Fix braceless else statements
  esphome/components/climate_ir/climate_ir.cpp
  esphome/components/coolix/coolix.cpp
  esphome/components/dfrobot_sen0395/dfrobot_sen0395.cpp
  esphome/components/dht/dht.cpp
  esphome/components/display/display.cpp
  esphome/components/display/rect.cpp
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/gcja5/gcja5.cpp
  esphome/components/haier/haier_base.cpp
  esphome/components/haier/hon_climate.cpp
  esphome/components/heatpumpir/heatpumpir.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/micronova/switch/micronova_switch.cpp
  esphome/components/toshiba/toshiba.cpp
  esphome/components/tuya/light/tuya_light.cpp
  esphome/components/yashima/yashima.cpp
  esphome/core/helpers.cpp
Labels: integration: climate_ir, integration: coolix, integration: dht, integration: display, integration: toshiba, integration: tuya, integration: yashima, core, integration: heatpumpir, integration: esp32_improv, integration: i2s_audio, integration: haier, integration: micronova, integration: gcja5, integration: dfrobot_sen0395

#8060 Enable udp to work (on ipv4) when ipv6 is enabled
  esphome/components/udp/udp_component.cpp
Labels: small-pr, integration: udp

#7996 Update sprinkler.cpp
  esphome/components/sprinkler/sprinkler.cpp
Labels: small-pr, integration: sprinkler

#8038 [lvgl] remove default state
  esphome/components/lvgl/defines.py
Labels: small-pr, by-code-owner, integration: lvgl

#8005 [lvgl] fix bg_image_src
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/widgets/meter.py
  esphome/core/defines.h
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, core, small-pr, by-code-owner, integration: lvgl

#8025 [lgvl] disp_bg_image and disp_bg_opa changes
  esphome/components/lvgl/automation.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/schemas.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, small-pr, by-code-owner, integration: lvgl

#8021 [spi_led_strip] Fix priority
  esphome/components/spi_led_strip/light.py
  esphome/components/spi_led_strip/spi_led_strip.cpp
  esphome/components/spi_led_strip/spi_led_strip.h
Labels: by-code-owner, integration: spi_led_strip

#8000 [config] Early check for required version
  esphome/config.py
Labels: core, small-pr

#7986 [display] auto_clear_enabled defaults
  esphome/components/display/__init__.py
  esphome/components/lvgl/__init__.py
  tests/components/lvgl/test.host.yaml
Labels: integration: display, has-tests, core, small-pr, by-code-owner, integration: lvgl

#8072 Convert IPAddress to use Pythonmodule ipaddress
  esphome/components/ethernet/__init__.py
  esphome/components/udp/__init__.py
  esphome/components/wifi/__init__.py
  esphome/components/wireguard/__init__.py
  esphome/config_validation.py
  esphome/core/__init__.py
  esphome/yaml_util.py
  tests/unit_tests/test_config_validation.py
  tests/unit_tests/test_core.py
Labels: integration: ethernet, integration: wifi, has-tests, core, integration: wireguard, integration: udp

#7604 Add log level env var
  esphome/__main__.py
  esphome/log.py
Labels: core, small-pr

#8066 [spi] relay on KEY_TARGET_PLATFORM as the other platforms does
  esphome/components/spi/__init__.py
  script/build_codeowners.py
  script/build_language_schema.py
Labels: integration: spi, core, small-pr

#8074 Bump python3-setuptools to 66.1.1-1+deb12u1
  docker/Dockerfile
Labels: dependencies, small-pr

#8035 Allow CONF_RMT_CHANNEL parameter for IDF 4.X
  esphome/components/esp32_rmt_led_strip/light.py
Labels: integration: esp32_rmt_led_strip

#8047 [esp32] Fix arch_get_cpu_freq_hz
  esphome/components/esp32/core.cpp
Labels: small-pr, integration: esp32

#8043 Fix Waveshare 7in5bv3bwr image quality in BWR mode
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
Labels: integration: waveshare_epaper, small-pr

#8039 [json] use correct formatting
  esphome/components/json/json_util.cpp
Labels: integration: json, core, small-pr

#8027 [nextion] Brightness control tweaks
  esphome/components/nextion/automation.h
  esphome/components/nextion/display.py
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
  tests/components/nextion/common.yaml
Labels: breaking-change, integration: nextion, has-tests

#7908 [image] Transparency changes; code refactor
  CODEOWNERS
  esphome/components/animation/__init__.py
  esphome/components/animation/animation.cpp
  esphome/components/animation/animation.h
  esphome/components/image/__init__.py
  esphome/components/image/image.cpp
  esphome/components/image/image.h
  esphome/components/online_image/__init__.py
  esphome/components/online_image/image_decoder.h
  esphome/components/online_image/online_image.cpp
  esphome/components/online_image/online_image.h
  esphome/components/online_image/png_image.h
  script/ci-custom.py
  tests/components/animation/.gitattributes
  tests/components/animation/anim.apng
  tests/components/animation/anim.gif
  tests/components/animation/anim.webp
  tests/components/animation/common.yaml
  tests/components/animation/test.esp32-ard.yaml
  tests/components/animation/test.esp32-c3-ard.yaml
  tests/components/animation/test.esp32-c3-idf.yaml
  tests/components/animation/test.esp32-idf.yaml
  tests/components/animation/test.esp8266-ard.yaml
  tests/components/animation/test.rp2040-ard.yaml
  tests/components/image/common.yaml
  tests/components/image/test.host.yaml
  tests/components/online_image/common.yaml
Labels: breaking-change, integration: image, has-tests, core, integration: animation, integration: online_image

#8026 Added VERY_VERBOSE dfplayer printing
  esphome/components/dfplayer/dfplayer.cpp
Labels: integration: dfplayer, small-pr

#8016 [core] fix comment for crc8 function in helpers.h
  esphome/core/helpers.h
Labels: core, small-pr

#8013 [debug] Add framework type to debug info
  esphome/components/debug/debug_esp32.cpp
Labels: integration: debug, core, small-pr

#8012 [debug] Add ESP32 partition table logging to `dump_config`
  esphome/components/debug/debug_component.cpp
  esphome/components/debug/debug_component.h
  esphome/components/debug/debug_esp32.cpp
  tests/components/debug/test.esp32-s2-ard.yaml
  tests/components/debug/test.esp32-s2-idf.yaml
  tests/components/debug/test.esp32-s3-ard.yaml
  tests/components/debug/test.esp32-s3-idf.yaml
Labels: integration: debug, has-tests, core

#8008 [psram] Improve total PSRAM display in logs by using rounded KB values
  esphome/components/psram/psram.cpp
  tests/components/psram/test.esp32-s2-ard.yaml
  tests/components/psram/test.esp32-s2-idf.yaml
  tests/components/psram/test.esp32-s3-ard.yaml
  tests/components/psram/test.esp32-s3-idf.yaml
Labels: has-tests, small-pr, integration: psram

#7992 Use ESPHome logo on readme page according to theme (light/dark)
  README.md
Labels: small-pr

#7998 Fix compile errors with pioarduino/platform-espressif32: wifi_component_esp32_arduino.cpp
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
Labels: integration: wifi, core, small-pr

#7999 Include esp_mac.h and C++20 str_startswith/str_ends
  esphome/core/helpers.cpp
Labels: core, small-pr

#7997 [esp32_wifi] Enhance WiFi component with TCPIP core locking.
  esphome/components/wifi/wifi_component_esp32_arduino.cpp
Labels: integration: wifi, core, small-pr

#8001 add missing include in base_automation.h
  esphome/core/base_automation.h
Labels: core, small-pr

#7990 Fixed libretiny preference wrongly detecting change in the data to store
  esphome/components/libretiny/preferences.cpp
Labels: small-pr, integration: libretiny

#7988 Fixed topic when mac is used
  esphome/components/mqtt/__init__.py
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
Labels: integration: mqtt, core, small-pr

#7985 web_server: Adds REST API POST endpoints to arm and disarm
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server, small-pr

#8075 [lvgl] fix tests
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, small-pr

#8078 Allow external libraries to use ESP_LOGx macros
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/core/log.h
Labels: core, small-pr, integration: lvgl

#8028 [uptime] Add text_sensor
  esphome/components/uptime/sensor/__init__.py
  esphome/components/uptime/sensor/uptime_seconds_sensor.cpp
  esphome/components/uptime/sensor/uptime_seconds_sensor.h
  esphome/components/uptime/sensor/uptime_timestamp_sensor.cpp
  esphome/components/uptime/sensor/uptime_timestamp_sensor.h
  esphome/components/uptime/text_sensor/__init__.py
  esphome/components/uptime/text_sensor/uptime_text_sensor.cpp
  esphome/components/uptime/text_sensor/uptime_text_sensor.h
  tests/components/uptime/common.yaml
Labels: integration: uptime, has-tests, new-platform

#8084 [ili9xxx] psram and 8 bit changes
  esphome/components/ili9xxx/display.py
  esphome/components/ili9xxx/ili9xxx_display.cpp
  esphome/components/ili9xxx/ili9xxx_display.h
  tests/components/ili9xxx/test.esp32-ard.yaml
Labels: breaking-change, has-tests, by-code-owner, integration: ili9xxx

#8019 [spi] Restore ``SPIDelegateDummy``
  esphome/components/spi/spi.cpp
  esphome/components/spi/spi.h
Labels: integration: spi, core, small-pr, by-code-owner

#8087 [lvgl] fix lvgl.widget.update and friends
  esphome/components/lvgl/automation.py
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/widgets/dropdown.py
  esphome/components/lvgl/widgets/keyboard.py
  esphome/components/lvgl/widgets/msgbox.py
  esphome/components/lvgl/widgets/obj.py
  esphome/components/lvgl/widgets/tabview.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#8086 fix(web_server/fan): send speed update values even when fan is off
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server, small-pr

#8007 [es7210] add support for es7210 ADC
  CODEOWNERS
  esphome/components/es7210/__init__.py
  esphome/components/es7210/es7210.cpp
  esphome/components/es7210/es7210.h
  esphome/components/es7210/es7210_const.h
  esphome/components/es8311/audio_dac.py
  esphome/const.py
  tests/components/es7210/common.yaml
  tests/components/es7210/test.esp32-ard.yaml
  tests/components/es7210/test.esp32-c3-ard.yaml
  tests/components/es7210/test.esp32-c3-idf.yaml
  tests/components/es7210/test.esp32-idf.yaml
Labels: new-integration, has-tests, core, by-code-owner, integration: es8311, integration: es7210

#8088 [event] Store ``last_event_type`` in class
  esphome/components/event/event.cpp
  esphome/components/event/event.h
Labels: small-pr, integration: event

#7895 [prometheus] Select, media_player, and number prometheus metrics
  esphome/components/prometheus/prometheus_handler.cpp
  esphome/components/prometheus/prometheus_handler.h
  tests/components/prometheus/common.yaml
  tests/components/prometheus/test.esp32-ard.yaml
Labels: has-tests, integration: prometheus

#8093 Revert "Add resistance_sampler interface for config validation"
  CODEOWNERS
  esphome/components/ntc/sensor.py
  esphome/components/resistance/resistance_sensor.h
  esphome/components/resistance/sensor.py
  esphome/components/resistance_sampler/__init__.py
  esphome/components/resistance_sampler/resistance_sampler.h
Labels: integration: ntc, integration: resistance, small-pr, integration: resistance_sampler

#8095 Fix running pre-commit on Windows
  .pre-commit-config.yaml
  script/run-in-env
  script/run-in-env.sh
Labels: core

#8018 [http_request] Bugfix: run update function in a task
  esphome/components/http_request/http_request_idf.cpp
  esphome/components/http_request/http_request_idf.h
  esphome/components/http_request/update/http_request_update.cpp
  esphome/components/http_request/update/http_request_update.h
Labels: integration: http_request

#8097 Remove black-formatter from pre-commit hooks
  .pre-commit-config.yaml
Labels: small-pr

#8057 Increase Daly-BMS coltage cells from 16 to 18 cells
  esphome/components/daly_bms/daly_bms.cpp
  esphome/components/daly_bms/daly_bms.h
  esphome/components/daly_bms/sensor.py
Labels: small-pr, integration: daly_bms

#8099 2024.12.3
  esphome/components/http_request/http_request_idf.cpp
  esphome/components/http_request/http_request_idf.h
  esphome/components/http_request/update/http_request_update.cpp
  esphome/components/http_request/update/http_request_update.h
  esphome/components/libretiny/preferences.cpp
  esphome/const.py
Labels: merging-to-release

#8100 2024.12.4
  docker/Dockerfile
  esphome/const.py
Labels: merging-to-release

#8113 [image]Rename option "use_transparency"
  esphome/components/image/__init__.py
  esphome/components/online_image/__init__.py
  tests/components/animation/common.yaml
  tests/components/image/common.yaml
  tests/components/image/test.host.yaml
  tests/components/online_image/common.yaml
Labels: integration: image, has-tests, core, small-pr, by-code-owner, integration: online_image

#8114 [online_image] Use RAMAllocator
  esphome/components/online_image/image_decoder.h
  esphome/components/online_image/online_image.h
Labels: small-pr, by-code-owner, integration: online_image

#8110 Fixed incorrect display dimension
  esphome/components/waveshare_epaper/waveshare_213v3.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
Labels: integration: waveshare_epaper, small-pr

#8117 Update defines.h for esp-idf 5.1.5
  esphome/core/defines.h
Labels: core, small-pr

#8094 [audio_adc] Add new ``audio_adc`` component
  CODEOWNERS
  esphome/components/audio_adc/__init__.py
  esphome/components/audio_adc/audio_adc.h
  esphome/components/audio_adc/automation.h
  esphome/components/es7210/__init__.py
  esphome/components/es7210/audio_adc.py
  esphome/components/es7210/es7210.cpp
  esphome/components/es7210/es7210.h
  esphome/components/es7210/es7210_const.h
  tests/components/es7210/common.yaml
Labels: new-integration, has-tests, integration: es7210

#8101 [uptime] Cosmetic improvements for uptime text_sensor
  esphome/components/uptime/text_sensor/__init__.py
  esphome/components/uptime/text_sensor/uptime_text_sensor.cpp
  esphome/components/uptime/text_sensor/uptime_text_sensor.h
Labels: integration: uptime

#8085 [es8156] Add support for ES8156 audio DAC
  CODEOWNERS
  esphome/components/es8156/__init__.py
  esphome/components/es8156/audio_dac.py
  esphome/components/es8156/es8156.cpp
  esphome/components/es8156/es8156.h
  esphome/components/es8156/es8156_const.h
  tests/components/es8156/common.yaml
  tests/components/es8156/test.esp32-ard.yaml
  tests/components/es8156/test.esp32-c3-ard.yaml
  tests/components/es8156/test.esp32-c3-idf.yaml
  tests/components/es8156/test.esp32-idf.yaml
  tests/components/es8156/test.esp8266-ard.yaml
Labels: new-integration, has-tests, integration: es8156

#8092 [esp32_touch] Fix deprecated warning
  esphome/components/esp32_touch/esp32_touch.cpp
Labels: integration: esp32_touch, small-pr

#8118 [core] Remove old style platform configuration
  esphome/core/config.py
  tests/component_tests/binary_sensor/test_binary_sensor.yaml
  tests/component_tests/button/test_button.yaml
  tests/component_tests/deep_sleep/test_deep_sleep1.yaml
  tests/component_tests/deep_sleep/test_deep_sleep2.yaml
  tests/component_tests/sensor/test_sensor.yaml
  tests/component_tests/text_sensor/test_text_sensor.yaml
  tests/unit_tests/fixtures/yaml_util/broken_includetest.yaml
  tests/unit_tests/fixtures/yaml_util/includetest.yaml
  tests/unit_tests/test_yaml_util.py
Labels: breaking-change, has-tests, core, small-pr

#8119 [custom] Remove platforms
  esphome/components/custom/__init__.py
  esphome/components/custom/binary_sensor/__init__.py
  esphome/components/custom/binary_sensor/custom_binary_sensor.cpp
  esphome/components/custom/binary_sensor/custom_binary_sensor.h
  esphome/components/custom/climate/__init__.py
  esphome/components/custom/climate/custom_climate.h
  esphome/components/custom/cover/__init__.py
  esphome/components/custom/cover/custom_cover.h
  esphome/components/custom/light/__init__.py
  esphome/components/custom/light/custom_light_output.h
  esphome/components/custom/output/__init__.py
  esphome/components/custom/output/custom_output.h
  esphome/components/custom/sensor/__init__.py
  esphome/components/custom/sensor/custom_sensor.cpp
  esphome/components/custom/sensor/custom_sensor.h
  esphome/components/custom/switch/__init__.py
  esphome/components/custom/switch/custom_switch.cpp
  esphome/components/custom/switch/custom_switch.h
  esphome/components/custom/text_sensor/__init__.py
  esphome/components/custom/text_sensor/custom_text_sensor.cpp
  esphome/components/custom/text_sensor/custom_text_sensor.h
  esphome/components/custom_component/__init__.py
  esphome/components/custom_component/custom_component.h
Labels: breaking-change, integration: custom, integration: custom_component, core, small-pr

#8010 Add: Human Presence and Target Count to the Seeed Studio MR60BHA2
  esphome/components/seeed_mr60bha2/binary_sensor.py
  esphome/components/seeed_mr60bha2/seeed_mr60bha2.cpp
  esphome/components/seeed_mr60bha2/seeed_mr60bha2.h
  esphome/components/seeed_mr60bha2/sensor.py
  tests/components/seeed_mr60bha2/common.yaml
Labels: has-tests, by-code-owner, new-platform, integration: seeed_mr60bha2

#8098 [es7243e] Add support for ES7243E audio ADC
  CODEOWNERS
  esphome/components/es7243e/__init__.py
  esphome/components/es7243e/audio_adc.py
  esphome/components/es7243e/es7243e.cpp
  esphome/components/es7243e/es7243e.h
  esphome/components/es7243e/es7243e_const.h
  tests/components/es7243e/common.yaml
  tests/components/es7243e/test.esp32-ard.yaml
  tests/components/es7243e/test.esp32-c3-ard.yaml
  tests/components/es7243e/test.esp32-c3-idf.yaml
  tests/components/es7243e/test.esp32-idf.yaml
Labels: new-integration, has-tests

#8122 [debug] fix debug_esp32 printf for partition size and address
  esphome/components/debug/debug_esp32.cpp
Labels: integration: debug, core, small-pr

#8126 [esp32] Set logger default interface for C6
  esphome/components/logger/__init__.py
Labels: integration: logger, core, small-pr

#7616 [core] add support for custom platform
  esphome/components/bk72xx/__init__.py
  esphome/components/esp32/__init__.py
  esphome/components/esp8266/__init__.py
  esphome/components/host/__init__.py
  esphome/components/libretiny/__init__.py
  esphome/components/rp2040/__init__.py
  esphome/components/rtl87xx/__init__.py
  esphome/config.py
  esphome/const.py
  esphome/core/config.py
  esphome/loader.py
Labels: core, integration: host, integration: esp32, integration: esp8266, integration: rp2040, integration: libretiny, integration: bk72xx, integration: rtl87xx

#8124 Add verbose logging for pulse width calculation in pulse_meter
  esphome/components/pulse_meter/pulse_meter_sensor.cpp
Labels: small-pr, integration: pulse_meter

#8102 [ads1115] Add sample rate control
  esphome/components/ads1115/ads1115.cpp
  esphome/components/ads1115/ads1115.h
  esphome/components/ads1115/sensor/__init__.py
  esphome/components/ads1115/sensor/ads1115_sensor.cpp
  esphome/components/ads1115/sensor/ads1115_sensor.h
  tests/components/ads1115/test.esp32-ard.yaml
  tests/components/ads1115/test.esp32-c3-ard.yaml
  tests/components/ads1115/test.esp32-c3-idf.yaml
  tests/components/ads1115/test.esp32-idf.yaml
  tests/components/ads1115/test.esp8266-ard.yaml
  tests/components/ads1115/test.rp2040-ard.yaml
Labels: integration: ads1115, has-tests

#8121 Fix mqtt climate step rounding
  esphome/components/mqtt/mqtt_climate.cpp
Labels: integration: mqtt, core, small-pr

#8125 [spi] Fix data type in bitbash transfer_()
  esphome/components/spi/spi.cpp
Labels: integration: spi, core, small-pr

#8116 [online_image] Add binary bmp support
  esphome/components/online_image/__init__.py
  esphome/components/online_image/bmp_image.cpp
  esphome/components/online_image/bmp_image.h
  esphome/components/online_image/image_decoder.cpp
  esphome/components/online_image/image_decoder.h
  esphome/components/online_image/online_image.cpp
  esphome/components/online_image/online_image.h
  esphome/core/defines.h
  tests/components/online_image/common.yaml
Labels: has-tests, core, integration: online_image

#8130 [online_image] Code Improvements
  esphome/components/online_image/__init__.py
  esphome/components/online_image/image_decoder.h
  esphome/components/online_image/online_image.cpp
  esphome/components/online_image/png_image.cpp
  esphome/components/online_image/png_image.h
Labels: small-pr, by-code-owner, integration: online_image

#8145 Update mdns for ESP-IDF
  esphome/components/mdns/__init__.py
  esphome/idf_component.yml
Labels: core, small-pr, integration: mdns

#8148 Include Bluetooth connection slot allocations in connections free message
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
Labels: integration: api, core, small-pr, integration: bluetooth_proxy

#7009 [esp32_ble_server] Create custom services, characteristics and descriptors
  CODEOWNERS
  esphome/components/ble_client/sensor/__init__.py
  esphome/components/ble_client/text_sensor/__init__.py
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble_server/__init__.py
  esphome/components/esp32_ble_server/ble_2901.cpp
  esphome/components/esp32_ble_server/ble_2901.h
  esphome/components/esp32_ble_server/ble_characteristic.cpp
  esphome/components/esp32_ble_server/ble_characteristic.h
  esphome/components/esp32_ble_server/ble_descriptor.cpp
  esphome/components/esp32_ble_server/ble_descriptor.h
  esphome/components/esp32_ble_server/ble_server.cpp
  esphome/components/esp32_ble_server/ble_server.h
  esphome/components/esp32_ble_server/ble_server_automations.cpp
  esphome/components/esp32_ble_server/ble_server_automations.h
  esphome/components/esp32_ble_server/ble_service.cpp
  esphome/components/esp32_ble_server/ble_service.h
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/esp32_improv/__init__.py
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/esp32_improv/esp32_improv_component.h
  esphome/components/event_emitter/__init__.py
  esphome/components/event_emitter/event_emitter.cpp
  esphome/components/event_emitter/event_emitter.h
  esphome/const.py
  tests/components/esp32_ble_server/common.yaml
Labels: new-integration, integration: esp32_ble_tracker, has-tests, core, integration: ble_client, by-code-owner, integration: esp32_ble_server, integration: esp32_improv, integration: esp32_ble

#8127 [online_image] Add JPEG support to online_image
  esphome/components/online_image/__init__.py
  esphome/components/online_image/image_decoder.cpp
  esphome/components/online_image/image_decoder.h
  esphome/components/online_image/jpeg_image.cpp
  esphome/components/online_image/jpeg_image.h
  esphome/components/online_image/online_image.cpp
  esphome/components/online_image/online_image.h
  esphome/components/online_image/png_image.cpp
  esphome/core/defines.h
  platformio.ini
  tests/components/online_image/common.yaml
Labels: has-tests, core, by-code-owner, integration: online_image

#8155 [logger] Ensure PRIu32 and friends are available
  esphome/core/log.h
Labels: core, small-pr

#8115 Fix forgotten uses of use_transparency
  esphome/components/image/__init__.py
  tests/components/lvgl/lvgl-package.yaml
Labels: integration: image, has-tests, core, small-pr

#8051 Add multicast support to udp component
  esphome/components/network/ip_address.h
  esphome/components/udp/__init__.py
  esphome/components/udp/udp_component.cpp
  esphome/components/udp/udp_component.h
  esphome/config_validation.py
  tests/components/udp/common.yaml
Labels: integration: network, has-tests, core, integration: udp

#8156 [display] Properly handle case of auto_clear_enabled: false
  esphome/components/display/__init__.py
Labels: integration: display, core, small-pr

#8133 [esp32_rmt] Increase default symbols in led strip and remove IRAM config
  esphome/components/esp32_rmt_led_strip/light.py
  esphome/components/remote_receiver/__init__.py
Labels: integration: remote_receiver, small-pr, integration: esp32_rmt_led_strip

#8134 [climate] Accept °K as intended
  esphome/components/climate/__init__.py
Labels: integration: climate, core, small-pr

#8056 [remote_transmitter] Fix issues with 32bit rollover on esp8266 and libretiny
  esphome/components/remote_transmitter/remote_transmitter_esp8266.cpp
  esphome/components/remote_transmitter/remote_transmitter_libretiny.cpp
Labels: integration: remote_transmitter, small-pr

#8044 Use abspath for config path dir
  esphome/core/__init__.py
Labels: core, small-pr
