Repository esphome/esphome, pull requests merged in 2025-07, with the labels that each got.

#9277 [host] Disable platformio ldf
  esphome/components/host/__init__.py
Labels: small-pr, integration: host

#8955 Jinja expressions in configs (Take #3)
  esphome/components/packages/__init__.py
  esphome/components/substitutions/__init__.py
  esphome/components/substitutions/jinja.py
  esphome/config.py
  esphome/yaml_util.py
  requirements.txt
  tests/unit_tests/fixtures/substitutions/.gitignore
  tests/unit_tests/fixtures/substitutions/00-simple_var.approved.yaml
  tests/unit_tests/fixtures/substitutions/00-simple_var.input.yaml
  tests/unit_tests/fixtures/substitutions/01-include.approved.yaml
  tests/unit_tests/fixtures/substitutions/01-include.input.yaml
  tests/unit_tests/fixtures/substitutions/02-expressions.approved.yaml
  tests/unit_tests/fixtures/substitutions/02-expressions.input.yaml
  tests/unit_tests/fixtures/substitutions/03-closures.approved.yaml
  tests/unit_tests/fixtures/substitutions/03-closures.input.yaml
  tests/unit_tests/fixtures/substitutions/04-display_example.approved.yaml
  tests/unit_tests/fixtures/substitutions/04-display_example.input.yaml
  tests/unit_tests/fixtures/substitutions/closures_package.yaml
  tests/unit_tests/fixtures/substitutions/display.yaml
  tests/unit_tests/fixtures/substitutions/inc1.yaml
  tests/unit_tests/test_substitutions.py
Labels: integration: packages, integration: substitutions, has-tests, core

#9059 Use interrupt based approach for esp32_touch
  esphome/components/esp32_touch/esp32_touch.cpp
  esphome/components/esp32_touch/esp32_touch.h
  esphome/components/esp32_touch/esp32_touch_common.cpp
  esphome/components/esp32_touch/esp32_touch_v1.cpp
  esphome/components/esp32_touch/esp32_touch_v2.cpp
Labels: integration: esp32_touch

#9156 [modbus] Modbus server role: write holding registers
  esphome/components/modbus/modbus.cpp
  esphome/components/modbus/modbus.h
  esphome/components/modbus_controller/__init__.py
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/modbus_controller/modbus_controller.h
  tests/components/modbus_controller/common.yaml
Labels: integration: modbus, has-tests, integration: modbus_controller

#9145 [esp32] Remove IDF 4 support and clean up code
  esphome/components/adc/adc_sensor.h
  esphome/components/esp32/__init__.py
  esphome/components/esp32/core.cpp
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/ethernet/esp_eth_phy_jl1101.c
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/i2s_audio/__init__.py
  esphome/components/i2s_audio/i2s_audio.cpp
  esphome/components/improv_serial/improv_serial_component.cpp
  esphome/components/internal_temperature/internal_temperature.cpp
  esphome/components/internal_temperature/sensor.py
  esphome/components/logger/logger_esp32.cpp
  esphome/components/mdns/__init__.py
  esphome/components/mqtt/mqtt_backend_esp32.cpp
  esphome/components/opentherm/opentherm.cpp
  esphome/components/ota/ota_backend_esp_idf.cpp
  esphome/components/psram/psram.cpp
  esphome/components/pvvx_mithermometer/display/pvvx_display.cpp
  esphome/components/rpi_dpi_rgb/rpi_dpi_rgb.cpp
  esphome/components/st7701s/st7701s.cpp
  esphome/components/uart/uart_component_esp_idf.cpp
  esphome/components/watchdog/watchdog.cpp
  esphome/components/wireguard/__init__.py
Labels: breaking-change

#9283 Fix regression: BK7231N devices not returning entities via API
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
Labels: integration: api, core

#9288 [api] Dump bytes fields as hex instead of unreadable string
  esphome/components/api/api_pb2.cpp
  esphome/core/helpers.cpp
  esphome/core/helpers.h
  script/api_protobuf/api_protobuf.py
Labels: integration: api, core

#9278 Reduce Component memory usage by 40% (8 bytes per component)
  esphome/core/application.cpp
  esphome/core/component.cpp
  esphome/core/component.h
Labels: core

#9274 Replace custom OTA implementation in web_server_base
  CODEOWNERS
  esphome/components/captive_portal/__init__.py
  esphome/components/captive_portal/captive_portal.cpp
  esphome/components/ota/ota_backend.h
  esphome/components/ota/ota_backend_arduino_esp32.cpp
  esphome/components/ota/ota_backend_arduino_esp32.h
  esphome/components/ota/ota_backend_arduino_esp8266.cpp
  esphome/components/ota/ota_backend_arduino_esp8266.h
  esphome/components/ota/ota_backend_arduino_libretiny.cpp
  esphome/components/ota/ota_backend_arduino_libretiny.h
  esphome/components/ota/ota_backend_arduino_rp2040.cpp
  esphome/components/ota/ota_backend_arduino_rp2040.h
  esphome/components/ota/ota_backend_esp_idf.cpp
  esphome/components/ota/ota_backend_esp_idf.h
  esphome/components/web_server/__init__.py
  esphome/components/web_server/ota/__init__.py
  esphome/components/web_server/ota/ota_web_server.cpp
  esphome/components/web_server/ota/ota_web_server.h
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/components/web_server/web_server_v1.cpp
  esphome/components/web_server_base/__init__.py
  esphome/components/web_server_base/web_server_base.cpp
  esphome/components/web_server_base/web_server_base.h
  esphome/components/web_server_idf/__init__.py
  esphome/config.py
  tests/component_tests/ota/test_web_server_ota.py
  tests/component_tests/ota/test_web_server_ota.yaml
  tests/component_tests/ota/test_web_server_ota_arduino.yaml
  tests/component_tests/ota/test_web_server_ota_callbacks.yaml
  tests/component_tests/ota/test_web_server_ota_esp8266.yaml
  tests/component_tests/ota/test_web_server_ota_idf.yaml
  tests/component_tests/ota/test_web_server_ota_multi.yaml
  tests/component_tests/web_server/test_ota_migration.py
  tests/components/web_server/test_no_ota.esp32-idf.yaml
  tests/components/web_server/test_ota.esp32-idf.yaml
  tests/components/web_server/test_ota_disabled.esp32-idf.yaml
Labels: new-integration, breaking-change, integration: captive_portal, integration: ota, integration: web_server, integration: web_server_base, has-tests, core, integration: web_server_idf

#9282 pulse_meter total
  esphome/components/pulse_meter/pulse_meter_sensor.cpp
Labels: small-pr, integration: pulse_meter

#9242 [http_request] allow retrieval of more than just the first header
  esphome/components/http_request/http_request_arduino.cpp
  esphome/components/http_request/http_request_idf.cpp
Labels: integration: http_request, small-pr

#8959 Mmc5603 fix for devices that don't retrieve chip_id
  esphome/components/mmc5603/mmc5603.cpp
Labels: small-pr, integration: mmc5603

#8896 made qr_code elements optional
  esphome/components/qr_code/__init__.py
Labels: small-pr, integration: qr_code

#9164 [nextion] memory optimization
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_commands.cpp
Labels: integration: nextion, small-pr, by-code-owner

#9289 Use encode_bytes() for protobuf bytes fields
  esphome/components/api/api_pb2.cpp
  script/api_protobuf/api_protobuf.py
Labels: integration: api, core, small-pr

#7378 [heatpumpir] Add Support for PHS32 HeatPump
  esphome/components/heatpumpir/climate.py
  esphome/components/heatpumpir/heatpumpir.cpp
  esphome/components/heatpumpir/heatpumpir.h
Labels: small-pr, integration: heatpumpir

#9290 [time] Add ``USE_TIME_TIMEZONE`` define
  esphome/components/time/__init__.py
  esphome/components/time/real_time_clock.cpp
  esphome/components/time/real_time_clock.h
  esphome/core/defines.h
Labels: integration: time, core, small-pr

#9147 [ds2484] New component
  CODEOWNERS
  esphome/components/ds2484/__init__.py
  esphome/components/ds2484/ds2484.cpp
  esphome/components/ds2484/ds2484.h
  esphome/components/ds2484/one_wire.py
  tests/components/ds2484/common.yaml
  tests/components/ds2484/test.esp32-ard.yaml
  tests/components/ds2484/test.esp32-c3-ard.yaml
  tests/components/ds2484/test.esp32-c3-idf.yaml
  tests/components/ds2484/test.esp32-idf.yaml
  tests/components/ds2484/test.esp8266-ard.yaml
  tests/components/ds2484/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: ds2484

#9296 Fix missing ifdef guards in API protobuf generator
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/api/api_pb2_service.h
  script/api_protobuf/api_protobuf.py
Labels: integration: api, core

#9297 Save flash and RAM by conditionally compiling unused API password code
  esphome/components/api/__init__.py
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
Labels: integration: api, core, small-pr

#9279 Packages: optional base path for remote git packages
  esphome/components/packages/__init__.py
  tests/components/packages/test.esp32-ard.yaml
  tests/components/packages/test.esp32-idf.yaml
Labels: integration: packages, has-tests, core, small-pr

#7490 [sx127x] Add sx127x component
  CODEOWNERS
  esphome/components/sx127x/__init__.py
  esphome/components/sx127x/automation.h
  esphome/components/sx127x/packet_transport/__init__.py
  esphome/components/sx127x/packet_transport/sx127x_transport.cpp
  esphome/components/sx127x/packet_transport/sx127x_transport.h
  esphome/components/sx127x/sx127x.cpp
  esphome/components/sx127x/sx127x.h
  esphome/components/sx127x/sx127x_reg.h
  tests/components/sx127x/common.yaml
  tests/components/sx127x/test.esp32-ard.yaml
  tests/components/sx127x/test.esp32-c3-ard.yaml
  tests/components/sx127x/test.esp32-c3-idf.yaml
  tests/components/sx127x/test.esp32-idf.yaml
  tests/components/sx127x/test.esp8266-ard.yaml
  tests/components/sx127x/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: sx127x

#9304 Add device_id to entity state messages for sub-device support
  esphome/components/api/api.proto
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  tests/integration/fixtures/device_id_in_state.yaml
  tests/integration/test_device_id_in_state.py
Labels: integration: api, has-tests, core

#9309 Fix web_server URL parsing lifetime issue
  esphome/components/web_server/web_server.cpp
Labels: integration: web_server

#9308 Reduce web_server loop overhead on ESP32 by avoiding unnecessary semaphore operations
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
Labels: integration: web_server, small-pr

#9312 Fix web_server busy loop with ungracefully disconnected clients
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
Labels: integration: web_server, small-pr

#9324 Add const char overload for Component::defer()
  esphome/core/component.cpp
  esphome/core/component.h
  tests/integration/fixtures/scheduler_string_test.yaml
  tests/integration/test_scheduler_string_test.py
Labels: has-tests, core, small-pr

#9318 [rtttl] trim extraneous whitespace in "ac_dimmer" in "PWM_BAD" list
  esphome/components/rtttl/__init__.py
Labels: integration: rtttl, small-pr

#9335 Mark ESPTime comparison operators as const
  esphome/core/time.cpp
  esphome/core/time.h
Labels: core, small-pr

#9338 [nextion] Memory optimization
  esphome/components/nextion/display.py
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
  esphome/components/nextion/nextion_commands.cpp
Labels: integration: nextion, small-pr, by-code-owner

#9339 Reduce RAM usage by optimizing Color constant storage
  esphome/core/color.cpp
  esphome/core/color.h
Labels: breaking-change, core, small-pr

#9341 Eliminate API component guard variable to save 8 bytes RAM
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
Labels: integration: api, core, small-pr

#9344 Eliminate web_server_idf guard variable to save 8 bytes RAM
  esphome/components/web_server_idf/web_server_idf.cpp
  esphome/components/web_server_idf/web_server_idf.h
Labels: small-pr, integration: web_server_idf

#9347 [scd4x] Optimize logging + minor code clean-up
  esphome/components/scd4x/scd4x.cpp
  esphome/components/scd4x/scd4x.h
Labels: integration: scd4x

#9351 [sx127x] Improve error handling
  esphome/components/sx127x/sx127x.cpp
  esphome/components/sx127x/sx127x.h
Labels: small-pr, by-code-owner, integration: sx127x

#9317 Fix defer() thread safety issues on multi-core platforms
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/core/helpers.cpp
  esphome/core/helpers.h
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
  tests/integration/fixtures/defer_fifo_simple.yaml
  tests/integration/fixtures/defer_stress.yaml
  tests/integration/fixtures/external_components/defer_stress_component/__init__.py
  tests/integration/fixtures/external_components/defer_stress_component/defer_stress_component.cpp
  tests/integration/fixtures/external_components/defer_stress_component/defer_stress_component.h
  tests/integration/test_defer_fifo_simple.py
  tests/integration/test_defer_stress.py
Labels: integration: web_server, has-tests, core

#9174 [update, http_request_update] Implement update available trigger
  esphome/components/http_request/update/http_request_update.cpp
  esphome/components/update/update_entity.h
  tests/components/http_request/common.yaml
  tests/components/update/common.yaml
Labels: integration: http_request, has-tests, integration: update

#9330 Split LockFreeQueue into base and notifying variants to reduce memory usage
  esphome/components/esp32_ble/ble.h
  esphome/components/mqtt/mqtt_backend_esp32.h
  esphome/core/lock_free_queue.h
Labels: integration: mqtt, core, integration: esp32_ble

#9313 Use std::span to eliminate heap allocation for single-packet API transmissions
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
Labels: integration: api, core

#9357 [sx127x] Fix shaping print in dump_config and preallocate packet
  esphome/components/sx127x/sx127x.cpp
  esphome/components/sx127x/sx127x.h
Labels: small-pr, by-code-owner, integration: sx127x

#9285 Introduce base Camera class to support alternative camera implementations
  CODEOWNERS
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/list_entities.cpp
  esphome/components/api/list_entities.h
  esphome/components/camera/__init__.py
  esphome/components/camera/camera.cpp
  esphome/components/camera/camera.h
  esphome/components/esp32_camera/__init__.py
  esphome/components/esp32_camera/esp32_camera.cpp
  esphome/components/esp32_camera/esp32_camera.h
  esphome/components/esp32_camera_web_server/__init__.py
  esphome/components/esp32_camera_web_server/camera_web_server.cpp
  esphome/components/esp32_camera_web_server/camera_web_server.h
  esphome/core/component_iterator.cpp
  esphome/core/component_iterator.h
  esphome/core/defines.h
  tests/components/camera/common.yaml
  tests/components/camera/test.esp32-ard.yaml
  tests/components/camera/test.esp32-idf.yaml
Labels: new-integration, integration: api, integration: esp32_camera, has-tests, core, integration: esp32_camera_web_server, integration: camera

#9356 [inkplate6] Require 240mhz cpu frequency
  esphome/components/inkplate6/display.py
  tests/components/inkplate6/common.yaml
Labels: has-tests, small-pr, by-code-owner, integration: inkplate6

#8516 [sx126x] Add sx126x component
  CODEOWNERS
  esphome/components/sx126x/__init__.py
  esphome/components/sx126x/automation.h
  esphome/components/sx126x/packet_transport/__init__.py
  esphome/components/sx126x/packet_transport/sx126x_transport.cpp
  esphome/components/sx126x/packet_transport/sx126x_transport.h
  esphome/components/sx126x/sx126x.cpp
  esphome/components/sx126x/sx126x.h
  esphome/components/sx126x/sx126x_reg.h
  tests/components/sx126x/common.yaml
  tests/components/sx126x/test.esp32-ard.yaml
  tests/components/sx126x/test.esp32-c3-ard.yaml
  tests/components/sx126x/test.esp32-c3-idf.yaml
  tests/components/sx126x/test.esp32-idf.yaml
  tests/components/sx126x/test.esp8266-ard.yaml
  tests/components/sx126x/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: sx126x

#9350 [nextion] Optimize settings memory usage with compile-time defines
  esphome/components/nextion/display.py
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
Labels: integration: nextion, by-code-owner

#9363 [ld2450] Clean-up for consistency, reduce CPU usage when idle
  esphome/components/ld2450/button/__init__.py
  esphome/components/ld2450/button/factory_reset_button.cpp
  esphome/components/ld2450/button/factory_reset_button.h
  esphome/components/ld2450/button/reset_button.cpp
  esphome/components/ld2450/ld2450.cpp
  esphome/components/ld2450/ld2450.h
Labels: integration: ld2450

#9328 Optimize Bluetooth proxy batching and increase scan buffer capacity
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/esp32_ble/ble.h
Labels: small-pr, integration: esp32_ble, integration: bluetooth_proxy

#9348 Fix scheduler race conditions and add comprehensive test suite
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
  tests/integration/fixtures/external_components/scheduler_bulk_cleanup_component/__init__.py
  tests/integration/fixtures/external_components/scheduler_bulk_cleanup_component/scheduler_bulk_cleanup_component.cpp
  tests/integration/fixtures/external_components/scheduler_bulk_cleanup_component/scheduler_bulk_cleanup_component.h
  tests/integration/fixtures/external_components/scheduler_heap_stress_component/__init__.py
  tests/integration/fixtures/external_components/scheduler_heap_stress_component/heap_scheduler_stress_component.cpp
  tests/integration/fixtures/external_components/scheduler_heap_stress_component/heap_scheduler_stress_component.h
  tests/integration/fixtures/external_components/scheduler_rapid_cancellation_component/__init__.py
  tests/integration/fixtures/external_components/scheduler_rapid_cancellation_component/rapid_cancellation_component.cpp
  tests/integration/fixtures/external_components/scheduler_rapid_cancellation_component/rapid_cancellation_component.h
  tests/integration/fixtures/external_components/scheduler_recursive_timeout_component/__init__.py
  tests/integration/fixtures/external_components/scheduler_recursive_timeout_component/recursive_timeout_component.cpp
  tests/integration/fixtures/external_components/scheduler_recursive_timeout_component/recursive_timeout_component.h
  tests/integration/fixtures/external_components/scheduler_simultaneous_callbacks_component/__init__.py
  tests/integration/fixtures/external_components/scheduler_simultaneous_callbacks_component/simultaneous_callbacks_component.cpp
  tests/integration/fixtures/external_components/scheduler_simultaneous_callbacks_component/simultaneous_callbacks_component.h
  tests/integration/fixtures/external_components/scheduler_string_lifetime_component/__init__.py
  tests/integration/fixtures/external_components/scheduler_string_lifetime_component/string_lifetime_component.cpp
  tests/integration/fixtures/external_components/scheduler_string_lifetime_component/string_lifetime_component.h
  tests/integration/fixtures/external_components/scheduler_string_name_stress_component/__init__.py
  tests/integration/fixtures/external_components/scheduler_string_name_stress_component/string_name_stress_component.cpp
  tests/integration/fixtures/external_components/scheduler_string_name_stress_component/string_name_stress_component.h
  tests/integration/fixtures/scheduler_bulk_cleanup.yaml
  tests/integration/fixtures/scheduler_defer_cancel.yaml
  tests/integration/fixtures/scheduler_defer_cancels_regular.yaml
  tests/integration/fixtures/scheduler_defer_fifo_simple.yaml
  tests/integration/fixtures/scheduler_defer_stress.yaml
  tests/integration/fixtures/scheduler_heap_stress.yaml
  tests/integration/fixtures/scheduler_rapid_cancellation.yaml
  tests/integration/fixtures/scheduler_recursive_timeout.yaml
  tests/integration/fixtures/scheduler_simultaneous_callbacks.yaml
  tests/integration/fixtures/scheduler_string_lifetime.yaml
  tests/integration/fixtures/scheduler_string_name_stress.yaml
  tests/integration/test_scheduler_bulk_cleanup.py
  tests/integration/test_scheduler_defer_cancel.py
  tests/integration/test_scheduler_defer_cancel_regular.py
  tests/integration/test_scheduler_defer_fifo_simple.py
  tests/integration/test_scheduler_defer_stress.py
  tests/integration/test_scheduler_heap_stress.py
  tests/integration/test_scheduler_rapid_cancellation.py
  tests/integration/test_scheduler_recursive_timeout.py
  tests/integration/test_scheduler_simultaneous_callbacks.py
  tests/integration/test_scheduler_string_lifetime.py
  tests/integration/test_scheduler_string_name_stress.py
Labels: has-tests, core

#9333 Reduce LightCall memory usage by 50 bytes per call
  esphome/components/light/addressable_light.h
  esphome/components/light/esp_color_correction.h
  esphome/components/light/light_call.cpp
  esphome/components/light/light_call.h
  esphome/components/light/light_color_values.h
  esphome/components/light/light_state.h
  esphome/components/light/transformers.h
  tests/integration/fixtures/light_calls.yaml
  tests/integration/test_light_calls.py
Labels: integration: light, has-tests, core

#9340 Reduce core RAM usage by 40 bytes with static initialization optimizations
  esphome/core/component.cpp
  esphome/core/helpers.cpp
Labels: core

#9364 Fix format specifier warnings in QuantileFilter logging
  esphome/components/sensor/filter.cpp
Labels: integration: sensor, core, small-pr

#9369 Optimize logger performance by eliminating redundant strlen calls
  esphome/components/logger/logger.h
  esphome/components/logger/logger_esp32.cpp
Labels: integration: logger, core, small-pr

#9365 Replace deprecated sprintf with snprintf in API protobuf code generation
  esphome/components/api/api_pb2_dump.cpp
  script/api_protobuf/api_protobuf.py
Labels: integration: api, core

#9370 Refactor duplicate socket read error handling in API frame helper
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
Labels: integration: api, core

#9371 Refactor entity lookup methods with macros in preparation for device_id support
  esphome/components/api/api_connection.cpp
  esphome/core/application.h
Labels: integration: api, core

#9343 Eliminate bluetooth_proxy guard variable to save 8 bytes RAM
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
Labels: small-pr, integration: bluetooth_proxy

#9373 [nextion] Optimize component memory usage with bitfield state management
  esphome/components/nextion/binary_sensor/nextion_binarysensor.cpp
  esphome/components/nextion/nextion_component.cpp
  esphome/components/nextion/nextion_component.h
  esphome/components/nextion/sensor/nextion_sensor.cpp
  esphome/components/nextion/switch/nextion_switch.cpp
  esphome/components/nextion/text_sensor/nextion_textsensor.cpp
Labels: integration: nextion, by-code-owner

#9376 Fix brightness setting not working on SSD1305 128x32 OLEDs
  esphome/components/ssd1306_base/ssd1306_base.cpp
Labels: integration: ssd1306_base, small-pr

#9379 Fix flaky test_api_conditional_memory and improve integration test patterns
  tests/integration/README.md
  tests/integration/fixtures/api_conditional_memory.yaml
  tests/integration/test_api_conditional_memory.py
  tests/integration/test_api_vv_logging.py
  tests/integration/test_areas_and_devices.py
  tests/integration/test_device_id_in_state.py
  tests/integration/test_entity_icon.py
  tests/integration/test_host_mode_entity_fields.py
  tests/integration/test_host_mode_many_entities.py
  tests/integration/test_host_mode_sensor.py
  tests/integration/test_light_calls.py
Labels: has-tests, small-pr

#9367 hydreon_rgxx: remove precipitation_intensity from RG9
  esphome/components/hydreon_rgxx/sensor.py
Labels: small-pr, by-code-owner, integration: hydreon_rgxx

#9326 [image] Add byte order option and unit tests
  esphome/components/const/__init__.py
  esphome/components/image/__init__.py
  tests/component_tests/conftest.py
  tests/component_tests/image/config/bad.png
  tests/component_tests/image/config/image.png
  tests/component_tests/image/config/image_test.yaml
  tests/component_tests/image/test_init.py
  tests/components/image/test.esp32-ard.yaml
  tests/components/image/test.esp32-c3-ard.yaml
  tests/components/image/test.esp32-c3-idf.yaml
  tests/components/image/test.esp8266-ard.yaml
Labels: integration: image, has-tests, core, integration: const

#9383 Fix integration test race condition by isolating PlatformIO directories
  tests/integration/conftest.py
Labels: has-tests, small-pr

#9322 Fix format string error in waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
Labels: integration: waveshare_epaper, small-pr

#9384 [nfc] Update code to use ``format_hex_pretty``
  esphome/components/nfc/nfc.cpp
  esphome/components/nfc/nfc.h
Labels: small-pr, by-code-owner, integration: nfc

#8329 Add support for GL-R01 I2C - Time of Flight sensor
  CODEOWNERS
  esphome/components/gl_r01_i2c/__init__.py
  esphome/components/gl_r01_i2c/gl_r01_i2c.cpp
  esphome/components/gl_r01_i2c/gl_r01_i2c.h
  esphome/components/gl_r01_i2c/sensor.py
  tests/components/gl_r01_i2c/common.yaml
  tests/components/gl_r01_i2c/test.esp32-ard.yaml
  tests/components/gl_r01_i2c/test.esp32-c3-ard.yaml
  tests/components/gl_r01_i2c/test.esp32-c3-idf.yaml
  tests/components/gl_r01_i2c/test.esp32-idf.yaml
  tests/components/gl_r01_i2c/test.esp8266-ard.yaml
  tests/components/gl_r01_i2c/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: gl_r01_i2c

#9387 ESP_EXT1_WAKEUP_ANY_LOW is for s2/s3/c6/h2; ESP_EXT1_WAKEUP_ALL_LOW otherwise
  esphome/components/deep_sleep/__init__.py
Labels: integration: deep_sleep, core

#9392 [apds9960] Add 0x9E ID
  esphome/components/apds9960/apds9960.cpp
Labels: integration: apds9960, small-pr

#9396 Speed up clang-tidy CI by 80%+ with incremental checking
  .clang-tidy.hash
  .github/workflows/ci-clang-tidy-hash.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  script/ci-custom.py
  script/clang-tidy
  script/clang_tidy_hash.py
  script/helpers.py
  tests/script/__init__.py
  tests/script/test_clang_tidy_hash.py
  tests/script/test_helpers.py
Labels: has-tests, core

#9399 Fix another race in the string lifetime scheduler test
  tests/integration/fixtures/external_components/scheduler_string_lifetime_component/string_lifetime_component.cpp
Labels: has-tests, small-pr

#9414 [esp32_touch] Fix touch v1
  esphome/components/esp32_touch/esp32_touch_v1.cpp
Labels: integration: esp32_touch, small-pr

#9411 Fix PlatformIO cache in CI by adding platformio.ini hash to cache key
  .github/workflows/ci.yml
Labels: small-pr

#9412 Fix clang-tidy triggering full scan on Python-only core file changes
  script/helpers.py
  tests/script/test_helpers.py
Labels: has-tests, core, small-pr

#9413 Implement shared PlatformIO cache for integration tests
  tests/integration/conftest.py
Labels: has-tests, small-pr

#9417 Fix Python cache key mismatch for all pytest jobs
  .github/workflows/ci.yml
Labels: small-pr

#8460 Adding support for Airthings Wave Gen2
  CODEOWNERS
  esphome/components/airthings_wave_plus/__init__.py
  esphome/components/airthings_wave_plus/airthings_wave_plus.cpp
  esphome/components/airthings_wave_plus/airthings_wave_plus.h
  esphome/components/airthings_wave_plus/sensor.py
Labels: integration: airthings_wave_plus

#9421 Fix clang-tidy not finding changed files on squash-merge commits
  .github/workflows/ci.yml
Labels: small-pr

#9422 debug: bufferoverflow mitigation in DebugComponent::on_shutdown()
  esphome/components/debug/debug_esp32.cpp
Labels: integration: debug, core, small-pr

#9423 [config] Add bitrate validator
  esphome/config_validation.py
Labels: core, small-pr

#9410 Exclude internal entities from name uniqueness validation
  esphome/core/entity_helpers.py
  tests/unit_tests/core/test_entity_helpers.py
Labels: has-tests, core, small-pr

#9432 CI: Centralize test determination logic to reduce unnecessary job runners
  .github/workflows/ci.yml
  script/determine-jobs.py
  script/helpers.py
  script/list-components.py
  tests/script/test_determine_jobs.py
  tests/script/test_helpers.py
Labels: has-tests, core

#9393 Sync api.proto from aioesphomeapi
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
Labels: integration: api, core

#9448 [wizard] use lowercase to match
  esphome/wizard.py
Labels: core, small-pr

#9447 Optimize API flash usage by storing message size at compile time
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
  esphome/components/api/api_pb2.h
  esphome/components/api/api_server.cpp
  esphome/components/api/list_entities.h
  esphome/components/api/proto.h
  script/api_protobuf/api_protobuf.py
Labels: integration: api, core

#9449 Optimize API proto size calculations by removing redundant force parameter
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2_size.h
  script/api_protobuf/api_protobuf.py
Labels: integration: api, core

#9453 [ld2410] Remove redundant ``delay()`` calls, minor optimizations
  esphome/components/ld2410/ld2410.cpp
Labels: small-pr, integration: ld2410

#9426 [ld2420] Memory optimization, code clean-up
  esphome/components/ld2420/binary_sensor/ld2420_binary_sensor.cpp
  esphome/components/ld2420/button/reconfig_buttons.cpp
  esphome/components/ld2420/ld2420.cpp
  esphome/components/ld2420/ld2420.h
  esphome/components/ld2420/number/gate_config_number.cpp
  esphome/components/ld2420/select/operating_mode_select.cpp
  esphome/components/ld2420/sensor/ld2420_sensor.cpp
  esphome/components/ld2420/text_sensor/text_sensor.cpp
Labels: integration: ld2420

#9452 Reduce API flash usage by eliminating unnecessary template instantiations
  esphome/components/api/api_pb2.cpp
  esphome/components/api/proto.h
  script/api_protobuf/api_protobuf.py
Labels: integration: api, core

#9451 Conditionally compile API user services to save 4.3KB flash (follow-up to #9262)
  esphome/components/api/__init__.py
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/api/custom_api_device.h
  esphome/components/api/list_entities.cpp
  esphome/components/api/list_entities.h
  esphome/components/api/user_services.h
  esphome/core/component_iterator.cpp
  esphome/core/component_iterator.h
  esphome/core/defines.h
  tests/integration/fixtures/api_custom_services.yaml
  tests/integration/fixtures/external_components/custom_api_device_component/__init__.py
  tests/integration/fixtures/external_components/custom_api_device_component/custom_api_device_component.cpp
  tests/integration/fixtures/external_components/custom_api_device_component/custom_api_device_component.h
  tests/integration/test_api_custom_services.py
Labels: breaking-change, integration: api, has-tests, core

#9434 [packet_transport] Don't run update if ping_pong not enabled.
  esphome/components/packet_transport/packet_transport.cpp
Labels: small-pr, bugfix, by-code-owner, integration: packet_transport

#9454 [sx127x, sx126x] Fix preamble_size default and validation
  esphome/components/sx126x/__init__.py
  esphome/components/sx127x/__init__.py
Labels: small-pr, by-code-owner, integration: sx127x, integration: sx126x

#9458 Apply existing protobuf buffer optimization to nested message encoding (~2.3x speed up)
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_size.h
  esphome/components/api/proto.h
  script/api_protobuf/api_protobuf.py
Labels: integration: api, core

#9461 Only generate protobuf encode/decode methods for the message direction they're used
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  script/api_protobuf/api_protobuf.py
Labels: integration: api, core

#9425 [usb_uart] Be flexible about descriptor layout for CDC-ACM devices
  esphome/components/usb_host/usb_host_client.cpp
  esphome/components/usb_uart/cp210x.cpp
  esphome/components/usb_uart/usb_uart.cpp
  esphome/components/usb_uart/usb_uart.h
Labels: by-code-owner, integration: usb_host, integration: usb_uart

#9439 [libretiny] Set lib_compat_mode to soft for libretiny
  esphome/components/libretiny/__init__.py
  platformio.ini
Labels: small-pr, integration: libretiny

#9435 (Maybe?) fix I2S speaker internal DAC mode
  esphome/components/i2s_audio/speaker/__init__.py
Labels: small-pr, integration: i2s_audio

#9466 [lvgl] Post-process size arguments in meter config
  esphome/components/lvgl/widgets/meter.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, small-pr, integration: lvgl

#9467 Automatically disable interrupts for ESP8266 GPIO16 binary sensors
  esphome/components/gpio/binary_sensor/__init__.py
  tests/component_tests/gpio/test_gpio_binary_sensor.py
  tests/component_tests/gpio/test_gpio_binary_sensor.yaml
  tests/component_tests/gpio/test_gpio_binary_sensor_esp8266.yaml
  tests/component_tests/gpio/test_gpio_binary_sensor_polling.yaml
Labels: integration: gpio, has-tests, core, small-pr

#9469 [substitutions] Fix #7189
  esphome/components/substitutions/__init__.py
  tests/unit_tests/fixtures/substitutions/00-simple_var.approved.yaml
  tests/unit_tests/fixtures/substitutions/00-simple_var.input.yaml
  tests/unit_tests/fixtures/substitutions/03-closures.approved.yaml
  tests/unit_tests/fixtures/substitutions/closures_package.yaml
Labels: integration: substitutions, has-tests, small-pr

#9476 Fix pre-commit CI failures by skipping local hooks that require virtual environment
  .pre-commit-config.yaml
Labels: small-pr

#9479 [esp_ldo] Component schema; default priority
  esphome/components/esp_ldo/__init__.py
  esphome/components/esp_ldo/esp_ldo.h
  tests/components/esp_ldo/test.esp32-p4-idf.yaml
Labels: has-tests, small-pr, by-code-owner, integration: esp_ldo

#9480 Refactor format_hex_pretty functions to eliminate code duplication
  esphome/core/helpers.cpp
Labels: core, small-pr

#9482 Fix dormant bug in RAMAllocator::reallocate() manual_size calculation
  esphome/core/helpers.h
Labels: core, small-pr

#9484 Fix pre-commit CI issues by switching to lite mode
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Labels: small-pr

#9488 Suppress spurious volatile and Python syntax warnings during builds
  esphome/platformio_api.py
  esphome/writer.py
Labels: core, small-pr

#9502 [online_image] Support `byte_order`
  esphome/components/online_image/__init__.py
  esphome/components/online_image/online_image.cpp
  esphome/components/online_image/online_image.h
Labels: small-pr, by-code-owner, integration: online_image

#9472 [fan] Do not save state for fan if configured as NO_RESTORE
  esphome/components/fan/fan.cpp
Labels: integration: fan, core, small-pr

#9503 Fix blocked CI cancellation caused by always() in clang-tidy workflow
  .github/workflows/ci.yml
Labels: small-pr

#9457 [captive_portal] Add test case for libretiny
  tests/components/captive_portal/test.bk72xx-ard.yaml
Labels: has-tests, small-pr

#9506 [opentherm.output] Fix ``lerp``
  esphome/components/opentherm/output/output.cpp
Labels: small-pr, integration: opentherm

#9507 [servo] Fix ``lerp``
  esphome/components/servo/servo.cpp
Labels: integration: servo, small-pr

#9508 Add missing clang-tidy NOLINT comments for ArduinoJson v7 in IDF webserver
  esphome/components/web_server_idf/web_server_idf.cpp
Labels: small-pr, integration: web_server_idf

#9516 [repo] Fix issue template config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: small-pr

#9518 2025.7.0b4
  Doxyfile
  esphome/components/async_tcp/__init__.py
  esphome/components/fan/fan.cpp
  esphome/components/http_request/update/http_request_update.cpp
  esphome/components/json/__init__.py
  esphome/components/json/json_util.cpp
  esphome/components/light/light_json_schema.cpp
  esphome/components/mqtt/mqtt_alarm_control_panel.cpp
  esphome/components/mqtt/mqtt_binary_sensor.cpp
  esphome/components/mqtt/mqtt_button.cpp
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_climate.cpp
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_cover.cpp
  esphome/components/mqtt/mqtt_date.cpp
  esphome/components/mqtt/mqtt_datetime.cpp
  esphome/components/mqtt/mqtt_event.cpp
  esphome/components/mqtt/mqtt_fan.cpp
  esphome/components/mqtt/mqtt_light.cpp
  esphome/components/mqtt/mqtt_lock.cpp
  esphome/components/mqtt/mqtt_number.cpp
  esphome/components/mqtt/mqtt_select.cpp
  esphome/components/mqtt/mqtt_sensor.cpp
  esphome/components/mqtt/mqtt_switch.cpp
  esphome/components/mqtt/mqtt_text.cpp
  esphome/components/mqtt/mqtt_text_sensor.cpp
  esphome/components/mqtt/mqtt_time.cpp
  esphome/components/mqtt/mqtt_update.cpp
  esphome/components/mqtt/mqtt_valve.cpp
  esphome/components/ms8607/ms8607.cpp
  esphome/components/online_image/__init__.py
  esphome/components/online_image/online_image.cpp
  esphome/components/online_image/online_image.h
  esphome/components/opentherm/output/output.cpp
  esphome/components/servo/servo.cpp
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server_base/__init__.py
  esphome/components/web_server_idf/web_server_idf.cpp
  esphome/const.py
  esphome/core/component.cpp
  esphome/platformio_api.py
  esphome/writer.py
  platformio.ini
  tests/components/captive_portal/test.bk72xx-ard.yaml
  tests/integration/fixtures/external_components/loop_test_component/__init__.py
  tests/integration/fixtures/external_components/loop_test_component/loop_test_component.cpp
  tests/integration/fixtures/external_components/loop_test_component/loop_test_component.h
  tests/integration/fixtures/loop_disable_enable.yaml
  tests/integration/test_loop_disable_enable.py
Labels: merging-to-beta

#9529 Fix timing overflow when components disable themselves during loop
  esphome/core/application.cpp
Labels: core, small-pr

#9528 [as3935_spi] remove unnecessary includes
  esphome/components/as3935_spi/as3935_spi.h
Labels: integration: as3935_spi, small-pr

#9532 2025.7.0b5
  Doxyfile
  esphome/components/as3935_spi/as3935_spi.h
  esphome/const.py
  esphome/core/application.cpp
Labels: merging-to-beta

#7049 [nrf52, core] nrf52 core based on zephyr
  CODEOWNERS
  esphome/components/logger/__init__.py
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
  esphome/components/logger/logger_zephyr.cpp
  esphome/components/nrf52/__init__.py
  esphome/components/nrf52/boards.py
  esphome/components/nrf52/const.py
  esphome/components/nrf52/gpio.py
  esphome/components/time/__init__.py
  esphome/components/time/real_time_clock.cpp
  esphome/components/zephyr/__init__.py
  esphome/components/zephyr/const.py
  esphome/components/zephyr/core.cpp
  esphome/components/zephyr/gpio.cpp
  esphome/components/zephyr/gpio.h
  esphome/components/zephyr/pre_build.py.script
  esphome/components/zephyr/preferences.cpp
  esphome/components/zephyr/preferences.h
  esphome/const.py
  esphome/core/__init__.py
  esphome/core/helpers.h
  tests/components/gpio/test.nrf52-adafruit.yaml
  tests/components/gpio/test.nrf52-mcumgr.yaml
  tests/components/logger/test.nrf52-adafruit.yaml
  tests/components/logger/test.nrf52-mcumgr.yaml
  tests/components/time/test.nrf52-adafruit.yaml
  tests/components/time/test.nrf52-mcumgr.yaml
  tests/components/uptime/test.nrf52-adafruit.yaml
  tests/components/uptime/test.nrf52-mcumgr.yaml
  tests/test_build_components/build_components_base.nrf52-adafruit.yaml
  tests/test_build_components/build_components_base.nrf52-mcumgr.yaml
Labels: new-integration, integration: logger, integration: time, has-tests, core, merge-after-release, integration: nrf52, integration: zephyr

#9314 [mipi_spi] Template code, partial buffer support
  esphome/components/const/__init__.py
  esphome/components/mipi_spi/__init__.py
  esphome/components/mipi_spi/display.py
  esphome/components/mipi_spi/mipi_spi.cpp
  esphome/components/mipi_spi/mipi_spi.h
  esphome/components/mipi_spi/models/adafruit.py
  esphome/components/mipi_spi/models/amoled.py
  esphome/components/mipi_spi/models/waveshare.py
  esphome/components/spi/__init__.py
  tests/__init__.py
  tests/component_tests/__init__.py
  tests/component_tests/binary_sensor/__init__.py
  tests/component_tests/button/__init__.py
  tests/component_tests/conftest.py
  tests/component_tests/deep_sleep/__init__.py
  tests/component_tests/image/__init__.py
  tests/component_tests/mipi_spi/__init__.py
  tests/component_tests/mipi_spi/fixtures/lvgl.yaml
  tests/component_tests/mipi_spi/fixtures/native.yaml
  tests/component_tests/mipi_spi/test_init.py
  tests/component_tests/ota/__init__.py
  tests/component_tests/packages/__init__.py
  tests/component_tests/sensor/__init__.py
  tests/component_tests/text/__init__.py
  tests/component_tests/text_sensor/__init__.py
  tests/component_tests/types.py
  tests/component_tests/web_server/__init__.py
  tests/components/mipi_spi/test-esp32-2432s028.esp32-s3-idf.yaml
  tests/components/mipi_spi/test-jc3248w535.esp32-s3-idf.yaml
  tests/components/mipi_spi/test-jc3636w518.esp32-s3-idf.yaml
  tests/components/mipi_spi/test-lvgl.esp32-s3-idf.yaml
  tests/components/mipi_spi/test-pico-restouch-lcd-35.esp32-s3-idf.yaml
  tests/components/mipi_spi/test-s3box.esp32-s3-idf.yaml
  tests/components/mipi_spi/test-s3boxlite.esp32-s3-idf.yaml
  tests/components/mipi_spi/test-t-display-s3-amoled-plus.esp32-s3-idf.yaml
  tests/components/mipi_spi/test-t-display-s3-amoled.esp32-s3-idf.yaml
  tests/components/mipi_spi/test-t-display-s3-pro.esp32-s3-idf.yaml
  tests/components/mipi_spi/test-t-display-s3.esp32-s3-idf.yaml
  tests/components/mipi_spi/test-t-display.esp32-s3-idf.yaml
  tests/components/mipi_spi/test-t-embed.esp32-s3-idf.yaml
  tests/components/mipi_spi/test-t4-s3.esp32-s3-idf.yaml
  tests/components/mipi_spi/test-wt32-sc01-plus.esp32-s3-idf.yaml
Labels: integration: spi, has-tests, core, by-code-owner, merge-after-release, integration: mipi_spi, integration: const

#9471 Remove dead code: 64-bit protobuf types never used in 7 years
  esphome/components/api/proto.h
  script/api_protobuf/api_protobuf.py
Labels: integration: api, merge-after-release

#9445 Make API ConnectRequest optional for passwordless connections
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  tests/integration/fixtures/host_mode_api_password.yaml
  tests/integration/test_host_mode_api_password.py
Labels: integration: api, has-tests, core

#9522 Drop Python 3.10 support, require Python 3.11+
  .github/workflows/ci-docker.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  esphome/components/lvgl/styles.py
  esphome/dashboard/dns.py
  pyproject.toml
  requirements.txt
  script/lint-python
  tests/integration/conftest.py
  tests/integration/test_api_message_size_batching.py
  tests/integration/test_api_reboot_timeout.py
  tests/integration/test_areas_and_devices.py
  tests/integration/test_device_id_in_state.py
  tests/integration/test_duplicate_entities.py
  tests/integration/test_entity_icon.py
  tests/integration/test_host_mode_batch_delay.py
  tests/integration/test_host_mode_empty_string_options.py
  tests/integration/test_host_mode_entity_fields.py
  tests/integration/test_host_mode_many_entities.py
  tests/integration/test_host_mode_many_entities_multiple_connections.py
  tests/integration/test_host_mode_sensor.py
  tests/integration/test_loop_disable_enable.py
  tests/integration/test_scheduler_bulk_cleanup.py
  tests/integration/test_scheduler_defer_cancel.py
  tests/integration/test_scheduler_defer_cancel_regular.py
  tests/integration/test_scheduler_defer_fifo_simple.py
  tests/integration/test_scheduler_defer_stress.py
  tests/integration/test_scheduler_heap_stress.py
  tests/integration/test_scheduler_null_name.py
  tests/integration/test_scheduler_rapid_cancellation.py
  tests/integration/test_scheduler_recursive_timeout.py
  tests/integration/test_scheduler_simultaneous_callbacks.py
  tests/integration/test_scheduler_string_lifetime.py
  tests/integration/test_scheduler_string_name_stress.py
  tests/integration/test_scheduler_string_test.py
Labels: breaking-change, core, small-pr, dashboard, merge-after-release, integration: lvgl

#9531 Optimize MedianFilter memory allocation by adding vector reserve
  esphome/components/sensor/filter.cpp
Labels: integration: sensor, core, small-pr

#8483 [i2c] Use new driver with IDF 5.4.2+
  esphome/components/i2c/i2c_bus_esp_idf.cpp
  esphome/components/i2c/i2c_bus_esp_idf.h
Labels: integration: i2c, core

#9524 Optimize scheduler timing by reducing millis() calls
  esphome/core/application.cpp
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Labels: core

#9510 Optimize API connection batch priority message handling to reduce flash usage
  esphome/components/api/api_connection.cpp
Labels: integration: api, core, small-pr

#9491 [ssd1306_base] fix typo `brighrness`
  esphome/components/ssd1306_base/ssd1306_base.cpp
Labels: integration: ssd1306_base, small-pr

#9535 Fix CI failures from merge collisions
  tests/integration/test_host_mode_api_password.py
  tests/integration/test_runtime_stats.py
Labels: has-tests, small-pr

#9022 Remove legacy unique_id field from entities
  esphome/components/adc/adc_sensor.h
  esphome/components/adc/adc_sensor_esp8266.cpp
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/ethernet_info/ethernet_info_text_sensor.h
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_component.h
  esphome/components/mqtt/mqtt_sensor.cpp
  esphome/components/mqtt/mqtt_sensor.h
  esphome/components/mqtt/mqtt_text_sensor.cpp
  esphome/components/mqtt/mqtt_text_sensor.h
  esphome/components/one_wire/one_wire.cpp
  esphome/components/one_wire/one_wire.h
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
  esphome/components/text_sensor/text_sensor.cpp
  esphome/components/text_sensor/text_sensor.h
  esphome/components/uptime/sensor/uptime_seconds_sensor.cpp
  esphome/components/uptime/sensor/uptime_seconds_sensor.h
  esphome/components/version/version_text_sensor.cpp
  esphome/components/version/version_text_sensor.h
  esphome/components/wifi_info/wifi_info_text_sensor.h
  esphome/components/wifi_signal/wifi_signal_sensor.h
Labels: breaking-change, integration: adc, integration: api, integration: mqtt, integration: sensor, integration: text_sensor, integration: uptime, integration: version, integration: wifi_info, integration: wifi_signal, core, integration: ethernet_info, integration: one_wire

#9473 Reduce binary size with field-level conditional compilation for protobuf messages
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_options.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  script/api_protobuf/api_protobuf.py
Labels: integration: api, core

#9538 [lvgl]: fix missing await keyword in meter tick_style width processing
  esphome/components/lvgl/widgets/meter.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, small-pr, integration: lvgl

#9541 Reduce API proto vtable overhead by splitting decode functionality
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/proto.cpp
  esphome/components/api/proto.h
  script/api_protobuf/api_protobuf.py
Labels: integration: api, core

#9355 Add ability to have same entity names on different sub devices
  esphome/components/api/api_connection.cpp
  esphome/core/application.h
  esphome/core/entity_helpers.py
  tests/integration/fixtures/areas_and_devices.yaml
  tests/integration/fixtures/duplicate_entities_on_different_devices.yaml
  tests/integration/test_areas_and_devices.py
  tests/integration/test_duplicate_entities.py
  tests/unit_tests/core/test_entity_helpers.py
Labels: component: api, has-tests, core, merge-after-release

#9544 Update script/helpers.py to use ESPHome YAML parser for integration fixtures
  script/helpers.py
  tests/script/test_helpers.py
Labels: has-tests, core, small-pr

#9305 Bump ESP32 IDF version to 5.4.2 and Arduino version to 3.2.1
  esphome/components/esp32/__init__.py
  esphome/components/ethernet/esp_eth_phy_jl1101.c
  esphome/components/ethernet/ethernet_component.h
  esphome/core/defines.h
  platformio.ini
Labels: component: ethernet, core, small-pr, component: esp32

#9543 Fix compilation error when using string lambdas with homeassistant services
  esphome/components/api/homeassistant_service.h
  tests/integration/fixtures/api_string_lambda.yaml
  tests/integration/test_api_string_lambda.py
Labels: component: api, has-tests, core, small-pr

#9569 Fix format string warnings in Web Server OTA component
  esphome/components/web_server/ota/ota_web_server.cpp
Labels: component: web_server, small-pr

#9585 Workflow to auto label PRs based on changes
  .github/workflows/auto-label-pr.yml
Labels: github-actions

#9589 [CI] Add ``by-code-owner`` labelling
  .github/workflows/auto-label-pr.yml
Labels: github-actions

#9607 Update Issues / Feature Requests links
  CONTRIBUTING.md
  esphome/components/rp2040/__init__.py
  pyproject.toml
Labels: small-pr, component: rp2040, platform: rp2040

#9561 Refactor API send_message from template to non-template implementation
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/list_entities.cpp
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/voice_assistant/voice_assistant.cpp
  script/api_protobuf/api_protobuf.py
Labels: component: api, core, component: bluetooth_proxy, component: voice_assistant

#9638 [api] Fix compilation error with char* lambdas in HomeAssistant services
  esphome/components/api/homeassistant_service.h
  tests/integration/fixtures/api_string_lambda.yaml
  tests/integration/test_api_string_lambda.py
Labels: component: api, has-tests

#9637 [wireguard] Fix boot loop when CONFIG_LWIP_TCPIP_CORE_LOCKING is enabled
  esphome/components/wireguard/wireguard.cpp
Labels: small-pr, component: wireguard

#9632 [code quality] move const to esphome/const.py
  esphome/components/display_menu_base/__init__.py
  esphome/components/lvgl/widgets/switch.py
  esphome/const.py
Labels: core, small-pr, component: display_menu_base, component: lvgl

#9641 [scheduler] Fix cancellation of timers with empty string names
  esphome/core/component.cpp
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
  tests/integration/fixtures/scheduler_string_test.yaml
  tests/integration/test_scheduler_heap_stress.py
Labels: has-tests, core

#9643 [scheduler] Fix LibreTiny compilation error due to missing atomic operations
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Labels: core

#9642 [logger] fix on_message
  esphome/components/logger/__init__.py
  tests/components/logger/test-on_message.host.yaml
Labels: component: logger, has-tests, small-pr

#9615 esp32_camera: deprecate i2c_pins; throw error if combined with i2c: block
  esphome/components/esp32_camera/__init__.py
Labels: component: esp32_camera, small-pr

#9646 [scheduler] Fix DelayAction cancellation in restart mode scripts
  esphome/core/base_automation.h
  tests/integration/fixtures/delay_action_cancellation.yaml
  tests/integration/test_automations.py
Labels: has-tests, core

#9605 [lvgl] Fix meter rotation
  esphome/components/lvgl/widgets/meter.py
Labels: small-pr, bugfix, component: lvgl

#9633 Fix bluetooth_proxy heap allocations during BLE scanning
  esphome/components/api/api.proto
  esphome/components/api/api_options.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  script/api_protobuf/api_protobuf.py
Labels: component: api, component: bluetooth_proxy

#9649 core/schedule: fixup out of sync code comment
  esphome/core/scheduler.h
Labels: core, small-pr
