Repository esphome/esphome, pull requests merged in 2025-10, with the labels that each got.

#10830 [substitutions] fix #10825 set evaluation error
  esphome/components/substitutions/jinja.py
  tests/unit_tests/fixtures/substitutions/00-simple_var.approved.yaml
  tests/unit_tests/fixtures/substitutions/00-simple_var.input.yaml
Labels: component: substitutions, has-tests, small-pr, bugfix

#10951 [web_server] Optimize handler methods with lookup tables to reduce flash usage
  esphome/components/web_server/web_server.cpp
Labels: component: web_server, code-quality

#10947 [hdc1080] remove delays and fix no check for sensor nullptr
  esphome/components/hdc1080/hdc1080.cpp
  esphome/components/hdc1080/hdc1080.h
Labels: component: hdc1080, code-quality, bugfix

#10969 [core] Fix ComponentIterator alignment for 32-bit platforms
  esphome/core/component_iterator.h
Labels: core, small-pr, code-quality

#10960 [logger] Optimize log formatting performance (35-72% faster)
  esphome/components/logger/logger.h
Labels: component: logger, code-quality

#10970 [api] Remove ClientInfo::get_combined_info() to eliminate heap fragmentation
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper_noise.cpp
  esphome/components/api/api_frame_helper_plaintext.cpp
  esphome/components/api/api_server.cpp
  esphome/components/voice_assistant/voice_assistant.cpp
Labels: breaking-change, component: api, code-quality, component: voice_assistant

#10990 [ci] Fix pre-commit action to comply with pinned SHA security policy
  .github/workflows/ci.yml
Labels: small-pr, bugfix, github-actions

#10992 Fix UNIT_KILOVOLT_AMPS_REACTIVE constant definition
  esphome/const.py
Labels: core, small-pr, bugfix

#10963 [mpr121] remove delay
  esphome/components/mpr121/mpr121.cpp
  esphome/components/mpr121/mpr121.h
Labels: component: mpr121, code-quality

#10979 [logger] Fix line number wrapping bug for files with >999 lines
  esphome/components/logger/logger.h
Labels: component: logger, small-pr, code-quality, bugfix

#11008 [json] Fix missing defines.h include causing PSRAM allocator to be unused
  esphome/components/json/json_util.h
Labels: component: json, small-pr, bugfix

#11013 [mpr121] cleaner setup
  esphome/components/mpr121/mpr121.cpp
  esphome/components/mpr121/mpr121.h
Labels: component: mpr121, small-pr, code-quality

#11018 [core] Merge duplicate loops in mac_address_is_valid()
  esphome/core/helpers.cpp
Labels: core, small-pr, code-quality

#11019 [ethernet] Consolidate error handling to reduce flash usage
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
Labels: component: ethernet, small-pr, code-quality

#10946 [esp32_ble_server] Replace EventEmitter with direct callbacks to reduce memory usage
  CODEOWNERS
  esphome/components/esp32_ble_server/__init__.py
  esphome/components/esp32_ble_server/ble_characteristic.cpp
  esphome/components/esp32_ble_server/ble_characteristic.h
  esphome/components/esp32_ble_server/ble_descriptor.cpp
  esphome/components/esp32_ble_server/ble_descriptor.h
  esphome/components/esp32_ble_server/ble_server.cpp
  esphome/components/esp32_ble_server/ble_server.h
  esphome/components/esp32_ble_server/ble_server_automations.cpp
  esphome/components/esp32_ble_server/ble_server_automations.h
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/event_emitter/__init__.py
  esphome/components/event_emitter/event_emitter.h
Labels: component: esp32_ble_server, component: esp32_improv, component: event_emitter

#10973 [api] Add configurable send queue limit to prevent OOM crashes
  esphome/components/api/__init__.py
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
  esphome/core/defines.h
Labels: component: api, core, code-quality, bugfix

#10976 [mdns][openthread] Use StaticVector for services storage with compile-time capacity
  esphome/components/mdns/__init__.py
  esphome/components/mdns/mdns_component.cpp
  esphome/components/mdns/mdns_component.h
  esphome/components/openthread/openthread.cpp
  esphome/components/openthread/openthread.h
  esphome/core/defines.h
  esphome/core/helpers.h
Labels: breaking-change, core, code-quality, component: mdns, component: openthread

#10983 [number] Reduce flash usage in NumberCall logging
  esphome/components/number/number_call.cpp
  esphome/components/number/number_call.h
Labels: code-quality, component: number

#11002 [web_server_idf] Fix watchdog timeout with unreliable event source connections
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server_idf/web_server_idf.cpp
  esphome/components/web_server_idf/web_server_idf.h
Labels: component: web_server, bugfix, component: web_server_idf

#11005 [wifi] Optimize WPA2 EAP phase2 logging to reduce memory overhead
  esphome/components/wifi/wifi_component.cpp
Labels: component: wifi, code-quality

#11011 [esphome.ota] Fix ESP32-S3 OTA authentication with hardware SHA acceleration
  esphome/components/esphome/ota/ota_esphome.cpp
  esphome/components/esphome/ota/ota_esphome.h
  esphome/components/sha256/sha256.cpp
  esphome/components/sha256/sha256.h
  esphome/core/hash_base.h
Labels: core, code-quality, bugfix, component: esphome, component: sha256

#11017 [scheduler] Deduplicate item removal code with template helper
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Labels: core, code-quality

#10899 [esp32] Improve version handling
  esphome/components/esp32/__init__.py
  script/generate-esp32-boards.py
Labels: breaking-change, code-quality, component: esp32, platform: esp32

#11022 [wifi] Optimize logging to reduce flash usage by 284 bytes on ESP8266
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
Labels: component: wifi, code-quality

#11023 [esp32_ble] Optimize string operations to reduce flash usage by 264 bytes
  esphome/components/esp32_ble/ble.cpp
Labels: small-pr, code-quality, by-code-owner, component: esp32_ble

#11034 [sonoff_d1] Fix clang-tidy signed/unsigned comparison warning
  esphome/components/sonoff_d1/sonoff_d1.cpp
Labels: small-pr, bugfix, component: sonoff_d1

#10991 [web_server] Use IDF web server for ESP32 Arduino builds
  .clang-tidy.hash
  esphome/components/captive_portal/captive_portal.cpp
  esphome/components/prometheus/prometheus_handler.cpp
  esphome/components/web_server/list_entities.cpp
  esphome/components/web_server/list_entities.h
  esphome/components/web_server/ota/__init__.py
  esphome/components/web_server/ota/ota_web_server.cpp
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
  esphome/components/web_server/web_server_v1.cpp
  esphome/components/web_server_base/__init__.py
  esphome/components/web_server_base/web_server_base.h
  esphome/components/web_server_idf/__init__.py
  esphome/components/web_server_idf/multipart.cpp
  esphome/components/web_server_idf/multipart.h
  esphome/components/web_server_idf/utils.cpp
  esphome/components/web_server_idf/utils.h
  esphome/components/web_server_idf/web_server_idf.cpp
  esphome/components/web_server_idf/web_server_idf.h
  platformio.ini
Labels: breaking-change, component: captive_portal, component: web_server, component: web_server_base, code-quality, component: prometheus, component: web_server_idf

#10997 [core] Remove platformio install from setup
  script/setup
  script/setup.bat
Labels: small-pr, code-quality

#11014 [nextion] Reduce DEBUG logs on events
  esphome/components/nextion/nextion.cpp
Labels: component: nextion, small-pr, code-quality, by-code-owner

#11006 [esp32_ble] Fix max_connections architecture (shared client+server limit)
  esphome/components/ble_client/__init__.py
  esphome/components/bluetooth_proxy/__init__.py
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble_server/ble_characteristic.cpp
  esphome/components/esp32_ble_server/ble_server.cpp
  esphome/components/esp32_ble_server/ble_server.h
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/core/defines.h
Labels: breaking-change, component: esp32_ble_tracker, core, component: ble_client, code-quality, bugfix, by-code-owner, component: esp32_ble_server, component: esp32_ble, component: bluetooth_proxy

#11037 [zwave_proxy] Send HomeID upon client connect
  esphome/components/api/api_connection.cpp
  esphome/components/zwave_proxy/zwave_proxy.cpp
  esphome/components/zwave_proxy/zwave_proxy.h
Labels: component: api, by-code-owner, component: zwave_proxy

#11043 [bl0906, bl0942] Fix clang-tidy sign comparison errors
  esphome/components/bl0906/bl0906.cpp
  esphome/components/bl0942/bl0942.cpp
Labels: small-pr, code-quality, component: bl0942, component: bl0906

#11061 [mixer] Fix clang-tidy sign comparison errors
  esphome/components/mixer/speaker/mixer_speaker.cpp
Labels: small-pr, code-quality, component: mixer

#11062 [nau7802] Fix clang-tidy sign comparison errors
  esphome/components/nau7802/nau7802.cpp
Labels: small-pr, code-quality, component: nau7802

#11058 [ltr_als_ps] Fix clang-tidy sign comparison errors
  esphome/components/ltr_als_ps/ltr_als_ps.cpp
Labels: small-pr, code-quality, component: ltr_als_ps

#11055 [kamstrup_kmp] Fix clang-tidy sign comparison errors
  esphome/components/kamstrup_kmp/kamstrup_kmp.cpp
Labels: small-pr, code-quality, component: kamstrup_kmp

#11063 [pid] Fix clang-tidy sign comparison error
  esphome/components/pid/pid_controller.cpp
Labels: component: pid, small-pr, code-quality

#11056 [key_collector] Fix clang-tidy sign comparison errors
  esphome/components/key_collector/key_collector.h
Labels: small-pr, code-quality, component: key_collector

#10901 [qmc5883l] Added drdy_pin option to allow it to run max rate
  esphome/components/qmc5883l/qmc5883l.cpp
  esphome/components/qmc5883l/qmc5883l.h
  esphome/components/qmc5883l/sensor.py
  tests/components/qmc5883l/common.yaml
  tests/components/qmc5883l/test.esp32-ard.yaml
  tests/components/qmc5883l/test.esp32-c3-ard.yaml
  tests/components/qmc5883l/test.esp32-c3-idf.yaml
  tests/components/qmc5883l/test.esp32-idf.yaml
  tests/components/qmc5883l/test.esp8266-ard.yaml
  tests/components/qmc5883l/test.rp2040-ard.yaml
Labels: new-feature, component: qmc5883l, has-tests, code-quality, bugfix

#11044 [audio, i2s_audio] Fix clang-tidy sign comparison errors
  esphome/components/audio/audio.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
Labels: small-pr, code-quality, component: i2s_audio, component: audio

#11069 [statsd] Fix clang-tidy sign comparison error
  esphome/components/statsd/statsd.cpp
Labels: small-pr, code-quality, component: statsd

#11068 [st7789v] Fix clang-tidy sign comparison errors
  esphome/components/st7789v/st7789v.cpp
Labels: component: st7789v, small-pr, code-quality

#11048 [esp32_ble] Fix clang-tidy sign comparison error
  esphome/components/esp32_ble/ble_advertising.cpp
Labels: small-pr, code-quality, by-code-owner, component: esp32_ble

#11064 [remote_base] Fix clang-tidy sign comparison error
  esphome/components/remote_base/gobox_protocol.cpp
Labels: component: remote_base, small-pr, code-quality

#11051 [graph] Fix clang-tidy sign comparison error
  esphome/components/graph/graph.cpp
Labels: small-pr, code-quality, component: graph

#11075 [tormatic] Fix clang-tidy sign comparison error
  esphome/components/tormatic/tormatic_cover.cpp
Labels: small-pr, code-quality, component: tormatic

#11079 [waveshare_epaper] Fix clang-tidy sign comparison errors
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
Labels: component: waveshare_epaper, small-pr, code-quality

#11081 [api] Fix clang-tidy sign comparison error
  esphome/components/api/user_services.h
Labels: component: api, small-pr, code-quality

#10486 [mcp2515] setup filters
  esphome/components/mcp2515/mcp2515.cpp
Labels: component: mcp2515, small-pr, bugfix

#11096 [const] Move `CONF_CAPTURE_RESPONSE` to const.py
  esphome/components/http_request/__init__.py
  esphome/const.py
Labels: component: http_request, core, small-pr

#11097 [core] Update helpers for new auto load functionality
  script/helpers.py
Labels: small-pr, bugfix

#11030 [light] Reduce flash usage by eliminating duplicate validation code
  esphome/components/light/light_call.cpp
  esphome/components/light/light_call.h
Labels: component: light, code-quality

#11092 [api] Optimize frame helpers to eliminate double-move overhead
  esphome/components/api/api_frame_helper_noise.cpp
  esphome/components/api/api_frame_helper_noise.h
  esphome/components/api/api_frame_helper_plaintext.cpp
  esphome/components/api/api_frame_helper_plaintext.h
Labels: component: api, code-quality

#11102 [esp32] Hide build warnings
  esphome/platformio_api.py
Labels: core, small-pr

#10974 [audio] Update esp-audio-libs 2.0.1 to use new FLAC decoder
  .clang-tidy.hash
  esphome/components/audio/__init__.py
  esphome/components/audio/audio_decoder.cpp
  platformio.ini
Labels: breaking-change, small-pr, bugfix, by-code-owner, component: audio

#10936 [api] Add message size limits to prevent memory exhaustion
  esphome/components/api/api_frame_helper.h
  esphome/components/api/api_frame_helper_noise.cpp
  esphome/components/api/api_frame_helper_plaintext.cpp
  tests/integration/test_oversized_payloads.py
Labels: breaking-change, component: api, has-tests

#11112 [core] Fix dynamic auto load priority
  esphome/config.py
Labels: core, small-pr

#10027 [modbus_controller] courtesy response
  esphome/components/modbus/modbus.cpp
  esphome/components/modbus/modbus.h
  esphome/components/modbus/modbus_definitions.h
  esphome/components/modbus_controller/__init__.py
  esphome/components/modbus_controller/const.py
  esphome/components/modbus_controller/modbus_controller.cpp
  esphome/components/modbus_controller/modbus_controller.h
  tests/components/modbus_controller/common.yaml
Labels: new-feature, component: modbus, has-tests, code-quality, component: modbus_controller

#11105 [mdns] Fix delete/malloc bug and store string constants in flash
  esphome/components/mdns/__init__.py
  esphome/components/mdns/mdns_component.cpp
  esphome/components/mdns/mdns_component.h
  esphome/components/mdns/mdns_esp32.cpp
  esphome/components/mdns/mdns_esp8266.cpp
  esphome/components/mdns/mdns_libretiny.cpp
  esphome/components/mdns/mdns_rp2040.cpp
  esphome/components/openthread/openthread.cpp
Labels: code-quality, bugfix, component: mdns, component: openthread

#10948 [api] Add support for getting action responses from home-assistant
  esphome/components/api/__init__.py
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/api/homeassistant_service.h
  esphome/const.py
  esphome/core/defines.h
  tests/components/api/common.yaml
Labels: new-feature, component: api, has-tests, core

#10462 [epaper_spi] New epaper component
  CODEOWNERS
  esphome/components/epaper_spi/__init__.py
  esphome/components/epaper_spi/display.py
  esphome/components/epaper_spi/epaper_spi.cpp
  esphome/components/epaper_spi/epaper_spi.h
  esphome/components/epaper_spi/epaper_spi_model_7p3in_spectra_e6.cpp
  esphome/components/epaper_spi/epaper_spi_model_7p3in_spectra_e6.h
  esphome/components/epaper_spi/epaper_spi_spectra_e6.cpp
  esphome/components/epaper_spi/epaper_spi_spectra_e6.h
  esphome/components/split_buffer/__init__.py
  esphome/components/split_buffer/split_buffer.cpp
  esphome/components/split_buffer/split_buffer.h
  tests/components/epaper_spi/test.esp32-s3-idf.yaml
Labels: new-component, new-feature, has-tests, new-platform, component: epaper_spi, component: split_buffer
