Repository esphome/esphome, pull requests merged in 2025-03, with the labels that each got.

#8317 [tmp1075] fix component for TMP1075N
  esphome/components/tmp1075/tmp1075.cpp
  esphome/components/tmp1075/tmp1075.h
Labels: small-pr, integration: tmp1075

#8357 [dashboard] Rename trash/delete to archive
  esphome/dashboard/web_server.py
  esphome/storage_json.py
Labels: core, small-pr, dashboard

#8353 Bump aioesphomeapi to 29.3.2
  requirements.txt
Labels: small-pr

#8343 [ltr390] Move calculation to allow dynamic setting of gain and resolution
  esphome/components/ltr390/ltr390.cpp
  esphome/components/ltr390/ltr390.h
Labels: small-pr, integration: ltr390

#8356 [helpers] Allow RAMAllocator to be told the size of the object manually
  esphome/core/helpers.h
Labels: core, small-pr

#8358 2025.2.2
  esphome/components/audio/audio_reader.cpp
  esphome/components/audio/audio_reader.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/ltr390/ltr390.cpp
  esphome/components/ltr390/ltr390.h
  esphome/const.py
  requirements.txt
Labels: merging-to-release

#8348 [ld2450] fix null exception & zone target_count not published
  esphome/components/ld2450/ld2450.cpp
  esphome/components/ld2450/ld2450.h
  esphome/components/ld2450/number/__init__.py
Labels: integration: ld2450

#8359 [bmp085] Fix error in read of pressure
  esphome/components/bmp085/bmp085.cpp
Labels: integration: bmp085, small-pr

#8351 [udp] fix clang tidy
  esphome/components/udp/udp_component.h
Labels: small-pr, integration: udp

#8361 [i2s_audio] Bugfix: Speaker incorrectly delays when sending data
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
Labels: small-pr, integration: i2s_audio

#8363 Initialise h-bridge switch to requested initial state
  esphome/components/hbridge/switch/hbridge_switch.cpp
Labels: small-pr, integration: hbridge

#8369 [lvgl] Fix initialisation race condition (Bugfix)
  esphome/components/lvgl/lvgl_esphome.cpp
Labels: small-pr, bugfix, by-code-owner, integration: lvgl

#8296 allow touchscreen buttons outside of display dimensions
  esphome/components/touchscreen/binary_sensor/__init__.py
  esphome/components/touchscreen/binary_sensor/touchscreen_binary_sensor.cpp
  esphome/components/touchscreen/binary_sensor/touchscreen_binary_sensor.h
  tests/component_tests/binary_sensor/test_binary_sensor.py
  tests/component_tests/binary_sensor/test_binary_sensor.yaml
  tests/components/ft63x6/common.yaml
Labels: has-tests, small-pr, integration: touchscreen

#8376 [touchscreen] Axis swap bugfix
  esphome/components/touchscreen/touchscreen.cpp
Labels: breaking-change, small-pr, bugfix, integration: touchscreen

#8377 [cst816] Remove binary sensor
  esphome/components/cst816/binary_sensor/__init__.py
  esphome/components/cst816/binary_sensor/cst816_button.h
  esphome/components/cst816/touchscreen/cst816_touchscreen.cpp
  esphome/components/cst816/touchscreen/cst816_touchscreen.h
  tests/components/cst816/common.yaml
Labels: breaking-change, has-tests, small-pr, by-code-owner, integration: cst816

#8384 Revert "[io_bus] Initial implementation"
  CODEOWNERS
  esphome/components/io_bus/__init__.py
  esphome/components/io_bus/io_bus.h
  tests/components/io_bus/common.yaml
  tests/components/io_bus/test.esp32-ard.yaml
  tests/components/io_bus/test.esp32-c3-ard.yaml
  tests/components/io_bus/test.esp32-c3-idf.yaml
  tests/components/io_bus/test.esp32-idf.yaml
  tests/components/io_bus/test.esp8266-ard.yaml
  tests/components/io_bus/test.host.yaml
  tests/components/io_bus/test.rp2040-ard.yaml
Labels: has-tests, small-pr, by-code-owner, integration: io_bus

#8367 Bump esptool to 4.8.1latest
  requirements.txt
Labels: small-pr

#8365 Bump zeroconf to 0.146.1
  requirements.txt
Labels: small-pr

#8375 mcp2515: Add missing CFG1 assignment to be able to use 50kbps with a 16MHz crystal.
  esphome/components/mcp2515/mcp2515.cpp
Labels: integration: mcp2515, small-pr, bugfix

#8387 [audio, mixer] Memory and CPU performance improvements
  esphome/components/audio/__init__.py
  esphome/components/audio/audio_decoder.cpp
  esphome/components/audio/audio_reader.cpp
  esphome/components/audio/audio_resampler.cpp
  esphome/components/audio/audio_transfer_buffer.cpp
  esphome/components/audio/audio_transfer_buffer.h
  esphome/components/mixer/speaker/mixer_speaker.cpp
  platformio.ini
Labels: by-code-owner, integration: audio, integration: mixer

#8391 [speaker, resampler, mixer] Make volume and mute getters virtual
  esphome/components/mixer/speaker/mixer_speaker.cpp
  esphome/components/mixer/speaker/mixer_speaker.h
  esphome/components/resampler/speaker/resampler_speaker.h
  esphome/components/speaker/speaker.h
Labels: small-pr, by-code-owner, integration: speaker, integration: resampler, integration: mixer

#8390 [core] add reallocation support to RAMAllocator
  esphome/core/helpers.h
Labels: core, small-pr

#8395 [api] add voice assistant announce to the api
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
Labels: integration: api, core, small-pr

#8397 Rework pyproject.toml to make it parseable by dependabot
  pyproject.toml
Labels: small-pr

#8400 2025.3.0b2
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/audio/__init__.py
  esphome/components/audio/audio_decoder.cpp
  esphome/components/audio/audio_reader.cpp
  esphome/components/audio/audio_resampler.cpp
  esphome/components/audio/audio_transfer_buffer.cpp
  esphome/components/audio/audio_transfer_buffer.h
  esphome/components/mdns/__init__.py
  esphome/components/mixer/speaker/mixer_speaker.cpp
  esphome/components/mixer/speaker/mixer_speaker.h
  esphome/components/resampler/speaker/resampler_speaker.h
  esphome/components/speaker/speaker.h
  esphome/const.py
  esphome/core/helpers.h
  esphome/idf_component.yml
  platformio.ini
  pyproject.toml
  requirements.txt
Labels: merging-to-beta

#8407 [font] Fix issues with bitmap fonts
  esphome/components/font/__init__.py
Labels: integration: font, core, bugfix, by-code-owner

#8112 Added getters for graphs ymin and ymax
  esphome/components/graph/graph.cpp
  esphome/components/graph/graph.h
Labels: small-pr, integration: graph, merge-after-release

#8415 2025.3.0b3
  esphome/components/font/__init__.py
  esphome/components/graph/graph.cpp
  esphome/components/graph/graph.h
  esphome/const.py
Labels: merging-to-beta

#8419 [docker] Bump curl, git, openssh-client, libopenjp2-7, nginx-light
  docker/Dockerfile
Labels: small-pr

#8426 [docker] Bump libfreetype
  docker/Dockerfile
Labels: small-pr

#8424 [core] Handle mis-typed platform name more cleanly
  esphome/core/config.py
Labels: core, small-pr, bugfix

#8428 2025.3.0b4
  docker/Dockerfile
  esphome/const.py
  esphome/core/config.py
Labels: merging-to-beta

#8431 [audio] Bugfix: fix flac decoding glitches by using esp-audio-libs v1.1.3
  esphome/components/audio/__init__.py
  platformio.ini
Labels: small-pr, by-code-owner, integration: audio

#8436 2025.3.0b5
  esphome/components/audio/__init__.py
  esphome/const.py
  platformio.ini
Labels: merging-to-beta

#8417 [ft63x6] Get correct dimensions from display
  esphome/components/ft63x6/ft63x6.cpp
Labels: small-pr, bugfix, integration: ft63x6

#8440 [esp32] Allow pioarduino versions 5.3.2 and 5.4.0
  esphome/components/esp32/__init__.py
Labels: small-pr, integration: esp32

#8380 [cli] Add `--reset` and `--upload_speed` options
  esphome/__main__.py
Labels: core, small-pr

#8442 [lvgl] Set correct buffer size
  esphome/components/lvgl/lvgl_esphome.cpp
Labels: small-pr, bugfix, by-code-owner, integration: lvgl

#8444 [lvgl] Ensure non-zero screen dimensions during init
  esphome/components/lvgl/lvgl_esphome.cpp
Labels: small-pr, by-code-owner, integration: lvgl

#8451 2025.3.1
  esphome/components/ft63x6/ft63x6.cpp
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/const.py
Labels: merging-to-release

#8455 [core] Fix 5.4.0 build issue
  esphome/core/helpers.cpp
Labels: core, small-pr

#8450 [gt911][cst226][ektf2232] Swap x and y calibration values
  esphome/components/cst226/touchscreen/cst226_touchscreen.cpp
  esphome/components/ektf2232/touchscreen/ektf2232.cpp
  esphome/components/gt911/touchscreen/gt911_touchscreen.cpp
Labels: bugfix, by-code-owner, integration: ektf2232, integration: gt911, integration: cst226

#8443 [font] More robust handling of fixed font sizes.
  esphome/components/font/__init__.py
  tests/components/font/Tamzen5x9b.bdf
  tests/components/font/common.yaml
Labels: integration: font, has-tests, core, small-pr, by-code-owner

#8459 [core] Fix s2 build after crc header fix
  esphome/core/helpers.cpp
  tests/components/pipsolar/test.esp32-s2-idf.yaml
Labels: has-tests, core, small-pr

#8463 fix 1bpp rendering
  esphome/components/font/__init__.py
Labels: integration: font, core, small-pr

#8465 [media_player] Don't reset enqueue command
  esphome/components/media_player/media_player.cpp
Labels: small-pr, integration: media_player

#8466 [speaker] Bugfix: Fix rapidly adding items to playlist
  esphome/components/speaker/media_player/speaker_media_player.cpp
  esphome/components/speaker/media_player/speaker_media_player.h
Labels: small-pr, by-code-owner, integration: speaker

#8458 [ld2450] Fix bluetooth state not reported correctly
  esphome/components/ld2450/ld2450.cpp
Labels: small-pr, integration: ld2450

#8469 2025.3.2
  esphome/components/cst226/touchscreen/cst226_touchscreen.cpp
  esphome/components/ektf2232/touchscreen/ektf2232.cpp
  esphome/components/font/__init__.py
  esphome/components/gt911/touchscreen/gt911_touchscreen.cpp
  esphome/components/ld2450/ld2450.cpp
  esphome/components/media_player/media_player.cpp
  esphome/components/speaker/media_player/speaker_media_player.cpp
  esphome/components/speaker/media_player/speaker_media_player.h
  esphome/const.py
  tests/components/font/Tamzen5x9b.bdf
  tests/components/font/common.yaml
Labels: merging-to-release

#8453 [esp32_can] Configurable enqueue timeout
  esphome/components/canbus/__init__.py
  esphome/components/canbus/canbus.cpp
  esphome/components/esp32_can/canbus.py
  esphome/components/esp32_can/esp32_can.cpp
  esphome/components/esp32_can/esp32_can.h
Labels: integration: esp32_can, integration: canbus

#8473 [display] Don't assume glyph x_offset is zero.
  esphome/components/display/display.cpp
Labels: integration: display, core, small-pr, bugfix

#8482 Bump ESP mdns to 1.8.2
  esphome/components/mdns/__init__.py
  esphome/idf_component.yml
Labels: core, small-pr, integration: mdns

#8480 [esp32] Allow pioarduino version 5.4.1
  esphome/components/esp32/__init__.py
Labels: small-pr, integration: esp32

#8474 [speaker] Bugfix: Media player always unpauses when receiving a stop command
  esphome/components/speaker/media_player/speaker_media_player.cpp
Labels: small-pr, by-code-owner, integration: speaker

#8481 [lvgl] Implement switch restore
  esphome/components/lvgl/switch/__init__.py
  esphome/components/lvgl/switch/lvgl_switch.h
Labels: small-pr, bugfix, by-code-owner, integration: lvgl

#8477 [psram] 120MHz does not work in octal mode
  esphome/components/psram/__init__.py
Labels: small-pr, bugfix, integration: psram

#8488 [speaker] Bugfixes: two pause state issues
  esphome/components/speaker/media_player/speaker_media_player.cpp
Labels: small-pr, by-code-owner, integration: speaker

#8489 2025.3.3
  esphome/components/display/display.cpp
  esphome/components/lvgl/switch/__init__.py
  esphome/components/lvgl/switch/lvgl_switch.h
  esphome/components/mdns/__init__.py
  esphome/components/speaker/media_player/speaker_media_player.cpp
  esphome/const.py
  esphome/idf_component.yml
Labels: merging-to-release

#8497 Move CONF_DEFAULT to const.py
  esphome/components/deep_sleep/__init__.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/widgets/__init__.py
  esphome/const.py
Labels: integration: deep_sleep, core, small-pr, integration: lvgl
