Repository esphome/esphome, pull requests merged in 2025-09, with the labels that each got.

#10497 Fix incorrect entity count due to undefined execution order with globals
  esphome/core/config.py
  tests/unit_tests/core/test_config.py
Labels: has-tests, core, small-pr, bugfix

#10490 [bluetooth_proxy] Expose configured scanning mode in API responses
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
Labels: new-feature, component: api, small-pr, by-code-owner, component: bluetooth_proxy

#10465 [mcp4461] Fix read transaction
  esphome/components/mcp4461/mcp4461.cpp
  esphome/components/mcp4461/mcp4461.h
Labels: small-pr, bugfix, component: mcp4461

#10426 [core] Fix timezone offset calculation
  esphome/core/time.cpp
Labels: core, small-pr, code-quality, bugfix

#10518 [core] Replace magic coroutine priority numbers with self-documenting CoroPriority enum
  esphome/components/alarm_control_panel/__init__.py
  esphome/components/api/__init__.py
  esphome/components/async_tcp/__init__.py
  esphome/components/audio_adc/__init__.py
  esphome/components/audio_dac/__init__.py
  esphome/components/binary_sensor/__init__.py
  esphome/components/button/__init__.py
  esphome/components/captive_portal/__init__.py
  esphome/components/climate/__init__.py
  esphome/components/cover/__init__.py
  esphome/components/datetime/__init__.py
  esphome/components/display/__init__.py
  esphome/components/esp32_ble_tracker/__init__.py
  esphome/components/esp8266/__init__.py
  esphome/components/esp8266/gpio.py
  esphome/components/esphome/ota/__init__.py
  esphome/components/ethernet/__init__.py
  esphome/components/event/__init__.py
  esphome/components/fan/__init__.py
  esphome/components/globals/__init__.py
  esphome/components/http_request/ota/__init__.py
  esphome/components/i2c/__init__.py
  esphome/components/json/__init__.py
  esphome/components/light/__init__.py
  esphome/components/lock/__init__.py
  esphome/components/logger/__init__.py
  esphome/components/mdns/__init__.py
  esphome/components/media_player/__init__.py
  esphome/components/microphone/__init__.py
  esphome/components/mqtt/__init__.py
  esphome/components/network/__init__.py
  esphome/components/nrf52/__init__.py
  esphome/components/number/__init__.py
  esphome/components/ota/__init__.py
  esphome/components/rp2040/__init__.py
  esphome/components/safe_mode/__init__.py
  esphome/components/select/__init__.py
  esphome/components/sensor/__init__.py
  esphome/components/speaker/__init__.py
  esphome/components/spi/__init__.py
  esphome/components/status_led/__init__.py
  esphome/components/stepper/__init__.py
  esphome/components/switch/__init__.py
  esphome/components/text/__init__.py
  esphome/components/text_sensor/__init__.py
  esphome/components/time/__init__.py
  esphome/components/touchscreen/__init__.py
  esphome/components/update/__init__.py
  esphome/components/valve/__init__.py
  esphome/components/web_server/__init__.py
  esphome/components/web_server/ota/__init__.py
  esphome/components/web_server_base/__init__.py
  esphome/components/wifi/__init__.py
  esphome/core/__init__.py
  esphome/core/config.py
  esphome/coroutine.py
  tests/unit_tests/test_coroutine.py
Labels: has-tests, core, code-quality, by-code-owner, platform: esp8266, platform: rp2040, platform: nrf52, mega-pr

#10530 [core] Use get_icon_ref() in entity platform logging to avoid string allocations
  esphome/components/button/button.cpp
  esphome/components/datetime/date_entity.h
  esphome/components/datetime/datetime_entity.h
  esphome/components/datetime/time_entity.h
  esphome/components/event/event.h
  esphome/components/lock/lock.h
  esphome/components/number/number.cpp
  esphome/components/select/select.h
  esphome/components/sensor/sensor.cpp
  esphome/components/switch/switch.cpp
  esphome/components/text/text.h
  esphome/components/text_sensor/text_sensor.h
Labels: component: sensor, component: switch, component: text_sensor, code-quality, component: number, component: select, component: button, component: lock, component: text, component: datetime, component: event

#10533 [sensor] Change state_class_to_string() to return const char* to avoid allocations
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
Labels: breaking-change, component: sensor, small-pr, code-quality

#10506 [host] Fix memory allocation in preferences load() method
  esphome/components/host/preferences.h
  tests/integration/fixtures/host_preferences_save_load.yaml
  tests/integration/test_host_preferences.py
Labels: has-tests, bugfix, component: host, platform: host

#10547 [i2c] Fix bug in write_register16
  esphome/components/i2c/i2c.cpp
Labels: component: i2c, small-pr, bugfix

#10546 [bluetooth_proxy] Change default for active connections to true
  esphome/components/bluetooth_proxy/__init__.py
Labels: breaking-change, small-pr, by-code-owner, component: bluetooth_proxy

#10558 2025.8.3
  Doxyfile
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/esp32/__init__.py
  esphome/components/i2c/i2c.cpp
  esphome/components/mcp4461/mcp4461.cpp
  esphome/components/mcp4461/mcp4461.h
  esphome/components/mipi_dsi/models/guition.py
  esphome/const.py
  esphome/core/config.py
  esphome/writer.py
  script/api_protobuf/api_protobuf.py
  tests/integration/fixtures/parallel_script_delays.yaml
  tests/unit_tests/core/test_config.py
Labels: merging-to-release

#10606 [sps30] Tidy up, optimize
  esphome/components/sps30/sps30.cpp
  esphome/components/sps30/sps30.h
Labels: component: sps30, code-quality

#10607 [sgp30] Tidy up, optimize
  esphome/components/sensirion_common/i2c_sensirion.h
  esphome/components/sgp30/sgp30.cpp
  esphome/components/sgp30/sgp30.h
Labels: component: sgp30, code-quality, component: sensirion_common

#10604 [sensirion_common] Tidy up, optimize
  esphome/components/sensirion_common/i2c_sensirion.cpp
  esphome/components/sensirion_common/i2c_sensirion.h
Labels: code-quality, component: sensirion_common

#10620 [esphome] ESP8266: Move OTA error strings to PROGMEM (saves 116 bytes RAM)
  esphome/components/esphome/ota/ota_esphome.cpp
  esphome/components/esphome/ota/ota_esphome.h
Labels: code-quality, component: esphome

#10617 [sensor] ESP8266: Use LogString for state_class_to_string() to save RAM
  esphome/components/mqtt/mqtt_sensor.cpp
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
Labels: component: mqtt, component: sensor, small-pr, code-quality

#10614 [script] ESP8266: Store log format strings in PROGMEM (saves 240 bytes RAM)
  esphome/components/script/script.cpp
  esphome/components/script/script.h
Labels: component: script, small-pr, code-quality

#10610 [gpio] ESP8266: Store log strings in flash memory
  esphome/components/gpio/binary_sensor/gpio_binary_sensor.cpp
Labels: component: gpio, code-quality

#10611 [light] ESP8266: Store log strings in flash memory
  esphome/components/light/light_call.cpp
Labels: component: light, code-quality

#10600 [captive_portal] ESP8266: Move strings to PROGMEM (saves 192 bytes RAM)
  esphome/components/captive_portal/captive_portal.cpp
  esphome/components/captive_portal/captive_portal.h
Labels: component: captive_portal, code-quality

#10568 [esp8266][api] Store error strings in PROGMEM to reduce RAM usage
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
  esphome/components/api/api_frame_helper_noise.cpp
  esphome/components/api/api_frame_helper_noise.h
Labels: component: api, code-quality

#10630 [core] Skip redundant process_to_add() call when no scheduler items added
  esphome/core/scheduler.cpp
Labels: core, small-pr, code-quality

#10595 Fix DNS resolution inconsistency between logs and OTA operations
  esphome/__main__.py
  esphome/espota2.py
  esphome/helpers.py
  esphome/resolver.py
  tests/unit_tests/test_helpers.py
  tests/unit_tests/test_resolver.py
Labels: has-tests, core, code-quality, bugfix

#10536 [core] Add memory pool to scheduler to reduce heap fragmentation
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
  tests/integration/fixtures/scheduler_pool.yaml
  tests/integration/test_scheduler_pool.py
Labels: has-tests, core, code-quality, bugfix

#10569 [esp8266][logger] Store LOG_LEVELS strings in PROGMEM to reduce RAM usage
  esphome/components/logger/logger.cpp
Labels: component: logger, small-pr, code-quality

#10577 [gpio_expander] Add intelligent pin type selection to CachedGpioExpander template
  esphome/components/gpio_expander/cached_gpio.h
  tests/integration/fixtures/external_components/gpio_expander_test_component/gpio_expander_test_component.cpp
  tests/integration/fixtures/external_components/gpio_expander_test_component_uint16/__init__.py
  tests/integration/fixtures/external_components/gpio_expander_test_component_uint16/gpio_expander_test_component_uint16.cpp
  tests/integration/fixtures/external_components/gpio_expander_test_component_uint16/gpio_expander_test_component_uint16.h
  tests/integration/fixtures/gpio_expander_cache.yaml
  tests/integration/test_gpio_expander_cache.py
Labels: has-tests, bugfix, component: gpio_expander

#10643 [ota] Fix duplicate include and sort
  esphome/components/esphome/ota/ota_esphome.h
Labels: small-pr, code-quality, component: esphome

#10571 [pca9554] Migrate to CachedGpioExpander to reduce I2C bus usage
  CODEOWNERS
  esphome/components/pca9554/__init__.py
  esphome/components/pca9554/pca9554.cpp
  esphome/components/pca9554/pca9554.h
Labels: code-quality, component: pca9554

#10573 [pcf8574] Migrate to CachedGpioExpander to reduce I2C bus usage
  esphome/components/pcf8574/__init__.py
  esphome/components/pcf8574/pcf8574.cpp
  esphome/components/pcf8574/pcf8574.h
Labels: component: pcf8574, code-quality

#10588 [sx1509] Migrate to CachedGpioExpander to reduce I2C bus usage
  esphome/components/sx1509/__init__.py
  esphome/components/sx1509/sx1509.cpp
  esphome/components/sx1509/sx1509.h
Labels: component: sx1509, code-quality

#10581 [mcp23016] Migrate to CachedGpioExpander to reduce I2C bus usage
  esphome/components/mcp23016/__init__.py
  esphome/components/mcp23016/mcp23016.cpp
  esphome/components/mcp23016/mcp23016.h
Labels: component: mcp23016, code-quality

#10553 [scheduler] Reduce SchedulerItem memory usage by 7.4% on 32-bit platforms
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Labels: core, code-quality

#9892 [mipi_rgb] Unified driver for MIPI RGB displays
  CODEOWNERS
  esphome/components/mipi/__init__.py
  esphome/components/mipi_rgb/__init__.py
  esphome/components/mipi_rgb/display.py
  esphome/components/mipi_rgb/mipi_rgb.cpp
  esphome/components/mipi_rgb/mipi_rgb.h
  esphome/components/mipi_rgb/models/guition.py
  esphome/components/mipi_rgb/models/lilygo.py
  esphome/components/mipi_rgb/models/rpi.py
  esphome/components/mipi_rgb/models/st7701s.py
  esphome/components/mipi_rgb/models/waveshare.py
  tests/components/mipi_rgb/test.esp32-s3-idf.yaml
Labels: new-component, new-feature, has-tests, new-platform, component: mipi, mega-pr, component: mipi_rgb

#10634 [api] Store plaintext error message in PROGMEM on ESP8266
  esphome/components/api/api_frame_helper_plaintext.cpp
Labels: component: api, small-pr, code-quality

#10556 [esp32] Reduce GPIO memory usage by 50% through bit-packing
  esphome/components/esp32/gpio.cpp
  esphome/components/esp32/gpio.h
Labels: code-quality, component: esp32, platform: esp32

#10302 RingBuffer: Make partial writing optional
  esphome/core/ring_buffer.cpp
  esphome/core/ring_buffer.h
Labels: core, small-pr

#10523 allow to implement show_logs as external component
  esphome/__main__.py
Labels: core, small-pr, code-quality

#10591 [nrf52] add more tests
  tests/components/alarm_control_panel/test.nrf52-adafruit.yaml
  tests/components/alarm_control_panel/test.nrf52-mcumgr.yaml
  tests/components/binary_sensor/test.nrf52-adafruit.yaml
  tests/components/binary_sensor/test.nrf52-mcumgr.yaml
  tests/components/button/test.nrf52-adafruit.yaml
  tests/components/button/test.nrf52-mcumgr.yaml
  tests/components/duty_cycle/test.nrf52-adafruit.yaml
  tests/components/duty_cycle/test.nrf52-mcumgr.yaml
  tests/components/duty_time/test.nrf52-adafruit.yaml
  tests/components/duty_time/test.nrf52-mcumgr.yaml
  tests/components/esphome/test.nrf52-adafruit.yaml
  tests/components/esphome/test.nrf52-mcumgr.yaml
  tests/components/event/test.nrf52-adafruit.yaml
  tests/components/event/test.nrf52-mcumgr.yaml
  tests/components/interval/test.nrf52-adafruit.yaml
  tests/components/interval/test.nrf52-mcumgr.yaml
  tests/components/lock/test.nrf52-adafruit.yaml
  tests/components/lock/test.nrf52-mcumgr.yaml
  tests/components/power_supply/test.nrf52-adafruit.yaml
  tests/components/power_supply/test.nrf52-mcumgr.yaml
  tests/components/pulse_counter/test.nrf52-adafruit.yaml
  tests/components/pulse_counter/test.nrf52-mcumgr.yaml
  tests/components/pulse_meter/test.nrf52-adafruit.yaml
  tests/components/pulse_meter/test.nrf52-mcumgr.yaml
  tests/components/pulse_width/test.nrf52-adafruit.yaml
  tests/components/pulse_width/test.nrf52-mcumgr.yaml
  tests/components/switch/test.nrf52-adafruit.yaml
  tests/components/switch/test.nrf52-mcumgr.yaml
  tests/components/version/test.nrf52-adafruit.yaml
  tests/components/version/test.nrf52-mcumgr.yaml
Labels: has-tests, small-pr, code-quality

#10658 [ms5611] remove delay in setup
  esphome/components/ms5611/ms5611.cpp
Labels: component: ms5611, small-pr, code-quality

#10575 Allow both files and directories to be passed to update-all
  esphome/util.py
  tests/unit_tests/test_util.py
Labels: has-tests, core, code-quality

#10561 [thermostat] General clean-up, optimization, properly support "auto" mode
  esphome/components/thermostat/climate.py
  esphome/components/thermostat/thermostat_climate.cpp
  esphome/components/thermostat/thermostat_climate.h
  esphome/const.py
Labels: component: thermostat, core, code-quality, by-code-owner

#8158 [bl0940] extend configuration options of bl0940 device
  CODEOWNERS
  esphome/components/bl0940/__init__.py
  esphome/components/bl0940/bl0940.cpp
  esphome/components/bl0940/bl0940.h
  esphome/components/bl0940/button/__init__.py
  esphome/components/bl0940/button/calibration_reset_button.cpp
  esphome/components/bl0940/button/calibration_reset_button.h
  esphome/components/bl0940/number/__init__.py
  esphome/components/bl0940/number/calibration_number.cpp
  esphome/components/bl0940/number/calibration_number.h
  esphome/components/bl0940/sensor.py
  tests/components/bl0940/common.yaml
Labels: new-feature, has-tests, code-quality, new-platform, component: bl0940

#10700 Add additional test coverage ahead of Path conversion
  tests/unit_tests/conftest.py
  tests/unit_tests/core/test_config.py
  tests/unit_tests/test_platformio_api.py
  tests/unit_tests/test_storage_json.py
Labels: has-tests, code-quality

#10713 [core] Optimize MAC address formatting to eliminate sprintf dependency
  esphome/components/ethernet/ethernet_component.cpp
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Labels: component: ethernet, core, code-quality

#10702 [api] Revert unneeded GetTime bidirectional support added in #9790
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
Labels: component: api, code-quality

#10719 [scheduler] Fix timing accumulation in scheduler causing incorrect execution measurements
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Labels: core, small-pr, bugfix

#10711 ina2xx should be total increasing for energy sensor
  esphome/components/ina2xx_base/__init__.py
Labels: small-pr, bugfix, component: ina2xx_base

#10710 [md5] Optimize MD5::get_hex() to eliminate sprintf dependency
  esphome/components/md5/md5.cpp
Labels: small-pr, code-quality, component: md5

#10715 [wifi] Optimize WiFi MAC formatting to eliminate sprintf dependency
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi_info/wifi_info_text_sensor.h
Labels: component: wifi, component: wifi_info, small-pr, code-quality

#10717 Unpin libretiny version in network test
  tests/components/network/test-ipv6.bk72xx-ard.yaml
  tests/components/network/test.bk72xx-ard.yaml
Labels: has-tests, small-pr, code-quality

#10704 [api] Exclude ConnectRequest/Response when password is disabled
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
Labels: component: api, code-quality

#10725 2025.9.0b2
  Doxyfile
  esphome/__main__.py
  esphome/components/adc/__init__.py
  esphome/components/adc/sensor.py
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/client.py
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/captive_portal/captive_index.h
  esphome/components/esp32_ble/ble_uuid.cpp
  esphome/components/esp32_ble_beacon/esp32_ble_beacon.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
  esphome/components/factory_reset/button/factory_reset_button.cpp
  esphome/components/factory_reset/button/factory_reset_button.h
  esphome/components/factory_reset/switch/factory_reset_switch.cpp
  esphome/components/factory_reset/switch/factory_reset_switch.h
  esphome/components/ina2xx_base/__init__.py
  esphome/components/md5/md5.cpp
  esphome/components/openthread/openthread.cpp
  esphome/components/openthread/openthread.h
  esphome/components/web_server/server_index_v2.h
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi_info/wifi_info_text_sensor.h
  esphome/const.py
  esphome/core/helpers.cpp
  esphome/core/helpers.h
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
  requirements.txt
  tests/dashboard/test_web_server.py
  tests/unit_tests/test_main.py
Labels: merging-to-beta

#10730 [CI] Check esp32 boards file is up to date
  .github/workflows/ci.yml
  esphome/components/esp32/boards.py
  script/generate-esp32-boards.py
Labels: component: esp32, github-actions, platform: esp32

#10741 [select] Use const references to avoid unnecessary vector copies
  esphome/components/select/select.cpp
  esphome/components/select/select_call.cpp
Labels: small-pr, code-quality, component: select

#10724 [dashboard] Fix archive handler to properly delete build folders using correct path
  esphome/dashboard/web_server.py
  tests/dashboard/test_web_server.py
  tests/unit_tests/core/test_config.py
Labels: has-tests, code-quality, bugfix, dashboard

#10747 [ethernet] Conditionally compile PHY-specific code to reduce flash usage
  esphome/components/ethernet/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
  esphome/core/defines.h
Labels: component: ethernet, core, small-pr, code-quality

#10750 [ade7880] fix channel a voltage registry
  esphome/components/ade7880/ade7880.cpp
Labels: small-pr, bugfix, component: ade7880

#10752 2025.9.0b3
  Doxyfile
  esphome/components/ade7880/ade7880.cpp
  esphome/components/ethernet/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/select/select.cpp
  esphome/components/select/select_call.cpp
  esphome/const.py
  esphome/core/defines.h
  esphome/dashboard/web_server.py
  tests/dashboard/test_web_server.py
  tests/unit_tests/conftest.py
  tests/unit_tests/core/test_config.py
  tests/unit_tests/test_config_validation_paths.py
  tests/unit_tests/test_external_files.py
  tests/unit_tests/test_platformio_api.py
  tests/unit_tests/test_storage_json.py
Labels: merging-to-beta

#10753 [wizard] Fix KeyError when running wizard with empty OTA password
  esphome/wizard.py
  tests/unit_tests/test_wizard.py
Labels: has-tests, core, code-quality, bugfix

#10754 [core] Fix clean build files to properly clear PlatformIO cache
  esphome/writer.py
  tests/unit_tests/test_writer.py
Labels: has-tests, core, code-quality, bugfix

#10761 2025.9.0b4
  Doxyfile
  esphome/const.py
  esphome/wizard.py
  esphome/writer.py
  tests/unit_tests/test_util.py
  tests/unit_tests/test_wizard.py
  tests/unit_tests/test_writer.py
Labels: merging-to-beta

#10768 Migrate to SPDX license specifier in pyproject.toml
  pyproject.toml
Labels: small-pr, bugfix

#10765 fix(packet_transport): Add initialization for sensor configuration in packet transport
  esphome/components/packet_transport/__init__.py
Labels: small-pr, bugfix, component: packet_transport

#10729 [esp32] Optimize NVS preferences memory usage by replacing vector with unique_ptr
  esphome/components/esp32/preferences.cpp
Labels: code-quality, component: esp32, platform: esp32

#10731 [libretiny] Optimize preferences memory usage by replacing vector with unique_ptr
  esphome/components/libretiny/preferences.cpp
Labels: code-quality, component: libretiny, platform: libretiny

#10762 [zwave_proxy] New component
  CODEOWNERS
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/zwave_proxy/__init__.py
  esphome/components/zwave_proxy/zwave_proxy.cpp
  esphome/components/zwave_proxy/zwave_proxy.h
  esphome/core/defines.h
  tests/components/zwave_proxy/common.yaml
  tests/components/zwave_proxy/test.esp32-ard.yaml
  tests/components/zwave_proxy/test.esp32-c3-ard.yaml
  tests/components/zwave_proxy/test.esp32-c3-idf.yaml
  tests/components/zwave_proxy/test.esp32-idf.yaml
  tests/components/zwave_proxy/test.esp8266-ard.yaml
  tests/components/zwave_proxy/test.rp2040-ard.yaml
Labels: new-component, new-feature, component: api, has-tests, core, component: zwave_proxy

#10720 [ektf2232] Rename `rts_pin` to `reset_pin`
  esphome/components/ektf2232/touchscreen/__init__.py
  esphome/components/ektf2232/touchscreen/ektf2232.cpp
  esphome/components/ektf2232/touchscreen/ektf2232.h
  tests/components/ektf2232/common.yaml
  tests/components/ektf2232/test.esp32-ard.yaml
  tests/components/ektf2232/test.esp32-c3-ard.yaml
  tests/components/ektf2232/test.esp32-c3-idf.yaml
  tests/components/ektf2232/test.esp32-idf.yaml
  tests/components/ektf2232/test.esp8266-ard.yaml
  tests/components/ektf2232/test.rp2040-ard.yaml
Labels: breaking-change, has-tests, by-code-owner, component: ektf2232

#10797 [api_protobuf.py] Use type appropriate for `estimated_size`
  script/api_protobuf/api_protobuf.py
Labels: small-pr, bugfix

#10813 [sensirion] Fix warning
  esphome/components/sensirion_common/i2c_sensirion.cpp
Labels: small-pr, component: sensirion_common

#10788 [tests] Add integration tests for oversized payload handling in API
  esphome/writer.py
  tests/integration/conftest.py
  tests/integration/fixtures/cache_init.yaml
  tests/integration/fixtures/noise_corrupt_encrypted_frame.yaml
  tests/integration/fixtures/oversized_payload_noise.yaml
  tests/integration/fixtures/oversized_payload_plaintext.yaml
  tests/integration/fixtures/oversized_protobuf_message_id_noise.yaml
  tests/integration/fixtures/oversized_protobuf_message_id_plaintext.yaml
  tests/integration/test_oversized_payloads.py
  tests/integration/types.py
Labels: has-tests, core, code-quality

#10764 [esp32_improv] Disable loop by default until provisioning needed
  esphome/components/esp32_improv/esp32_improv_component.cpp
Labels: small-pr, code-quality, bugfix, component: esp32_improv

#10756 Skip external component updates when running logs command
  esphome/__main__.py
  esphome/components/external_components/__init__.py
  esphome/components/packages/__init__.py
  esphome/config.py
  esphome/git.py
  tests/component_tests/conftest.py
  tests/component_tests/external_components/test_init.py
  tests/component_tests/packages/test_init.py
  tests/unit_tests/conftest.py
  tests/unit_tests/test_git.py
Labels: component: packages, has-tests, core, code-quality, bugfix, component: external_components

#10822 tuya: handle WIFI_SELECT and WIFI_RESET
  esphome/components/tuya/tuya.cpp
Labels: component: tuya, bugfix

#10780 [esp32_ble] Remove Arduino-specific BLE limitations and SplitDefaults
  esphome/components/bluetooth_proxy/__init__.py
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble_tracker/__init__.py
Labels: component: esp32_ble_tracker, code-quality, by-code-owner, component: esp32_ble, component: bluetooth_proxy

#10852 [api] Consolidate authentication checks to reduce function call overhead
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/proto.h
  script/api_protobuf/api_protobuf.py
Labels: component: api, code-quality

#10850 Add external wake word message
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/api/api_pb2_service.cpp
Labels: new-feature, needs-docs, needs-tests, component: api

#10847 [scd30] Fix temp offset
  esphome/components/scd30/sensor.py
Labels: component: scd30, small-pr, bugfix

#10876 [core] Rename to clean-platform to clean-all
  esphome/__main__.py
  esphome/dashboard/web_server.py
  esphome/writer.py
  tests/unit_tests/test_main.py
  tests/unit_tests/test_writer.py
Labels: has-tests, core, code-quality, dashboard

#10882 Add sha256 support
  CODEOWNERS
  esphome/components/md5/md5.cpp
  esphome/components/md5/md5.h
  esphome/components/sha256/__init__.py
  esphome/components/sha256/sha256.cpp
  esphome/components/sha256/sha256.h
  esphome/core/defines.h
  esphome/core/hash_base.h
  esphome/core/helpers.h
  tests/components/sha256/common.yaml
  tests/components/sha256/test.bk72xx-ard.yaml
  tests/components/sha256/test.esp32-idf.yaml
  tests/components/sha256/test.esp8266-ard.yaml
  tests/components/sha256/test.host.yaml
  tests/components/sha256/test.rp2040-ard.yaml
Labels: new-component, new-feature, has-tests, core, component: md5, component: sha256

#10858 [dashboard] Fix progress bars on Windows
  esphome/dashboard/web_server.py
Labels: small-pr, bugfix, dashboard

#10801 [htu21d] Fix I2C NACK issue and buffer overrun
  esphome/components/htu21d/htu21d.cpp
  esphome/components/htu21d/htu21d.h
Labels: component: htu21d, bugfix

#10891 Update stale bot rules
  .github/workflows/stale.yml
Labels: github-actions

#10890 [version] Reduce flash usage by optimizing string concatenation in setup()
  esphome/components/version/version_text_sensor.cpp
Labels: component: version, small-pr, code-quality

#10889 [web_server] Remove std::find_if overhead matching IDF implementation
  esphome/components/web_server/web_server.cpp
Labels: component: web_server, small-pr, code-quality

#10888 [climate] Remove STL algorithm overhead in save_state() method
  esphome/components/climate/climate.cpp
Labels: component: climate, small-pr, code-quality

#10809 [ota] Add SHA256 password authentication with backward compatibility
  esphome/components/esphome/ota/__init__.py
  esphome/components/esphome/ota/ota_esphome.cpp
  esphome/components/esphome/ota/ota_esphome.h
  esphome/components/ota/ota_backend.h
  esphome/core/defines.h
  esphome/espota2.py
  tests/unit_tests/test_espota2.py
Labels: component: ota, has-tests, core, code-quality, component: esphome

#10902 [esp32_improv] Fix crashes from uninitialized pointers and missing null checks
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/esp32_improv/esp32_improv_component.h
Labels: bugfix, component: esp32_improv

#10915 Fix flow control & cmd byte calculation on multichannel ch34x devices
  esphome/components/usb_uart/ch34x.cpp
Labels: small-pr, component: usb_uart

#10766 [spi] fix SPI interface selection on ESP32-S2 and -S3 (#10732)
  esphome/components/spi/__init__.py
  tests/components/spi/test.esp32-s3-ard.yaml
Labels: component: spi, has-tests, small-pr, bugfix

#10917 [esp32_ble_tracker] Reduce gap_scan_result log verbosity to VV
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
Labels: component: esp32_ble_tracker, small-pr, code-quality, by-code-owner

#10894 [esp32_ble_server] Replace HashMap with vector for services - saves 1KB flash, 26x faster
  esphome/components/esp32_ble_server/ble_server.cpp
  esphome/components/esp32_ble_server/ble_server.h
Labels: code-quality, component: esp32_ble_server

#10908 [core] Fix platform component normalization happening too late in validation pipeline
  esphome/config.py
  tests/unit_tests/fixtures/ota_empty_dict.yaml
  tests/unit_tests/fixtures/ota_no_platform.yaml
  tests/unit_tests/fixtures/ota_with_platform_list.yaml
  tests/unit_tests/test_config_normalization.py
Labels: has-tests, core, code-quality, bugfix

#10865 [sim800l] Fixed ignoring incoming calls.
  esphome/components/sim800l/sim800l.cpp
Labels: component: sim800l, small-pr, bugfix

#10695 [nrf52] add more tests
  tests/components/analog_threshold/test.nrf52-adafruit.yaml
  tests/components/analog_threshold/test.nrf52-mcumgr.yaml
  tests/components/bang_bang/test.nrf52-adafruit.yaml
  tests/components/bang_bang/test.nrf52-mcumgr.yaml
Labels: has-tests, small-pr, code-quality

#10941 [script] Reduce RAM usage by storing names in flash
  esphome/codegen.py
  esphome/components/script/__init__.py
  esphome/components/script/script.h
Labels: component: script, core, small-pr, code-quality

#10945 [voice_assistant] Fix wakeword string being reset while referenced
  esphome/components/voice_assistant/voice_assistant.cpp
Labels: small-pr, bugfix, component: voice_assistant

#10912 [ota] Complete non-blocking authentication implementation
  esphome/components/esphome/ota/ota_esphome.cpp
  esphome/components/esphome/ota/ota_esphome.h
  esphome/core/defines.h
Labels: core, code-quality, bugfix, component: esphome

#10939 [api] Add configurable connection limits
  esphome/components/api/__init__.py
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
Labels: breaking-change, component: api

#10958 [const] Move `CONF_ON_RESPONSE` to const.py
  esphome/components/http_request/__init__.py
  esphome/const.py
Labels: component: http_request, core, small-pr
