Repository esphome/esphome, pull requests merged in 2025-04, with the labels that each got.

#8501 [lvgl] Add some defines
  esphome/core/defines.h
Labels: core, small-pr

#8180 Add support for MCP4461 quad i2c digipot/rheostat
  CODEOWNERS
  esphome/components/mcp4461/__init__.py
  esphome/components/mcp4461/mcp4461.cpp
  esphome/components/mcp4461/mcp4461.h
  esphome/components/mcp4461/output/__init__.py
  esphome/components/mcp4461/output/mcp4461_output.cpp
  esphome/components/mcp4461/output/mcp4461_output.h
  tests/components/mcp4461/common.yaml
  tests/components/mcp4461/test.esp32-ard.yaml
  tests/components/mcp4461/test.esp32-c3-ard.yaml
  tests/components/mcp4461/test.esp32-c3-idf.yaml
  tests/components/mcp4461/test.esp32-idf.yaml
  tests/components/mcp4461/test.esp8266-ard.yaml
Labels: new-integration, has-tests, integration: mcp4461

#8430 Bump platformio to 6.1.18
  docker/Dockerfile
  requirements.txt
Labels: small-pr

#8508 Update emails from nabucasa to OHF
  .github/FUNDING.yml
  .github/workflows/sync-device-classes.yml
  CODE_OF_CONDUCT.md
  pyproject.toml
Labels: small-pr

#8070 [nau7802] fix bad blocking code (#6395)
  esphome/components/nau7802/nau7802.cpp
  esphome/components/nau7802/nau7802.h
Labels: small-pr, by-code-owner, integration: nau7802

#8509 [core, qspi_dbi] Clang tidy fixes for 5.3.2
  esphome/components/qspi_dbi/qspi_dbi.cpp
  esphome/components/qspi_dbi/qspi_dbi.h
  esphome/core/helpers.cpp
Labels: core, small-pr, integration: qspi_dbi

#8510 [CI] Clang tidy fixes for 5.3.2
  script/clang-tidy
Labels: core, small-pr

#8492 [ethernet_info] return actual ethernet MAC address
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet_info/ethernet_info_text_sensor.h
Labels: integration: ethernet, small-pr, bugfix, integration: ethernet_info

#8478 [component] Show error message for failed component
  esphome/core/component.cpp
  esphome/core/component.h
Labels: core, small-pr

#8519 [psram] Allow use of experimental 120MHz octal mode
  esphome/components/esp32/__init__.py
  esphome/components/psram/__init__.py
  esphome/components/psram/psram.cpp
  tests/components/psram/common.yaml
  tests/components/psram/test.esp32-c3-ard.yaml
  tests/components/psram/test.esp32-c3-idf.yaml
  tests/components/psram/test.esp32-s3-ard.yaml
  tests/components/psram/test.esp32-s3-idf.yaml
Labels: has-tests, bugfix, integration: esp32, integration: psram

#8522 Bump aioesphomeapi to 29.9.0
  requirements.txt
Labels: small-pr

#8498 [lvgl] add on_boot trigger
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/trigger.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#8502 [lvgl] Make line points templatable
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/automation.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/lvcode.py
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/widgets/line.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#8386 [spi] Implement octal mode
  esphome/components/qspi_dbi/display.py
  esphome/components/spi/__init__.py
  esphome/components/spi/spi.h
  esphome/components/spi/spi_esp_idf.cpp
  tests/components/spi/test.esp32-s3-idf.yaml
Labels: integration: spi, has-tests, core, by-code-owner, integration: qspi_dbi

#8531 real_time_clock: Apply timezone immediately in set_timezone()
  esphome/components/time/real_time_clock.cpp
  esphome/components/time/real_time_clock.h
Labels: integration: time, small-pr

#8504 [lvgl] Implement canvas widget
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/lv_validation.py
  esphome/components/lvgl/lvcode.py
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/styles.py
  esphome/components/lvgl/widgets/canvas.py
  esphome/components/lvgl/widgets/line.py
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#8540 [lvgl] Fix use of image without canvas (Bugfix)
  esphome/components/lvgl/lvgl_esphome.h
Labels: small-pr, bugfix, by-code-owner, integration: lvgl

#8526 [esp32] Allow pioarduino version 5.3.3 and 5.5.0
  esphome/components/esp32/__init__.py
Labels: small-pr, integration: esp32

#8551 Include MAC address in noise hello
  esphome/components/api/api_frame_helper.cpp
Labels: integration: api, core, small-pr

#8553 [axs15231] Don't overwrite manual dimensions
  esphome/components/axs15231/touchscreen/axs15231_touchscreen.cpp
Labels: small-pr, bugfix, by-code-owner, integration: axs15231

#8547 [lvgl] Fix initial focus on roller
  esphome/components/lvgl/encoders.py
  esphome/components/lvgl/schemas.py
  tests/components/lvgl/test.esp32-idf.yaml
Labels: has-tests, small-pr, bugfix, by-code-owner, integration: lvgl

#8494 [lvgl] Add restore_value to select and number
  esphome/components/lvgl/lvcode.py
  esphome/components/lvgl/number/__init__.py
  esphome/components/lvgl/number/lvgl_number.h
  esphome/components/lvgl/select/__init__.py
  esphome/components/lvgl/select/lvgl_select.h
  tests/components/lvgl/common.yaml
  tests/components/lvgl/lvgl-package.yaml
Labels: has-tests, by-code-owner, integration: lvgl

#8558 Update setup to make .temp directory
  script/setup
Labels: core, small-pr

#8412 [core] make require_framework_version generic
  esphome/components/network/__init__.py
  esphome/config_validation.py
  tests/unit_tests/test_config_validation.py
Labels: integration: network, has-tests, core, small-pr

#8557 Add support for Waveshare 5.65" ACeP 7-Color display
  esphome/components/waveshare_epaper/display.py
  esphome/components/waveshare_epaper/waveshare_epaper.cpp
  esphome/components/waveshare_epaper/waveshare_epaper.h
  tests/components/waveshare_epaper/common.yaml
Labels: integration: waveshare_epaper, has-tests

#8564 [ci] Pin codecov action to v5.4.0
  .github/workflows/ci.yml
Labels: small-pr

#8565 Bump esphome-dashboard to 20250415.0
  requirements.txt
Labels: small-pr

#8567 2025.4.0b2
  esphome/components/api/api_frame_helper.cpp
  esphome/components/axs15231/touchscreen/axs15231_touchscreen.cpp
  esphome/components/lvgl/automation.py
  esphome/components/lvgl/encoders.py
  esphome/components/lvgl/lvcode.py
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/number/__init__.py
  esphome/components/lvgl/number/lvgl_number.h
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/select/__init__.py
  esphome/components/lvgl/select/lvgl_select.h
  esphome/components/lvgl/widgets/buttonmatrix.py
  esphome/components/lvgl/widgets/canvas.py
  esphome/components/lvgl/widgets/meter.py
  esphome/components/speaker/media_player/audio_pipeline.cpp
  esphome/const.py
  requirements.txt
  tests/components/lvgl/common.yaml
  tests/components/lvgl/lvgl-package.yaml
  tests/components/lvgl/test.esp32-idf.yaml
Labels: merging-to-beta

#8523 [lvgl] Small buffers in internal RAM
  esphome/components/lvgl/lvgl_esphome.cpp
Labels: small-pr, by-code-owner, integration: lvgl

#8568 Use python3 in place of python, as some systems don't emulate the former
  script/test_build_components
Labels: core, small-pr

#8535 Fix '--device MQTT' for devices with static IP
  esphome/__main__.py
Labels: core, small-pr

#8499 [am2315c] Use warning not fail during update
  esphome/components/am2315c/am2315c.cpp
Labels: small-pr, by-code-owner, integration: am2315c

#8500 Fix vscode validation not showing error squiggles
  esphome/config_validation.py
  esphome/core/__init__.py
  esphome/vscode.py
  esphome/yaml_util.py
  tests/unit_tests/test_vscode.py
  tests/unit_tests/test_yaml_util.py
Labels: has-tests, core

#8571 SML runtime optimizations
  esphome/components/sml/sml.cpp
  esphome/components/sml/sml.h
  esphome/components/sml/sml_parser.cpp
  esphome/components/sml/sml_parser.h
Labels: integration: sml

#8541 Add typing to protobuf code generator
  script/api_protobuf/api_protobuf.py
Labels: core

#8573 2025.4.0b3
  esphome/__main__.py
  esphome/components/am2315c/am2315c.cpp
  esphome/components/sml/sml.cpp
  esphome/components/sml/sml.h
  esphome/components/sml/sml_parser.cpp
  esphome/components/sml/sml_parser.h
  esphome/config_validation.py
  esphome/const.py
  esphome/core/__init__.py
  esphome/vscode.py
  esphome/yaml_util.py
  requirements.txt
  tests/unit_tests/test_vscode.py
  tests/unit_tests/test_yaml_util.py
Labels: merging-to-beta

#8580 fix typo `USE_ESP32_VARIANT_ESP32H6`
  esphome/components/esp32_can/esp32_can.cpp
Labels: integration: esp32_can, small-pr

#8247 [prometheus] Add climate metrics
  esphome/components/prometheus/prometheus_handler.cpp
  esphome/components/prometheus/prometheus_handler.h
  tests/components/prometheus/common.yaml
  tests/components/prometheus/test.esp32-ard.yaml
  tests/components/prometheus/test.esp32-c3-ard.yaml
  tests/components/prometheus/test.esp32-c3-idf.yaml
  tests/components/prometheus/test.esp32-idf.yaml
  tests/components/prometheus/test.esp8266-ard.yaml
Labels: has-tests, integration: prometheus, merge-after-release

#7296 [api] Allow noise encryption key to be set at runtime
  esphome/components/api/__init__.py
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_noise_context.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/mdns/mdns_component.cpp
  esphome/components/mqtt/mqtt_client.cpp
  tests/components/api/test-dynamic-encryption.esp32-idf.yaml
Labels: integration: api, integration: mqtt, has-tests, core, integration: mdns, merge-after-release

#8292 Add CUBIC PM2005/PM2105 Laser Particle Sensor Module
  CODEOWNERS
  esphome/components/pm2005/__init__.py
  esphome/components/pm2005/pm2005.cpp
  esphome/components/pm2005/pm2005.h
  esphome/components/pm2005/sensor.py
  tests/components/pm2005/common.yaml
  tests/components/pm2005/test.esp32-ard.yaml
  tests/components/pm2005/test.esp32-c3-ard.yaml
  tests/components/pm2005/test.esp32-c3-idf.yaml
  tests/components/pm2005/test.esp32-idf.yaml
  tests/components/pm2005/test.esp8266-ard.yaml
  tests/components/pm2005/test.rp2040-ard.yaml
Labels: new-integration, has-tests, integration: pm2005

#8304 [uptime] Add format config for text_sensor
  esphome/components/uptime/text_sensor/__init__.py
  esphome/components/uptime/text_sensor/uptime_text_sensor.cpp
  esphome/components/uptime/text_sensor/uptime_text_sensor.h
  tests/components/uptime/common.yaml
Labels: integration: uptime, has-tests, merge-after-release

#8333 [mapping] Implement yaml-configured maps
  CODEOWNERS
  esphome/components/color/__init__.py
  esphome/components/image/__init__.py
  esphome/components/mapping/__init__.py
  esphome/core/__init__.py
  esphome/cpp_generator.py
  esphome/loader.py
  tests/components/mapping/common.yaml
  tests/components/mapping/test.esp32-ard.yaml
  tests/components/mapping/test.esp32-c3-ard.yaml
  tests/components/mapping/test.esp32-c3-idf.yaml
  tests/components/mapping/test.esp32-idf.yaml
  tests/components/mapping/test.esp8266-ard.yaml
  tests/components/mapping/test.host.yaml
  tests/components/mapping/test.rp2040-ard.yaml
Labels: new-integration, integration: color, integration: image, has-tests, core, integration: mapping

#8484 [internal_temperature] Add p4 ifdefs
  esphome/components/internal_temperature/internal_temperature.cpp
Labels: small-pr, integration: internal_temperature, merge-after-release

#8536 Sort resolved IP addresses for dashboard
  esphome/dashboard/web_server.py
  esphome/helpers.py
  tests/unit_tests/test_helpers.py
Labels: has-tests, core, dashboard

#8583 Remove duplicate co2 and pressure constants
  esphome/components/scd30/sensor.py
  esphome/components/scd4x/sensor.py
  esphome/components/sdp3x/sensor.py
  esphome/const.py
Labels: integration: scd30, core, small-pr, integration: scd4x, integration: sdp3x

#7777 [remote_receiver] Filtering fixes
  esphome/components/remote_receiver/remote_receiver_esp32.cpp
Labels: integration: remote_receiver, small-pr

#8584 Fix psram below idf 5
  esphome/components/psram/psram.cpp
Labels: small-pr, integration: psram

#8588 [psram] Add version check to fix 5.3.2
  esphome/components/psram/__init__.py
Labels: small-pr, integration: psram

#8566 Bump esp-idf to 5.1.6
  esphome/components/esp32/__init__.py
  esphome/core/defines.h
  platformio.ini
Labels: core, small-pr, integration: esp32

#8596 [lvgl] Ensure pages are created on the correct display
  esphome/components/lvgl/lvgl_esphome.cpp
Labels: small-pr, bugfix, by-code-owner, integration: lvgl

#8594 Update const.py - Add UNIT_MEGAJOULE = "MJ"
  esphome/const.py
Labels: core, small-pr

#8597 Fix BLE connection loop caused by timeout and pending disconnect race
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: esp32_ble_tracker, small-pr, integration: bluetooth_proxy

#8260 Fix unexpected widget update behavior
  esphome/components/lvgl/widgets/arc.py
  esphome/components/lvgl/widgets/dropdown.py
  esphome/components/lvgl/widgets/img.py
Labels: small-pr, integration: lvgl

#8601 Rewrite BLE scanner to use a state machine
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: esp32_ble_tracker

#8224 [http_request] Ability to get response headers
  esphome/components/http_request/__init__.py
  esphome/components/http_request/http_request.cpp
  esphome/components/http_request/http_request.h
  esphome/components/http_request/http_request_arduino.cpp
  esphome/components/http_request/http_request_arduino.h
  esphome/components/http_request/http_request_idf.cpp
  esphome/components/http_request/http_request_idf.h
  tests/components/http_request/common.yaml
Labels: integration: http_request, has-tests

#8250 [sht4x] Reduce warn spam, added communication check in setup
  esphome/components/sht4x/sht4x.cpp
  esphome/components/sht4x/sht4x.h
Labels: code-quality, bugfix, integration: sht4x

#8607 [online_image] Fix printf format; comment fixes
  esphome/components/online_image/online_image.cpp
Labels: small-pr, bugfix, by-code-owner, integration: online_image

#8602 [watchdog] Fix for variants with single core
  esphome/components/watchdog/watchdog.cpp
Labels: small-pr, integration: watchdog

#8593 Schema gen action
  .github/workflows/ci.yml
  esphome/schema_extractors.py
  script/build_language_schema.py
Labels: core

#8181 [i2s_audio, i2s_audio_microphone, i2s_audio_speaker] Add basic support for new esp-idf 5.x.x i2s driver.
  esphome/components/i2s_audio/__init__.py
  esphome/components/i2s_audio/i2s_audio.h
  esphome/components/i2s_audio/media_player/__init__.py
  esphome/components/i2s_audio/microphone/__init__.py
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.h
  esphome/components/i2s_audio/speaker/__init__.py
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  esphome/core/defines.h
  tests/components/micro_wake_word/common.yaml
  tests/components/microphone/test.esp32-idf.yaml
Labels: has-tests, core, integration: i2s_audio

#8621 fix schema-gen-ci failures
  script/build_language_schema.py
Labels: core, small-pr

#8628 replace `http` with `https`
  esphome/config_validation.py
  esphome/platformio_api.py
  esphome/wizard.py
Labels: core, small-pr

#8582 [docker] Use new base container image
  .dockerignore
  .github/actions/build-image/action.yaml
  .github/actions/restore-python/action.yml
  .github/dependabot.yml
  .github/workflows/ci-docker.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docker/Dockerfile
  docker/build.py
  pyproject.toml
  requirements.txt
  requirements_optional.txt
  script/setup
  script/setup.bat
Labels: core, small-pr

#8625 [i2s_audio] Microphone reads in loop for callbacks shouldn't ever delay
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.h
Labels: small-pr, integration: i2s_audio

#8626 [micro_wake_word] Use microphone callback and avoid unnecessary allocation attempts
  esphome/components/micro_wake_word/micro_wake_word.cpp
  esphome/components/micro_wake_word/micro_wake_word.h
Labels: by-code-owner, integration: micro_wake_word

#8610 [voice_assisant] support start/continue conversation and deallocate buffers
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
Labels: integration: voice_assistant

#8627 [voice_assistant] Use mic callback and remove esp_adf code
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
Labels: small-pr, integration: voice_assistant

#8600 [core] Fix setting of log level/verbose
  esphome/log.py
Labels: core, small-pr, bugfix

#8385 [const] Create component-level const repository
  CODEOWNERS
  esphome/components/const/__init__.py
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/defines.py
  esphome/components/qspi_dbi/__init__.py
  esphome/components/qspi_dbi/display.py
  esphome/components/qspi_dbi/models.py
  tests/components/const/common.yaml
  tests/components/const/test.esp32-s3-idf.yaml
Labels: new-integration, needs-docs, has-tests, small-pr, by-code-owner, integration: lvgl, integration: qspi_dbi, integration: const

#8040 [http_request] Implement for host platform
  esphome/components/http_request/__init__.py
  esphome/components/http_request/http_request_host.cpp
  esphome/components/http_request/http_request_host.h
  esphome/components/http_request/httplib.h
  script/ci-custom.py
  tests/components/http_request/common.yaml
  tests/components/http_request/http_request.yaml
  tests/components/http_request/test.host.yaml
Labels: integration: http_request, has-tests, core

#8630 Take advantage of clipping to speed image drawing.
  esphome/components/image/image.cpp
Labels: integration: image, core, small-pr

#8632 [touchscreen] Clear interrupt flag before reading touch data.
  esphome/components/touchscreen/touchscreen.cpp
Labels: small-pr, integration: touchscreen

#8606 [mdns] Support templatable config options for MDNS extra services
  esphome/components/mdns/__init__.py
  esphome/components/mdns/mdns_component.cpp
  esphome/components/mdns/mdns_component.h
  esphome/components/mdns/mdns_esp32.cpp
  esphome/components/mdns/mdns_esp8266.cpp
  esphome/components/mdns/mdns_libretiny.cpp
  esphome/components/mdns/mdns_rp2040.cpp
  esphome/core/automation.h
  tests/components/mdns/common-enabled.yaml
Labels: has-tests, core, integration: mdns

#8290 Fix support for ESP32-H2 in deep_sleep
  esphome/components/deep_sleep/deep_sleep_esp32.cpp
Labels: integration: deep_sleep, core, small-pr, improvement

#8639 Update ens160_base.cpp – fix wrong double negative
  esphome/components/ens160_base/ens160_base.cpp
Labels: small-pr, integration: ens160_base

#8643 [esp32_ble] Remove explicit and now incorrect ble override for esp32-c6
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/const_esp32c6.h
Labels: small-pr, by-code-owner, integration: esp32_ble

#8646 [const] Move CONF_GAIN_FACTOR to const.py
  esphome/components/sen5x/sensor.py
  esphome/components/sgp4x/sensor.py
  esphome/const.py
Labels: core, small-pr, integration: sen5x, integration: sgp4x

#8644 [http_request] Fix request headers
  esphome/components/http_request/__init__.py
Labels: integration: http_request, small-pr

#8307 add beo4_protocol to remote_base component
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/beo4_protocol.cpp
  esphome/components/remote_base/beo4_protocol.h
  tests/components/remote_receiver/common-actions.yaml
  tests/components/remote_transmitter/common-buttons.yaml
Labels: not-stale, integration: remote_base, has-tests

#8642 Ensure new const file stays in order
  script/ci-custom.py
Labels: core, small-pr

#8641 [audio, microphone] Add MicrophoneSource helper class
  CODEOWNERS
  esphome/components/audio/__init__.py
  esphome/components/audio/audio_resampler.cpp
  esphome/components/audio/audio_resampler.h
  esphome/components/microphone/__init__.py
  esphome/components/microphone/microphone.h
  esphome/components/microphone/microphone_source.cpp
  esphome/components/microphone/microphone_source.h
Labels: by-code-owner, integration: microphone, integration: audio

#8647 2025.4.1
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/ens160_base/ens160_base.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/components/online_image/online_image.cpp
  esphome/components/psram/psram.cpp
  esphome/components/watchdog/watchdog.cpp
  esphome/const.py
  esphome/log.py
Labels: merging-to-release

#8649 [bluetooth_proxy] Allow changing active/passive via api
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Labels: integration: api, integration: esp32_ble_tracker, core, by-code-owner, integration: bluetooth_proxy

#8485 [pmsa003i] code improvements
  esphome/components/pmsa003i/pmsa003i.cpp
  esphome/components/pmsa003i/pmsa003i.h
Labels: improvement, integration: pmsa003i

#8327 [adc] sort variants and add links to reference implementations
  esphome/components/adc/__init__.py
Labels: integration: adc, core

#8645 [i2s_audio, microphone, micro_wake_word, voice_assistant] Use microphone source to process incoming audio
  esphome/components/i2s_audio/microphone/__init__.py
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.h
  esphome/components/micro_wake_word/__init__.py
  esphome/components/micro_wake_word/micro_wake_word.cpp
  esphome/components/micro_wake_word/micro_wake_word.h
  esphome/components/microphone/__init__.py
  esphome/components/microphone/automation.h
  esphome/components/microphone/microphone.h
  esphome/components/microphone/microphone_source.cpp
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  tests/components/micro_wake_word/common.yaml
  tests/components/voice_assistant/common.yaml
Labels: breaking-change, has-tests, integration: i2s_audio, integration: microphone, integration: voice_assistant, integration: micro_wake_word

#8654 [media_player] Fix actions with id as value
  esphome/components/media_player/__init__.py
Labels: small-pr, by-code-owner, integration: media_player

#8651 [i2s_audio] Move microphone reads into a task
  esphome/components/i2s_audio/__init__.py
  esphome/components/i2s_audio/i2s_audio.h
  esphome/components/i2s_audio/microphone/__init__.py
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.h
  esphome/components/i2s_audio/speaker/__init__.py
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  tests/components/microphone/common.yaml
Labels: has-tests, by-code-owner, integration: i2s_audio

#8064 Only warn if the component blocked for a longer time than the last time
  esphome/core/component.cpp
  esphome/core/component.h
Labels: core, small-pr
